.individual-distributor-setup.find-sponsor
  .invite-banner
    .section
      .banner-title
        h1.text-center Individual Distributor Setup
  .sponsor-container
    .tab-content
      ng-form(name="ctrl.mandatoryInfoForm" novalidate)
        birthday-picker(day="ctrl.model.day" year="ctrl.model.year" month="ctrl.model.month"  valid-date-check="ctrl.model.validDate" required)
        div.row.m-b-1
          .col-sm-12
            span.error-block(ng-show="ctrl.model.hasError.err") {{ctrl.model.hasError.message}}
        div.col-sm-12.form-group.no-gutter.m-b-2
          label.form-label Social Security Number
          input#ssnInput.form-input.password-input.ssn-zindex(type='{{ctrl.model.inputType}}', allow-data="numbers-only", placeholder="Enter Social Security Number" ui-mask-placeholder name="ssnInput" ng-model='ctrl.model.mandatoryInfo.ssnInput' ng-bind='signupAccSetupCtrl.model.mandatoryInfo.ssnInput | ssnCheck' ui-mask='999-99-9999' required)

          img#passwordImage.password-icon(ng-src="{{ctrl.model.currentState == 'masked'? ctrl.model.passwordimage.text: ctrl.model.passwordimage.mask}}" ng-click='ctrl.model.changeImage()')
          div
            span.error-block(ng-show="(ctrl.mandatoryInfoForm.ssnInput.$touched && ctrl.mandatoryInfoForm.ssnInput.$error.required) || (ctrl.mandatoryInfoForm.ssnInput.$dirty && ctrl.mandatoryInfoForm.ssnInput.$error.required) || (ctrl.mandatoryInfoForm.$submitted  && ctrl.mandatoryInfoForm.ssnInput.$error.required)") Please enter the Social Security Number
        div.form-group.row.m-a-0
          div.col-sm-12.no-gutter
            button.btn.btn-primary(type='submit', ng-click='ctrl.model.submitMandatoryInfo()') NEXT: REVIEW YOUR INFO
          div.col-sm-12.no-gutter
            button.btn.btn-primary-outline.m-a-0(type='button' ng-click='ctrl.model.cancelMandatoryInfo()') CANCEL
