@import "../../../../src/stylesheets/partials/variables.scss";
.individual-distributor-setup{
  .invite-banner {
    height: 16.375em;
    .section{
      padding-top: 3.125em;
    }
  }
  h1{
    font-size: 1.8125rem;
    font-weight: $proxima-light;
    text-transform: none;
  }
  button{
    font-size: 0.8125rem;
  }
  .select-wrapper::after{
    top: 40%;
    right: 0.8rem;
  }
  .ssn-zindex {
    z-index: 101;
    position: relative;
  }
  .sponsor-container{
    margin-top: -7.25em;
    padding: 0;
    .tab-content{
      padding: 2.25em 0em;
      button{
        margin-top: 0;
      }
      button.btn-primary{
        background-color: $brand-primary;
        color: $white;
      }
      button.btn-primary-outline{
        background-color: transparent;
      }
      button.btn-primary-outline:hover{
        color: $brand-primary;
      }
      div.ssn-container {
        z-index: 1;
      }
    }
  }
  .select-wrapper{
    select.form-control{
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.38;
    }
  }
  .smallone {
    font-size: 0.8125rem;
    font-weight: $proxima-light;
    margin-bottom: 0px;
  }
  .smalltwo {
    font-weight: $proxima-regular;
    font-size: 0.875rem;
    margin-bottom: .2rem;
    & + div label{
      margin-bottom: 0rem;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .sponsor-container{
      .tab-content{
        width: 27.1875em;
      }
    }
    .invite-banner {
      height: 15em;
      .section{
        padding-top: 2.25em;
      }
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    h1{
      font-size: 1.5rem;
    }
    .sponsor-container{
      .tab-content{
        width: 20.3125em;
      }
    }
    .invite-banner {
      height: 16em;
      .section{
        padding-top: 2.8125em;
      }
    }
  }
}
