.pdp-upsell-container.container-fluid.clearfix
  .row.clearfix.pdp-upsell-section
    .pdp-upsell-header.col-xs-12.clerfix
      h2.col-xs-12 BETTER TOGETHER <3
      p.col-xs-12 {{ctrl.upsellData.upsellHeader}}
    .pdp-upsell-body.clerfix
      .upsell-row.clearfix.row.reset.row-eq-height
        .upsell-productA.col-xl-4.col-lg-6.col-md-6.col-sm-12.reset
          .row-eq-height
            .product-img.col-md-4.col-sm-3
              .product-img-container.col-sm-12.reset
                a(href="http://www.google.com")
                  img(ng-src='{{ctrl.upsellData.productA.imageUrl}}', alt='product one',height='100%', width='100%')
            .product-desc.col-md-7.col-sm-9
              .product-heading.col-sm-12.no-gutter
                a(href="http://www.google.com")
                  {{ctrl.upsellData.productA.name}}
              .product-heading.col-sm-12.no-gutter {{ctrl.upsellData.productA.subHeading}}
              .short-desc.col-sm-12.no-gutter {{ctrl.upsellData.productA.shortDesc | limitTo: 200}}{{ctrl.upsellData.productA.shortDesc.length > 200 ? '...' : ''}}
            .product-add-symbol-container
              .product-add-symbol
        .upsell-productB.col-xl-4.col-lg-6.col-md-6.col-sm-12.reset
          .row-eq-height
            .product-img.col-md-4.col-sm-3
              .product-img-container.col-xs-12.reset
                a(href="http://www.google.com")
                  img(ng-src='{{ctrl.upsellData.productB.imageUrl}}', alt='product one',height='100%', width='100%')
            .product-desc.col-md-7.col-sm-9
              .product-heading.col-sm-12.no-gutter
                a(href="http://www.google.com")
                  {{ctrl.upsellData.productB.name}}
              .product-heading.col-sm-12 {{ctrl.upsellData.productB.subHeading}}
              .short-desc.col-sm-12.no-gutter {{ctrl.upsellData.productB.shortDesc | limitTo: 200}}{{ctrl.upsellData.productB.shortDesc.length > 200 ? '...' : ''}}
        .upsell-price.col-xl-4.col-lg-4.col-lg-12.col-md-12.col-sm-12.reset
          .row.row-eq-height
            .upsell-button-wrapper.col-sm-12.col-xs-12
              button.upsell-button.btn.btn-primary-outline.col-sm-12.no-padding(type='button')
                span.button-fixed-text PURCHASE BOTH FOR
                br
                span.button-floating-text {{ctrl.upsellData.upsellPrice}}
