@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";
.pdp-upsell-container {
    .pdp-upsell-section{
        background: $white;
        padding: 2.125em 1.125em;
    }

    .pdp-upsell-header {
        text-align: center;
        margin-bottom: 2.313em;
    }

    .upsell-row {
        border: 1px solid $gray-lighter;
    }

    .upsell-productA {
        border-right: 1px solid $gray-lighter;
        min-height: 11.375em;
    }

    .upsell-productB {
        border-right: 1px solid $gray-lighter;
        min-height: 11.375em;
    }

    .upsell-price {
        min-height: 11.375em;
    }

    .upsell-button-wrapper {
        height: 4.625em;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 19.063em;
        .upsell-button {
            height: 100%;
            width: 100%;
        }
    }

    .product-img {
      display: table-cell;
      vertical-align: middle;
      float: none;
      height: 11.375em;
      padding-left: 35px;
      padding-right: 0;
    }

    .product-add-symbol-container {
        height: 3.125em;
        width: 3.125em;
        border: 1px solid $gray-lighter;
        position: absolute;
        left: 100%;
        margin: -25px;
        top: 50%;
        z-index: 1;
        border-radius: 50%;
        background-color: $gray-dull;
        .product-add-symbol {
            height: 40%;
            width: 40%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: url(../../../../src/assets/images/css/ic-plus.svg) center no-repeat;
        }
    }

    .product-desc {
      display: table-cell;
      vertical-align: middle;
      float: none;
      padding: 1.5rem;
    }

    .reset {
        padding: 0;
        margin: 0;
    }

    .product-img-container {
        height: 5.313em;
        width: 5.313em;
        margin: auto;
        background-color: #D8D8D8;
        img{
          height: 5.313rem;
        }
    }

    .product-heading {
        color: $brand-primary;
        font-size: 1.000em;
        font-weight: $proxima-light;
    }

    .short-desc {
        font-size: 1.000em;
        font-weight: $proxima-light;
        line-height: 1.375;
    }

    .button-fixed-text {
        font-weight: $proxima-semibold;
        font-size: 0.813rem;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .button-floating-text {
        font-weight: $proxima-thin;
        font-size: 1.750rem;
        line-height: 1.21;
    }

    .no-padding{
        padding: 0;
    }

    @media screen and (max-width: 375px) {
        h2,p{
          text-align: left;
        }
        .pdp-upsell-header {
            margin-top: 3.250em;
            margin-bottom: 0.313em;
            text-align: left;
        }
        .pdp-upsell-body {
            padding: 0;
        }
        .product-add-symbol-container {
            top: 100%;
            left: 50%;
        }
        .upsell-row {
            border: none;
        }
        .pdp-upsell-header {
            text-align: left;
        }
        .upsell-productA {
            border-bottom: 1px solid $gray-lighter;
            border-top: 0;
            border-right: 0;
            border-left: 0;
        }
        .upsell-productB {
          border: none;
        }
        .upsell-price{
            min-height: 6.375em;
        }
        .product-img{
            width: 25%;
        }
    }

    @media screen and (min-width: 360px) and (max-width: 767px) {
        h2,p{
          text-align: left;
        }
        .product-add-symbol-container {
            top: 100%;
            left: 50%;
        }
        .upsell-productA {
            border-right: 0;
            border-bottom: 1px solid $gray-lighter;
            min-height: 11.375em;
        }
        .upsell-productB {
            border-right: 0;
            border-bottom: none;
        }
        .upsell-row{
          border: none;
        }
        .upsell-price{
            min-height: 6.375em;
        }
        .product-img {
          padding-left: 1em;
        }
        .pdp-upsell-section {
            padding: 3.125em 2.125em;
        }
        .product-desc {
            padding-left: 1.5em;
        }
    }

    @media screen and (max-width: 1439px) and (min-width: 768px) {
        .pdp-upsell-section{
            padding: 2.975em 3.437em;
        }
        .upsell-productA {
            border-right: 1px solid $gray-lighter;
            border-bottom: 1px solid $gray-lighter;
            min-height: 11.375em;
        }
        .upsell-productB {
            border-right: 0;
            border-bottom: 1px solid $gray-lighter;
            min-height: 11.375em;
        }
    }


    @media screen and (min-width: 1440px) {

        .pdp-upsell-section{
            padding: 4.5em 8.75em 4.25em;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .pdp-upsell-section{
          padding: 4.375rem 5.435rem;;
      }
    }
}
