@import "../../../../src/stylesheets/partials/variables.scss";
.prospecting-basics {
    clear: both;
    .prospecting-headder {
        width: 100%;
        height: 3.9375em;
        z-index: 10;
        position: relative;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        .prospecting-headder-box {
            margin-top: 1em;
            margin-left: 2.8125em;
            .imgwrapper {
                display: inline-block;
                margin: 0;
                text-align: center;
                width: 1.875em;
                height: 1.875em;
                border-radius: 50%;
                #generic-profile {
                    content: url('../../../../src/assets/images/css/prospecting-banner-icon.png');
                    background:none;
                    border: none;
                    border-radius: 50%;
                    height: 2.063em;
                    width: 2.063em;
                }

            }
            .text-wrapper {
                display: inline-block;
                vertical-align: top;
                margin-top: -4px;
                padding-left: 0.625em;
                h1 {
                    width: 8.75em;
                    font-size: 1.375em;
                    color: $gray-dark;
                }
            }
        }
    }
    .prospecting-basics-banner {
        background: url('../../../../src/assets/images/content/landing-page-banner-1.jpg') no-repeat $gray-lightest;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 30.8125em;
        margin-top: -3.9375em;

        .social-prospecting-box {
            top: 8em;

            left: 9.875em;

            width: 21.125em;
            padding-top: 3.975em;
            position: absolute;
            button {
                width: 14.9375rem;

                height: 2.75rem;

                margin-top: 0.5625rem;

            }
            h1 {
                font-size: 2.375em;

                color: $white;
                margin-bottom: 0.3125em;

            }
        }
    }
    .as-a-distributor-container {
        padding-bottom: 0rem;
        .as-a-distributor {
            width: 100%;
            padding: 3.625em 7.75em 0;
            .reason-header {
                padding-bottom: 2em;
                h3 {
                    margin-bottom: 0.3125em;

                    div {
                        width: 4.0625em;
                        height: 0.1875em;

                        background-color: $aqua;
                        display: inline-block;
                    }
                    span {
                        display: block;
                    }
                }
            }
            h5 {
                width: 17.25rem;
                padding: 0 3rem 0.1875em;

                margin: 0 auto;
            }
            p {
                width: 20rem;
                margin: 0 auto;
            }
            .btn-primary {
                margin-top: 3em;
                width: 27.125rem;
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {



        .prospecting-basics-banner {
            height: 30.6875em;

            .social-prospecting-box {
                top: 8.5rem;
                padding: 3.975em 0;
                left: 7.125em;

            }
        }
        .as-a-distributor-container {
            .as-a-distributor {
                padding: 3.625em 4em 4em;
                p {
                    width: 15.75rem;
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {


        .prospecting-headder {
            height: 3.3125em;
            .prospecting-headder-box {
                margin-top: 0.6875em;
                margin-left: 1.125em;
                .text-wrapper {
                    margin-top: 0
                }
            }
        }
        .prospecting-basics-banner {
            height: 19.9375em;
            margin-top: -3.3125em;
            .social-prospecting-box {
                top: 3.125rem;
                padding-top: 3.3125em;
                left: 5.375em;

            }
            h1 {
                font-size: 2.25em;
                color: $white;
            }
            h2 {
                font-size: 1.375em;
                color: $white;
            }
        }
        .as-a-distributor-container {
            .as-a-distributor {
                .reason-header {
                    padding-bottom: 1.25em;
                }
                padding: 3em 4em 0;
                p {
                    width: 22.75rem;
                    padding-bottom: 1.5em;
                }
                .btn-primary {
                    margin-top: 0;
                }
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {


        .prospecting-headder {
            height: 3.3125em;
            .prospecting-headder-box {
                margin-top: 0.6875em;
                margin-left: 1.125em;
                .text-wrapper {
                    margin-top: 0
                }
            }
        }
        .prospecting-basics-banner {
            background: url('../../../../src/assets/images/content/landing-page-banner-1.jpg') no-repeat;
            height: 19.875em;
            margin-top: -3.3125em;
            background-size: cover;
            background-position: center;
            .social-prospecting-box {
                top: 4.25rem;
                padding-top: 3.3125em;
                left: 1.625em;

            }
        }
        .as-a-distributor-container {
            padding-bottom:0rem;
            .as-a-distributor {
                padding: 2.5em 1.5em 0em;
                p {
                    width: 19.5rem;
                    padding-bottom: 1.5em;
                }
                .btn-primary {
                    margin-top: 0;
                    width: 100%;
                }
            }
        }
    }
}
