.prospecting-basics
  .prospecting-headder
    .prospecting-headder-box
        .imgwrapper 
            .img#generic-profile
        .text-wrapper
            h1.m-b-0 PROSPECTING
  .prospecting-basics-banner
    .social-prospecting-box
        h1 SOCIAL
        h1 PROSPECTING
        button.btn.btn-primary
            | LAUNCH SOMETHING
  .as-a-distributor-container
    .as-a-distributor
      .reason-header
        h3.center.m-b-0
          span PROSPECTING BASICS
          div.center
      .row
        .col-lg-4.col-sm-12
          h5.center FIND CUSTOMERS
          p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie pellentesque aliquet.
        .col-lg-4.col-sm-12
          h5.center BUILD RELATIONSHIPS
          p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie pellentesque aliquet. Lorem ipsum dolor sit amet, consectetur.
        .col-lg-4.col-sm-12
          h5.center GROW YOUR BUSINESS
          p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie pellentesque aliquet lorem.
