.reset-signup-wrapper
    .pwd-reset-expired-signup-wrapper.text-center
      .expired-signup-container
        .expired-signup-content-wrapper
          .expired-signup-content-container
            .expired-signup-logo
            .expired-signup-broken-link
            .brief-heading-section
              .brief-heading-section-heading-content
                span.text-uppercase OOPS!
              .brief-heading-section-desc-content
                p Sorry.
                br
                p Your password reset link has expired.
            .reset-password-button
              button.btn.btn-block.btn-primary(type='button') RESET PASSWORD