.reset-signup-wrapper {
    .reset-password-button {
       width: 18.250rem;
        margin: 0 auto;
        padding-top: 7.125rem;
        .btn-primary {
            margin-bottom: 0;
        }
    }
    .brief-heading-section-desc-content {
        p{
            margin-bottom: 0;
        }
    }

    @media (max-width: 767px) {
         .expired-signup-content-wrapper {
              padding: 5rem 0 11.75rem;
         } 
     }
    @media (min-width: 768px) { 
        .expired-signup-container {  
            .expired-signup-content-wrapper { 
                padding: 2.75rem 0 11.125rem;
            }
        }
    }
}