.container-fluid.my-branded-story.reset
  .row.sign-up-header-mbs-wrapper(ng-init='ctrl.init()')
    .mbs-title
      h1 My Branded Story
  .instruction-header
    .row.mbs-examples.mbs-wrapper.reset
      .content-wrapper
        h1 {{ctrl.itemData.content_header}}
        p {{ctrl.itemData.content_title}}
    .instruction-content.no-gutter
      .instruction-wrapper.no-gutter
        .instruction-template.m-b-1
          .row.mbs-examples.reset.p-a-2.instruction-text-wrapper
            #instructionSection.m-b-0
              p {{ctrl.itemData.instruction_title}}
              .instruction-list
                .list-wrapper(ng-repeat='instruction in  ctrl.itemData.instruction_list')
                  .instruction-count.text-center
                    span.text-center.count-text {{$index+1}}
                  span.instruction-text {{instruction.instruction_content}}
                      span.clearfix
                      span(ng-if="instruction.instruction_image != ''")
                          img.any-image(ng-src="{{instruction.instruction_image}}")
                      span.some-video(ng-if="instruction.instruction_video != ''")
                        video.embed-responsive-item.any-video(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.video($index)'}")
                          source(ng-src='{{instruction.instruction_video}}', type='video/mp4')
                          |  Your browser doesn't support HTML5 video.
                        .video-btn
                          button#videoButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')

            #instructionSectionPDF.m-b-0.hide
              p {{ctrl.itemData.instruction_title}}
              ol
                li(ng-repeat='instruction in  ctrl.itemData.instruction_list')
                  | Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt, prima utinam ne vix.
            .download-pdf.text-center.fullWidth
              .logo-download
                p.download-image-text(ng-click="ctrl.downloadAsPdf('instructionSectionPDF');") Download Instructions
            .navigate-back-wrapper.m-t-0.go-back-button
              button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.gotoPage('/myBrandedStory/storyScript')") GO BACK

      .carousel-wrapper
        .mbs-examples.video-container
          h1 EXAMPLES
          .mbs-examples-slides
            slick.carousel.carousel-primary(settings='ctrl.slickVideoConfig', ng-if='ctrl.carouselExamples.length')
              div(ng-repeat='slide in ctrl.carouselExamples')
                .carousel-text-container.col-sm-12.reset(ng-if="slide.type=='text'")
                  .carousel-text.col-sm-12.reset
                    .text-container
                      p {{slide.slideText | limitTo: 200}}{{slide.slideText.length > 200 ? '...' : ''}}
                      .read-more-link(ng-if='slide.slideText.length>200', ng-click="ctrl.readMore('text',slide.slideText);") Read More >
                .carousel-text-container.col-sm-12.no-gutter(ng-if="slide.type=='image'")
                  img.carousel-image(ng-src='{{slide.imageURL}}', ng-click="ctrl.readMore('image',slide.imageURL);")
                .col-sm-12.no-gutter(ng-if="slide.type=='video'")
                  .embed-responsive.embed-responsive-16by9
                    video.embed-responsive-item(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.video($index)'}")
                      source(ng-src='{{slide.videoURL}}', type='video/mp4')
                      |  Your browser doesn't support HTML5 video.
                    .video-btn
                      button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')
                        span Play
          #carouselModal.modal.fade(role='dialog')
            .modal-dialog(ng-class="ctrl.readMoreContent.type == 'text' ? 'text-modal' : 'image-modal' ")
              .modal-content
                .modal-header(ng-class="ctrl.readMoreContent.type=='image'?'full-image':''")
                  button.close(type='button', data-dismiss='modal')
                .modal-body
                  p(ng-if="ctrl.readMoreContent.type=='text'") {{ctrl.readMoreContent.content}}
                  img.enlarged-image(ng-src='{{ctrl.readMoreContent.content}}', ng-if="ctrl.readMoreContent.type=='image'", ng-style="{'max-height':ctrl.imageMaxHeight}")
      .carousel-wrapper.m-t-1
        .mbs-examples.download-section
          .download-main-content
            #accordionform.row
                .col-sm-12
                    #accordion.panel-group(role='tablist', aria-multiselectable='true')
                        .panel.panel-default.p-a-2
                            .panel-heading(role='tab')
                                h4.panel-title
                                    button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#download', aria-expanded='false', aria-controls='address')
                                            .col-sm-10.no-gutter
                                                h3 DOWNLOADS
                            #download.panel-collapse.collapse(role='tabpanel', aria-labelledby='download-items', aria-expanded='false')
                              .instruction-list
                                .list-wrapper(ng-repeat='downloadData in  ctrl.productData.download_list')
                                  span.download-list {{downloadData.download_content}}
                                  span.download-icon
          .go-back-sm-md-screen.m-t-0
            button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.gotoPage('/myBrandedStory/storyScript')") GO BACK
