@import "../../../../../src/stylesheets/partials/variables.scss";
.my-branded-story {
  .download-icon{
    background: url('../../../../../src/assets/images/css/ic-download.svg') no-repeat;
    height: 2em;
    width: 2em;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-top: 10px;
  }
  .any-image , .any-video{
    height: 13.938em;
    object-fit: contain;
    padding-top: 10px;
    display: block;
    margin: 0 auto;
    float: left;
  }
  #videoButton {
      cursor: pointer;
      text-align: center;
      border-radius: 50%;
      height: 3.75em;
      width: 3.75em;
      margin: 0;
      padding: 0;
      position: absolute;
      left: calc(50% - 0.875em);
      top: calc(50% - -1.125em);
      z-index: 10;
      background: rgba(0, 138, 176, 0.75);
      border: none;
  }
  @media screen and (min-width: 360px) and (max-width: 1023px){
    .go-back-button{
      display: none;
    }
    .go-back-sm-md-screen{
      margin: 0  1.188rem;
    }
  }
  @media screen and (min-width: 1024px)  {
    .go-back-sm-md-screen{
      display: none;
    }
  }
  #videoButton::before {
      content: '';
      display: block;
      height: 2rem;
      width: 2rem;
      background: url("../../../../../src/assets/images/css/ic-play-new.svg") no-repeat;
      background-size: 100%;
      margin: 0 auto;
      position: relative;
      left: 3px;
      -webkit-transition: .5s all;
      transition: .5s all;
  }
  video::-webkit-media-controls-start-playback-button {
    display: none !important;
  }
  #videoButton.paused::before {
     background: url("../../../../../src/assets/images/css/ic-pause.svg") no-repeat;
     background-size: 100%;
     left: 0;
     top: 0.1875em;
     }
   #videoButton:hover {
     -webkit-transform: scale(1.3);
             transform: scale(1.3);
         }
   #videoButton span {
     position: absolute;
     overflow: hidden;
     clip: rect(0 0 0 0);
     height: 1px;
     width: 1px;
     margin: -1px;
     padding: 0;
     border: 0;
      }
  .download-list{
    margin-left: 0em;
    float: left;
    width: 78%;
    font-weight: $proxima-light;
    font-size: 1rem;
    line-height: 1.375rem;
    display: inline;
    margin-top: 12px;
    color: $brand-primary;
  }
    background-color: $gray-lightest;
    .reset {
        margin: 0;
    }
    #accordionform {
      background: none;
      padding: 0em;
      .panel{
        padding: 1em  0.8em;
        margin-bottom: 0em;
      }
      .panel-title{
        .btn.collapsed:after {
            transform: rotate(180deg);
        }
        .btn:after {
            content: '';
            background: url('../../../../../src/assets/images/css/ic-arrow-down.png') center no-repeat;
            height: 1rem;
            width: 1rem;
            transition: all .2s;
            position: absolute;
            top: 0;
            right: 7px;
            padding: 0.75rem;
        }
      }
    }
    .sign-up-header-mbs-wrapper {
        min-height: 8.625em;
        background: url('../../../../../src/assets/images/css/prism-banner.jpg') no-repeat;
        background-size: cover;
        display: block;
        align-items: initial;
        min-height: 8.625em;
        .mbs-title {
            margin: auto;
            height: 8.625rem;
            width: 100%;
            display: table;
            h1 {
                margin: 0;
                color: $white;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                height: 100%;
                vertical-align: middle;
                display: table-cell;
            }
        }
    }
    .instruction-header {
        width: 100%;
    }
    .instruction-content {
        background-color: $gray-lightest;
        width: 100%;
    }
    .carousel-wrapper {
        margin: 0 auto;
        width: 23.438em;
        float: right;
        background-color: $white;
    }
    .instruction-wrapper {
        background-color: $gray-lightest;
        float: left;
        margin-top: 0.5em;
    }
    .download-pdf {
        margin: 2rem auto 2.5rem;
    }
    .section-margin {
        margin-top: 0.5em;
    }
    .mbs-wrapper {
        padding: 1.5em 0;
    }
    .mbs-examples {
        background-color: $white;
        .slick-track {
            min-height: 12em;
        }
        h1 {
            font-size: 1.375rem;
            font-weight: $proxima-thin;
            line-height: 1.41;
            color: $gray-dark;
            margin-bottom: 0.875rem;
        }
        #carouselModal .modal-body p {
            padding: 1.5em;
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-black;
            text-align: left;
        }
        .count-text {
            color: $aqua;
            padding-top: 3px;
            display: inline-block;
        }
        .instruction-list {
            overflow: hidden;
            padding-top: 10px;
        }
        .instruction-text {
            margin-left: 3em;
            float: left;
            width: 82%;
            margin-left: 1em;
            font-weight: $proxima-light;
            font-size: 1rem;
            line-height: 1.375rem;
            display: inline;
            margin-top: 12px;
        }
        .list-wrapper {
            clear: both;
            width: 100%;
            position: relative;
            overflow: auto;
            margin-bottom: 8px;
        }
        .download-image-text {
            font-size: 0.8134em;
            font-weight: $proxima-light;
            line-height: 1.69;
            letter-spacing: 0.4px;
            color: $brand-primary;
            padding-left: 1em;
            padding-top: 5px;
            cursor: pointer;
        }
        .logo-download {
            background: url(../../../../../src/assets/images/css/ic-download.svg) left center no-repeat;
            height: 2em;
            width: 12.5em;
            margin: 0 auto;
        }
        .content-wrapper {
            margin: 0 auto;
        }
        .instruction-count {
            width: 2em;
            height: 2em;
            object-fit: contain;
            float: left;
            position: relative;
            transform: translateY(-50%);
            border-radius: 50%;
            border: solid 1px $aqua;
            text-align: center;
            color: $aqua;
            margin-top: 1.5em;
        }
        .carousel-text-container {
            width: inherit;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .carousel-text {
            padding: 0 1.5em;
            .text-container {
                padding: 1.5em;
                border-radius: 2px;
                background-color: $gray-fair;
                overflow: auto;
                p {
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.5;
                    color: $gray-black;
                    margin-bottom: 0;
                    overflow: hidden;
                    position: relative;
                    max-height: 7.8em;
                    padding-right: 0.7em;
                }

                .read-more-link {
                    margin-top: 1.5em;
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    color: $brand-primary;
                    cursor: pointer;
                }
            }
        }
        .carousel-image {
            max-height: 13.8em;
        }
        .carousel.carousel-primary {
            .slick-prev, .slick-next {
                background: rgba(55, 176, 201, 0.8);
                width: 2.125rem;
                height: 4.625rem;
            }
        }
        .slick-dots {
            bottom: -2.75em;
        }
        .slick-dots li {
            width: 0.625em;
            height: 0.625em;
        }
        .slick-dots li button {
            background: transparent;
            border: 1px solid $gray-lighter;
            width: 0.625em;
            height: 0.625em;
        }
        .slick-dots li.slick-active button {
            background: $aqua;
        }
        .slick-dots li button:before,
        .slick-dots li.slick-active button:before {
            opacity: 0;
        }
        .slick-slider.carousel .slick-slide {
            padding: 0;
        }
        .slick-dotted.slick-slider {
            margin-bottom: 4em;
        }
    }
    @media screen and (min-width:1440px) {
        .instruction-header {
            width: 70.125em;
            margin: 2rem auto 0;
        }
        .instruction-content {
            width: 70.125em;
            margin: 0 auto;
        }
        .content-wrapper {
            width: 85%;
            text-align: center;
        }
        .carousel-wrapper {
            width: 27.125em;
            margin-top: 1em;
            float: right;
        }
        .video-container {
            padding: 1.5em 1.5em 0;
        }
        .instruction-wrapper {
            width: 41.438em;
            margin-top: 1em;
        }
        .instruction-text-wrapper {
            text-align: left;
        }
        .navigate-back-wrapper {
            margin: 0 auto 1.5rem;
            width: 27.125em;
        }
        .download-pdf {
            margin: 2.438em auto 2.188em;
        }
        .text-modal {
            width: 27%;
        }
        .mbs-wrapper {
            margin-top: 2em;
        }
        .mbs-examples {
            .carousel.carousel-primary {
                .slick-prev {
                    left: -1.5rem;
                }
                .slick-next {
                    right: -1.5rem;
                }
            }
        }
        #videoButton{
          left: calc(50% - 1.875em);
        }
    }
    @media screen and (min-width:1024px) and (max-width:1439px) {
        .instruction-header {
            width: 60em;
            margin: 0 auto;
            margin: 2rem auto 0;
        }
        .instruction-content {
            width: 60em;
            margin: 0 auto;
        }
        .content-wrapper {
            width: 85%;
            text-align: center;
        }
        .carousel-wrapper {
            width: 27.125em;
            margin-top: 1em;
        }
        .video-container {
            padding: 1.5em 1.5em 0em;
        }
        .instruction-wrapper {
            margin-top: 1em;
            width: 31.438em;
        }
        .navigate-back-wrapper {
            margin: 0 auto 1.5rem;
            width: 27.125em;
        }
        .download-pdf {
            margin: 2.438em auto 2.188em;
        }
        .text-modal {
            width: 38%;
        }
        .mbs-examples {
            .carousel.carousel-primary {
                .slick-prev {
                    left: -1.5rem;
                }
                .slick-next {
                    right: -1.5rem;
                }
            }
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
        .content-wrapper {
            width: 27.125em;
            text-align: left;
            padding: 0 0;
        }
        .carousel-wrapper {
            width: 100%;
        }
        .video-container {
            width: 27.125em;
            margin: 0 auto;
            padding: 1.5rem 0 0;
        }
        .instruction-template {
            width: 100%;
            background-color: $white;
        }
        .instruction-text-wrapper {
            width: 30.250em;
            margin: 0 auto;
        }
        .instruction-content {
            margin-top: 0.5em;
        }
        .instruction-wrapper {
            margin-top: 0.5em;
            width: 100%;
        }
        .navigate-back-wrapper {
            margin: 0 auto 1.5rem;
            width: 27.125em;
        }
        .download-pdf {
            margin: 3.688em auto 2.188em;
        }
        .text-modal {
            width: 50%;
        }
        .instruction-text {
            width: 78%;
        }
        .mbs-examples {
            .carousel.carousel-primary {
                .slick-prev {
                    left: -2.5rem;
                }
                .slick-next {
                    right: -2.5rem;
                }
            }
        }
        .go-back-sm-md-screen{
          width: 27.125rem;
          height: 2.750rem;
          margin: 0 auto;
        }
       #accordionform .panel-title .btn:after {
          right: 7px
        }
      .download-pdf{
        margin: 2em auto 1em;
      }
      .download-section{
        width: 30em;
        margin: 0 auto 2em;
      }
    }
    @media screen and (min-width:360px) and (max-width:767px) {
        .content-wrapper {
            width: 100%;
            padding: 0 1.5em;
        }
        .carousel-wrapper {
            width: 100%;
        }
        .instruction-content {
            margin-top: 0.5em;
        }
        .instruction-wrapper {
            width: 100%;
        }
        .video-container {
            padding: 1.5rem 0 0;
            h1 {
                padding: 0 1.5rem;
            }
        }
        .navigate-back-wrapper {
            margin: 0 auto 1.5rem;
            width: 20.313em;
        }
        .text-modal {
            width: 86.5%;
        }
        .mbs-examples {
            .carousel.carousel-primary {
                .slick-prev {
                    left: 0;
                }
                .slick-next {
                    right: 0;
                }
            }
        }
      .download-pdf{
        margin-bottom: 0.5em;
      }
      #accordionform .panel{
        padding: 1rem 2rem 2rem 2.5rem;
      }
      #videoButton{
        top: calc(50% - -2.125em);
      }
    }
    .modal {
        -webkit-transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        -moz-transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    }
    .modal .modal-dialog {
        height: 100%;
        margin: auto;
        max-width: 100%;
    }
    .modal-dialog.image-modal {
        width: 100%;
    }
    .modal-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
        background: transparent;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        display: inline-table;
    }
    .text-modal .modal-content {
        width: 100%;
        border: solid 1px $gray-light-border;
        background: $white;
    }
    .modal-header.full-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .modal-header {
        padding: 1em 1em 0;
        border-bottom: 0;
        .close {
            width: 1.5rem;
            height: 1.5rem;
            background: url('../../../../../src/assets/images/css/ic-close-circle.png') no-repeat;
            background-size: contain;
            opacity: 1;
        }
    }
    .modal-body {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .slick-slider.carousel .slick-prev::before{
      background: url(../../../../../src/assets/images/css/ic-arrow-left-white.svg) no-repeat;
      height: 1.250em;
      width: 11px;
      background-size: 100%;
      content: '';
      opacity: 1;
      display: inline-block;
    }
    .slick-slider.carousel .slick-next::before{
      background: url(../../../../../src/assets/images/css/ic-arrow-right-white.svg) no-repeat;
      height: 1.250em;
      width: 11px;
      background-size: 100%;
      content: '';
      opacity: 1;
      display: inline-block;
    }
    .slick-slider.carousel .slick-next:hover , .slick-slider.carousel .slick-prev:hover {
      background: $blue-light;
    }
}
