div.backgroundWhite.payment-method-section.checkout-order-no-border.p-b-0.m-b-0

	div.my-cards-section.m-b-1.m-t-1.p-t-0(ng-hide="ctrl.model.isCardAdd")
		.col-sm-6.no-gutter
			h3.text-transform-none.m-t-0 My Cards ({{ctrl.model.paymentMethod.myCards.length}})
		.col-sm-6.text-sm-right.no-gutter
			.col-sm-12.no-gutter
				span.pointer.display-inblock(ng-click="ctrl.onAddNew()")
					span.add-title-checkout ADD NEW
	form.form.p-t-0(name="ctrl.formPayment" novalidate)

		div.payment-section-validated.text-white.container-fluid.m-t-1(ng-hide="ctrl.model.isCardAdd", ng-repeat="card in ctrl.model.paymentMethod.myCards track by $index", ng-click="ctrl.cardSelected(card)", ng-class="{'hide-card': (ctrl.model.showCardMore && $index > 1),'card-selected': ctrl.model.selectedCard.name == card.name,'visa': card.cardType == ctrl.model.paymentMethod.creditCardTypes.visa, 'mastercard': 	card.cardType == ctrl.model.paymentMethod.creditCardTypes.mastercard, 'discover': card.cardType  == ctrl.model.paymentMethod.creditCardTypes.discover, 'amex': card.cardType  == ctrl.model.paymentMethod.creditCardTypes.amex, 'other': card.cardType  == ctrl.model.paymentMethod.creditCardTypes.other}")
			div
				div.name-section.clearfix(align="right")
					div.radio.pull-left.radio-cards-checkout
						input(class="m-t-0", type="radio", name="card-radio", ng-model="ctrl.model.isCheckedCard", ng-value="card")
						label
					span.primary-card-icon(ng-show="card.isPrimary")
					label.text-capitalize.pull-right {{card.name}}

				div(align="left")
					label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.cardNumber}}
				div.clearfix
					div.credit-card-number.pull-left(ng-repeat="item in [1,2,3,4]",align="center")
						span(ng-if="!$last") XXXX
						p.m-b-0(ng-if="$last") {{ctrl.getLastFourDigitsOfPaymentCard(card.cardNumber)}}

				div.last-section
					div.pull-left
						div(align="left")
							label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.expiry}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12
							span {{card.expiry}}

					div.pull-left
						div(align="left")
							label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.cvv}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12
							span XXX

					div.pull-left.hide
						div(align="left")
							label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.zip}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12.no-gutter
							span {{card.zip}}

				div.pull-right.clear
					label
						a.text-uppercase.color-aqua.pointer(ng-click="ctrl.onCardEdit(card, $event)") edit
				div.pull-left
					label
						a.text-uppercase.color-aqua.pointer(ng-click="ctrl.onCardDelete(card, $event)") delete

		div.payment-section.container-fluid.m-t-1(ng-show="ctrl.model.isCardAdd")
			div
				div.row
					div.col-lg-9.col-xl-9.col-sm-9.col-md-9
						input.form-control(type="text",ng-model="ctrl.model.paymentMethod.data.name",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.name}}",ng-blur="ctrl.checkCreditCardType()", ng-disabled="ctrl.model.isCardEdit", required)
					div.col-lg-3.col-xl-3.col-sm-3.col-md-3
						label.text-white.text-uppercase.font-size-13.label-section {{ctrl.model.paymentMethod.fields.debitOrCredit}}

				div(align="left").credit-card-number-label
					label.text-white {{ctrl.model.paymentMethod.fields.cardNumber}}
				div.credit-card-number.clearfix
					input.form-control(ng-disabled="ctrl.model.isCardEdit", type="text",id="credit-card-number", ng-model="ctrl.model.paymentMethod.handleCreditCardNumber",minlength="15", maxlength="19", no-alpha-chars, required, ng-blur="ctrl.checkCreditCardType()", allow-pattern="number-only", ng-focus="ctrl.isCreditCardEmpty()", onkeypress='return event.charCode >= 48 && event.charCode <= 57')

				div.last-section.clearfix
					div.pull-left
						div(align="left")
							label.text-white {{ctrl.model.paymentMethod.fields.expiry}}
						div
							input.form-control(type="text",ng-model="ctrl.model.paymentMethod.data.expiry",ui-mask="99/99",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.exp}}",ng-blur="ctrl.checkCreditCardType()",maxlength="5", required)

					div.pull-left
						div(align="left")
							label.text-white {{ctrl.model.paymentMethod.fields.cvv}}
						div
							input.form-control(type="password",ng-model="ctrl.model.paymentMethod.data.cvv",maxlength="3",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.cvv}}",ng-blur="ctrl.checkCreditCardType()",onkeypress='return event.charCode >= 48 && event.charCode <= 57', ng-required="true")

					div.pull-left.hide
						div(align="left")
							label.text-white {{ctrl.model.paymentMethod.fields.zip}}
						div
							input.form-control(type="text",ng-model="ctrl.model.paymentMethod.data.zip",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.zip}}",ng-blur="ctrl.checkCreditCardType()", maxlength="10", ng-required="true", zip-mask)

		div.payment-section-validated.text-white.hide.container-fluid(ng-show="ctrl.model.isCardAdd",ng-class="{'visa': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.visa, 'mastercard': 	ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.mastercard, 'discover': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.discover, 'amex': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.amex, 'other': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.other}")
			div
				div.name-section.clearfix(align="right")
					span.primary-card-icon(ng-show="ctrl.model.paymentMethod.data.isPrimary")
					label.text-capitalize.pull-right {{ctrl.model.paymentMethod.data.name}}

				div(align="left")
					label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.cardNumber}}
				div.clearfix
					div.credit-card-number.pull-left(ng-repeat="item in [1,2,3,4]",align="center")
						span(ng-if="!$last") XXXX
						p.m-b-0(ng-if="$last") {{ctrl.getLastFourDigitsOfPaymentCard(ctrl.model.paymentMethod.handleCreditCardNumber)}}

				div.last-section
					div.pull-left
						div(align="left")
							label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.expiry}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12
							span {{ctrl.model.paymentMethod.data.expiry}}

					div.pull-left
						div(align="left")
							label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.cvv}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12
							span XXX

					div.pull-left
						div(align="left")
							label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.zip}}
						div.col-sm-12.col-md-12.col-lg-12.col-xl-12.no-gutter
							span {{ctrl.model.paymentMethod.data.zip}}

				div.pull-right
					label
						a.text-uppercase.font-weight-bold.color-aqua.edit-label(href="",ng-click="ctrl.togglePaymentSection('.payment-section', '.payment-section-validated')") {{ctrl.model.paymentMethod.fields.edit}}


		div.billing-section.m-t-2.p-l-1(ng-show="ctrl.model.isCardAdd", align="left")
			label.text-uppercase.font-weight-bold {{ctrl.model.paymentMethod.fields.billingAddress}}

			div
				label.checkbox
					input(type="checkbox", ng-model="ctrl.model.paymentMethod.data.sameAsShippingAddress")
					label.p-l-1 {{ctrl.model.paymentMethod.fields.sameAsShippingAddress}}
			div
				label.checkbox
					input(type="checkbox", ng-model="ctrl.model.paymentMethod.data.isPrimary")
					label.p-l-1 Primary Card


		div.m-t-2(ng-if="!ctrl.model.paymentMethod.data.sameAsShippingAddress && (ctrl.model.isCardAdd || ctrl.model.isCardEdit)")
			div.row.m-b-1
				div.col-lg-6.col-sm-6.col-md-6.col-xl-6
					div
						div
							label {{ctrl.model.paymentMethod.fields.firstName}}
						div
							input.form-control.fullWidth(name="firstname",type="text", ng-model="ctrl.model.paymentMethod.data.firstName",required)

							span.error-block(ng-show="(ctrl.formPayment.firstname.$touched && ctrl.formPayment.firstname.$error.required)") 	{{ctrl.model.paymentMethod.fields.errorMessages.firstName}}

				div.col-lg-6.col-sm-6.col-md-6.col-xl-6
					div
						div
							label {{ctrl.model.paymentMethod.fields.lastName}}
						div
							input.form-control.fullWidth(name="lastname",type="text", ng-model="ctrl.model.paymentMethod.data.lastName",required)

							span.error-block(ng-show="(ctrl.formPayment.lastname.$touched && ctrl.formPayment.lastname.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.lastName}}
			div.m-b-1
				div
					label {{ctrl.model.paymentMethod.fields.addressLine1}}
				div
					input.form-control.fullWidth(name="addressline1", type="text",ng-model="ctrl.model.paymentMethod.data.addressLine1",required)

					span.error-block(ng-show="(ctrl.formPayment.addressline1.$touched && ctrl.formPayment.addressline1.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.addressLine1}}
			div.m-b-1
				div
					label {{ctrl.model.paymentMethod.fields.addressLine2}}
				div
					input.form-control.fullWidth(name="addressline2",type="text",ng-model="ctrl.model.paymentMethod.data.addressLine2")
			div.m-b-1
				div
					label {{ctrl.model.paymentMethod.fields.city}}
				div
					input.form-control.fullWidth(name="city",type="text",ng-model="ctrl.model.paymentMethod.data.city",required)

					span.error-block(ng-show="(ctrl.formPayment.city.$touched && ctrl.formPayment.city.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.city}}

			div.row.m-b-1
				div.col-lg-6.col-sm-6.col-md-6.col-xl-6
					div
						div
							label {{ctrl.model.paymentMethod.fields.state}}
						div.select-wrapper.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
							select.form-control.fullWidth(name="state",ng-model="ctrl.model.paymentMethod.data.state",ng-options="state.abbreviation as state.name for state in ctrl.model.paymentMethod.states",required)

							span.error-block(ng-show="(ctrl.formPayment.state.$touched&& ctrl.formPayment.state.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.state}}
				div.col-lg-6.col-sm-6.col-md-6.col-xl-6
					div
						div
							label {{ctrl.model.paymentMethod.fields.zipcode}}
						div
							input.form-control.fullWidth(name="zipcode", type="text", ng-model="ctrl.model.paymentMethod.data.zipcode",required,ng-blur="ctrl.zipcodeLookup()", zip-mask, maxlength="10")

							span.error-block(ng-show="(ctrl.formPayment.zipcode.$touched && ctrl.formPayment.zipcode.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.zipcode}}
							span.error-block( ng-show="(ctrl.formPayment.zipcode.$touched && ((ctrl.model.paymentMethod.data.zipcode.length < 5) || (ctrl.model.paymentMethod.data.zipcode.length > 5 && ctrl.model.paymentMethod.data.zipcode.length < 10)))") Please enter a valid zip code.


		div
			div.m-t-1
				button.btn.btn-primary-outline.fullWidth(ng-show="ctrl.model.paymentMethod.myCards.length > 2 && ctrl.model.showCardMore && !ctrl.model.isCardAdd",ng-click="ctrl.showCardMore()") SHOW MORE
				button.btn.btn-primary-outline.fullWidth(ng-show="ctrl.model.paymentMethod.myCards.length > 2 && !ctrl.model.showCardMore && !ctrl.model.isCardAdd",ng-click="ctrl.showCardLess()") SHOW LESS
			div.m-b-1
				button.btn.btn-primary.m-b-0(type="submit",ng-click="ctrl.saveCreditCardChanges(ctrl.formPayment.$valid)", ng-hide="ctrl.model.isCardAdd") SAVE CHANGES
			div
				button.btn.btn-primary(ng-click="ctrl.saveCreditCard(ctrl.formPayment.$valid, ctrl.model.paymentMethod.data, ctrl.model.isCardEdit)", ng-show="ctrl.model.isCardAdd" ng-disabled="!ctrl.formPayment.$valid") 	SAVE CREDIT CARD
			div.m-b-1
				button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.onCancel()", ng-show="ctrl.model.isCardAdd") 	CANCEL
