@import "../../../../src/stylesheets/partials/variables.scss";

.recurring-order-details {
    .clear {
        clear: both;
    }
  #accordionform {
    .panel{
      padding-bottom: 0;
    }
    .panel-title button.collapsed::after{
      background: url('../../../../src/assets/images/css/downward-arrow.svg') no-repeat;
      transform: rotate(180deg);
    }
  }
  .left-order{
    width: 29.625em;
    float: left;
    .large-view-1{
      width: 100%;
    }
  }
  .right-order{
    width: 24.625em;
    float: right;
    .large-view-2{
      width: 100%;
    }
  }
  .center-section{
    width: 55em;
    margin: 0 auto;
  }
  .checkout-order-body{
    width: 100%;
    margin-left: 0;
    padding: 0;
    color: $gray-dark;
  }
  .checkout-edit{
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    background-position: 0 0.1em;
    margin-top: -4px;
  }
  .recurring-order{
    padding: 1.5em 0;
    h4{
      background: url('../../../../src/assets/images/css/refresh-icon.png') no-repeat;
      padding-left: 2.25em;
      font-size: 1.125em;
      font-weight: $proxima-semibold;
      color: $gray-dark;
    }
    p{
      font-size: 0.9375rem;
      font-weight: $proxima-light;
      color: $gray;
    }
  }
  .purchase{
    padding: 1.5em 0;
    p{
      font-size: 0.875rem;
      font-weight: $proxima-light;
      color: $gray-faded;
    }
    span{
      font-size: 0.8125rem;
      line-height: 1.23;
      letter-spacing: 0.5px;
      color: $gray-dark;
      font-weight: $proxima-light;
      width: 100%;
      b{
        padding-right: 6px;
        font-weight: $proxima-regular;
      }
    }
  }
  .order-shop-bag-logo{
    width: 14%;
  }
  .payment-method-section{
    padding: 0;
  }
  .header{
    height: 12.125em;
  }
  .section-order{
    height: 12.125em;
    h1{
      font-size: 2.375rem;
      font-weight: $proxima-thin;
      padding-top: 2em;
    }
  }
  .checkout-order-no-bottom-border{
    border-bottom: 0;
  }
  .checkout-order-no-top-border{
    border-top: 0;
  }
  .checkout-order-no-border{
    border: 0;
  }
  .border-b {
    border-bottom: 0.0625em solid $gray-whisper;
  }
  .recurring-button{
    width: 10.25rem;
  }
  .border-line{
    border-top: 1px solid $gray-border;
    border-bottom: 0;
  }
  .product-close{
    background: url('../../../../src/assets/images/css/cross-small.png') no-repeat;
    width: 1.5625rem;
    height: 1.5rem;
    opacity: 1;
    outline: 0;
    cursor: pointer;
  }
  .list-pane{
    margin-top: 1.75em;
  }
  .checkout-order-head{
    padding-left: 0;
    padding-right: 0;
  }
  .checkout-order-wrapper-p-lg{
    padding: 0 1.5em 1.5em;
    .checkout-order-head{
      padding: 1em 0rem;
    }
  }
  .checkout-order-body.address{
    .full-name {
      line-height: 1.3125em;
      color: $gray-black;
    }
    div span {
      display: block;
      font-weight: $proxima-light;
      font-size: 1rem;
      line-height: 1.125rem;
      color: $gray-black;
    }
    .default-tag {
      font-weight: $proxima-light;
      font-size: 1em;
      line-height: 1.3125em;
      color: $gray-light;
    }
    div span.icon-names {
      font-weight: $proxima-semibold;
      font-size: 0.75em;
      line-height: 0.6875em;
      color: $brand-primary;
    }
    .delete-icon {
      background: url('../../../../src/assets/images/css/ic-delete-blue-sm.png') no-repeat;
      height: 1.4em;
      width: 1em;
      margin-left: 0.6875rem;
    }
    .edit-icon {
      background: url('../../../../src/assets/images/content/ic-edit-green.svg') no-repeat;
      height: 1.4em;
      width: 1em;
      margin-left: 0.5625rem;
    }
    .display-inblock {
      display: inline-block !important;
    }
  }
  .checkout-container{
    .recurring-order-m-b{
        margin-bottom: 0.5rem;
    }
  }
  .input-group .button-disable, .input-group .button-disable:hover{
    opacity: 0.3;
    cursor: not-allowed;
  }
  h3.shopping-bag{
    padding-top: 3px;
  }
  .checkout-order-wrapper{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .name-card{
    width: 24.5em;
    padding: 10px 2em;
    border-top: 0;
    margin-left: -8px;
    border: 0;
    border-right: solid 0.0625rem $gray-border;
  }
  a.pull-right{
    font-size: 0.8125em;
    font-weight: $proxima-semibold;
    text-transform: uppercase;
    padding-top: 6px;
    margin-right: 1em;
    cursor: pointer;
  }
  .payment{
    .billing-address{
      font-size: 0.8125em;
      font-weight: $proxima-semibold;
      color: $gray-black;
    }
  }
  .invite-banner{
    background-size: 100%;
  }
  .checkout-order-head .order-logo, .checkout-order-head .ship-add-logo, .checkout-order-head .payment-logo{
    margin-left: 1em;
  }
  .checkout-order-head-title{
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .checkout-order-wrapper-b-md{
    border-top: 0.06125rem solid $gray-border;
  }
  button:focus{
    color: $brand-primary;
  }
  button:hover{
    color: $white;
  }
  .checkout-order-body.summary div.promo-list-title-order-recurring {
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.3125rem;
    color: $gray;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .checkout-order-wrapper-border{
      border: 0.06125rem solid $gray-border;
    }
    .checkout-order-wrapper{
      width: 31.125rem;
      margin: 0 auto 0.625rem;
      padding: 1.5em 2em;
      h3{
        line-height: 1.75em;
      }
      .checkout-order-head{
        width: 100%;
        margin-left: 0;
        h3{
          margin: 0;
        }
      }
    }
    .recurring-order{
      padding: 0;
    }
    .purchase{
      padding: 0.5em 0;
    }
    .right-order{
      width: 31.125rem;
      float: none;
      overflow: hidden;
    }
    .shipping-section{
      padding-left: 0.5em;
      border-top: 0.06125rem solid $gray-border;
      padding-top: 1em;
    }
    .checkout-order-wrapper-p-lg{
      padding: 0 0 1em;
      border: 0;
    }
    .checkout-order-wrapper-b-out{
      border: 0.06125rem solid $gray-border;
    }
    .name-card{
      width: 30.125rem;
      border-right: 0;
    }
    .section-order{
      h1{
        font-size: 1.875rem;
      }
      a.pull-right{
        padding-top: 12px;
        margin-right: 0;
      }
    }
    .checkbox-align-md{
      margin-right: 0em;
      margin-top: -2px;
    }
    .checkout-container .content{
      background: transparent;
    }
    .main-section{
      width: 31.125rem;
    }
    .checkout-order-head .order-logo, .checkout-order-head .ship-add-logo, .checkout-order-head .payment-logo{
      margin-left: 0;
    }
    .address-section{
      .checkout-order-head{
        padding-left: 0;
        padding-right: 0;
      }
      .checkout-order-body{
        padding: 0 1em;
      }
    }
    .payment-method-section{
      padding: 0;
    }
    a.pull-right{
      margin-right: 0;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .checkout-order-wrapper{
      width: 23.4375em;
      margin: 0 auto 0.625rem;
      padding: 1.5em 1em 0.75em;
      h3{
        line-height: 1.75em;
        padding-left: 8px;
      }
      .checkout-order-head{
        padding: 0em 1em 0em 1em;
      }
    }
    .recurring-order{
      padding: 0;
    }
    .purchase{
      padding: 0.5em 0;
    }
    .right-order{
      width: 23.4375em;
      float: none;
      overflow: hidden;
    }
    .checkout-container .payment-section, .checkout-container .payment-section-validated{
      margin-left: 0.25rem;
    }
    .checkout-order-body{
      width: 100%;
    }
    .checkout-order-wrapper-p-lg{
      padding: 0;
      border: 0;
      h3{
        margin: 0;
      }
      .checkout-order-head{
        padding: 1em;
      }
    }
    .shipping-section{
      border-top: 0.06125rem solid $gray-border;
      padding-top: 1em;
    }
    .payment-method-section{
      padding: 0;
    }
    .name-card{
      width: 24.4375em;
      border-right: 0;
    }
    .section-order{
      h1{
        font-size: 1.875rem;
      }
    }
    a.pull-right{
      padding-top: 12px;
      margin-right: 0;
    }
    .checkout-order-head .order-logo, .checkout-order-head .ship-add-logo, .checkout-order-head .payment-logo{
      margin-left: 0;
    }
    .main-section{
      width: 23.4375em;
    }
    .address-section{
      .checkout-order-body{
        padding: 0 1em;
      }
    }
    .large-view-2{
      background: $gray-lightest;
    }
    .checkbox-align-md{
      margin-right: 0;
    }
    .content-md{
      padding-bottom: 0;
    }
    a.pull-right{
      margin-right: 0;
    }
  }
}
