div.checkout-guest-and-distributor.recurring-order-details
    .content.checkout-container.order-review
        .checkout-title-container.no-gutter
            section.header
                .section-order.invite-banner
                    .container-fluid.p-t-1(align='left')
                        .pointer.p-l-1.navigate-back(ng-click='ctrl.backToBag()')
                            span.text-white MY ORDERS
                        .text-white(align='center')
                            div
                              h1.font-weight-normal.text-white.text-uppercase Order Details

        .checkout-content-container.no-gutter.hidden-lg-up.m-t-2
          .checkout-order-wrapper.checkout-order-wrapper-b-out.order-placing.col-lg-12.m-b-1
            .row.checkout-order-body
              .col-sm-12.no-gutter.recurring-order
                h4.m-t-0.m-b-0_5 Recurring Order 1
                p.m-b-0
                  | Frequency: {{ctrl.isCheckedOrderSMDisplay}}
                  i.checkout-edit.inline-block.m-l-1(ng-click="ctrl.showOrderWeek('sm')" ng-show="!ctrl.editOrderWeek")
              .col-sm-12.m-t-1.no-gutter(ng-show="ctrl.editOrderWeek")
                .radio
                  input(type="radio", name="add_order_sm", ng-model="ctrl.isCheckedOrderSM", value="1 Week")
                  label Every Week
                .radio
                  input(type="radio", name="add_order_sm", ng-model="ctrl.isCheckedOrderSM", value="2 Weeks")
                  label Every 2 Week
                .radio.p-b-1
                  input(type="radio", name="add_order_sm", ng-model="ctrl.isCheckedOrderSM", value="3 Weeks")
                  label.m-b-0 Every 3 Week
                .col-sm-12.no-gutter
                  button.btn.btn-primary(ng-click="ctrl.saveOrderWeek('sm')") Save
                .col-sm-12.no-gutter
                  button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelOrderWeek()") Cancel
              .col-sm-12.purchase
                p.m-t-0.m-b-0_5 Purchase on July 15, 2016
                span.inline-block
                  b TOTAL LOREM
                  | 240.25

            .row.checkout-order-body.payment.m-t-2
              p.col-sm-6.no-gutter Shipment 5/9/16
              .col-sm-6.no-gutter.text-sm-right
                h3.m-t-0 UPCOMING
              .clearfix.visible-sm
              .col-lg-4.col-md-12.no-gutter(ng-if="ctrl.recurringOrderPauseSM")
                button.btn.btn-primary(ng-click="ctrl.pauseRecurringOrderPause('sm')") Pause
              .col-lg-4.col-md-12.no-gutter(ng-if="!ctrl.recurringOrderPauseSM")
                button.btn.btn-primary(ng-click="ctrl.pauseRecurringOrderResume('sm')") Resume
              .clearfix.visible-sm
            .clearfix.visible-sm

          .checkout-order-wrapper.checkout-order-wrapper-b-out.p-t-0.p-b-0
              #accordionform.row
                  .col-sm-12.p-t-1.p-b-1
                      #accordion.panel-group(role='tablist', aria-multiselectable='true')
                          .panel.panel-default.m-b-2.p-l-0.p-r-0
                              #shopping-bag.panel-heading(role='tab')
                                  h4.panel-title
                                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping', aria-expanded='false', aria-controls='address')
                                          .col-sm-12
                                              .row.col-sm-2.no-gutter
                                                  .shop-bag-logo.m-t-neg-4
                                              .col-sm-10.no-gutter
                                                  h3.m-t-0.m-b-0_5 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                              #shopping.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                                  .panel-body
                                      .col-sm-12.list-pane
                                          div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                              .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first }")
                                                  .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                                      img(ng-src='{{item.itemImage}}')
                                                  .col-sm-9.col-md-10.col-lg-9.no-gutter
                                                      button.product-close.close(type="button" ng-click='ctrl.removeItem(item.itemNo)')
                                                      .col-lg-12.col-md-12.col-sm-12
                                                          .product-title(ng-bind='item.itemName')
                                                          .product-content(ng-bind='item.itemCode')
                                                      .col-sm-6
                                                          .product-content LOREM: {{item.psv}}
                                                          .product-size.m-t-0_5
                                                              span.product-size-label Size:
                                                              | {{item.size}}
                                                      .col-sm-6.text-sm-right
                                                          .product-cost {{item.itemCost | currency}}
                                                      .col-sm-12
                                                        .psv-section
                                                          .item-quantity
                                                            span QUANTITY
                                                          .input-group
                                                            span.input-group-addon.left(ng-class="{'button-disable': item.quantity == 1}", ng-click="ctrl.changeQuantity(item.quantity, $index, '-')") -
                                                            input.form-control(type='text' ng-model='item.quantity' ng-disabled='true')
                                                            span.input-group-addon.right(ng-click="ctrl.changeQuantity(item.quantity, $index, '+')") +

        .checkout-content-container.no-gutter.m-t-1
            section.content.content-md
                .main-section.no-gutter.m-t-1
                    .center-section.hidden-md-down
                      .checkout-order-wrapper.col-lg-12.p-t-0.p-b-0
                          #accordionform.row.m-l-0.m-r-0
                              .col-sm-8.no-gutter.recurring-order.p-b-1
                                h4.m-t-0.recurring-order-m-b Recurring Order 1
                                p.m-b-0
                                  | Frequency: {{ctrl.isCheckedOrderDisplay}}
                                  i.checkout-edit.inline-block.m-l-1(ng-click="ctrl.showOrderWeek('')" ng-show="!ctrl.editOrderWeek")
                              .col-sm-4.purchase.p-b-2
                                p.m-t-0.m-b-0_5.pull-right Purchase on July 15, 2016
                                span.inline-block.text-sm-right
                                  b TOTAL LOREM
                                  | 240.25
                              .col-sm-12.p-b-1(ng-show="ctrl.editOrderWeek")
                                .radio
                                  input(type="radio", name="add_order", ng-model="ctrl.isCheckedOrder", value="1 Week")
                                  label Every Week
                                .radio
                                  input(type="radio", name="add_order", ng-model="ctrl.isCheckedOrder", value="2 Weeks")
                                  label Every 2 Week
                                .radio.p-b-1
                                  input(type="radio", name="add_order", ng-model="ctrl.isCheckedOrder", value="3 Weeks")
                                  label.m-b-0 Every 3 Week
                                .col-sm-12.no-gutter
                                  button.btn.btn-primary.recurring-button(ng-click="ctrl.saveOrderWeek('')") Save
                                  button.btn.btn-primary-outline.recurring-button.m-l-1(ng-click="ctrl.cancelOrderWeek()") Cancel

                    .left-order.hidden-md-down
                        .large-view-1
                          .checkout-order-wrapper.order-placing.col-lg-12
                              .row.checkout-order-body.payment
                                p Shipment 5/9/16
                                .col-sm-8.no-gutter
                                  h3 UPCOMING
                                .col-sm-4.no-gutter(ng-if="ctrl.recurringOrderPause")
                                  button.btn.btn-primary(ng-click="ctrl.pauseRecurringOrderPause('')") Pause
                                .col-sm-4.no-gutter(ng-if="!ctrl.recurringOrderPause")
                                  button.btn.btn-primary(ng-click="ctrl.pauseRecurringOrderResume('')") Resume

                            .checkout-order-wrapper.col-lg-12.p-t-0.p-b-0
                                #accordionform.row.p-t-1.p-b-2
                                    .col-sm-12
                                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                                            .panel.panel-default.m-b-1.p-l-0.p-r-0
                                                #shopping-bag.panel-heading(role='tab')
                                                    h4.panel-title
                                                        button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping-lg', aria-expanded='true', aria-controls='address')
                                                            .col-sm-12.no-gutter
                                                                .col-sm-2.order-shop-bag-logo.no-gutter
                                                                  .shop-bag-logo
                                                                .col-sm-10.no-gutter
                                                                    h3.shopping-bag.no-gutter.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                                                #shopping-lg.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                                                    .panel-body
                                                        .col-sm-12.list-pane
                                                            div(ng-repeat='item in ctrl.checkoutData.bagItems track by $index')
                                                                .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first}")
                                                                    .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                                                        img(ng-src='{{item.itemImage}}')
                                                                    .col-sm-9.col-md-9.col-lg-9.no-gutter
                                                                        button.product-close.close(type="button" ng-click='ctrl.removeItem(item.itemNo)')
                                                                        .row
                                                                            .col-sm-10
                                                                                .product-title(ng-bind='item.itemName')
                                                                                .product-content(ng-bind='item.itemCode')
                                                                        .row.m-t-0_5
                                                                            .col-sm-6
                                                                                .product-content LOREM: {{item.psv}}
                                                                                .product-size.m-t-0_5
                                                                                    span.product-size-label Size :
                                                                                    | {{item.size}}
                                                                            .col-sm-6.text-sm-right
                                                                                .product-cost {{item.itemCost | currency}}
                                                                            .col-sm-12.m-b-1
                                                                              .psv-section
                                                                                .item-quantity
                                                                                  span QUANTITY
                                                                                .input-group
                                                                                  span.input-group-addon.left(ng-class="{'button-disable': item.quantity == 1}", ng-click="ctrl.changeQuantity(item.quantity, $index, '-')") -
                                                                                  input.form-control(type='text' ng-model='item.quantity' ng-disabled='true')
                                                                                  span.input-group-addon.right(ng-click="ctrl.changeQuantity(item.quantity, $index, '+')") +
                    .right-order
                      .no-gutter.large-view-2
                        .checkout-order-wrapper.checkout-order-wrapper-b-out.col-lg-12.m-b-1
                            .row.checkout-order-head
                              .col-sm-1.col-lg-2.p-l-0
                                .order-logo
                              .col-sm-11.col-lg-10.checkout-order-head-title.p-r-0
                                h3.m-t-0.inline-block Order Summary
                                a.pull-right Print Invoice
                            .row.checkout-order-body.summary
                              .col-sm-8.no-gutter.m-b-1 Shopping Bag Total
                              .col-sm-4.no-gutter.text-sm-right
                                  span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                              .col-sm-8.no-gutter.m-b-1 Taxes
                              .col-sm-4.no-gutter.text-sm-right
                                  span {{ctrl.checkoutData.orderSummary.taxes | currency}}
                              .col-sm-8.no-gutter.m-b-1 Shipping
                              .col-sm-4.no-gutter.text-sm-right
                                  span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                              .col-sm-8.no-gutter.m-b-0 Promotion & Reward Applied
                              .col-sm-4.no-gutter.text-sm-right
                                  span {{ctrl.checkoutData.orderSummary.promoCodeReductionTotal | currency}}
                              .col-sm-8.no-gutter.m-b-1.promo-list-title-order-recurring(ng-repeat='promoCode in ctrl.checkoutData.orderSummary.promoCodeList')  {{promoCode}}
                              .col-sm-12.no-gutter
                                  .pane-separator
                              .col-sm-8.no-gutter Total
                              .col-sm-4.no-gutter.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}

                        .checkout-order-wrapper.checkout-order-wrapper-b-out.col-lg-12.p-b-0.m-t-0.m-b-0
                            .row.checkout-order-head
                              .col-sm-1.col-lg-2.p-l-0
                                  .ship-add-logo
                              .col-sm-9.col-lg-8.checkout-order-head-title
                                  h3.m-t-0 Shipping Address
                              .col-sm-1.pull-sm-right.checkout-edit.m-t-0(ng-click="ctrl.onEditIcon('isShipping')" ng-show="!ctrl.editShippingAddress")
                            .row.checkout-order-body.shipping(ng-show="!ctrl.editShippingAddress")
                              .col-sm-12.m-b-1.no-gutter
                                  div.m-b-0_5
                                      b
                                          | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                  div
                                      span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                      span {{ctrl.checkoutData.shippingAddress.addressLine2}}{{ctrl.checkoutData.shippingAddress.city}}
                                      span
                                          | {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                              .col-sm-12.no-gutter
                                  label.m-b-0 email
                                  span {{ctrl.checkoutData.shippingAddress.email}}
                              .col-sm-12.m-t-1.no-gutter.p-b-1
                                  label.m-b-0 Phone
                                  span {{ctrl.checkoutData.shippingAddress.phone}}
                            .row
                              .col-sm-12.backgroundWhite.checkout-order-wrapper-b-md.no-gutter(ng-show="ctrl.editShippingAddress")
                                include ./shipping.address.edit.order.details.jade

                        .checkout-order-wrapper.checkout-order-wrapper-b-out.col-lg-12.p-b-0.m-t-1.m-b-0
                            .row.checkout-order-head
                              .col-sm-1.col-lg-2.p-l-0
                                  .payment-logo
                              .col-sm-9.col-lg-8.checkout-order-head-title
                                  h3.m-t-0 Payment Method
                              .col-sm-1.pull-sm-right.checkout-edit.m-t-0(ng-click="ctrl.onEditIcon('isPayment')" ng-show="!ctrl.editPaymentOrder")
                            .row.checkout-order-body.payment(ng-show="!ctrl.editPaymentOrder")
                              .col-sm-12.no-gutter
                                span.pull-sm-left
                                    img(src='../../.././src/assets/images/content/visa-sm.png')
                                .col-sm-9
                                  p {{ctrl.checkoutData.paymentMethod.fullName}}
                                  p
                                      | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
                              .col-sm-12.no-gutter.p-t-1.p-b-1
                                  label.billing-address Billing Address
                                  div(ng-show="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                      span.check-mark
                                      span  Same as Shipping Address
                                  div.billing-add(ng-hide="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                      span {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                      div {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                      div {{ctrl.checkoutData.shippingAddress.addressLine2}}
                                      div {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                            .row
                              .col-sm-12.backgroundWhite.checkout-order-wrapper-b-md(ng-show="ctrl.editPaymentOrder")
                                include ./payment.edit.order.details.jade

                        .checkout-order-wrapper.checkout-order-wrapper-b-out.order-placing.col-lg-12.m-t-1.no-gutter
                            .row.checkout-order-body
                              button.btn.btn-primary-outline.btn-block.m-b-0(ng-click="ctrl.cancelRecurringOrder()") CANCEL ORDER
