.checkout-content-container.no-gutter.address-list.address-section.m-t-0
	.checkout-order-wrapper-p-lg.backgroundWhite(ng-hide="ctrl.model.isAdd || ctrl.model.isEdit")
		.col-sm-12.p-b-0.m-b-0
			.row.checkout-order-head
				.col-md-7.col-sm-8.no-gutter
					h3.p-l-0 My Addresses ({{ctrl.model.myAddresses.length}})
				.col-md-5.col-sm-4.text-sm-right.no-gutter
					span.pointer.display-inblock.m-t-0_5(ng-click="ctrl.addNewAddress()")
						span.add-title-checkout ADD NEW
		.checkout-order-no-border.backgroundWhite.m-b-0(ng-repeat="address in ctrl.model.sortedAddresses", ng-class="{'hide': ctrl.model.showMore && $index > 1}")
			.row.checkout-order-body.address
				.col-sm-12.m-b-0_5.no-gutter
					div.m-b-0_5
						.col-sm-8.no-gutter.full-name
							| {{address.lastName}} {{address.firstName}}
						.col-sm-4.pull-sm-right.text-sm-right.no-gutter
							span.small.col-sm-9.no-gutter.default-tag(ng-show="address.isPrimary == 'YES'") Primary
							div.radio.row.checkbox-align-md
								input(type="radio", name="add_radio", ng-model="ctrl.isChecked", ng-value="address")
								label
					.clearfix
					div
						span {{address.addressLine1}}
						span {{address.addressLine2}}
						span
							| {{address.city}} {{address.state}} {{address.zipCode}}
				.col-sm-12.no-gutter
					.col-sm-12.m-b-0_5.p-l-0
						label.m-b-0.text-uppercase email
						span {{address.email}}
					.col-sm-12.p-l-0
						.pull-sm-left.text-uppercase
							label.m-b-0 Phone
							span {{address.phone}}
				.col-sm-12.m-y-1.border-t.border-b
					.col-sm-6.border-r.m-t-1.text-center
						span.pointer.display-inblock(ng-click="ctrl.onAddressDelete(address)")
							span.icon-names.col-sm-6.no-gutter.m-t-0_5.text-sm-right DELETE
							em.delete-icon
					.col-sm-6.text-sm-center.m-t-1.m-b-1.text-center
						span.pointer.display-inblock(ng-click="ctrl.onAddressEdit(address)")
							span.icon-names.col-sm-6.m-b-1.no-gutter.m-t-0_5.text-sm-right EDIT
							em.edit-icon
		.checkout-order-no-top-border.p-t-0.backgroundWhite
			.row.checkout-order-body.m-b-1
				.col-sm-12.no-gutter
					button.btn.btn-primary-outline.fullWidth.m-b-0(ng-show="ctrl.model.sortedAddresses.length > 2 && ctrl.model.showMore",ng-click="ctrl.model.showMore = !ctrl.model.showMore") SHOW MORE
					button.btn.btn-primary-outline.fullWidth.m-b-0(ng-show="ctrl.model.sortedAddresses.length > 2 && !ctrl.model.showMore",ng-click="ctrl.model.showMore = !ctrl.model.showMore") SHOW LESS
				.col-sm-12.m-t-1.no-gutter
					button.btn.btn-primary.m-b-0(ng-click="ctrl.saveAddressChanges()") SAVE CHANGES

	section.content.p-l-0.p-r-0.p-t-0.p-b-0(ng-if="ctrl.model.isAdd || ctrl.model.isEdit")
		div.m-t-2.main-section.container-fluid.no-gutter.clearfix.m-lg-24
			div.right-order
				div.backgroundWhite.name-card.container-fluid.no-gutter
					form.form(name="formShippingAddress" novalidate)
						div.section-heading.relative.m-b-1.top-section
							span {{ctrl.model.shippingAddress.fields.shipTo}}
						div.row.m-b-1
							div.col-lg-6.col-sm-6.col-md-6.col-xl-6
								div
									div
										label {{ctrl.model.shippingAddress.fields.firstName}}
									div
										input.form-control.m-b-0.fullWidth(name="firstname",type="text", ng-model="ctrl.model.formData.firstName",ng-required="true")
										span.error-block.m-t-1(ng-show="(formShippingAddress.firstname.$touched && formShippingAddress.firstname.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.firstName}}
							div.col-lg-6.col-sm-6.col-md-6.col-xl-6
								div
									div
										label {{ctrl.model.shippingAddress.fields.lastName}}
									div
										input.form-control.fullWidth.m-b-0(name="lastname", type="text", ng-model="ctrl.model.formData.lastName",ng-required="true")
										span.m-t-1.error-block(ng-show="(formShippingAddress.lastname.$touched && formShippingAddress.lastname.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.lastName}}
						div.m-b-1
								div
									label {{ctrl.model.shippingAddress.fields.addressLine1}}
								div
									input.form-control.fullWidth.m-b-0(name="addressline1", type="text",ng-model="ctrl.model.formData.addressLine1", ng-required="true")
									span.m-t-1.error-block(ng-show="(formShippingAddress.addressline1.$touched && formShippingAddress.addressline1.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.addressLine1}}
						div.m-b-1
								div
									label {{ctrl.model.shippingAddress.fields.addressLine2}}
								div
									input.form-control.fullWidth(name="addressline2",type="text",ng-model="ctrl.model.formData.addressLine2")
						div.m-b-1
								div
									label {{ctrl.model.shippingAddress.fields.city}}
								div
									input.form-control.fullWidth.m-b-0(name="city",type="text",ng-model="ctrl.model.formData.city",ng-required="true")
									span.m-t-1.error-block(ng-show="(formShippingAddress.city.$touched && formShippingAddress.city.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.city}}

						div.row.m-b-1
							div.col-lg-6.col-sm-6.col-md-6.col-xl-6
								div
									div
										label {{ctrl.model.shippingAddress.fields.state}}
									div.select-wrapper.state-select.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
										select.form-control.fullWidth.m-b-0(name="state", ng-model="ctrl.model.formData.state", ng-options="state.abbreviation as state.name for state in ctrl.model.shippingAddress.states", ng-required="true")
										span.m-t-1.error-block(ng-show="(formShippingAddress.state.$touched && formShippingAddress.state.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.state}}
							div.col-lg-6.col-sm-6.col-md-6.col-xl-6
								div
									div
										label {{ctrl.model.shippingAddress.fields.zipcode}}
									div
										input.form-control.fullWidth.m-b-0(name="zipcode", type="text", ng-model="ctrl.model.formData.zipcode", ng-blur="ctrl.zipcodeLookup()", maxlength="10", ng-required="true", zip-mask)
										span.m-t-1.error-block(ng-show="(formShippingAddress.zipcode.$touched && formShippingAddress.zipcode.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.zipcode}}
										span.error-block( ng-show="(formShippingAddress.zipcode.$touched && ((ctrl.model.formData.zipcode.length < 5) || (ctrl.model.formData.zipcode.length > 5 && ctrl.model.formData.zipcode.length < 10)))") Please enter a valid zip code.
 

						div.section-heading.relative.m-t-2rem
								span {{ctrl.model.shippingAddress.fields.orderContactInformation}}
						div.section-content.m-b-1
								span {{ctrl.model.shippingAddress.fields.enterContactInformation}}
						div.m-b-1
								div
									label {{ctrl.model.shippingAddress.fields.email}}
								div
									input.form-control.fullWidth.m-b-0(name="email", type="text",ng-model="ctrl.model.formData.email",ng-required="true", ng-pattern="ctrl.emailPattern")
									span.m-t-1.error-block(ng-show="(formShippingAddress.email.$touched && formShippingAddress.email.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.email.required}}
									span.m-t-1.error-block(ng-show="(formShippingAddress.email.$error.pattern  && formShippingAddress.email.$invalid)") {{ctrl.model.shippingAddress.fields.errorMessages.email.pattern}}
						div.m-b-1
								div
									label {{ctrl.model.shippingAddress.fields.phone}}
								div
									input.form-control.fullWidth.m-b-0(name="phone", type="text",ng-model="ctrl.model.formData.phone",ng-required="true", ui-mask="(999) 999-9999")
									span.m-t-1.error-block(ng-show="(formShippingAddress.phone.$touched && formShippingAddress.phone.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.phone}}
						div.m-b-1
								div.checkbox
									input(type='checkbox', ng-model='ctrl.model.formData.isPrimary', ng-true-value="'YES'", ng-false-value="'NO'")
									label.p-l-1
										| Primary Shipping Address
						div.m-t-2rem
								button.btn.btn-primary(type="submit",ng-disabled="formShippingAddress.$invalid == true",ng-click="ctrl.updateAddress(ctrl.model.formData, ctrl.model.isAdd, formShippingAddress)") UPDATE ADDRESS
						div.m-b-2
								button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBack()") GO BACK
