div.checkout-guest-and-distributor
	div.content.checkout-container
		.checkout-title-container.no-gutter
			section.header
				div.section.invite-banner

					div.container-fluid.p-t-1(align="left")
						div.pointer.p-l-1.navigate-back(data-toggle="modal",data-target="#exit-modal-popup",data-backdrop="static")
							span.text-white.text-uppercase CART

						div.text-white.logo-section(align="center")
							div
								//- h5.m-b-0_5.font-weight-normal.text-white.text-uppercase{{ctrl.model.heading1}}
								h1.font-weight-normal.text-white.text-uppercase {{ctrl.model.mainHeading}}

					div.steps
						div.container-fluid.clearfix.displayTable.actionMenu(align="center")
							div.pull-left.active.relative.shippingAddress-logo
								div.active-arrow-up
							div.pull-left.deliveryOptions-logo
							div.pull-left.paymentMethod-logo
							div.pull-left.orderReview-logo
					div.step-indicator
						small.text-uppercase.text-white
							span {{ctrl.model.heading2}}
							span(ng-show="ctrl.model.isAdd") - ADD NEW
							span(ng-show="ctrl.model.isEdit") - EDIT

		.checkout-content-container.no-gutter.hidden-lg-up(ng-hide="ctrl.model.isAdd || ctrl.model.isEdit")
			section.checkout-delivery-options
				.row
					.col-sm-5.psv-headings.text-center.no-gutter
						div CURRENT
						.psv-values {{ctrl.model.shippingAddress.psvData.currentPSV}}
						div LOREM
					.col-sm-2.arrow-right-thin
					.col-sm-5.psv-headings.text-center.no-gutter
						div AFTER THIS ORDER
						.psv-values {{ctrl.model.shippingAddress.psvData.afterOrderPSV}}
						div LOREM

		.checkout-content-container.no-gutter.address-list.address-section
			.left-pane
				div(ng-hide="ctrl.model.isAdd || ctrl.model.isEdit")
					.checkout-order-wrapper
						.row.checkout-order-head
							.col-sm-7
								h3 My Addresses ({{ctrl.model.myAddresses.length}})
							.col-sm-5.text-sm-right.m-t-0_5.no-gutter-right
								.col-sm-12.no-gutter
									span.pointer.display-inblock(ng-click="ctrl.addNewAddress()")
										span.add-title-checkout ADD NEW
										span.circle-add.display-inblock
											.add-icon-checkout
					.checkout-order-wrapper.p-b-0(ng-repeat="address in ctrl.model.sortedAddresses", ng-class="{'hide': ctrl.model.showMore && $index > 1}")
						.row.checkout-order-body.address
							.col-sm-12.m-b-0_5
								div.m-b-0_5
									.col-sm-8.no-gutter.full-name
										| {{address.lastName}} {{address.firstName}}
									.col-sm-4.pull-sm-right.text-sm-right.no-gutter()
										span.small.col-sm-10.no-gutter.default-tag(ng-show="address.isPrimary == 'YES'") Default
										div.radio.row
											input(type="radio", name="add_radio", ng-model="ctrl.isChecked", ng-value="address")
											label
								.clearfix
								div
									span {{address.addressLine1}}
									span {{address.addressLine2}}
									span
										| {{address.city}} {{address.state}} {{address.zipCode}}
							.col-sm-12.p-r-0
								.col-sm-12.m-b-0_5.p-l-0
									label.m-b-0.text-uppercase email
									span {{address.email}}
								.col-sm-12.p-l-0
									.pull-sm-left.text-uppercase
										label.m-b-0 Phone
										span {{address.phone}}
							.col-sm-12.m-y-1.border-t
								.col-sm-6.border-r.m-t-1
									span.pointer.display-inblock(ng-click="ctrl.onAddressDelete(address)")
										span.icon-names.col-sm-6.no-gutter.m-t-0_5.text-sm-right DELETE
										em.delete-icon
								.col-sm-6.m-t-1
									span.pointer.display-inblock(ng-click="ctrl.onAddressEdit(address)")
										span.icon-names.col-sm-6.no-gutter.m-t-0_5.text-sm-right EDIT
										em.edit-icon
					.checkout-order-wrapper
						.row.checkout-order-body
							.col-sm-12.top-buffer-15
								button.btn.btn-primary-outline.fullWidth(ng-show="ctrl.model.sortedAddresses.length > 2 && ctrl.model.showMore",ng-click="ctrl.model.showMore = !ctrl.model.showMore") SHOW MORE
								button.btn.btn-primary-outline.fullWidth(ng-show="ctrl.model.sortedAddresses.length > 2 && !ctrl.model.showMore",ng-click="ctrl.model.showMore = !ctrl.model.showMore") SHOW LESS
							.col-sm-12.top-buffer-15.m-b-3
								button.btn.btn-primary(ng-click="ctrl.navigateToDelivery()") SAVE AND CONTINUE


				section.content.m-b-2(ng-if="ctrl.model.isAdd || ctrl.model.isEdit")
					div.m-t-2.main-section.container-fluid.no-gutter.clearfix.m-lg-24
						div.left-section
							div.backgroundWhite.name-card.container-fluid.shipping-section.no-gutter
								form.form(name="formShippingAddress" novalidate)
									div.section-heading.relative.m-b-1.top-section
										span {{ctrl.model.shippingAddress.fields.shipTo}}
									div.row.m-b-1
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.shippingAddress.fields.firstName}}
												div
													input.form-control.m-b-0.fullWidth(name="firstname",type="text", ng-model="ctrl.model.formData.firstName",ng-required="true")
													span.error-block.m-t-1(ng-show="(formShippingAddress.firstname.$touched && formShippingAddress.firstname.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.firstName}}
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.shippingAddress.fields.lastName}}
												div
													input.form-control.fullWidth.m-b-0(name="lastname", type="text", ng-model="ctrl.model.formData.lastName",ng-required="true")
													span.m-t-1.error-block(ng-show="(formShippingAddress.lastname.$touched && formShippingAddress.lastname.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.lastName}}
									div.m-b-1
											div
												label {{ctrl.model.shippingAddress.fields.addressLine1}}
											div
												input.form-control.fullWidth.m-b-0(name="addressline1", type="text",ng-model="ctrl.model.formData.addressLine1", ng-required="true")
												span.m-t-1.error-block(ng-show="(formShippingAddress.addressline1.$touched && formShippingAddress.addressline1.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.addressLine1}}
									div.m-b-1
											div
												label {{ctrl.model.shippingAddress.fields.addressLine2}}
											div
												input.form-control.fullWidth(name="addressline2",type="text",ng-model="ctrl.model.formData.addressLine2")
									div.m-b-1
											div
												label {{ctrl.model.shippingAddress.fields.city}}
											div
												input.form-control.fullWidth.m-b-0(name="city",type="text",ng-model="ctrl.model.formData.city",ng-required="true")
												span.m-t-1.error-block(ng-show="(formShippingAddress.city.$touched && formShippingAddress.city.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.city}}

									div.row.m-b-1
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.shippingAddress.fields.state}}
												div.select-wrapper.state-select.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
													select.form-control.fullWidth.m-b-0(name="state", ng-model="ctrl.model.formData.state", ng-options="state.abbreviation as state.name for state in ctrl.model.shippingAddress.states", ng-required="true")
													span.m-t-1.error-block(ng-show="(formShippingAddress.state.$touched && formShippingAddress.state.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.state}}
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.shippingAddress.fields.zipcode}}
												div
													input.form-control.fullWidth.m-b-0(name="zipcode", type="tel", ng-model="ctrl.model.formData.zipcode",ng-required="true",ng-blur="ctrl.zipcodeLookup()", maxlength="10", zip-mask)
													span.m-t-1.error-block(ng-show="(formShippingAddress.zipcode.$touched && formShippingAddress.zipcode.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.zipcode}}
													span.m-t-1.error-block( ng-show="((ctrl.model.formData.zipcode.length < 5) || (ctrl.model.formData.zipcode.length > 5 && ctrl.model.formData.zipcode.length < 10))") Please enter a valid zip code.
									div.section-heading.relative.m-t-2rem
											span {{ctrl.model.shippingAddress.fields.orderContactInformation}}
									div.section-content.m-b-1
											span {{ctrl.model.shippingAddress.fields.enterContactInformation}}
									div.m-b-1
											div
												label {{ctrl.model.shippingAddress.fields.email}}
											div
												input.form-control.fullWidth.m-b-0(name="email", type="text",ng-model="ctrl.model.formData.email",ng-required="true", ng-pattern="ctrl.emailPattern")
												span.m-t-1.error-block(ng-show="(formShippingAddress.email.$touched && formShippingAddress.email.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.email.required}}
												span.m-t-1.error-block(ng-show="(formShippingAddress.email.$error.pattern  && formShippingAddress.email.$invalid)") {{ctrl.model.shippingAddress.fields.errorMessages.email.pattern}}
									div.m-b-1
											div
												label {{ctrl.model.shippingAddress.fields.phone}}
											div
												input.form-control.fullWidth.m-b-0(name="phone", type="tel",ng-model="ctrl.model.formData.phone",ng-required="true", ui-mask="(999) 999-9999")
												span.m-t-1.error-block(ng-show="(formShippingAddress.phone.$touched && formShippingAddress.phone.$error.required)") {{ctrl.model.shippingAddress.fields.errorMessages.phone}}
									div.m-b-1
											div.checkbox
												input(type='checkbox', ng-model='ctrl.model.formData.isPrimary', ng-true-value="'YES'", ng-false-value="'NO'")
												label.p-l-1
													| Primary Shipping Address
									div.m-t-2rem
											button.btn.btn-primary(type="submit",ng-disabled="formShippingAddress.$invalid == true",ng-click="ctrl.updateAddress(ctrl.model.formData, ctrl.model.isAdd, formShippingAddress)") PRIMARY BUTTON
									div.m-b-2
											button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBack()") SECONDARY BUTTON

			div.right-section.show-above-lg.include-section
						include ./shipping.address.component.shopping.bag.jade


	#accordionform.accordionForm.show-below-lg
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			div.panel.panel-default.accordion-panel.relative
				#panel1.panel-heading(role="tab")
					h4.panel-title(ng-click="ctrl.model.isPullLabelVisible = !ctrl.model.isPullLabelVisible")
						button.btn.drawerButton.collapsed(type="button", data-toggle='collapse', data-parent='#accordion',data-target='#panel', aria-expanded='false', aria-controls='payment',ng-click="ctrl.togglePanel()")
							div.clearfix.accord-label-section.fullWidth(ng-show="ctrl.model.isPullLabelVisible")
								div.pull-left
									label.pullUpLabel.text-transform-none {{ctrl.model.shippingAddress.fields.estimatedTotal}}
								div.pull-right(align="right")
									label.pullUpData {{ctrl.model.shippingAddress.data.estimatedTotal}}

				#panel.panel-section.panel-collapse.collapse(role="tabpanel",aria-labelledby='panel1',aria-expanded='false', style='height: 0px;')
					div.panel-body.include-section
						include ./shipping.address.component.shopping.bag.jade

	div#exit-modal-popup.popup-modal-section.modal.fade(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-body
					div.modal-close-icon-section.clearfix.pointer
						div(data-dismiss="modal").pull-right.modal-close-icon
					div.m-b-2 {{ctrl.model.shippingAddress.fields.modalMessages.areYouSure}}
					div
						button.btn.btn-primary.m-b-1(data-dismiss="modal")
							span.text-uppercase.font-weight-normal {{ctrl.model.shippingAddress.fields.modalMessages.stayInCheckout}}
						button.btn.btn-primary-outline.fullWidth.font-weight-normal(data-dismiss="modal",ng-click="ctrl.gotoPage('#shopping-cart')")
							span.text-uppercase {{ctrl.model.shippingAddress.fields.modalMessages.goBackToShoppingBag}}

	#myModalBackDrop.modal.fade(role='dialog', aria-labelledby='myModalLabel', data-backdrop='static', aria-hidden='true')
