@import "../../../../src/stylesheets/partials/variables.scss";

.generic-template-container{
    .generic-template-top-banner{
        background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
        text-align: center;
        height: 6.25rem;
        padding-top: 1.875rem;
    }
    .generic-go-back{
        height: 1rem;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        letter-spacing: -0.1px;
        color: $gray-fair;
        padding-left: 1.25rem;
    }
    .generic-aem-title{
        margin-left: -3.75rem;
        height: 2.125rem;
        font-size: 1.875rem;
        font-weight: $proxima-thin;
        line-height: 1.13;
        text-align: center;
        color: $white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    }
    .generic-template-top-banner-image{
        height: 15.625rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    .generic-template-content-title{
        max-height: 11.6875rem;
        text-align: center;
        background-color: $gray-fair;
        padding-top: 1rem;
        .content-title, .content-info, .content-info-parent {
            background-color: $gray-fair;
        }
    }
    .generic-template-content-detail{
        background-color: $gray-fair;
        padding-bottom: 5rem;
    }
    .content-detail-container{
        background-color: $white;
        margin: 0 10rem;
        margin-top: 3.4375rem;
    }
    .content-text-container{
        margin: 0 10%;
        padding-top: 4%;
        padding-bottom: 9%;
        .content-detail-title {
          text-align: center;
        }
    }
    .top-banner-back-button
    {
        margin-left: 2.5rem;
        margin-top: 0.4375rem;
        float: left;
        background: url('../../../../src/assets/images/css/ic-arrow-down-copy-10.svg') left no-repeat;
    }
    .generic-how-to-use{
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        line-height: 1.41;
        text-align: center;
        color: $gray-dark;
    }
    .content-info{
        padding: 1.5rem 5.625rem;
    }
    .generic-terms-title{
        font-size: 2.375rem;
        font-weight: $proxima-thin;
        line-height: 2.7rem;
        color: $gray-dark;
        padding-bottom: 3.75rem;
    }
    .terms-of-use-text{
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 2.125rem;
        color: $gray-dark;
        padding-bottom: 1.25rem;
        
    }
    .content-detail-info.terms-of-use-text {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.375rem;
    }
    .content-detail-info{
        padding-right: 6.5625rem;
    }
    .unordered-text{
        padding-left: 1.25rem;
    }
    .generic-banner-image{
        background-position: center;
        background-size: cover;
        background-position: 50%;
    }

    @media screen and (min-width: 360px) and (max-width: 767px){
        .generic-template-top-banner{
            height: 8.75rem;
        }
        .top-banner-back-button{
            margin-left: 1.5625rem;
            margin-top: -0.625rem;
        }
        .generic-aem-title{
            margin-top: 1.875rem;
            margin-left: -5.625rem;
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            line-height: 2.125rem;
            color: $gray-fair;
        }
        .content-info{
            padding: 1.5rem 1.5625rem;
        }
        .generic-template-content-detail{
            padding-bottom: 8px;
        }
        .content-detail-container{
            margin: 0;
        }
        .generic-terms-title{
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            line-height: 2.125rem;
            padding-bottom: 1.875rem;
        }
        .content-text-container{
            margin: 0 8%;
            padding-top: 0;
        }
        .terms-of-use-text{
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1rem;
            color: $gray-faded;
            padding-bottom: 0.625rem;
        }
        .content-detail-info{
            padding-right: 0;
        }
        .unordered-text{
            padding-left: 0.9375rem;
        }
        .generic-template-top-banner-image{
            height: 10.625rem;
        }
        .content-detail-title{
          padding-top: 2.188em;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .content-info{
            padding: 1.5rem 6.5rem;
        }
        .generic-template-content-detail{
            padding-bottom: 8px;
        }
        .content-detail-container{
            margin: 0;
        }
        .generic-terms-title{
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            line-height: 2.125rem;
        }
        .terms-of-use-text{
            line-height: 1rem;
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            color: $gray-faded;
            padding-bottom: 3px;
        }
        .content-text-container{
            padding-left: 12%;
            padding-right: 1%;
            padding-bottom: 10%;
            padding-top: 3.5%;
        }
        .generic-terms-title{
            padding-bottom: 1.875rem;
        }
        .terms-of-use-text{
            padding-bottom: 0.625rem;
        }
        .unordered-text{
            padding-left: 1rem;
        }
        .content-detail-title{
          width:27.500em;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        .generic-template-content-detail{
            padding-bottom: 4.313em;
        }
        .content-info{
            padding: 1.5rem 10rem;
        }
        .content-detail-container{
            margin: 0;
        }
        .content-detail-info{
            padding-right: 0;
        }
    }
    @media (min-width: 1440px) {
        .content-detail-container {
            margin-top: 0.5rem;
        }
    }
}
