.generic-template-container
    div.generic-template-top-banner
        div.top-banner-back-button
            label.generic-go-back GO BACK
        div.top-banner-title
            label.generic-aem-title GENERIC A.E.M TEMPLATE
    div.generic-template-top-banner-image
        img.generic-banner-image(ng-style="{'background-image': 'url({{generictemplate.bannerUrl}})'}" height='100%' width='100%')
    div.generic-template-content-title(ng-show="generictemplate.showHowToUse")
        div.content-title
            label.generic-how-to-use HOW TO USE THIS TEMPLATE
        div.clearfix.content-info-parent
            div.content-info.col-xl-6.col-xl-offset-3.col-md-10.col-md-offset-1.col-sm-12
                p Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et.
    div.generic-template-content-detail
        div.content-detail-container
            div.content-text-container
                div.content-detail-title
                    label.generic-terms-title TERMS OF USE
                div.content-detail-info
                    p.terms-of-use-text Lorem ipsum dolor sit amet. an possim utamur intellegebat mel, ad purto brute quaeque eum, duo id nihil everti hendrerit. Minimum menandri mnesarchum eam et. Vim te inani sonet constituam. Ne case malis euripidis has. Quando iuvaret atmorum ei per, causae argumentum ut mei. Ullum eruditi ut sed, eius labitur ancillae nam no.
                    ul.terms-of-use-text.unordered-text
                        li Pri malis soleat te. Dissentias interpretaris at usu. Offendit adipisci eu quo, quem vivendum constituam vel id. Quo id nostrum persequeris, mel ea summo.
                        li Noster sanctus noluisse mea ne. Nam adhuc tollit ad.
                        li Per in justo tamquam sensibus, eum iriure nostrum adolescens no.
                        li Detraxit mediocritatem at eos, hinc utroque vix ei.
                    p.terms-of-use-text Nec suavitate accusamus evertitur id. Aliquam eligendi an est. Detraxit mediocritatem at eos, hinc utroque vix ei. Tempor admodum deteeuisset vim in. Alii liber eu sea.Menandri efficiendi cum no. Ex probatus tacimates sit, et enim facer petentium quo, ex vim nisl complectitur. Noster sanctus noluisse mea ne. Nam adhuc tollit ad. Fastidii scaevola senserit per ut, ei vidit dicta cotidieque sea, pro no dolor invenire scribentur.
                    p.terms-of-use-text Qui doming splendide ea. Eu his ridens utroque. Impedit atomorum sed at, per eu saperet delenit vivendo, quo te iriure adversarium. Per in justo tamquam sensibus, eum iriure nostrum adolescens no. Vim ad suas melius disputando, pri eleifend percipitur ne, erat ridens singulis mel eu. ea euismod posidonium pro, delicata concludaturque an his.