@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/signup/signup.scss";
.topbanner {
    background-color: $fern;
    width: 100%;
    height: 44px;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
    color: $white;
    padding: .5em;
    text-align: center;
}

.imgwrapper {
    margin: 0 auto;
    text-align: center;
}

#generic-profile {
    width: 4.063em;
    height: 4.063em;
}

.sign-up-header.customer-header {
    display: table;
    width: 100%;
    height : 16.5625rem;
    .imgwrapper {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
    }
}

@media screen and (min-width: 768px) {
    .sign-up-header {
        min-height: 300px;
    }
}
