div
	.topbanner
		img(ng-src="../../../../src/assets/images/css/checkmark-circle.svg")
		|  Account Created
	header.sign-up-header.inverse.customer-header
		.imgwrapper
			div
				img#generic-profile(ng-src='{{userProfileCtrl.userData.avatarImg}}')
				img.avatar(ng-src='{{userProfileCtrl.userData.profileImg}}', alt='', width='100' class="ng-hide")
				p.profile-name {{userProfileCtrl.userData.firstName}} {{userProfileCtrl.userData.lastName}}
				p.profile-locations {{userProfileCtrl.userData.city}}, {{userProfileCtrl.userData.country}}
