.container
  .terms-container
    .row
      div(ng-click="ctrl.navigateBack()")
        .back-button 
          p.navigate-back Back
      h1.DISTRIBUTOR-HANDBOOK.m-t-1 DISTRIBUTOR HANDBOOK
      br
      h4  Things to Keep in Mind as a Distributor
      br
      primary-carousel(image-list="ctrl.images")
      .row
        .col-lg-8.col-md-7.col-sm-12
          p
            |Before you may continue with your application, please review the terms and conditions of the Distributor Agreement and Policies and Procedures ('Policies') located below. The Policies describe your rights and obligations as an independent Nu Skin distributor.
        .col-sm-12.col-md-5.col-lg-4.center
          button.btn.btn-primary-outline.custom-button EMAIL ME A COPY
      h4 DISTRIBUTOR AGREEMENT

      #outer
        #inner
          p(align='center')
            strong
              | "DISTRIBUTOR AGREEMENT/PRODUCT PURCHASE  AGREEMENT/ADR SIGN UP FORM/INTERNATIONAL SPONSOR AGREEMENT/ARBITRATION  AGREEMENT— "
            strong United States
          p
            | There are three parties to this agreement: Nu Skin Enterprises United States, Inc., Nu Skin International, Inc., and me. The agreement consists of five sections: (A) Definitions, (B) Distributor Agreement and Product Purchase Agreement, (C) the International Sponsor Agreement, (D) Mandatory and Binding Arbitration Agreement, and (E) Miscellaneous Provisions. The Distributor Agreement and Product Purchase Agreement are between Nu Skin Enterprises United States, Inc. and me. The International Sponsor Agreement is between Nu Skin International, Inc. and me. The Mandatory and Binding Arbitration Agreement and Miscellaneous Provisions are between all three parties.
          p
            strong
              u A.  Definitions
          p
            | Defined terms are set forth  below or may be separately defined in any of the agreements.  The meaning of capitalized terms not found in  this document is set forth in the Policies and Procedures.
            | Defined terms are set forth below or may be separately defined in any of the agreements. The meaning of capitalized terms not found in this document is set forth in the Policies and Procedures.
          p
            | “Bonuses” means the  compensation paid to Distributors based on the volume of Nu Skin Products sold  by a Distributor, Downline Organization, and breakaway executives as set forth  in the Sales Compensation Plan.
          p
            | “Business Portfolio” means the non-commissionable, not-for-profit kit and is the only purchase required to become a Distributor. The Business Portfolio contains the Policies and Procedures, the Sales Compensation Plan, a Distributor Agreement, and other sales and demonstration materials to assist a Distributor in starting and conducting their independent business.
          p
            | “Contract” means the agreement between Nu Skin and me composed of this Distributor Agreement (Section B), the International Sponsor Agreement (Section C), the Mandatory and Binding Arbitration Agreement (Section D), Miscellaneous Provisions (Section E), the Policies and Procedures, the Sales Compensation Plan, and materials pertaining to optional programs, as each may be amended, and are incorporated herein by reference. Wherever the context will so require, all words are deemed to include the plural as well as the singular, and to include all genders.
          p
            | “Distributor” means an independent contractor authorized by NSEUS to market Nu Skin Products in the United States, recruit other Distributors, and receive Bonuses in accordance with the requirements of the Sales Compensation Plan.
          p
            | “Distributor Agreement” means this Distributor application and agreement, and if applicable, the Business Entity Form, that must be completed and submitted to NSEUS in order to apply to become a Distributor, the PPA, including the Automatic Delivery Rewards Program section, the Mandatory and Binding Arbitration Agreement (Section D), and the Miscellaneous Provisions (Section E).
          p
            | “International Sponsor Agreement’ or “ISA” means the International Sponsor Agreement (Section C), Mandatory and Binding Arbitration Agreement (Section D), and the Miscellaneous Provisions (Section E).
          p “NSEUS” means Nu Skin Enterprises United States, Inc.
          p
            | “Nu Skin” means NSEUS, Nu Skin International, Inc., and their affiliated companies.
          p “NSI” means Nu Skin International, Inc.
          p
            | “Nu Skin Products” means the products and services of NSEUS that are sold in the United States.
          p “PPA” means the Product Purchase Agreement in Section B.
          p
            | “Policies and Procedures” means the policies, in addition to the Distributor Agreement, that governs how I, as a Distributor, am to conduct my business and defines the rights and relationships of the parties.
            | “Sales Compensation Plan” means the specific plan that outlines the details and requirements of the compensation structure for Distributors.
            | B. Distributor Agreement and Product Purchase Agreement
            | The Distributor Agreement and Product Purchase Agreement, which includes the terms of my participation in the Automatic Delivery Rewards Program, is between Nu Skin Enterprises United States, Inc., a Delaware corporation, 75 West Center Street, Provo, Utah 84601 and me.
            | 1. Right to Market Nu Skin Products and Sponsor in the United States
            | Subject to the terms and conditions of the Distributor Agreement, NSEUS grants to me (a) the right to be a Distributor and market Nu Skin Products in the United States through person-to-person sales, and (b) sponsor new Distributors in the United States.
            | 2. Product Purchase Agreement
            | NSEUS will offer to me, as an independent contractor, Nu Skin Products for wholesale purchase in the United States. I have the right to purchase Nu Skin Products at the price stated by NSEUS and agree that NSEUS may change Nu Skin Product prices without prior notice.
            | 3. Independent Contractor
            | I acknowledge and agree that as a Distributor, I am an independent contractor of Nu Skin. As an independent contractor, I will:
            | be self-employed, and determine in my sole discretion, when I work and the number of hours I work; be paid Bonuses based on purchases and sales and not the number of hours that I work
            | be subject to entrepreneurial risk and responsible for all losses that I incur as a distributor;
            | if required, obtain a federal employment identification number;
            | pay my own license fees and any insurance premiums;
            | be responsible for all costs of my business including, but not limited to, travel, entertainment, office, clerical, legal, equipment, accounting, and general expenses, without advances, reimbursement, or guarantee from Nu Skin;
            | not be treated as an employee for federal or state tax purposes; and
            | pay any self-employment taxes required by federal, state, and local laws, statutes, and regulations.
            | I am not an employee, agent, or legal representative of Nu Skin, and except as permitted by the Contract, I am not authorized to act on behalf of Nu Skin. Nothing in the Contract is intended or will be deemed to constitute a partnership, agency, employer-employee, or a joint venture relationship between Nu Skin and me.
            | 4. Marketing of Products and Services
            | (a) I understand that there are no minimum purchases or inventory requirements. I will promote the retail sale of Nu Skin Products in accordance with the terms and conditions of the Contract.
            | (b) I agree not to make any claims about Nu Skin Products and the Sales Compensation Plan unless they are contained on NSEUS labels or in official NSEUS literature. NSEUS will pay me Bonuses for the sale of Nu Skin Products less returns. I understand and agree that, in order to be eligible to receive Bonuses, I must meet all requirements outlined in the Sales Compensation Plan, including retail sales, and not be in violation of the terms of the Contract.
            | (c) I will not purchase any Nu Skin Products solely for the purpose of qualifying for Bonuses. I agree that prior to placing a subsequent product order, I have resold previously ordered Nu Skin Products and documented the sales to at least five retail customers each month, and that I have sold or consumed at least 80% of the Nu Skin Products from any previous orders.
            | (d) I agree to encourage, supervise and assist my Downline Organization’s efforts to sell Nu Skin Products to retail customers.
            | 5. Refunds
            | For thirty (30) days from the submission date of this Distributor Agreement I may obtain a 100% refund for the required Business Portfolio and a 90% refund thereafter in accordance with the refund policy in the Policies and Procedures. Subject to any restrictions in the aforementioned refund policy or special terms disclosed at the time of purchase, all unopened, resalable Nu Skin Products that are returned within twelve months of the Distributor’s order date are eligible for a 90% refund, less applicable Bonuses paid. (Connecticut residents—may obtain a 100% product refund for 30 days after submitting the Distributor Agreement).
            | 6. Automatic Delivery Rewards Program (“ADR Program”)
            | (a) If I have specified on the reverse side the type and quantity of Nu Skin Products that I desire to receive each month, these Nu Skin Products will be charged on a recurring monthly basis to the payment form I have provided and will be shipped monthly to my listed shipping address unless I notify NSEUS in writing of any desired changes.
            | (b) NSEUS may change the price of or discontinue the specific Nu Skin Products that I have chosen to receive on the Automatic Delivery Rewards section of this Distributor Agreement or a separate ADR Program enrollment form. In such situations, NSEUS will notify me of the change and will continue to send me, in the case of a discontinued product, the remaining items or in the case of a price change or updated product, the same items I have selected under the ADR Program, at the new price, unless I direct NSEUS to make other arrangements.
            | (c) To pay for each monthly Automatic Delivery order, I authorize NSEUS to establish an automatic credit card debit arrangement as specified on the Automatic Delivery Rewards section of this Distributor Agreement or the ADR Program enrollment form. NSEUS will make no other charge to my payment account except those that I have authorized. (Sales tax charges may fluctuate in accordance with changes in applicable sales tax rates).
            | (d) I agree that there are no returns allowed on Nu Skin Products purchased with ADR Program points and that no personal sales volume or group sales volume is earned on Nu Skin Products purchased with ADR Program points. I further agree that applicable sales tax will apply to the redemption of ADR Program points, and that the value of the redemption will be treated as income to me and appear on my IRS Form 1099.
            | (e) I agree that if any Nu Skin Products from a qualifying purchase are returned, the balance of the qualifying amount for the month in which Nu Skin Products are returned must be repurchased in order to remain qualified and receive ADR Program points.
            | (f) I understand and agree that NSEUS may terminate the ADR Program at any time and for any reason. NSEUS may also terminate my right to participate in the ADR Program under this Distributor Agreement if (i) the credit card or bank authorization provided in this Distributor Agreement expires, is cancelled or otherwise terminated, or (ii) I violate the terms and conditions of this Distributor Agreement. I may cancel my monthly ADR order upon written notice to NSEUS.
            | 7. Bonus Check Direct Deposit
            | (a) I authorize NSEUS to deposit the payment of any Bonuses to my account at the financial institution designated by me. This authorization will remain in full force and effect until (i) NSEUS has received written notice from me of my withdrawal from the direct deposit program, and (ii) NSEUS has a reasonable opportunity to make such a change pursuant to my notice. I understand that this authorization replaces any previous authorization and will remain in effect until NSEUS receives written notice of my withdrawal from the direct deposit program.
            | (b) I agree that I must notify NSEUS immediately (i) prior to changing or closing the above account, or (ii) if my financial institution changes my routing number or account number. Failure to notify NSEUS of account number changes may delay my receipt of Bonuses. If I change my financial institution and/or account number, I must fill out a new Direct Deposit Authorization Form and send it to NSEUS before I close my existing account.
            | (c) NSEUS will not be liable to me for failing to access my account or provide direct deposits to my account in a timely manner unless such failure or loss is a direct result of NSEUS’s gross negligence or intentional misconduct. NSEUS’s liability will not exceed the amount of the funds that would have otherwise been deposited.
            | C. International Sponsor Agreement
            | The International Sponsor Agreement (“ISA”) is between Nu Skin International, Inc. (“NSI”), a Utah corporation, 75 West Center Street, Provo, Utah 84601 and me. The ISA constitutes a separate agreement with NSI.
            | 1. ISA and Right to Sponsor Outside of the United States
            | Under this ISA, NSI grants to me the right to sponsor new distributors in other Authorized Countries outside of the United States. This ISA does not grant me the right to market Nu Skin Products or Nu Skin products and services registered in other Authorized Countries outside of the United States.
            | 2. Laws of Authorized Countries
            | I acknowledge that every Authorized Country may have specific laws and requirements applicable to me as a sponsor of Distributors in that Authorized Country, and I agree to comply with all laws, statutes and regulations of that Authorized Country, including but not limited to, all immigration, visa, and registration requirements.
            | 3. Product Purchases in an Authorized Country other than the United States
            | I agree that I may purchase Nu Skin products and services in an Authorized Country (other than the United States) only from NSEUS’s affiliated company designated as the exclusive wholesale distributor in that Authorized Country, and that such affiliated company may require me to execute a separate whole product purchase agreement. I further agree that (i) I may only purchase Nu Skin products and services in an Authorized Country (other than the United States) for personal use or to demonstrate to potential new distributors, and that I will not resell them, (ii) I have not, and will not, either directly or indirectly, sell or distribute any Nu Skin Products or other Nu Skin products or services registered in that Authorized Country, and (iii) I will comply with all applicable laws regarding the purchase of Nu Skin products and services in an Authorized Country.
            | D. Mandatory and Binding Arbitration Agreement
            | This Mandatory and Binding Arbitration Agreement is between NSEUS, NSI and me.
            | 1. THIS CONTRACT IS SUBJECT TO ARBITRATION. UTAH WILL BE THE EXCLUSIVE VENUE FOR ARBITRATION OR ANY OTHER RESOLUTION OF ANY DISPUTES ARISING UNDER OR RELATED TO THIS CONTRACT. The place of origin of this Contract is the State of Utah, USA, and it will be governed by, construed in accordance with, and interpreted pursuant to the laws of Utah, without giving effect to its rules regarding choice of laws. The exclusive venue for any and all Disputes will be in Salt Lake County, Utah. I consent to the personal jurisdiction of any courts within the State of Utah and waive any objection to improper venue.
            | 2. I agree that any Dispute will be resolved and settled in accordance with and pursuant to the terms and conditions of this Contract, and by the rules and procedures set forth in Chapter 7 (Arbitration) of the Policies and Procedures or may be viewed online in the My Office section of a company web site. The arbitration proceedings will be conducted in Salt Lake City, Utah. The arbitration will be conducted in the English language, but at the request and expense of a party, documents and testimony will be translated into another language. One arbitrator will be appointed to hear and decide disputes, which arbitrator will be selected by mutual consent of both parties. The parties will each bear their own costs and expenses and an equal share of the (i) cost of the arbitrator and (ii) administrative fees of arbitration. Neither the parties nor the arbitrator may disclose the existence, content, or results of any arbitration without the prior written consent of both parties. Judgment on any award rendered by the arbitrator may be entered in any court having jurisdiction.
            | 3. A “Dispute” is defined as any and all past, present or future claims, disputes, causes of action or complaints, whether based in contract, tort, statute, law, product liability, equity, or any other cause of action, (i) arising under or related to this Contract, (ii) between other Distributors and me arising out of or related to a Distributorship, or our business relationships as independent contractors of the Nu Skin, (iii) between Nu Skin and me, (iv) related to Nu Skin or its past or present affiliated entities, their owners, directors, officers, employees, investors, or vendors, (v) related to the Nu Skin Products, (vi) regarding Nu Skin’s resolution of any other matter that impacts my Distributorship, or that arises out of or is related to the Company’s business, including my disagreement with Nu Skin’s disciplinary actions or interpretation of the Contract.
            | 4. I agree to accept and be bound by thIS Arbitration Agreement if I access any NU SKIN web site, and use the information therein, or by the purchase of any Nu Skin Products made available through said web sites, or the purchase of any products from NSEUS, or if I receive a Bonus.
            | E. Miscellaneous Provisions--Representations and Warranties; Personal Information; Acceptance; Indemnity and Limitation of Liability
            | 1. Representations and Warranties
            | I represent and warrant that (a) I am authorized to enter this Contract and that I have met all legal requirements to enter into a valid contract in the United States; (b) when executed and delivered by me and accepted by NSEUS and NSI as described herein, the Contract constitutes a legal, valid and binding obligation; (c) the information provided by me in the Contract is accurate and complete and if I have provided any false or misleading information authorizes NSEUS or NSI, at its election, to declare the Contract void from its inception; (d) the social security number or federal tax identification number provided in this Distributor Agreement is my correct tax payer identification number for United States income tax purposes; (e) I, if an individual, am a United States citizen or a legal resident of the United States and have the legal right to act as a Distributor in the United States, or, if a business entity, such as a corporation, partnership, limited liability company, or any other form of business organization, formed in the United States, it is legally formed under the laws of the state in which it was organized and that each member of the business entity has proper legal authorization to conduct business in the United States; and (f) neither I nor my partner/spouse (or if a corporation or other business organization, then any participant therein who is or should be listed on the Business Entity Form) have been engaged in Business Activity in another Distributorship in the six months (one year in the case of those having held an executive equivalent or higher pin-title under the Sales Compensation Plan) immediately preceding my sign up under my Sponsor identified in the Distributor Agreement.
            | 2. Authorization to Transfer Personal Information
            | In order for Nu Skin to provide support for my Distributorship, I authorize Nu Skin to transfer and disclose personal and/or confidential information, which (a) I have provided to Nu Skin in connection with my Distributorship and Downline Organization, or (b) that has been developed as a result of my activity as a Distributor, to (i) its parent and affiliated companies, (ii) and to my Nu Skin independent upline distributors when necessary to ensure proper upline support, and (iii) to applicable government agencies or regulatory bodies if required by law. I further authorize Nu Skin to use my personal information for distributor recognition and marketing materials.
            | 3. Acceptance of Contract by NSEUS and NSI
            | The effective date of the Distributor Agreement and ISA will be the date it is accepted by NSEUS and NSI, which will be (i) the date that I execute the Distributor Agreement and ISA electronically via the company’s Internet sign-up procedure and it is received and accepted, (ii) the date that an original hard copy of this agreement is received and accepted and a computer record is made of the account, or (iii) the date a temporary account is set up, and in the discretion or NSEUS and NSI, my subsequent actions indicate an ongoing intent to pursue the business. The temporary account may be terminated by either NSEUS or NSI, at its discretion, if an original hard copy of this agreement is not received and accepted by NSEUS and NSI within thirty (30) days from the date a temporary account is set up.
            | 4. Indemnity and Limitation of Liability
            | (a) Indemnity
            | I will indemnify and hold Nu Skin, and each of their shareholders, officers, directors and employees harmless from and against any claim, demand, liability, loss, action, causes of action, costs, or expenses, including, but not limited to, reasonable attorney’s fees, resulting or arising from, directly or indirectly, any acts or omissions by me in conducting my independent Nu Skin business, including without limitation, breach of representations and warranties, material breach of the Contract and other agreements between the parties, or any other claims or causes of action.
            | (b) Limitation of Liability
            | I agree that Nu Skin will not be liable for any special, indirect, direct, incidental, punitive, or consequential damages, including loss of profits, arising from or related to the breach of the Contract or other agreement between the parties. I agree that the entire liability of Nu Skin for any claim whatsoever related to my relationship with Nu Skin, including but not limited to any cause of action arising in contract, tort, or equity, will be limited to the cost of Nu Skin Products that I have purchased from NSEUS.
            | I have previously reviewed the Contract, or agree, before conducting any Distributor activity, to do so online at www.policiesandprocedures.us. If I refuse to follow any provision of the Contract, I agree to notify NSEUS, in writing, and cancel my Distributorship. If cancelled within the next thirty days, I will receive a refund for products and materials returned in accordance with Paragraph 5 of the Distributor Agreement.
            | I understand that the only required purchase to become a Distributor is the non-commissionable, not-for-profit Business Portfolio not exceeding $25, plus state sales tax, which contains information about the opportunity, products and forms. I understand that the purchase of any Nu Skin Product, including Product Packages (Step 2) and Automatic Delivery Rewards (Step 3), is optional and is not required to become a Distributor; I understand that if I purchase a Product Package, I will separately receive a free Business Portfolio and need not purchase it.
            | If I have elected to participate in the Automatic Delivery Rewards Program, then subject to the terms and conditions of this Contract, I agree that I will (i) receive the quantities of Nu Skin Products I have selected, and (ii) pay for them by the method I have selected.
            | I certify that I am 18 years old and legally able to enter into this Contract (which includes the Binding and Mandatory Arbitration Agreement), and agree to be bound by the terms and conditions of the Contract..
      .row.Agreement-margin
        .col-lg-8.col-md-7.col-sm-12
          p
            | Once you have reviewed the Policies, and if you agree to abide by them, please click the "I agree" box located below and continue with your application to become an independent distributor. PLEASE NOTE THAT BY CLICKING "I AGREE" YOU INDICATE THAT YOU HAVE READ AND UNDERSTAND THE POLICIES, AND AGREE TO BE BOUND BY THEM.
        .col-sm-12.col-md-5.col-lg-4.center          
            button.btn.btn-primary.custom-button I AGREE, CREATE ACCOUNT
