@import "../../../../src/stylesheets/partials/variables.scss";
.panel {
    background-color: $brand-primary;
}


/******* Terms and Conditions *********/

.distributor-avatar {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.terms-container .carousel-inner > .item {
    -webkit-transition: 0.2s ease-in-out left;
    -moz-transition: 0.2s ease-in-out left;
    -o-transition: 0.2s ease-in-out left;
    transition: 0.2s ease-in-out left;
}

.terms-container .carousel-inner img {
    margin: 0 auto;
}

.terms-container #outer {
    background-color: $white-lighter;
    padding: 1em;
}

.terms-container #inner {
    color: black;
    font-weight: $proxima-semibold;
    height: 6.250em;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: $gray-lightest;
}

.terms-container .button {
    background-color: $brand-primary;
    border: none;
    color: white;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 0.250em 0.125em;
    cursor: pointer;
    width: 17.250em;
    word-wrap: true;
}

.terms-container .Agreement-margin {
    margin-top: 20px;
}

.terms-container .custom-button {
    min-width: 276px;
    max-width: 276px;
}
.terms-container{
  ::-webkit-scrollbar {
    width: 0.375em;
    border-bottom: 1px solid #eee; 
    border-top: 1px solid #eee;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.313em;
    background-color: $gray-light;
  }
  ::-webkit-scrollbar-track {
    background-color:$gray-lightest;
  }
}
.back-button {
    height: 20px;
    width: 10px;
    background: url('../../../../src/assets/images/css/ic-arrow-left.svg') no-repeat;
    background-size: 100%;
    content: '';
    margin-top:0.5em;
    cursor:pointer;
}
.navigate-back{
    padding-left:1em;
    color:$gray-darker;
    text-decoration: none;
}
@media screen and (min-width: 1024px) {
    .terms-container {
        margin-left: 6em;
        margin-right: 8em;
    }
}

@media screen and (min-width: 360px) {
    .terms-container {
        margin-left: 1em;
        margin-right: 1em;
    }
}


/******* Terms and Conditions *********/