.pdp-productusage-container.container-fluid.no-gutter
	.product-content-container
		.product-content-wrapper
			#accordionform
				.pdp-accordion-wrapper
					#accordion.panel-group(role='tablist', aria-multiselectable='true')
							.panel.panel-default.col-sm-12.m-b-1
								#product-usage-guide.panel-heading(role='tab')
									h4.panel-title.col-lg-12.no-gutter
										button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#productguide', aria-expanded='true', aria-controls='productguide')
											.col-sm-12.no-gutter
												span.pdp-header Header Text
								#productguide.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='product-usage-guide', aria-expanded='false', style='height: 100px;')
										.panel-body
											.col-sm-12.col-lg-6.list-pane.no-gutter
												.embed-responsive.embed-responsive-16by9
													video.embed-responsive-item(id='video1', ng-src='{{productGuideCtrl.productData.videoURL}}', ng-click='productGuideCtrl.togglePlay()', ui-event="{ended:'productGuideCtrl.video()'}")
														source(type='video/mp4')
														|                   Your browser doesn't support HTML5 video.
													.video-btn
														button#bigPlayButton.btn.btn-primary.play(ng-hide='productGuideCtrl.videoPlaying', ng-click='productGuideCtrl.togglePlay()')
															span Play
												.testimonial-video-foot.col-sm-12.reset
													.video-desc.col-sm-8.reset
														| {{productGuideCtrl.productData.videoDesc}}
													.video-duration.col-sm-4.reset {{productGuideCtrl.productData.videoDuration}}
											.col-sm-12.col-md-12
											.col-sm-12.col-md-12.col-lg-6.m-b-0
												.row
													.col-sm-12.list-pane.no-gutter
														.pdp-cell-text Morning
													.col-sm-12.m-t-1.no-gutter
														p Step 1: Lorem ipsum
														p Step 2: Lorem ipsum
														p Step 3: Lorem ipsum
														p Step 4: Lorem ipsum
											.col-sm-12.col-md-6
												.row
													.col-sm-12.list-pane.no-gutter.m-b-0
														.pdp-cell-text Night
													.col-sm-12.m-t-1.no-gutter
														p Step 1: Lorem ipsum
														p Step 2: Lorem ipsum
														p Step 3: Lorem ipsum
														p Step 4: Lorem ipsum
											.col-sm-12.m-t-2.no-gutter
												.pdp-cell-text Lorem ipsum dolor sit amet
											.col-sm-12.no-gutter.product-margin.m-b-0
													p Step 1: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
													p Step 2: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
													p Step 3: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
													p Step 4: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
													p Step 5: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
													p Step 6: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
											.col-sm-12.m-t-2.no-gutter
												.pdp-cell-text Note: Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium
