@import "../../../../stylesheets/partials/variables";
.pdp-productusage-container {
    .panel-group{
        margin-top: 1.2rem;
    }
    .pdp-accordion-wrapper {
        width: 49.875em;
        display: table;
        margin: 0 auto;
    }
    #accordionform {
        background: $white;
        padding: 0 1.375em;
        .panel {
            padding: 1em 0 0;
        }
    }
    #accordion {
        border-top: 1px solid $gray-light;
    }
    .pdp-header {
        font-weight: $proxima-thin;
        color: $brand-primary;
    }
    .pdp-cell-text {
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.4;
    }
    .pdp-cell-data {
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        color: $gray-fader;
    }
    .pdp-content-wrapper {
        background-color: $white;
        margin-bottom: 0.75rem;
        padding: 0.625rem;
    }
    .pdp-content-wrapper h3 {
        text-transform: none;
        margin-top: 0.5rem;
    }
    .pdp-content-wrapper #accordionform {
        padding: 0;
        background: none;
        opacity: 1;
        transition: all 0.75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    }
    .list-pane {
        margin-top: 2.5em;
        padding: 0px;
        width: 27.25rem;
    }
    .reset {
        margin: 0;
        padding: 0;
    }
    .testimonial-video-foot {
        padding-top: 0.438em;
    }
    .product-margin {
        margin-top: 0.750em;
    }
    .video-desc {
        color: $gray-chateau;
        text-align: left;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.5;
    }
    .video-desc span {
        color: $gray-chateau;
        text-align: left;
        font-size: 0.8rem;
        font-weight: $proxima-semibold;
        line-height: 1.85;
    }
    .video-duration {
        color: $gray-chateau;
        text-align: right;
        font-size: 0.8rem;
        font-weight: $proxima-light;
        line-height: 1.85;
    }
    h3 {
        text-transform: none;
    }
    span {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 375px) {
        .video-desc {
            float: left;
            width: 66.66%;
        }
        .video-duration {
            float: left;
            width: 33.33%;
        }

        .panel-group{
            margin-top: 1.2rem;
        }
        .video-btn.without-controls {
            background : $gray-cc;
        }
        #bigPlayButton {
            height: 4.5rem;
            width: 4.5rem;
            position: absolute;
            left: calc(50% - 2.25rem);
            top: calc(50% - 2.25rem);
        }

        #bigPlayButton::before {
            height: 2.3125rem;
            width: 2.0625rem;
            position: relative;
            left: 4px;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      #accordionform {
        padding: 0 8.375em;
      }
      .pdp-accordion-wrapper {
          width: 100%;
          padding-bottom: 0;
      }
        .panel-group{
            margin-top: 1.2rem;
        }
      .video-btn.without-controls {
             background : $gray-cc;
        }

    }
    @media (min-width: 1024px) and (max-width: 1439px) {
        .pdp-accordion-wrapper {
          width: 55.655em;
          padding: 0 2.375em 0.7em;
        }
    }
    @media (min-width: 1440px) {
        .pdp-accordion-wrapper {
          width: 55.655em;
          padding: 0 2.375em 0.7em;
        }
    }
    @media(max-width: 767px) {
        .pdp-accordion-wrapper {
            width: 100%;
        }
        .panel-group{
            margin-top: 1.2rem;
        }
        .video-btn.without-controls {
            background : $gray-cc;
        }
        #bigPlayButton {
            height: 4.5rem;
            width: 4.5rem;
            position: absolute;
            left: calc(50% - 2.25rem);
            top: calc(50% - 2.25rem);
        }

        #bigPlayButton::before {
            height: 2.3125rem;
            width: 2.0625rem;
            position: relative;
            left: 4px;
        }
        .list-pane {
            width: 20.625rem;
        }
    }
}
