@import "../../../../src/stylesheets/partials/variables.scss";

.welcome-on-board {
  .welcome-on-board-banner{
    width: 54.625em;
    height: 13.25em;
    margin: 0 auto;
  }
  .welcome-on-board-title{
    width: 100%;
    height: 1.5em;
    margin: 1em auto 0.5em;
    font-size: 1.5rem;
  }
  #bigPlayButton {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    height: 3.75em;
    width: 3.75em;
    margin: 0;
    padding: 0;
    position: absolute;
    left: calc(50% - 1.875em);
    top: calc(50% - 1.875em);
    z-index: 10;
    background: transparent;
    border: none;
  }
  #bigPlayButton span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 0.0625em;
    width: 0.0625em;
    margin: -0.0625em;
    padding: 0;
    border: 0;
  }
  #bigPlayButton::before {
      content: '';
      display: block;
      height: 2rem;
      width: 2rem;
      background: url("../../../../src/assets/images/css/ic-play-new.svg") no-repeat;
      background-size: 100%;
      margin: 0 auto;
      position: relative;
      left: 0.1875em;
      -webkit-transition: .5s all;
      transition: .5s all;
  }
  .things-to-get-started{
    width: 20.25em;
    p{
      color: $white;
      text-align: center;
    }
    h2{
      color: $white;
      text-align: center;
    }
  }
  .short-message {
    padding: 1.2em 0 0.625em 0;
    line-height: 1.31;
    color: $gray-darker;
    p{
      margin-bottom: 0;
    }
  }
  .close-video{
    padding: 0.8em 0 1.5em 0;
    font-size: 0.8125rem;
    font-weight: $proxima-semibold;
    line-height: 1.31;
    letter-spacing: 0.03125em;
    color: $button-blue;
    cursor: pointer;
  }
  .bg-cayman {
    background: $cayman-webkit;
    background: $cayman;
    padding: 1em 4.625em 1.875em;
  }
  .card-block{
    padding: 0;
    width: 100%;
    height: 11.875em;
  }
  .home-page-content {
    width: 9.9125em;
    height: 9.9125em;
    opacity: 0.5;
    border-radius: 0.375em;
    background-color: rgba(255, 255, 255, 0.25);
    border: solid 0.0625em $white;
    text-align: center;
    padding-top: 2.25em;
    margin-top: 4.75em;
    h3{
      opacity: 0.51;
      font-size: 1.875em;
      font-weight: $proxima-semibold;
      line-height: 0.93;
      letter-spacing: 0.1875em;
      color: $white;
    }
    p{
      opacity: 0.51;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 1.35;
      letter-spacing: 0.0625em;
      color: $white;
    }
  }
  .short-message-section{
    text-align: left;
    width: 41.875em;
    margin: 0 auto;
  }
  .banner-video-clock{
    width: 6.25em;
    height: 1.5em;
    background: url("../../../../src/assets/images/css/clock-small.png") no-repeat;
    font-size: 0.875rem;
    font-weight: $proxima-light;
    line-height: 1.70;
    color: $gray;
    padding-left: 1.875em;
    padding-bottom: 0.5em;
  }
  .cards-dismissed {
    text-align: center;
    width: 100%;
    h2 {
      font-size: 1.5rem;
      font-weight: $proxima-thin;
      line-height: 1.17;
      color: $white;
    }
    p {
      font-size: 1em;
      font-weight: $proxima-light;
      line-height: 1.31;
      color: $white;
    }
  }
  .cssSlideUp {
    transition: .5s linear all;
    opacity: 1;
  }
  .cssSlideUp.ng-hide {
    opacity: 0;
  }
  .cards-component{
    width: 20.25em;
    height: 11.875em;
    #slickCard{
      height: 11.875em;
    }
    .card{
      height: 11.875em;
      margin-bottom: 0;
    }
    .slick-dots {
      bottom: -1.9rem;
    }
            .slick-dots li {
                margin: 0 0.4rem;
            }
  }
  .carousel.carousel-primary .slick-prev::before {
        background: url("../../../../src/assets/images/css/ic-arrow-left-white.svg") no-repeat;
  }
  .carousel.carousel-primary .slick-next::before {
        background: url("../../../../src/assets/images/css/ic-arrow-right-white.svg") no-repeat;
  }
  .dist-auth-cards {
    .bg-cayman {
      #show-suggestions {
        .cards-component {
          min-height: 13.750rem;
        }
      }
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px){
    .home-page-content {
      display: none;
    }
    .welcome-on-board-title{
        width: 12.84em;
        height: 3.5em;
    }
    .bg-cayman{
      padding-left: 2em;
      padding-right: 2em;
    }
    .short-message {
      p{
        width: 100%;
        font-size: 1.5rem;
        font-weight: $proxima-thin;
      }
    }
    .welcome-on-board-banner{
      width: 100%;
      height: 100%;
    }
    .bg-cayman {
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
    .short-message-section{
      width: 18.5em;
      padding: 0;
    }
    .things-to-get-started{
      margin: 0 auto;
    }
    .carousel.carousel-primary {
                .slick-prev {
                    left: -1.3rem;
                }
                .slick-next {
                    right: -1.3rem;
                }
    }
    .dist-auth-cards {
      .bg-cayman.bg-cayman-wrapper {
        padding: 0;
      }
    }
    .dist-auth-cards {
      .bg-cayman.bg-cayman-wrapper {
        .suggestions-heading {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
    .dist-auth-cards {
      .bg-cayman.bg-cayman-wrapper {
        #show-suggestions {
          .panel-body {
            > div:first-child {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .welcome-on-board-title{
        width: 100%;
    }
    .welcome-on-board-banner{
      width: 48em;
      height: 27em;
    }
    .short-message-section{
      width: 22.125em;
    }
    .bg-cayman{
      padding-left: 2.25em;
    }
    .carousel.carousel-primary {
                .slick-prev {
                    left: -1.7rem;
                }
                .slick-next {
                    right: -1.7rem;
                }
    }
  }
  @media screen and (min-width: 1024px){
    .welcome-on-board-banner{
      width: 54.625em;
      height: 30.625em;
    }
    .carousel.carousel-primary {
                .slick-prev {
                    left: -2.2rem;
                }
                .slick-next {
                    right: -2.2rem;
                }
    }
    .dist-auth-cards {
      .bg-cayman.bg-cayman-wrapper {
        #show-suggestions {
          .panel-body {
            > div:first-child {
              padding-left: 2.5rem;
            }
          }
        }
      }
    }
  }
}
