.welcome-on-board.col-sm-12
  .row
    div.cssSlideUp(ng-hide='!onBoard.videoBannerShow')
      h2.center.welcome-on-board-title Congrats {{onBoard.staticVal.firstName}} and welcome to Nu Skin!
      .welcome-on-board-banner
        .embed-responsive.embed-responsive-16by9
          video#video-1.embed-responsive-item(ng-src='{{onBoard.staticVal.bannerVideoPath}}', ng-click='onBoard.togglePlay()', ui-event="{ended:'onBoard.onVideoEnd($event)'}")
            source(type='video/mp4')
            |   Your browser doesn't support HTML5 video.
          .video-btn
            button#bigPlayButton.btn.btn-primary.play(ng-hide='onBoard.videoPlaying', ng-click='onBoard.togglePlay()')
              span Play
      .short-message-section
        .short-message
          p {{onBoard.staticVal.welcomeMessage}}
        .banner-video-clock 30 SEC
      center.close-video(ng-click="onBoard.closeVideo('close');") CLOSE
      .clearfix.visible-sm
    div.cssSlideUp(ng-hide='onBoard.videoBannerShow')
      .col-sm-12
        center.short-message
          p {{onBoard.staticVal.closeMessage}} {{onBoard.staticVal.firstName}}
        center.close-video(ng-click="onBoard.closeVideo('open');") VIEW WELCOME VIDEO
      .clearfix.visible-sm
    .clearfix.visible-sm
    .bg-cayman
      .col-lg-8.col-md-8.col-sm-12.no-gutter
        .things-to-get-started
          div(ng-show='!onBoard.cardDismissShow')
            h2 {{onBoard.staticVal.cardsStartUpMessage}}
            p {{onBoard.cardsCount}} {{onBoard.staticVal.cardsIdeasForToday}}
          div(ng-show='onBoard.cardDismissShow')
            h2 Well Done!
            p That's all for now. We'll have more business-building ideas later!
          .cards-dismissed(ng-show='!onBoard.cardDismissShow')
            cards-component(to-do-cards="onBoard.toDoCards", show="onBoard.cardDismissShow", cards-count="onBoard.cardsCount",dots="true",arrows="true")
      .col-lg-4.col-md-4
        .home-page-content
          h3 FPO
          p Home Package Content
      .clearfix.visible-sm
