@import "../../../../src/stylesheets/partials/variables.scss";

.dist-auth-cards {
    .bg-cayman {
        background: linear-gradient(to top, #17cbcc, #08a0ba);
        padding: 1.5em;
        overflow: auto;
    }
    
    #accordion {
        overflow: hidden;
        .panel {
            background-color: transparent;
            .panel-title {
                margin-bottom: 0;
                .btn {
                    text-align: left;
                    margin-bottom: 0;
                    background-color: transparent;
                    width: 100%;
                    padding: 0;
                    position: relative;
                    .suggestions-heading {
                        font-size: 1.375rem;
                        font-weight: $proxima-thin;
                        line-height: 1.18;
                        letter-spacing: 0.4px;
                        color: $white;
                        text-transform: none;
                    }
                }
                .btn.collapsed:after {
                    transform: rotate(180deg);
                }
                .btn:after {
                    content: '';
                    background: url(../../../../src/assets/images/css/ic-arrow-up.svg) center no-repeat;
                    height: 1rem;
                    width: 1rem;
                    transition: all .2s;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0.75rem;
                    border: 1px solid $white;
                    border-radius: 50%;
                }
            }
            .panel-body {
                overflow: auto;
                .slick-slide figure {
                    margin: 0;
                }
                .cards-component {
                    width: 20.3125rem;
                    margin-top: 1.25em;
                    .card {
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        .card-block{
                            padding: 0.8125em;
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .suggestions-dismissed {
        p {
            width: 20.3125em;
            font-size: 1em;
            font-weight: $proxima-light;
            line-height: 1.38;
            color: $white;
        }
    }
    .cards-component-section {
        .carousel.carousel-primary {
            .slick-prev::before {
                background: url('../../../../src/assets/images/css/ic-arrow-left-white.svg') no-repeat;
            }
            .slick-next::before {
                background: url('../../../../src/assets/images/css/ic-arrow-right-white.svg') no-repeat;
            }
        }
    }
}
.distributorAuthenticatedSuggestions{
    .dist-auth-cards {
        #accordion{
            .panel{
                .panel-body {
                    .cards-component {
                        width: 19.8rem;
                        margin-top: 1.25em;
                        min-height: 14rem;
                    }
                }
            }
        }
        .slick-dots {
          bottom: -1.9rem;
        }
            .slick-dots li {
                margin: 0 0.4rem;
            }                  
        .carousel.carousel-primary .slick-prev::before {
            background: url("../../../../src/assets/images/css/ic-arrow-left-white.svg") no-repeat;
        }      
        .carousel.carousel-primary .slick-next::before {
            background: url("../../../../src/assets/images/css/ic-arrow-right-white.svg") no-repeat;
        }
    }
}


@media all and (min-width: 360px) and (max-width: 767px) {
    .dist-auth-cards {
        #show-suggestions {
            margin-bottom: 0.25em;
        }
        .quick-links-container {
            display: none;
        }
        .cards-component {
            margin-left: auto;
            margin-right: auto;
        }
        .suggestions-dismissed {
            margin: 4.75em auto 6em;
            float: none;
            text-align: center;
            p {
                margin: auto;
            }
        }
    }
    
    .distributorAuthenticatedSuggestions{
        .dist-auth-cards {
            #accordion {
                .panel {
                    .panel-title {
                        padding-top: 7px;
                        margin-right: 5px;
                    }
                }
            }
          .bg-cayman.bg-cayman-wrapper, .bg-cayman {
            padding: 0;
            .suggestions-heading {
                padding-left: 1.5rem;
            }
          }
        }
        .carousel.carousel-primary {
            .slick-prev {
                left: -1.7rem;
            }
            .slick-next {
                right: -1.7rem;
            }
        }
    }                  
}

@media screen and (min-width:768px) and (max-width: 1023px){
    .dist-auth-cards {
        #show-suggestions {
            margin-bottom: 0.75em;
        }
        .quick-links-container {
            display: none;
        }
        .cards-component {
            margin-left: auto;
            margin-right: auto;
        }
        .suggestions-dismissed {
            margin: 4.75em auto 6.25em;
            float: none;
            text-align: center;
            p {
                margin: auto;
            }
        }
    }
    .distributorAuthenticatedSuggestions{
        .dist-auth-cards {
            .carousel.carousel-primary {
                .slick-prev {
                    left: -1.7rem;
                }
                .slick-next {
                    right: -1.7rem;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px){ 
    .dist-auth-cards {
        #accordion {
            padding-left: 5.5em;  
        }
        .suggestions-dismissed {
            margin: 1.625em auto;
        }
    }
    .distributorAuthenticatedSuggestions{
        .dist-auth-cards {
          .bg-cayman.bg-cayman-wrapper, .bg-cayman {
            #show-suggestions {
              .panel-body {
                > div:first-child {
                  padding-left: 2.5rem;
                } 
              }
            }
          }
        }
        .carousel.carousel-primary {
            .slick-prev {
                left: -2.2rem;
            }
            .slick-next {
                right: -2.2rem;
            }
        }
    }
    .distributorAuthenticatedSuggestions{
        .dist-auth-cards {
          .bg-cayman.bg-cayman-wrapper, .bg-cayman {
            .suggestions-heading {
                padding-left: 2.188rem;
            }
          }
        }
    } 
}

@media screen and (min-width:1440px){
    .dist-auth-cards {
        #accordion {
            padding-left: 8.5em;
        }
        #show-suggestions {
            margin-bottom: 2em;
        }
        .suggestions-dismissed {
            margin: 1.625em auto;
        }
    }
    .distributorAuthenticatedSuggestions{
        .carousel.carousel-primary {
                    .slick-prev {
                        left: -2.2rem;
                    }
                    .slick-next {
                        right: -2.2rem;
                    }
        }
        .dist-auth-cards {
            .bg-cayman.bg-cayman-wrapper, .bg-cayman  {
                .panel-body {
                    > div:first-child {
                        padding-left: 2.5rem;
                    } 
                }
            }
        }
    }
    .distributorAuthenticatedSuggestions{
        .dist-auth-cards {
          .bg-cayman.bg-cayman-wrapper, .bg-cayman {
            .suggestions-heading {
                padding-left: 2.188rem;
            }
          }
        }
    } 
}
