.distributorAuthenticatedSuggestions
  .dist-auth-cards.col-sm-12.no-gutter
    .bg-cayman
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default.col-sm-12.no-gutter
          #show-suggestions-heading.panel-heading(role='tab')
            h4.panel-title
              button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#show-suggestions', aria-expanded='true', aria-controls='show-suggestions', ng-click="ctrl.handleAccordionHeight()")
                .suggestions-heading Today’s Suggestions
          #show-suggestions.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='show-suggestions-heading', aria-expanded='true')
            .panel-body
              .col-sm-12.col-lg-5.col-xl-4.no-gutter.cards-component-section(ng-if='!ctrl.cardDismissShow')
                cards-component(to-do-cards='ctrl.toDoCards', show='ctrl.cardDismissShow', dots="true", arrows="true")
              .suggestions-dismissed.col-sm-12.col-lg-5.col-xl-4.no-gutter(ng-if='ctrl.cardDismissShow')
                p Well done! That’s all for now. We’ll have more business building ideas later!
              .col-lg-7.col-xl-8.quick-links-container.no-gutter
                quick-links-component(quick-links='ctrl.quickLinks.data', config='ctrl.quickLinks.config')
.clearfix.visible-sm
