.modal-body
    .col-sm-12.pointer.no-gutter
        .btn-lg-close.pull-right(ng-click='cancel()')
    .m-b-2 {{modalParams.description}}
    .m-b-2
        div
            button.btn.btn-primary.m-b-1(ng-click='ok()') {{modalParams.yesTitle}}
            button.btn.btn-primary-outline.fullWidth.font-weight-normal(ng-click='cancel()') {{modalParams.noTitle}}
