@import "../../../../stylesheets/partials/variables";
.card-container {
    width: 55rem;
    border: solid 0.0625rem $gray-border;
    background-color: $white;
    margin: 1.25rem auto;
    position: relative;
    float: none;
    & .clear-fix {
        clear: both;
    }
    .order-card-header {
        width: 100%;
        display: inline-block;
        padding: 1.9375rem 2.5rem 0.875rem 2.5rem;
        & .row-eq-height {
        	display: -webkit-box;
        	display: -webkit-flex;
        	display: -ms-flexbox;
            display: flex;
            & > div {
                align-items: center;
                display: flex;
            }
            .frequency-container{
            	& span {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    font-size: 0.875rem;
                    font-weight: 300;
                    color: $gray-faded;
                    &.frequency {
                        font-size: 0.9375rem;
                        font-weight: 300;
                        line-height: 1.2;
                        color: $gray73;
                    }
                }
            }
            & .purchase-container{
            	& span{
            		width: 100%;
            	}
            }
            & .pull-right {
            	&.psv-container{
            		justify-content: flex-end;
            	}
            	&.justify-left{
        		    justify-content: flex-start;
            	}
                & span {
                    display: inline-block;
                    text-align: right;
                    position: relative;
                    font-size: 0.875rem;
                    font-weight: 300;
                    color: $gray-faded;
                }
                & .totalPSV {
		            font-size: 0.8125rem;
		            line-height: 1.2;
		            letter-spacing: 0.0.3125rem;
		            color: $gray-dark;
		            padding-right: 0.375rem;
		            font-weight: normal;

		            & + span {
		                font-size: 0.8125rem;
		                font-weight: 300;
		                line-height: 1.2;
		                color: $gray-dark;
		            }
		        }
            }
        }
        & .icn-recurring {
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            background: url(../../../../../src/assets/images/css/icn-recurring.svg) center no-repeat;
            background-size: 100%;
            position: relative;
            margin-right: 0.6875em;
        }
        & .icn-recurring + h1, .order-type {
            display: inline-block;
            position: relative;
            font-size: 1.125rem;
            font-weight: 600;
            color: $gray-dark;
            margin: 0rem;
            margin-right: 1.5rem;
            text-transform: none;
        }

        & .padding-10{
        	padding-top: 0.625rem;
        } 

        & .orderNumber {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.3;
            text-align: center;
            color: $brand-primary;
            text-decoration: underline;
        }
    }
    .card-body {
        padding: 0rem 2.5rem 1.25rem 2.5rem;
        & .shopping-bag {
            & .bag-desc {
                overflow: hidden;
                & h3 {
                    font-size: 1.375rem;
                    font-weight: 100;
                    line-height: 1.5;
                    color: $gray-dark;
                    margin-bottom: 0rem;
                    float: left;
                    display: block;
                }
                & span {
                    display: block;
                    float: right;
                    font-size: 1.375rem;
                    font-weight: 300;
                    line-height: 1.5;
                    color: $gray-dark;
                    margin-right: 0.4375rem;
                }
            }
            & .imgs-container {
                overflow: hidden;
                & .img-wrapper {
                    width: 4.125rem;
                    height: 4.375rem;
                }
                & .row {
                    & > div {
                        padding-top: 1.125rem;
                        padding-bottom: 0.9375rem;
                        & .img-wrapper {
                            left: 0.9375rem;
                            position: relative;
                        }
                        &:nth-of-type(3n+1) {
                            .img-wrapper {
                                left: 0.3125rem;
                            }
                        }
                        &:nth-of-type(3n+3) {
                            .img-wrapper {
                                left: 1.5625rem;
                            }
                        }
                    }
                }
            }
        }
        & .shipmentDetails {
            padding-left: 1.875rem;

            & .radio {
                margin-bottom: 1.875rem;

                & input[type="radio"] {
	                cursor: pointer;
	                opacity: 0;
	                height: 100%;
	                width: 100%;
	                z-index: 1;
	                margin-left: 0;

	                & + label{
		                padding: 0 0 0 1.5em;
		                margin-bottom: 0;
	                	font-size: 0.8125rem;
						font-weight: 600;
						line-height: 1.2;
						letter-spacing: 0.0.3125rem;
						color: $gray-dark;

		                &::before{
			                position: relative;
			                top: 0.1875rem;
			                margin: 0 .5em 0 -1.5em;
			                content: '';
			                height: 1rem;
			                width: 1rem;
			                background: $white;
			                border: 0.1875rem solid $white;
			                box-shadow: 0rem 0rem 0rem 0.0625rem $gray-lighter;
			                border-radius: 50%;
			                display: inline-block;
			                transition: background-color .2s;
			            }
		            }

		            &:checked + label::before{
		                background: $brand-primary;
		            }
	            }
            }

            & .shipment-desc{
			    width: 100%;
    			padding-left: 1.4375rem;
				overflow: hidden;

            	& .ship-date{
					font-size: 0.8125rem;
					margin-right: 5px;
					font-weight: 300;
					line-height: 1.5;
					color: $gray-dark;
					float: left;
					display: block;
					margin-top: 0.1875rem; 
				}

				& .ship-date-value{
					font-size: 13px;
					font-weight: 300;
				}

				& .ship-status{
					font-size: 1.375rem;
					font-weight: 100;
					line-height: 1;
					color: $gray-dark;
					float: right;
					display: block;
                    max-width:  8.4375rem;
				}
            }

            .singleShipment {
            	& .shipment-desc{
            		padding-left:0;
            		padding-bottom: 6.5625rem; 
            	}

            	& strong{
            		font-size: 0.8125rem;
					font-weight: 600;
					line-height: 1.5;
					letter-spacing: 0.0.3125rem;
					color: $gray-black;
				    float: left;
				    display: block;
				    margin-top: 0.1875rem;
				    padding-left: 0.25rem;
            	}
            }

            & .button-container {
                & button {
                    width: 100%;
                    display: block;
                    position: relative;
                    cursor: pointer;

                    &.btn-blue {
                        border-radius: 0.1875rem;
                        background-color: $brand-primary;
                        border: none;
                        color: $white;
                    }
                    &.btn-white {
                        border-radius: 0.1875rem;
                        border: solid 0.0625rem $brand-primary;
                        color: $brand-primary;
                        background-color: $white;

                        &:hover,:active,:focus{
                            color: $white;
                            background-color: $brand-primary;
                            border-color: $brand-primary;
                        }

                        &:disabled{
                            border: solid 0.0625rem $brand-primary;
                            color: $brand-primary;
                            background-color: $white;                            
                        }
                    }
                }
            }
        }
    }

    .opacity-40{
        opacity: 0.4;
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
	.card-container {
		width: 23.4375em;
		margin: 0.5rem auto;
		& .order-card-header {
        	padding: 1.25rem 1.25rem 0.5625rem 1.25rem;
        	& .row-eq-height {
        		display: table;

        		& > div{
        			display: block;
        			width: 100%;
        		}

        		& .icn-recurring{
        			display: block;
        			float: left;
                    width: 0.9375rem;
                    height: 0.9375rem;
                    top: 0.8125rem;
        		}
        		& .icn-recurring + h1, .order-type {
        			float: left;
    				width: 80%;
    				margin-top: 0.25rem
        		}
        		& .pull-right{
        			float: left;
        			& span{
						text-align: left;
        			}
        		}
        		& .orderNumber{
				    float: left;
				    display: block;
				    width: 100%;
				    text-align: left;
				    margin-top: 0.1875rem;
				}
        	}
        	& .padding-10{
				padding-top: 0rem;
			}
        }
        & .card-body{
			padding: 0rem 1.25rem 0.6875em 1.25rem;
			& .row-eq-height {
        		display: table;

        		& > div{
        			display: block;
        			width: 100%;
        		}
        	}
        	& .shopping-bag {
	            & .bag-desc {
	            	padding-bottom: 0.3125rem;
	            }
	            & .imgs-container{
            		border-bottom: solid 0.0625rem $gray-border;

	            	& .row{
	            		max-height: 7.375rem;
	            		overflow: hidden;

	            		& > div{
							& .img-wrapper {
	                            left: 0.5625rem;
	                            position: relative;
	                        }
	                        &:nth-of-type(3n+1) {
	                            .img-wrapper {
	                                left: 0.5625rem;
	                            }
	                        }
	                        &:nth-of-type(3n+3) {
	                            .img-wrapper {
	                                left: 0.6875em;
	                            }
	                        }
	                    }
	            	}
	            }
	        }
	        & .shipmentDetails {
        	    padding-left: 0.9375rem;
        	    padding-top: 1.5rem;

        	    & .singleShipment {
        	    	& .shipment-desc{
						padding-bottom: 1.5625rem;
        	    	}
        	    }

        	    & button.btn-white{
        	    	margin-top: 1rem;
        	    }
	        }
		}
	}
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.card-container {
		width: 31.125em;
		margin: 0.75rem auto;
		& .order-card-header {
        	padding: 1.5625rem 2rem 0.5625rem 2rem;
        	& .row-eq-height {
        		display: table;

        		& > div{
        			display: block;
        			width: 100%;
        		}

        		& .icn-recurring{
        			display: block;
        			float: left;
        		}
        		& .icn-recurring + h1, .order-type {
        			float: left;
    				width: 80%;
    				margin-top: 0.25rem
        		}
        		& .pull-right{
        			float: left;
        			& span{
						text-align: left;
        			}
        		}
				& .orderNumber{
				    float: left;
				    display: block;
				    width: 100%;
				    text-align: left;
				    margin-top: 0.1875rem;
				}
        	}
        	& .padding-10{
				padding-top: 0rem;
			}
		}
		& .card-body{
			padding: 0rem 2rem 1.25rem 2rem;

			& .row-eq-height {
        		display: table;

        		& > div{
        			display: block;
        			width: 100%;
        		}
        	}
        	& .shopping-bag {
	            & .bag-desc {
	            	padding-bottom: 0.3125rem;
	            }
	            & .imgs-container{
            		border-bottom: solid 0.0625rem $gray-border;

	            	& .row{
	            		max-height: 7.375rem;
	            		overflow: hidden;

						& .col-sm-4{
							width: 25%;
						}
						& > div{
							& .img-wrapper {
	                            left: 0.375em;
	                            position: relative;
	                        }
	                        &:nth-of-type(3n+1) {
	                            .img-wrapper {
	                                left: 0.3125rem;
	                            }
	                        }
	                        &:nth-of-type(3n+3) {
	                            .img-wrapper {
	                                left: 0.5rem;
	                            }

	                            & + div{
	                            	.img-wrapper {
		                                left: 0.5rem;
		                            }
	                            }
	                        }
                        }
	            	}
	            }
	        }

	        & .shipmentDetails {
        	    padding-left: 0.9375rem;
        	    padding-top: 1.5rem;

        	    & .singleShipment {
        	    	& .shipment-desc{
						padding-bottom: 1.5625rem;
        	    	}
        	    }

        	    & button.btn-white{
        	    	margin-top: 1rem;
        	    }
	        }
		}
	}	
}
