.card-container(ng-repeat='item in ctrl.tileData')
  .order-card-header
    .row.row-eq-height
      .col-md-6.col-sm-12(ng-if="item.orderSummary.orderType != 'One Time Order'")
        span.icn-recurring
        h1 {{item.orderSummary.orderType}}
        span.orderNumber(ng-if="!ctrl.isUpcomingTab") 
          a(ng-href="#/orderdetail"){{'#'+item.orderSummary.orderNumber}}
      .col-md-6.col-sm-12(ng-if="item.orderSummary.orderType == 'One Time Order'")
        p.order-type {{item.orderSummary.orderType}}
        span.orderNumber 
          a(ng-href="#/orderdetail"){{'#'+item.orderSummary.orderNumber}}
      .col-md-6.col-sm-12.pull-right.purchase-container
        span Purchase on {{item.orderSummary.formattedPurchaseDate | date : "MMMM dd, yyyy"}}
    .row.row-eq-height
      .col-md-6.col-sm-12.frequency-container(ng-if="item.orderSummary.orderType != 'One Time Order'")
        span.frequency Frequency {{item.orderSummary.orderfrequency}}
      .col-md-6.col-sm-12.pull-right.psv-container(ng-class="{'justify-left' : (item.orderSummary.orderType == 'One Time Order'),'padding-10' : (item.orderSummary.orderType == 'One Time Order'),'opacity-40' : (ctrl.isUpcomingTab && item.orderSummary.isPaused)}")
        span.totalPSV TOTAL LOREM 
        span {{item.orderSummary.totalPSV}}
  .card-body
    .row.row-eq-height
      .col-md-6.col-sm-12.shopping-bag(ng-class="{'opacity-40' : (ctrl.isUpcomingTab && item.orderSummary.isPaused)}")
        div.bag-desc
          h3 Shopping Bag ({{item.bagItems.length}})
          span ${{item.orderSummary.bagTotal}}
        div.imgs-container
          div.row
            div.col-sm-4(ng-repeat='product in item.bagItems')
              .img-wrapper
                img(src='{{product.itemImage}}')
      .col-md-6.col-sm-12.shipmentDetails
        div.radio(ng-repeat='shipment in item.orderSummary.shipmentDetails',ng-if='item.orderSummary.shipmentDetails.length > 1', ng-init="item.shipmentStatus = item.orderSummary.shipmentDetails[0]['shipmentStatus']")
          input(type='radio',name='shipment{{item.orderSummary.orderNumber}}',id='shipment_{{item.orderSummary.orderNumber + ($index + 1)}}', ng-checked="$index == 0", ng-click="item.shipmentStatus = shipment.shipmentStatus")
          label(for='shipment{{$index + 1}}') SHIPMENT # {{$index + 1}}
          div.shipment-desc
            span.ship-date Shipdate {{shipment.formattedShipmentDate | date : "M/d/yy"}}
            span.ship-status {{shipment.shipmentStatus}}
        div.singleShipment(ng-repeat='shipment in item.orderSummary.shipmentDetails', ng-if='item.orderSummary.shipmentDetails.length <= 1')
          div.shipment-desc(ng-class="{'opacity-40' : (ctrl.isUpcomingTab && item.orderSummary.isPaused)}")
            span.ship-date Shipdate
            span.ship-date-value{{shipment.formattedShipmentDate | date : "M/d/yy"}}
            span.ship-status(ng-model="item.shipmentStatus", ng-init="item.shipmentStatus = shipment.shipmentStatus") {{shipment.shipmentStatus}}
        .button-container(ng-if="ctrl.isUpcomingTab == false")
          button.btn.btn-blue(ng-click="ctrl.redirect('/orderdetail');") REORDER
          button.btn.btn-white(ng-disabled="(item.shipmentStatus == 'PENDING')",ng-click="ctrl.redirect('/orderdetail');") TRACK
        .button-container(ng-if="ctrl.isUpcomingTab == true")
          button.btn.btn-blue(ng-bind="(item.orderSummary.isPaused) ? 'RESUME' : 'PAUSE'",ng-click="ctrl.togglePauseResume(item.orderSummary)")
          button.btn.btn-white(ng-click="ctrl.redirect('/orderdetail');") EDIT
