.footer-nav
    div.scroll-to-top-button#scroll-to-top(ng-click="footernav.backToTopClick()" ng-hide="footernav.loginSignupPage")
        backtotop
    div.footer-details(ng-hide="footernav.loginSignupPage")
        div.footer-name-logo-section.col-xl-4.col-sm-12(ng-show="footernav.isDistributor")
            div.distributor-info
                div.distributor-image
                    img.distributor-avatar.user-image(src='../../../../src/assets/images/css/avatar.png')
                div.distributor-details
                    p.distributor-detail-label {{footernav.distributorName}}
                    p.distributor-email-phone-label {{footernav.distributorEmail}}
                    p.distributor-email-phone-label {{footernav.distributorPhone}}
                div.social-icons-section-distributor
                    div.footer-social-icon.pull-left(ng-repeat="icon in footernav.socialIcons")
                        a(href='{{icon.icon_url}}')
                            img.inner-img(ng-src='{{icon.icon_img}}', alt='{{icon.icon_name}}')
                div.join-my-team-button-section
                    input.btn.btn-primary.btn-footer(type='Submit' value='JOIN MY TEAM')
        div.footer-become-a-distributor-section.col-xl-4.col-sm-12(ng-hide="footernav.isDistributor")
            div.become-a-distributor
                div.nuskin-logo-title.col-xl-12.col-md-6
                    img.nuskin-logo(src='../../../../src/assets/images/css/ic-deloittelogo-white.svg')
                div.become-a-distributor-button-section.col-xl-12.col-md-6
                    input.btn.btn-primary.btn-footer(type='Submit' value='BUTTON TEXT')
        div.footer-details-section.col-xl-8.col-sm-12.hidden-md-down
            div.detail-sub-section.col-md-3
                div.section-title
                    label.detail-title People
                div.section-links
                    p.footer-p
                        a.detail-link Our Leaders
                    p.footer-p
                        a.detail-link Deloitte Management
                    p.footer-p
                        a.detail-link Our Company
                    p.footer-p
                        a.detail-link Careers
                    p.footer-p
                        a.detail-link Investors
            div.detail-sub-section.col-md-3
                div.section-title
                    label.detail-title Culture
                div.section-links
                    p.footer-p
                        a.detail-link Our Committment
                    p.footer-p
                        a.detail-link Current Initiatives
                    p.footer-p
                        a.detail-link Get Involved
            div.detail-sub-section.col-md-3
                div.section-title
                    label.detail-title Opportunity
                div.section-links
                    p.footer-p
                        a.detail-link Perks
                    p.footer-p
                        a.detail-link Why Join Deloitte?
                    p.footer-p
                        a.detail-link Starter Kits
            div.detail-sub-section.col-md-3
                div.section-title
                    label.detail-title Contact Deloitte
                div.section-links
                    p.footer-p
                        a.detail-link Help
                    p.footer-p
                        a.detail-link Contact Information
                    p.footer-p
                        a.detail-link Online Support
                    p.footer-p
                        a.detail-link Refund Policy
              .col-md-12.no-gutter.connect-with-nuskin
                  label.detail-connect-with-nuskin CONNECT WITH DELOITTE
                  div.social-icons-section-details.clearfix
                      div.footer-social-icon.pull-left(ng-repeat="icon in footernav.socialIcons")
                          a(href='{{icon.icon_url}}')
                              img.inner-img(ng-src='{{icon.icon_img}}', alt='{{icon.icon_name}}')
        div.footer-details-section-accordion.col-sm-12.hidden-lg-up#accordionform
            #accordion.panel-group(role='tablist', aria-multiselectable='false')
                legend.accordion-legend
                div.panel.panel-default
                    #people-heading.panel-heading(role='tab')
                        h4.panel-title
                            button.btn.collapsed.btn-accordion(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#people', aria-expanded='false', aria-controls='people')
                                span.detail-title People
                    #people.panel-collapse.collapse(role='tabpanel', aria-labelledby='people-heading', aria-expanded='false')
                        .panel-body
                            div.section-links
                                p.footer-p
                                    a.detail-link Our Leaders
                                p.footer-p
                                    a.detail-link Management
                                p.footer-p
                                    a.detail-link Our Company
                                p.footer-p
                                    a.detail-link Careers
                                p.footer-p
                                    a.detail-link Investors
                            div.connect-with-nuskin
                                label.detail-connect-with-nuskin CONNECT WITH DELOITTE
                                div.social-icons-section-details
                                    div.footer-social-icon.pull-left(ng-repeat="icon in footernav.socialIcons")
                                        a(href='{{icon.icon_url}}')
                                            img.inner-img(ng-src='{{icon.icon_img}}', alt='{{icon.icon_name}}')
                legend.accordion-legend
                div.panel.panel-default
                    #culture-heading.panel-heading(role='tab')
                        h4.panel-title
                            button.btn.collapsed.btn-accordion(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#culture', aria-expanded='false', aria-controls='culture')
                                span.detail-title Culture
                    #culture.panel-collapse.collapse(role='tabpanel', aria-labelledby='culture-heading', aria-expanded='false')
                        .panel-body
                            div.section-links
                                p.footer-p
                                    a.detail-link Our Committment
                                p.footer-p
                                    a.detail-link Current Initiatives
                                p.footer-p
                                    a.detail-link Get Involved
                legend.accordion-legend
                div.panel.panel-default
                    #opportunity-heading.panel-heading(role='tab')
                        h4.panel-title
                            button.btn.collapsed.btn-accordion(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#opportunity', aria-expanded='false', aria-controls='opportunity')
                                span.detail-title Opportunity
                    #opportunity.panel-collapse.collapse(role='tabpanel', aria-labelledby='opportunity-heading', aria-expanded='false')
                        .panel-body
                            div.section-links
                                p.footer-p
                                    a.detail-link Perks
                                p.footer-p
                                    a.detail-link Why Join Deloitte?
                                p.footer-p
                                    a.detail-link Starter Kits
                legend.accordion-legend
                div.panel.panel-default
                    #contact-heading.panel-heading(role='tab')
                        h4.panel-title
                            button.btn.collapsed.btn-accordion(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#contact', aria-expanded='false', aria-controls='contact')
                                span.detail-title Contact
                    #contact.panel-collapse.collapse(role='tabpanel', aria-labelledby='contact-heading', aria-expanded='false')
                        .panel-body
                            div.section-links
                                p.footer-p
                                    a.detail-link Help
                                p.footer-p
                                    a.detail-link Contact Information
                                p.footer-p
                                    a.detail-link Online Support
                                p.footer-p
                                    a.detail-link Refund Policy
                legend.accordion-legend
    div.footer-bottom(ng-hide="footernav.loginSignupPage")
        div.footer-bottom-section.col-sm-12
            div.footer-details-bottom.col-xl-8.col-sm-12
                div.link-wrapper
                    a.bottom-link &copy; Deloitte Digital 
                    label |
                div.link-wrapper
                    a.bottom-link Regulations
                    label |
                div.link-wrapper
                    a.bottom-link Privacy Policy
                    label |
                div.link-wrapper
                    a.bottom-link Terms of Use
                    label |
                div.link-wrapper
                    a.bottom-link DSA 411
            div.footer-buttons.col-xl-4.col-sm-12
                div.bottom-button.col-xl-6.col-xl-offset-0.col-sm-12
                    button.btn-primary.btn-region(type='Submit' name='btn-region' ng-click="footernav.redirectRegionPage()") &#127760 &#160 Region: United States (Switch)
                div.bottom-dropdown.col-xl-6.col-xl-offset-0.col-sm-12
                    div.select-wrapper.language-dropdown
                        select.form-control.dropdown-language
                            option Language: English (US)
    div.footer-bottom(ng-show="footernav.loginSignupPage")
        div.footer-bottom-section.footer-bottom-section-simplified.col-sm-12
            div.footer-details-bottom.footer-details-bottom-simplified.col-xl-8.col-sm-12
                div.link-wrapper
                    a.bottom-link &copy; Nu Skin
                    label |
                div.link-wrapper
                    a.bottom-link Regulations
                    label |
                div.link-wrapper
                    a.bottom-link Privacy Policy
                    label |
                div.link-wrapper
                    a.bottom-link Terms of Use
                    label |
                div.link-wrapper
                    a.bottom-link DSA 411
                    label |
                div.link-wrapper
                    a.bottom-link Return Policy
                    label |
            div.footer-buttons.footer-buttons-simplified.col-xl-4.col-sm-12
                div.bottom-button.bottom-button-simplified.col-lg-8.col-md-8.col-md-offset-2.col-lg-offset-2.col-xl-offset-0
                    button.btn-primary.btn-region.btn-region-simplified(type='Submit' name='btn-region' ng-click="footernav.redirectRegionPage()") &#127760 &#160 Region: United States (Switch)
                div.bottom-dropdown.bottom-dropdown-simplified.col-lg-8.col-md-8.col-md-offset-2.col-lg-offset-2.col-xl-offset-0
                    div.select-wrapper.language-dropdown.language-dropdown-simplified
                        select.form-control.dropdown-language.dropdown-language-simplified
                            option Language: English (US)
    .clearfix.visible-sm
