@import "../../stylesheets/partials/variables";

.footer-nav{
    position: relative;
    width: 100%;
    display: block;
    clear: both;

    .footer-name-logo-section{
        background-color: $dusk;
        height: 23.142rem;
        float: right;
        text-align: center;
    }
    #scroll-to-top{
        position: relative;
    }
    .footer-details{
        overflow: hidden;
        display: block;
        width: 100%;
        float: left;
        background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
    }
    .scroll-to-top-button{
        position: relative;
    }
    .scroll-circle {
        cursor: pointer;
        display: block;
        right: 1.5rem;
        top: -1.563rem;
        position: absolute;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 1.5rem;
        background-image: linear-gradient(to top, $light-coral, $deep-lilac);
        text-align: center;
        z-index: 500;
    }
    .footer-social-icon{
        margin-right: 0.9375rem;
    }
    .footer-p{
        margin: 0 auto;
        margin-bottom: 0.1875rem;
    }
    .footer-become-a-distributor-section{
        background: rgba(0, 0, 0, 0.15);
        height: 23.142rem;
        float: right;
        text-align: center;
    }
    .user-image{
        width: 3.400em;
    }
    .footer-details-section{
        background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
        height: 23.142rem;
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .section-title{
        margin-top: 0rem;
    }
    .footer-bottom-section{
        background-color: $white;
        padding-right: 0;
    }
    .footer-bottom-section-simplified{
        border-top : solid 1px $gray-soft;
    }
    .detail-title{
        font-size: 1.125rem;
        font-weight: $proxima-light;
        line-height: 1;
        letter-spacing: 0.006em;
        color: $white;
    }
    .detail-link{
        font-size: 0.875rem;
        font-weight: $proxima-light;
        line-height: 1.43;
        letter-spacing: 0.006em;
        color: $white;
        cursor: pointer;
    }
    .detail-connect-with-nuskin{
        font-size: 0.8125rem;
        font-weight: $proxima-bold;
        line-height: 1.38;
        letter-spacing: 0.006em;
        color: $white;
        width: 11.071rem;
    }
    .detail-sub-section{
        padding: 3.857rem 3.214rem 0;
    }
    .connect-with-nuskin{
        padding: 1.9375rem 3.214rem 3.857rem;
    }
    .social-icon{
        margin-right: 0.9375rem;
        cursor: pointer;
    }
    .distributor-detail-label{
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.23;
        letter-spacing: 0.031em;
        text-align: center;
        color: $blue-lighter;
        margin-top: 1.071rem;
        margin-bottom: 0rem;
    }
    .distributor-email-phone-label{
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.5;
        color: $white;
        margin-top: 0.143rem;
        margin-bottom: 0rem;
    }
    .distributor-image{
        padding: 1%;
    }
    .distributor-details{
        padding: 1%;
    }
    .social-icons-section-details{
        margin-top: 0.571rem;
        margin-right: -3.75rem;
    }
    .social-icons-section-distributor{
        margin: 0 auto;
        display: table;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
    }
    .btn-footer{
        width: 13.75rem;
        height: 2.75rem;
        border-radius: 0.214rem;
        border: solid 0.071rem $white;
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.031em;
        text-align: center;
        color: $white;
        background-color: transparent;
    }
    .nuskin-logo{
        width: 2rem;
    }
    .distributor-info{
        margin-top: 1.813rem;
    }
    .become-a-distributor-button-section{
        margin-top: 1.428rem;
    }
    .become-a-distributor-button-section {
        input:hover {
            background: transparent;
            border-color: $white;
        }
    }
    .become-a-distributor{
        margin-top: 8.285rem;
    }
    .bottom-link{
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        letter-spacing: 0.006em;
        color: $gray;
        margin-right: 1.071rem;
        margin-left: 1.071rem;
    }
    .footer-details-bottom{
        margin-top: 2rem;
        padding-left: 1.428rem;
        .link-wrapper {
            display: inline-block;
        }
    }
    .language-dropdown{
        margin-left: 0rem;
        width: 12.5rem;
    }
    .footer-buttons{
        margin-top: 1.571rem;
        margin-bottom: 2.5rem;
        padding-left: 1.25rem;
    }
    .btn-region{
        width: 100%;
        height: 1.875rem;
        background-color: $white;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        border: solid 0.071rem $gray-lighter;
        line-height: 1.46;
        color: $gray-dark;
        padding: 0;
        text-align: left;
        padding-left: 11px;
    }
    .dropdown-language{
        width: 100%;
        height: 1.875rem;
        background-color: $white;
        border: solid 0.071rem $gray-lighter;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        line-height: 1.46;
        color: $gray-dark;
        padding: 0;
        padding-left: 0.6875rem;
        background: url('../../../src/assets/images/css/ic-dropdown-arrow.svg') no-repeat 95%;
    }

    .select-wrapper::after{
        background: none;
    }
    #accordionform{
        background: $brand-primary;
        padding: 2.857rem 3.571rem;
    }
    #accordionform .panel{
        margin-bottom: 0rem;
        background-color: transparent;
        padding-top: 1.142rem;
        padding-bottom: 0rem;
        padding-left: 2.857rem;
        padding-right: 2.857rem;
    }
    #accordionform .panel-title button::after {
        background: url(../../../src/assets/images/css/ic-arrow-up.svg) center no-repeat;
        transform: rotate(0deg);
    }
    #accordionform .panel-body{
        text-align: left;
    }
    #accordionform .panel-heading{
        margin-bottom: 0.714rem;
    }
    #accordionform .panel-title button.collapsed::after{
        transform: rotate(180deg);
    }
    #accordionform .panel:last-of-type {
        margin-bottom: 0rem;
    }
    #accordionform .accordion-legend {
        opacity: 0.2;
        border: solid 0.071rem $white;
        width: 88%;
        margin: 0rem 6%;
    }
    .btn-accordion{
        z-index: 999;
    }
    .select-wrapper::after {
        top: 35%;
        right: 2.5rem;
    }
    .bottom-button{
        padding: 0;
        width: 13.3125rem;
        float: left;
    }
    .bottom-dropdown{
        width: 12.25rem;
        float: left;
        margin-left: 1.25rem;
        padding: 0;
    }
    .section-links{
        margin-top: 0.625rem;
    }
    .join-my-team-button-section{
        display: table;
        margin: 0 auto;
        padding-left: 1.25rem;
        padding-top: 1.563rem;
    }
    .overlay-footer{
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
    .overlay-footer{
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
        .footer-name-logo-section{
            height: 21.285rem;
            float: none;
        }
        .footer-buttons{
            padding: 0;
        }
        .bottom-button{
            padding: 0 5rem;
            width: 100%;
        }
        .bottom-dropdown{
            width: 100%;
            float: left;
            margin: 0;
            padding: 0 5rem;
        }
        .become-a-distributor{
            margin-top: 0rem;
            padding: 2.5rem 0 2rem 0;
        }
        .nuskin-logo-title{
            padding-bottom: 1.428rem;
        }
        .become-a-distributor-button-section{
            margin-top: 0;
        }
        .social-icons-section-distributor{
            margin: 0 auto;
            display: table;
            padding-top: 1.25rem;
            padding-left: 0.3125rem;
        }
        .social-icons-section-details{
            margin-bottom: 2.188rem;
        }
        .join-my-team-button-section{
            padding-left: 0rem;
        }
        .footer-become-a-distributor-section{
            float: none;
            height: auto;
        }
        .distributor-info{
            margin-top: 0;
            padding-top: 1.071rem;
        }
        .footer-details-bottom{
            text-align: center;
            padding-left: 5%;
            margin-top: 1.6875rem;
        }
        .btn-region{
            height: 2.188rem;
            width: 100%;
        }
        .dropdown-language{
            height: 2.188rem;
            text-align-last: left;
            margin-bottom: 0;
        }
        .language-dropdown{
            width: 100%;
            margin: 0;
            padding-top: 1.071rem;
        }
        .select-wrapper::after {
            top: 40%;
            right: 0.5rem;
        }
        .detail-title{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.13;
            letter-spacing: 0.006em;
            color: $blue-lightest;
        }
        .detail-link{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 2;
            color: $white;
        }
        .section-links{
            padding: 0.714rem 0rem;
        }
        .connect-with-nuskin{
            padding-top: 1.071rem;
            padding-bottom: 1.785rem;
            padding-left: 0;
        }
        .footer-bottom-section{
            padding: 0;
        }
        #accordionform{
            padding: 2.857rem 0.357rem;
        }
        #accordionform .panel-default{
            padding-left: 6%;
            padding-right: 6%;
        }
        #accordionform .panel-title button::after {
            right: 0.357rem;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .footer-name-logo-section{
            padding: 0rem 5.714rem;
            height: 19rem;
            float: none;
        }
        .distributor-detail-label{
            text-align: left;
        }
        .footer-become-a-distributor-section{
            padding: 0.071rem 5.714rem;
            height: 8.928rem;
            float: none;
        }
        .become-a-distributor{
            margin-top: 3.071rem;
        }
        .distributor-info{
            text-align: left;
            padding-top: 2.857rem;
        }
        .social-icon{
            margin-right: 1.071rem;
        }
        .join-my-team-button-section{
            margin-top: -10.575rem;
            margin-right: 0.714rem;
            float: right;
        }
        .footer-details-bottom{
            text-align: center;
            margin-top: 1.6875rem;
        }
        .dropdown-language{
            height: 2.2rem;
            text-align: left;
            text-align-last: left;
            margin-bottom: 0;
            width: 20.3125rem;
            margin: 0 auto;
        }
        .social-icons-section-details{
            margin-bottom: 2.188rem;
        }
        .btn-region{
            height: 2.2rem;
            width: 20.3125rem;
        }
        .bottom-button{
            width: 100%;
            height: 2.1875rem;
            margin: 0;
        }
        .bottom-dropdown{
            width: 100%;
            height: 2.1875rem;
            padding: 0.9375rem 0 0 0;
            margin: 0;
        }
        .footer-buttons{
            text-align: center;
            padding-top: 1.571rem;
            width: 100%;
            margin-bottom: 2.5rem;
            margin-top: 0;
        }
        .language-dropdown{
           width: 20.3125rem;
           display: inline-block;
        }
        .select-wrapper::after{
            top: 35%;
            right: 1rem;
        }
        .nuskin-logo-title{
            margin-left: -5.313em;
        }
        .become-a-distributor-button-section{
            float: right;
            margin-right: -1.428rem;
            margin-top: 0.000em;
        }
        .detail-title{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.13;
            letter-spacing: 0.006em;
            color: $blue-lightest;
        }
        .detail-link{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 2;
            color: $white;
        }
        .section-links{
            padding: 0.714rem 0rem;
        }
        .connect-with-nuskin{
            padding-top: 1.071rem;
            padding-bottom: 1.785rem;
            padding-left: 0;
        }
        .footer-bottom-section{
            background-color: $white;
            height: 12.6875rem;
            padding: 0;
        }
        #accordionform .panel-title button::after {
            background: url(../../../src/assets/images/css/ic-arrow-up.svg) center no-repeat;
            right: 0.3125rem;
        }
        #accordionform .panel {
            padding-left: 6%;
            padding-right: 6%;
   	    }
        .social-icons-section-distributor{
            margin: 0 auto;
            display: table;
            float: left;
            padding-top: 1.25rem;
            padding-left: 0.3125rem;
        }   
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        .footer-name-logo-section{
            height: 12.31rem;
            text-align: inherit;
            float: none;
        }
        .language-dropdown{
            margin-left: 0;
            width: 20.3125rem;
            display: inline-block;
        }
        .dropdown-language{
            height: 2.2rem;
            text-align: left;
            text-align-last: left;
            margin-bottom: 0;
            width: 20.3125rem;
            margin: 0 auto;
        }
        .btn-region{
            height: 2.2rem;
            width: 20.3125rem;
        }
        .distributor-detail-label{
            text-align: left;
        }
        .bottom-button{
             width: 100%;
             height: 2.1875rem;
             margin: 0;
        }
        .bottom-button-simplified{
            width: 100%;
            height: 2.1875rem;
            margin: 0;
        }
        .footer-become-a-distributor-section{
            height: 9.063em;
            text-align: inherit;
            float: none;
        }
        .detail-sub-section{
            padding-left: 2.313rem;
            padding-right: 0rem;
            padding-top: 3.375rem;
            padding-bottom: 0rem;
        }
        .connect-with-nuskin{
          padding-left: 2.313rem;
        }
        .distributor-details{
            margin-top: -5.75rem;
            margin-left: 5.714rem;
        }
        .social-icons-section-distributor{
            float: left;
            padding-left: 6.25rem;
            margin-top: -1.25rem;
        }
        .social-icon{
            margin-right: 0.714rem;
        }
        .join-my-team-button-section{
            margin-top: -6.063em;
            float: right;
            margin-right: 1.428rem;
        }
        .bottom-link{
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
        .distributor-image{
            margin-top: 2.142rem;
        }
        .become-a-distributor{
             padding-top: 3.571rem;
             margin-top: 0.000em;
        }
        .become-a-distributor-button-section{
            text-align: right;
            margin-top: 0.000em;
        }
        .nuskin-logo-title{
            margin-top: 0.714rem;
        }
        .distributor-info{
            margin-top: 0.000em;
            padding-top: 0.357rem;
        }
        .footer-details-bottom{
            text-align: center;
            margin-top: 1.6875rem;
        }
        .footer-buttons{
            text-align: center;
            padding: 1.571rem 0 2.5rem;
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
        }
        .footer-bottom{
            margin-top: 0.000em;
        }
        .footer-bottom-section{
            margin-top: 0.000em;
            background-color: $white;
            padding: 0;
        }
        .footer-details-section{
            height: 20.25rem;
        }
        .bottom-dropdown{
            width: 100%;
            height: 2.1875rem;
            padding: 0.9375rem 0 0 0;
            margin: 0;
        }
        .bottom-dropdown-simplified{
            width: 100%;
            height: 2.1875rem;
            padding: 0.9375rem 0 0 0;
            margin: 0;
        }
        .connect-with-nuskin{
            padding-top: 0.9375rem;
        }
        .select-wrapper::after {
            top:35%;
            right: 1.25rem;
        }
        .footer-bottom-section-simplified{
            background-color: $white;
            height: 12.6875rem;
            padding: 0;
        }
        .footer-details-bottom-simplified{
            text-align: center;
            margin-top: 1.6875rem;
        }
        .footer-buttons-simplified{
            text-align: center;
            padding-top: 1.571rem;
            width: 100%;
            margin-bottom: 0;
            margin-top: 0;
        }
        .btn-region-simplified{
            height: 2.2rem;
            width: 20.3125rem;
        }
        .language-dropdown-simplified{
            width: 20.3125rem;
            display: inline-block;
        }
        .dropdown-language-simplified{
            height: 2.2rem;
            text-align: center;
            text-align-last: center;
            margin-bottom: 0;
        }   
    }
}
