@import "../../stylesheets/partials/variables";

$dotColor: $brand-primary;
$dotSize: .75rem;

@keyframes dotAnim {
  // Wave
  0%, 50%, 100% {
    transform: translateY(-100%);
  }

  25% {
    transform: translateY(100%);
  }
}

@keyframes dotFade {
  // Opacity
  0%, 80%, 100% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.75;
  }
}

.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  text-align:center;
  background: rgba(255, 255, 255, 0.85);
  z-index: 10000;  
  overflow-y: auto;
}

.dots {
  top: 50%;
  display: inline-block;
  position: relative;
  width: $dotSize;
  height: $dotSize;
  border-radius: 50%;
  animation: dotAnim, dotFade;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.09, 0.04, 0.49, 2.37), ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  background-color: $dotColor;
  transform: translateY(0);
  opacity: 0.2;

  &:not(:last-child) {
    margin-right: $dotSize*1;
  }

  &.dot-1 {
    animation-delay: 1.7s, 1.8s;
  }

  &.dot-2 {
    animation-delay: 1.8s, 1.9s;
  }

  &.dot-3{
    animation-delay: 1.9s, 2s;
  }

  &.dot-4 {
    animation-delay: 2s, 2.1s;
  }

  &.dot-5 {
    animation-delay: 2.1s, 2.2s;
  }

}
