.container-fluid
  .row
    .col-sm-12.category-directory-footer
      .col-sm-3.no-gutter
        h2 HELLO, BEAUTIFUL
        p Looking for more in Personal Care? Check out what else we have to offer.
      .col-sm-1.visible-sm
      .col-sm-2(ng-repeat='group in ctrl.footerOptions')
        h5 {{group.heading}}
        p(ng-repeat="getOption in group.options") {{getOption.option}}
    .col-sm-12.category-directory-footer-sm
      .col-sm-12.no-gutter
        h2.m-b-0 HELLO, BEAUTIFUL
        p Looking for more in Personal Care? Check out what else we have to offer.
      .clearfix.visible-sm
      uib-accordion
        .panel-default(uib-accordion-group='', ng-repeat='group in ctrl.footerOptions')
          uib-accordion-heading
            h5 {{group.heading}}
          .row
            .col-sm-12(ng-repeat="getOption in group.options")
              p {{getOption.option}}
