@import "../../../../src/stylesheets/partials/variables.scss";
.category-directory-footer{
  padding: 3em 2em;
  background-color: $white;
}
.category-directory-footer-sm{
  display: none;
  padding: 3em 2em;
  background-color: $white;
  .panel-group{
    border-top: 1px $gray-lighter solid;
  }
  .panel{
    background-color: $white;
    a:focus{
      outline: 0;
    }
  }
  .panel-default .accordion-toggle:after {
      content: '';
      background: url('../../../../src/assets/images/css/ic-dropdown-arrow.svg') center no-repeat;
      height: 1.6875rem;
      width: 1.6875rem;
      transition: all .2s;
      float: right;
      display: inline-block;
  }
  .panel-default.panel-open .accordion-toggle:after {
      height: 1.6875rem;
      width: 1.6875rem;
      background-image: url('../../../../src/assets/images/css/ic-arrow-up-category.svg');
      content: '';
  }
  .panel-title{
    border-bottom: 1px $gray-lighter solid;
    padding: 1em 10px 1em 0;
    margin: 0;
    h5{
      display: inline-block;
      margin: 0;
      color: $gray;
      font-weight: $proxima-light;
      font-size: 1rem;
    }
    p{
      text-decoration: none;
      outline: none;
    }
    a{
      display: block;
    }
  }
  .panel-body{
    border-bottom: 1px $gray-lighter solid;
    padding: 1.25em 0 0.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .category-directory-footer{
    display: none;
  }
  .category-directory-footer-sm{
    display: block;
    padding: 3.25em 4em;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px){
  .category-directory-footer{
    display: none;
  }
  .category-directory-footer-sm{
    display: block;
    padding: 2.75em 2em 4.375em;
  }
}
