@import "../../../../src/stylesheets/partials/variables.scss";
.recently-viewed-main {
    background-color: $white;
    .heading-text {
        margin: 0 0.75rem;
        text-align: center;
    }
    .recently-viewed-text {
        padding-bottom: 0.5em;
        font-size: 1.375rem;
        margin: 0 0.75rem;
        text-align: center;
    }
    .heading-text {
        padding: 2.8em 0 0;
    }
}