.container-fluid.recently-viewed-main
  .row
    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
      h3.heading-text FORGOT SOMETHING?
      h2.recently-viewed-text Here’s what you’ve recently viewed
  .row
    .col-xs-10.col-xs-offset-1.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
      secondary-carousel(product-data="recentctrl.categoryData" slick-type="recentctrl.slickType" slick-config="recentctrl.slickSecondaryConfig")
