.msf-bundle-container
	.msf-bundle-content
		h1.header-text Better Together
		.teal-line
		.header-description
			p.description By these products together for a is a short description about a bundle set by the distributor. 
			p.description This is a short description these product about a bundle set by the distributor.
		.product-container
			.product-data-tiles
				.product-tile(ng-repeat = "data in ctrl.bundleData track by $index" )
					img(ng-src="{{data.productImage}}", alt='img', height='auto', width='auto').product-image
					div.circle-plus.hidden-md-down(ng-if="(ctrl.bundleData.length == 4 && $index != 2) || (ctrl.bundleData.length == 3) || (ctrl.bundleData.length == 2) || (ctrl.bundleData.length == 5)" ng-class="(ctrl.bundleData.length == 2?'circle-middle':'')" class="test-{{$index}}")
						div.plus +
					div.circle-plus.show-status
						div.plus +
					p.product-description {{data.productDescription}}
			.purchase-bundle
				button.btn.bundle-button
					span.bundle-text Purchase Bundle
					span.bundle-price $325.00
