@import "../../../../stylesheets/partials/variables";
.msf-bundle-container {
    background-color: $gray-lightest;
    .msf-bundle-content {
        padding: 4.5rem 0;
    }
    .header-text {
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: 0.4px;
        text-align: center;
        color: $gray-dark;
    }
    .teal-line {
        height: 3px;
        background-color: $aqua;
        margin: 0 auto;
        width: 4.063rem;
    }
    .header-description {
        padding: 0.9375rem 0 1.813rem 0;
        text-align: center;
    }
    .description {
        margin: 0;
    }
    .product-container {
        margin-left: -1.125rem;
        margin-right: -1.125rem;
        .product-data-tiles {
            margin: 0 auto;
            display: table;
            max-width: 59.38rem;
            .product-tile {
                width: 11.8rem;
                background-color: $white;
                text-align: center;
                border-left: 1px solid $gray-lighter;
                border-top: 1px solid $gray-lighter;
                border-bottom: 1px solid $gray-lighter;
                float: left;
                position: relative;
                min-height: 18.19rem;
            }
            .product-tile:last-child {
                border-right: 1px solid $gray-lighter;
            }
            .product-image {
                padding: 2.625rem 2rem 2.063rem 1.688rem;
                width: auto;
                height: auto;
            }
            .circle-plus {
                position: absolute;
                right: -1.5rem;
                top: 43%;
                width: 3rem;
                height: 3rem;
                background-color: $white;
                z-index: 1;
            }
            .product-tile:last-child .circle-plus {
                display: none;
            }
            .plus {
                padding: 3px 0 0 2px;
                font-size: 1.75rem;
                color: $gray-dark-shade;
                font-weight: $proxima-thin;
                text-align: center;
            }
            .product-description {
                font-size: 1rem;
                font-weight: $proxima-light;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                color: $gray-dark;
                margin-bottom: 0;
                padding: 0 1.563rem 1.438rem 1.313rem;
            }
        }
        .purchase-bundle {
            text-align: center;
            margin-top: 2.938rem;
        }
        .bundle-button {
            height: 4.625rem;
            min-height: 4.625rem;
            max-height: 4.625rem;
            border-radius: 3px;
            background-color: $brand-primary;
            border: solid 1px $brand-primary;
        }
        .bundle-text {
            margin-bottom: 0;
            color: $white;
            height: 1.063rem;
            font-size: 13px;
            font-weight: $proxima-semibold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: 0.5px;
            text-align: center;
            color: $white;
            padding: 0 3.875rem 0 3.875rem;
            display: block;
        }
        .bundle-price {
            height: 2.125rem;
            font-size: 1.75rem;
            font-weight: $proxima-thin;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.21;
            color: $white;
            padding-bottom: 10px;
            display: block;
        }
    }
}

@media (min-width: 360px) and (max-width:767px) {
    .msf-bundle-container {
        .msf-bundle-content {
            padding-top: 3.125rem;
        }
        .header-description {
            padding: 0.9375rem 1.625rem 2.438rem 1.5rem;
        }
        .description{
            display: inline;
        }
        .product-container {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            .product-data-tiles {
                margin: 0 auto;
                display: table;
                max-width: 20.63rem;
                .product-tile {
                    width: 100%;
                }
                .product-tile {
                    border-right: 1px solid $gray-lighter;
                }
                .product-tile:first-child {
                    border-bottom: 0;
                }
                .product-tile:last-child {
                    border-bottom: 1px solid $gray-lighter;
                }
                .product-tile:nth-child(3),
                .product-tile:nth-child(4),
                .product-tile:nth-child(5) {
                    border-top: 0;
                }
                .circle-plus {
                  top: inherit;
                  bottom: -9%;
                  left: 43%;
                }
            }
            .purchase-bundle {
                .bundle-button {
                    min-width: 20.125rem;
                    max-width: 20.125rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .msf-bundle-container {
        .msf-bundle-content {
            padding: 4.5rem 0 3.5rem 0;
        }
        .header-description {
            padding: 0.9375rem 0 2.438rem 0;
        }
        .product-container {
            margin-left: -6.063rem;
            margin-right: -6.063rem;
            .product-data-tiles {
                margin: 0 auto;
                display: table;
                max-width: 35.63rem;
                .product-tile {}
                .product-tile:nth-child(3) .circle-plus {
                    display: none;
                }
                .product-tile:nth-child(3) {
                    border-right: 1px solid $gray-lighter;
                }
                .product-tile:nth-child(4),
                .product-tile:nth-child(5) {
                    border-top: 0;
                }
            }
            .purchase-bundle {
                margin-top: 3.313rem;
                .bundle-button {
                    min-width: 19.0625rem;
                    max-width: 19.0625rem;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .msf-bundle-container {
    .product-container {
      .product-data-tiles {
        width: 40.625em;
        margin: 0 auto;
        .product-tile {
            width: 50%;
        }
        .product-tile:nth-child(even) .circle-plus {
            display: none;
        }
        .product-tile:nth-child(even) {
            border-right: 1px solid $gray-lighter;
        }
        .product-tile:nth-child(3),
        .product-tile:nth-child(4),
        .product-tile:nth-child(5) {
            border-top: 0;
        }
        .circle-plus{
          bottom: -9%;
          top: inherit;
        }
        .circle-middle{
          top: 43%;
          bottom: inherit;
        }
        .circle-plus.show-status{
          display: none;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
    .msf-bundle-container {
        .msf-bundle-content {
            padding: 4.5rem 0;
        }
        .header-description {
            padding: 0.9375rem 0 3.188rem 0;
        }
        .product-container {
            margin-left: -10rem;
            margin-right: -10rem;
            .product-data-tiles {
                margin: 0 auto;
                display: table;
                max-width: 70rem;
                .product-tile {
                    width: 14rem;
                }
            }
            .purchase-bundle {
                margin-top: 3.313rem;
            }
        }
    }
}
