.content.find-sponsor
  .invite-banner.find-sponsor-section
    .section
      .banner-title
        h1.text-center Find a Sponsor
  .sponsor-container
    p.sponsor-title You can search for your sponsor using any of the following criteria:
    .search-bar
      ul
        li.profile.last(ng-click="sponsor.onClickTab('tab4')", ng-class="{active: sponsor.currentTab == 'tab4'}")
          p NAME
          i(ng-class="{over1: sponsor.currentTab == 'tab4'}")
        li.user-id(ng-click="sponsor.onClickTab('tab1')", ng-class="{active: sponsor.currentTab == 'tab1'}")
          p ID
          i(ng-class="{over: sponsor.currentTab == 'tab1'}")
        li.phone(ng-click="sponsor.onClickTab('tab3')", ng-class="{active: sponsor.currentTab == 'tab3'}")
          p PHONE
          i(ng-class="{over2: sponsor.currentTab == 'tab3'}")    
        li.email(ng-click="sponsor.onClickTab('tab2')", ng-class="{active: sponsor.currentTab == 'tab2'}") 
          p EMAIL
          i(ng-class="{over1: sponsor.currentTab == 'tab2'}")
        
        
      .clearfix.visible-sm
    .tab-content
      div(ng-show="sponsor.currentTab == 'tab1'")
        ng-form(name='sponsor.formTab1' novalidate ng-submit='sponsor.formTab1.$valid && sponsor.submitForm(sponsor.formTab1.distributorId.$valid, "tab1")')
          .form-group
            .col-lg-12.no-gutter
              label Distributor ID
              input.form-control(type='text' id='distributorId' name='distributorId' ng-model='sponsor.distributorId' ng-class="{'ng-touched': sponsor.clickedSearch}" autocomplete='off' required)
              span.text-danger(ng-show='(sponsor.clickedSearch && sponsor.formTab1.distributorId.$error.required) || (sponsor.formTab1.distributorId.$error.required && sponsor.formTab1.distributorId.$touched)') Please enter a valid ID number
            .col-lg-12.no-gutter
              button.btn.btn-default(ng-click='sponsor.submitForm(sponsor.formTab1.distributorId.$valid, "tab1")') Search
            .col-lg-12.no-gutter
              a.btn.btn-primary-outline.btn-block(type="button" href="/#/signup") Continue without sponsor
      div(ng-show="sponsor.currentTab == 'tab2'")
        form(name='sponsor.formTab2' novalidate form-submit='sponsor.submitForm(sponsor.formTab2.$valid, "tab2")', controller="sponsor")
          .form-group
            .col-lg-12.no-gutter
              email-phone(credentials='sponsor.credentials', is-email='true', title="Email", is-required='sponsor.required')
            .col-lg-12.no-gutter
              button.btn.btn-default(type="submit", ng-click="ctrl.credentials.isSubmitted = true") Search
            .col-lg-12.no-gutter
              a.btn.btn-primary-outline.btn-block(type="button" href="/#/signup") Continue without sponsor
      div(ng-show="sponsor.currentTab == 'tab3'")
        form(name='sponsor.formTab3' novalidate form-submit='sponsor.submitForm(sponsor.formTab3.$valid, "tab3")', controller="sponsor")
          .form-group
            .col-lg-12.no-gutter
              email-phone(credentials='sponsor.credentials', is-phone='true', title="Phone", is-required='sponsor.required')
            .col-lg-12.no-gutter
              button.btn.btn-default(type="submit", ng-click="ctrl.credentials.isSubmitted = true") Search
            .col-lg-12.no-gutter
              a.btn.btn-primary-outline.btn-block(type="button" href="/#/signup") Continue without sponsor
      div(ng-show="sponsor.currentTab == 'tab4'")
        ng-form(name='sponsor.formTab4' novalidate ng-submit='sponsor.formTab4 .$valid && sponsor.submitForm(sponsor.formTab4.firstName.$valid && sponsor.formTab4.lastName.$valid, "tab4")', controller="sponsor")
          .form-group
            .col-lg-12.no-gutter
              label First Name
              input.form-control(type='text' id='firstName' name='firstName' ng-model='sponsor.firstName' ng-minlength="1" ng-class="{'ng-touched': sponsor.clickedSearch}" autocomplete='off' required)
              span.text-danger(ng-show='(sponsor.clickedSearch && sponsor.formTab4.firstName.$error.required) || (sponsor.formTab4.firstName.$error.required && sponsor.formTab4.firstName.$touched)') Enter at least one character
            .col-lg-12.no-gutter
              label Last Name
              input.form-control(type='text' id='lastName' name='lastName' ng-model='sponsor.lastName' ng-minlength="2"  ng-class="{'ng-touched': sponsor.clickedSearch}" autocomplete='off' required)
              span.text-danger(ng-show='(sponsor.clickedSearch && sponsor.formTab4.lastName.$error.required) || (sponsor.formTab4.lastName.$error.required && sponsor.formTab4.lastName.$touched)') Enter at least two character
            .col-lg-12.no-gutter
              button.btn.btn-default(ng-click='sponsor.submitForm(sponsor.formTab4.firstName.$valid && sponsor.formTab4.lastName.$valid, "tab4")') Search
            .col-lg-12.no-gutter
              a.btn.btn-primary-outline.btn-block(type="button" href="/#/signup") Continue without sponsor
      .clearfix.visible-sm
    .search-results(ng-show="sponsor.searchResultStatus")
      .legend-content
        legend
          span SEARCH RESULTS
      .sponsor-search-result-head
        .results {{sponsor.searchTotalResultsCount}}
        p results found for:
        h2 {{sponsor.searchedText}}
    .sponsor-search-result(scrolly="sponsor.loadMore()")
      .sponsor-search-result-in(ng-repeat='search in sponsor.searchData | limitTo:sponsor.totalDisplayed', ng-show="sponsor.showSearchResult")
        .results
          .avatar-holder
            .avatar
              img(ng-src='{{search.profilePic}}')
            .avatar-content
              p {{search.name}}, {{search.place}}
            .clearfix.visible-sm
          .select-result
            a Select
          .clearfix.visible-sm
      .lazy-load(ng-show="sponsor.loadMoreData")
        center
          img(ng-src="{{sponsor.imageUrl}}")
  .search-result-error(ng-show="sponsor.showNoSearchResult")
    .sponsor-search-result-error
      p Try changing your search criteria
