@import "../../../../src/stylesheets/partials/variables.scss";
.find-sponsor{
  .invite-banner{
    height: 17.1875em;
    text-align: left;
    .section{
      padding-top: 6%;
    }
  }
  .banner-title{
    h1{
      line-height: 0.86;
      color: $white;
      padding-top: .5em;
    }
  }
  .sponsor-container{
    padding: 2em 0 0;
    background-color: $white;
    .sponsor-title{
      width: 15.375em;
      margin: 0 auto;
      text-align: center;
    }
  }
  .search-bar{
    width: 100%;
    height: 3.75em;
    margin-top: 1.75em;
    background-color: $gray-lightest;
    ul{
      width: 23.875em;
      margin: 0 auto;
      padding-left: 0;
    }
    ul li{
      width: 5.825em;
      height: 3.75em;
      list-style: none;
      float: left;
      border-right: solid 0.0625rem $gray87;
      background-color: $gray-lightest;
      background-repeat: no-repeat;
      background-position: center 9px;
      font-size: 1rem;
      font-weight: $proxima-semibold;
      line-height: 1.5;
      color: $gray-dark;
      text-transform: uppercase;
      cursor: pointer;
      padding-top:2rem;
      text-align: center;
    }
   
    ul li p{
      font-size: 0.875rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: center;
      color: $gray-light;
    }
    ul li.active p {
      color: $gray-dark;
    }
    ul li.active{
      height: 3.75em;
      background-color: #1cd8d2;
      border-right: none;
    }
    ul li.active:after {
    content: '';
    position: relative;
    bottom: 2.51rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid $white;
    clear: both;
    }
    ul li.last{
    }
    ul > :first-child{
     border-left: solid 0.0625rem $gray87;
    }
    ul li.user-id{
      background-image: url('../../../../src/assets/images/css/id.png');
      background-size: 1rem 1.5rem;
    }
    ul li.user-id:hover, ul li.user-id.active{
      background-image: url('../../../../src/assets/images/css/id-hover.png');
    }
    ul li.user-id.active{
    }
    ul li.email{
      background-image: url('../../../../src/assets/images/css/email.png');
      background-size: 1.5rem 1rem;
    }
    ul li.email:hover, ul li.email.active{
      background-image: url('../../../../src/assets/images/css/email-hover.png');
    }
    ul li.email.active{
    }
    ul li.phone{
      background-image: url('../../../../src/assets/images/css/phone.png');
      background-size: 1.125rem 1.250rem;
    }
    ul li.phone:hover, ul li.phone.active{
      background-image: url('../../../../src/assets/images/css/phone-hover.png');
    }
    ul li.phone.active{
    }
    ul li.profile{
      background-image: url('../../../../src/assets/images/css/profile-name.png');
      background-size: 1.375rem 1.375rem;
    }
    ul li.profile:hover, ul li.profile.active{
      background-image: url('../../../../src/assets/images/css/profile-name-hover.png');
    }
    ul li.profile.active{
    }
  }
  .tab-content{
    width: 20.3rem;
    margin: 0 auto;
    padding: 1.875em 0em 0;
    button{
      border-radius: .1875em;
      background-color: $brand-primary;
      width: 100%;
      margin-top: 1.5em;
    }
  }
  .legend-content{
    width: 23.4375em;
    margin: 0 auto;
    padding: 1.275em 0 0.5em;
  }
  legend{
    font-size: 1rem;
    font-weight: $proxima-semibold;
    line-height: 1.5;
    color: $gray;
  }
  legend::before{
    background: $gray87;
  }
  .sponsor-search-result-head{
    margin: 0 auto;
    width: 23.4375em;
    text-align: center;
    .results{
      font-size: 3rem;
      font-weight: $proxima-thin;
      line-height: 1;
      letter-spacing: -0.01875em;
      color: #4a4a4a;
    }
    h2{
      word-break: break-all;
    }
  }
  .sponsor-search-result{
    padding-top: 0.9375em;
  }
  .sponsor-search-result-in{
    width: 100%;
    background-color: $white;
    border-top: 0.625rem solid $gray-lightest;
    .results{
      width: 23.4375em;
      background-color: $white;
      padding: 1.25em 1.25em;
      margin: 0 auto;
      display: flex;
      min-height: 6.25em;
      align-items: center;
    }
    .avatar-holder{
      width: 80%;
      display: flex;
      align-items: center;
      .avatar, .avatar-content {
        display: table-cell;
      }
      .avatar-content {
        max-width: 12.5rem;
        p {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          margin: 0 auto;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .select-result{
      width: 20%;
    }
    .avatar-holder{
      float:left;
    }
    .select-result{
      float:right;
      height: 100%;
      a{
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.85;
        color: $brand-primary;
        text-align: right;
        line-height: 4.5;
        display: block;
        cursor: pointer;
      }
    }
    .avatar-holder{
      .avatar{
        float:left;
      }
      .avatar img{
        width: 3.75em;
        border-radius: 50%;
      }
      .avatar-content{
        float:left;
        padding: 0.5em 0 0 0.625em;
        p{
          line-height: 1.5;
          margin-bottom: 0em;
        }
      }
      .avatar-content span{
        display: block;
      }
    }
  }
  .tab-content{
    input{
      margin-bottom: 0;
    }
    form{
      margin-top: 0;
    }
  }
  .section{
    p a{
      padding-left: 1.25em;
      font-size: 0.8125rem;
      font-weight: $proxima-light;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .search-result-error{
    width: 100%;
    background-color: $gray-lightest;
    .sponsor-search-result-error{
      margin: 0 auto;
      width: 23.4375em;
      text-align: center;
      font-size: 1rem;
      font-weight: $proxima-light;
      padding-top: 3em;
      padding-bottom: 6em;
      p{
        padding-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .sponsor-container{
      width: 100%;
      margin-top: 0em;
    }
    .invite-banner{
      height: 10em;
    }
    .tab-content{
      padding: 1.875em 0.9375em 0;
    }
    .search-bar{
      background-color: $gray-lightest;
    }
  }
  @media screen and (min-width: 375px) and (max-width: 767px){
    .sponsor-container{
      width: 100%;
      margin-top: 0em;
    }
    .invite-banner.find-sponsor-section{
      height: 10em;
      display: table;
      width: 100%;
      .section {
        padding-top: 0;
        display: table-cell;
        vertical-align: middle;
        .banner-title {
          h1 {
            padding-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
    .search-bar{
      background-color: $gray-lightest;
    }
    .banner-title{
      h2{
        font-size: 1.8125rem;
        line-height: 1.07;
      }
    }
    .search-bar{
      ul{
        width: 23.4375em;
        margin: 0 auto;
      }
      ul li{
        width: 5.825rem;
      }
    }
    .tab-content{
      padding: 1.875em 0.9375em 0;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 374px){
    .sponsor-container{
      width: 100%;
      margin-top: 0em;
    }
    .invite-banner{
      height: 10em;
    }
    .search-bar{
      background-color: $gray-lightest;
    }
    .banner-title{
      h2{
        font-size: 1.8125rem;
        line-height: 1.07;
      }
    }
    .sponsor-search-result-in{
      .results{
        width: 22.5em;
      }
    }
    .search-bar{
      ul{
        width: 22.5em;
        margin: 0 auto;
      }
      ul li{
        width: 5.6em;
      }
    }
    .tab-content{
      padding: 1.875em 0.9375em 0;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    .invite-banner.find-sponsor-section{
      display: table;
      width: 100%;
      .section {
        padding-top: 0;
        display: table-cell;
        vertical-align: middle;
        .banner-title {
          h1 {
            padding-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
