.container-fluid.top-seller-container
  .top-seller-title my top selling
  .green-line  
  .row.clearfix
    .hidden-md-down
      .col-sm-6.product-box-high
        .product-image-high
          img(ng-src='{{vm.topSellerProducts[0].image}}')
        .product-circle-high 
            span {{ $index + 1}}
        .product-detail-box-high
          .product-title-high {{vm.topSellerProducts[0].name}}
          .green-star(ng-repeat='star in vm.topSellerProducts[0].productRatingsGreen track by $index')
            img(ng-src='{{star}}')
          .green-star(ng-repeat='star in vm.topSellerProducts[0].productRatingsWhite track by $index')
            img(ng-src='{{star}}')
          .product-review {{vm.topSellerProducts[0].reviews}}
          .product-price {{vm.topSellerProducts[0].price}}
          .purchase-link.pointer PURCHASE
      .col-sm-6.no-gutter
        #productbox.col-sm-6.product-box(ng-repeat='product in vm.topSellerProductsXl track by $index', ng-class="{'no-top-padding': ($index == 0 || $index == 1), 'right-border':($index % 2 == 0), 'no-bottom-border': ($index > 1)}")
          .product-image
            img(ng-src='{{product.image}}')
          .product-circle 
            span {{ $index + 2}}
          .product-detail-box
            .product-title {{product.name}}
            .green-star(ng-repeat='star in product.productRatingsGreen track by $index')
              img(ng-src='{{star}}')
            .green-star(ng-repeat='star in product.productRatingsWhite track by $index')
              img(ng-src='{{star}}')
            .product-review {{product.reviews}}
            .product-price {{product.price}}
            .purchase-link.pointer PURCHASE
    .col-sm-12.hidden-md-up
      .col-sm-6.product-box.no-gutter(ng-repeat='product in vm.topSellerProducts track by $index')
        .product-image
          img(ng-src='{{product.image}}')
        .product-circle 
            span {{ $index + 1}}
        .product-detail-box
          .product-title {{product.name}}
          .green-star(ng-repeat='star in product.productRatingsGreen track by $index')
            img(ng-src='{{star}}')
          .green-star(ng-repeat='star in product.productRatingsWhite track by $index')
            img(ng-src='{{star}}')
          .product-review {{product.reviews}}
          .product-price {{product.price}}
          .purchase-link.pointer PURCHASE
    .col-md-12.hidden-sm-down.hidden-lg-up
      #productbox.col-sm-4.product-box(ng-repeat='product in vm.topSellerProducts track by $index', ng-class="{'no-top-padding': ($index == 0 || $index == 1 || $index == 2), 'no-right-border':($index % 3 == 2), 'no-bottom-border': ($index > 2)}")
        .product-image
          img(ng-src='{{product.image}}')
        .product-circle 
            span {{ $index + 1}}
        .product-detail-box
          .product-title {{product.name}}
          .green-star(ng-repeat='star in product.productRatingsGreen track by $index')
            img(ng-src='{{star}}')
          .green-star(ng-repeat='star in product.productRatingsWhite track by $index')
            img(ng-src='{{star}}')
          .product-review {{product.reviews}}
          .product-price {{product.price}}
          .purchase-link.pointer PURCHASE
