@import "../../../../stylesheets/partials/variables";
.top-seller-container {
    background: $white;
    .product-title {
        overflow: hidden;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
        cursor: pointer;
    }
    .product-title-high {
        @extend .product-title;
    }
    .product-review {
        font-weight: $proxima-light;
        font-size: 13px;
        line-height: 1.85;
        color: $gray;
        display: inline;
    }
    .product-price {
        font-weight: $proxima-light;
        font-size: 0.875rem;
        line-height: 1.57;
        color: $gray-dark;
        margin-top: 2px;
        padding-left: 2px;
    }
    .purchase-link {
        font-weight: $proxima-semibold;
        font-size: 13px;
        line-height: 1.31;
        letter-spacing: 0.5px;
        color: $brand-primary;
        margin-top: 2px;
    }
    .green-star {
        display: inline-block;
        margin-left: 1px;
    }
    .no-border-right {
        border-right: none;
    }
    .product-detail-box-high {
        @extend .product-detail-box;
    }
    .top-seller-title {
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        line-height: 1.18;
        letter-spacing: 0.4px;
        text-align: center;
        color: $gray-dark;
        text-transform: uppercase;
        padding-top: 4rem;
    }
    .green-line {
        width: 4rem;
        height: 3px;
        background-color: $aqua;
        margin: 9px auto 3rem;
    }
    .product-image {
        position: relative;
        text-align: center;
        img {
            cursor: pointer;
        }
    }
    .product-image-high {
        @extend .product-image;
    }
    .product-circle {
        background: $brand-primary;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 0;
        opacity: 0.54;
        color: $white;
        text-align: center;
        font-size: 2rem;
        font-weight: $proxima-light;
        position: relative;
        z-index: 100;
        font-family: $proxima-condensed;
        span {
            display: inline-block;
            vertical-align: sub;
        }
    }
    .product-circle-high {
        @extend .product-circle;
        span {
            display: inline-block;
            vertical-align: sub;
        }
    }
    .right-border {
       border-right: solid 1px $gray-lighter;
    }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
    .top-seller-container {
        .hidden-md-up {
            padding: 0 1.5rem;
        }
        .product-title {
            margin-top: 6px;
            margin-right: 0.5rem;
            height: 4rem;
        }
        .product-circle {
            width: 3.125rem;
            height: 3.125rem;
            top: -3.5rem;
            display: table-cell;
            vertical-align: middle;
            span {
                vertical-align: text-top;
            }
        }
        .product-image {
            margin: 0 0.5rem 0.75rem;
            img {
                height: 6.5rem;
            }
        }
        .product-box {
            margin-bottom: 3rem;
        } 
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .top-seller-container {
        .hidden-lg-up {
            padding: 0 1.5rem;
            margin-bottom: 7.5rem;
        }
        .product-box {
            border-bottom: solid 1px $gray-lighter;
            border-right: solid 1px $gray-lighter;
            padding: 3.75rem 0 2.75rem 0;
        }
        .product-title {
            margin-top: 1.125rem;
            height: 2.75rem;
        }
        .product-image {
            img {
                height: 9.75rem;
            }
        }
        .product-circle {
            width: 4.6875rem;
            height: 4.6875rem;
            left: 1.5rem;
            top: -2.5rem;
            display: table-cell;
            vertical-align: middle;
        }
        .product-detail-box {
            padding: 0 1.5rem;
            margin-top: -2.5rem;
        }
        .no-right-border {
            border-right: 0
        }
        .no-bottom-border {
            border-bottom: 0;
            padding-bottom: 0;
        }
        #productbox.no-top-padding {
            padding-top: 0;
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .top-seller-container {
        .hidden-md-down {
            padding: 0 2rem;
            margin-bottom: 4rem;
            display: inline-block;
        }
       .product-circle {
            width: 4.6875rem;
            height: 4.6875rem;
            top: -2.5rem;
            display: table-cell;
            vertical-align: middle;
        }
        .product-circle-high {
            left: 0.5em;
        }
        .product-title {
            margin-top: 15px;
            height: 2.75rem;
        }
        .product-title-high {
            height: auto;
        }
        .product-box {
            border-bottom: solid 1px $gray-lighter;
            padding: 2.5rem 2rem;
            height: 21rem;
        }
        .product-box-high {
            border-right: solid 1px $gray-lighter;
            height: 42rem;
        }
        .product-image {
            img {
                height: 8.5rem;
            }
        }
        .product-image-high {
            height: 33rem;
            img {
                max-height: 100%;
                height: auto;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
        .product-detail-box {
            margin-top: -2.5rem;
        }
        .product-detail-box-high {
            margin-left: 1.5rem;
        }
        #productbox.no-top-padding {
            padding-top: 0;
        }
        .no-bottom-border {
            border-bottom: 0
        }
    }
}

@media screen and (min-width: 1440px) {
    .top-seller-container {
        .hidden-md-down {
            padding: 0 10rem;
            margin-bottom: 8rem;
            display: inline-block;
        }
       .product-circle {
            width: 4.6875rem;
            height: 4.6875rem;
            top: -2.5rem;
            display: table-cell;
            vertical-align: middle;
        }
        .product-circle-high {
            left: 0.5em;
        }
        .product-title {
            margin-top: 15px;
            height: 2.75rem;
        }
        .product-title-high {
            height: auto;
        }
        .product-box {
            border-bottom: solid 1px $gray-lighter;
            padding: 2.5rem;
            height: 21rem;
        }
        .product-box-high {
            border-right: solid 1px $gray-lighter;
            height: 42rem;
        }
        .product-image {
            img {
                height: 8.5rem;
            }
        }
        .product-image-high {
            height: 33rem;
            img {
                max-height: 100%;
                height: auto;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
        .product-detail-box {
            margin-top: -2.5rem;
        }
        .product-detail-box-high {
            margin-left: 1.5rem;
        }
        #productbox.no-top-padding {
            padding-top: 0;
        }
        .no-bottom-border {
            border-bottom: 0
        }
    }
}


