.item.pdp-variation
  .col-sm-12.m-b-1
    span.pdp-variation-label {{variations.variationTypeHeading}}:
    span.pdp-variation-color {{variations.selectedVariant}}
  .col-sm-12.p-a-0(ng-show="variations.showShadesDiv")
    fieldset
      .radio-custom-color-wrap.m-b-0
        .radio-custom-color(ng-repeat="product in variations.cosmetics track by $index")
          input.color-picker(ng-model="repeatSelect.selected", type='radio', name='colors', ng-value='product', id='{{product.id}}', du-smooth-scroll="pdp-top", autofocus="", ng-click="variations.loadProduct($index, $event);" ng-class="{'selected': $index == 0}")
          label(for="{{product.id}}")
            span.swatch(style="background-image: url('{{product.colorImg[0]}}')")
  .col-lg-8.col-md-10.col-sm-12(ng-show="variations.showDropDownDiv")
    fieldset.select-wrapper
      select#productDropDown.form-control(ng-model='productCtrl.productDropDown', ng-options='productDropDown as productDropDown.color for productDropDown in variations.cosmetics track by productDropDown.id', ng-change='variations.loadProductOnChange(productCtrl.productDropDown)')
        option(value='', hidden='') Select {{variations.variationTypeHeading}}
  .col-sm-12
    span.error-block(ng-show="variations.showError") Oops, please select a {{variations.variationTypeHeading}}
