@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-variation {
    #productDropDown {
        margin-bottom: 0;
        font-size: 1rem;
        padding: 10px 10px;
    }
    .radio-custom-color label {
        -ms-word-break: break-all;
        /* for IE */
        word-break: break-all;
        /* for mozilla */
        word-break: break-word;
    }
    span.pdp-variation-label {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        letter-spacing: -0.1px;
        color: $gray-black;
        display: table-cell;
    }
    span.pdp-variation-color {
        padding: .5rem;
        font-size: 1rem;
        font-weight: $proxima-regular;
        line-height: 1.38;
        letter-spacing: -0.1px;
        color: $gray-black;
        display: table-cell;
    }
    .select-wrapper::after {
        top: 1.5rem;
        right: 1rem;
    }
    .radio-custom-color input[type="radio"] {
        width: 2.25rem;
        height: 2.25rem;
        display: inline-block;
    }
    .error-block {
        font-weight: $proxima-regular;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .radio-custom-color {
            flex-basis: 25%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1339px) {
        .radio-custom-color {
            flex-basis: 5.0625rem;
        }
    }
    @media screen and (min-width: 1440px) {
        .radio-custom-color {
            flex-basis: 6.25rem;
        }
    }
}