.row.customer-post-purchase-signup
      .col-sm-3.visible-sm
      .col-sm-12.center.no-gutter.signup-wrapper
          div
            p
              strong Save your information for next time!
          div
            p.m-b-0
              | Plus enjoy great added benefits when you create an account
          see-component
          span.text-link.section-title-base(ng-show='!customerCtrl.newToNuskin') You can create a cutomer or distributor account.
          input.btn.btn-primary.create-acc-btn(type='button' value='BUTTON TEXT' ng-click='customerCtrl.createAccountClick()' )
