@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";
.customer-post-purchase-signup {
    padding: 2em 2em;
    .create-acc-btn {
        height: 3.5em;
        border-radius: 0.188em;
        background-color: transparent;
        color: $white;
        margin-bottom: 0;
        width: 20.313rem;
        border-color : $white;
    }
    .signup-wrapper {
        padding: 0 7px;
    }
    #seeMoreSection {
        margin-top: -1.8em;
    }
    @media screen and (min-width:360px) and (max-width: 767px) {
        .create-acc-btn {
            width: 100%;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .customer-post-purchase-signup {
        padding: 2em 6em;
    }
}