navbar
.associate-signup-content
    .invite-banner.invite-banner-associate-signup
        .section-associate
            div.outer-image-wrapper(ng-if="assosignup.profilepresent")
                div.inner-image-wrapper
                    img.distributor-avatar.banner-img(ng-src='../../../../src/assets/images/content/avatar-profile.jpg')
            img.distributor-avatar.banner-image(ng-if="!assosignup.profilepresent" ng-src='../../../../src/assets/images/css/ic-profile-white.svg', width="80", height="80")
            h2.text-center.banner-text-associate-signup
                |Ronald Sisk has invited you
                br
                |to join his business
    .signup-container
        .signup-components
            legend
                span.line.seperation-title Join as a Business Associate
            .social-signup
                a.btn.btn-social.btn-facebook.col-xs-12
                    .social-media-icon
                    .social-media-text JOIN WITH FACEBOOK
                span By clicking “Join with Facebook” you agree to our 
                    .btn-link Terms of Use 
                    |and 
                    .btn-link Privacy Policy
            .content-seperator
                span.divider
                    p OR
            .content-seperator
                legend
                    span.line.seperation-title With Email Address
                form(name="assosignup.usernameForm" novalidate form-submit="assosignup.assoSignupContinue()" controller="assosignup")
                    div.form-group.username-title
                        email-phone(credentials='assosignup.credentials' is-email='assosignup.isEmail' title='Username (Email Address)' is-submitted="assosignup.isEmailSubmitted"  is-required='assosignup.isRequired')
                    div.form-group.row.m-b-2
                    input.btn.btn-primary.col-xs-12(type='Submit' value='CONTINUE' ng-click="assosignup.isEmailSubmitted = 'true'")
        .sponsor(ng-show="!assosignup.nonDistributorStoreFront")
            div
                span.text-link Wrong Sponsor?
            div
                span
                    a Join with a different sponsor
        .sponsor(ng-show="assosignup.nonDistributorStoreFront")
            div
                span.text-link Need Sponsor?
            div
                span
                    a Search for a sponsor
