@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/social-media/social.signup.scss";

.associate-signup-content{
    .banner-img{
        display: inline-block;
        width: 4.375rem;
    }
    .seperation-title{
        font-weight: $proxima-semibold;
    }
    .invite-banner .distributor-avatar{
        width: 4.375rem;
    }
    .signup-components{
        width: 27.125rem;
        .social-signup{
            span{
                font-size: 0.813rem;
                font-weight: $proxima-light;
                line-height: 1.46;
            }
            .btn-link{
                display: inline;
                cursor: pointer;
            }
        }
    }
    .username-title{
        margin-bottom: 0;
    }
    .banner-text-associate-signup{
        text-align: left;
        font-size: 1.5rem;
        font-weight: $proxima-light;
        line-height: 1.25;
        color: $white;
        margin: 0.2rem 0 0 0.625rem;
        display: inline-block;
    }
    .banner-container{
        margin-top: 2.750rem;
    }
    .signup-container{
        width: 41.500rem;
        padding: 3% 0;
        .sponsor{
            width: 100%;
            text-align: center;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            .text-link{
                font-size: 1.06rem;
                font-weight: $proxima-semibold;
                line-height: 1.3;
            }
        }
    }
    .invite-banner-associate-signup{
        height: 16.375rem;
    }
    .outer-image-wrapper {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 4.375rem;
        background: rgba(254, 254, 254, 0.3);
        margin-right: 1rem;
        display: inline-block;
        vertical-align: top;
        .inner-image-wrapper {
          width: 3.675rem;
          height: 3.675rem;
          border-radius: 3.675rem;
          margin-top: .3375rem;
          background: rgba(255, 255, 255, 0.3);
          display: inline-block;
          img {
            border-radius: 4.375rem;
            width: 2.9375rem;
            height: 2.9375rem;
            margin-top: 0.4375rem;
          }
        }
    }
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
        margin-bottom: 0.1rem;
    }

    .no-sponsor img{
      width: 4.375rem;
      height: 4.375rem;
    }

    .invite-banner-wrapper {
        .banner-text-associate-signup {
            font-size: 1.75rem;
            margin-left: 0;
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            width: 41.5rem;
            text-align: center;
        }
        .header-content-wrapper {
            img.default-pic {
                width: 5.25rem;
                height: 5.25rem;
                margin-top: 2.5rem;
            }
        }
        .invite-banner-text-section.invite-banner-text-wrapper {
            .banner-text-associate-signup {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                min-height: 5.75rem;
                max-height: 5.75rem;
                height: 5.75rem;
            }
        }
    }

    .invite-banner-associate-signup .section-associate{
        padding-top: 0.9375rem;
        & > div > img{
          width: 4.375rem;
          height: 4.375rem;
        }
    }

    .invite-banner-wrapper {
        font-size: 1.75rem;
        .section-associate {
            div.host-image-section {
                img {
                    width: 5.25rem;
                    height: 5.25rem;
                    margin-top: 0.625rem;
                }
            }
        }
        .outer-image-wrapper {
            width: 7.8125rem;
            height: 7.8125rem;
            border-radius: 7.8125rem;
            display: block;
            margin: 0 auto;
            margin-top: -1rem;
             .inner-image-wrapper {
                width: 6.5625rem;
                height: 6.5625rem;
                border-radius: 6.5625rem;
                position: relative;
                top: 0.3125rem;
                left: 0;
                img {
                    width: 5.25rem;
                    height: 5.25rem;
                    margin-top: 0.625rem;
                }
             }
        }
    }

    @media screen and (min-width: 360px) and (max-width: 767px){
       .banner-text-associate-signup{
            text-align: center;
            display: inline-block;
            margin-top: 1.2rem;
       }
       .invite-banner-wrapper {
           .outer-image-wrapper {
               width: 7.8125rem;
               height: 7.8125rem;
               margin-top: 0;
               .inner-image-wrapper{
                   img {
                       width: 6.5625rem;
                       height: 6.5625rem;
                   }
               }
           }
       }
       .signup-container{
            width: 100%;
            margin: auto;
            padding: 5% 4%;
        }
       .banner-img{
            margin: 0.875rem auto auto auto;
            display: block;
            text-align: center;
       }
       .banner-text-associate-signup{
            display: block;
            text-align: center;
            width: 100%;
        }
        .invite-banner .distributor-avatar{
            width: 7.875rem;
        }
        .invite-banner-associate-signup{
            height: 17rem;
        }
        .invite-banner-wrapper {
            height: 18.25rem;
            .header-content-wrapper {
                img.default-pic {
                    margin-top: 1.875rem;
                }
            }
        }
         .section-associate{
            padding-top: 1rem;
        }
        .signup-components{
            padding: 3% 3%;
            width: 100%;
            .section-associate{
                padding-top: 1rem;
            }
        }
        .no-sponsor img, .section-associate > div > img {
            width: 6.0625rem;
            height: 6.0625rem;
        }
        .checkout-title-banner, .invite-banner-associate-signup {
            height: 17rem;
        }
        .no-sponsor img{
            margin-top: 0.4375rem;
        }
        .no-sponsor p{
            margin-top: 2.25rem;
        }
        .signup-container{
            margin-top: 0rem;
            padding-top: 0rem;
            .signup-components{
                padding-top: 0rem;
                .form-group > form{
                    margin-top: 1.5rem;
                    email-phone input{
                        margin-bottom: 0rem;
                    }
                    .content-seperator{
                        margin-top: 1.3125rem;
                    }
                    .form-group .btn-primary{
                        margin-top: 0.625rem;
                    }
                }
            }
        }
    }

    @media (min-width: 360px) {
        .invite-banner-associate-signup.invite-banner-wrapper {
            .invite-banner-text-section {
                display: table;
                margin: 0 auto;
                padding-top: 0.3125rem;
                h2.banner-text-associate-signup {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    min-height: 6.875rem;
                    max-height: 6.875rem;
                    height: 6.875rem;
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px){
        .signup-components{
            margin-top: 0.813rem;
        }
        .signup-container{
            margin-top: 0;
            width: 100%;
        }
        .invite-banner-associate-signup{
            height: 8.5rem;
            .section-associate{
                padding-top: 2.425rem;
            }
        }
        .invite-banner-wrapper {
            height: 16.25rem;
        }
        .checkout-title-banner, .invite-banner-associate-signup{
            height: 17rem;
        }
        .signup-container{
            margin-top: 0rem;
            padding-top: 0rem;
            .signup-components{
                padding-top: 0rem;
                .form-group > form{
                    margin-top: 1.5rem;
                    email-phone input{
                        margin-bottom: 0rem;
                    }
                    .content-seperator{
                        margin-top: 1.3125rem;
                    }
                    .form-group .btn-primary{
                        margin-top: 0.625rem;
                    }
                }
            }
        }
        .invite-banner-wrapper {
           .banner-text-associate-signup {
               width: 20.75rem;
           }
        }
    }

    @media (min-width: 768px) {
        .invite-banner-associate-signup.invite-banner-wrapper {
            .invite-banner-text-section {
                width: 29rem;
                h2.banner-text-associate-signup {
                    min-height: 6.75rem;
                    max-height: 6.75rem;
                    height: 6.75rem;
                }
            }
        }
        .invite-banner-wrapper {
            .invite-banner-text-section.invite-banner-text-wrapper {
                .banner-text-associate-signup {
                    min-height: 6.5rem;
                    max-height: 6.5rem;
                    height: 6.5rem;
                }
            }
        }
    }

    @media (min-width: 1024px) {
        .invite-banner-associate-signup.invite-banner-wrapper {
            height: 22.6875rem;
            .invite-banner-text-section {
                width: 41.5rem;
                padding-top: 0;
                margin-top: -0.3125rem;
            }
        }
    }
    @media screen and (min-width:1024px) and (max-width:1439px) {
        .signup-components{
            margin-top: 0.813rem;
            email-phone{
                input{
                    margin-bottom: 0;
                }
            }
        }
        .invite-banner-associate-signup{
            height: 16.375rem;
            .section-associate {
                padding-top: 2.6062rem;
            }
        }
    }
    @media screen and (min-width:1440px) {
       .invite-banner-associate-signup {
            .section-associate {
                padding-top: 2.7937rem;
            }
       }
    }
}
