.associate-signup-password-content
    .invite-banner.invite-banner-associate-password
        .section.section-associate-password.text-center
            div.header-content-wrapper
                div.outer-image-wrapper(ng-if="assosignupcreatepwd.profilepresent")
                    div.inner-image-wrapper
                        img.distributor-avatar.banner-image(ng-if="assosignupcreatepwd.profilepresent" ng-src='../../../../src/assets/images/content/avatar-profile.jpg')
                img.distributor-avatar.banner-image.default-profile-image(ng-if="!assosignupcreatepwd.profilepresent" ng-src='../../../../src/assets/images/css/ic-profile-white.svg', width="80", height="80")
                h2.banner-text
                    |Let's complete your account!
    .signup-container.signup-container-associate-password
        .signup-components.signup-components-associate-password
            form(name="assosignupcreatepwd.form" form-submit='assosignupcreatepwd.submitNamePwd()', controller="assosignupcreatepwd" novalidate)
                fieldset.form-group.m-b-0
                    div.row
                        legend
                            span.line.seperation-title Complete Your Info
                        .content-seperator.m-t-0
                            div.m-b-2
                              label.form-label First Name
                              input.form-control.m-b-0(type="text" name="firstName" ng-model='assosignupcreatepwd.firstName' required ng-class="{'ng-touched':assosignupcreatepwd.isSubmitted}")
                              span.error-block.m-t-1(ng-show="(assosignupcreatepwd.form.firstName.$touched && assosignupcreatepwd.form.firstName.$error.required) || (assosignupcreatepwd.form.firstName.$dirty && assosignupcreatepwd.form.firstName.$error.required) || (assosignupcreatepwd.form.$submitted  && assosignupcreatepwd.form.firstName.$error.required)") Please enter the First Name
                            div.m-b-2
                              label.form-label Last Name
                              input.form-control.m-b-0(type="text" name="lastName" ng-model='assosignupcreatepwd.lastName' required ng-class="{'ng-touched':assosignupcreatepwd.isSubmitted}")
                              span.error-block.m-t-1(ng-show="(assosignupcreatepwd.form.lastName.$touched && assosignupcreatepwd.form.lastName.$error.required) || (assosignupcreatepwd.form.lastName.$dirty && assosignupcreatepwd.form.lastName.$error.required) || (assosignupcreatepwd.form.$submitted  && assosignupcreatepwd.form.lastName.$error.required)") Please enter the Last Name
                    div.row
                        legend
                            span.line.seperation-title Secure your Account
                    div.row
                        password-pattern(credentials='assosignupcreatepwd.credentials' is-required='assosignupcreatepwd.isRequired', is-submitted='assosignupcreatepwd.form.$submitted', password-hint="assosignupcreatepwd.passwordHint")
                    div.row
                        button.btn.btn-block.btn-primary(type="Submit" ng-click="assosignupcreatepwd.isSubmitted = true") SUBMIT
