@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/social-media/social.signup.scss";
@import "../../../../src/signup/components/associate-signup/associate.signup.component.scss";

.associate-signup-password-content{
    .banner-text{
        font-size: 1.75rem;
        font-weight: $proxima-light;
        line-height: 1.25;
        color: $white;
        margin-top: 0.8em;
        margin: 0 auto;
        width: 20.75rem;
    }

    .signup-container-associate-password{
        width: 41.500em;
        margin: auto;
        padding: 0.3125rem 7% 1rem;
        margin-top: -7.000em;
    }
    .banner-image{
        display: inline-block;
        width: 4.375em;
    }
    .default-profile-image {
        margin-top: 2rem;
    }
    .signup-components-associate-password{
        width: 27.125em;
    }
    .invite-banner-associate-password{
        height: 16.375em;
    }
    .section-associate-password{
        display: table;
        width: 100%;
        padding-top: 2.875em;
        .header-content-wrapper {
            display: table-cell;
        }
    }
    .seperation-title{
        font-weight: $proxima-semibold;
    }
    .outer-image-wrapper {
        width: 7.8125rem;
        height: 7.8125rem;
        border-radius: 7.8125rem;
        background: rgba(254, 254, 254, 0.3);
        margin-right: 0;
        margin: 0 auto;
        vertical-align: middle;
        .inner-image-wrapper {
          width: 6.5625rem;
          height: 6.5625rem;
          border-radius: 3.675rem;
          margin-top: .3375rem;
          background: rgba(255, 255, 255, 0.3);
          position: relative;
          top: 0.625rem;
          left: 0.625rem;
          img {
            border-radius: 4.375rem;
            width: 5.25rem;
            height: 5.25rem;
            margin-top: 0.625rem;
          }
        }
    }

    @media screen and (min-width: 360px) and (max-width:767px){
        .invite-banner{
            .section{
                padding-top: 0.625rem;
            }
        }
        .banner-text{
            margin-top: 0.625rem;
        }
        .banner-image{
            vertical-align: bottom;
        }
        .invite-banner-associate-password{
            height: 18.25rem;
        }
        .signup-container-associate-password{
            width: 100%;
            margin: 0 auto auto auto;
            padding: 0.0625rem 4%;
        }
        .signup-components-associate-password{
            width: 100%;
            padding: 0 7%;
        }
        .outer-image-wrapper{
            vertical-align: top;
            margin-top: 2.25rem;
        }
    }

     @media screen and (min-width: 768px) and (max-width: 1023px){
        .signup-components-associate-password{
            margin-top: 0.813em;
            width: 27.125em;
        }
        .invite-banner-associate-password{
            height: 16.25rem;
        }
        .signup-container-associate-password{
            margin-top: 0;
            width: 100%;
        }
        .banner-text{
            margin-top: 0.625rem
        }
        .invite-banner .section{
            padding-top: 1.375rem;
        }
    }
    @media (min-width: 1024px) {
        .invite-banner-associate-password {
            height: 22.6875rem;
        }
    }

    @media screen and (min-width:1024px) and (max-width:1439px) {
        .signup-components-associate-password{
            margin-top: 0.813em;
        }
        .section-associate-password{
            padding-top: 3.188em;
        }
    }
}
