@import "../../../../../src/stylesheets/partials/variables.scss";
.media-category-banner-container{
    
    .category-header{
        padding: 0;
        background: #ffffff;
    }
    .category-only-header {
        padding: 0;
        background: #ffffff;
    }
    .category-header-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
    }
    .myContentBanner, .myFavBanner {
        left: inherit;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .productsBanner, .lifestyleBanner, .opportunityBanner {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .category-name{
        font-weight: $proxima-thin;
        letter-spacing: -0.3px;
        color: $white;
        line-height: 1.1;
    }
    .category-name .header {
        padding: 0 0 0.8em 0;
    }
    .category-name .category-content{
        padding: 0;
        margin-bottom: 1.5em;
        font-size: 1rem;
        font-weight: $proxima-light;
        color: $gray-dark;
    }
    .category-name .item-count {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.94;
        color: $gray-light;
    }
    .category-button {
        padding: 0;
    }
    .category-button .btn {
        border-radius: 3px;
        font-size: 0.8rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 1px;
        width: auto;
    }
    .media-buttons{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .refine , .upload{
        font-size: 0.875em;
        font-weight: normal;
        line-height: 1.57;
        letter-spacing: 0.4px;
        color: $brand-primary;
        margin-bottom: 1em;
        outline: none;
        background: none;
        border: 0;
        padding: 0;

    }
    .refine{
        margin-left: 1.7em;
    }
    .upload{
        margin-left: 0.75em;
    }
    .refine-icon , .upload-icon{
        height: 1.250em;
        width: 1.450em;
        float: left;
        margin-right: 0.313em;

    }
    .refine-icon{
        background: url(../../../../../src/assets/images/css/ic-refine.svg) center no-repeat;
    }
    .upload-icon{
        background: url(../../../../../src/assets/images/css/ic-upload.svg) center no-repeat;
    }

    @media screen and (max-width: 767px) and (min-width: 319px) {
        margin-top: -3.1em;
        .category-only-header {
            height: 30rem;
        }
        .category-only-header .myContentBanner, .category-only-header .myFavBanner {
            background-position: 75%;
        }
        .category-header{
            height: 20.000em;
        }
        .category-name{
            padding: 5em 0 0 0.75em;
            font-size: 1.88rem;
        }

        .no-result-padding{
            padding: 8rem 0 0 0.75em;
        }
        .category-name .header {

        }
        .productsBanner, .lifestyleBanner {
            background-position: bottom;
        }
        .opportunityBanner {
            background-position: left;
        }

        .myContentBanner, .myFavBanner{
            background-position: 75%;
        }
    }



    @media screen and (max-width: 1022px) and (min-width: 768px) {
        margin-top: -3.9em;
        .category-only-header {
            height: 49em;
        }
        .category-header{
            height: 21.88rem;
        }
        .category-name{
            padding: 5.375em 0 0 2.9em;
            font-size: 1.88rem;
        }

        .no-result-padding{
            padding: 11rem 0 0 2.9em;
        }
        .category-only-header .myContentBanner, .category-only-header .myFavBanner {
            background-size: contain;
        }
        .productsBanner {
            background-position: bottom;
        }
        .lifestyleBanner, .opportunityBanner{
            background-position: left bottom;
        }
        .myContentBanner, .myFavBanner{
            background-position: right;
        }
    }

    @media screen and (min-width: 1023px) and (max-width: 1439px) {
        margin-top: -3.9em;
        .category-only-header {
            height: 37rem;
        }
        .category-header{
            height: 26.32em;
        }
        .category-name{
            padding: 5.5em 0 0 3.05em;
            font-size: 2.37rem;
        }
        .no-result-padding{
            padding: 11rem 0 0 3.05em;
        }
        .category-name .category-content{
            font-size: 1.4rem;
        }
        .productsBanner {
            background-position: bottom;
        }
        .lifestyleBanner, .opportunityBanner{
            background-position: left bottom;
        }
        .myContentBanner, .myFavBanner{
            background-position: right;
        }
    }

    @media screen and (min-width: 1440px) {
        margin-top: -3.9em;
        .category-only-header {
            height: 37.56rem;
        }
        .category-header{
            height: 30.250em;
        }
        .category-name{
            padding: 6em 0 0 4.325em;
            font-size: 2.37rem;
        }
        .no-result-padding{
            padding: 11rem 0 0 4.325em;
        }
        .refine{
            margin-left: 2.285em;
        }
        .category-name .category-content{
            font-size: 1.4rem;
        }
        .productsBanner, .lifestyleBanner, .opportunityBanner{
            background-position: left bottom;
        }
        .myContentBanner, .myFavBanner{
            background-position: right;
        }
    }
    .storage-part{
      display: inline-block;
      padding-left: 1em;
    }
}
