@import "../../../../../src/stylesheets/partials/variables.scss";

.media-item-detail {
	background: $white;

    .reset {
        margin: 0;
        padding: 0;
    }
    .search-result-placeholder img {
        width: 0.6em;
        margin-right: 0.5em;
    }
    .search-result-placeholder span {
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        letter-spacing: -0.1px;
        color: $gray-black;
    }
    .item-detail-edit {
        padding: 1.4rem 0 1.4rem 3em;
        font-size: 0.875rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 1px;
        text-align: left;
        color: $brand-primary;
        background: url(../../../../../src/assets/images/css/stroke-159-copy-5.svg) no-repeat;
        background-size: 1.1em;
        background-position: 1em 45%;
        cursor: pointer;
    }
    .media-image, .media-video, .media-presentation, .media-audio, .media-item-container {
        padding-top: 1em;
        -webkit-user-select:none;
        user-select:none;
        -moz-user-select:none;
    }
    .media-audio-container {
        background: url(../../../../../src/assets/images/css/audio-wave-copy-2@3x.png) no-repeat;
        background-size: contain;
        background-position: 50%;
    }
    .media-audio audio {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .media-presentation {
        .media-presentation-container {
            background: $gray-lighter;
            position: relative;
            height: 100%;
        }
        img {
            width: 60px;
            height: 60px;
            margin: 0;
            padding: 0;
            position: absolute;
            left: calc(50% - 30px);
            top: calc(50% - 30px);
        }
    }
    .media-item-container {
        /*padding-top: 2em;*/
    }
    .media-item-name {
        line-height: 1.2;
        text-transform: none;
		word-wrap: break-word;
        padding-bottom: 1em;
    }
	.favorite-container {
        position: relative;
        top: -0.5em;

        .media-favorite-container {
            button{
                width: 4.5em;
                height: 4.5em;
                cursor: auto;
            }
            padding: 0;
            margin: 0 auto;
            position: static;
        }
        .favorite-text {
            position: absolute;
            margin-left: 0.8em;
            margin-top: -7px;
            font-size: 0.875rem;
            font-weight: $proxima-light;
            line-height: 1.57;
            letter-spacing: 0.4px;
            color: $gray;
            width: 100%;
        }
    }
		.star-with-download-text{
			padding:0;
		}
		.star-content{
			margin-top: 0.2em;
		}
		@media (min-width: 768px){
			.star-with-download-text{
			    width: 6.125em;
			}
}
@media screen and (min-width:360px) and (max-width: 767px){
	.star-with-download-text{
			width: 6.125em;
	}
	.open > .dropdown-menu {
			left: -8.15em;
	}
}
@media (min-width: 360px){
	.star-with-download-text{
			width: 6.125em;
	}

}

    .media-stars {
        display: inline-block;
        padding: 0;
		    margin-bottom: 0;
        li{
          display: inline;
        }
    }
    .ratings-text{
        margin-left: 0.9em;
        vertical-align: sub;
        font-size: 0.8125rem;
        font-weight: normal;
        line-height: 1.85rem;
        color: $brand-primary;
    }
    .media-downloads-container {
        margin-bottom: 1.5em;

        .media-downloads {
            font-size: 0.8125rem;
            font-weight: $proxima-thin;
            line-height: 1.54;
            color: $gray;
            margin-bottom: 0;
        }
    }
    .media-item-detail-container {
        margin-top: 1.2em;

        legend {
            margin-bottom: 2rem;
        }
        .media-item-detail-header {
            line-height: 1;
            font-weight: $proxima-semibold;
            letter-spacing: 0.6px;
            color: $gray-black;
        }
        .media-item-detail-content {
            margin-bottom: 1.5em;
        }
        .media-item-detail-content h5 {
            line-height: 1.23;
            letter-spacing: 0.5px;
            margin-bottom: 0.5em;
        }
        .media-item-detail-content p {
            line-height: 1.5;
        }
        .logo {
            height: 2.5em;
            width: 2.5em;
            margin-right: 0.75em;
            position: relative;
            float: left;
        }
        .media-item-detail-content-logo-text {
            font-size: 0.81rem;
            line-height: 1.38;
            height: 2.5rem;
            display: table-cell;
            vertical-align: middle;
        }
        .media-item-detail-content-tags {
            .badge {
                border-radius: 20px;
                background-color: $gray-lightest;
                padding: 0.55em 1.6em;
                font-size: 0.8em;
                line-height: 1.29;
                margin-right: 0.6em;
                transition: background-color 0.3s;
                cursor: pointer;
                display: inline-block;
                margin-top: 3px;
            }
        }
        .delete-section
        {
            display: inline-block;
            width: 5.625rem;
            padding-top: 0.625rem;
            .delete-icon{
                background-image: url(../../../../../src/assets/images/css/ic-trash@3x.png);
                height: 1.4em;
                padding-right: 0;
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50%;
            }
            .icon-names{
                font-weight: $proxima-semibold;
                font-size: 0.75em;
                line-height: 0.6875em;
                color: $brand-primary;
                display: flex;
                padding: 8px 0 0 0;
            }
        }
    }
    .modal {
        -webkit-transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    }
    .modal .modal-dialog {
        height: 100%;
        margin: auto;
    }
    .modal-content {
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
        border: solid 1px #e3e3e3;
    }
    .modal-header {
        padding: 1em 1em 0;
        border-bottom: 0;
    }
    .modal-header .close {
        width: 25px;
        height: 25px;
        background-image: url(../../../../../src/assets/images/css/ic-close-circle.png);
        background-size: contain;
				color:$white;
        opacity: 1;
    }
    .modal-body {
        padding: 0 0.5em;
        margin: 0;
    }
    .modal-title {
        font-size: 1.35rem;
        line-height: 1.27;
        text-align: center;
        text-transform: none;
    }
    .modal-options {
        padding: 0 1em 1.5em;
    }
    .radio {
        margin: 0;
    }
    .radio label{
        color: #fff;
    }
    .modal-option-category {
        font-size: 1rem;
        font-weight: $proxima-thin;
        line-height: 1.13;
        color: $gray-dark;
    }
    .modal-option-tag {
        font-size: 0.825rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
    }
    .modal-option-dimension, .modal-option-size {
        font-size: 0.825rem;
        font-weight: $proxima-thin;
        line-height: 1.08;
        color: $gray-dark;
    }
    .modal-option-btn {
        margin: auto;
    }
    .modal-option-btn .btn {
        margin-bottom: 2em;
    }
}

.media-presentation {
    height: 230px;
}

.modal-backdrop{
    background-color: rgba(204,232,239,0.9);
}
.modal-backdrop.in {
    opacity: 0.9;
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .media-item-detail {
        .search-result-placeholder {
            padding: 1.4em;
        }
        .item-detail-edit {
            padding-right: 0;
        }
        .media-image, .media-video, .media-presentation, .media-item-container, .media-audio {
            clear: both;
            float: none;
            margin: 0 auto;
            width: 87%;
        }
        .media-item-btn-share, .media-item-btn-download {
            width: 100%;
            padding: 0;
            float: left;
        }
        .modal-dialog{
            width: 86.5%;
            margin: auto;
        }
        .modal-title {
            margin-bottom: 2rem;
        }
        .modal-option-dimension {
            margin-top: 1em;
        }
        .modal-option-btn {
            width: 90%;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1023px){
    .media-item-detail {
        .search-result-placeholder {
            padding: 1.4em 1.6em;
        }
        .media-image, .media-video, .media-presentation, .media-item-container, .media-audio {
            clear: both;
            float: none;
            margin: 0 auto;
            width: 62%;
        }
        .media-item-btn-share, .media-item-btn-download {
            width: 48.5%;
            padding: 0;
            float: left;
        }
        .media-item-btn-share {
            margin-right: 3%;
        }
        .modal-dialog{
            width: 72%;
            margin: auto;
        }
        .modal-title {
            margin-bottom: 3rem;
        }
        .modal-option-dimension {
            margin-top: 1em;
        }
        .modal-option-btn {
            width: 32%;
        }
        .modal-option-btn .btn {
            margin-top: 1em;
        }
    }
}
@media screen and (min-width:1024px) and (max-width: 1439px){
    .media-item-detail {
        .search-result-placeholder {
            padding: 1.8em 1.6em;
        }
        .item-detail-edit {
            margin-left: 4em;
        }
        .media-image, .media-video, .media-presentation, .media-audio {
            width: 39%;
            float: left;
            padding-bottom: 1em;
        }
        .media-item-btn-share, .media-item-btn-download {
            width: 40%;
            padding: 0;
            float: left;
        }
        .media-item-btn-share {
            margin-right: 2.5%;
        }
        .modal-dialog{
            width: 54%;
            margin: auto;
        }
        .modal-title {
            margin-bottom: 2.5em;
        }
        .modal-option-dimension {
            margin-top: 2em;
        }
        .modal-option-btn {
            width: 32%;
        }
        .modal-option-btn .btn {
            margin-top: 1em;
        }
    }
}

@media screen and (min-width:1440px){
    .media-item-detail {
        .search-result-placeholder {
            padding: 1.8em 3.25em;
        }
        .media-image {
            width: 38%;
            margin-left: 10%;
            float: left;
            padding-bottom: 1em;
        }
        .media-video, .media-presentation, .media-audio {
            width: 46%;
            height: 385px;
            margin-left: 3%;
            float: left;
        }
        .media-item-container {
            margin-left: 11%;
            width: 30.33%;
        }
        .media-item-btn-share, .media-item-btn-download {
            width: 39%;
            padding: 0;
            float: left;
        }
        .media-item-btn-share {
            margin-right: 2%;
        }
        .modal-dialog{
            width: 38%;
            margin: auto;
        }
        .modal-title {
            margin-bottom: 1.7em;
        }
        .modal-option-dimension {
            margin-top: 2em;
        }
        .modal-option-btn {
            width: 32%;
        }
        .modal-option-btn .btn {
            margin-top: 1em;
        }
    }
}

.error-message-id{
    width: 100%;
    background-color: $brand-success;
    color: #fff;
    border-radius: 0;
    display: none;
    text-align: center;
}

.infoIcon{
  margin-right: 14px;
}

.content-ratings-popover{
.dropdown-menu {
		background: linear-gradient($aqua, $brand-primary);
		height: 21.25em;
		width: 23.4375em;
}
.popover-title {
		padding: 0;
}
.popover {
		border: 0;
}
.popover-arrow {
		top: -.5625em !important;
}
.popover-arrow::after {
		border-bottom-color: $brand-primary !important;
}
.left-upper-content {
		margin-top: 3.438em;
}
.left-upper-content span {
		color: $white;
		font-size: 1.125rem;
		font-weight: $proxima-semibold;
		height: 1.875em;
		display: block;
}
.below-content {
		margin-top: 2.813em;
		text-align: center;
}
.popover-star {
		margin-left: 3.438em;
}
.Purchase-btn {
		width: 11.250em;
		background: none;
		border: solid white 0.006em;
}
.close {
		float: right;
		font-size: 2.0rem;
		font-weight: bold;
		line-height: 1;
		color: $gray-lightest;
		text-shadow: 0 .0625em 0 $gray-lightest;
}
.percent-text1 {
		font-size: 1rem;
		font-weight: normal;
		line-height: 1.38;
		color: $white;
		text-align: center;
		margin-top: 4.063em;
}
.Submit-btn {
		width: 11.250em;
		margin-left: 5.313em;
		background: none;
		border: solid white 0.006em;
		margin-top: 2.500em;
}
.Submit-btn1 {
		width: 14.375em;
    height: 3.5em;
		background: none;
		border: solid white 1px;
}
.feedback-upper-content {
		font-size: 1.375rem;
		height: 2.750em;
		object-fit: contain;
		font-weight: normal;
		line-height: 1.38;
		color: $white;
}
.open > .dropdown-menu {
		display: block;
}
.dropdown-menu {
		background: -webkit-linear-gradient($aqua, $brand-primary);
		height: 23.438em;
		width: 23.438em;
}
.dropdown-menu {
		position: relative;
}
.pdp-popover-stars {
		display: inline-block;
		padding: 0;
}
.pdp-popover-stars li {
		display: inline;
		margin: 0 0.313em;
		cursor: pointer;
}
.pdp-small-container {
		text-align: center;
}
.pdp-popover-stars-1 {
		display: inline-block;
		padding: 0;
		margin-top: 0.75em;
}
.pdp-popover-stars-1 li {
		display: inline;
		margin: 0 0.15em;
		cursor: pointer;
}
.pdp-popover-stars-1 li img {
		width: 9%;
		height: 9%;
}
.close-btn {
		width: 14.375em;
		height: 3.5em;
		background: none;
		border: solid white 1px;
		margin-top: 2.500em;
		margin-right: 1.875em;
		margin-left: 7.450em;
		margin-top: 2.875em;
		color: $white;
}
.cross-sign {
		position: absolute;
		right: 1.325em;
		top: 0.625em;
		background-image: url('../../../../../src/assets/images/content/pdp-productbasics/ic-close-circle-sm.png');
		width: 1.5em;
		height: 1.5em;
}
.overall-rating-content {
		font-size: 1.375rem;
		height: 2em;
		font-weight: normal;
		line-height: 1.38;
		color: $white;
		left: 0.125em;
		text-align: center;
}
.dropdown-menu {
		background-color: $aqua;
		top: 2.5em;
		border: 0;
		border-radius: 0;
}
.dropdown-menu::after {
		border-bottom: 1.063em solid $aqua;
		border-left: 0.688em solid transparent;
		border-right: 0.625em solid transparent;
		width: 0;
		height: 0;
		content: "";
		position: absolute;
		bottom: 100%;
		left: 11.5em;
}
.dropdown-toggle::after {
		display: none;
}
.Ratingstar-line {
		color: $white;
		width: 100%;
		text-align: center;
		font-size: 0.875em;
}
.Rating-submit-text {
		text-align: center;
}
.Rating-submit-text p {
		width: 12.500em;
		height: 0.750em;
		font-size: 1.0625rem;
		font-weight: $proxima-light;
		line-height: 1.38;
		margin: 0 auto;
		color: $white;
		padding-top: 0.5em;
		left: 4.375em;
}
.mouse-cursor {
		cursor: pointer;
}
.pdp-remove-padding-lr {
		padding-left: 1em;
		padding-right: 1em;
}
.pdp-remove-margin-b {
		padding-bottom: 0;
}
.pdp-title-remove-padding {
		padding-left: 0;
		padding-right: 0;
}
.dropdown-menu {
		position: absolute;
		left: -9em;
		width: 23.4375em;
		height: 21.25em;
}
.dropdown-menu {
		top: 2.5em;
}

.input-group .button-disable, .input-group .button-disable:hover{
	opacity: 0.3;
	cursor: not-allowed;
}

@media (max-width: 23.3em) {
		.slick-slider.carousel {
				margin-bottom: 0;
		}
		.pdp-product-carousel div {
				margin: 0 auto;
		}
		.dropdown-menu::after {
				left: 11.5em;
		}
		.psv-section {
				button {
						width: 100%;
				}
		}
		.pdp-productbasics-stars {
				padding-left: 0;
		}
		.pdp-productbasics-stars-div {
				padding-left: .9375em;
		}
		.dropdown-menu {
				left: -.9375em;
				top: .9375em;
		}
		.mouse-cursor {
				padding-left: 1.5625em;
		}
		.open > .dropdown-menu {
				top: 0.5em;
		}
		.dropdown-menu {
				position: relative;
		}
}
.pdp-stars-div{
	width: 80%;
}
@media screen and (min-width: 23.4em) and (max-width: 47.99em){
	.pdp-product-detials h1 {
			width: 68%;
	}
	.open > .dropdown-menu {
			top: 0.5em;
			left: -9em;
	}
	.dropdown-menu {
			position: relative;
			left: 0em;
	}

}
@media screen and (min-width: 48em) and (max-width: 64em){
		.pdp-product-detials h1 {
				width: 80%;
		}
		.dropdown-menu {
				left: -9em;
		}
}

@media screen and (max-width: 47.938em){
.close-btn{
	margin-left: 6.6em;
}
.open > .dropdown-menu {
    top: 1.5em;
	}
	.dropdown-menu::after {
		left:10.7em;
	}
}
}
