.media-item-detail(ng-init="ctrl.init();")
  .container-fluid
    .row
      .alert.alert-danger.error-message-id.col-sm-12.infoIcon
    .row
      .col-sm-9.col-lg-10.search-result-placeholder
        img(src='../../../../../src/assets/images/css/ic-arrow-down-copy-10@3x.png')
        span Back
      //- .col-sm-3.col-md-2.col-lg-1.item-detail-edit(ng-click='ctrl.editItem();') EDIT
    .row
      .media-image.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='Image'")
        img(ng-src='{{ctrl.itemData.content_media}}')
      .media-video.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='Video'")
        .embed-responsive.embed-responsive-16by9
          video#media-video(width='100%', height='auto', ng-click='ctrl.togglePlay()', ui-event='{ended: "ctrl.videoEnd()"}')
            source(ng-src='{{ctrl.itemData.content_media}}', type='video/mp4')
            | 	Your browser doesn't support HTML5 video.
          .video-btn
            button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay()')
              span Play
      .media-presentation.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='Presentation'")
        .media-presentation-container
          img(ng-src='{{ctrl.itemData.content_media}}')
      .media-audio.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='Audio'")
        .embed-responsive.embed-responsive-16by9.media-audio-container
          audio#media-video(width='100%', height='auto', ui-event='{ended: "ctrl.videoEnd()"}')
            source(ng-src='{{ctrl.itemData.content_media}}', type='audio/mp3')
            | 	Your browser doesn't support HTML5 video.
          .video-btn
            button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay()')
              span Play
      .media-presentation.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='PDF'")
        .media-presentation-container
          img(ng-src='{{ctrl.itemData.content_media}}')
      .media-presentation.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.no-gutter(ng-if="ctrl.itemData.content_type=='Document'")
        .media-presentation-container
          img(ng-src='{{ctrl.itemData.content_media}}')
      .media-item-container.col-sm-10.col-md-7.col-lg-5.col-lg-offset-1.col-xl-4.no-gutter
        .row.reset
          h1.media-item-name.col-sm-9.reset {{ctrl.itemData.item_name}}
          .favorite-container.col-sm-3.reset
            .media-favorite-container(ng-click='ctrl.toggleFavorite()')
              button.favorite(ng-class='{active: ctrl.itemData.isFavorite}')
                svg.heart(width='30px', height='27px', viewbox='0 0 24 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#heart-outline(transform='translate(1.000000, 0.000000)', stroke='#999')
                      path#fill(d='M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763', fill='#ffffff')
        //- .row.reset
        //-   .col-sm-12.reset
        //-     .col-md-4.col-sm-6.star-with-download-text
        //-       ul.media-stars
        //-         li(ng-repeat='star in ctrl.getNumber()')
        //-           img(ng-src='{{ctrl.starFunction(star)}}', ng-click='ctrl.rateProduct(star)')
        //-       .reset.media-downloads-container
        //-         p.media-downloads {{ctrl.itemData.downloads}} Downloads
        //-     .col-md-8.col-sm-6.m-b-3.star-content
        //-       popover-component.content-ratings-popover(rating-value='ctrl.itemData.totalRatings', is-question-visible='productCtrl.isQtn')
        .row.reset
          .media-item-btn-share
            button.btn.btn-primary(type='button') SHARE
          .media-item-btn-download
            button.btn.btn-primary(type='button', data-toggle='modal', ng-click='ctrl.downloadOptions(ctrl.itemData.content_type)') DOWNLOAD
          #mediaSizes.modal.fade(role='dialog')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal')
                .modal-body
                  h1.modal-title Choose file size
                  .modal-options.col-sm-6.col-md-3.reset(ng-repeat='list in ctrl.itemData.downloadInfo')
                    .radio
                      input#downloadOptions(type='radio', ng-model='ctrl.downloadCategory', name='downloadOptions', value='{{list.category}}')
                      label(for='downloadOptions') {{list.category}}
                    .modal-option-category {{list.category}}
                    .modal-option-tag {{list.tag}}
                    .modal-option-dimension {{list.dimension}}
                    .modal-option-size {{list.size}}
                  .modal-option-btn
                    button.btn.btn-primary(type='button', ng-click='ctrl.download(ctrl.itemData.content_type)') DOWNLOAD
        .row.reset
          .col-sm-12.reset
            .media-item-detail-container
              legend
                span.line.media-item-detail-header Content Details
              .media-item-detail-content
                h5 CONTENT CONTRIBUTOR
                p {{ctrl.itemData.content_contributor}}
              .media-item-detail-content
                h5 PUBLISHED
                p {{ctrl.itemData.published}}
              .media-item-detail-content
                h5 CONTENT DESCRIPTION
                p {{ctrl.itemData.content_description}}
              .media-item-detail-content
                h5 CONTENT TYPE
                .logo
                  img(ng-src='{{ctrl.itemData.content_logo}}', alt='img', height='100%', width='100%')
                p.media-item-detail-content-logo-text {{ctrl.itemData.content_type}}
              .media-item-detail-content
                h5 TAGS
                p.media-item-detail-content-tags
                  span.badge(ng-repeat='value in ctrl.itemData.tags') {{value.content}}
                span.delete-section
                  .delete-icon.col-sm-4.pointer
                  span.icon-names.col-sm-8.no-gutter.m-t-0_5.text-sm-right.pointer DELETE