.friends-family-signup-password-content
    .invite-banner.invite-banner-family-password
        .section.text-center
            img.distributor-avatar.banner-image-family-password(src='../../../../src/assets/images/content/distributor-avatar.png')
            h2.banner-text-family-password
                |Let's complete your account!
    .signup-container.signup-container-family-password
        .signup-components.signup-components-family-password
            form(name="familysignupcreatepwd.form" form-submit="familysignupcreatepwd.submitFamilyNamePwd()" controller="familysignupcreatepwd" novalidate)
                fieldset.form-group.m-b-0
                    div.row
                        legend
                            span.line.seperation-title Complete Your Info
                        .content-seperator
                            div.m-b-2
                                label.form-label Last Name
                                input.form-control.m-b-0(type="text" name="lastName" ng-model='familysignupcreatepwd.lastName' ng-class="{'ng-touched': familysignupcreatepwd.credentials.isSubmitted}" required)
                                span.error-block.m-t-1(ng-show="(familysignupcreatepwd.form.lastName.$touched && familysignupcreatepwd.form.lastName.$error.required) || (familysignupcreatepwd.form.lastName.$dirty && familysignupcreatepwd.form.lastName.$error.required) || (familysignupcreatepwd.form.$submitted  && familysignupcreatepwd.form.lastName.$error.required)") Please enter the Last Name
                            div.m-b-2
                                label.form-label First Name
                                input.form-control.m-b-0(type="text" name="firstName" ng-model='familysignupcreatepwd.firstName' ng-class="{'ng-touched': familysignupcreatepwd.credentials.isSubmitted}" required)
                                span.error-block.m-t-1(ng-show="(familysignupcreatepwd.form.firstName.$touched && familysignupcreatepwd.form.firstName.$error.required) || (familysignupcreatepwd.form.firstName.$dirty && familysignupcreatepwd.form.firstName.$error.required) || (familysignupcreatepwd.form.$submitted  && familysignupcreatepwd.form.firstName.$error.required)") Please enter the First Name
                            div.m-b-2
                                email-phone.m-b-0(credentials='familysignupcreatepwd.credentials' is-phone='familysignupcreatepwd.isPhone' title='{{familysignupcreatepwd.title}}' is-required='familysignupcreatepwd.isRequired' is-submitted='familysignupcreatepwd.form.$submitted')
                    div.row
                        legend
                            span.line.seperation-title Secure your Account
                    div.row 
                        password-pattern(credentials='familysignupcreatepwd.credentials' is-required='familysignupcreatepwd.isRequired', is-submitted='familysignupcreatepwd.form.$submitted')
                    div.form-group
                        div.account-policy-checkbox.checkbox
                            input(type="checkbox" id="accountregistrationpolicy" ng-model="familysignupcreatepwd.accountregistrationpolicy" name="accountregistrationpolicy" value="accountregistrationpolicybox" ng-click='familysignupcreatepwd.checkboxShowHide()')
                            label.form-label.account-policy-title I hereby accept all 
                                a.form-label Account Registration Policies
                                |  that apply.
                        .validation-message.m-a-0
                            .error-block(ng-show='familysignupcreatepwd.checkBox && familysignupcreatepwd.submitButtonClicked')
                                div.message-checkbox(id='errorMessageCheckBox') Please accept the terms and conditions before proceeding.
                    div.row
                        button.btn.btn-block.btn-primary(type='Submit') SUBMIT