@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/social-media/social.signup.scss";
@import "../../../../src/signup/components/friends-family-signup/friends.family.signup.component.scss";

.friends-family-signup-password-content{
    .banner-text-family-password{
        font-size: 1.5rem;
        font-weight: $proxima-light;
        line-height: 1.25;
        color: $white;
        margin: 0.8em auto auto 0.625em;
        display: inline-block;
    }
    .banner-image-family-password{
        border-radius: 50%;
    }
    .invite-banner .section{
        padding-top: 2.5rem;
    }
    .invite-banner-family-password{
        height: 16.375em;
    }
    .invite-banner .distributor-avatar{
        width: 4.813em;
        display: inline-block;
    }
    .signup-container-family-password{
        margin-top: -7.000em;
        padding-top: 2.5rem;
        width: 41.500em;
    }
    .signup-components-family-password{
        margin-top: -3.750em;
    }
    .seperation-title{
        font-weight: $proxima-semibold;
    }
    .account-policy-checkbox{
        font-size: 0.875rem;
        height: 2.250em;
        padding: 1.25rem 0 1.5625rem 0;
        margin-top: -1.875rem;
        font-weight: $proxima-light;
        color: $gray-faded;
    }
    .account-policy-checkbox{
        padding: auto 0;
        margin-left: -1rem;
    }
    @media screen and (min-width:360px) and (max-width: 767px){
        .banner-text-family-password{
            display: inline-block;
            margin: 0.3125rem 0 0 0;
            width: 8.375em;
        }
        .invite-banner .section{
            padding-top: 2.5rem;
        }
        .signup-container-family-password{
            width: 100%;
            margin-top: 0;
            padding-top: 1.5625rem;
        }
        .invite-banner-family-password{
            height: 9.375rem;
        }
        .friendsfamily-signup-password-content{
            width: 100%;
            padding: 2% 7%;
        }
        .signup-components-family-password{
            margin-top: -1.5rem;
        }
        .account-policy-checkbox{
            width: 100%;
        }
    }
   
      @media screen and (min-width: 768px) and (max-width: 1023px){
        .signup-components-family-password{
            margin-top: 0.813em;
        }
        .invite-banner-family-password{
            height: 8.563em;
        }
        .signup-container-family-password{
            width: 100%;
            margin-top: 0;
            padding: 0.0625rem 0 1.25rem 0;
        }
        .account-policy-checkbox{
            width: 80%;
        }
    }
    @media screen and (min-width:1024px) and (max-width:1440px) {
        .signup-components-family-password{
            margin-top: -2.500em;
            width: 27.125em;
        }
        .invite-banner .section{
            padding-top: 2.5rem;
        }
        .signup-container-family-password{
            margin-top: -7.000em;
            width: 41.500em;
        }
    }
}