@import "../../../../src/stylesheets/partials/variables.scss";
.forgot-username{
  .invite-banner{
    height: 16.375em;
    text-align: left;
    .section{
      padding-top: 1.25em;
    }
  }
  .banner-title{
    h2{
      color: $white;
      font-size: 1.813em;
      font-weight: $proxima-light;
    }
    p{
      color: $white;
    }
  }
  .forgot-username-container{
    width: 41.5em;
    margin: 0 auto;
    margin-top: -7.313em;
    margin-bottom: 7.094em;
    padding: 0;
    background-color: $white;
    .email-section{
      padding: 2.481em 18.125em 2.550em;
    }
    .email-content{
      padding: 0 7.188em 1.556em;
      p{
        margin-bottom: 0;
      }
      .emailid{
        padding: 1.556em 0 0.512em;
      }
      .tooltipwrapper{
          .dropdown-menu{
            @extend .dropdown-menu;
            p.dropdown-title{
              text-align: left;
            }
          }      
      }
      .furtherassistance{
        padding: 1.031em 0 1.575em;
      }
    }
    .tip{
      width: 100%;
      height: 4.219em;
      background-color: $gray-lightest;
      .tiptext{
        width: 18.481em;
        margin: auto;
        padding: 0.9em 0;
      }
      }
    .search-title{
      width:100%;
      margin: 0 auto;
      text-align: center;
      .searchtext{
        width: 15.356em;
        padding-top: 2.044em;
        padding-bottom: 1.769em;
        padding: auto;
        margin:auto;
      }
      }
      .tooltipwrapper{
        .dropdown-menu{
          .dropdown-title{
            text-align: left;
          }
        }
      }
  }
  .search-bar{
    width: 100%;
    height: 3.75em;
    // margin-top: 1.5625em;
    background-color: $white;
    ul{
      width: 27.1875em;
      margin: 0 auto;
      padding: 0;
    }
    ul li{
      width: 6.369em;
      height: 3.75em;
      list-style: none;
      float: left;
      border-right: solid 1px $gray87;
      background-color: $gray-lightest;
      background-repeat: no-repeat;
      background-position: center center;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      color: $gray-dark;
      text-transform: uppercase;
      cursor: pointer;
    }
    ul li.active{
      width: 14.438em;
      height: 3.75em;
      background-color: $aqua;
      border-right: none;
    }
    ul li.last{
      border-right: none;
    }
    ul li.user-id{
      background-image: url('../../../../src/assets/images/css/id.png');
    }
    ul li.user-id:hover, ul li.user-id.active{
      background-image: url('../../../../src/assets/images/css/id-hover.png');
    }
    ul li.user-id.active{
      background-position: 5.188em center;
      padding-left: 7.688em;
      padding-top: 1.1875em;
    }
    ul li.email{
      background-image: url('../../../../src/assets/images/css/email.png');
    }
    ul li.email:hover, ul li.email.active{
      background-image: url('../../../../src/assets/images/css/email-hover.png');
    }
    ul li.email.active{
      background-position: 5.188em center;
      padding-left: 7.688em;
      padding-top: 1.2em;
    }
    ul li.phone{
      background-image: url('../../../../src/assets/images/css/phone.png');
    }
    ul li.phone:hover, ul li.phone.active{
      background-image: url('../../../../src/assets/images/css/phone-hover.png');
    }
    ul li.phone.active{
      background-position: 5.188em center;
      padding-left: 7.688em;
      padding-top: 1.2em;
    }
  }
  .tab-content{
    width: 27.1875em;
    margin: 0 auto;
    padding: 2.050em 0px 0;
    .tooltipwrapper{
      .info-dropdown{
        button{
          width:1.22em;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
      .dropdown-menu{
        @extend .dropdown-menu;
        margin-top: 0.750em;
        p.dropdown-title{
          text-align: left;
        }
        p.dropdown-content{
          font-weight: 400;
        }       
        }
      }
    .help{
      width: 1.063em;
      height: 1.125em;
      border: none;
    }
    button{
      width: 100%;
      margin-top: 1.910em;
      margin-bottom: 2.800em;
    }
  }
  .legend-content{
    width: 23.4375em;
    margin: 0 auto;
    padding: 0 0 0.5em;
  }
  .empty-result-content{
    background-color: $light-red;
    margin-top: -1.063em;
    margin-bottom: 2.250em;
    .empty-result-text{      
      padding: 1.113em 10% 0.631em 1.063em;
      p{
        margin-bottom: 0.519em;
      }
      .emptymessage{
        color: $red;
      }
    }
  }
  .sponsor-search-result-head{
    margin: 0 auto;
    width: 23.4375em;
    text-align: center;
    .results{
      font-size: 3rem;
      font-weight: 100;
      line-height: 1;
      letter-spacing: -0.01875em;
      color: $gray-darker;
    }
  }
  .sponsor-search-result{
    padding-top: 0.9375em;
  }
  .sponsor-search-result-in{
    width: 100%;
    background-color: $white;
    .results{
      width: 23.4375em;
      height: 6.25em;
      background-color: $white;
      padding: 1.25em 1.25em;
      margin: 0 auto;
      border-bottom: 1px solid $gray-lightest;
    }
    .avatar-holder{
      width: 80%;
    }
    .select-result{
      width: 20%;
    }
    .avatar-holder{
      float:left;
    }
    .select-result{
      float:right;
      height: 100%;
      a{
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 1.85;
        color: $brand-primary;
        text-align: right;
        line-height: 4.5;
        display: block;
        cursor: pointer;
      }
    }
    .avatar-holder{
      .avatar{
        float:left;
      }
      .avatar img{
        width: 3.75em;
      }
      .avatar-content{
        float:left;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        color: $gray-dark;
        padding: 0.3125em 0 0 0.625em;
      }
      .avatar-content span{
        display: block;
      }
    }
  }
  .tab-content{
    input{
      margin-bottom: 0;
    }
    form{
      margin-top: 0;
    }
  }
  .section{
    p a{
      padding-left: 1.25em;
      font-size: 0.8125rem;
      font-weight: 300;
      color: $white;
      text-decoration: none;
      cursor: pointer;
    }
  }
  @media screen and (min-width:768px) and (max-width:1023px){
    .forgot-username-container{
      width:100%;
      margin-bottom:0;
      .forgot-username-content{
        padding-bottom:2.462em;
        .email-section{
          text-align: center;
          padding-top: 2.825em;
        }
        .email-content{
          padding: 0 21.1%;
        }
      }
      .tab-content{
        .empty-result-content{
          margin-bottom: 1em;
        }
      }
    }
  }
  @media screen and (min-width: 1440px){
    .forgot-username-container{
      margin-bottom: 4.569em;
    }
  }
  @media screen and (max-width: 767px){
    .forgot-username-container{
      width: 100%;
      margin-top: 0px;
      margin-bottom:0;
      .forgot-username-content{
        .email-section{
          text-align: center;
          padding-left: 0;
          padding-right: 0;
          padding-top: 2.750em;
        }
        .email-content{
          padding: 0 6.6%;
          .divider{
            width: 116%;
            left:-8%;
          }
        }
      }
      .search-title{
        .searchtext{
          padding-top: 1.525em;
          padding-bottom: 1.063em;
        }
      }
    }
    
    .invite-banner{
      height: 10em;
    }
    .search-bar{
      background-color: $gray-lightest;
    }
    .banner-title{
      h2{
        font-size: 1.8125rem;
        line-height: 1.07;
      }
    }
    .search-bar{
      ul{
        width: 23.4375em;
        margin: 0 auto;
        padding: 0;
      }
      ul li{
        width: 4.375em;
      }
    }
    .tab-content{
      width: 23.4375em;
      padding: 1.875em 0.9375em 0;
    }
  }
}