.content.forgot-username.clearfix
  .invite-banner
    .section
      p
        a < SIGN IN
      .banner-title
        div(ng-show= '!ctrl.clickedselect')
          h2.text-center Forgot your username?
          p.text-center Let's help you
        div(ng-show = 'ctrl.clickedselect')
          h2.text-center Thank You!
  .forgot-username-container
    .forgot-username-content
      .thankyou-content(ng-show='ctrl.clickedselect')
        div.email-section
          div(ng-show='ctrl.email')
            img(src='../../../../src/assets/images/content/page-1.png')
          div(ng-show='ctrl.phone')
            img(src = '../../../../src/assets/images/content/phone.png')
        div.email-content
          p(ng-show='ctrl.email')
            b We found a Nu Skin account that matches the information you provided.
            | Your Username is associated with the following email address:
           p(ng-show='ctrl.phone')
            b We found a Nu Skin account that matches the information you provided.
            | Your Username is associated with the following phone number:
          div.col-lg-12.no-gutter.emailid.tooltipwrapper
            label.info-dropdown 
              b {{ctrl.userdetail}} 
              button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                 span Info
              .dropdown-menu.clearfix(aria-labelledby='dropdownLogin' ng-show='ctrl.phone')
                p.dropdown-title
                  | Where are there asterisks(*) in my mobile phone?
                p.dropdown-content
                  | We partially masked your contact information to help protect your privacy.
              .dropdown-menu.clearfix(aria-labelledby='dropdownLogin' ng-show='ctrl.email')
                p.dropdown-title
                  | Where are there asterisks(*) in my email-address?
                p.dropdown-content
                  | We partially masked your contact information to help protect your privacy.
                
          p.emailmessage2
            |Please check your inbox to view your username.
          span.divider.clearfix
          p Don't remember the password for this account?
          a Reset your password?
          p.furtherassistance
            |Don't recognize this email address? Contact customer 
            |service at 
            a 1-800-487-1000 
            |for further assistance.
          button.btn.btn-primary(ng-click='ctrl.redirectlogin()') BACK TO LOGIN
      .search-content(ng-show= '!ctrl.clickedselect')
        div.tip.clearfix
          p.tiptext.center Tip: Your username could be your email
                               |address or mobile phone number.
        div.search-title
          p.searchtext.center You can search for your username 
                   |using any of the following criteria:
        .search-bar
          ul
            li.user-id(ng-click="ctrl.onClickTab('tab1')", ng-class="{active: ctrl.currentTab == 'tab1'}")
              | {{ctrl.currentTab == 'tab1' ? "ID" : ""}}
              
            li.email(ng-click="ctrl.onClickTab('tab2')", ng-class="{active: ctrl.currentTab == 'tab2'}")
              | {{ctrl.currentTab == 'tab2' ? "EMAIL" : ""}}
              
            li.phone.last(ng-click="ctrl.onClickTab('tab3')", ng-class="{active: ctrl.currentTab == 'tab3'}")
              | {{ctrl.currentTab == 'tab3' ? "PHONE" : ""}}
              
          .clearfix.visible-sm
        .tab-content.clearfix
          div(ng-show="ctrl.currentTab == 'tab1'")
            form(name='ctrl.formTab1' novalidate ng-submit='ctrl.formTab1.$valid && ctrl.submitForm(ctrl.formTab1.distributorId.$valid, "tab1")')
              .form-group
                .col-lg-12.no-gutter.tooltipwrapper
                  label.info-dropdown Customer or Distributor ID
                    button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      span Info
                    .dropdown-menu(aria-labelledby='dropdownLogin')
                      p.dropdown-title
                        | Your customer or distributor account number can be found in the welcome email when u first created an account.
                      p.dropdown-content
                        | If you can't locate your customer or distributor account number, please contact Customer Servive at 
                        a 1-800-487-1000 
                        | for further assistance.
                  input.form-control(type='number' id='distributorId' name='distributorId' ng-model='ctrl.distributorId' ng-class="{'ng-touched': ctrl.clickedSearch}" required maxlength="10" minlength="10" ng-keypress="ctrl.stopChars($event)")
                  span.text-danger(ng-show='(ctrl.clickedSearch && ctrl.formTab1.distributorId.$error.required) || (ctrl.formTab1.distributorId.$error.required && ctrl.formTab1.distributorId.$touched)') Please enter distributor id.
                  span.text-danger(ng-show='(ctrl.clickedSearch && (ctrl.formTab1.distributorId.$error.minlength || ctrl.formTab1.distributorId.$error.maxlength)) || ((ctrl.formTab1.distributorId.$error.minlength || ctrl.formTab1.distributorId.$error.maxlength) && ctrl.formTab1.distributorId.$touched)') Please enter 10 characters long distributor id.
                .col-lg-12.no-gutter
                  button.btn.btn-primary(ng-click='ctrl.submitForm(ctrl.formTab1.distributorId.$valid, "tab1")') Search
          div(ng-show="ctrl.currentTab == 'tab2'")
            form(name='ctrl.formTab2' novalidate='novalidate' form-submit='ctrl.submitForm(true, "tab2")' controller="ctrl")
              .form-group
                .col-lg-12.no-gutter
                email-phone(credentials='ctrl.credentials', is-email='ctrl.isEmail', title="Email", is-required='ctrl.emailrequired', is-submitted='ctrl.formTab2.$submitted')
                .col-lg-12.no-gutter
                  button.btn.btn-default(type="submit") Search
          div(ng-show="ctrl.currentTab == 'tab3'")
            form(name='ctrl.formTab3' novalidate='novalidate' form-submit='ctrl.submitForm(true, "tab3")')
              .form-group
                .col-lg-12.no-gutter
                  email-phone(credentials='ctrl.credentials', is-phone='ctrl.isPhone', title="Phone", is-required='ctrl.phonerequired', is-submitted='ctrl.formTab3.$submitted')
                .col-lg-12.no-gutter
                  button.btn.btn-default(type="submit") Search
          .clearfix.visible-sm
          .search-result-empty(ng-show="ctrl.searchresultempty")
            .empty-result-content
              .empty-result-text
                p.emptymessage
                  b We are unable to find a Nuskin account that matches the information you provided.
                p If you continue having problems, please contact Customer Serice at 
                  a 1-800-487-1000 
                  | for further assistance
        .search-results(ng-show="ctrl.searchResultStatus" )
          .legend-content
            legend
              span SEARCH RESULTS
          .sponsor-search-result-head
            .results {{ctrl.searchTotalResultsCount}}
            p results found for:
            h2 {{ctrl.searchedText}}
          .sponsor-search-result(scrolly="ctrl.loadMore()")
            .sponsor-search-result-in(ng-repeat='search in ctrl.searchData | limitTo:ctrl.totalDisplayed')
              .results
                .avatar-holder
                  .avatar
                    img(ng-src='{{search.profilePic}}')
                  .avatar-content
                    span {{search.name}}
                    span {{search.place}}
                  .clearfix.visible-sm
                .select-result
                  a(ng-click='ctrl.onclickselect(search.username)') Select
                .clearfix.visible-sm
            .lazy-load(ng-show="ctrl.loadMoreData")
              center
                img(src="../../../../src/assets/images/css/ajax-loader.gif")
