@import "../../../../../src/stylesheets/partials/variables.scss";

@mixin dark_gray_color_light_font {
    font-weight: $proxima-light;
	line-height: 1.4;
	color: $gray-dark;
}

@mixin active_product_green_checkmark {
    box-shadow: 0 0.5rem 0.625rem 0 rgba(126, 127, 127, 0.15);
    border: solid 0.0625rem $aqua;
    background: $white url('../../../../../src/assets/images/css/ic-checkmark-circle-green.svg') no-repeat 0.75rem 0.75rem;
}

@mixin center_section {
    display: table;
    margin: 0 auto;
}

@mixin go-back-icon {
 background: url('../../../../../src/assets/images/css/ic-arrow-down-copy-10.svg') no-repeat center center;
width: 0.5625rem;
height: 1rem;  
}

@mixin go-back-heading {
    font-weight: $proxima-semibold;
    font-size: 0.875rem;
    letter-spacing: -0.00625rem;
    color: $white;
    margin: -0.125rem 0 0 0.75rem;
}
@mixin sortable-item-tile{
    .products-list-display-item {
        padding: 1rem 1.625rem;
        border-top: solid 0.0625rem $gray-soft;
        border-bottom: solid 0.0625rem $gray-soft;                        
        margin-left: -1.5625rem;
        margin-right: -1.5625rem; 
        .image-section {
            margin-top: 0.75rem;
            height: 4rem;
            img {
                max-width: 100%;
                max-height: 3.125rem;
            }
        }  
        .action-section {
            .delete-icon {
                background: url('../../../../../src/assets/images/css/trash.svg') no-repeat center center;
                width: 1.0625rem;
                height: 1.375rem;
            }
            .drag-icon {
                background: url('../../../../../src/assets/images/css/ic_rearrange@2x.png') no-repeat center center;
                background-size: contain;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .data-section {
            .name-section {
                font-weight: $proxima-light;
                line-height: 1.2;
                color: $gray-modest;
            }
            .id-section {
                margin-top: 0.3125rem;
                .text-label {
                    font-weight: $proxima-semibold;
                    line-height: 1.2;
                    letter-spacing: 0.03125rem;
                    color: $gray-black;
                }
                .text-value {
                    font-weight: $proxima-light;
                    line-height: 1.2;
                    letter-spacing: 0.025rem;
                    color: $gray;
                    margin-left: 1.5rem;
                }
            }
            .third-section {
                font-weight: $proxima-light;
                line-height: 1.6;
                color: $gray-dark;
                .psv-section {
                    color: $gray;
                }
                p {
                    font-size: 0.875rem;
                }
            }
        }                     
    }
}
.as-sortable-dragging.products-list-display-section{ 
    background:$white;
    padding: 1rem 1.625rem;
    transform: scale(1.1, 1.1);
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border-left: solid 0.0625rem $gray-soft;
    border-right: solid 0.0625rem $gray-soft;

    @include sortable-item-tile;

    .products-list-display-item {
        border: none;
    }
}
.go-back-image-header{
    @include go-back-icon;
     margin: 2rem 0 0 1rem;                   
}
  .go-back-text-header {
@include go-back-heading;
margin: -0.125rem 0 0 1.25rem;

}

.storefront-custom-wrapper {
    padding: 1.5rem 1.5625rem;
    .storefront-heading-wrapper {
        .main-heading {
            font-size: 1.375rem;
	        font-weight: $proxima-thin;
	        line-height: 1.5;
	        letter-spacing: 0.01875rem;
	        color: $gray-dark;
        }
        .sub-heading {
            font-weight: $proxima-light;
	        line-height: 1.4;
	        color: $gray-dark-secondary;
            margin-top: 0.5rem;
        }
    }
    .bundles-wrapper {
        .promotion-label {
            margin-top: 0.3125rem;
            p {
                @include dark_gray_color_light_font;
            }
        }
        .bundles-switch {
            padding: 1.875rem 3px;
            border-top: solid 0.0625rem $gray-border;
            border-bottom: solid 0.0625rem $gray-border;
        }
    }

    .product-selection-wrapper {
        margin-top: 2rem;
        .center-section {
            display: block;
        }
        .product-tile {
            background: $white;
            padding: 2rem 1.5625rem 1.875rem;
            border: 0.0625rem solid $gray-softer;
            margin: 0 auto;
            .only-bundles-section {
                padding: 1rem 1.5rem;
                margin: 1.5rem -1.5625rem 0;
                border-top: solid 0.0625rem $gray-soft;
                color: $gray-dark;
                .label-section {
                    font-weight: $proxima-semibold;
                    margin-top: 0.4375rem;
                }
                .price-section {
                    font-size: 1.375rem;
	                font-weight: $proxima-thin;
                }
                .description-section { 
                    margin: 1rem 0 0;
                    p {
                        font-weight: $proxima-light;
                    }
                }
                .textarea-edit-section {
                    margin: 1rem 0 -1.5rem;
                    textarea {
                        padding: 1rem;
                        font-size: 1rem;
	                    font-weight: $proxima-light;
	                    line-height: 1.3;
	                    color: $gray-dark-secondary;
                        height: 10rem;
                        max-height: 10rem; 
                        resize: none;
                    }
                } 
            }
            .heading-section {
                font-size: 1rem;
	            font-weight: $proxima-semibold;
	            line-height: 1.3;
	            color: $gray-dark;
                margin-top: 0.5rem;
            }
            .brief-section {
                font-weight: $proxima-light;
	            line-height: 1.4;
	            color: $gray-dark-secondary;
                margin-top: 0.3125rem;
            }
            .default-product {
                height: 4.75rem;
                background: url('../../../../../src/assets/images/content/default-product.png') right no-repeat;
                background-size: contain;
            }
            .custom-product {
                height: 4.75rem;
                background: url('../../../../../src/assets/images/content/custom-product.png') right no-repeat;
                background-size: contain;
            }
            .product-tile-product-list-wrapper {
                .product-list-count {
                    color: $gray-dark;
                    margin-top: 1.5rem;
                    .numerical-count {
                        font-size: 1.875rem;
	                    font-weight: $proxima-thin;
	                    line-height: 1.1;
                    }
                    .count-label {
	                    font-weight: $proxima-semibold;
	                    line-height: 1.7;
                        margin: 0.625rem 0 0 0.625rem;
                    }
                    .brief-section {
                        clear: both;
                        font-size: 0.875rem;
                    }
                }
                .products-list-display-section {
                    @include sortable-item-tile;
                    .products-list-display-item:last-child {
                        margin-bottom: -1rem;
                    }
                    .as-sortable-placeholder, .as-sortable-un-selectable, .as-sortable-hidden {
                        background: $white;
                        z-index: 100;
                        margin: 0 -1.5625rem;
                    }
                }
            }
            .product-tile-triangle-separator-section {
                box-shadow: 0 0.125rem 0.25rem 0 rgba(167, 167, 167, 0.4);
                margin: 0 -1.5625rem;
                min-height: 0.0625rem;
                max-height: 0.8125rem;
                padding-top: 0.8125rem;
                margin-top: 1rem;
            }
            .product-tile-triangle-separator-section:after, .product-tile-triangle-separator-section:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
            }
            .product-tile-triangle-separator-section:after {
                border-left: 0.875rem solid transparent;
                border-right: 0.875rem solid transparent;
                border-top: 0.875rem solid $white;
                border-bottom: 0.875rem solid transparent;
                display: table;
                margin: 0 auto;
                margin-top: -2.25rem;
            }
            .product-tile-triangle-separator-section:before {
                border-left: 1.125rem solid transparent;
                border-right: 1.125rem solid transparent;
                border-top: 1.125rem solid rgba(226, 226, 226, 0.6);
                border-bottom: 1.125rem solid transparent;
                display: table;
                margin: 0 auto;
            }
        }
        .product-tile-2 {
            .heading-section { 
                margin-top: 0.3125rem;
            }
        } 
        .active-product {
            @include active_product_green_checkmark;
        }
        .add-product-section {
            margin: 2rem 0 -1rem;
            .add-product-label-indicator {
                margin-top: 0.3125rem;
                @include dark_gray_color_light_font;
            }
            .add-product:hover{
                text-decoration: underline;
            }
        }
    }
    .button-section .skip-section, .product-selection-wrapper .product-tile .product-tile-2-add-product .add-product-section {
        button {
            outline: 0;
            border: 0;
            background: transparent;
	        font-weight: $proxima-light;
	        line-height: 1.1;
	        letter-spacing: 0.075rem;
	        color: $brand-primary;
        }
    }
    .button-section {
        margin-top: 2rem;
    }
    
    .btn {
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 1px;
        text-align: center;
        margin: 2rem auto 1rem;
        display: block;
    }

    @media (max-width: 767px) {
        .bundles-wrapper {
            min-width: 19.5rem;
        }
        .storefront-heading-wrapper { 
            max-width: 20.3125rem;
        }
        .product-selection-wrapper {
            .product-tile {
                max-width: 20.3125rem;
            }
            .product-tile-1 {
                margin-bottom: 1.5rem;
                padding-top: 2rem;
            }
            .product-tile-2 {
                padding-top: 1.875rem;
            }
        }
        .btn {
            width: 20.3125rem;
        }
    }
    @media (min-width: 768px) {
        .bundles-wrapper {
            width: 29.6875rem;
        }
        .storefront-heading-wrapper { 
            max-width: 20.3125rem;
        }
        .product-selection-wrapper {
            .product-tile {
                min-width: 29.6875rem;                
                max-width: 29.6875rem;
                @include center_section;
            }
            .product-tile-1 {
                margin-bottom: 1.9375rem;
                padding-top: 1.875rem;
            }
        }
        .button-section {
            min-width: 22.0625rem;
            max-width: 22.0625rem;
        }
        .btn {
            width: 22rem;
        }
    }

    @media (min-width: 1440px) {
        .bundles-wrapper {
            width: 41.25rem;
        }
        .product-selection-wrapper {
            .product-tile {
                min-width: 41.25rem;
                max-width: 41.25rem;
            }
        }
        .btn {
            width: 22rem;
        }
    }
}
.app-modal-window.products-popup {
    .modal-dialog {
        width: 100%;
        margin:0;
		height: 100%;
    }
	.modal-content {
        overflow: auto;
        height: 100%;
	}
    .modal-body {
        padding: 0;
        height: 100%;
        .modal-page-error {
            position: fixed;
            z-index: 100;
        }
    }
    .products-modal-container {
		overflow: auto;
        height: 100%;
        .storefront-custom-wrapper {
            margin-top: 15.625rem;
            height:calc(100% - 250px);
            height:-webkit-calc(100% - 250px);
            height:-moz-calc(100% - 250px);
        }
        .invite-bannersf {
            background: url('../../../../../src/assets/images/css/prism-banner.jpg') center no-repeat;
            text-align: center;
            min-height: 15.625rem;
            background-size: 100% 100%;
        }
        .search-container {
            width: 100%;
              top: 0;
              left: 0;
              margin: 0;
              padding: 0;
              z-index: 9999;
              position: fixed;
            .header-container {
                display: inline-block;
                width: 100%;
                .header-symbol {
                    background: url('../../../../../src/assets/images/css/ic-brand-logo.svg') no-repeat center;
                    height: 2.5rem;
                    width:2.5rem;
                    object-fit:contain;
                    margin: 1.31rem auto 0.3125rem auto;
                }
            }
            .back-container {
                display: inline-block;
                width: 5.93rem;
                .backimg {
                    background: url('../../../../../src/assets/images/css/ic-arrow-down-copy-10.svg') no-repeat center;
                    display:inline-block;
                    margin:2rem 0 0 2.375rem;
                    width: 1rem;
                    height: 1rem;
                    vertical-align: top;
                }
                .back {
                    display:inline-block;
                    font-weight: $proxima-semibold;
                    font-size: 13px;
                    letter-spacing: -0.1px;
                    color: $white;
                    text-transform:uppercase;
                    margin-top:2rem;
                }
                .back-button-wrapper {
                    margin: 2rem 0 0 2rem;
                    .go-back-image {
                  @include go-back-icon;
                    }
                    .go-back-text {
                    @include go-back-heading;
                    }
                }
            }
            
            .title {
                font-weight: $proxima-thin;
                font-size: 1.375em;
                line-height: 1.5;
                text-align: center;
                color: $white;
                text-transform:uppercase;
                margin-bottom: 1rem;
            }
            .search-form {
                width: 41.25rem;
                margin: 0 auto;
                position: relative;
                .search-icon{
                    margin-top: 0.8rem;
                    height: 1.25rem;
                    width: 1.25rem;
                    position: absolute;
                    right: 1rem;
                    background: url('../../../../../src/assets/images/css/search.svg') center no-repeat;
                    background-size: contain;
                    cursor: pointer;
                    z-index: 10;
                }
				ul.dropdown-menu {
					position: initial;
					width: 100%;
					padding: 8px 0;
					border: 0;
					border-radius: 0;
					background-color: rgba(255, 255, 255, 0.4);
					li.active {
						background-color: rgba(0,0,0,0.1);
					}
					a {
						padding: 3px 1rem;
						font-size: 0.8125rem;
						line-height: 1.5;
						color: $white;
						font-weight: $proxima-light;
						background: transparent;
						text-align: left;
					}
					a:hover {
						cursor: pointer;
					}
				}
            }
            .clear-input {
                margin-top: 1rem;
                height: 13px;
                width: 13px;
                position: absolute;
                right: 1rem;
                background: url('../../../../../src/assets/images/css/ic-close-small-white.svg') center no-repeat;
                cursor: pointer;
                z-index: 10;
            }
            .search-box {
                display: inline-block;
                background-color: rgba(255, 255, 255, 0.4);
                width: 41.25rem;
                height: 2.81rem;
                border: 0;
				padding-left: 1rem;
				color: $white;
                font-weight: $proxima-regular;
                font-size: 13px;
                outline: 0;
            }
            .search-box::-webkit-input-placeholder {
                color: $white;
            }
            .search-box:-ms-input-placeholder {
                color: $white;
            }
            .search-box::-moz-placeholder {
                color: $white;
            }
            .typeahead,
            .tt-query
            {
                border: none;
                color: $white;
                border-bottom: 1px solid $gray-light;
                background: transparent;
                font-size: 1rem;
                font-weight: 100;
                outline: none;
            }

            .tt-query {
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                      color: $gray-black;
            }

            .tt-hint, .tt-input{
              color: $white;
              padding: 1rem 0 13px 1rem;
            }

            .tt-menu {
              position: relative !important;
              width: 100%;
              padding: 8px 0;
              background-color: rgba(255, 255, 255, 0.4);
              z-index: 1;
            }

            .tt-suggestion {
              padding: 3px 1rem;
              font-size: 13px;
              line-height: 1.5;
              color: $white;
              font-weight: 300;
              background: transparent;
              text-align: left;
            }

            .tt-suggestion:hover {
              cursor: pointer;
            }

            .tt-suggestion p {
              margin: 0;
            }
            
            .add-digit-container {
                width: 41.25rem;
                margin:0 auto;
            }
            .add-digit-text {
                font-weight: $proxima-thin;
                font-size: 1.875rem;
                line-height: 1.1;
                color: $white;
                display:inline-block;
                float:left;
                margin-top:2rem;
            }
            .add-display-text {
                font-weight: $proxima-semibold;
                font-size: 13px;
                line-height: 1.7;
                color: $white;
                text-transform:uppercase;
                margin-top: 2.6875rem;
            }
            .search-button {
                width: 7.5rem;
                height: 2.75rem;
                border-radius: 3px;
                border: solid 1px $white;
                text-transform: uppercase;
                display:inline-block;
                background-color: transparent;
                color: $white;
                font-weight: $proxima-semibold;
                font-size: 13px;
                line-height: 1.3;
                letter-spacing: 1px;
                text-align: center;
                float:right;
                margin: 1.5rem 0 1rem 0;
                padding-top:13px;
            }
        }
        .storefront-custom-wrapper {
            -webkit-overflow-scrolling: touch;
            overflow: auto;
            .product-selection-wrapper {
                .product-tile {
                    border: 0;
                    .product-tile-product-list-wrapper {
                        .products-list-display-section {
                            .products-list-display-item {
                                border: 1px solid $gray-light-secondary-border;
                                margin-bottom:8px;
                                .data-section {
                                    .name-section {
                                        margin-bottom:10px;
                                    }
                                    .id-section {
                                        margin-bottom: 1.375rem;
                                    }
                                    .third-section {
                                        div {
                                            font-size: 0.875rem;
                                        }
                                    }
                                }
                                .add-text {
                                    font-weight: $proxima-semibold;
                                    font-size: 13px;
                                    line-height: 1.3;
                                    letter-spacing: 1px;
                                    color: $brand-primary;
                                    text-transform: uppercase;
                                    text-align: right;
                                    margin-top: 0.1875rem;
                                }
                                .remove-text {
                                    @extend .add-text;
                                    margin-left: -1.56rem;
                                }
                            }
                            .active-product {
                                @include active_product_green_checkmark;
                            }
                        }  
                    }
                }
            }
        }
    }
}

@media screen and (min-width:360px) and (max-width:767px) {
   .app-modal-window.products-popup {
        .products-modal-container {
            .search-container {
                .search-form, .search-box, .add-digit-container  {
                    width: 20.31rem;
                }
                .back-container {
                    .backimg {
                        margin:2rem 0 0 1.375rem;
                    }
                }
            }
        }
   }
}

@media screen and (min-width:768px) and (max-width:1023px) {
   .app-modal-window.products-popup {
        .products-modal-container {
            .search-container {
                .search-form, .search-box, .add-digit-container  {
                    width: 22.06rem;
                }
            }
        }
   }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
   .app-modal-window.products-popup {
        .products-modal-container {
            .search-container {
                .search-form, .search-box, .add-digit-container  {
                    width: 29.68rem;
                }
            }
        }
   }
}