div.storefront-custom-wrapper.storefront-products-wrapper 
    myStorefrontHeadingComponent(main-heading='ctrl.mainHeading', sub-heading='ctrl.subHeading')
    myStorefrontProductSelectionComponent(tile-one-heading="ctrl.model.tileOne.heading", tile-one-subHeading="ctrl.model.tileOne.subHeading", tile-two-heading="ctrl.model.tileTwo.heading", tile-two-subHeading="ctrl.model.tileTwo.subHeading", minimum-products-target="ctrl.minimumProductsAllowed", maximum-products-target="ctrl.maximumProductsAllowed", is-inline-edit="ctrl.isInlineEdit")
    div.button-section(screen-width, ng-class="{'center-section': width >= 768 }")
        div(ng-if="!ctrl.isInlineEdit")
            div.save-section
                button.btn.btn-primary(ng-click="ctrl.saveAndContinue()")
                    span.text-uppercase CONTINUE

        div.col-sm-12.no-gutter(ng-if="ctrl.isInlineEdit")
            div.save-section
                button.btn.btn-primary(ng-click="ctrl.saveAndPublish()")
                    span.text-uppercase Publish     
            div.cancel-section(align="center")
                button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.revertAndCancel()")
                    span Cancel