@import "../../stylesheets/partials/variables";
.help-section-container {
    background: $white;
    .help-section {
        width: 64em;
        margin: 0 auto;
        padding: 2.25em 4em 3em;
        .header-section {
            font-weight: $proxima-semibold;
            line-height: 1.23;
            letter-spacing: 0.5px;
            color: $gray-black;
        }
        .content-section {
            font-weight: $proxima-light;
        }
        .center-section {
            margin: 0 auto;
            display: table;
        }
        .help-section-data {
            padding-left: 3.75em;
        }
        .secure-transactions {
            background-image: url('../../assets/images/css/ic-payment-light.svg');
            width: 2.5em;
            height: 2.5em;
        }
        .easy-return {
            background-image: url('../../assets/images/css/ic-shipping-light.svg');
            width: 2.25em;
            height: 2.25em;
        }
        .help {
            background-image: url('../../assets/images/css/ic-help.svg');
            width: 2.5em;
            height: 2.5em;
        }
        .helper-title {
            font-weight: $proxima-semibold;
            font-size: 0.8125rem;
            line-height: 1.23;
            letter-spacing: 0.5px;
            color: $gray-dark;
            text-transform: uppercase;
            cursor: pointer;
        }
        .helper-desc {
            font-weight: $proxima-light;
            font-size: 0.8125rem;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .help-section {
            margin: 0 auto;
            padding: 1.5em 4em 0;
            > div {
                margin-bottom: 1em;
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {
        .help-section {
            margin: 0 auto;
            width: 23.375em;
            padding: 1.5em 0.5em 0;
            .helper-desc {
                width: 16.75em;
            }
            > div {
                margin-bottom: 1em;
            }
        }
    }
}