.help-section-container
	.help-section
		.col-sm-12.col-lg-4.no-gutter
				.col-lg-3.col-md-2.col-sm-3.p-l-0
						.pull-right.secure-transactions
				.col-lg-9.col-md-6.col-sm-8.p-r-0
						a.helper-title Secure Transactions
						.helper-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget commodo felis.
		.col-sm-12.col-lg-4.no-gutter
				.col-lg-3.col-md-2.col-sm-3.p-l-0
						.pull-right.easy-return
				.col-lg-9.col-md-6.col-sm-8.p-r-0
						a.helper-title Easy Return Policy
						.helper-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget commodo felis.
		.col-sm-12.col-lg-4.no-gutter
				.col-lg-3.col-md-2.col-sm-3.p-l-0
						.pull-right.help
				.col-lg-9.col-md-6.col-sm-8.p-r-0
						a.helper-title Help & Assistance
						.helper-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget commodo felis.
		.clearfix.visible-sm
