div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
div.modal-body
	div.heading-section.text-center
		span Verify your account
	div.desc-section.m-t-3
		p 
			span An email with a unique URL has been just sent to 
			span.email-section {{ctrl.emailAddress}}
			span . Please check your inbox and click the URL link to verify account.
	div.caution-section.m-t-2.p-b-2.m-b-2
		p
			span Don't recognize this email address? Contact Customer Service at 
			span.phone-section {{ctrl.phone}}&nbsp;
			span for further assistance.
	div.resend-section
		button.btn.btn-primary(ng-click="ctrl.resendEmailFromPopup()")
			span Resend Email