.signincontent
    .logincontainer.clearfix
        .loginimage.clearfix
            h1.signin.center SIGN IN
        .signincontainer.clearfix
            .signinsection.tooltipwrapper.clearfix
                form.signupform.m-a-0(name="signinCtrl.logindetails" ng-submit='signinCtrl.submitlogin()' novalidate customsubmit="signinCtrl.submitlogin()")
                    legend
                        span.welcomemessage Hello there, welcome back!
                    a.btn.btn-social.btn-facebook(ng-click="signinCtrl.redirectFb()")
                        .social-media-icon
                        .social-media-text SIGN IN WITH FACEBOOK
                    div.m-b-1
                        span By clicking “Join with Facebook” you agree to our
                            .btn-link Terms of Use
                            |and
                            .btn-link Privacy Policy
                    span.divider.col-sm-12.no-gutter
                        p OR
                    div.form-group.section-padding.clearfix
                        div.form-group.m-b-2.user-name
                            label.form-label Username (Email Address)
                                button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                    span Info
                                .dropdown-menu(aria-labelledby='dropdownLogin')
                                    p.dropdown-title.p-x-2
                                        | TIP: Your username is most likely your email address. In some cases it could be your account number or a unique username.
                                    p.dropdown-content.p-x-2
                                        | If you have problems locating your username, please, please contact Customer Service at
                                        a 1-800-487-1000
                                        | for assistance.
                            email-phone(credentials='signinCtrl.credentials', is-email='signinCtrl.isEmail', is-submitted = 'signinCtrl.clickedsignin', is-required = 'true')
                            a#forgetlink.btn.btn-link(ng-click='signinCtrl.redirectforgotusername()') Forgot Username
                        div.email-not-verified-section.m-b-1(ng-if="!signinCtrl.isEmailAddressValidated && signinCtrl.logindetails.customLoginForm.userEmailField.$modelValue")
                            div.email-not-verified-heading
                                span This email has not been verified yet.
                            div.email-not-verified-desc
                                p.first-line-desc Please check your inbox and click the URL link to verify this account.
                                p.m-b-0 Haven't recieved yet? 
                                    span.pointer.resend-email-section(ng-click="signinCtrl.resendEmail()") Resend Email
                        div.form-group.m-b-2
                            password-field(credentials='signinCtrl.credentials' is-required='signinCtrl.isRequired', is-submitted='logindetails.$submitted')
                            a#forgetlink.btn.btn-link(ng-click='signinCtrl.redirectforgotpassword()') Forgot Password
                        div.beta-account.p-x-1.p-y-1
                                p
                                    b Your account has not been activated for this Beta Launch.
                                p.m-b-0 MeCommerce will be sharing more information about the release dates to all the users soon.
                        div.checkbox.m-b-1
                            input(type="checkbox" value='rememberme' name='rememberme' id="rememberme" ng-model="signinCtrl.isRememberMe")
                            label.rememberme Remember me
                        div.form-group.m-b-1
                            input#Signin.btn.btn-primary.m-b-0(type='submit' value='SIGN IN')
                        div.form-group
                            input#Signup.btn.btn-block.btn-primary-outline(type='button' value='SIGN UP' ng-click='signinCtrl.redirectsignup()')
