@import "../../../../src/stylesheets/partials/variables.scss";
.signincontent {
    .loginimage {
        height: 8.438em;
        background-position: center;
        background-size: 100%;
    }
    .signin {
        padding-top: 1.650em;
        color: $white;
    }
    .signincontainer {
        background: $white;
        width: 100%;
        .tooltipwrapper {
            .dropdown-menu {
                .dropdown-title {
                    text-align: left;
                    padding-top: 0.863em;
                }
                .dropdown-content {
                    margin-bottom: 0.444em;
                }
            }
            email-phone {
                .form-group {
                    margin-top: -1.5em;
                }
                .error-block {
                    float: left;
                }
            }
        }
        .signinsection {
            padding: 2.194em 1.563em 0.569em;
            .divider {
                margin: 1.200em 0;
            }
            .signupform {
                .m-b-1{
                    span{
                        font-size: 0.813rem;
                        font-weight: $proxima-light;
                        line-height: 1.46;
                        .btn-link{
                            display: inline;
                            cursor: pointer;
                        }
                    }
                }
                .welcomemessage {
                    font-weight: $proxima-semibold;
                }
                .form-control {
                    margin-bottom: 0;
                }
                .form-group {
                    .form-label {
                        color: $gray-black;
                    }
                }
                .section-padding {
                    padding-top: 0.875em;
                    .user-name {
                        position: relative;
                        label.form-label {
                            margin-bottom: 2rem;
                        }
                    }
                    #forgetlink {
                        float: right;
                        font-weight: $proxima-regular;
                        font-size: 0.875rem;
                    }
                    .rememberme {
                        color: $gray-faded;
                        padding-left: 1.49em;
                    }
                    .btn.btn-link {
                        padding: 0.4em;
                        font-size: 0.875rem;
                    }
                    .m-b-1 {
                        margin-bottom: 1.100em !important;
                    }
                    .beta-account {
                        background-color: rgba(28, 216, 210, 0.25);
                        margin-top: 2.531em;
                        margin-bottom: 1.125em;
                        border-radius: 4px;
                        p {
                            margin-bottom: 0.431em;
                            color: $gray;
                        }
                    }
                }
                .email-not-verified-section {
                    background: rgba(28, 216, 210, 0.25);
                    padding: 1rem 0.875rem;
                    border-radius: 0.3125rem;
                    margin-top: 2.5rem;
                    .email-not-verified-heading {
                        span {
                            color: $gray;
                            font-size: 1rem;
                            font-weight: $proxima-semibold;
                        }
                    }
                    .email-not-verified-desc {
                        p {
                            font-weight: $proxima-regular;
                            line-height: 1.8;
                            font-size: 0.875rem;
                            color: $gray;
                        }
                        .first-line-desc {
                            margin-top: 0.5rem;
                        }
                        .resend-email-section {
                            color: $brand-primary;
                            padding: 0 0.625rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .signincontent {
        .loginimage {
           background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
        }
    }
}

@media screen and (min-width:768px) {
    .signincontent {
        .loginimage {
            height: 9.375em;
        }
        .signin {
            padding-top: 1.900em;
        }
        .signincontainer {
            .signinsection {
                padding: 2.300em 10.438em 0.169em;
            }
        }
    }
}

@media screen and (min-width:1023px) {
    .signincontent {
        .loginimage {
            background: none;
        }
        .logincontainer {
            margin: auto;
        }
        .signin {
            padding-top: 0.850em;
        }
        .signincontainer {
            width: 41.5em;
            margin: auto;
            margin-bottom: 1.580em;
            .signinsection {
                margin-top: -3.531em;
                padding: 2.425em 7.188em 0;
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .signincontent {
        .signincontainer {
            margin-bottom: 8.456em;
        }
    }
}