mediaCategoryBannerComponent(category-name="Opportunity",upload-icon="false",banner-url="'/src/assets/images/content/landing-page-banner-1.jpg'")
mediaCategoryComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.opportunity.json'",if-delete-visible="false",if-fav-undo-visible="false")
