mediaCategoryBannerComponent(category-name="Search Result",upload-icon="false",banner-url="'/src/assets/images/css/search-result-header.png'")
mediaCategoryComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.lifestyle.json'",if-delete-visible="false",if-fav-undo-visible="false")