mediaCategoryBannerComponent(category-name="My Favorites",upload-icon="false",banner-url="'/src/assets/images/content/media-center-my-content.jpg'",content="My Favorites is you own content storage. You can favorite the content by clicking heart icon. Go explore your favorite content today!")
mediaCategoryComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.myfavorites.json'",if-delete-visible="false",if-fav-undo-visible="true")
