.container-body.clearfix(style="background-color:#ffffff;height:100%;")
	mediaBannerComponent(background-url="'/src/assets/images/content/landing-page-banner-1.jpg'")
	//- mediacardscomponent
	mediaCarouselComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.product.json'")
	mediaCarouselComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.lifestyle.json'")
	mediaCarouselComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.opportunity.json'")
