mediaCategoryBannerComponent(category-name="products", upload-icon="false",banner-url="'/src/assets/images/content/landing-page-banner-1.jpg'")
mediaCategoryComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.product.json'",if-delete-visible="false",if-fav-undo-visible="false")
//- mediatilecomponent(list-item="tile",extra-class="col-xs-6 col-sm-6 col-md-4 col-lg-3",ng-repeat="tile in ctrl.tileData.products")