mediaCategoryBannerComponent(category-name="My Content",upload-icon="true",banner-url="'/src/assets/images/content/media-center-my-content.jpg'",content="My Content is your personal dashboard where you can upload your own content. Share your content with your friends and family today!")
mediaCategoryComponent(source-url="'/src/digital-toolkit/components/media-center/media.center.component.mycontent.json'",if-delete-visible="true",if-fav-undo-visible="false")
footernav