ng-form(name='customLoginForm', novalidate='novalidate')
  .form-group
    label.form-label(ng-if="ctrl.title") {{ctrl.title}}
    div(ng-if='ctrl.isEmailOrPhone')
      input.form-control(ng-model='ctrl.credentials.userDetailsField', type='text', placeholder='Email or Phone', name='userDetailField', ui-mask='{{ctrl.maskFormat}}', ng-blur='ctrl.onChange(customLoginForm, true)', ui-options='ctrl.maskOptions', ui-mask-placeholder='', ng-class="ctrl.isSubmitted?'ng-touched':''", ng-required='ctrl.isRequired', autocomplete='off')
      .error-block(ng-if='(customLoginForm.$error && customLoginForm.userDetailField.$touched) || ctrl.isSubmitted')
        div(ng-if='customLoginForm.$error.required') Your email address or phone number is required
        div(ng-if='customLoginForm.$error.pattern || customLoginForm.$error.mask') Your email address or phone number is Invalid
    div(ng-if='ctrl.isEmail')
      input.form-control(ng-model='ctrl.credentials.userEmailField', type='text', placeholder='email@domain.com', name='userEmailField', ng-required='ctrl.isRequired', ng-blur='ctrl.onChange(customLoginForm, true)', autocomplete='off', ng-pattern='ctrl.patterns.email', ng-class="ctrl.isSubmitted?'ng-touched':''", maxlength="320")
      .error-block(ng-if='(customLoginForm.$error && customLoginForm.userEmailField.$touched) || ctrl.isSubmitted')
        div(ng-if='customLoginForm.$error.required') Your email address is required
        div(ng-if='customLoginForm.$error.pattern') Your email address is Invalid
    div(ng-if='ctrl.isPhone')
      input.form-control(ng-model='ctrl.credentials.userPhoneField', type='tel', allow-data="numbers-only", placeholder='Mobile Number', name='userPhoneField', ui-mask='(999) 999-9999', ui-options='ctrl.maskOptions', ui-mask-placeholder='', ng-blur='ctrl.onChange(customLoginForm, true)', ng-required='ctrl.isRequired', autocomplete='off', ng-class="ctrl.isSubmitted?'ng-touched':''")
      .error-block(ng-if='(customLoginForm.$error && customLoginForm.userPhoneField.$touched) || ctrl.isSubmitted')
        div(ng-if='customLoginForm.$error.required') Your phone number is required
        div(ng-if='customLoginForm.$error.pattern || customLoginForm.$error.mask') Your phone number is Invalid
