extends ../../../layouts/base-layout-header.jade

block contentmain
  div.accountsettingsp
    div.col-sm-12.no-gutter.accountsettingsbusiness
      div.accounttopbannerouter.col-sm-12.no-gutter.hidden-sm-down
        div.accounttopbannerinner
          div.topbannertitle account settings  
      div.clearfix.section-wrapper
        div.leftpanel.hidden-sm-down
          include account.settings.business.leftcontainer.jade
        div.rightpanel(add-min-width)
          include account.settings.business.rightcontainer.jade    
      
      div.address-verification-component
        addessverificationcomponent(ng-if="vmbusiness.isSaveForAddressClicked", is-modal-call="true", address-data="vmbusiness.addressJsonDataForModal", callback-on-success="vmbusiness.model.saveAddress", boolean-variable-to-invoke-modal="vmbusiness.isSaveForAddressClicked") 
        custommodalcomponent(ng-if="vmbusiness.showCustomModal",modal-heading='{{vmbusiness.modalHeading}}',is-modal-call="true", src-url='{{vmbusiness.modalURL}}', callback-on-success="vmbusiness.model.showTermsConditionsModal")