div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancelAndExit();")
		div.heading-section.pull-left
			span.text-uppercase Distributor Handbook 
	div.description-section.m-b-2
		span Things to Keep in Mind as a Distributor
div.modal-body
	div.carousel-section
		slick.carousel.carousel-primary(settings='ctrl.slickPrimaryConfig', data='store.productdata')
			.Carousal-boxes(ng-repeat='image in ctrl.businessImageList')
				figure.carousel-image-section
					img(src='{{image.imageUrl}}', alt='')
	div.text-section-1.clearfix.p-t-2
		div.hidden-sm-down
			div.left-section.pull-left
				span Before you may continue with your application, please review the terms and conditions of the Distributor Agreement and Policies and Procedures ("Policies") located below. The Policies describe your rights and obligations as an independent Nu Skin distributor.
			div.right-section.pull-left
				div
					button.btn.btn-primary-outline
						span.text-uppercase Email Me A Copy
		div.hidden-md-up
			div.left-section
				span Before you may continue with your application, please review the terms and conditions of the Distributor Agreement and Policies and Procedures ("Policies") located below. The Policies describe your rights and obligations as an independent Nu Skin distributor.
			div.right-section
				div
					button.btn.btn-primary-outline.fullWidth
						span.text-uppercase EMAIL ME A COPY

	div.description-section.description-section-body
		span Distributor Agreement

	div.text-section-2
		div.header-section.m-b-1
			span A. Definitions
		div.brief-section
			span Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud. Latine voluptua maluisset pri ex, ea alienum ancillae assueverit pri, ne mea elitr scripserit referrentur. Brute dissentiunt ut sea, quaeque epicurei lobortis qui an. Ut eum wisi illud omnesque, oporteat accusamus mei in. Ne offendit detraxit repudiandae his. Ex stet ceteros noluisse quo, sit at fierent dissentiet. Duo ad verear interesset, harum forensibus necessitatibus vis cu, ne mutat vitae noluisse sed. Cu nec maluisset scriptorem. Sit dicat dolorem interpretaris et, cum ut erat melius legendos, duo an nibh libris. Mea mucius facete verterem ea, mei modo reprimique reformidans eu, et commune voluptaria nam. Vim quas aliquando cu. Cu qui nullam imperdiet aliquando. Eius nonumy an pro, mel ne modo senserit. Nam id vero facilisi, partem propriae nam et. Delenit expetendis et eam. Duo et congue facilisis adipiscing, id homero dictas vis, id convenire interpretaris sea. Te harum oratio blandit usu. Eu cum summo referrentur, nec te dicat mnesarchum delicatissimi. Eripuit singulis cotidieque pro cu, nam vide propriae epicurei ea. Ancillae accusamus imperdiet mea et, at adhuc consul aliquando pro. Per ut ceteros fuisset definiebas, unum soluta graeco pro ea. Cum at nibh equidem, facer inani invenire at usu. Quot volumus cu nam. Cu usu exerci possim principes. Eam dicant temporibus cu, et idque viris deterruisset quo, in mei modo docendi splendide. Nibh consetetur his at, ei posse atqui nam. Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud. Latine voluptua maluisset pri ex, ea alienum ancillae assueverit pri, ne mea elitr scripserit referrentur. Brute dissentiunt ut sea, quaeque epicurei lobortis qui an. Ut eum wisi illud omnesque, oporteat accusamus mei in. Ne offendit detraxit repudiandae his. Ex stet ceteros noluisse quo, sit at fierent dissentiet. Duo ad verear interesset, harum forensibus necessitatibus vis cu, ne mutat vitae noluisse sed. Cu nec maluisset scriptorem. Sit dicat dolorem interpretaris et, cum ut erat melius legendos, duo an nibh libris. Mea mucius facete verterem ea, mei modo reprimique reformidans eu, et commune voluptaria nam. Vim quas aliquando cu. Cu qui nullam imperdiet aliquando. Eius nonumy an pro, mel ne modo senserit. Nam id vero facilisi, partem propriae nam et. Delenit expetendis et eam. Duo et congue facilisis adipiscing, id homero dictas vis, id convenire interpretaris sea. Te harum oratio blandit usu. Eu cum summo referrentur, nec te dicat mnesarchum delicatissimi. Eripuit singulis cotidieque pro cu, nam vide propriae epicurei ea. Ancillae accusamus imperdiet mea et, at adhuc consul aliquando pro. Per ut ceteros fuisset definiebas, unum soluta graeco pro ea. Cum at nibh equidem, facer inani invenire at usu. Quot volumus cu nam. Cu usu exerci possim principes. Eam dicant temporibus cu, et idque viris deterruisset quo, in mei modo docendi splendide. Nibh consetetur his at, ei posse atqui nam. Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud. Latine voluptua maluisset pri ex, ea alienum ancillae assueverit pri, ne mea elitr scripserit referrentur. Brute dissentiunt ut sea, quaeque epicurei lobortis qui an. Ut eum wisi illud omnesque, oporteat accusamus mei in. Ne offendit detraxit repudiandae his. Ex stet ceteros noluisse quo, sit at fierent dissentiet. Duo ad verear interesset, harum forensibus necessitatibus vis cu, ne mutat vitae noluisse sed. Cu nec maluisset scriptorem. Sit dicat dolorem interpretaris et, cum ut erat melius legendos, duo an nibh libris. Mea mucius facete verterem ea, mei modo reprimique reformidans eu, et commune voluptaria nam. Vim quas aliquando cu. Cu qui nullam imperdiet aliquando. Eius nonumy an pro, mel ne modo senserit. Nam id vero facilisi, partem propriae nam et. Delenit expetendis et eam. Duo et congue facilisis adipiscing, id homero dictas vis, id convenire interpretaris sea. Te harum oratio blandit usu. Eu cum summo referrentur, nec te dicat mnesarchum delicatissimi. Eripuit singulis cotidieque pro cu, nam vide propriae epicurei ea. Ancillae accusamus imperdiet mea et, at adhuc consul aliquando pro. Per ut ceteros fuisset definiebas, unum soluta graeco pro ea. Cum at nibh equidem, facer inani invenire at usu. Quot volumus cu nam. Cu usu exerci possim principes. Eam dicant temporibus cu, et idque viris deterruisset quo, in mei modo docendi splendide. Nibh consetetur his at, ei posse atqui nam.

	div.text-section-3.clearfix
		div.hidden-sm-down
			div.left-section.pull-left
				p.small.margin0 Once you have reviewed the Policies, and if you agree to abide by them, please click the "I agree" box located below and continue with your application to become an independent distributor. PLEASE NOTE THAT BY CLICKING "I AGREE" YOU INDICATE THAT YOU HAVE READ AND UNDERSTAND THE POLICIES, AND AGREE TO BE BOUND BY THEM.
			div.right-section.pull-left
				div
					button.btn.btn-primary(ng-click="ctrl.acceptTerms();")
						span.text-uppercase ACCEPT & CONTINUE
				div
					button.btn.btn-secondary-outline.decline-button(ng-click="ctrl.cancelAndExit();")
						span.text-uppercase DECLINE
		div.hidden-md-up
			div.left-section
				p.small.margin0 Once you have reviewed the Policies, and if you agree to abide by them, please click the "I agree" box located below and continue with your application to become an independent distributor. PLEASE NOTE THAT BY CLICKING "I AGREE" YOU INDICATE THAT YOU HAVE READ AND UNDERSTAND THE POLICIES, AND AGREE TO BE BOUND BY THEM.
			div.right-section
				div
					button.btn.btn-primary.fullWidth(ng-click="ctrl.acceptTerms();")
						span.text-uppercase ACCEPT & CONTINUE
				div
					button.btn.btn-secondary-outline.fullWidth.decline-button(ng-click="ctrl.cancelAndExit();")
						span.text-uppercase DECLINE