div.account-settings-business-wrapper
    div.accsettingsdetailcontainer(screen-width, ng-class="{'center-section': width > 767 }")
        div.contactcontainer(ng-hide="vmbusiness.model.showContactForm")
            div.form-group.hidden-sm-down
                div.sectiontitle contact details
            div.row
                div.slabeloverview.col-sm-6 Mobile Phone
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.contact.mobilePhoneInput")
                    p.margin0 {{vmbusiness.model.contact.mobilePhoneInputDisplay}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.contact.mobilePhoneInput") not specified
            div.row
                div.slabeloverview.col-sm-6 Email Address
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.contact.email")
                    p.margin0.contact-email {{vmbusiness.model.contact.email}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.contact.email") not specified
        div.overviewform.signupform(ng-show="vmbusiness.model.showContactForm")
            form.nomargin(name="form.contactform", novalidate)
                div.form-group.hidden-sm-down
                    div.sectiontitle contact details
                fieldset(ng-init="vmbusiness.credentials = {\"userPhoneField\": vmbusiness.model.contact.mobilePhoneInput, \"userEmailField\": vmbusiness.model.contact.email};")
                    div.m-b-2
                        label.form-label Phone Number
                        input#mobilePhoneInput.form-control.m-b-0(type='tel', allow-data="numbers-only", name='mobilePhoneInput' ng-model='vmbusiness.model.contact.mobilePhoneInput' ui-mask='(999) 999-9999' ui-mask-placeholder required )
                        div.form-group.error-block(ng-show="(form.contactform.mobilePhoneInput.$touched && form.contactform.mobilePhoneInput.$error.required) || (form.contactform.mobilePhoneInput.$dirty && form.contactform.mobilePhoneInput.$error.required) || (form.contactform.$submitted  && form.contactform.mobilePhoneInput.$error.required)") Please enter the Phone Number
                    div.m-b-2.email-container
                        email-phone(credentials='vmbusiness.credentials', is-email ='true', title="Email Address", is-required='true')
                    div.hidden-lg-up
                        button.btn.btn-primary.btn-block.btn-save(type="button", ng-click="vmbusiness.model.saveContact(form.contactform.$valid)")
                            span.text-uppercase SAVE
                        button.btn.btn-block.btn-primary-outline.fullWidth.text-uppercase(type='button', ng-click='vmbusiness.model.cancelContact()') CANCEL
                    div.row.hidden-md-down
                        div.col-md-6
                            button.btn.btn-primary(type="button", ng-click="vmbusiness.model.saveContact(form.contactform.$valid)")
                                span.text-uppercase  SAVE
                        div.col-md-6
                            button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.model.cancelContact()') CANCEL
    div.edit-button-section(align="center", ng-show="!vmbusiness.model.showContactForm")
        span.edit-text-section.pointer(ng-click="vmbusiness.model.showContactForm = true; vmbusiness.credentials.isSubmitted = false;") Edit
