div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.confirmAndClose();")
div.modal-body.center-section
	div(align="center")
		div.header-section
			span You are now a Business Distributor!
		div.brief-section
			span Be sure to update any information that might have changed, such as: 
		div.desc-section(align="left")
			div.text-section.text-section-1
				p.small.margin0 Contact and business information 
			div.text-section.text-section-2
				p.small.margin0 Add more associates 
			div.text-section.text-section-3
				p.small.margin0 Banking information
		div.confirm-section
			button.button-normal-text(ng-click="ctrl.confirmAndClose();")
				p.small.margin0 Okay
	