div.account-settings-business-wrapper
    div.accsettingsdetailcontainer(screen-width, ng-class="{'center-section': width > 767 }")
        div.bankingcontainer(ng-hide="vmbusiness.model.showBankingForm")
            div.form-group.hidden-sm-down
                div.sectiontitle banking information
            div.row
                div.slabeloverview.col-sm-6 Name on Account
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.banking.nameOnAccount") {{vmbusiness.model.banking.nameOnAccount}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.banking.nameOnAccount") not specified
            div.row
                div.slabeloverview.col-sm-6 Account type
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.banking.accountType") {{vmbusiness.model.banking.accountType}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.banking.accountType") not specified
            div.row
                div.slabeloverview.col-sm-6 Routing Number
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.banking.routingNumber") {{vmbusiness.model.banking.routingNumberDisplay}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.banking.routingNumber") not specified
            div.row
                div.slabeloverview.col-sm-6 Account Number
                div.sectiontext.col-sm-6(ng-show="vmbusiness.model.banking.accountNumber") {{vmbusiness.model.banking.accountNumberDisplay}}
                div.notspecified.col-sm-6(ng-hide="vmbusiness.model.banking.accountNumber") not specified

        div.overviewform.signupform.no-form-margin(ng-show="vmbusiness.model.showBankingForm")
            form.nomargin(name="bankingform" novalidate)
                div.form-group
                    div.sectiontitle banking information
                fieldset
                    div.form-group
                        label.form-label(for='nameOnAccount') Name on Account
                        input#nameOnAccount.form-control(type='text', name="nameOnAccount" ng-model='vmbusiness.model.banking.nameOnAccount')
                    div.form-group
                        label.form-label.row.col-sm-12(for='accountType') Account Type
                        div.radio.col-sm-6.no-gutter-left
                            input(type='radio' id="acctype1" name ="acctype" value="Checking" ng-model='vmbusiness.model.banking.accountType')
                            label(for="acctypechecking") Checkings
                        div.radio.col-sm-6.no-gutter-left
                            input(type='radio' id="acctype2" name ="acctype" value="Saving" ng-model='vmbusiness.model.banking.accountType')
                            label(for="acctypesaving") Savings
                    div.form-group
                        label.form-label(for='routingNumber') Routing Number
                        input#routingNumber.form-control(type='tel', allow-data="numbers-only", name="routingNumber" ng-model='vmbusiness.model.banking.routingNumber', allow-pattern="number-only", required ng-blur="vmbusiness.model.checkLength('r')" ng-class="{'ng-touched': bankingform.$submitted, 'ng-invalid': vmbusiness.model.invalidRoutingLength}")
                        div.form-group.error-block(ng-show="(bankingform.routingNumber.$touched && bankingform.routingNumber.$error.required && !vmbusiness.model.invalidRoutingLength) || (bankingform.routingNumber.$dirty && bankingform.routingNumber.$error.required && !vmbusiness.model.invalidRoutingLength) || (bankingform.$submitted  && bankingform.routingNumber.$error.required && !vmbusiness.model.invalidRoutingLength)") Please enter value for routing number
                        div.form-group.error-block(ng-show="(bankingform.routingNumber.$touched && vmbusiness.model.invalidRoutingLength) || (bankingform.routingNumber.$dirty && vmbusiness.model.invalidRoutingLength) || (bankingform.$submitted  && vmbusiness.model.invalidRoutingLength)") Please enter 9 digit long valid routing number 
                        
                    div.form-group.m-b-0
                        label.form-label(for='accountNumber') Account Number
                        input#accountNumber.form-control(type='tel', allow-data="numbers-only", name="accountNumber" ng-model='vmbusiness.model.banking.accountNumber' ng-class="{'ng-touched': bankingform.$submitted, 'ng-invalid': vmbusiness.model.invalidAccountLength}" ng-blur="vmbusiness.model.checkLength('b')" required allow-pattern="number-only")
                        div.form-group.error-block(ng-show="(bankingform.accountNumber.$touched && bankingform.accountNumber.$error.required && !vmbusiness.model.invalidAccountLength) || (bankingform.accountNumber.$dirty && bankingform.accountNumber.$error.required && !vmbusiness.model.invalidAccountLength) || (bankingform.$submitted  && bankingform.accountNumber.$error.required && !vmbusiness.model.invalidAccountLength)") Please enter value for account number
                       div.form-group.error-block(ng-show="(bankingform.accountNumber.$touched && vmbusiness.model.invalidAccountLength) || (bankingform.accountNumber.$dirty && vmbusiness.model.invalidAccountLength) || (bankingform.$submitted  && vmbusiness.model.invalidAccountLength)") Please enter 34 digit long valid account number 
                    div.direct-deposit-section.m-b-1.relative
                        div.clearfix
                            div.checkbox.pull-left
                                input(type='checkbox', ng-click="vmbusiness.directDepositCheckbox()", name='directDeposit', ng-model='vmbusiness.model.banking.directDeposit', ng-checked="false", ng-required="true")
                                label.form-label I agree to the&nbsp;
                            div.pull-left
                                label.form-label
                                    span.direct-deposit-text.pointer(ng-click="vmbusiness.directDepositPopup()") Direct Deposit Policy   
                        div.error-block.m-b-2.error-section(ng-messages="bankingform.directDeposit.$error", ng-show="((bankingform.directDeposit.$touched && !vmbusiness.model.banking.directDeposit && vmbusiness.isDirectDepositCheckboxTouched) || (bankingform.$submitted || vmbusiness.bankingSubmitPressed))")
                            div(ng-message="required") Direct Deposit Policy should be accepted before continuing.                                               
                    div.form-group.hidden-lg-up.m-t-2(ng-class="{'m-t-3': ((bankingform.directDeposit.$touched && !vmbusiness.model.banking.directDeposit && vmbusiness.isDirectDepositCheckboxTouched) || (!vmbusiness.model.banking.directDeposit && vmbusiness.bankingSubmitPressed))}")
                        button.btn.btn-primary.btn-block.btn-save(type='button', ng-click='vmbusiness.model.saveBanking(bankingform.$valid); vmbusiness.bankingSubmitPressed = true;') SAVE
                        button.btn.btn-block.btn-primary-outline.fullWidth(type='button', ng-click='vmbusiness.model.cancelBanking()') CANCEL
                    div.form-group.hidden-md-down.row.m-t-2
                        div.col-md-6
                            button.btn.btn-primary(type='button', ng-click='vmbusiness.model.saveBanking(bankingform.$valid); vmbusiness.bankingSubmitPressed = true;') SAVE
                        div.col-md-6
                            button.btn.btn-primary-outline.fullWidth.col-md-12(type='button', ng-click='vmbusiness.model.cancelBanking()') CANCEL
                        

    div.edit-button-section(align="center", ng-show="!vmbusiness.model.showBankingForm")
        span.edit-text-section.pointer(ng-click="vmbusiness.model.showBankingForm = true; vmbusiness.bankingSubmitPressed = false;") Edit