div.account-settings-business-wrapper
    div.accsettingsdetailcontainer(screen-width, ng-class="{'center-section': width > 767 }")
        div.business-associates-section.accountcontainer
            div.form-group.hidden-sm-down(align="center")
                div.sectiontitle Business Associates
            div.business-distributor-associates(ng-if="vmbusiness.model.accountType.accountType != 'individual'")
                div.hidden-sm-down.associates-display-nom-mobile(ng-class="{'center-section': vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 1}")
                    div.row
                        div.associates-section.relative(id="associate-sec1-{{$index}}", screen-width, align="center", ng-repeat="item in vmbusiness.model.associatesList | limitTo: vmbusiness.associatesLimitAboveMd track by $index ", ng-class="{'col-md-4': vmbusiness.model.associatesList && vmbusiness.model.associatesList.length > 1}")
                            div.edit-associates.pointer(ng-show="vmbusiness.isEditClicked", ng-click="vmbusiness.removeAssociate(item, 'associate-sec1-' + $index);", ng-class="{'edit-associates-single': vmbusiness.model.associatesList.length == 1}")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.margin0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'resend'")
                                    span Account Pending
                                div.label-section
                                    span.pointer(ng-click="vmbusiness.executeInvite()") {{status.label}}
                        div.no-associate-section(ng-if="!vmbusiness.model.associatesList || (vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 0)")
                            div.notspecified.pointer.center-section(ng-click="vmbusiness.addAssociate();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any associate assigned.
                    div.load-more-section(align="center", ng-show="!vmbusiness.isLoadMoreClickedAboveMd && vmbusiness.model.associatesList.length > vmbusiness.associatesLimitAboveMd")
                      span.pointer(ng-click="vmbusiness.associatesLimitAboveMd = null; vmbusiness.isLoadMoreClickedAboveMd = true;") Load More

                    div.submit-section(ng-show="vmbusiness.isEditClicked")
                        div.row.hidden-md-down
                            div.col-md-6
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div.col-md-6
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
                        div.hidden-lg-up
                            div
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
    
                div.hidden-md-up
                    div.clearfix(ng-if="vmbusiness.model.associatesList.length <= 1")
                        div.associates-section.relative(id="associate-sec2-{{$index}}", screen-width, align="center", ng-repeat="item in vmbusiness.model.associatesList | limitTo: vmbusiness.associatesLimitBelowMd track by $index ", ng-class="{'pull-left': (($index + 1) % 2 != 0 && vmbusiness.model.associatesList.length > 1), 'pull-right': (($index + 1) % 2 == 0), 'associates-mobile': vmbusiness.model.associatesList.length > 1}")
                            div.edit-associates.pointer(ng-show="vmbusiness.isEditClicked", ng-click="vmbusiness.removeAssociate(item, 'associate-sec2-{{$index}}');", ng-class="{'edit-associates-single': vmbusiness.model.associatesList.length == 1}")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.margin0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'resend'")
                                    span Account Pending
                                div.label-section
                                    span.pointer(ng-click="vmbusiness.executeInvite()") {{status.label}}
                        div.no-associate-section(ng-if="!vmbusiness.model.associatesList || (vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 0)")
                            div.notspecified.pointer.center-section(ng-click="vmbusiness.addAssociate();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any associate assigned.
                    div.row.multiple-associates(ng-if="vmbusiness.model.associatesList.length > 1")
                        div.associates-section.relative.col-sm-6(id="associate-sec3-{{$index}}", screen-width, align="center", ng-repeat="item in vmbusiness.model.associatesList | limitTo: vmbusiness.associatesLimitBelowMd track by $index ")
                            div.edit-associates.pointer(ng-show="vmbusiness.isEditClicked", ng-click="vmbusiness.removeAssociate(item, 'associate-sec3-{{$index}}');", ng-class="{'edit-associates-single': vmbusiness.model.associatesList.length == 1}")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.margin0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'resend'")
                                    span Account Pending
                                div.label-section
                                    span.pointer(ng-click="vmbusiness.executeInvite()") {{status.label}}
                        div.no-associate-section(ng-if="!vmbusiness.model.associatesList || (vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 0)")
                            div.notspecified.pointer.center-section(ng-click="vmbusiness.addAssociate();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any associate assigned.
                    div.load-more-section(align="center", ng-show="!vmbusiness.isLoadMoreClickedBelowMd && vmbusiness.model.associatesList.length > vmbusiness.associatesLimitBelowMd")
                        span.pointer(ng-click="vmbusiness.associatesLimitBelowMd = null; vmbusiness.isLoadMoreClickedBelowMd = true;") Load More

                    div.submit-section(ng-show="vmbusiness.isEditClicked")
                        div.row.hidden-md-down
                            div.col-md-6
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div.col-md-6
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
                        div.hidden-lg-up
                            div
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL

            div.individual-distributor-associates(ng-if="vmbusiness.model.accountType.accountType == 'individual'")
                div.hidden-sm-down.associates-display-nom-mobile
                    div.clearfix.row
                        div.associates-section.relative.col-sm-12(id="associate-sec4-{{$index}}", screen-width, align="center", ng-repeat="item in vmbusiness.model.associatesList | limitTo: vmbusiness.associatesLimitForIndividualDistributor track by $index ")
                            div.edit-associates.edit-associates-single.pointer(ng-show="vmbusiness.isEditClicked", ng-click="vmbusiness.removeAssociate(item, 'associate-sec4-{{$index}}');")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.margin0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'resend'")
                                    span Account Pending
                                div.label-section
                                    span.pointer(ng-click="vmbusiness.executeInvite()") {{status.label}}
                        div.no-associate-section(ng-if="!vmbusiness.model.associatesList || (vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 0)")
                            div.notspecified.pointer.center-section(ng-click="vmbusiness.addAssociate();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any associate assigned.
                                p.line-2.small As an individual distributor, you can only add one associate.
                    div.submit-section(ng-show="vmbusiness.isEditClicked")
                        div.row.hidden-md-down
                            div.col-md-6
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div.col-md-6
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
                        div.hidden-lg-up
                            div
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
    
                div.hidden-md-up
                    div.clearfix.row
                        div.associates-section.relative.col-sm-12(id="associate-sec5-{{$index}}", screen-width, align="center", ng-repeat="item in vmbusiness.model.associatesList | limitTo: vmbusiness.associatesLimitForIndividualDistributor track by $index ")
                            div.edit-associates.edit-associates-single.pointer(ng-show="vmbusiness.isEditClicked", ng-click="vmbusiness.removeAssociate(item, 'associate-sec5-{{$index}}');")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.margin0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'resend'")
                                    span Account Pending
                                div.label-section
                                    span.pointer(ng-click="vmbusiness.executeInvite()") {{status.label}}
                        div.no-associate-section(ng-if="!vmbusiness.model.associatesList || (vmbusiness.model.associatesList && vmbusiness.model.associatesList.length == 0)")
                            div.notspecified.pointer.center-section(ng-click="vmbusiness.addAssociate();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any associate assigned.
                                p.line-2.small As an individual distributor, you can only add one associate.
                    div.submit-section(ng-show="vmbusiness.isEditClicked")
                        div.row.hidden-md-down
                            div.col-md-6
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div.col-md-6
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL
                        div.hidden-lg-up
                            div
                                button.btn.btn-primary.text-uppercase(type='button', ng-click="vmbusiness.isEditClicked = false; vmbusiness.saveEditAssociates();") SAVE
                            div
                                button.btn.btn-primary-outline.fullWidth.col-md-12.text-uppercase(type='button', ng-click='vmbusiness.isEditClicked = false; vmbusiness.cancelEditAssociate();') CANCEL   

    div.edit-button-section.add-button-section(align="center", ng-if="(((vmbusiness.model.accountType.accountType != 'individual') && (vmbusiness.model.associatesList.length > 0)) || ((vmbusiness.model.accountType.accountType == 'individual') && (vmbusiness.model.associatesList.length == 1)))")
        div(ng-class="{'row': ((vmbusiness.model.accountType.accountType != 'individual') && (vmbusiness.model.associatesList.length > 0)) || ((vmbusiness.model.accountType.accountType == 'individual') && (vmbusiness.model.associatesList.length == 0))}")
            div.col-sm-6(ng-if="(((vmbusiness.model.accountType.accountType != 'individual') && (vmbusiness.model.associatesList.length > 0)) || ((vmbusiness.model.accountType.accountType == 'individual') && (vmbusiness.model.associatesList.length == 0)))")
                span.edit-text-section.add-text-section.pointer(ng-click="vmbusiness.addAssociate();") Add
            div(ng-class="{'col-sm-6': ((vmbusiness.model.accountType.accountType != 'individual') && (vmbusiness.model.associatesList.length > 0)) || ((vmbusiness.model.accountType.accountType == 'individual') && (vmbusiness.model.associatesList.length == 0))}")
                span.edit-text-section.pointer(ng-click="vmbusiness.isEditClicked = true;") Edit