div.rightcontainer.col-sm-12.no-gutter
          div.accsettingstopbannerouter.col-sm-12.no-gutter.hidden-md-up
              div.accsettingstopbannerinner.accountsettingsp
                div.imgcontainer.mobile-image-section.col-sm-12
                  .col-sm-4.imgbox.no-gutter
                    div.outer-image-wrapper.center-section
                      div.inner-image-wrapper.center-section
                        img.accsettingsimage(ng-if="vmbusiness.model.userdata.profileImage", ng-src="{{vmbusiness.model.userdata.profileImage}}", width="70")
                        img.accsettingsimage(ng-if="!vmbusiness.model.userdata.profileImage", src="../../../../src/assets/images/css/ic-profile-copy-2.png", width="70")            

                  .col-sm-8.no-gutter.imgtitlemobile
                    div
                      span.col-sm-10.no-gutter.no-wrap(ng-hide="vmbusiness.model.isPreferredNamePresent") {{vmbusiness.model.userdata.firstname}} {{vmbusiness.model.userdata.lastname}}
                      span.col-sm-10.no-gutter.no-wrap(ng-show="vmbusiness.model.isPreferredNamePresent") {{vmbusiness.model.userdata.preferredname}}
                      div.col-sm-2.no-gutter.edit-icon.no-gutter-left.pointer(ng-click="vmbusiness.editProfile()")
                    .col-sm-12.no-gutter
                      .col-sm-offset-1.col-sm-10.accountid.no-gutter Account ID 
                        span.accountidnumber {{vmbusiness.model.userdata.accountID}}
                  div.nav-buttons-section
                    div.col-sm-12.m-t-2
                        div.col-sm-6.text-center.nav-buttons.nav-buttons-personal.no-gutter
                            button.fullWidth.button-personal(ng-click="vmbusiness.model.isBusinessSelected=false; vmbusiness.model.loadPersonalPage(); vmbusiness.goToUrl('/accountsettingspersonalpage')")
                                p.small.m-b-0.text-uppercase Personal
                        div.col-sm-6.text-center.nav-buttons.nav-buttons-business.no-gutter
                            button.fullWidth.button-business(ng-class="{'selected-tab': vmbusiness.model.isBusinessSelected}", ng-click="vmbusiness.model.isBusinessSelected=true; vmbusinessvm.goToUrl('/accountsettingsbusinesspage')")
                                p.small.m-b-0.text-uppercase Business
          div(screen-width, ng-class="{'hidden-sm-down' : width >= 768, 'hide': width < 768}")
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[0].name")
              include ./account.settings.business.account.details.jade
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[1].name")
              include ./account.settings.business.contact.details.jade
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[2].name")
              include ./account.settings.business.address.jade
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[3].name")
              include ./account.settings.business.banking.information.jade
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[4].name")
              include ./account.settings.business.associates.jade
            div(ng-if="vmbusiness.model.currentTab == vmbusiness.model.leftTabsList[5].name")
              include ./account.setttings.business.communication.preference.jade
          div.rightmobilepanel.col-sm-12.no-gutter(screen-width, ng-class="{'hidden-md-up' : width < 768, 'hide': width >= 768}")
            #accordionform.accordion-form
              #accordion.panel-group.businessassociate-accordion-section(role='tablist', aria-multiselectable='false')
                  div.panel.panel-default.businessassociate-panel-section(ng-repeat="tab in vmbusiness.model.leftTabsList")
                    .panel-heading(role='tab', id="tab-{{index}}-heading")
                      h4.panel-title
                        button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target="#tab-{{$index}}", aria-expanded='false', aria-controls='overview', ng-class="{'completed': vmbusiness.model.isCompleteOverview, 'collapsed': $index != 0}")
                          span.text-uppercase {{tab.label}}
                    .panel-collapse.collapse(ng-class="{'in': $index == 0}", id="tab-{{$index}}", role='tabpanel', aria-labelledby='overview-heading', aria-expanded='false')
                      .panel-body(ng-switch="$index")
                        span(ng-switch-when="0")
                          include ./account.settings.business.account.details.jade 
                        span(ng-switch-when="1")
                          include ./account.settings.business.contact.details.jade
                        span(ng-switch-when="2")
                          include ./account.settings.business.address.jade
                        span(ng-switch-when="3")
                          include ./account.settings.business.banking.information.jade
                        span(ng-switch-when="4")
                          include ./account.settings.business.associates.jade
                        span(ng-switch-when="5")
                          include ./account.setttings.business.communication.preference.jade
          div.account-manager-wrapper.hidden-md-up
            div.account-manager-section(ng-if="vmbusiness.model.userdata.accountManger")
              div.account-manager-heading
                div.extra &nbsp;
                span.text-uppercase ACCOUNT MANAGER
              div.account-manager-description.relative
                div.name-section
                   span {{vmbusiness.model.userdata.accountManger.name}}
                div.brief-section.clearfix
                  div.phone-section.pull-left
                    p.small {{vmbusiness.model.userdata.accountManger.phone | phone}}
                  div.separator-section.pull-left
                    span |
                  div.email-section.pull-left
                    p.small {{vmbusiness.model.userdata.accountManger.email}}