div.account-settings-business-wrapper
    div.accsettingsdetailcontainer(screen-width, ng-class="{'center-section': width > 767 }")
        div.addresscontainer(ng-show="!vmbusiness.model.showAddressForm", ng-init="vmbusiness.manageSameAddressCheckbox();")
            div.form-group.hidden-sm-down
                div.sectiontitle address
            div.checkbox.form-group
                input(type='checkbox', name='sameAddressCheckbox', ng-model='vmbusiness.model.sameAddressCheckbox', ng-checked="vmbusiness.model.sameAddressCheckbox", ng-click="vmbusiness.manageSameAddressCheckbox()")
                label.form-label Same as Home Address
            div.form-group.row(ng-show="vmbusiness.model.address.streetAddress || vmbusiness.model.address.streetAddress2 || vmbusiness.model.address.city || vmbusiness.model.address.state || vmbusiness.model.address.zip")
                div.sectiondetails.col-sm-12 
                    span(ng-if="vmbusiness.model.address.streetAddress") {{vmbusiness.model.address.streetAddress}}
                    span(ng-if="vmbusiness.model.address.streetAddress2") , {{vmbusiness.model.address.streetAddress2}}
                div.sectiondetails.col-sm-12 
                    span(ng-if="vmbusiness.model.address.city") {{vmbusiness.model.address.city}}
                    span(ng-if="vmbusiness.model.address.state") , {{vmbusiness.model.address.state}}&nbsp;
                    span(ng-if="vmbusiness.model.address.zipcode") {{vmbusiness.model.address.zipcode}}
                    
            div.form-group.row(ng-hide="vmbusiness.model.address.streetAddress || vmbusiness.model.address.streetAddress2 || vmbusiness.model.address.city || vmbusiness.model.address.state || vmbusiness.model.address.zip")
                div.notspecified.col-sm-12 not specified

         div.overviewform.signupform.no-form-margin(ng-show="vmbusiness.model.showAddressForm")
            form.nomargin(name="vmbusiness.addressform" novalidate)
                div.form-group.row(ng-init="vmbusiness.setForm(vmbusiness.addressform)")
                    div.sectiontitle.col-sm-10.no-gutter address
                fieldset    
                    div.checkbox
                        input(type='checkbox', name='sameAddressCheckbox', ng-model='vmbusiness.model.sameAddressCheckbox', ng-checked="vmbusiness.model.sameAddressCheckbox", ng-click="vmbusiness.manageSameAddressCheckbox()")
                        label.form-label Same as Home Address
                    div(ng-show="!vmbusiness.model.sameAddressCheckbox")
                        div.form-group.m-b-2
                            label.form-label.m-b-0(for='address1') Street Address 1
                            input#address1.form-control.m-b-0(type='text', name="streetAddress" ng-model='vmbusiness.model.enterAddress.streetAddress' required ng-class="{'ng-touched': vmbusiness.addressform.$submitted}")
                            div.form-group.error-block(ng-show="(vmbusiness.addressform.streetAddress.$touched && vmbusiness.addressform.streetAddress.$error.required) || (vmbusiness.addressform.streetAddress.$dirty && vmbusiness.addressform.streetAddress.$error.required) || (vmbusiness.addressform.$submitted  && vmbusiness.addressform.streetAddress.$error.required) || (vmbusiness.isSaveButtonClicked && !vmbusiness.model.enterAddress.streetAddress)") Street Address is a mandatory field.
                        div.form-group
                            label.form-label(for='address2') Street Address 2
                            input#address2.form-control(type='text', name="streetAddress2" ng-model='vmbusiness.model.enterAddress.streetAddress2')
                        div.form-group.m-b-2
                            label.form-label(for='city') City
                            input#city.form-control.m-b-0(type='text', name="city" ng-model='vmbusiness.model.enterAddress.city' required ng-class="{'ng-touched': vmbusiness.addressform.$submitted}")
                            div.form-group.error-block(ng-show="(vmbusiness.addressform.city.$touched && vmbusiness.addressform.city.$error.required) || (vmbusiness.addressform.city.$dirty && vmbusiness.addressform.city.$error.required) || (vmbusiness.addressform.$submitted  && vmbusiness.addressform.city.$error.required) || (vmbusiness.isSaveButtonClicked && !vmbusiness.model.enterAddress.city)") City cannot be empty.
                        div.form-group.m-b-2
                            div.col-sm-6.no-gutter
                                label.form-label(for='state') State
                            div.col-sm-6
                                label.form-label(for='zipcode') ZIP
                            div.stateselect.col-sm-6.no-gutter-left.select-wrapper.m-b-2
                                select#state.form-control.m-b-0(name="state" ng-model='vmbusiness.model.enterAddress.state' ng-options="state.abbreviation as state.name for state in vmbusiness.model.stateList" required ng-class="{'ng-touched': vmbusiness.adddressform.$submitted}")
                                    option(value='', disabled='')
                                div.form-group.error-blockm-b-0(ng-show="(vmbusiness.addressform.state.$touched && vmbusiness.addressform.state.$error.required) || (vmbusiness.addressform.state.$dirty && vmbusiness.addressform.state.$error.required) || (vmbusiness.addressform.$submitted  && vmbusiness.addressform.state.$error.required) || (vmbusiness.isSaveButtonClicked && !vmbusiness.model.enterAddress.state)") State should be entered.
                            div.col-sm-6.no-gutter-right.m-b-2
                                input#zipcode.form-control.m-b-0(type='tel', name="zipcode" ng-model='vmbusiness.model.enterAddress.zipcode' required ng-class="{'ng-touched': vmbusiness.addressform.$submitted}", zip-mask, maxlength="10")
                                div.form-group.error-block.m-b-0(ng-show="(vmbusiness.addressform.zipcode.$touched && vmbusiness.addressform.zipcode.$error.required) || (vmbusiness.addressform.zipcode.$dirty && vmbusiness.addressform.zipcode.$error.required) || (vmbusiness.addressform.$submitted  && vmbusiness.addressform.zipcode.$error.required) || (vmbusiness.isSaveButtonClicked && !vmbusiness.model.enterAddress.zipcode)") Zipcode is required.
                                div.error-block.form-group.m-b-0(ng-show="((vmbusiness.model.enterAddress.zipcode.length<5) || (vmbusiness.model.enterAddress.zipcode.length>5 && vmbusiness.model.enterAddress.zipcode.length <10))") Please enter a valid zip code. 
                    div.hidden-lg-up
                        div
                            div(ng-if="!vmbusiness.model.sameAddressCheckbox")
                                div.hidden-sm-down
                                    button.btn.btn-primary(type='button', ng-click='vmbusiness.checkIfValidAddress(vmbusiness.addressform.$valid, vmbusiness.model.sameAddressCheckbox);') SAVE
                                div.hidden-md-up
                                    button.btn.btn-primary(type='button', ng-click='vmbusiness.checkIfValidAddress(vmbusiness.addressform.$valid, vmbusiness.model.sameAddressCheckbox);') SAVE                                    
                            div(ng-if="vmbusiness.model.sameAddressCheckbox")
                                button.btn.btn-primary(type='button', ng-click='vmbusiness.checkIfValidAddress(vmbusiness.addressform.$valid, vmbusiness.model.sameAddressCheckbox);') SAVE
                        div
                            button.btn.btn-primary-outline.fullWidth.col-sm-12(type='button', ng-click="vmbusiness.model.cancelAddress();") CANCEL
                    div.row.hidden-md-down
                        div.col-md-6
                            button.btn.btn-primary(type='button', ng-click='vmbusiness.checkIfValidAddress(vmbusiness.addressform.$valid, vmbusiness.model.sameAddressCheckbox);') SAVE
                        div.col-md-6
                            button.btn.btn-primary-outline.fullWidth.col-md-12(type='button', ng-click='vmbusiness.model.cancelAddress()') CANCEL                                                    
    
    div.edit-button-section(align="center", ng-show="!vmbusiness.model.showAddressForm && !vmbusiness.model.sameAddressCheckbox")
        span.edit-text-section.pointer(ng-click="vmbusiness.model.showAddressForm = true; vmbusiness.model.enterAddress = vmbusiness.model.address; vmbusiness.isSaveForAddressClicked = false; vmbusiness.isSaveButtonClicked = false;") Edit