div.communication-preference-wrapper.account-settings-business-wrapper(ng-init="vmbusiness.isCommunicationReadOnly = true;")
    div.communication-preference-section.accsettingsdetailcontainer.accountcontainer.p-b-2(screen-width, ng-class="{'center-section': width > 767 }")
        div
            div.form-group.hidden-sm-down.communication-preference-heading(ng-show="vmbusiness.isCommunicationReadOnly")
                    div.sectiontitle Communication Preferences
            div.form-group.hidden-sm-down.communication-preference-heading(ng-show="!vmbusiness.isCommunicationReadOnly")
                    div.sectiontitle Contact Preference
            //- div.form-group.hidden-md-up(ng-show="!vmbusiness.isCommunicationReadOnly")
            //-         p.small.mobile-heading.text-capitalize Contact Preference
        div.communication-read-only(ng-show="vmbusiness.isCommunicationReadOnly")
            div.row(ng-init="vmbusiness.model.contactPreference.radio = vmbusiness.model.contactPreferenceSetup.emailValue")
                div.slabeloverview.col-sm-7
                    span Contact Preference
                div.sectiontext.col-sm-5
                    span(ng-if="vmbusiness.model.contactPreference.radio == vmbusiness.model.contactPreferenceSetup.emailValue") Email
                    span(ng-if="vmbusiness.model.contactPreference.radio == vmbusiness.model.contactPreferenceSetup.textValue") Text
                    span(ng-if="vmbusiness.model.contactPreference.radio == vmbusiness.model.contactPreferenceSetup.mailValue") Mail
            div.row
                div.slabeloverview.col-sm-7
                    span Language Preference
                div.sectiontext.col-sm-5(ng-show="vmbusiness.model.contactPreference.language") 
                    span {{vmbusiness.model.contactPreference.language.name}}
                div.notspecified.col-sm-5(ng-show="!vmbusiness.model.contactPreference.language", align="right") 
                    span not specified
            div.row
                div.slabeloverview.col-sm-7
                    span Receive Marketing Emails
                div.sectiontext.col-sm-5
                    span(ng-if="vmbusiness.model.contactPreference.checkboxDnd == false") Yes
                    span(ng-if="vmbusiness.model.contactPreference.checkboxDnd == true") No

        div.form-section(ng-show="!vmbusiness.isCommunicationReadOnly")
            form.hidden-sm-down.form(name="formContactPreference", novalidate)
                //- Uncomment the following code for future releases.
                //- div.radio-buttons-section
                //-     div.radio.clearfix
                //-         input.form-control(type="radio", name="email", ng-model="vmbusiness.model.contactPreference.radio", value="{{vmbusiness.model.contactPreferenceSetup.emailValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                //-         label.pull-left.text-section.relative
                //-             div.label-section
                //-                 p.radio-button-heading Email
                //-                 p.small.radio-button-desc sarah@gmail.com
                        
                //-     div.radio.clearfix
                //-         input.form-control(type="radio", name="text", ng-model="vmbusiness.model.contactPreference.radio", 	value="{{vmbusiness.model.contactPreferenceSetup.textValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                //-         label.pull-left.text-section.relative
                //-             div.label-section
                //-                 p.radio-button-heading Text
                //-                 p.small.radio-button-desc (123) 456-7890
                            
                //-     div.radio.clearfix
                //-         input.form-control(type="radio", name="mail", ng-model="vmbusiness.model.contactPreference.radio", 	value="{{vmbusiness.model.contactPreferenceSetup.mailValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                //-         label.pull-left.text-section.relative
                //-             div.label-section
                //-                 p.radio-button-heading Mail
                //-                 p.small.radio-button-desc 12345 67th Street
                //-                 p.small.radio-button-desc Seattle WA, United States
                                
                div.email-communication-section
                    div.relative.section-heading
                        span Email Communications
                    div.language-section
                        div.heading-section
                            span Language Preference
                        div.select-wrapper.col-sm-12.no-gutter.language-select-section
                            select.form-control(ng-init="vmbusiness.model.contactPreference.language = vmbusiness.model.languageList[vmbusiness.selectedLanguageKey]", 	name="language", ng-model="vmbusiness.model.contactPreference.language", ng-required="true", ng-options="item as item.name for item in 	vmbusiness.model.languageList", ng-disabled="vmbusiness.isCommunicationReadOnly")
                    div.checkbox-section
                        div.checkbox.clearfix
                            input.form-control(type="checkbox", name="dnd", ng-model="vmbusiness.model.contactPreference.checkboxDnd", ng-disabled="vmbusiness.isCommunicationReadOnly")
                            label.pull-left.text-section.relative
                                div.label-section
                                    p.small Do Not Contact. By selecting this option you will be placed on Do Not Contact list, you will not receive any Newsletter, Special 	Offering or Marketing emails from Nu Skin.
                                    
                div.submit-section.clearfix(ng-show="!vmbusiness.isCommunicationReadOnly")
                    div.hidden-md-down
                        div.pull-left.save-button-section.col-lg-6.no-gutter-left
                            button.btn.btn-primary(type="button",ng-click="vmbusiness.saveCommunicationPreference(formContactPreference.$valid);")
                                span.text-uppercase Save
                        div.pull-left.cancel-button-section.col-lg-6.no-gutter-right
                            button.btn.btn-primary-outline.fullWidth(type="button", ng-click="vmbusiness.isCommunicationReadOnly = true; vmbusiness.model.cancelCommunicationPreference();")
                                span.text-uppercase Cancel
                    div.hidden-lg-up
                        div.save-button-section
                            button.btn.btn-primary(type="button",ng-click="vmbusiness.saveCommunicationPreference(formContactPreference.$valid);")
                                span.text-uppercase Save
                        div.cancel-button-section
                            button.btn.btn-primary-outline.fullWidth(type="button", ng-click="vmbusiness.isCommunicationReadOnly = true; vmbusiness.model.cancelCommunicationPreference();")
                                span.text-uppercase Cancel

            div.hidden-md-up
                div.radio-buttons-section
                    //- div.radio.clearfix.p-b-2.p-t-1
                        //- input.form-control(type="radio", name="email", ng-model="vmbusiness.model.contactPreference.radio", value="{{vmbusiness.model.contactPreferenceSetup.emailValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                        //- label.pull-left.text-section.relative
                        //-     div.label-section
                        //-         p.radio-button-heading Email
                        //-         p.small.radio-button-desc sarah@gmail.com
                        
                    //- div.radio.clearfix.p-b-2
                    //-     input.form-control(type="radio", name="text", ng-model="vmbusiness.model.contactPreference.radio",  value="{{vmbusiness.model.contactPreferenceSetup.textValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                    //-     label.pull-left.text-section.relative
                    //-         div.label-section
                    //-             p.radio-button-heading Text
                    //-             p.small.radio-button-desc (123) 456-7890
                            
                    //- div.radio.clearfix
                    //-     input.form-control(type="radio", name="mail", ng-model="vmbusiness.model.contactPreference.radio",  value="{{vmbusiness.model.contactPreferenceSetup.mailValue}}", ng-required="true", ng-disabled="vmbusiness.isCommunicationReadOnly")
                    //-     label.pull-left.text-section.relative
                    //-         div.label-section
                    //-             p.radio-button-heading Mail
                    //-             p.small.radio-button-desc 12345 67th Street
                    //-             p.small.radio-button-desc Seattle WA, United States
                                
                div.email-communication-section
                    div.relative.section-heading
                        span Email Communications
                    div.language-section
                        div.heading-section
                            span Language Preference
                        div.select-wrapper.col-sm-12.no-gutter.language-select-section
                            select.form-control(ng-init="vmbusiness.model.contactPreference.language = vmbusiness.model.languageList[vmbusiness.selectedLanguageKey]",  name="language", ng-model="vmbusiness.model.contactPreference.language", ng-required="true", ng-options="item as item.name for item in  vmbusiness.model.languageList", ng-disabled="vmbusiness.isCommunicationReadOnly")
                    div.checkbox-section
                        div.checkbox.clearfix
                            input.form-control(type="checkbox", name="dnd", ng-model="vmbusiness.model.contactPreference.checkboxDnd", ng-disabled="vmbusiness.isCommunicationReadOnly")
                            label.pull-left.text-section.relative
                                div.label-section
                                    p.small Do Not Contact. By selecting this option you will be placed on Do Not Contact list, you will not receive any Newsletter, Special    Offering or Marketing emails from Nu Skin.

                div.submit-section.clearfix(ng-show="!vmbusiness.isCommunicationReadOnly")
                    div.save-button-section
                        button.btn.btn-primary(type="button",ng-click="vmbusiness.saveCommunicationPreference(formContactPreference.$valid);")
                            span.text-uppercase Save
                    div.cancel-button-section
                        button.btn.btn-primary-outline.fullWidth(type="button", ng-click="vmbusiness.isCommunicationReadOnly = true; vmbusiness.model.cancelCommunicationPreference();")
                            span.text-uppercase Cancel

    div.edit-button-section(align="center", ng-show="vmbusiness.isCommunicationReadOnly")
        span.edit-text-section.pointer(ng-click="vmbusiness.isCommunicationReadOnly = false;") Edit