div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
div.modal-body.center-section
	h3.form-label Direct Deposit Policy
	div(ng-bind-html="ctrl.directPolicyInfo")
	