@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/account-settings-personal/account.settings.personal.component.scss";
.account-manager-wrapper {
    background: $gray-white;
    border: 0.00625rem solid transparent;
    .account-manager-section {
        .account-manager-heading {
            font-size: 1.375rem;
            font-weight: $proxima-thin;
            line-height: 1.18;
            letter-spacing: 0.05rem;
            color: $gray-dark;
            margin-bottom: 1.125rem;
        }
        .account-manager-description {
            min-height: 3.75rem;
            background: url('../../../../src/assets/images/css/ic-brand-logo.svg') no-repeat left center;
            .brief-section {
                line-height: 1.85;
                color: $brand-primary;
                top: 1.875rem;
                p {
                    font-weight: $proxima-light;
                }
            }
            .separator-section,
            .name-section {
                font-weight: $proxima-light;
                line-height: 1.5;
                color: $gray-dark;
            }
            .separator-section {
                padding: 0 1rem;
            }
            .name-section,
            .brief-section {
                padding: 0 0 0 4.75rem;
                position: absolute;
            }
            .name-section {
                top: 0.1875rem;
            }
        }
    }
}

.accountsettingsbusiness {
    .topbannertitle {
        font-size: 2.375rem;
    }
    .direct-deposit-section {
        margin-left: -0.1875rem;
        div label {
            margin-bottom: 0;
        }
        .direct-deposit-text {
            font-weight: $proxima-regular;
            line-height: 1.2;
            letter-spacing: 0.025rem;
            color: $brand-primary;
        }
        .error-section {
            position: absolute;
            top: 1.5625rem;
            left: 0.1875rem;
        }
    }
    .sectiontitle {
        margin-top: 0.75rem;
    }
    .slabeloverview {
        margin-bottom: 0.625rem;
    }
    .tabcontainer {
        margin: 0 0 0.4375rem;
    }
    .leftlinkcontainer {
        padding-top: 1.25rem;
        .leftanchor.tabselected {
            font-weight: $proxima-semibold;
        }
        .leftanchor {
            padding-left: 1rem;
        }
    }
    .rightcontainer {
        .accsettingstopbannerouter {
            .imgcontainer {
                img {
                    border-radius: 6.25rem;
                }
                img.edit-icon-business {
                    border-radius: 0;
                }
                .edit-icon {
                    background: url('../../../../src/assets/images/css/ic-pen-white.svg') no-repeat right center;
                    width: 2.0625rem;
                    min-height: 2.0625rem;
                }
            }
        }
    }
    .list-inline {
        height: 2.6em;
        border: solid 1px $white;
        border-radius: 3px;
        & > div {
            display: inline-block;
            padding: 0.5em 2.5em 0.7em 2.5em;
            text-align: center;
            height: 2.5em;
            width: 49%;
            border-right: solid 1px $white;
            border-left: solid 1px $white;
            &:last-child {
                border-right: 0;
            }
        }
        & > div.tabselected {
            border-radius: 0.18em;
            background-color: $aqua;
            box-shadow: 2px 2px 2px 0 rgba(103, 103, 103, 0.5);
            border: solid 1px $aqua;
            margin: -0.3em -.3em -.2em;
            height: 2.7rem;
            width: 51.5%;
        }
        .tabselectedpersonal {
            border-right: 0;
        }
    }
    .communication-preference-wrapper {
        .communication-preference-section {
            .form-section {
                .form {
                    margin: 1rem 0 0;
                }
                .radio-buttons-section {
                    .text-section {
                        .label-section {
                            position: absolute;
                            top: -0.3125rem;
                            left: 1.875rem;
                            .radio-button-heading,
                            .radio-button-desc {
                                padding-left: 0.3125rem;
                                margin: 0;
                                font-weight: $proxima-light;
                                line-height: 1.23;
                                color: $gray-dark;
                                width: 9.375rem;
                            }
                            .radio-button-heading {
                                line-height: 1.5;
                                margin: 0;
                            }
                        }
                        > p:first-child {
                            position: absolute;
                            top: -0.375rem;
                            line-height: 1.5;
                        }
                        > p {
                            padding-left: 0.3125rem;
                            margin: 0;
                            font-weight: $proxima-light;
                            line-height: 1.23;
                            color: $gray-dark;
                            width: 9.375rem;
                        }
                    }
                }
                .email-communication-section {
                    .language-section {
                        .heading-section {
                            font-size: 0.875rem;
                            font-weight: $proxima-regular;
                            line-height: 1.57;
                            letter-spacing: -0.00625rem;
                            color: $gray-black;
                            margin: 1rem 0 0.625rem;
                        }
                        .language-select-section::after {
                            top: 28%;
                        }
                    }
                    .checkbox-section {
                        .checkbox {
                            margin-bottom: 0;
                        }
                        .label-section {
                            margin: -1.125rem 0 0 1rem;
                            p {
                                font-weight: $proxima-light;
                                line-height: 1.23;
                                color: $gray-dark;
                                line-height: 1.38;
                            }
                        }
                    }
                    .submit-section {
                        margin-bottom: -0.625rem;
                    }
                }
                .section-heading {
                    z-index: 1;
                    text-align: center;
                }
                .section-heading::before {
                    border-top: 0.0625rem solid $blue-lighter;
                    content: "";
                    margin: 0 auto;
                    position: absolute;
                    top: 0.75rem;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                }
                .section-heading span {
                    background: $white;
                    padding: 0 1.5rem;
                    color: $gray-dark;
                    font-size: 1rem;
                    font-weight: $proxima-semibold;
                    line-height: 1;
                    letter-spacing: 0.0375rem;
                }
            }
        }
    }
    .inlineedit {
        background-position: left 0.375rem;
    }
    .margin0 {
        margin: 0;
    }
    .link-section {
        font-weight: $proxima-semibold;
        line-height: 1.23;
        letter-spacing: 0.025rem;
        color: $brand-primary;
    }
    .brief-description {
        font-weight: $proxima-regular;
        line-height: 1.31;
        color: $gray;
    }
    .small-text-section {
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray;
    }
    .convert-to-business-form-section {
        .text-label {
            font-weight: $proxima-regular;
            font-size: 0.875rem;
            line-height: 1.57;
            letter-spacing: -0.00625rem;
            color: $gray-black;
            opacity: 0.8;
        }
        .taxId-input2 {
            border-left: 0;
        }
        .subheading-section-1 {
            margin-bottom: 0.625rem;
        }
        .subheading-section-2 {
            margin-bottom: 1.5625rem;
        }
    }
    .left-section-wrapper {
        .inlineeditcontainer {
            margin-top: 0.1875rem;
        }
        .imgcontainer {
            .edit-icon {
                background: url('../../../../src/assets/images/css/ic-pen-white.svg') no-repeat right center;
                width: 2.0625rem;
                min-height: 2.0625rem;
            }
        }
        .imgcontainer {
            .imgtitle {
                margin-bottom: 1.125rem;
            }
            .edit-icon {
                background: url('../../../../src/assets/images/css/ic-pen-white.svg') no-repeat right center;
                width: 2.0625rem;
                min-height: 2.0625rem;
            }
        }
    }
    .convert-to-business-section {
        .toggle-hidden-section {
            .text-section {
                background: url('../../../../src/assets/images/css/ic-clock.png') no-repeat left top;
                padding: 0 0 0 2rem;
                display: table;
                height: 1.5rem;
                p.small-text-section {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .text-section.text-section-line-1 {
                margin-bottom: 1.5rem;
            }
        }
        .toggle-hidden-section {
            overflow-y: hidden;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        .toggle-hidden-section.ng-hide {
            max-height: 0;
        }
        .see-more-section-wrapper {
            padding-top: 0.3125rem;
        }
    }
    .overviewform {
        .stateselect::after {
            right: 1.875rem;
        }
    }
    /* overview css */
    .contactcontainer,
    .addresscontainer,
    .overviewform,
    .accountcontainer,
    .bankingcontainer {
        border-bottom: solid 1px $gray87;
        padding: 1em 0;
        margin-top: .5em;
        background: $white;
        .sectiontext {
            @extend .sectiontext;
            margin-bottom: 0;
            font-size: 1rem;
        }
    }
    .bankingcontainer {
        @extend .bankingcontainer;
        border-bottom: none;
    }
    .contactcontainer {
        .sectiontext {
            p {
                font-weight: $proxima-light;
            }
            p.contact-email {
                word-wrap: break-word;
            }
        }
    }
}

.accountsettingsbusiness {
    .account-settings-business-wrapper {
        .mobile-heading {
            font-weight: $proxima-regular;
            font-size: 0.875rem;
            margin: 0 0 -1rem;
        }
        .edit-button-section {
            margin-top: 1rem;
            border-top: solid 0.0625rem $gray87;
            padding: 1rem 0;
            .edit-text-section {
                background: url('../../../../src/assets/images/css/icon-edit.svg') no-repeat left 0.625rem;
                font-size: 0.875rem;
                font-weight: $proxima-semibold;
                line-height: 1.14;
                letter-spacing: 0.025rem;
                color: $brand-primary;
                padding: 0.625rem 1.75rem;
            }
        }
        .add-button-section {
            .add-text-section {
                background: url('../../../../src/assets/images/css/ic-close-copy-2.png') no-repeat left 0.625rem;
            }
        }
        .business-associates-section {
            .multiple-associates {
                .associates-section {
                    min-width: initial;
                    max-width: initial;
                    min-height: 7.5rem;
                    max-height: 7.5rem;
                }
            }
            .business-distributor-associates,
            .individual-distributor-associates {
                .status-section {
                    .pending-text {
                        font-weight: $proxima-light;
                        line-height: 1.85;
                        color: $gray-light;
                        font-size: 0.8125rem;
                        margin-top: -0.4375rem;
                    }
                    .label-section {
                        font-size: 0.875rem;
                        font-weight: $proxima-semibold;
                        line-height: 1.14;
                        letter-spacing: 0.025rem;
                        color: $brand-primary;
                    }
                }
                .notspecified {
                    position: relative;
                    width: 3.25rem;
                    height: 3.25rem;
                    border-radius: 3.25rem;
                    background: $brand-primary url('../../../../src/assets/images/css/ic-add.png') no-repeat center 0.5625rem;
                    font-size: 0.875rem;
                    font-weight: $proxima-semibold;
                    line-height: 1.14;
                    letter-spacing: 0.025rem;
                    color: $white;
                    span {
                        position: absolute;
                        top: 1.6875rem;
                        left: 0.8125rem;
                    }
                }
                .no-associate-section {
                    .absent-label-section {
                        p {
                            font-weight: $proxima-light;
                            line-height: 1.5;
                            color: $gray-dark;
                        }
                        p.line-2 {
                            margin-top: -0.625rem;
                        }
                    }
                }
                .edit-associates {
                    background: url('../../../../src/assets/images/css/ic-close-circle-copy-3.png') no-repeat center center;
                    width: 1.5rem;
                    height: 1.5rem;
                    position: absolute;
                    right: 2.375rem;
                    top: -0.25rem;
                }
                .edit-associates.edit-associates-single {
                    right: calc(100% / 2 - 2.03125rem);
                }
                .submit-section {
                    padding-top: 1.5rem;
                }
            }
            .associates-section {
                padding: 0.3125rem 0 1.25rem;
                min-height: 6.875rem;
                max-height: 6.875rem;
                .profile-name-section {
                    font-weight: $proxima-light;
                    line-height: 1.85;
                    color: $gray-dark;
                    margin-top: 0.3125rem;
                }
            }
            .load-more-section {
                font-size: 0.875rem;
                font-weight: $proxima-semibold;
                line-height: 1.14;
                letter-spacing: 0.025rem;
                color: $brand-primary;
                padding-top: 1rem;
            }
            .associates-mobile {
                width: calc(100% / 2);
            }
            .associates-non-mobile {
                width: calc(100% / 3);
            }
        }
    }
}

.normalCursor,
.app-modal-window .modal-body .normalCursor {
    cursor: auto;
}

.accountsettingsbusiness .left-section-wrapper .imgcontainer,
.file-upload-popup .modal-body .profile-section,
.rightcontainer .accsettingstopbannerinner .imgcontainer {
    .outer-image-wrapper {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 6.25rem;
        background: rgba(255, 255, 255, 0.15);
        .inner-image-wrapper {
            width: 5.25rem;
            height: 5.25rem;
            border-radius: 5.25rem;
            margin-top: 0.5rem;
            background: rgba(255, 255, 255, 0.3);
            img {
                border-radius: 6.25rem;
                margin-top: 0.4375rem;
                width: 4.375rem;
                height: 4.375rem;
            }
        }
    }
}

.accountsettingsbusiness .contactcontainer,
.accountsettingsbusiness .addresscontainer,
.accountsettingsbusiness .overviewform,
.accountsettingsbusiness .accountcontainer,
.accountsettingsbusiness .bankingcontainer {
    border-bottom: none;
}

#accordionform {
    .businessassociate-accordion-section {
        .businessassociate-panel-section {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}

.app-modal-window.business-section-popup + .modal-backdrop {
    background: rgba(204, 232, 239, 0.9);
}

.app-modal-window.business-section-popup {
    .modal-dialog {
        margin: 0 auto;
        margin-top: 1.625rem;
    }
    .modal-content {
        margin-bottom: 4.375rem;
    }
    .modal-header {
        padding-bottom: 0;
        .cross-icon {
            width: 1.5625rem;
            padding: 1.5rem 1.125rem 1rem 0;
            background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
        }
    }
    .modal-body {
        padding: 1rem 2rem;
        .desc-section{
          .text-section{
            padding-top: 0;
          }
        }
    }
}

.file-upload-popup.business-section-popup {
    .modal-dialog {
        margin-top: 1.625rem;
    }
    .modal-content {
        margin-bottom: 4.375rem;
    }
    .modal-header {
        padding-bottom: 0;
        .cross-icon {
            width: 1.5625rem;
            padding: 1.5rem 1.125rem 1rem 0;
            background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
        }
    }
    .modal-body {
        padding-top: 0;
        .action-buttons {
            background: transparent;
            border: 0;
            outline: 0;
            padding: 0;
            p {
                margin-left: 0.75rem;
            }
        }
        .action-section {
            font-weight: $proxima-semibold;
            line-height: 1.31;
            letter-spacing: 0.0625rem;
            padding-top: 1rem;
            color: $brand-primary;
            .upload-photo-section {
                background: url('../../../../src/assets/images/css/ic-upload-copy.svg') no-repeat left center;
            }
            .remove-photo-section {
                background: url('../../../../src/assets/images/css/x-icon.png') no-repeat 0.3125rem 0.125rem;
            }
            .no-profile-photo-uploaded {
                opacity: 0.4;
            }
            .upload-photo-section,
            .remove-photo-section {
                padding: 0 0 0 1.8rem;
            }
        }
        .profile-text-section {
            font-weight: $proxima-light;
            line-height: 1.31;
            letter-spacing: -0.0625rem;
            color: $gray-dark;
            width: 12.5rem;
            max-width: 12.5rem;
            p {
                padding-top: 0.3125rem;
                margin-bottom: 0.625rem;
            }
        }
        .profile-section {
            img {
                border-radius: 5rem;
            }
            img.image-profile {
                border: solid 1px $gray-fade;
            }
        }
        .error-section {
            padding: 0.625rem 1.125rem 0;
            background: $brand-danger url('../../../../src/assets/images/css/ic-info.png') no-repeat 1.125rem 0.625rem;
            font-weight: $proxima-light;
            line-height: 1.31;
            letter-spacing: -0.0625rem;
            color: $white;
            p {
                padding: 0 0 0.5rem 2.25rem;
            }
        }
    }
}

.add-associate-popup {
    .modal-content {
        margin-bottom: 4.375rem;
    }
    .modal-header {
        background: url('../../../../src/assets/images/css/invite-biz-associate-pop-header-image.jpg') no-repeat;
        background-size: cover;
        .cross-icon {
            width: 1.5625rem;
            padding: 1.5rem 1.125rem 1rem 0;
            background: url('../../../../src/assets/images/css/cross-small-white.png') no-repeat right top;
        }
        .text-section {
            color: $white;
            .heading-section {
                font-size: 1.375rem;
                font-weight: $proxima-light;
                line-height: 1.55;
            }
            .desc-section {
                font-weight: $proxima-regular;
            }
        }
    }
    .modal-body {
        .form-section {
            border-top: 1px solid $gray87;
        }
        .text-section {
            font-weight: $proxima-light;
            line-height: 1.31;
            color: $gray;
            .see-more-section-wrapper {
                font-weight: $proxima-semibold;
                line-height: 1.85;
                color: $brand-primary;
                margin-top: 0.3125rem;
            }
            .desc-section {
                width: 16.25rem;
            }
            .hidden-section {
                padding-top: 1.625rem;
                p {
                    .point-heading {
                        font-size: 1.75rem;
                        font-weight: $proxima-thin;
                        line-height: 1.21;
                        color: $gray-dark;
                    }
                    .separator-line-section {
                        margin-left: -1rem;
                        color: $gray87;
                    }
                }
            }
        }
    }
}

.app-modal-window.confirmation-popup {
    .modal-dialog {
        width: 20.3125rem;
        margin-top: 2.5rem;
        .modal-content {
            width: 20.3125rem;
            margin-bottom: 2.5rem;
            .modal-header {
                padding: 1.125rem 1rem;
                border-bottom: 0;
                .cross-icon {
                    width: 1.5625rem;
                    padding: 1.5rem 1.125rem 1rem 0;
                    background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
                }
            }
            .modal-body {
                padding: 0 3.375rem 0.625rem;
                > div:first-child {
                    width: 14.6875rem;
                }
                .header-section {
                    font-size: 1.375rem;
                    font-weight: $proxima-light;
                    color: $gray-dark;
                    margin-top: -2.125rem;
                    padding: 0 0.3125rem;
                    line-height: 1.2;
                }
                .brief-section {
                    font-size: 0.875rem;
                    font-weight: $proxima-light;
                    line-height: 1.29;
                    color: $gray-darker;
                    margin-top: 0.3125rem;
                }
                .desc-section {
                    margin: 1.625rem 0 2rem;
                    .text-section {
                        font-weight: $proxima-light;
                        line-height: 1.54;
                        color: $gray-darker;
                        padding-left: 2.5rem;
                        height: 1.6875rem;
                        max-height: 1.6875rem;
                        margin-bottom: 1.125rem;
                        p {
                            padding-top: 0.3125rem;
                        }
                    }
                    .text-section-1 {
                        background: url('../../../../src/assets/images/css/contact@1x.png') no-repeat left center;
                    }
                    .text-section-2 {
                        background: url('../../../../src/assets/images/css/add_associate@1x.png') no-repeat left center;
                    }
                    .text-section-3 {
                        background: url('../../../../src/assets/images/css/bank@1x.png') no-repeat left center;
                    }
                }
                .confirm-section {
                    font-weight: $proxima-semibold;
                    line-height: 1.31;
                    letter-spacing: 0.0625rem;
                    color: $brand-primary;
                    .button-normal-text {
                        outline: 0;
                        background: transparent;
                        border: 0;
                        padding: 0.625rem 1.25rem;
                        max-height: 2.375rem;
                    }
                }
            }
        }
    }
}

.app-modal-window.terms-condition-popup {
    .modal-dialog {
        margin-top: 2.5rem;
        .modal-content {
            margin-bottom: 2.5rem;
        }
        .description-section {
            font-weight: $proxima-semibold;
            line-height: 1.38;
            color: $gray-dark;
        }
        .description-section-body {
            color: $gray-black;
        }
        .modal-header {
            padding: 1.5rem 1.5rem 0;
            border-bottom: 0;
            .cross-icon {
                width: 1.5625rem;
                padding: 1.5rem 1.125rem 1rem 0;
                background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
            }
            .heading-section {
                width: 11.125rem;
                font-size: 1.8125rem;
                font-weight: $proxima-thin;
                line-height: 1.07;
                color: $gray-dark;
            }
            .heading-section,
            .description-section {
                margin-top: 0.625rem;
            }
        }
        .modal-body {
            padding: 0 1.5rem 1rem;
            .text-section-1 {
                font-weight: $proxima-light;
                line-height: 1.38;
                color: $gray-dark;
            }
            .text-section-2 {
                background: $gray-lightest;
                height: 15.6875rem;
                max-height: 15.6875rem;
                overflow: auto;
                margin: 0 -1.5rem;
                padding: 1.125rem 1.5rem;
                font-size: 1.125rem;
                font-weight: $proxima-light;
                line-height: 1.22;
                color: $gray-dark;
            }
            .text-section-3 {
                p {
                    font-weight: $proxima-light;
                }
                line-height: 1.38;
                color: $gray-black;
                padding: 1.3125rem 0 0;
                .decline-button {
                    border-color: $gray;
                    color: $gray;
                }
            }
            .carousel-section {
                .carousel-image-section {
                    padding: 0 0.3125rem;
                    margin: 0 0 0.3125rem;
                }
                .slick-dots li {
                    width: 0.625em;
                    height: 0.625em;
                }
                .slick-dots li button {
                    background: transparent;
                    border: .0625rem solid $gray;
                    width: 0.625rem;
                    height: 0.625rem;
                }
                .slick-dots li.slick-active button {
                    background: $gray;
                }
                .slick-dots li button:before,
                .slick-dots li.slick-active button:before {
                    opacity: 0;
                }
                .pdp-productbasics-stars {
                    display: inline-block;
                    margin-left: 0;
                    padding-left: 0;
                    margin-right: 0.25em;
                    li {
                        display: inline;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .accountsettingsbusiness {
        .no-form-margin {
            padding-top: 0;
            margin-top: 0;
        }
        .sectiontitle {
            display: none;
        }
        .rightcontainer {
            .imgtitlemobile {
                padding-left: 0.625rem;
            }
            .combo-button-section {
                margin-top: 1.5rem;
                margin-left: 0;
            }
            .mobile-image-section {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            #accordionform.accordion-form {
                .panel-title {
                    margin: 0 -1rem 0 0;
                }
                .panel-heading {
                    padding: 0;
                }
            }
        }
        .rightpanel {
            background-color: $gray-lightest;
            max-width: 100%;
        }
        .list-inline {
            & > div.tabselected {
                width: 51.5%;
                height: 2.65em;
                margin: -.1em -.4em -.1em -.03em;
            }
        }
        .convert-to-business-section {
            margin-top: 1.5rem;
            .toggle-hidden-section {
                .text-section {
                    padding: 0 0 0 2.5rem;
                }
                .toggle-content-wrapper {
                    padding-top: 1rem;
                }
            }
            .brief-description {
                margin-top: 1rem;
            }
        }
        .convert-to-business-form-section {
            .heading-section {
                font-size: 1.125rem;
            }
        }
        .communication-preference-wrapper {
            .submit-section {
                padding-top: 1.5rem;
            }
        }
    }
    .app-modal-window.terms-condition-popup {
        .modal-dialog {
            width: 20.3125rem;
        }
        .modal-content {
            width: 20.3125rem;
            .modal-body {
                .text-section-1 {
                    .right-section {
                        margin: 1.9375rem 0 1.375rem;
                    }
                }
                .text-section-2 {
                    margin-top: 0.625rem;
                    height: 22rem;
                    max-height: 22rem;
                    overflow: auto;
                }
                .description-section-body {
                    margin-top: -0.875rem;
                }
            }
        }
    }
    .account-settings-business-wrapper {
        .edit-button-section {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
            padding: 0.875rem 0 0;
            margin-top: 0;
            margin-bottom: -0.875rem;
        }
        .email-communication-section {
            margin-bottom: -1.5rem;
        }
    }
    .add-associate-popup {
        .modal-dialog {
            width: 20.3125rem;
            margin-top: 1.5rem;
            .modal-content {
                width: 20.3125rem;
                .modal-header {
                    .text-section {
                        padding: 0 1.25rem;
                        .heading-section {
                            margin: -0.3125rem 0 1rem;
                        }
                    }
                }
                .modal-body {
                    padding: 1.25rem 1rem 1rem;
                    .form-section {
                        form {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
    .file-upload-popup {
        .modal-body {
            .error-section {
                margin: 0 -1rem;
            }
        }
    }
    .accountsettingsp {
        #accordionform.accordion-form {
            .accsettingsdetailcontainer {
                min-width: initial;
                max-width: initial;
            }
        }
        .accsettingstopbannerinner {
            margin-top: 0;
        }
    }
    .accountsettingsbusiness {
        .account-settings-business-wrapper {
            .business-associates-section {
                .business-distributor-associates,
                .individual-distributor-associates {
                    .edit-associates {
                        right: 3rem;
                    }
                }
            }
        }
    }
    .account-manager-wrapper {
        .account-manager-section {
            background: $white;
            padding: 1.125rem 1.5625rem 1.375rem;
            margin: 0 0 1.375rem;
        }
    }
}

@media (min-width: 768px) {
    .text-section {
        padding-top: 1.25rem;
    }
    .email-communication-section {
        margin-top: 1rem;
    }
    .accountsettingsbusiness {
        .communication-preference-section {
            .radio-buttons-section {
                > div.radio {
                    padding-bottom: 1.5rem;
                }
                > div.radio:last-child {
                    padding-bottom: 1rem;
                }
            }
        }
        .accsettingsdetailcontainer,
        .account-settings-business-wrapper .business-distributor-associates .submit-section,
        .account-settings-business-wrapper .individual-distributor-associates .submit-section {
            width: 24.8125rem;
        }
        .convert-to-business-section {
            padding-top: 2rem;
            border-top: solid 1px $gray87;
            margin-top: 1.5rem;
            .toggle-hidden-section {
                .toggle-content-wrapper {
                    padding-top: 1.5625rem;
                }
            }
        }
        .convert-to-business-form-section {
            .taxId-input1 {
                width: 6.9375rem;
            }
            .taxId-input2 {
                width: 17.875rem;
            }
        }
        .left-section-wrapper {
            .list-inline {
                .tabselected {
                    margin-top: -0.125rem;
                    margin-bottom: 0;
                }
            }
            .leftlinkcontainer {
                padding-left: 0;
                padding-right: 0;
            }
            .horizontal-line-separator-section {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .account-manager-wrapper {
        .account-manager-section {
            background: $white;
            padding: 1.625rem 2.6875rem 1.5rem;
            margin: 1.125rem 0 0;
        }
    }
    .app-modal-window.terms-condition-popup {
        .modal-dialog,
        .modal-content {
            width: 34.375rem;
        }
        .modal-body {
            .text-section-1 {
                .left-section {
                    width: 17.75rem;
                }
                .right-section {
                    padding-left: 1.25rem;
                    button {
                        width: 12.375rem;
                    }
                }
            }
            .text-section-3 {
                .left-section {
                    width: 17.25rem;
                }
                .right-section {
                    padding-left: 1.625rem;
                    button {
                        width: 12.375rem;
                    }
                }
            }
            .description-section {
                margin: 1.25rem 0 0.625rem;
            }
        }
    }
    .file-upload-popup {
        .modal-dialog {
            margin-top: 2.25rem;
            width: 29.8125rem;
            .modal-content {
                width: 29.8125rem;
                .modal-body {
                    padding: 0 4rem 1.25rem;
                    .error-section {
                        margin: 0 -4rem;
                        padding: 0.625rem 3.875rem 0;
                        background-position: 3.875rem 0.625rem;
                        p {
                            margin-bottom: 0.5rem;
                        }
                    }
                    .action-section {
                        margin-right: -2.625rem;
                    }
                }
            }
        }
    }
    .add-associate-popup {
        .modal-dialog {
            margin-top: 2.25rem;
            width: 29.8125rem;
            .modal-content {
                width: 29.8125rem;
            }
            .modal-header {
                background: url('../../../../src/assets/images/css/invite-biz-associate-pop-header-image.jpg') no-repeat;
                background-size: cover;
                .text-section {
                    width: 20.125rem;
                    max-width: 20.125rem;
                    .heading-section {
                        margin: -0.4375rem 0 1.25rem;
                    }
                    .desc-section {
                        padding: 0 1rem;
                    }
                }
            }
            .modal-body {
                padding: 1.25rem 4rem;
                .text-section {
                    width: 21.75rem;
                    .desc-section {
                        width: 21.75rem;
                    }
                    .see-more-section-wrapper {
                        padding-top: 0.3125rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .accountsettingsbusiness {
        .left-section-wrapper {
            .left-action-tab {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .convert-to-business-section {
            .toggle-hidden-section {
                .text-section {
                    background-position: left -0.125rem;
                }
                .small-text-section {
                    margin-top: -0.5625rem;
                }
            }
        }
        .communication-preference-wrapper {
            .communication-preference-section {
                .form-section {
                    .email-communication-section {
                        .section-heading {
                            span {
                                padding: 0 1.25rem;
                            }
                        }
                        .language-section {
                            .heading-section {
                                margin-top: 1rem;
                            }
                        }
                    }
                    .radio-buttons-section {
                        margin-top: 1rem;
                        > div.radio {
                            padding-bottom: 1.875rem;
                        }
                        > div.radio:last-child {
                            padding-bottom: 0.875rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .accountsettingsbusiness {
        .accsettingsdetailcontainer,
        .account-settings-business-wrapper .business-distributor-associates .submit-section,
        .account-settings-business-wrapper .individual-distributor-associates .submit-section {
            width: 30.43rem;
        }
        .convert-to-business-form-section {
            .taxId-input1 {
                width: 7.5rem;
            }
            .taxId-input2 {
                width: 19.6875rem;
            }
        }
        .convert-to-business-section {
            .toggle-hidden-section {
                .text-section {
                    margin: 0 1rem;
                    padding: 0 0 0 2.5rem;
                }
            }
        }
        .account-settings-business-wrapper {
            .business-associates-section {
                .business-distributor-associates,
                .individual-distributor-associates {
                    .edit-associates {
                        right: 2.75rem;
                    }
                }
            }
        }
    }
    .add-associate-popup,
    .file-upload-popup {
        .modal-dialog {
            width: 34.375rem;
            .modal-content {
                width: 34.375rem;
                .modal-body {
                    .form-section {
                        padding: 0 3.4375rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .accountsettingsbusiness {
        .leftpanel {
            .left-section-wrapper {
                padding-right: 6.8125rem;
            }
        }
    }
}
