div.left-section-wrapper
    div.imgcontainer.topcontainermargin.col-md-12
        div.outer-image-wrapper.center-section
            div.inner-image-wrapper.center-section
                img(ng-if="vmbusiness.model.userdata.profileImage", ng-src="{{vmbusiness.model.userdata.profileImage}}", width="70")
                img(ng-if="!vmbusiness.model.userdata.profileImage", src="../../../../src/assets/images/css/ic-profile-copy-2.png", width="70")
        div
            div.imgtitle.row.m-b-0
                span.col-md-9.no-gutter-right(ng-hide="vmbusiness.model.isPreferredNamePresent") {{vmbusiness.model.userdata.firstname}} {{vmbusiness.model.userdata.lastname}}
                span.col-md-9.no-gutter-right(ng-show="vmbusiness.model.isPreferredNamePresent") {{vmbusiness.model.userdata.preferredname}}
                div.edit-icon.col-md-3.no-gutter-left.pointer(ng-click="vmbusiness.editProfile()")
        div.col-md-12.m-b-1
            div.col-md-offset-1.col-md-10.accountid Account ID 
                span.accountidnumber {{vmbusiness.model.userdata.accountID}}

    div.nav-buttons-section
        div.col-sm-12.m-t-2
            div.col-sm-6.text-center.nav-buttons.nav-buttons-personal.no-gutter
                button.fullWidth.button-personal(ng-click="vmbusiness.model.isBusinessSelected=false; vmbusiness.model.loadPersonalPage(); vmbusiness.goToUrl('/accountsettingspersonalpage')")
                    p.small.m-b-0.text-uppercase Personal
            div.col-sm-6.text-center.nav-buttons.nav-buttons-business.no-gutter
                button.fullWidth.button-business(ng-class="{'selected-tab': vmbusiness.model.isBusinessSelected}", ng-click="vmbusiness.model.isBusinessSelected=true; vmbusinessvm.goToUrl('/accountsettingsbusinesspage')")
                    p.small.m-b-0.text-uppercase Business
    div.col-md-12.no-gutter.horizontal-line-separator-section
        div.sectionline
    div.leftlinkcontainer.col-md-12
        div.leftlinks(ng-repeat="tab in vmbusiness.model.leftTabsList", ng-init="vmbusiness.model.currentTab = vmbusiness.model.leftTabsList[0].name")
            div(ng-class="{'tabselected': vmbusiness.model.currentTab == tab.name}")
            a.leftanchor(ng-class="{'tabselected': vmbusiness.model.currentTab == tab.name}", href="#/accountsettingsbusinesspage" ng-click="vmbusiness.model.loadTab(tab.name)") {{tab.label}}

