.accsettingsdetailcontainer(screen-width, ng-class="{'center-section': width > 767 }")

    div.accountcontainer(ng-init="vmbusiness.showBusinessDistributorForm = false;")
        div.individual-distributor-section(ng-show="!vmbusiness.showBusinessDistributorForm")
            div.form-group.row.hidden-sm-down
                div.sectiontitle.col-sm-10 account details
            div.row
                div.slabeloverview.col-sm-5 Account Type
                div.sectiontext.col-sm-7(ng-show="vmbusiness.model.account.activeAccount") {{vmbusiness.model.account.activeAccount.accountName}}
                div.notspecified.col-sm-7(ng-hide="vmbusiness.model.account.activeAccount") not specified
            div(ng-if="vmbusiness.model.account.activeAccount.accountType == 'business'")            
                div.row
                    div.slabeloverview.col-sm-5 Business Name
                    div.sectiontext.col-sm-7(ng-show="vmbusiness.model.account.activeAccount.businessName") {{vmbusiness.model.account.activeAccount.businessName}}
                    div.notspecified.col-sm-7(ng-hide="vmbusiness.model.account.activeAccount.businessName") not specified
                div.row
                    div.slabeloverview.col-sm-5 Tax ID
                    div.sectiontext.col-sm-7(ng-show="vmbusiness.model.account.taxID") {{vmbusiness.model.account.taxID}}
                    div.notspecified.col-sm-7(ng-hide="vmbusiness.model.account.taxID") not specified

        div.convert-to-business-form-section(ng-if="vmbusiness.showBusinessDistributorForm")
            div.hidden-sm-down
                form.margin0(name="formBusinessDistributorSetup", ng-init="vmbusiness.model.businessDistributor = {}; formBusinessDistributorSetup.$setPristine;", novalidate)
                    div.form-group
                        div.sectiontitle.heading-section Business Distributor Setup
        
                    div.subheading-section-1
                         div.slabeloverview.text-label Business Name
                         div
                            input.form-control.m-b-0(type="text", name="businessName", ng-model="vmbusiness.model.businessDistributor.businessName", ng-required="true")
                            div.error-block(ng-messages="formBusinessDistributorSetup.businessName.$error", ng-show="((formBusinessDistributorSetup.businessName.$touched) || (formBusinessDistributorSetup.$submitted))")
                                div(ng-message="required") Business name should be entered.
    
                    div.subheading-section-2
                        div.slabeloverview.text-label Tax Id
                        div.clearfix
                            div.pull-left
                                input.form-control.taxId-input1.m-b-0(type="text", name="taxId1", minlength="2", maxlength="2", ng-model="vmbusiness.model.businessDistributor.taxId1", placeholder="##", ng-required="true", allow-pattern="number-only", move-next-on-maxlength)
                            div.pull-left
                                input.form-control.taxId-input2.m-b-0.pull-left(type="text", name="taxId2", minlength="7", maxlength="7", ng-model="vmbusiness.model.businessDistributor.taxId2", placeholder="#######", ng-required="true", allow-pattern="number-only")
                            div.error-block(ng-show="(((formBusinessDistributorSetup.taxId1.$touched || formBusinessDistributorSetup.taxId2.$touched) && (formBusinessDistributorSetup.taxId1.$error.required && formBusinessDistributorSetup.taxId2.$error.required)) || (formBusinessDistributorSetup.$submitted && (formBusinessDistributorSetup.taxId1.$error.required && formBusinessDistributorSetup.taxId2.$error.required)))") Tax-Id should not be left blank.
                            div.error-block(ng-show="((formBusinessDistributorSetup.taxId1.$dirty || formBusinessDistributorSetup.taxId2.$dirty) && (!formBusinessDistributorSetup.taxId1.$error.required && !formBusinessDistributorSetup.taxId2.$error.required) && (!vmbusiness.model.businessDistributor.taxId1 && !vmbusiness.model.businessDistributor.taxId2 || formBusinessDistributorSetup.taxId1.$error.minlength || formBusinessDistributorSetup.taxId2.$error.minlength) && formBusinessDistributorSetup.$submitted)") Tax-Id cannot be too short.
                            
                    div
                        div
                            button.btn.btn-primary(type="submit", ng-click="vmbusiness.model.agreeToTerms(formBusinessDistributorSetup.$valid);")
                                span.text-uppercase Next: Agree to the Terms
                        div
                            button.btn.btn-primary-outline.fullWidth(type="button", ng-click="vmbusiness.showBusinessDistributorForm = false;")
                                span Cancel

            div.hidden-md-up(ng-init="formBusinessDistributorSetup.$setPristine(); vmbusiness.model.businessDistributor = {}; formBusinessDistributorSetup.$setUntouched();", ng-if="vmbusiness.showBusinessDistributorForm")
                form.margin0(name="formBusinessDistributorSetup", ng-init="vmbusiness.model.businessDistributor = {}; formBusinessDistributorSetup.$setPristine;", novalidate)
                    div.form-group
                        div.sectiontitle.heading-section Business Distributor Setup
        
                    div.subheading-section-1
                         div.slabeloverview.text-label Business Name
                         div
                            input.form-control.m-b-0(type="text", name="businessName", ng-model="vmbusiness.model.businessDistributor.businessName", ng-required="true")
                            div.error-block(ng-messages="formBusinessDistributorSetup.businessName.$error", ng-show="(formBusinessDistributorSetup.businessName.$touched || formBusinessDistributorSetup.$submitted)")
                                div(ng-message="required") Business name should be entered.
    
                    div.subheading-section-2
                        div.slabeloverview.text-label Tax Id
                        div.clearfix
                            div.pull-left.col-sm-4.no-gutter
                                input.form-control.taxId-input1.m-b-0(type="text", name="taxId1", minlength="2", maxlength="2", ng-model="vmbusiness.model.businessDistributor.taxId1", placeholder="##", ng-required="true", allow-pattern="number-only", move-next-on-maxlength)
                            div.pull-left.col-sm-8.no-gutter
                                input.form-control.taxId-input2.m-b-0.pull-left(type="text", name="taxId2", minlength="7", maxlength="7", ng-model="vmbusiness.model.businessDistributor.taxId2", placeholder="#######", ng-required="true", allow-pattern="number-only")
                            div.error-block(ng-show="(((formBusinessDistributorSetup.taxId1.$touched || formBusinessDistributorSetup.taxId2.$touched) && (formBusinessDistributorSetup.taxId1.$error.required && formBusinessDistributorSetup.taxId2.$error.required)) || (formBusinessDistributorSetup.$submitted && (formBusinessDistributorSetup.taxId1.$error.required && formBusinessDistributorSetup.taxId2.$error.required)))") Tax-Id should not be left blank.
                            div.error-block(ng-show="((formBusinessDistributorSetup.taxId1.$dirty || formBusinessDistributorSetup.taxId2.$dirty) && (!formBusinessDistributorSetup.taxId1.$error.required && !formBusinessDistributorSetup.taxId2.$error.required) && (!vmbusiness.model.businessDistributor.taxId1 && !vmbusiness.model.businessDistributor.taxId2 || formBusinessDistributorSetup.taxId1.$error.minlength || formBusinessDistributorSetup.taxId2.$error.minlength) && formBusinessDistributorSetup.$submitted)") Tax-Id cannot be too short.
        
                    div
                        div
                            button.btn.btn-primary(type="submit", ng-click="vmbusiness.model.agreeToTerms(formBusinessDistributorSetup.businessName.$valid && formBusinessDistributorSetup.taxId1.$valid && formBusinessDistributorSetup.taxId2.$valid);")
                                span.text-uppercase Next: Agree to the Terms
                        div
                            button.btn.btn-primary-outline.fullWidth(type="button", ng-click="vmbusiness.showBusinessDistributorForm = false;")
                                span Cancel


        div.convert-to-business-section(ng-if="vmbusiness.model.account.activeAccount.accountType != 'business' && !vmbusiness.showBusinessDistributorForm", align="center", ng-init="vmbusiness.accountDetailsHiddenSection = false;")
            div.small-heading
                p.small.margin0.pointer.link-section.text-uppercase(ng-click="vmbusiness.showBusinessDistributorForm = true;") Change to Business Distributor
            div.brief-description
                p.small.margin0 To uncover greater opportunities with Nu Skin.
            div.toggle-hidden-section(align="left", ng-show="vmbusiness.accountDetailsHiddenSection")
                div.toggle-content-wrapper
                    div.text-section.text-section-line-1
                        p.small.margin0.small-text-section Grow your business by adding two or more associates to expand your support team.
                    div.text-section
                        p.small.margin0.small-text-section Further your reach and exposure by lorem ipsum dolor sit met.
            div.see-more-section-wrapper
                label.margin0.link-section.pointer(ng-click="vmbusiness.accountDetailsHiddenSection = !vmbusiness.accountDetailsHiddenSection") 
                    span(ng-if="!vmbusiness.accountDetailsHiddenSection") See More 
                    span(ng-if="vmbusiness.accountDetailsHiddenSection") See Less 

div.account-manager-wrapper.hidden-sm-down
    div.account-manager-section(ng-if="vmbusiness.model.userdata.accountManger")
        div.account-manager-heading
            span.text-uppercase ACCOUNT MANAGER
        div.account-manager-description.relative
            div.name-section
                span {{vmbusiness.model.userdata.accountManger.name}}
            div.brief-section.clearfix
                div.phone-section.pull-left
                    p.small {{vmbusiness.model.userdata.accountManger.phone | phone}}
                div.separator-section.pull-left
                    span |
                div.email-section.pull-left
                    p.small {{vmbusiness.model.userdata.accountManger.email}}


