@import "../../../../../src/stylesheets/partials/variables.scss";
.pdp-productresources {
    .panel-group{
        margin-top: 1.4rem;
    }
    .pdp-accordion-wrapper {
        width: 49.875em;
        display: table;
        margin: 0 auto;
    }
    h3 {
        text-transform: none;
        color: $gray;
    }
    span {
        font-size: 1.5rem;
    }
    .pdp-header {
        font-weight: $proxima-thin;
        color: $brand-primary;
    }
    #accordionform {
        background: $white;
        padding: 0 1.375em;
        .panel {
            padding: 1em 0 0;
        }
    }
    #accordion {
        border-top: 1px solid $gray-light;
        border-bottom: 1px solid $gray-light;
    }
    .pdp-header {
        font-weight: $proxima-thin;
    }
    .pdp-cell-text {
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.4;
    }
    .pdp-cell-data {
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        color: $gray-fader;
    }
    .pdp-content-wrapper {
        background-color: $white;
        margin-bottom: 0.75rem;
        padding: 0.625rem;
    }
    .pdp-content-wrapper h3 {
        text-transform: none;
        margin-top: 0.5rem;
    }
    .pdp-content-wrapper #accordionform {
        padding: 0;
        background: none;
        opacity: 1;
        transition: all 0.75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    }
    .list-pane {
        margin-top: 2.3125rem;
        padding: 0px;
    }
    .pdp-content-wrapper .panel-default {
        margin-bottom: 1rem;
    }
    #product-tile span {
        font-size: 0.8125rem;
        font-weight: $proxima-light;
    }
    .pdp-padding {
        padding: 0.5em 0.25em 0.5em 0.25em;
    }
    .logo-padding {
        .logo {
            margin-bottom: 0.563em;
        }
        .tile-container .tile-image {
            height: 6.875em;
            img{
              height: 6.875rem;
            }
        }
        .tile-container {
            background-color: transparent;
        }
        .tile-container .tile{
            border: 1px solid $gray-light-secondary-border;
            cursor:pointer;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      #accordionform {
        padding: 0 8.375em;
      }
      .pdp-accordion-wrapper {
          width: 100%;
          padding-bottom: 3em;
          .panel-body{
            width: 22.25em;
          }
      }
      .panel-group{
            margin-top: 1.4rem;
        }
    }
    @media (min-width: 1024px) and (max-width: 1439px) {
        .pdp-accordion-wrapper {
          width: 55.655em;
          padding: 0 2.375em 3em;
        }
    }
    @media (min-width: 1440px) {
        .pdp-accordion-wrapper {
          width: 55.655em;
          padding: 0 2.375em 3em;
        }
    }
    @media(max-width: 767px) {
        .pdp-accordion-wrapper {
            width: 100%;
        }
        .panel-group{
            margin-top: 1.4rem;
        }
    }
}
