.container-fluid.no-gutter
	.pdp-productresources
		.product-content-container.no-gutter
			.product-content-wrapper
				#accordionform
					.pdp-accordion-wrapper
						#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default.col-sm-12.m-b-2
										#product-info-resources.panel-heading(role='tab')
											h4.panel-title.col-lg-12.no-gutter
												button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#productresources', aria-expanded='true', aria-controls='productresources')
													.col-sm-12.no-gutter
														span.pdp-header Resources
											#productresources.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='product-info-resources', aria-expanded='false', style='height: 100px;')
												.panel-body
														.col-sm-12.col-lg-6.no-gutter(ng-if="(ctrl.resourcesData.marketingMaterial.data.length >0)")
																#product-tile.col-sm-12.col-lg-11.no-gutter.m-t-1
																	.col-sm-12.m-t-2.no-gutter.logo-padding
																		h3 {{ctrl.resourcesData.marketingMaterial.title}}
																		mediatilecomponent(list-item="tile", extra-class="col-sm-6 col-md-6 col-lg-6  category-tile pdp-padding", if-delete-visible="false", if-share-visible="false" , if-favourite-visible="false" ,ng-repeat="tile in ctrl.resourcesData.marketingMaterial.data")


														.col-sm-12.col-lg-6.no-gutter(ng-if="ctrl.resourcesData.productInformation.data.length>0")
																#product-tile.col-sm-12.col-lg-11.no-gutter.m-t-1
																	.col-sm-12.m-t-2.no-gutter.logo-padding
																		h3 {{ctrl.resourcesData.productInformation.title}}
																		mediatilecomponent(list-item="tile", extra-class="col-sm-6 col-md-6 col-lg-6  category-tile pdp-padding", if-delete-visible="false", if-share-visible="false" , if-favourite-visible="false" ,ng-repeat="tile in ctrl.resourcesData.productInformation.data")
														.col-sm-12.col-lg-6.no-gutter(ng-if="ctrl.resourcesData.others.data.length>0", ng-style="(resourcesCtrl.marketingMaterials.length > 0 && resourcesCtrl.productInformation.length > 0) ? {'clear':'both'}:{'clear':'right'}")
																#product-tile.col-sm-12.col-lg-11.no-gutter.m-t-1
																	.col-sm-12.m-t-2.no-gutter.logo-padding
																		h3 {{ctrl.resourcesData.others.title}}
																		mediatilecomponent(list-item="tile", extra-class="col-sm-6 col-md-6 col-lg-6  category-tile pdp-padding", if-delete-visible="false", if-share-visible="false" , if-favourite-visible="false" ,ng-repeat="tile in ctrl.resourcesData.others.data")
