.container-fluid.no-gutter
  .pdp-crosssell-section
    .pdp-page-heading.col-xs-12
      h2 MORE PRODUCTS TO HELP YOU FEEL YOUNG
    .row
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
        secondary-carousel(product-data="ctrl.crosssellData" slick-type="ctrl.slickType" slick-config="ctrl.slickSecondaryConfig")
