@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-crosssell-section {
    background: $white;
    padding: 3rem 0;
    p.small {
        font-weight: $proxima-light;
    }
    .slick-slider.carousel {
        margin: 0 auto;
        .slick-slide {
          padding-left: 0.9375rem;
          padding-right: 0.9375rem;
        }
    }
    .pdp-carousel-image {
        margin-bottom: 1rem;
    }
    .pdp-page-heading {
        text-align: center;
        padding-bottom: 4px;
    }
    .pdp_Product_Name {
        width: 13.6875rem;
        height: auto;
        font-family: ProximaNova-Thin;
        font-size: 1rem;
        line-height: 1.5;
        color: $brand-primary
    }
    .separator {
        margin: 0 5px;
        color: $gray-light;
    }
    .pdp-product-name-link {
        font-weight: $proxima-light;
        color: $gray-dark;
    }
    .shopping-carousel-star{
      float: left;
      padding-top: 2px;
	}
}
