@import "../../stylesheets/partials/variables.scss";
.password-field {
    .password-eye-icon {
        float: right;
        margin-right: 0.625rem;
        margin-top: -1.3rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .ng-invalid.ng-touched + .password-icon {
        margin-top: -1.625rem;
    }
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }
}