ng-form(name='passwordField', novalidate='novalidate')
	.password-field
		.form-group
			label(for='password') Password
			input#passwordInput.form-control.form-input.password-input(ng-model='ctrl.credentials.enterPassword', type="{{ctrl.credentials.enterPasswordState == 'text'? 'text': 'password'}}", name='enterPasswordState', ng-blur='ctrl.verifyPassword(passwordField)', ng-required='ctrl.isRequired', ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid':ctrl.credentials.isInvalidConfirmPassword}")
			img#passwordImage.password-eye-icon(ng-click='ctrl.changeImage(false)', ng-src="{{ctrl.credentials.enterPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}", title="{{ctrl.credentials.enterPasswordState === 'text'? 'Click to hide Password' : 'Click to show Password'}}")
			div(ng-class="{'error-block': passwordField.enterPasswordState.$error}")
				div(ng-if='passwordField.enterPasswordState.$error.required && (passwordField.enterPasswordState.$touched || ctrl.isSubmitted)') Your password is required