.pdp-testimonial-container.container-fluid
  .row.reset
    .testimonial-header.col-sm-12.reset WHAT PEOPLE ARE SAYING
    .testimonial-slides.col-sm-12.col-md-6.col-md-push-3.col-xl-4.col-xl-push-4.reset
      slick.carousel.carousel-primary(settings='ctrl.slickVideoConfig', ng-if='ctrl.testimonials.length')
        div(ng-repeat='slide in ctrl.testimonials')
          .col-sm-12.reset(ng-if='!slide.isVideo')
            .testimonial-body.col-sm-12.reset
              p {{slide.slideText}}
            .dash.col-sm-12
            .testimonial-foot.col-sm-12.reset {{slide.slideTextFooter}}
          .col-sm-12(ng-if='slide.isVideo')
            .embed-responsive.embed-responsive-16by9
              video.embed-responsive-item(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.video($index)'}")
                source(ng-src='{{slide.videoURL}}', type='video/mp4')
                |                   Your browser doesn't support HTML5 video.
              .video-btn
                button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')
                  span Play
            .testimonial-video-foot.col-sm-12.reset
              .video-desc.col-sm-8.reset
                | {{slide.videoDesc1}}, 
                span {{slide.videoDesc2}}
              .video-duration.col-sm-4.reset {{slide.videoDuration}}
