@import "../../../../src/stylesheets/partials/variables.scss";


#bigPlayButton {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    height: 3.75em; 
    width: 3.75em; 
    margin: 0;
    padding: 0;
    position: absolute;
    left: calc(50% - 1.875em); 
    top: calc(50% - 1.875em); 
    z-index: 10;
    background: transparent;
    border: none;
}


#bigPlayButton::before {
    content: '';
    display: block;
    height: 2rem; 
    width: 2rem; 
    background: url("../../../../src/assets/images/css/ic-play-new.svg") no-repeat;
    background-size: 100%;
    margin: 0 auto;
    position: relative;
    left: 3px; 
    -webkit-transition: .5s all;
    transition: .5s all;
}

#bigPlayButton.paused::before {
   background: url("../../../../src/assets/images/css/ic-pause.svg") no-repeat;
   background-size: 100%;
   left: 0;
   top: 0.1875em; 
   } 
 #bigPlayButton:hover {
   -webkit-transform: scale(1.3);
           transform: scale(1.3); 
       }
 #bigPlayButton span {
   position: absolute;
   overflow: hidden;
   clip: rect(0 0 0 0);
   height: 1px; 
   width: 1px; 
   margin: -1px; 
   padding: 0;
   border: 0;
    }


.pdp-testimonial-container{
    background: url(../../../../src/assets/images/css/prism-productdetail.png) center no-repeat;
    background-size: cover;
    padding: 2.7em 2.25em 3em;

    .slick-dots li button:before{
      font-size: 0;
    }
    .reset {
        margin: 0;
        padding: 0;
    }

    .testimonial-header {
        text-align: center;
        color: $white;
        font-size: 1.75rem;
        font-weight: $proxima-thin;
        line-height: 1.21;
    }

    .testimonial-body{
        text-align: center;
    }

    .testimonial-body p {
        font-weight: $proxima-light;
        font-size: 1rem;
        line-height: 1.5;
        color: $white;
        margin: 0;
    }

    .dash{
        background-color: $aqua;
        width: 8%;
        height: 0.2em;
        margin: 1.725em 46% 1.05em;
    }

    .testimonial-foot{
        text-align: center;
        line-height: 1;
        letter-spacing: 0.5px; 
        font-size: 0.8rem;
        font-weight: $proxima-semibold;
        color: $white;
    }

    .testimonial-video-foot {
        padding-top: 0.55em;
    }

    .video-desc {
        color: $white;
        text-align: left;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.5;
    }

    .video-desc span {
        color: $white;
        text-align: left;
        font-size: 0.8rem;
        font-weight: $proxima-semibold;
        line-height: 1.85;
    }

    .video-duration {
        color: $white;
        text-align: right;
        font-size: 0.8rem;
        font-weight: $proxima-semibold;
        line-height: 1.85;
    }

    .slick-dots {
        bottom: -2.25em;
    }
    .slick-dots li {
        width: 0.625em;
        height: 0.625em;
    }
    .slick-dots li button {
        background: transparent;
        border: 1px solid $white; 
        width: 0.625em;
        height: 0.625em;
    }
    .slick-dots li.slick-active button {
        background: $white;
    }
    .slick-dots li button:before,
    .slick-dots li.slick-active button:before {
        opacity: 0;
    }
    @media screen and (max-width: 375px) { 
        .testimonial-header{
            text-align: left;
        }
        .testimonial-body{
            text-align: left;
        }
        .video-desc {
            float: left;
            width: 66.66%;
        }
        .video-duration {
            float: left;
            width: 33.33%;
        }
        .testimonial-slides {
            padding-top: 0.625em;
        }
        .video-btn.without-controls {
            background : rgba(255,255,255,0.4);
        }
        #bigPlayButton {
            height: 4.5rem; 
            width: 4.5rem; 
            position: absolute;
            left: calc(50% - 2.25rem); 
            top: calc(50% - 2.25rem); 
        }

        #bigPlayButton::before {
            height: 2.3125rem; 
            width: 2.0625rem; 
            position: relative;
            left: 4px; 
        }

    }
    @media screen and (max-width: 767px) and (min-width: 376px) {
        .testimonial-header{
            text-align: left;
        }
        .testimonial-body{
            text-align: left;
        }
        .testimonial-slides {
            padding-top: 0.625em;
        }
        .video-btn.without-controls {
            background : rgba(255,255,255,0.4);
        }
        #bigPlayButton {
            height: 4.5rem; 
            width: 4.5rem; 
            position: absolute;
            left: calc(50% - 2.25rem); 
            top: calc(50% - 2.25rem); 
        }

        #bigPlayButton::before {
            height: 2.3125rem; 
            width: 2.0625rem; 
            position: relative;
            left: 4px; 
        }

    }

    @media screen and (max-width: 1023px) and (min-width: 768px) { 
        .testimonial-slides {
            padding-top: 0.625em;
        }
         .video-btn.without-controls {
            background : rgba(255,255,255,0.4);
        }

    }

    @media screen and (min-width: 1024px) and (max-width: 1439px) { 
        .testimonial-slides {
          padding-top: 1.5em;
        }

    }

    @media screen and (min-width: 1440px) { 
        .pdp-testimonial-container{
            padding-top: 3.7em;
        }
        .testimonial-slides {
            padding-top: 1.5em;
            width: 36.66%;
            left: 31.66%;
        }
    }


}