@import "../../../../src/stylesheets/partials/variables.scss";
.promotions-container-fluid {
    .container-fluid {
        background: $gray-lightest;
        padding: 0;
        overflow: auto;
    }
    .promo-container {
        .promo-header {
            margin: 4.375em 0 2.125em;
            h1 {
                font-size: 1.375rem;
                font-weight: $proxima-thin;
                line-height: 1.18;
                letter-spacing: 0.4px;
                text-align: center;
                color: $gray-dark;
                margin-bottom: 0;
            }
            .show-bar {
                width: 4em;
                height: 3px;
                background-color: $aqua;
                margin: 9px auto 0;
            }
        }
        .smaller-tile-column {
            h1 {
                font-size: 1.375rem;
                font-weight: $proxima-thin;
                line-height: 1.18;
                letter-spacing: 0.4px;
                color: $gray-dark;
                margin-bottom: 0;
            }
            span {
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                color: $gray-dark;
            }
        }
        .smaller-tile {
            background-color: $white;
            div.promo-tile{
              background-color: $white;
              .promo-text{
                width: 100%;
                height: 100%;
                padding: 1.375em 0 0;
              }
              .promo-image{
                height: 12.875rem;
                margin-top: 2.5rem;
                img{
                  margin: 0 auto;
                  display: block;
                  height: 100%;
                }
              }
            }
            padding: 0;
            margin-top: 1.25rem;
            cursor: pointer;
        }
        .larger-tile {
            background-color: $white;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 0;
        }
        .larger-tile-column {
            overflow: auto;
        }
        .overlay {
            position: absolute;
            opacity: 0.9;
            background-image: linear-gradient(309deg, #565e6f, #737c8c 19%, #9ea9b6 48%, #c7cfd6);
            .overlay-data {
                float: left;
                h2 {
                    font-size: 1.375rem;
                    font-weight: $proxima-thin;
                    line-height: 1.18;
                    letter-spacing: 0.4px;
                    color: $gray-dark;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }
                span {
                    height: 1.375rem;
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.38;
                    color: $gray-dark;
                }
            }
        }
        .overlay-button {
            float: right;
            padding: 0;
        }
        .shop {
            line-height: 1.31;
            letter-spacing: 0.5px;
        }
        .view-all {
            padding-top: 1.813rem;
            padding-bottom: 2.688rem;
            text-align: center;
            clear: both;
            .view-all-button {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1.23;
                letter-spacing: 0.5px;
                color: $brand-primary;
                background: none;
                border: 0;
            }
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .promotions-container-fluid {
        .promo-container {
            padding: 0 1.5rem;
            .smaller-tile {
              border-right: 0;
              margin-top: 1rem;
              height: 15rem;
              width: 100%;
              display: block;
              margin-right: 0;
              div.promo-tile{
                .promo-text{
                  padding: 1.125rem 1rem 0;
                }
                .promo-image{
                  height: 10.75rem;
                  margin-top: 0;
                }
              }
            }
            .larger-tile {
                height: 18.75rem;
            }
            .larger-tile-column {
                margin-top: 1.625rem;
            }
            .overlay {
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1.75rem 1.5rem 1.5rem;
                .overlay-button{
                    float: none;
                    clear: both;
                    button{
                        margin: 0 auto;
                        display: none;
                        padding: 12px 1.375rem;
                    }
                }
            }
            .view-all {
                padding-top: 2.063rem;
                padding-bottom: 2.625rem;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .promotions-container-fluid {
        .promo-container {
            padding: 0 1.625rem;
            .smaller-tile {
                height: 15rem;
                width: 49.25%;
                margin-right: 1.5%;
                display: inline-block;
                div.promo-tile{
                  .promo-text{
                    padding: 1.125rem 1rem 0;
                  }
                  .promo-image{
                    height: 10.875rem;
                    margin-top: 0;
                  }
                }
            }
            .smaller-tile:last-of-type,
            .smaller-tile:nth-child(even) {
                margin-right: 0;
            }
            .larger-tile {
                margin-top: 9px;
                height: 29.3125em;
            }
            .overlay {
                bottom: 8px;
                left: 8px;
                right: 8px;
                padding: 0.8125rem;
                .overlay-button{
                    margin-top: 3px;
                    button{
                        margin: 0 auto;
                        display: block;
                        padding: 0.8125rem 1.25rem;
                    }
                }
                .overlay-data{
                    padding-left: 12px;
                }
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .promotions-container-fluid {
        .promo-container {
            padding: 0 2.25rem 0 2em;
            .promo-header {
                margin: 4.5625em 0 2.625em;
            }
            .smaller-tile {
                height: 14.2rem;
                width: 95%;
                margin-right: 5%;
                display: inline-block;
                margin-top: 0;
                div.promo-tile{
                  .promo-text{
                    padding: 1.125rem 1rem 0;
                  }
                  .promo-image{
                    height: 7rem;
                    padding-top: 0;
                    margin-top: 0;
                  }
                }
            }
            .smaller-tile:last-of-type {
                margin-right: 0;
            }
            .smaller-tile:nth-child(even) {
                margin-top: 0.9125em;
            }
            .smaller-tile-bottom {
                width: 23.75%;
                margin-right: 1.66%;
                margin-top: 0.9125em;
                float: left;
            }
            .larger-tile {
                height: 29.3125em;
                margin-bottom: 0.5em;
            }
            .overlay {
                bottom: 7px;
                left: 6px;
                right: 6px;
                padding: 12px 8px;
                .overlay-button{
                    margin-top: 3px;
                    button{
                        margin: 0 auto;
                        display: block;
                        padding: 0.8125rem 1.25rem;
                    }
                }
                .overlay-data{
                    padding-left: 12px;
                }
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .promotions-container-fluid {
        .promo-container {
            padding: 0 2.75rem 0 3em;
            .promo-header {
                margin: 4.5625em 0 2.625em;
            }
            .smaller-tile {
                height: 20rem;
                width: 95%;
                margin-right: 5%;
                display: inline-block;
                margin-top: 0;
                .promo-text{
                    padding: 1.75em 0;
                }
                h1, span{
                  padding-left: 1.75rem;
                }
            }
            .smaller-tile:last-of-type {
                margin-right: 0;
            }
            .smaller-tile:nth-child(even) {
                margin-top: 1.25em;
            }
            .smaller-tile-bottom {
                width: 23.75%;
                margin-right: 1.66%;
                margin-top: 1.25em;
                float: left;
            }
            .larger-tile {
                height: 41.25em;
                margin-bottom: 0.5em;
            }
            .overlay {
                bottom: 7px;
                left: 6px;
                right: 6px;
                padding: 12px 8px;
                .overlay-button{
                    margin-top: 3px;
                    button{
                        margin: 0 auto;
                        display: block;
                        padding: 0.8125rem 1.25rem;
                    }
                }
                .overlay-data{
                    padding-left: 12px;
                }
            }
        }
    }
}
