.promotions-container-fluid
  .container-fluid
    .promo-container
      .row.promo-header
        h1 Section Header
        .show-bar
      div
        .col-lg-3.no-gutter.smaller-tile-column(ng-if='promoctrl.tile7Layout || promoctrl.tile3Layout && !promoctrl.tile1Layout')
          div(ng-repeat='data in promoctrl.tileData.promotions', ng-if='data.id == 1 ')
            .smaller-tile(ng-repeat='tile_obj in data.tile', ng-click='promoctrl.redirect()')
              div.promo-tile
                .promo-text
                  h1 {{tile_obj.promo_heading}}
                  span {{tile_obj.promo_desc}}
                .promo-image
                  img(ng-src="{{tile_obj.promo_image}}")
        .no-gutter.larger-tile-column(ng-show='promoctrl.tile7Layout || promoctrl.tile3Layout || promoctrl.tile1Layout', ng-class=" {'col-lg-12':promoctrl.tile1Layout, 'col-lg-9':promoctrl.tile3Layout || promoctrl.tile7Layout}")
          div(ng-repeat='data in promoctrl.tileData.promotions', ng-if='data.id == 2 ')
            .col-sm-12.col-md-12.col-lg-12.no-gutter.larger-tile(ng-repeat='tile_obj in data.tile', ng-click='promoctrl.redirect()', ng-style="{'background-image':'url({{tile_obj.promo_image}})'}")
              .overlay
                .overlay-data
                  h2 {{tile_obj.promo_heading}}
                  span {{tile_obj.promo_desc}}
                .overlay-button
                  button.btn.btn-primary-outline.shop Shop
      .smaller-tile-column.no-gutter(ng-show='promoctrl.tile7Layout && !promoctrl.tile3Layout && !promoctrl.tile1Layout')
        .col-sm-12.no-gutter
          div(ng-repeat='data in promoctrl.tileData.promotions', ng-if='data.id == 3 ')
            .smaller-tile.smaller-tile-bottom(ng-repeat='tile_obj in data.tile', ng-click='promoctrl.redirect()')
              div.promo-tile
                .promo-text
                  h1 {{tile_obj.promo_heading}}
                  span {{tile_obj.promo_desc}}
                .promo-image
                  img(ng-src="{{tile_obj.promo_image}}")
      .row.view-all
        button.view-all-button VIEW ALL
