@import "../../stylesheets/partials/variables.scss";

.password-pattern {
	.password-icon {
		float: right;
		margin-right: 10px;
		margin-top: -22.5px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
	}
	.custom-password-hint {
		p {
			margin-bottom: 0;
		}
	}
    .ng-invalid.ng-touched + .password-icon {
        margin-top: -26px;
    }
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear
    {
        display: none;
    }
	.password-eye-icon {
		margin-top: -35px;
	}
	.progress {
		height: 20px;
		margin-bottom: 20px;
		overflow: hidden;
		background-color: $white-lighter;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
	.progress-bar {
	    float: left;
	    width: 0;
	    height: 100%;
	    font-size: 12px;
	    line-height: 20px;
	    color: #fff;
	    text-align: center;
	    background-color: #337ab7;
	    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	    -webkit-transition: width .6s ease;
	    -o-transition: width .6s ease;
	    transition: width .6s ease;
	}
	.password-error-message{
		font-size: 1rem;
		font-weight: $proxima-semibold;
	}
	.progress-bar-success {
	    background-color: $brand-success;
	}
	.progress-bar-info {
	    background-color: $brand-info;
	}
	.progress-bar-warning {
	    background-color: $brand-warning;
	}
	.progress-bar-danger {
	    background-color: $brand-danger;
	}
	.gray-lighter {
		color: $gray-lighter;
		font-size: 14px !important;
	}
	.error-block {
		color: $brand-danger;
		font-size: 15px;
	}
	.form-group input{
		margin-bottom: 0em;
	}
}
