ng-form(name='passwordForm', novalidate='novalidate')
  .password-pattern
    .form-group
      div
        label(for='password') Create Password 
        span.pull-right.gray-lighter 8 characters min.
      input#passwordInput.form-control.form-input.password-input(ng-model='ctrl.credentials.userPassword', type="{{ctrl.credentials.currentPasswordState == 'text'? 'text': 'password'}}", name='currentPasswordState', ng-blur='ctrl.analyzePassword(passwordForm)', ng-required='ctrl.isRequired', ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid':ctrl.credentials.isInvalidPassword}")
      img#passwordImage.password-icon(ng-click='ctrl.changeImage(true)', ng-src="{{ctrl.credentials.currentPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}", title="{{ctrl.credentials.currentPasswordState === 'text'? 'Click to hide Password' : 'Click to show Password'}}")
      div(ng-class="{'error-block': passwordForm.currentPasswordState.$error}")
        div(ng-if='passwordForm.currentPasswordState.$error.required && (passwordForm.currentPasswordState.$touched || ctrl.isSubmitted)') Your password is required
        .password-error-message(ng-if='!passwordForm.currentPasswordState.$error.required && ctrl.credentials.isInvalidPassword') Your password doesn't meet our requirements
      div(ng-class="{'error-block': !passwordForm.currentPasswordState.$error.required && ctrl.credentials.isInvalidPassword,'gray-lighter':!(!passwordForm.currentPasswordState.$error.required && ctrl.credentials.isInvalidPassword)}")
    .form-group.m-b-1
        span(ng-show="!ctrl.passwordHint") 
          p.m-t-1 Password must meet three of the four requirements below:
          ul.col-sm-12
            li Password contains a lower case letter
            li Password contains an upper case letter
            li Password contains a number
            li Password contains a special character
        p.custom-password-hint.m-t-1(ng-if="ctrl.passwordHint", ng-bind-html="ctrl.passwordHintMessage")
    .form-group.m-b-1
      label(for='password') Confirm Password
      input#passwordInput.form-control.form-input.password-input(ng-model='ctrl.credentials.confirmPassword', type="{{ctrl.credentials.confirmPasswordState == 'text'? 'text': 'password'}}", name='confirmPasswordInput', ng-blur='ctrl.verifyPassword(passwordForm)', ng-required='ctrl.isRequired', ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid':ctrl.credentials.isInvalidConfirmPassword}")
      img#passwordImage.password-icon(ng-click='ctrl.changeImage(false)', ng-src="{{ctrl.credentials.confirmPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}", title="{{ctrl.credentials.currentPasswordState === 'text'? 'Click to hide Password' : 'Click to show Password'}}")
      div(ng-class="{'error-block': passwordForm.confirmPasswordInput.$error}")
        div(ng-if='passwordForm.confirmPasswordInput.$error.required && (passwordForm.confirmPasswordInput.$touched || ctrl.isSubmitted)') Your confirm password is required
        .error-container.col-sm-12(ng-if='(ctrl.credentials.isInvalidConfirmPassword)')
          .error-block.password-error-message The passwords you entered do not match.
          span Please fix to continue
