div.mbs-story-script-wrapper
    div#editor
    page-level-error-component(ng-if="ctrl.emailSubmitted && !ctrl.errorMessageList.isEmailSent", is-display-error-message="true", danger-type="!ctrl.errorMessageList.isEmailSent", error-message="ctrl.errorMessageList.errorMessage")
    page-level-error-component.success-component(ng-if="ctrl.emailSubmitted && ctrl.errorMessageList.isEmailSent", success-type="ctrl.errorMessageList.isEmailSent", success-message="ctrl.errorMessageList.successMessage")    
    div.header-section(align="center")
        span.text-uppercase MY BRANDED STORY
    div.content-section
        div.content-header-section.relative.my-story-image-background(ng-style="{'background-image': 'url({{ctrl.backgroundUrl}})'}")
            div
                p.icon-section-on-image
                p.text-section-on-image.pointer(align="center", ng-click="ctrl.shareYourStory()") Share your story
        div.description-section(ng-init="ctrl.isCameFromGuidedExperience = false;")
            div.story-script-section.story-section
                div.heading-section
                    span.text-uppercase STORY SCRIPT
                div.brief-section
                    div(ng-if="ctrl.isCameFromGuidedExperience")
                        p CONGRATS! You’ve completed the first 3 steps in creating a compelling story! Now let’s take a look at your full script.
                        p(align="left") Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt, eam justo err Minim prompta denique.
                    div(ng-if="!ctrl.isCameFromGuidedExperience")
                        p Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud. Latine voluptua maluisset pri ex, ea alienum ancillae assueverit pri, ne mea elitr scripserit referrentur. Brute dissentiunt ut sea, quaeque epicurei lobortis qui an. Ut eum wisi illud omnesque, oporteat accusamus mei in. Ne offendit detraxit repudiandae his. Ex stet ceteros noluisse quo, sit at fierent dissentiet.
            div.my-script-section.story-section#script-wrapper
                div.heading-section.clearfix.relative
                    span.text-uppercase MY SCRIPT
                    span.edit-icon.pointer(ng-click="ctrl.myScriptEdit = true;") 
                div.brief-section
                    p(ng-if="ctrl.isCameFromGuidedExperience") Here is a summary of your script. Feel free to edit the text and smooth the seems. 
                    p(ng-if="!ctrl.isCameFromGuidedExperience") Would you like some help writing your script? Try using our 
                        span.pointer.brief-link-section(ng-click="ctrl.goToUrl('/myBrandedStory/build')") Guided Experience. 

                div.toggle-edit-section#copy-text-section(ng-show="!ctrl.myScriptEdit", align="left")
                    p.form-group 
                        span.hidden-lg-up "
                        span(ng-bind-html="ctrl.model.storyScriptData.personalMomentReadOnly")
                    p.form-group(ng-bind-html="ctrl.model.storyScriptData.createAConnectionReadOnly")
                    p 
                        span(ng-bind-html="ctrl.model.storyScriptData.theResoultionReadOnly")
                        span.hidden-lg-up "
                div.action-links(ng-show="!ctrl.myScriptEdit")
                    div.row

                        div.hidden-md-down
                            div.col-lg-offset-3.col-lg-6.col-xl-offset-4.col-xl-4
                                div.row
                                    div.email-section.action-link(align="center", ng-class="{'col-sm-3': !ctrl.isIOSDevice, 'col-sm-4': ctrl.isIOSDevice}")
                                        p.small.pointer(ng-click="ctrl.executeEmailModal()") 
                                            span.text-uppercase Email
                                    div.copy-section.action-link(ng-if="!ctrl.isIOSDevice", align="center", ng-class="{'copy-section-active': ctrl.isCopyClicked, 'col-sm-3': !ctrl.isIOSDevice, 'col-sm-4': ctrl.isIOSDevice}")
                                        p.small.pointer(ng-click="ctrl.isCopyClicked = true; ctrl.copyToClipboard('copy-section');", ng-if="!ctrl.isCopyClicked") 
                                            span.text-uppercase Copy
                                        p.small(ng-if="ctrl.isCopyClicked") 
                                            span COPIED!
                                    div.print-section.action-link(align="center", ng-class="{'col-sm-3': !ctrl.isIOSDevice, 'col-sm-4': ctrl.isIOSDevice}")
                                        p.small.pointer(ng-click="ctrl.printControl('template-section');") 
                                            span.text-uppercase Print
                                    div.download-section.action-link(align="center", ng-class="{'col-sm-3': !ctrl.isIOSDevice, 'col-sm-4': ctrl.isIOSDevice}")
                                        p.small.pointer(ng-click="ctrl.downloadAsPdf('datetime');") 
                                            span.text-uppercase Download
                        div.hidden-lg-up
                            div.col-sm-12
                                div.row
                                    div.email-section.action-link(align="center", ng-class="{'col-sm-4': !ctrl.isIOSDevice, 'col-sm-6': ctrl.isIOSDevice == true}")
                                        p.small.pointer(ng-click="ctrl.executeEmailModal()")
                                            span.text-uppercase Email
                                    div.copy-section.action-link(ng-if="!ctrl.isIOSDevice", align="center", ng-class="{'copy-section-active': ctrl.isCopyClicked, 'col-sm-4': !ctrl.isIOSDevice, 'col-sm-6': ctrl.isIOSDevice == true}")
                                        p.small.pointer(ng-click="ctrl.isCopyClicked = true; ctrl.copyToClipboard('copy-section');", ng-if="!ctrl.isCopyClicked") 
                                            span.text-uppercase Copy
                                        p.small(ng-if="ctrl.isCopyClicked") 
                                            span COPIED!
                                    div.download-section.action-link(align="center", ng-class="{'col-sm-4': !ctrl.isIOSDevice, 'col-sm-6': ctrl.isIOSDevice == true}")
                                        p.small.pointer(ng-click="ctrl.downloadAsPdf('datetime');")  
                                            span.text-uppercase Download

                    div.copy-clicked-section(ng-if="ctrl.isCopyClicked", align="center")
                        button.cancel-button-section(ng-click="ctrl.isCopyClicked = !ctrl.isCopyClicked; ctrl.goToUrl('/myBrandedStory/build')")
                            span Go Back to Guided Experiece
                    
                div.update-edit-section(ng-show="ctrl.myScriptEdit")
                    form.margin0(name="form.myScriptForm")
                        div.section-1
                            div.row
                                div.col-sm-7
                                    div.sub-heading.clearfix 
                                        span.pull-left Personal Moment
                                        div.pull-left.tooltipwrapper
                                            label.privacytextreadonly &nbsp;
                                                button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                  span Info
                                                .dropdown-menu(aria-labelledby='dropdownLogin')
                                                  p.dropdown-title
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                                  p.dropdown-content
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                div.col-sm-5(align="right")
                                    p.small.margin0.char-section 1000 characters
                            div.input-section
                                textarea.form-control(ng-model="ctrl.model.storyScriptData.personalMoment", maxlength="1000")
                        div.section-2
                            div.row
                                div.col-sm-7
                                    div.sub-heading.clearfix 
                                        span.pull-left Create A Connection
                                        div.pull-left.tooltipwrapper
                                            label.privacytextreadonly &nbsp;
                                                button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                  span Info
                                                .dropdown-menu(aria-labelledby='dropdownLogin')
                                                  p.dropdown-title
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                                  p.dropdown-content
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                div.col-sm-5(align="right")
                                    p.small.margin0.char-section 1000 characters
                            div.input-section
                                textarea.form-control(ng-model="ctrl.model.storyScriptData.createAConnection", maxlength="1000")
                        div.section-3
                            div.row
                                div.col-sm-7
                                    div.sub-heading.clearfix 
                                        span.pull-left The Resolution
                                        div.pull-left.tooltipwrapper
                                            label.privacytextreadonly &nbsp;
                                                button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                  span Info
                                                .dropdown-menu(aria-labelledby='dropdownLogin')
                                                  p.dropdown-title
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                                  p.dropdown-content
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                                div.col-sm-5(align="right")
                                    p.small.margin0.char-section 1000 characters
                            div.input-section
                                textarea.form-control(ng-model="ctrl.model.storyScriptData.theResoultion", maxlength="1000")
                        div.submit-section.center-section(align="center")
                            div.save-button-section
                                button.btn.btn-primary(ng-click="ctrl.myScriptEdit = false; ctrl.isCopyClicked = false; ctrl.submitStoryScript();")
                                    span.text-uppercase Save 
                            div(ng-if="ctrl.isCameFromGuidedExperience")
                                button.cancel-button-section(ng-click="ctrl.myScriptEdit = false; ctrl.isCopyClicked = false; ctrl.cancelStoryScript();")
                                    span Go back to guided experience
                            div(ng-if="!ctrl.isCameFromGuidedExperience")
                                button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBackConfirm();")
                                    span Go back

            div.now-what-section.story-section
                div.heading-section
                    span.text-uppercase NOW WHAT?
                div.brief-section.now-what-brief-section
                    p Now that you have a script how do you package it into a compelling and professional presentation?  We’ll walk you through some ideas.
                div.heading-section.video-heading-section
                    span.text-uppercase THE PROCESS
                div.relative.video-wrapper
                    div.video-template-section
                        div
                            .embed-responsive.embed-responsive-16by9
                                video.embed-responsive-item(id='video-1', ng-click="ctrl.togglePlay('video-1')", ui-event="{ended:'ctrl.video()'}")
                                    source(ng-src='../../../../src/assets/videos/testimonial-video.mp4', type='video/mp4')
                                    |                   Your browser doesn't support HTML5 video.
                                .video-btn
                                    button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click="ctrl.togglePlay('video-1')")
                                        span Play

                div.step-by-step-section
                    div.heading-section
                        span.text-uppercase STEP-BY-STEP INSTRUCTIONS
                    div.brief-section.step-by-step-brief-section
                        p Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt.
                    div.social-section
                        div.row
                            div.col-lg-4.social-wrapper
                                div.video-section.social-info-section
                                    div.text-uppercase.heading-section 
                                        p.small CREATING A VIDEO
                                    div.desc-section
                                        span Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt.
                                    div.link-section
                                        span.pointer(ng-click="ctrl.seeVideoInstructions();") See Instructions
    
                            div.col-lg-4.social-wrapper
                                div.presentation-section.social-info-section
                                    div.text-uppercase.heading-section
                                        p.small MAKING A PRESENTATION
                                    div.desc-section
                                        span Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt.
                                    div.link-section
                                        span.pointer(ng-click="ctrl.seePresentationInstructions();") See Instructions
                            div.col-lg-4.social-wrapper
                                div.share-section.social-info-section
                                    div.text-uppercase.heading-section 
                                        p.small SHARING ON SOCIAL
                                    div.desc-section
                                        span Lorem ipsum dolor sit amet, prima utinam timeam ne vix. Mea et docendi ancillae invidunt.
                                    div.link-section
                                        span.pointer(ng-click="ctrl.seeShareInstructions();") See Instructions
            div.go-back-section.story-section
                div.go-back-button
                    button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goToUrl('/myBrandedStory/build?goToUrl=3')")
                        span GO BACK

    div.hide
        div.action-template-section#template-section
            div
                div.logo-section
                    p(style="text-align: center;")
                        img(src="../../../../../src/assets/images/css/nuskin-white-logo.png")
                div.header-section
                    p.text-uppercase.branded-text(style="font-size: 1.5rem; font-weight: 100; line-height: 1.42; text-align: center; color: #444444;") 
                        span MY BRANDED STORY
                div.content-section
                    div.content-header-section.relative
                        div.description-section(style="margin-left: 3rem;")
                            div.story-script-section.story-section
                                div.heading-section
                                    p.text-uppercase.my-script(style="margin: 1rem 0 0.3125rem; font-size: 1.125rem; font-weight: 100; color: #444444;") MY SCRIPT
                                p.time-format(style="font-size: 0.6875rem; letter-spacing: -0.00625rem; color: #a7a7a7;") {{ctrl.getDatetime | date:'dd/MM/yyyy hh:mm'}}
                                div
                                    p(style="font-size: 0.625rem;", ng-bind-html="ctrl.model.storyScriptData.personalMomentReadOnly")
                                        br
                                    p(style="font-size: 0.625rem; letter-spacing: -0.00625rem;", ng-bind-html="ctrl.model.storyScriptData.createAConnectionReadOnly")                                    
                                        br
                                    p(style="font-size: 0.625rem; letter-spacing: -0.00625rem;", ng-bind-html="ctrl.model.storyScriptData.theResoultionReadOnly")
                                    

        div#datetime.time-format {{ctrl.getDatetime | date:'dd/MM/yyyy hh:mm a'}}
        div#copy-section
                p MY BRANDED STORY COPY
                    br
                p MY SCRIPT
                    br
                p {{ctrl.getDatetime | date:'dd/MM/yyyy hh:mm a'}}
                    br
                p.target-copy(ng-bind-html="ctrl.model.storyScriptData.personalMomentReadOnly")
                p &nbsp;
                p.target-copy(ng-bind-html="ctrl.model.storyScriptData.createAConnectionReadOnly")
                p &nbsp;
                p.target-copy(ng-bind-html="ctrl.model.storyScriptData.theResoultionReadOnly")