div.modal-header
    div
        div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
        div.heading-section
            span Send My Script
div.modal-body
    div.content-section
        form.m-t-0(name="ctrl.emailForm", novalidate)
            div.m-b-1
                email-phone.email-section(credentials='ctrl.credentials', is-email='true', title="", is-required='true',  is-submitted='ctrl.emailForm.$submitted')
            div.attachment-section.m-b-1
                div.attach-info
                    span My Story.pdf
            div.form-group
                textarea.form-control.description(name="description", ng-model="ctrl.model.description")
            div.submit-section
                div.hidden-md-up
                    button.btn.btn-primary(ng-click="ctrl.submitEmail('datetime')", type="submit")
                        span Send
                    button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.cancelEmail()", type="button")
                        span Cancel
                div.hidden-sm-down
                    div.row
                        div.col-md-6
                            button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.cancelEmail()", type="button")
                                span Cancel
                        div.col-md-6
                            button.btn.btn-primary(ng-click="ctrl.submitEmail('datetime')", type="submit")
                                span Send
                        