@import "../../../../../src/stylesheets/partials/variables.scss";

@mixin modal_font_style($paddingStyle, $color) {
	font-size: 0.875rem;
	line-height: 1.57;
	letter-spacing: -0.00625rem;
	color: $color;
	padding: $paddingStyle;
}

.mbs-story-script-wrapper {
	background: $gray-fair;
	.header-section {
		font-size: 1.875rem;
		font-weight: $proxima-thin;
		line-height: 1.13;
		background: url('../../../../../src/assets/images/css/prism-banner.jpg') no-repeat;
		background-size: cover;
		color: $white;
	}
	.branded-text {
		font-size: 1.5rem;
	}
	.action-template-section {
		.content-section {
			
			.description-section {
				text-align: left;
				margin: 0;
				.story-section {
					padding: 1.75rem 4.25rem 4.8125rem;
					.heading-section {
						font-size: 1.125rem;
					}
					.time-format {
						width: 18.569em;
						height: 0.875em;
						font-size: 0.6875rem;
						line-height: 1.27;
						letter-spacing: -0.00625rem;
						color: $gray-light;
						margin-bottom: 2rem;
					}
					.script-data {
						font-size: 0.625rem;
						letter-spacing: -0.00625rem;
						color: $gray;
						line-height: 1.5;
					}
				}
			}
		}
	}
	.content-section {
		.my-story-image-background{
				background-size: cover;
				background-position: 50%;
				background-repeat: no-repeat;
			}
		.content-header-section {
			height: 15.625rem;
			
			.text-section-on-image {
				font-weight: $proxima-light;
				line-height: 1.38;
				letter-spacing: -0.00625rem;
				color: $white;
				position: absolute;
				bottom: 15%;
				width: 7.5rem;
				max-width: 7.5rem;
			}
			.icon-section-on-image {
				background: url('../../../../../src/assets/images/css/group-copy-2.png') no-repeat center center;
				position: absolute;
				width: 2.8125rem;
				bottom: 35%;
				height: 2.75rem;
				width: 2.75rem;
				max-width: 2.75rem;
			}
			.icon-section-on-image, .text-section-on-image {
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
		.description-section {
			.story-section {
				.brief-section {
					.brief-link-section {
						font-weight: $proxima-light;
						line-height: 1.38;
						letter-spacing: -0.00625rem;
						color: $brand-primary;
					}
				}
				.step-by-step-section {
					.heading-section {
						color: $gray-black;
					}
				}
				.video-template-section {
					padding-top: 1rem;
					#bigPlayButton {
						background: url('../../../../../src/assets/images/css/stroke-1-copy.png') no-repeat center center;
						border-radius: 0;
					}
					#bigPlayButton::before {
						background: none;
					}
				}
				.video-heading-section {
					margin-top: 2rem;
				}
				background: $white;
				.social-section {
					margin-top: 3.5625rem;
					.video-section {
						background: url('../../../../../src/assets/images/css/video.png') no-repeat center top;
					}
					.presentation-section {
						background: url('../../../../../src/assets/images/css/presentation.png') no-repeat center top;
					}
					.share-section {
						background: url('../../../../../src/assets/images/css/ic-share.png') no-repeat center top;
					}
					.social-info-section {
						padding-top: 2.25rem;
						.link-section {
							font-weight: $proxima-light;
							color: $brand-primary;
							margin-top: 1.25rem;
						}
						.heading-section {
							p {
								font-weight: $proxima-semibold;
								line-height: 2.38;
								color: $gray-black;
							}
						}
						.desc-section {
							font-weight: $proxima-light;
							line-height: 1.38;
							letter-spacing: -0.00625rem;
							color: $gray-dark;
						}
					}
				}
				.action-links {
					.email-section {
						p {
							background: url('../../../../../src/assets/images/css/email-icon.png') no-repeat center center;
						}
					}
					.copy-section {
						p {
							background: url('../../../../../src/assets/images/css/copy-icon-1.png') no-repeat center center;
						}
					}
					.print-section {
						p {
							background: url('../../../../../src/assets/images/css/print-icon.png') no-repeat center center;
						}
					}
					.download-section {
						p {
							background: url('../../../../../src/assets/images/css/download-icon.png') no-repeat center center;
						}
					}
					.action-link {
						font-weight: $proxima-light;
						line-height: 1.69;
						letter-spacing: 0.025rem;
						color: $brand-primary;
						margin-top: 1rem;
						p {
							max-width: 5rem;
							height: 2.5rem;
							padding-top: 2.5rem;
						}
					}
					.action-link.copy-section-active {
						color: $purple;
						height: 3.75rem;
						p {
							background: $gray-fair url('../../../../../src/assets/images/css/copy-icon-active.png') no-repeat center 0.625rem;
							height: 3.8125rem;
						}
					}
				}
			}
			.copy-clicked-section {
				border-top: solid 0.0625rem $gray-semi-light;
				padding: 2.8125rem 0 1.75rem;
				margin-top: 0.75rem;
			}
			.submit-section, .copy-clicked-section {
				.cancel-button-section {
					font-weight: $proxima-light;
					color: $brand-primary;
					background: transparent;
					border: none;
					outline: none;
				}
			}
			.heading-section {
				font-size: 1.375rem;
				font-weight: $proxima-thin;
				line-height: 1.41;
				color: $gray-dark;
			}
			.brief-section {
				font-weight: $proxima-light;
				line-height: 1.38;
				letter-spacing: -0.00625rem;
				color: $gray-dark;
				padding-top: 1.875rem;
			}
			.edit-icon {
				background: url('../../../../../src/assets/images/content/ic-edit-green.svg') no-repeat right top;
				height: 1.0625rem;
				margin-top: 0.5rem;
				position: absolute;
				right: 0;
				width: 1.0625rem;
				height: 1.0625rem;
			}
			.toggle-edit-section {
				background-color: $gray-fair;
			}
			.update-edit-section {
				line-height: 1.57;
				letter-spacing: -0.00625rem;
				color: $gray-black;
				.sub-heading {
					font-size: 0.875rem;
					.info-link-section {
						background: url('../../../../../src/assets/images/css/group-8.png') no-repeat center center;
						width: 1rem;
						height: 1rem;
						margin: 0.0625rem 0 0 0.75rem;
					}
				}
				.input-section {
					textarea {
						height: 11.625rem;
						max-height: 11.625rem;
						padding: 1.5rem 3rem 1.5rem 1.3125rem;
						color: $gray-black;
					}
				}
				.char-section {
					opacity: 0.45;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.header-section {
			padding: 2.9375rem 0 2.625rem;
		}
		page-level-error-component.success-component {
			.success-alert {
                .success-section {
                    position: relative;
                    top: -0.125rem;
                }
            }
		}
		.content-section {
			.content-header-section {
				.icon-section-on-image {
					bottom: 52%;
				}
				.text-section-on-image {
					bottom: 37%;
				}
			}
			.description-section {
				.my-script-section {
					.brief-section {
						padding-top: 0.3125rem;
					}
				}
				.story-section {
					padding: 1.5rem;
					.update-edit-section {
						padding-top: 0.0625rem;
						[class^="section-"] {
							padding-bottom: 0.625rem;
						}
						.section-3 {
							padding: 0;
						}
						.submit-section {
							margin-top: 3.4375rem;
							.cancel-button-section {
								margin-top: 0.5rem;
							}
						}
					}
					.step-by-step-section {
						.brief-section {
							padding-top: 0.5rem;
						}
						.social-section {
							.social-wrapper {
								padding-bottom: 1rem;
							}
							.social-wrapper:last-child {
								padding-bottom: 0;
								margin-bottom: -0.625rem;
							}
						}
					}
					.video-heading-section {
						margin-top: 2rem;
					}
					.video-template-section {
						margin: 0 -1.5rem 4.125rem;
					}
				}
				.toggle-edit-section {
					padding: 1.375rem 0.6875rem 1.5625rem 0.875rem;
				}
				.go-back-section {
					.go-back-button {
						margin: 0.8125rem 0.125rem 0.625rem;
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		.header-section {
			padding: 3.5625rem 0 2.9375rem;
		}
		.description-section {
			.story-section {
				padding: 1.5rem 10.5rem;
				.update-edit-section {
					.submit-section {
						margin-top: 4.5rem;
						.cancel-button-section {
							margin-top: 1rem;
						}
					}
				}
				.video-template-section {
					margin-bottom: 4.125rem;
				}
			}
			.toggle-edit-section {
				padding: 1.5rem 4.5625rem 1.5rem 3.8125rem;
			}
			.go-back-section {
				.go-back-button {
					margin: 2.25rem 0 1.25rem;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1023px) {
		.content-section {
			.content-header-section {
				.icon-section-on-image {
					bottom: 46%;
				}
				.text-section-on-image {
					bottom: 27%;
				}
			}
			.description-section {
				.story-section {
					.video-template-section {
						margin-bottom: 2.75rem;
					}
					.video-heading-section {
						margin-top: 2rem;
					}
				}
			}
			.step-by-step-section {
				.brief-section {
					margin-top: -1.5rem;
				}
			}
		}
	}
	@media (max-width: 1023px) {
		.content-section {
			.description-section {
				padding-bottom: 0.625rem;
				.story-section {
					margin-bottom: 0;
					.social-section {
						.social-info-section {
							background-position: left top;
							margin-bottom: 3rem;
							width: 16.9375rem;
							max-width: 16.9375rem;
							.desc-section {
								margin-top: -0.3125rem;
							}
						}
					}
				}
			}
		}
		.update-edit-section .center-section
		{
			display:block;
		}
	}
	@media (min-width: 1024px) {
		.content-section {
			.content-header-section {
				.icon-section-on-image {
					bottom: 48%;
				}
				.text-section-on-image {
					bottom: 32%;
				}
			}
			.description-section {
				text-align: center;
				.story-section {
					.update-edit-section {
						margin-top: -2rem;
						[class^="section-"] {
							padding-bottom: 1rem;
						}
						.section-3 {
							padding-bottom: 0;
							margin-bottom: 5.625rem;
						}
					}
					.social-section {
						padding: 0 2.125rem;
					}
					padding: 1.5rem;
					.brief-section {
						width: 85%;
						text-align: center;
						display: table;
						margin: 0 auto;
					}
					.video-template-section {
						margin: 0.75rem -1.5rem 3.125rem;
						margin-left: 0;
						margin-right: 0;
					}
				}
				.now-what-section {
					padding: 0.75rem 0 5rem;
					.brief-section {
						width: 22.375rem;
						max-width: 22.375rem;
					}
					.now-what-brief-section {
						padding-top: 0.5rem;
					}
					.heading-section:first-child {
						padding-top: 0.625rem;
					}
					.video-wrapper {
						.video-heading-section {
							position: absolute;
							z-index: 100;
							margin: 0 auto;
							width: 15.125rem;
							max-width: 15.125rem;
							left: 0;
							right: 0;
							top: 2.5rem;
							font-size: 2.375rem;
							font-weight: $proxima-thin;
							line-height: 1.05;
							color: $gray-dark;
						}
					}
					.step-by-step-brief-section {
						padding-top: 0.3125rem;
					}
				}
				.my-script-section {
					.brief-section {
						width: initial;
						max-width: initial;
						padding: 1rem 0 1.5rem;
					}
				}
			}
		}
		.description-section {
			margin: 1.625rem 2.8125rem 0;
			padding-bottom: 1.625rem;
			.toggle-edit-section {
				padding: 2.5625rem 4.25rem 3.75rem 2.8125rem;
			}
			.go-back-section {
				.go-back-button {
					button {
						width: 27.125rem;
						max-width: 27.125rem;
					}
				}
			}
		}
		.story-section {
			margin-bottom: 1.5rem;
			.update-edit-section {
				.submit-section {
					width: 27.125rem;
					max-width: 27.125rem;
				}
			}
		}
	}
	@media (min-width: 1440px) {
		.content-section {
			.content-header-section {
				.icon-section-on-image {
					bottom: 49%;
				}
			}
			.description-section {
				margin: 1.625rem 10rem 0;
				padding-bottom: 1.625rem;
				.toggle-edit-section {
					padding: 2.5625rem 5rem 4rem 3.3125rem;
				}
				.story-section {
					.video-template-section {
						margin: 0;
						padding: 2.0625rem 1.5rem 2.3125rem;
					}
					.social-section {
						padding: 0 3.75rem;
					}
				}
				.my-script-section {
					.brief-section {
						padding-bottom: 0.625rem;
					}
				}
				.now-what-section {
					.video-wrapper {
						.video-heading-section {
							top: 3.75rem;
						}
					}
				}
			}
		}
	}
}

.app-modal-window.go-back-confirmation-popup, .app-modal-window.modal-popup {
	.modal-dialog {
		margin: 0 auto;
		margin-top: 2rem;
		.modal-header {
    		padding-bottom: 0;
    		.cross-icon {
    			width: 1.5625rem;
    			padding: 1.5rem 1.125rem 1rem 0;
    			background: url('../../../../../src/assets/images/css/cross-small.png') no-repeat right top;
    		}
		}
		.modal-body {
			padding: 0 1rem 1rem;
			.desc-section {
				padding: 0 2.5rem 1.5rem;
			}
			.submit-section {
				padding: 0 2rem;
			}
		}
	}
}

.app-modal-window.email-popup {
	.modal-dialog {
		padding: 0 1.5rem 2rem;
		.modal-header, .modal-body {
			padding: 1rem 1.5rem 1.5rem;
		}
		.modal-header {
			.heading-section {
				font-size: 1.375rem;
				font-weight: $proxima-thin;
				letter-spacing: normal;
				color: $gray;
			}
		}
		.modal-body {
			padding-top: 0;
			.content-section {
				.email-section {
					input {
						margin-bottom: 0;
					}
				}
				.description {
					height: 11.375rem;
					max-height: 11.375rem;
					resize: none;	
					@include modal_font_style(0.5rem, $gray-pale);
				}
				.attachment-section {
					.attach-info {
						background: $gray-dark-primary url('../../../../../src/assets/images/css/paper-clip.svg') no-repeat 0.625rem center;
						border-radius: 6.25rem;
						display: inline-block;
						@include modal_font_style(0.1875rem 1rem 0.1875rem 2rem, $gray-dark-secondary);
					}
				}
			}
		}
	}
	@media (max-width: 767px) {
		.modal-dialog {
			.modal-body {
				.content-section {
					.submit-section {
						padding-left: 0;
						padding-right: 0;
					}
				}
			}
		}
	}
}
