div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
div.modal-body
	div.desc-section.text-center
		span Would you like to save your work before proceeding?
	div.submit-section
		div
			button.btn.btn-primary(ng-click="ctrl.saveExistingThings();")
				span Save
		div
			button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.abortAndLeave();")
				span Don't Save