@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";

@mixin forgot-password-proxima-light {
  font-weight: $proxima-light;
  color: $white;
}
.forgot-password-main-content{
.forgot-password-content{
  .signup-components{
    width: 27.2em;
  }
}
.text-upper.thank-you-text{
  margin-top: 1em;
}
.email-pic{
  background: url('../../../../src/assets/images/css/email-image.png');
  background-repeat: no-repeat;
  width: 6.94em;
  height: 3.93em;
  margin-left: 2.188em;
}
.email-text,.text-msg{
  font-weight: $proxima-semibold;
  font-size: 0.8125rem;
}
.sms-pic{
  background: url('../../../../src/assets/images/css/Sms-image.png');
  background-repeat: no-repeat;
  width: 6.94em;
  height: 5.93em;
  margin-left: 4.450em;
}
.form-group input, .input-group input {
    margin-bottom: 0.5rem;
}
.form-group {
  margin-bottom: 2.0rem;
  }
.continue-btn{
  width: 100%;
  border-radius: 0.188em;
  background-color: $brand-primary;
  color:$white;
  margin-top: 0.938em;
}
.forgot-username-link{
  float:right;
  font-size: 0.875rem;
  font-weight: $proxima-regular;
  cursor:pointer;
}
.underline-on-hover:hover {
    text-decoration: underline;
}
.error-block{
  float:left;
}
.text-upper{
  font-size: 1.8125rem;
  @include forgot-password-proxima-light;
  line-height: 1.07;
  margin-top: 0.6em;
}
.text-lower{
  font-size: 1rem;
  @include forgot-password-proxima-light;
}
.invite-banner {
    height: 16.5em;
}
.reset-msg{
  margin-left: 1em;
}
.banner-forgot-password{
}
 .form-group {
margin-bottom:0 ;
}
@media screen and (min-width: 360px) and (max-width: 767px){
  .forgot-password-content{
      .invite-banner{
        height:8.375em;
        .section{
          padding-top: 2.5em;
        }
      }
    .continue-btn{
      margin-top:1.938em;
      }
    .signup-container {
      padding: 9% 6.5%;
    }
    .signup-components{
      width: 20.313em;
    }
    .text-upper{
      margin-top: 0em;
    }
    .thank-you-text{
      line-height: 2em;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .signup-container{
    margin: 0em;
    width:100%;
    padding:3% 10%;
    .continue-btn{
      margin-top:1.938em;
    }
  }
  .invite-banner{
    height:7.8em;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px){
  .continue-btn{
    margin-top:1.938em;
    }
  .invite-banner .section {
      padding-top: 1.438em;
    }
  .signup-container {
      margin-top: -7.625em;
      width: 41.500em;
      padding: 3.1% 7.3%;
    }
  }
@media screen and (min-width: 1440px){
  .signup-container {
      margin-top: -7.625em;
      width: 41.500em;
      padding: 3.1% 7.3%;
    }
  }
}
