.forgot-password-main-content
  .content.forgot-password-content
        .invite-banner
          .section.text-center
            .banner-title.banner-forgot-password
              .text-upper.text-center(ng-show='!forgotpasswordctrl.thankYouHeaderSection')
                | Forgot your password?
                br
              p.text-lower.text-center(ng-show='!forgotpasswordctrl.thankYouHeaderSection') Lets help you recover it!
              p.text-upper.text-center.thank-you-text(ng-show='forgotpasswordctrl.thankYouHeaderSection')
                | Thank You!
        .signup-container
          .signup-components(ng-show='forgotpasswordctrl.section.forgotusernamefirstpage')
            .country-section
                p Please enter your username to start recovering your password.
              form.signupform(name='form', novalidate='novalidate', form-submit='forgotpasswordctrl.submitForm()', controller="forgotpasswordctrl")
                .form-group
                  email-phone(credentials='forgotpasswordctrl.credentials', is-email='forgotpasswordctrl.isEmail', title="Username (Email Address)", is-required='forgotpasswordctrl.required', is-submitted = 'forgotpasswordctrl.submit')
                  //a
                  //  span.underline-on-hover.forgot-username-link(ng-click="forgotpasswordctrl.forgotUsernamePage()") Forgot Username
                div
                  .button.btn.continue-btn(ng-click='forgotpasswordctrl.submitForm(form)',type='submit') CONTINUE

          .signup-components(ng-show='forgotpasswordctrl.section.resetinformationforemail')
                    .row
                      .col-sm-12
                        center
                          .email-pic
                      .col-sm-12.no-gutter
                        p.reset-msg We sent password reset instructions to&nbsp
                         b {{forgotpasswordctrl.maskEmailId(forgotpasswordctrl.credentials.userEmailField)}}
                          .col-sm-12
                            p
                              b Please note this is a time sensitive email.
                              | &nbsp;Follow the instruction  a link or how to reset your password
                            div
                              .col-sm-12
                              div
                              button.btn.continue-btn(type='button', ng-click="forgotpasswordctrl.redirectlogin()") BACK TO LOGIN
