.page-level-error(ng-if='ctrl.dangerType')
  .alert.alert-danger.alert-dismissible(role='alert', ng-show="ctrl.isDisplayErrorMessage").center
    button.cross.inline-block(type='button', ng-click="ctrl.modifyDisplayErrorMessage();" aria-label='Close', ng-class="{'hide': ctrl.isShowInfoIconOnError, 'pointer': !ctrl.isShowInfoIconOnError}")
      span(ng-class="{'show-info-icon': ctrl.isShowInfoIconOnError}" aria-hidden='true') {{ctrl.errorMessage}}
.page-level-error(ng-if='ctrl.successType')
  .alert.success-alert.alert-dismissible(role='alert').center
      div.row.success-section.center-section
        button.check-mark.inline-block(type='button', data-dismiss='alert', aria-label='Success')
          span.font-weight-bold.success-heading.m-b-0(ng-if="ctrl.successMessage", ng-class="{'only-title': !ctrl.successDescription}") {{ctrl.successMessage}}
          span.m-b-0.success-subheading(ng-if="ctrl.successDescription") {{ctrl.successDescription}}
