    @import "../../stylesheets/partials/variables";
    .page-level-error {
        .alert-danger {
            background-color: #d0021b;
            color: $white;
            min-height: 2.750em;
            margin-bottom: 0;
            padding: 12px 1.625rem;
            border: 0;
            border-radius: 0;
            center {
                text-align: left;
            }
            button.cross {
                border: 0;
                width: auto;
                outline: 0;
                background: transparent url('../../../src/assets/images/css/cross-small-white.png') no-repeat left 1px;
                padding: 0;
                span{
                  padding-left: 2rem;
                  display: inline-block;
                  font-size: 1rem;
                  font-weight: $proxima-light;
                  padding-top: 1px;
                  text-align: left;
                }
            }
            button.info-icon {
                background: url('../../../src/assets/images/css/ic-info.svg') no-repeat center center;
                outline: 0;
                cursor: initial;
            }
            .show-info-icon {
                background: url('../../../src/assets/images/css/ic-info.svg') no-repeat left center;
                padding: 0 0 0 2rem;
            }
        }
        .inline-block {
            font-size: 0.813rem;
        }
        .success-alert {
            background-color: rgba(107, 197, 106, 1);
            color: $white;
            min-height: 2.750em;
            margin-bottom: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            center {
                text-align: center;
            }
            button.check-mark {
                border: 0;
                width: auto;
                outline: 0;
                background: transparent url('../../../src/assets/images/css/checkmark-circle.svg') no-repeat left 3px;
                padding: 0;
                span{
                  padding-left: 2rem;
                  display: block;
                  font-size: 1rem;
                  font-weight: $proxima-light;
                  padding-top: 0.1875rem;
                  text-align: left;
                }
            }
        }
        .success-section {
            padding: .438em 0 .688em;
            .success-heading {
                font-weight: $proxima-light;
            }
            .success-subheading {
                font-weight: $proxima-thin;
            }
        }
        p.alert-error-message {
            text-align: left;
        }
        @media screen and (max-width: 480px) {
            .alert-danger {
                .alert-danger {
                    padding-top: 0.688em;
                }
            }
            p.alert-error-message {
                max-width: 18.250em;
                text-align: left;
            }
        }
        @media (max-width: 767px) {
            .success-alert {
                display: table;
                width: 100%;
                .success-section {
                    padding: 0 1.5rem 0 0.625rem;
                    min-width: 20rem;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        @media (min-width: 768px) {
            .success-section {
                min-width: 34.375rem;
            }
        }
    }
