div.modal-header
    div.clearfix
        div.pull-right.close-icon.pointer(ng-click="ctrl.closeAndReset();")
div.modal-body
    div.heading-section.m-t-1.p-b-2.text-center.center-section
        span 
            span You are about to leave this page. 
            br 
            span Are you sure you want to leave? Your changes will not be saved.

    div.action-section
        div
            button.btn.btn-primary(ng-click="ctrl.saveProductDetails();")
                span.text-uppercase STAY
        div
            button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.proceedAhead()")
                span.text-uppercase LEAVE 