page-level-error-component(success-type="true", success-message="checkoutAuth.successHeading", success-description="checkoutAuth.successSubheading")
.pre-checkout-authentication
    .checkout-title-banner
        .section
            .banner-title
                h1.text-center.checkout-title
                    |CHECKOUT
                span.text-link.checkout-title-base
                    |Before you checkout, please select
                    br
                    | a checkout method
    .checkout-container
        .checkout-components
            .returning-user-section
                legend.section-title
                    span Returning User?
                div.info-detail
                    p.small.small-font Sign in to your account to speed up your checkout and save your purchase in your order history.
                input.btn.btn-primary.col-xs-12(type='button' value='SIGN IN' ng-click='vm.submitForm(form.countryInput.$valid && form.languageInput.$valid)' )
            div.new-to-nuskin-section
                legend.section-title
                    span New to Nu Skin?
                div.info-detail
                    p.small.small-font(ng-show='checkoutAuth.newToNuskin')
                        |You may check out without creating an account.
                        br
                        |You'll be able to create an account for later if you wish.
                input.btn.btn-primary.col-xs-12(type='button' value='CHECKOUT AS A GUEST' ng-click='vm.submitForm(form.countryInput.$valid && form.languageInput.$valid)' ng-show='checkoutAuth.newToNuskin')
            .content-seperator(ng-show='checkoutAuth.newToNuskin')
                span.divider
                    p.pre-checkout-or OR
            div.info-detail-signup
                p(ng-show='checkoutAuth.newToNuskin') Enjoy great added benefits when you create an account.
            div#see-more-section(ng-show='checkoutAuth.newToNuskin')
                p.see-more-see-less-link.form-label(ng-model="seeMoreSeeLess" ng-click="seeMoreSeeLess=!seeMoreSeeLess" ng-hide="seeMoreSeeLess") See More
                div.benefits-detail-parent(ng-show="seeMoreSeeLess")
                    div.benefits-section.col-sm-12.col-md-6
                        div.benefits-img.save-time-image
                        div.see-more-info-detail
                            p.small.small-font Save time! Keep your information on file for last checkout.
                    div.benefits-section.col-sm-12.col-md-6
                        div.benefits-img.review-image
                        div.see-more-info-detail
                            p.small.small-font Review your favorite products.
                    div.benefits-section.col-sm-12.col-md-6
                        div.benefits-img.track-image
                        div.see-more-info-detail
                            p.small.small-font Easily track and manage your orders.
                    div.benefits-section.col-sm-12.col-md-6
                        div.benefits-img.product-image
                        div.see-more-info-detail
                            p.small.small-font Get exclusive product news and recommendations.
                div.benefits-detail-show(ng-show="seeMoreSeeLess")
                    p.see-more-see-less-link.form-label(ng-model="seeMoreSeeLess" ng-click="seeMoreSeeLess =!seeMoreSeeLess") See Less
            span.text-link.section-title-base(ng-show='!checkoutAuth.newToNuskin') You can create a cutomer or distributor account.
            .signup-section
                input.btn.btn-primary.col-xs-12(type='button' value='SIGN UP, THEN CHECKOUT' data-toggle="modal" ng-click='checkoutAuth.signUpShow()' )
                div.info-detail
                    p.small.small-font(ng-show='checkoutAuth.newToNuskin') We'll send you to checkout after you're done!
    #sign-up-pre-checkout.modal.fade(role='dialog',data-backdrop="static")
        .modal-dialog.pre-checkout-signup-modal-dialog
            .modal-header
                button.close(type='button', data-dismiss='modal')
            .modal-content#pre-checkout-signup-modal-content
                .modal-body
                    .section
                        .banner-title
                            h3.text-center.customer-account-title Create a Customer Account
                    fieldset.form-group
                        div.with-social-title
                            legend
                                span With Social
                        .social-signup
                            a.btn.btn-social.btn-facebook.col-xs-12.m-b-0(ng-click="socialLogin()")
                                .social-media-icon
                                .social-media-text JOIN WITH FACEBOOK
                        div.m-y-1
                            span By clicking “Join with Facebook” you agree to our 
                                .btn-link(ng-click="checkoutAuth.openCustomPopup('termsOfUse')") Terms of Use  
                                |and 
                                .btn-link(ng-click="checkoutAuth.openCustomPopup('privacyPolicy')")  Privacy Policy
                        div.content-seperator.col-sm-12.no-guuter.m-t-0
                            span.divider
                                p.pre-checkout-or OR
                        form.m-t-0(name="checkoutAuth.popupSignUpForm" novalidate form-submit='checkoutAuth.continuePreCheckoutSignup()', controller="checkoutAuth")
                            div.form-group.m-b-2
                                email-phone(credentials='checkoutAuth.credentials', is-email ='checkoutAuth.isEmail', title="Username (Email Address)",is-submitted = "checkoutAuth.isSubmitted", is-required='checkoutAuth.required')
                            div.form-group.continue-button
                                input.btn.btn-primary.col-xs-12(type='button' ,value='Continue', ng-click = "checkoutAuth.continuePreCheckoutSignup()" )
                        div.distributor-account-option
                            span.text-link.section-title-base Are you looking to build a business?
                            br
                            span.distributor-account-option-link
                                a Create a distributor account
                        .content-seperator
                            span.divider
                                p.pre-checkout-or OR
                        div.distributor-account-option
                            span.text-link.section-title-base.already-have-account
                                |Already have an account, but
                                br
                                |don't have a web login?
                            br
                            span.distributor-account-option-link
                                a Create a username and passowrd
custommodalcomponent(ng-if="checkoutAuth.showModal",modal-heading='{{checkoutAuth.modalHeading}}',is-modal-call="true", src-url='{{checkoutAuth.modalURL}}', callback-on-success="checkoutAuth.signUpShow")