@import "../../../../src/stylesheets/partials/variables.scss";

.pre-checkout-authentication{
    background: $gray-lightest;

    .checkout-title-banner {
      height : 17.1875em;
      background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
      text-align: center;
      .section{
        padding: 2em 0 0 0;
        color: $white;
      }
    }
    .save-time-image{
      background-image: url("../../../../src/assets/images/css/time@3x.png");
    }
    .review-image{
      background-image: url("../../../../src/assets/images/css/review@3x.png");
    }
    .track-image{
      background-image: url("../../../../src/assets/images/css/track@3x.png"); 
    }
    .product-image{
      background-image: url("../../../../src/assets/images/css/product@3x.png");
    }
    .small-font{
      font-weight: $proxima-light;
      color: $gray-darker;
    }
    .form-group{
      margin-bottom: 0em;
      span{
        font-size: 0.813rem;
        font-weight: $proxima-light;
        line-height: 1.46;
      }
      .btn-link{
            display: inline;
            cursor: pointer;
      }
    }
    .see-more-see-less-link{
      cursor: pointer;
      display: inline-block;
    }
    .see-more-info-detail{
        margin: 0.375rem 0 0 4em;
    }
    .pre-checkout-authentication .text-link {
        text-align: left;
    }
    .checkout-title{
        color: $white;
        font-size: 1.875rem;
    }
    .pre-checkout-or{
        font-size: 0.688em;
        padding: 0.9em;
    }
    .checkout-title-base{
        font-size: 1rem;
        font-weight: $proxima-thin;
    }
    .checkoutTitleBaseEnjoyGreatBenefits{
      font-weight: $proxima-light;
    }
    .checkout-container {
        background-color: white;
        padding: 1% 7.188em;
      }
      #see-more-section{
        text-align: center;
      }
      .benefits-detail-show{
        margin-top: 1em;
      }
      @media screen and (min-width: 769px){
        .checkout-container{
          width: 41.500em;
          margin: -7.1875em auto auto auto;
          padding: 1% 7.188em;
        }
      }
    .info-detail{
        margin: 0.375em 0.375em 1.250em 0.375em;
        text-align: center;
    }
    .btn-primary{
      width: 100%;
      background-color: $brand-primary;
      color: $white;
    }
    .content-seperator{
      margin-top: 1.875em;
    }
    .see-more-see-less-link {
      color: $brand-primary;
      font-size: 0.8125rem;
      margin: 1em 8.813em 1.525em 8.813em;
      text-decoration: none;
      font-weight: $proxima-semibold;
      line-height: 1.85;
    }
    .text-link{
      text-align: center;
    }
    .benefits-img {
        width: 2.25em;
        height: 2.25em;
        float: left;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
    }
    .benefits-section {
        height: 2.875em;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray;
        padding-left: 0.813em;
        text-align: left;
        margin-bottom: 0.625rem;
    }
    .pre-checkout-authentication{
      .modal-dialog{
        margin-top: 6.250em;
      }
      .modal-header{
        padding: 1em;
        border-bottom: none;
      }
      .modal-body{
        padding: 0.75em 1.563em 3em 1.563em;
      }
    }
    .modal-header .close{
        background-image: url('../../../../src/assets/images/css/cross-small.png');
        width: 1.35em;
        height: 1.300em;
        opacity: 1;
        background-position: right;
        background-repeat: no-repeat;
    }
    #sign-up-pre-checkout{
      overflow-y: scroll;
      .pre-checkout-signup-modal-dialog{
        width: 41.500em;
        height: 41.975em;
        background-color: $white;
      }
    }
    #term-policy-modal{
      overflow-y: scroll;
    }
    #pre-checkout-signup-modal-content{
      padding: 0.625em 4.500em;
      margin-bottom: 2rem;
      .continue-button{
        input{
          margin-bottom: 0;
        }
      }
    }
    .section-title{
        margin-top: 1.625em;
    }
    .section-title-base{
        font-size: 0.8125rem;
        font-weight: $proxima-light;
    }
    .info-detail-signup{
        width: 15.619em;
        height: 3.000em;
        text-align: center;
        margin: 2.288em auto 0 auto;
    }
    .benefits-detail-parent{
        margin: 0 -4.063em 0 -4.063em;
    }
    .seemore-section-title-base{
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        text-align: left;
    }
    .with-social-title{
        padding-top: 1.250em;
        font-weight: $proxima-semibold;
    }
    .usernameEmailTitle{
        height: 1.375em;
        opacity: 0.8;
        letter-spacing: -0.006em;
    }
    .distributor-account-option{
        text-align: center;
        margin-top: 1.250em;
        span{
          color: $gray-darker;
        }
        .distributor-account-option-link{
            font-size: 1rem;
            font-weight: $proxima-semibold;
            cursor: pointer;
        }
    }
    
    .already-have-account{
        width:12.500em;
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
      .pre-checkout-authentication{
        .modal-dialog{
          margin: 6.250em auto auto auto;
        }
      }
      .checkout-components{
        margin: 0 6.5% 0 6.5%;
      }
      .customer-account-title{
        margin: -0.625em 0 0 0;
      }
      .checkout-title-banner{
        height: 10em;
        padding: 0% 5%;
      }
      .checkout-container{
          width: 100%;
          margin: 0;
          padding: 0.0625rem;
      }
      .info-detail{
        margin: 0.375em 0.625em;
      }
      .info-detail-signup{
        width: 15.619em;
        text-align: center;
        margin: 2.288em auto 0.5em auto;
      }
      .see-more-see-less-link{
        margin: 0.5em 5.625em 0.875em 5.625em;
      }
      .benefits-detail-parent{
        margin: 0;
      }
      #sign-up-pre-checkout{
          .pre-checkout-signup-modal-dialog{
              width: 20.313em;
              height: inherit;
              margin: 1.625rem auto 3.75rem auto;
          }
      }
      
      #pre-checkout-signup-modal-content{
          padding: 0.000em;
        .continue-button{
          input{
            margin-bottom: 1em;
          }
        }
      }
    }
    @media screen and (min-width:768px) and (max-width: 1023px){
      .checkout-title-banner{
        height: 10em;
      }
      .checkout-container{
        width: 100%;
        margin-top: 0.000em;
        padding: 1% 10.438em;
      }
      .checkout-components{
        width: 27.375rem;
        margin: 0 auto;
      }
      .modal-header{
        width: 100%;
      }
      #sign-up-pre-checkout {
          .pre-checkout-signup-modal-dialog {
            width: 20.313em;
            height: inherit;
            margin-bottom: 4.375rem;
          }
      }
      #pre-checkout-signup-modal-content{
        padding: 0.000em;
        .continue-button{
          input{
            margin-bottom: 1em;
          }
        }
      }
      .customer-account-title{
        font-weight: $proxima-light;
        margin-top: -0.938em;
      }
    }
    @media screen and (min-width:1024px) and (max-width: 1439px){
      .pre-checkout-signup-modal-dialog{
          width: 41.500em;
          margin-bottom: 3.75rem;
      }
      .customer-account-title{
        margin-top: -1.250em;
      }
      .with-social-title{
          padding-top: 0.625em;
        }
      .pre-checkout-authentication .modal-body{
        padding: 0 2.5em 0 2.5em;
      }
    }
}
