.container-fluid.download-app-wrapper
  .row
    .col-sm-12.no-gutter
      .download-app-viewer
        .download-box.hidden-sm-down
          .text-wrapper
            .heading-box
              h1 READY FOR MORE? DOWNLOAD THE APP.
            .description-box
              p If you’re prospecting all the time we've got an app for that to help you manage your posts even quicker. It has all the same great features as the website - just on the go!
            .download-buttons
              .app-store.pointer(ng-click='ctrl.redirectToAppStore()')
              .play-store.pointer(ng-click='ctrl.redirectToPlayStore()')
  .row            
    .col-sm-12.no-gutter.hidden-md-up
      .download-box.sm-visible
        .text-wrapper
          .heading-box
             h1 READY FOR MORE? DOWNLOAD THE APP.
          .description-box
             p If you’re prospecting all the time we've got an app for that to help you manage your posts even quicker. It has all the same great features as the website - just on the go!
          .download-buttons
              .app-store.pointer(ng-click='ctrl.redirectToAppStore()')
              .play-store.pointer(ng-click='ctrl.redirectToPlayStore()')
