@import "../../../../src/stylesheets/partials/variables.scss";
.download-app-wrapper {
    margin-top: 6.125rem;
    .download-app-viewer {
        background: url('../../../../src/assets/images/content/banner-app.jpg') no-repeat $gray-lightest;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 37.5em;
        position: relative;
        display: flex;
        .download-box {
            width: 34.3125em;
            height: 21.625em;
            opacity: 0.95;
            position: absolute;
            right: 2.75em;
            top: 8.375em;
            background-color: $white;
            .text-wrapper {
                width: 21.75em;
                margin: 4.1875em auto 0;
                .heading-box {
                    width: 100%;
                    height: 4.25em;
                    h1 {
                        font-size: 1.75em;
                        line-height: 1.21;
                    }
                }
                .description-box {}
                .download-buttons {
                    display: block;
                    .app-store {
                        display: inline-block;
                        width: 7.3125em;
                        height: 2.1875em;
                        background: url('../../../../src/assets/images/content/app-store-button.svg') no-repeat;
                        background-size: contain;
                    }
                    .play-store {
                        display: inline-block;
                        margin-left: 0.6785em;
                        width: 7.3125em;
                        height: 2.1875em;
                        background: url('../../../../src/assets/images/content/play-store-button.svg') no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        margin-top: 4.6875rem;
        .download-app-viewer {
            height: 34.3125em;
            .download-box {
                right: 2em;
                top: 6.3125em;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 4.6875rem;
        .download-app-viewer {
            background: url('../../../../src/assets/images/content/banner-app.jpg') no-repeat $gray-lightest;
            background-position: center;
            background-size: cover;
            height: 34.3125em;
            .download-box {
                right: 0;
                top: 6.375em;
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {
        margin-top: 3.875rem;
        .download-app-viewer {
            background: url('../../../../src/assets/images/content/banner-app.jpg') no-repeat $gray-lightest;
            background-position: center;
            background-size: cover;
            height: 19.4375em;
        }
        .download-box.sm-visible {
            width: 100%;
            background-color: $white;
            .text-wrapper {
                width: 90%;
                padding: 15px 0;
                margin: 0 auto;
                .heading-box {
              
                    width: 100%;
                    h1 {
                        font-size: 1.75em;
                        line-height: 1.21;
                    }
                }
                .description-box {}
                .download-buttons {
                    display: block;
                    .app-store {
                        display: inline-block;
                        width: 7.3125em;
                        height: 2.1875em;
                        background: url('../../../../src/assets/images/content/app-store-button.svg') no-repeat;
                        background-size: contain;
                    }
                    .play-store {
                        display: inline-block;
                        margin-left: 0.9375em;
                        width: 7.3125em;
                        height: 2.1875em;
                        background: url('../../../../src/assets/images/content/play-store-button.svg') no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}
