.content
    .subheader
        .subheader-content
            img.distributor-avatar(src='{{ctrl.signup.profileimage.img}}')
            .subheader-text
                div First step, let's set
                div up your account.
    .password-section
        .subsection.signup-components
            div.form-elements.row
                    label.form-label Confirm Password
                    input#passwordInput.form-input.password-input(ng-model="ctrl.signup.userpassword",type="{{ctrl.signup.currentState == 'text'? 'text': 'password'}}")
                    img#passwordImage.password-icon(ng-click='ctrl.signup.changeImage();', ng-src="{{ctrl.signup.currentState == 'text'? ctrl.signup.passwordimage.text: ctrl.signup.passwordimage.mask}}")
            div.form-group.row
                    label.form-label Password Hint
                    label.input-hint 240 character max
                    input#passwordHintInput.form-control(ng-model="ctrl.signup.userhint",type='text', maxlength='240', placeholder='example : favorite city' ng-blur='ctrl.signup.checkHint();')
