@import "../../../../src/stylesheets/partials/variables.scss";
.subheader {
   height : 135px;
   background: url(../../../../src/assets/images/css/prism-bg-lg.png) center no-repeat;
   text-align: center;
   .subheader-content{
     padding-top: 30px;
  }
  .distributor-avatar{
    width:70px;
    display:inline-block;
    vertical-align:top;
  }
  .subheader-text{
    display:inline-block;
    font-family: ProximaNova-Thin;
    font-size: 28px;
    color: white;
    line-height: 32px;
    margin-left: 16px;
    text-align: left;
  }
 }

 .password-input{
   width: 100%;
 }

 .password-section {
    background-color: white;
    padding: 9% 12%;
  }

  .subsection{
    font-family:ProximaNova-Regular;
    .input-hint{
      float: right;
      font-family: ProximaNova-Regular;
      font-size: 13px;
      line-height: 1.7;
      letter-spacing: -0.1px;
      color: $gray;
    }
  }

  .password-icon{
    margin-left: -42px;
  }

@media screen and (min-width: 769px){
  .subheader{
    height: 262px;
    .subheader-content{
      padding-top: 40px;
    }
  }
  .password-section{
    width: 556px;
    margin: auto;
    margin-top: -125px;
    padding: 6% 6%;
  }
}
