.storage-indicator-main-content
  .progress-indicator(ng-show='!ctrl.storageText', ng-class="ctrl.progressIndicator?'storage-text-red':'storage-text-normal'")
    | {{ctrl.myCurrentStorage}} {{ctrl.valueType}} of {{ctrl.myTotalStorage}} {{ctrl.valueType}} used
  .storage-text-red(ng-show='ctrl.storageText') Storage Almost Full
  #storageBar.progress
    #completeBar.progress-bar
