@import "../../../../../src/stylesheets/partials/variables.scss";

.storage-indicator-main-content{
  .progress {
    position: relative;
    width: 100%;
    height: 1.875em;
    background-color: $gray-lighter;
    height: 4px;
  }
  .progress-bar {
    position: absolute;
    height: 100%;
    background-image: linear-gradient(to right, $brand-primary, $brand-primary 36%, $carissma, $light-coral);
    width:100%;
  }
  .storage-text-normal{
    font-size: 0.813rem;
    font-weight: $proxima-light;
    color:$gray;
  }
  .storage-text-red{
    font-size: 0.813rem;
    font-weight: $proxima-light;
    color:$brand-danger;
  }
}
