.row.main-row
  .description-main-content
    .left-description-content
      h1.col-lg-12.col-md-12.description-heading-text.no-gutter DESCRIPTION
    hr.hr-line
    .col-lg-6.col-md-12.no-gutter
      h4.description-paragraph
        | Lorem ipsum dolor sit amet, ex eam dictas melius laboramus,
        | Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud.
        | Duo ad verear interesset, harum forensibus necessitatibus vis cu.
    .col-lg-6.col-md-12
      ul.list-items
        li
          | Lorem ipsum dolor sit amet, ex eam dictas melius laboramus,
          | Pri an brute temporibus,
          | Duo ad verear interesset.
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
        li Lorem ipsum dolor sit amet
