@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-productbasics {
    background: $white;
    .offer-icon {
        background: linear-gradient(to bottom, $orange, $pink-variant);
        width: 3.5rem !important;
        height: 3.5rem !important;
        right: 0;
        bottom: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        border-radius: 2rem;
        transition: opacity .3s 0s, visibility 0s .3s;
        overflow: hidden;
        padding: 8px;
        .discount-offer {
            strong {
                line-height: 0.5;
                font-size: 0.8125rem;

            }
            p{
                line-height: 0.5;
                font-size: 0.8125rem;
            }
        }
        .new-product {
            padding: 4px;
            strong {
                line-height: 0.5;
                font-size: 0.8125rem;

            }
        }
    }
    .offer-icon.offer-icon-is-visible {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    .top-rated-cover {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        .top-rated {
            width: 6rem;
            height: 1.5rem;
            border-radius: 2px;
            border: solid 1px $brand-green;
            padding-top: 4px;
            text-align: center;
            p {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.08;
                color: $brand-green;
                margin-top: 0.125rem;
            }
        }
    }
    .stock-status {
        clear: both;
        .stock-status-sub {
            p {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1;
                letter-spacing: 0.5px;
                color: $pink-variant;
                display: inline-block;
            }
            .stock-updates {
                display: inline-block;
                margin-left: 1.25rem;
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.46;
                color: $pink-variant;
                margin-top: 0.3125rem;
            }
        }
    }
    .image-container {
        position: relative;
    }
    .slick-dots {
        bottom: -3.25em;
        position: initial;
    }
    .slick-dots li {
        width: 0.625em;
        height: 0.625em;
    }
    .slick-dots li button {
        background: transparent;
        border: .0625rem solid $gray;
        width: 0.625em;
        height: 0.625em;
    }
    .slick-dots li.slick-active button {
        background: $gray;
    }
    .slick-dots li button:before,
    .slick-dots li.slick-active button:before {
        opacity: 0;
    }
    .pdp-productbasics-stars {
        display: inline-block;
        margin-left: 0;
        padding-left: 0;
        margin-right: 0.25em;
        float: left;
        li {
            display: inline;
        }
    }
    .pdp-productbasics-stars-div {
        padding: 0;
    }
    .ratings-text {
        margin-left: .3125em;
        vertical-align: sub;
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.5em;
        color: $gray;
    }
    .pdp-productbasics svg.heart {
        position: inherit;
        width: 90%;
    }
    .pdp-productbasics .Heart-Icon {
        text-align: center;
    }
    .pdp-productbasics button.favorite {
        margin: 0 auto;
    }
    .pdp-productbasics .modal-dialog {
        width: 20.75em;
    }
    .psv-section {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        .rate {
            float:left;
            margin-right: .6875em;
        }
        .psv-rate {
            background: $gray;
            color: $white;
            float:left;
            .psv-label {
                border-right: .0625em solid $white;
                font-size: 0.8125rem;
                line-height: 1.5em;
                text-transform: uppercase;
                padding: .3125em;
                vertical-align: middle;
                font-weight: lighter;
            }
            .psv-value {
                font-size: 1.125rem;
                line-height: 1.25em;
                padding: .3125em;
                vertical-align: middle;
                font-weight: lighter;
            }
        }
        .item {
            font-weight: $proxima-semibold;
            font-size: 0.8125rem;
            line-height: 1.55rem;
            color: $gray-light;
        }
        .item-specification {
            font-weight: $proxima-light;
            line-height: 1.375em;
        }
        .button-disable{
          opacity: 0.3;
          cursor: not-allowed;
        }
    }
    .description {
        line-height: 1.375em;
        font-weight: $proxima-light;
        width: 100%;
        overflow: hidden;
        div {
            width: auto;
            float: left;
            position: relative;

            &.order-type{
                padding-right: 5px;
            }

            &.order-discount{
                padding-left: 0px;
            }
        }

    }
    .pdp-product-carousel img {
        height: 34em;
        background-color: $gray-lighter;
    }
    .pdp-product-carousel div {
        height: 34em;
        align-content: center;
        margin: auto;
    }
    .pdp-product-carousel {
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .pdp-product-detials {
        padding-top: 5%;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .pdp-product-detials h1 {
        text-transform: none;
        width: 75%;
        float: left;
    }
    .navigation-banner {
        background-color: $gray-lightest;
        height: 3em;
    }
    .love {
        position: relative;
        left: .375em;
        font-weight: $proxima-light;
        font-size: 0.8125rem;
        color: $gray;
        padding-top: 1.25em;
    }
    .Heart-Icon {
        width: 15%;
        float: left;
        padding-left: 5%;
    }
    .dropdown-menu {
        background: -webkit-linear-gradient($aqua, $brand-primary);
        background: -moz-linear-gradient($aqua, $brand-primary);
        background: -ms-linear-gradient($aqua, $brand-primary);
        background: linear-gradient($aqua, $brand-primary);
        height: 21.25em;
        width: 23.4375em;
    }
    .popover-title {
        padding: 0;
    }
    .popover {
        border: 0;
    }
    .popover-arrow {
        top: -.5625em !important;
    }
    .popover-arrow::after {
        border-bottom-color: $brand-primary !important;
    }
    .percent {
        font-size: 3rem;
        font-weight: $proxima-thin;
        line-height: 1;
        letter-spacing: -0.01875em;
        color: $white;
    }
    .percent-text {
        width: 21.875em;
        height: 2.750em;
        margin-left: 1.875em;
        object-fit: contain;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
    }
    .left-upper-content {
        margin-top: 3.438em;
    }
    .left-upper-content span {
        color: $white;
        font-size: 1rem;
        font-weight: $proxima-semibold;
        height: 1.875em;
        display: block;
    }
    .below-content {
        margin-top: 2.813em;
        text-align: center;
    }
    .popover-star {
        margin-left: 3.438em;
    }
    .right-upper-content {
        font-size: 1rem;
        height: 2.750em;
        object-fit: contain;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
    }
    .feedback-upper-content {
        font-size: 1.5rem;
        height: 2.750em;
        object-fit: contain;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
    }
    .Rate-btn {
        width: 14.375em;
        background: none;
        border: 1px solid $white;
    }
    .ques-content {
        height: 2.750em;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
        right: 2.500em;
        font-size: 1.250em;
        text-align: center;
    }
    .Yes-btn {
        width: 11.250em;
        background: none;
        border: 1px solid $white;
    }
    .No-btn {
        width: 11.250em;
        background: none;
        border: 1px solid $white;
    }
    .btn {
        color: white;
    }
    .add-to-recurring-order {
        color: $brand-primary;
        &:focus,
        &:active:focus,
        &:hover {
            color: $white;
        }
    }
    .Sample-btn {
        width: 11.250em;
        background: none;
        border: 1px solid $white;
    }
    .Purchase-btn {
        width: 11.250em;
        background: none;
        border: 1px solid $white;
    }
    .close {
        float: right;
        font-size: 2.0rem;
        font-weight: bold;
        line-height: 1;
        color: $gray-lightest;
        text-shadow: 0 .0625em 0 $gray-lightest;
    }
    .percent-text1 {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
        text-align: center;
        margin-top: 4.063em;
    }
    .Submit-btn {
        width: 11.250em;
        margin-left: 5.313em;
        background: none;
        border: 1px solid $white;
        margin-top: 2.500em;
    }
    .Submit-btn1 {
        width: 11.25em;
        background: none;
        border: 1px solid $white;
        margin-top: 10px;
    }
    .open > .dropdown-menu {
        display: block;
    }
    .dropdown-menu {
        height: 23.438em;
        width: 23.438em;
    }
    .dropdown-menu {
        position: relative;
    }
    .pdp-popover-stars {
        display: inline-block;
        padding: 0;
    }
    .pdp-popover-stars li {
        display: inline;
        margin: 0 0.313em;
        cursor: pointer;
    }
    .pdp-small-container {
        text-align: center;
    }
    .pdp-popover-stars-1 {
        display: inline-block;
        padding: 0;
        margin-top: 0.75em;
    }
    .pdp-popover-stars-1 li {
        display: inline;
        margin: 0 0.15em;
        cursor: pointer;
    }
    .pdp-popover-stars-1 li img {
        width: 9%;
        height: 9%;
    }
    .close-btn {
        width: 11.250em;
        background: none;
        border: 1px solid $white;
        margin: 2.875em auto 0;
        display: block;
    }
    .cross-sign {
        position: absolute;
        right: 1em;
        top: 0.625em;
        background-image: url('../../../../src/assets/images/content/pdp-productbasics/ic-close-circle-sm.png');
        width: 1.5em;
        height: 1.5em;
		cursor: pointer;
    }
    .overall-rating-content {
        font-size: 1.375rem;
        height: 2em;
        font-weight: normal;
        line-height: 1.38;
        color: $white;
        left: 0.125em;
        text-align: center;
    }
    .dropdown-menu {
        background-color: $aqua;
        margin-top: 2.5em;
        border: 0;
        border-radius: 0;
    }
    .dropdown-menu::after {
        border-bottom: 1.063em solid $aqua;
        border-left: 0.688em solid transparent;
        border-right: 0.625em solid transparent;
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        bottom: 100%;
        left: 11.075em;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .Ratingstar-line {
        color: $white;
        width: 100%;
        text-align: center;
        font-size: 0.875em;
    }
    .Rating-submit-text {
        text-align: center;
    }
    .Rating-submit-text p {
        width: 12.500em;
        height: 0.750em;
        font-size: 1.0625rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        margin: 0 auto;
        color: $white;
        padding-top: 0.5em;
        left: 4.375em;
    }
    .mouse-cursor {
        cursor: pointer;
    }
    .pdp-remove-padding-lr {
        padding-left: 1em;
        padding-right: 1em;
    }
    .pdp-remove-margin-b {
        padding-bottom: 0;
    }
    .pdp-title-remove-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown-menu {
        position: absolute;
        left: -14.875em;
        width: 23.4375em;
        height: 21.25em;
		.container {
			margin: 0 1.5em;
			width: auto;
		}
    }
    .input-group .button-disable,
    .input-group .button-disable:hover {
        opacity: 0.3;
        cursor: not-allowed;
    }
    @media (max-width: 374px) {
        .slick-slider.carousel {
            margin-bottom: 0;
        }
        .pdp-product-carousel div {
            margin: 0 auto;
        }
        .dropdown-menu::after {
            left: 11.075em;
        }
        .psv-section {
            button {
                width: 100%;
            }
        }
        .pdp-productbasics-stars {
            padding-left: 0;
        }
        .pdp-productbasics-stars-div {
            padding-left: .9375em;
        }
        .dropdown-menu {
            left: -1.5em;
            top: .9375em;
        }
        .open > .dropdown-menu {
            top: 1em;
        }
        .dropdown-menu {
            position: relative;
            margin-bottom: 1.5em;
        }
        .pdp-product-carousel div {
          height: 20.75em;
          img{
            height: 20.75em;
          }
        }
    }
    .pdp-stars-div {
        width: 80%;
        .dropdown-toggle{
          display: block;
          float: left;
          width: 7.5em;
          margin-top: -1px;
          padding-left: 5px;
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {
        .pdp-product-detials h1 {
          width: 68%;
        }
        .pdp-product-carousel div {
          height: 20.75em;
          img{
            height: 20.75em;
          }
        }
		.psv-section {
        	margin-top: 1.5em;
		}
        .description {
            div{
                width: 100%;
                &.order-discount{
                    padding-left: 0.9375em;
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .pdp-product-detials{
            padding-left:0px;
        }
        .pdp-product-detials h1 {
          width: 80%;
        }
        .dropdown-menu {
          left: -18.5em;
        }
		.psv-section {
        	margin-top: 1.5em;
		}
        .add-to-recurring-order {
          padding-left: 7%;
          padding-right: 7%;
        }
        .pdp-product-carousel div {
          height: 19.75em;
          img{
            height: 19.75em;
          }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .pdp-product-carousel div {
        height: 26.5em;
        img{
          height: 26.5em;
        }
      }
      .psv-rate{
        margin-top: 4px;
      }
    }

    @media screen and (min-width: 1440px){
        .psv-rate{
          margin-top: 2.9px;
        }
    }
}

.modal-cross-sign {
    float: right;
    background-image: url('../../../../src/assets/images/css/ic-close-circle.png');
    width: 2em;
    height: 2em;
}

.form-control-label {
    padding: 0em;
}

.h-rule {
    width: 20.250em;
    height: 0.1px;
    margin-top: 4.063em;
    border: solid 1px $blue-lighter;
}

.main-row {
    background-color: $gray-lightest;
}

.description-main-content {
    width: 55.655em;
    display: table;
    margin: 0 auto;
    padding: 0 2.375em;
    background-color: $gray-lightest;
    .list-items {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
        padding: 0 1em;
        li {
            padding-bottom: 0.625em;
        }
    }
    .description-heading-text {
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 1.42;
        color: $gray-dark;
        padding-top: 1.2em;
    }
    .description-paragraph {
        font-weight: $proxima-thin;
        font-size: 1.5rem;
        line-height: 1.7rem;
        padding-bottom: 1.250em;
        padding-right: 1em;
    }
    .left-description-content {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
    }
    .hr-line {
        border: solid 1px $gray-dark-shade-3;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .description-paragraph {
            padding-right: 0;
        }
    }
    @media screen and (max-width: 479px) {
        .description-paragraph {
            padding-right: 0;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
    .description-main-content {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .description-main-content {
        padding: 0 8.375em;
        width: 100%;
    }
}
