// Usage for Page level error
page-level-error-component(error-message="productCtrl.errorMessage" danger-type="1" is-display-error-message="true")
.navigation-banner.hidden-xs-down
  .container-fluid.pdp-productbasics
    .row
      .col-md-6.col-sm-12.pdp-product-carousel
        // Carrousel box
        .Carousal-boxes(ng-if='!productCtrl.imageData.length')
          span
            img(src='../../../../src/assets/images/content/content-not-found.jpg')
        slick.carousel.carousel-primary(id="slickProduct" settings='productCtrl.slickPrimaryConfig', ng-if='productCtrl.imageData.length&&productCtrl.slickPrimaryConfig.enabled')
          .Carousal-boxes(ng-repeat='data in productCtrl.imageData')
            .image-container
              img(ng-src='{{data}}')
              .offer-icon.offer-icon-is-visible.inverse(ng-if='productCtrl.productData.discount.length')
                .discount-offer
                  span
                    strong {{productCtrl.productData.discount}}
                    p OFF
              .offer-icon.offer-icon-is-visible.inverse(ng-if='productCtrl.isNew()')
                .new-product
                  span
                    strong NEW


      // End Carrousel box
      .col-md-1.col-sm-12.visible-lg
      .col-md-5.col-sm-12.col-xs-12.pdp-product-detials
        .row
          .col-sm-12
            h1.m-b-0 {{productCtrl.productData.productName}}
        .row.no-gutter(ng-if='productCtrl.topRated()')
          .col-sm-12
            .top-rated-cover
              .top-rated
                p TOP RATED
        .row
          .col-sm-12
            .pdp-stars-div
              star-rating.pdp-productbasics-stars(rating-value="productCtrl.selRating" max="5")
              popover-component(rating-value='productCtrl.productData.totalRatings', is-question-visible='productCtrl.isQtn')
        .row
          .col-sm-12.psv-section
            h2.rate {{productCtrl.productData.productCost}}
        .row
          .psv-section
            pdp-variations-component(variation-type="productCtrl.variationType", product-data="productCtrl.imageData", heading-data="productCtrl.headingData", show-error="productCtrl.showError",slick-data = "productCtrl.slickPrimaryConfig")
        .row
          .psv-section
            .col-sm-1.col-xs-2
              .item ITEM
            .col-sm-11.col-xs-10
              .item-specification {{productCtrl.productData.itenNo}}
            .clearfix.visible-sm
            .col-sm-1.col-xs-2
              .item SIZE
            .col-sm-11
              .item-specification {{productCtrl.productData.capsuleNo}}
            .clearfix.visible-sm
        .row
          .col-sm-12
            .stock-status(ng-if='productCtrl.productData.stockStatus.length')
              .stock-status-sub(ng-if='productCtrl.stockStatus("LS")')
                p.m-b-0 LOW STOCK
                .stock-updates
                  {{productCtrl.productData.stockUpdate}}
              .stock-status-sub(ng-if='productCtrl.stockStatus("OS")')
                p.m-b-0 OUT OF STOCK
                .stock-updates
                  {{productCtrl.productData.stockUpdate}}
              .stock-status-sub(ng-if='productCtrl.stockStatus("BO")')
                p.m-b-0 ON BACKORDER
                .stock-updates
                  {{productCtrl.productData.stockUpdate}}
        .row
          .psv-section.col-sm-12
            .item
              span QUANTITY
            .input-group
              span.input-group-addon.left(ng-class="{'button-disable': productCtrl.quantity == 1}", ng-click="productCtrl.changeQuantity('-')") -
              input.form-control(type='text', ng-model='productCtrl.quantity',  ng-disabled='true')
              span.input-group-addon.right(ng-click="productCtrl.changeQuantity('+')" ng-class="{'button-disable': productCtrl.quantity >= productCtrl.productData.stockRemaining}") +
        .row
          .psv-section.col-sm-12.col-md-10.col-lg-8
            button.btn.btn-primary(type='button' ng-click="productCtrl.addProductToCart()" ng-class="{'button-disable':productCtrl.validateItem()}"  ) Purchase
            button.btn.btn-primary-outline.add-to-recurring-order.col-sm-12(type='button' ng-click="productCtrl.addRecurringOrder()") Secondary Button
  // row
  // content container
include ./pdp.productbasics.description.jade
