span.dropdown(is-open='ctrl.isOpen', on-toggle='ctrl.toggle(open)', uib-dropdown='')
  span(uib-dropdown-toggle='')
    a.mouse-cursor {{ctrl.ratingValue}} RATINGS
  .dropdown-menu(uib-dropdown-menu='')
    .pdp-popover
      .text-lg-right
        span(ng-click='ctrl.close()')
          .cross-sign
      .container(ng-show='ctrl.section.sec2 && !ctrl.isSigned')
        div
          .row.left-upper-content
            .col-sm-4.percent 90%
            .col-sm-8.right-upper-content of customers that have used the product recommend it.
        hr.h-rule
        div
          .row.below-content
            button.btn.Rate-btn(type='button', ng-click="ctrl.onRateProduct('sec2','sec3')") RATE PRODUCT
      .container(ng-show='ctrl.section.sec3 && !ctrl.isSigned')
        div
          .row.left-upper-content
            .col-md-3.col-sm-3.col-lg-3.col-xs-3.percent
            .col-md-9.col-sm-9.col-lg-9.col-xs-9.ques-content Did you receive this product as a sample or purchase it?
        div
          .row.below-content
            button.btn.Rate-btn.Sample-btn(type='button', ng-click="ctrl.changeSection('sec3','sec4')") SAMPLE
            br
            button.btn.Rate-btn.Purchase-btn(type='button', ng-click="ctrl.changeSection('sec3','sec4')") PURCHASE
      .container(ng-show='ctrl.section.sec4 && !ctrl.isSigned')
        div
          .row.left-upper-content
            .col-sm-3.percent
            .col-sm-9.ques-content Would you recommend this product to others?
        div
          .row.below-content
            button.btn.Yes-btn(type='button', ng-click="ctrl.changeSection('sec4','sec5')") YES
            br
            button.btn.No-btn(type='button', ng-click="ctrl.changeSection('sec4','sec5')") NO
      .container(ng-show='ctrl.section.sec5 && !ctrl.isSigned')
        div
          .row.left-upper-content
            .col-sm-12.overall-rating-content What's your overall rating?
            .col-sm-12.pdp-small-container
              span.col-sm-12(ng-show='!ctrl.submitButtonDisable')
                | {{ctrl.ratingVal}}
              span.col-sm-12(ng-show='ctrl.submitButtonDisable')
              ul.pdp-popover-stars
                li(ng-repeat='star in ctrl.getNumber()')
                  img(ng-src='{{ctrl.starFunction(star)}}', ng-click='ctrl.rateProduct(star)', ng-mouseover='ctrl.starMouseOver(star)', ng-mouseleave='ctrl.starMouseLeave()')
            .col-sm-12.Rating-submit-text
              p
                | Once submitted,
                br
                | a rating cannot be changed.
        div
          .row
            .col-sm-12.percent-text1
              button.btn.Submit-btn1(type='button', ng-click="ctrl.changeSection('sec5','sec6')", ng-disabled='ctrl.submitButtonDisable') SUBMIT
      .container(ng-show='ctrl.section.sec6 && !ctrl.isSigned')
        div
          .row.left-upper-content
            .col-sm-12.Feedback.feedback-upper-content
              center Thank you for your feedback!
          .col-md-9.col-sm-8.col-lg-9.col-xs-9.Ratingstar-line  YOUR RATING FOR THIS PRODUCT
        div
          .row
            .col-sm-12.pdp-small-container
              ul.pdp-popover-stars-1
                li(ng-repeat='star in ctrl.getNumber()')
                  img(ng-src='{{ctrl.starFunction(star)}}')
            .clearfix.visible-sm
            button.btn.close-btn(type='button', ng-click='ctrl.close()') CLOSE
