.modal-body
  div
    .modal-cross-sign(ng-click='cancel()')
  form
    .form-group
      p You must be signed in to submit the rating
    .form-group
      label.form-control-label Username
      input.form-control(type='text', ng-model='params.name')
      span.error-block(ng-show='errorMessage.name') {{errorMessage.name}}
    .form-group
      label.form-control-label Password
      input.form-control(type='password', ng-model='params.password')
      span.error-block(ng-show='errorMessage.password') {{errorMessage.password}}
    .form-group
      input.btn.btn-primary(type='button', value='SIGN IN', ng-click='validate()')
