@import "../../../../../src/stylesheets/partials/variables.scss";
.recent-carousel-container{
    background: $white;
  .pdp-carousel-image{
    margin-bottom: 1em;
    position: relative;
  }
  .pdp-crosssell-section{
    background: $white;
    padding: 3em 0;
  }
  .heading{
    text-align: center;
    margin: 2em 0;
  }
  .separator{
    margin: 0 5px;
    color: $gray-light;
  }
  .star-cont {
    padding-top: 0.688em;
  }
  .pdp-carousel{
    p{
      margin-bottom: 0;
    }
  }
  .star-rating-text{
  padding: 0 5px;
  display: inline;
  }
  .star-rating-text li {
    display: inline-flex;
    font-size: 0.813em;
    font-weight: $proxima-regular;
    line-height: 1.85;
    color: $gray;
  }
  .rating-R {
    display: inline-block;
  }

}