.pdp-recurring-order
  .modal-dialog
    .modal-content  
      .modal-header.p-b-0(ng-hide="ctrl.model.existingRecurringShoppingCart || ctrl.model.newOrderShoppingCart")
        .modal-cross-sign(ng-click='ctrl.cancel()')

      .modal-body.clearfix.p-y-0.p-x-2(ng-hide="ctrl.model.newOrderShoppingCart || ctrl.model.existingRecurringShoppingCart")
        div(ng-show = "ctrl.model.hasexistingRecurringAcc")
          h3.center.choose-order-heading Choose Order
          div.radio.col-sm-12(ng-show = "ctrl.model.hasexistingRecurringAcc")
            div(ng-show='ctrl.model.newRecurringOrderCreated')
              div
                input(type='radio' id="current-recurring" name= "recurringorder" value = "currentRecurring" ng-click="ctrl.addtoCurrentOrder()" checked = "true")
                label Choose Current Recurring Order in the Cart
              legend
            div(ng-repeat="value in ctrl.model.existingRecurringOrder")
              input(type='radio' id="recurring-order" name ="recurringorder" value="recurringorder" ng-click='ctrl.addToExisting(value)')
              label(for="recurringorder") Recurring Order {{value.recurringorder}} 
                div.shipdate Shipdate {{value.shipdate}}
          
            div(ng-hide='ctrl.model.newRecurringOrderCreated')
              input(type='radio' id="new-recurring-order" name ="recurringorder" value="newrecurringorder" ng-click='ctrl.newOrder()')
              label.p-b-2 Create New Order
          div(ng-show="ctrl.model.currentOrderSelected && ctrl.model.newRecurringOrderCreated")
            button.btn.btn-primary.m-b-2(type="button" ng-click= "ctrl.addtoCart()") Add to Cart
        div(ng-show="ctrl.model.addtoExistingOrder" )
          legend
          h3.center.m-b-2 Choose Option
          div.radio.col-sm-12.clearfix
            div
              input(type='radio' id="add-to-Future-Shipments" name ="chooseOptions" value="addtoFutureShipments" checked = "true")
              label Add to all future Shipments
            div
              input(type='radio' id="add-to-One-Time" name ="chooseOptions" value="addtoOneTime" )
              label Add one Time Only
          div
            button.btn.btn-primary.m-b-2(type="button" ng-click = "ctrl.addtoRecurringOrder()") Add To Recurring Order
        div.schedule(ng-show="ctrl.model.createNewOrder || !ctrl.model.hasexistingRecurringAcc")
          legend(ng-hide="!ctrl.model.hasexistingRecurringAcc")
          h3.center.m-b-2 Choose Schedule
          div.radio.col-sm-12.clearfix
            p Ship these items every:
            div
              input(type='radio' id="every-week" name ="chooseSchedule" value="everyweek" checked= "true" )
              label Every week
            div
              input(type='radio' id="every-2-week" name ="chooseSchedule" value="every2week" )
              label Every 2 weeks
            div
              input(type='radio' id="every-3-week" name ="chooseSchedule" value="every3week" )
              label Every 3 weeks
          div
            button.btn.btn-primary.m-b-2(type="button" ng-click= "ctrl.addtoCart()") Add to Cart

      .modal-body.remove-padding.p-y-0.clearfix(ng-show="ctrl.model.newOrderShoppingCart")
        ng-form(name='productBag.popupForm', novalidate='')
          .row
            .col-lg-12
              div.center.bag-image.clearfix
                img(src='../../../../src/assets/images/css/group.png' no-repeat )
              center
                .p-y-1.cart-details Item added to
                  br
                  | New Recurring Order #4
              legend
              center.cart-details
                .updated-order Shopping Bag Total:
                .total-amount {{ctrl.model.shoppingCartDetail[0].productCost}}
            .p-t-2.col-sm-12.cart-details-section
              div.col-sm-6.bag-items 
                |BAG ITEMS 
                span {{ctrl.model.shoppingCartDetail[0].itemsAdded}}
              div.col-sm-6.psv-total
                |LOREM TOTAL
                span {{ctrl.model.shoppingCartDetail[0].psvValue}}
              .clearfix.visible-lg
            .clearfix.visible-lg
      .modal-body.remove-padding.p-y-0.p-x-2.clearfix(ng-show="ctrl.model.existingRecurringShoppingCart")
        ng-form(name='productBag.popupForm', novalidate='')
          .row
            .col-lg-12
              div.center.bag-image.clearfix
                img(ng-src='../../../../src/assets/images/css/group.png' no-repeat )
              center
                p.p-t-1 Items added to
                  br 
                  | Recurring Order {{ctrl.model.recurringItem.recurringorder}}
                div.p-b-1
                  a EDIT ORDER
              legend.m-y-0
              center.cart-details
                .p-y-1 The following items will be scheduled to ship on {{ctrl.model.recurringItem.shipdate}}:
                .updated-order Updated Order Total
                .b.total-amount {{ctrl.model.shoppingCartDetail[0].productCost}}
              legend.m-y-1.clearfix
              center
                div(ng-click="ctrl.seeAllItems()" ng-hide="ctrl.model.seeAllitems")
                  span See All Items
                div.clearfix(ng-show="ctrl.model.seeAllitems")
                  div.product-Image.clearfix.col-sm-4(ng-repeat="imageItem in ctrl.model.recurringItem.images track by $index")
                    img.product-Img(ng-src="{{imageItem}}")
                div.clearfix(ng-click="ctrl.seeAllItems()" ng-show="ctrl.model.seeAllitems")
                  span Hide All Items
                center.cart-details.p-y-2 Would you like to save the changes to your recurring order?
                button.btn.btn-primary.col-sm-12 SAVE 
                button.btn.btn-primary-outline.col-sm-12.m-b-2(ng-click="ctrl.cancel()") CANCEL