@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-recurring-order{
    margin-top:3.250em;
    .modal-dialog{
                width: 20.313em;
                margin: auto;   
    }
    .modal-body{

        .bag-image{
            padding-top: 2.813em;
            }
        a{
            font-weight: $proxima-semibold;
            text-decoration: none;
            font-size: 0.813em;
            cursor: pointer;
        }
        .cart-details{
            font-weight: $proxima-thin;
            line-height: 1.19;
            .updated-order{
                font-size: 0.875em;
                line-height: 2.43;
            }
            .total-amount{
                font-size: 1.750em;
                line-height: 1.21;
            }
        }
        .cart-details-section{
            padding-bottom: 0.938em;
            font-weight: $proxima-thin;
            line-height: 1.19;
            font-size: 0.813em;
            .bag-items{
                padding-left: 10%;
                border-right: 1px solid $gray-whisper;
                margin-left: -0.875em;
                text-align: right;
            }
            .psv-total{
                padding-right: 0;
                padding-left: 0.986em;
            }
            span{
                color: $gray;
                font-weight: normal;
                font-size: 1.125rem;
                line-height: 1.89;
                padding-left: 0.263em;
                cursor: default;
            }
        }
        .product-Image{
            .product-Img{
                height: 4em;
                margin: 0.625em 0;
            }
        }
        span{
            color: $brand-primary;
            font-weight: $proxima-semibold;
            font-size: 0.875rem;
            cursor: pointer;
        }
                      
        .radio{
            p{
                font-weight: $proxima-thin;
            }
            input[type="radio"]{
                height: 30%;
            }
            label{
                font-weight: $proxima-thin;
                font-size: 1rem;
                margin-bottom: 1.438em;
                .shipdate{
                    font-weight: $proxima-light;
                    font-size: 0.813rem;
                }
            }
            .p-b-2{
                padding-bottom: 1.188em !important;
            }
        }
        h3{
            text-transform: none;
            margin-bottom: 1.5em;
        }
        legend{
            margin-bottom: 1.500em;
        }
    }
}
     @media screen and (min-width: 768px){
         .pdp-recurring-order{
             margin-top:1.938em;
             .modal-dialog{
                width: 34.375em;
            }
            .p-y-0{
                padding-bottom: 0.750em !important;
            }
            .p-x-2{
                padding-left: 3.625em !important ;
                padding-right: 3.625em !important ;
            }
            .product-Image{
                        width: 19.83%
            }
            .modal-body{
                .radio{
                    padding-left: 25%;
                    padding-right: 11%;
                    .p-b-2{
                        padding-bottom: 0.563em !important;
                    }
                }
                .cart-details-section{
                    padding-bottom: 1.500em;
                    .bag-items{
                        padding-left: 29%;
                    }
                    .psv-total{
                        padding-left: 1.1em;
                        padding-right: 0;
                    }
                }
            }
        }
     }