@import "../../../../src/stylesheets/partials/variables.scss";
.category-directory{
  background-color: $white;
  .category-directory-banner{
    height: 37.5em;
  }
  .category-directory-info{
    padding: 2.8125em 0;
    h1{
      font-size: 2.375rem;
      line-height: 1.23;
    }
    h5{
      margin-bottom: 6px;
    }
  }
  .category-snapshot-down{
    width: 100%;
    height: 12.5625em;
    background-image: linear-gradient(to top, $aqua, $brand-primary);
    padding-top: 2em;
    h1, p{
      color: $white;
    }
  }
  .category-snapshot{
    padding-top: 14.5em;
    padding-left: 10em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
    height: 37.5em;
    background-size: cover;
    .headline{
      font-weight: $proxima-thin;
    }
    p{
      width: 23rem;
    }
  }
  .category-directory-content{
    padding: 0 2em;
  }
  uib-accordion{
    border-top: 1px $gray-lighter solid;
    display: block;
  }
  .category-directory-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .category-directory-section{
      padding: 0 12px;
      flex-basis: 25%;
    }
  }
  .panel{
    background-color: $white;
  }
  .panel-default .accordion-toggle:after {
      content: '';
      background: url('../../../../src/assets/images/css/ic-dropdown-arrow.svg') center no-repeat;
      height: 1.6875rem;
      width: 1.6875rem;
      transition: all .2s;
      float: right;
      display: inline-block;
      margin-top: 5px;
  }
  .panel-default.panel-open .accordion-toggle:after {
      height: 1.6875rem;
      width: 1.6875rem;
      background: url('../../../../src/assets/images/css/ic-dropdown-arrow.svg') center no-repeat;
      transform: rotate(180deg);
      content: '';
  }
  .panel-title{
    border-bottom: 1px $gray-lighter solid;
    padding: 0.5em 10px 0.5em 0;
    margin: 0;
    font-size: 1.75rem;
    line-height: 1.21;
    h2{
      display: inline-block;
      margin: 0;
    }
    a{
      display: block;
      text-decoration: none;
      outline: none;
      p{
        display: inline-block;
        margin: 0;
      }
    }
  }
  .panel-body{
    border-bottom: 1px $gray-lighter solid;
    padding: 1.25em 0 2em;
    a{
      font-size: 1rem;
      font-weight: $proxima-light;
      line-height: 1.38;
      cursor: pointer;
    }
  }
  .watch-video-panel{
    background-position: 50%;
    background-repeat: no-repeat;
    width: 100%;
    center{
      padding-top: 6.25em;
      color: $white;
      p{
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 1.17;
        text-transform: uppercase;
        margin-bottom: 0;
      }
    }
    button{
      background-color: rgba(0, 0, 0, 0.001);
      border: 1px $white solid;
      font-size: 0.8125rem;
      font-weight: $proxima-semibold;
      line-height: 1.31;
      letter-spacing: 0.5px;
      height: 2.75rem;
      width: 9.625rem;
      border-radius: 3px;
      margin-top: 1.25em;
      text-transform: uppercase;
      outline: none;
    }
  }
  .watch-video-overlay{
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .watch-video-panel-category{
    margin: 0 auto;
    video{
      height: 100%;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 767px){
    .category-directory-row{
      .category-directory-section{
        flex-basis: 100%;
      }
    }
    .category-directory-banner{
      height: 20.25em;
    }
    .category-snapshot{
      height: 20.25em;
    }
    .category-snapshot-down{
      display: block;
      text-align: center;
      overflow: auto;
      height: 100%;
      p{
        padding: 0 1.5em 1em;
      }
    }
    .watch-video-panel{
      height: 20.25em;
      background-size: cover;
      center{
        padding-top: 6.375rem;
      }
    }
    .category-directory-info{
      h1{
        font-size: 1.875rem;
      }
    }
    .watch-video-panel-category{
      height: 20.25em;
      padding-top: 3.5rem;
      .embed-responsive-16by9{
        margin: 0 auto;
        width: 23.4375rem;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .category-directory-row{
      .category-directory-section{
        flex-basis: 33.33%;
      }
    }
    .category-directory-banner{
      height: 20.25em;
    }
    .category-snapshot{
      padding-top: 5.625em;
      padding-left: 4.625em;
      height: 20.25em;
      p{
        width: 15rem;
      }
    }
    .category-snapshot-down{
      display: none;
    }
    .category-directory-content{
      padding: 0 4em;
    }
    .headline{
      font-size: 1.875rem;
    }
    .watch-video-panel{
      height: 20.25em;
      background-size: cover;
      center{
        padding-top: 6.375rem;
      }
    }
    .category-directory-info{
      h1{
        font-size: 1.875rem;
      }
    }
    .watch-video-panel-category{
      width: 48em;
      height: 20.25em;
      .embed-responsive-16by9{
        height: 100%;
        padding-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .category-directory-banner{
      height: 26.75em;
    }
    .category-snapshot{
      padding-top: 8.5em;
      padding-left: 7em;
      height: 26.75em;
      p{
        width: 19.5rem;
      }
    }
    .category-snapshot-down{
      display: none;
    }
    .headline{
      font-size: 2.375rem;
    }
    .watch-video-panel{
      height: 28em;
      background-size: cover;
      center{
        padding-top: 10.25rem;
      }
    }
    .watch-video-panel-category{
      video{
        height: 28em;
      }
    }
  }
  @media screen and (min-width: 1440px){
    .category-snapshot-down{
      display: none;
    }
    .headline{
      font-size: 3.25rem;
    }
    .watch-video-panel{
      height: 37.5em;
      background-size: cover;
      center{
        padding-top: 14rem;
      }
    }
    .watch-video-panel-category{
      width: 66.6875rem;
      height: 37.5rem;
    }
  }
}
