.container-fluid.category-directory
  .row
    .col-md-12.category-directory-banner.no-gutter
      .col-md-12.col-sm-0.category-snapshot(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
        .col-lg-5.col-md-6.col-sm-6.hidden-sm-down
          h1.headline {{ctrl.pageHeadline}}
          p {{ctrl.pageShortDescription}}
    .col-sm-12.category-snapshot-down
      h1.headline {{ctrl.pageHeadline}}
      p {{ctrl.pageShortDescription}}
    .clearfix.visible-lg
    .col-sm-12.category-directory-info
      h5.center {{ctrl.pageCategory}}
      h1.center {{ctrl.pageSubCategory}}
    .col-sm-12.category-directory-content
      uib-accordion
        .panel-default(uib-accordion-group='', ng-repeat='group in ctrl.groups' ng-init="status = {isOpen: $first && ctrl.isFirstOpen}" is-open="status.isOpen")
          uib-accordion-heading
            h2
              | {{group.title}}
              p ({{group.items.length}} items)
          .row.category-directory-row
            .col-lg-3.col-md-4.col-sm-12.m-b-1.category-directory-section(ng-repeat="getItem in group.items")
              a {{getItem.item}} ({{getItem.count}})
    .col-sm-12.watch-video-panel.no-gutter(ng-style="{'background-image': 'url({{ctrl.watchVideoUrl}})'}")
      div.watch-video-overlay
      .col-sm-12.no-gutter
        center(ng-hide='ctrl.videoPlaying')
          p Balanced Nutrition
          p Backed by Nu Skin Science
          button(ng-click='ctrl.togglePlay()') Watch Video
        .watch-video-panel-category(ng-hide='!ctrl.videoPlaying')
          .embed-responsive.embed-responsive-16by9
            video#video-category-directory.embed-responsive-item(ng-src='{{ctrl.videoURL}}' ng-click='ctrl.togglePlay()' ng-hide='!ctrl.videoPlaying' ui-event="{ended:'ctrl.onVideoEnd()'}")
              source(type='video/mp4')
              | Your browser doesn't support HTML5 video.
