.my-store-order-confirmation-container.clearfix.col-sm-12
  .order-confirmation
    .order-confirmation-components
      div.order-confirmation-title.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
        label.confirmation-title ORDER CONFIRMATION
      div.order-confirmation-content.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2
        label.confirmation-content When a customer completes their order they see the following note from you. Edit it and make it your own!
      div.order-confirmation-message.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2(ng-hide='mystoreorder.showSaveCancelButtons')
        div.order-confirmation-edit-button
          button.btn-edit(ng-click='mystoreorder.editClick()')
        div.order-confirmation-message-title
          label.message-title Congrats {Customer's Name}!
        div.order-confirmation-message-content
          p.message-content {{mystoreorder.messageContentOriginal}}
      div.order-confirmation-form.col-xl-6.col-xl-offset-3.col-lg-8.col-lg-offset-2(ng-show='mystoreorder.showSaveCancelButtons')
        form.nomargin(name="mystoreorder.messageForm" novalidate)
          div.order-confirmation-data
            div.order-confirmation-message-title
              label.message-title Congrats {Customer's Name}!
            div.order-confirmation-message-content-editable
              textarea.message-input(rows=5, columns=200, name="messageContentBind" ng-model='mystoreorder.messageContentBind' required ng-class="{'ng-touched': mystoreorder.messageForm.$submitted}")
          div.order-confirmation-buttons
            div.save-button
              button.btn.btn-primary.m-b-1.m-t-1(ng-click='mystoreorder.saveClick()') Save
            div.cancel-button
              button.btn.btn-primary-outline.btn-block(ng-click="mystoreorder.cancelClick()") Cancel