@import "../../../../src/stylesheets/partials/variables.scss";
.my-store-order-confirmation-container{
    padding: 0;
    .order-confirmation{
        background-color: $gray-lightest;
        height: 26.75rem;
        .message-container{
            .message-title{
                padding-left: 0;
                padding-right: 0;
            }
            .message-content{
                padding-left: 0;
                padding-right: 0;
                width: 28%;
            }
            .message-button{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .order-confirmation-components{
            background-color: $gray-lightest;
            padding:4% 8%;
            
            .order-confirmation-message-content{
                padding-left: 0.625rem;
                padding-bottom: 2.5625rem;
            }
            .order-confirmation-message{
                background-color: $white;
                padding: 0;
                .order-confirmation-message-title{
                    padding: 1.5625rem;
                    padding-bottom: 0.5rem;
                }
                .order-confirmation-message-content{
                    padding: 1.5625rem;
                    padding-top: 0;
                }
                .order-confirmation-edit-button{
                    .btn-edit{
                        background: url(../../../../src/assets/images/css/stroke-sm.png) center no-repeat;
                        height: 1.875rem;
                        width: 1.875rem;
                        margin-top: -0.625rem;
                        margin-right: -0.625rem; 
                        border: none;
                        float: right;
                        background-color: $white;
                        float: right;
                        border-radius: 0.9375rem;
                    }
                }
            }
            .message-input{
                height: 4.125rem;
                width: 100%;
                font-weight: $proxima-light;
                line-height: 1.375rem;
                border-color: $white;
            }
            .order-confirmation-title{
                padding: 0;
                .confirmation-title{
                    font-size: 1.375rem;
                    font-weight: $proxima-thin;
                    line-height: 1.625rem;
                    letter-spacing: 0.4px;
                    color: $gray-dark;
                }
            }
            .order-confirmation-content{
                padding: 0;
                padding-bottom: 1.375rem;
            
                .confirmation-content{
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.375rem;
                    color: $gray-dark;
                }
            }
            .message-title{
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.375rem;
                color: $gray-dark;
            }
            .order-confirmation-form{
                padding: 0;
                .order-confirmation-data{
                    background-color: $white;
                    border: solid 1px $brand-primary;
                    .order-confirmation-message-title{
                        padding-top: 1.5625rem;
                        padding-left: 1.5625rem;
                    }
                    .order-confirmation-message-content-editable{
                        padding-left: 1.4375rem;
                        padding-top: 0.375rem;
                        padding-bottom: 2.5625rem;
                        padding-right: 1.5625rem;
                    }
                }
                .order-confirmation-buttons{
                    padding-top: 0.625rem;
                }
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
        .order-confirmation{
            .order-confirmation-components{
                padding: 8% 8%;
                .message-input{
                    height: 100%;
                }
                .order-confirmation-form{
                    .order-confirmation-data{
                        .order-confirmation-message-content-editable{
                            padding-bottom: 1.875rem;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .order-confirmation{
            .order-confirmation-components{
                padding: 7% 11%;
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        .order-confirmation{
            height: 28.5625rem;
            .order-confirmation-components{
                padding: 7% 6%;
                .order-confirmation-message{
                    .order-confirmation-message-title{
                        padding-bottom: 0.3125rem;
                    }
                }
            }
        }
    }
}