.landing-page-distributor
  .landing-page-distributor-banner
    .landing-page-distributor-banner-overlay
    .landing-page-distributor-banner-text
      h1.m-b-0 PURSUE YOUR DREAMS
      h2 By becoming a Distributor
  .as-a-distributor-container
    .as-a-distributor
      .reason-header
        h3.center.m-b-0
          span As a Distributor You'll be able to
          em.center
      .row
        div.distributor-info-wrapper
          .col-lg-4.col-sm-12.distributor-brief
            h5.center Earn Income by Selling high quality products
            p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie pellentesque aliquet.
          .col-lg-4.col-sm-12.distributor-brief
            h5.center Drive and grow your success, on your terms
            p.center Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud. Latine voluptua maluisset pri ex, ea alienum ancillae assueverit pri, ne mea elitr scripserit referrentur. 
          .col-lg-4.col-sm-12.distributor-brief
            h5.center Creating an enriching and uplifting culture
            p.center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie pellentesque aliquet lorem.
        .col-sm-12.center
          a.btn.btn-primary.m-b-0(href="#/signupdistributor") Become a distributor
  .category-details
    h1.center.m-b-0 Our Mission
    p.center.m-b-0 To be a force for good throughout the world by empowering people to improve lives with rewarding business opportunities, innovative products, and an enriching, uplifting culture.

  .sign-up-today-banner
    .category-directory-video-container.container-fluid.no-gutter
      .embed-responsive.embed-responsive-16by9(ng-if='ctrl.videoURL.length')
        video(id='video-category-directory', ng-click='ctrl.togglePlay()', ui-event='{ended: "ctrl.videoEnd()"}')
          source(ng-src='{{ctrl.videoURL}}', type='video/mp4')
          |                   Your browser doesn't support HTML5 video.
        .video-btn-1(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay()')
          .video-overlay-lp.inverse
            .video-desc-lp
              h2.m-b-0 What Makes NU Skin Different?
            .watch-video-outer.m-b-0(ng-click='ctrl.togglePlay()')
              .watch-video-inner.m-b-0
                p.m-b-0 WATCH VIDEO
      .clearfix.visible-sm

  .how-does-it-work-container
    .how-does-it-work
      h3.center How does it Work?
      ul.ul-how-point
        li.row
          .col-md-2.col-sm-3.p-r-0
            i 1
          .col-md-10.col-sm-9.p-l-0
            p.m-b-0
              b Lorem ipsum dolor sit amet
            p.m-b-0 Contrger est emet un eficirted lorem ipsum sit amet contrger.
        li.row
          .col-md-2.col-sm-3.p-r-0
            i 2
          .col-md-10.col-sm-9.p-l-0
            p.m-b-0
              b Lorem ipsum dolor sit amet
            p.m-b-0 Contrger est emet un eficirted lorem ipsum dolor sit amet contrger.
        li.row.m-b-0.no-border
          .col-md-2.col-sm-3.p-r-0
            i 3
          .col-md-10.col-sm-9.p-l-0
            p.m-b-0
              b Lorem ipsum dolor sit amet
            p.m-b-0 Contrger est emet un eficirted ipsum amet contrger.
    .clearfix.visible-sm
    .sales-compensation-plan.col-lg-12.center
      a Sales Compensation Plan
    .clearfix.visible-sm
  .distributor-products
    h3.center Recommended Introductory Packages
    h6.center Contrger est emet un eficirted lorem ipsum dolor sit amet contrger.
    .col-xl-3.col-lg-4.col-md-6.col-sm-12(ng-repeat='categories in ctrl.featuredCategoriesData')
      .category-item
        .category-text
          h3.m-b-0 {{categories.productTitle}}
          p.m-b-0 {{categories.productDescription}}
        a.category-image
              img.img-category(height='100%' ng-src="{{categories.productImage}}")
        .clearfix.visible-sm
    .clearfix.visible-sm
    .view-introductory-packages.col-lg-12.center
      a View all Introductory Packages
    .clearfix.visible-sm
  .success-story-container
    .success-story
      h3.center.m-b-0 Success Stories
      slick.carousel.carousel-secondary(settings='ctrl.slickVideoConfig', ng-if='ctrl.featuredCategoriesData.length')
        .col-sm-12(ng-repeat='slide in ctrl.featuredCategoriesData')
          .success-story
            .learn-more
              .video-parent
                .left-panel.col-sm-5(ng-if="slide.successStory.type=='image'")
                  img.user-image(src='{{slide.successStory.url}}')    
                .left-panel.col-sm-6.video-panel(ng-if="slide.successStory.type=='video'")
                  .embed-responsive.embed-responsive-16by9
                    video.embed-responsive-item(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.videoEnd($index)'}")
                      source(ng-src='{{slide.successStory.url}}', type='video/mp4')
                      |                                         Your browser doesn't support HTML5 video.
                    .video-btn
                      button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')
                        span Play
                .right-panel(ng-class="(slide.successStory.type=='image')?'col-sm-7 padding-image':'col-sm-6 padding-video'")
                  em.quotes.pull-left &ldquo;
                  i.quotes-text.pull-left {{slide.successStory.message| limitTo:140}}{{slide.successStory.message.length > 140 ? '...' : ''}}
                    em.quotes.pull-right &rdquo;
                  .clearfix.visible-sm
                  p &mdash; {{slide.successStory.customerName}}
                  button.btn.btn-primary.m-t-2 Start Selling