@import "../../../../src/stylesheets/partials/variables.scss";
.landing-page-distributor{
  .landing-page-distributor-banner{
    background: url('../../../../src/assets/images/content/banner-distributor.png') no-repeat $gray-lightest;
    height: 31.625em;
    background-size: cover;
    background-position: 50%;
    h1{
      font-size: 3em;
      color: $white;
      margin-bottom: 5px;
    }
    h2{
      font-size: 1.875em;
      color: $white;
    }
    .landing-page-distributor-banner-overlay{
      background-image: linear-gradient(to top, $distributor-overlay-from, $distributor-overlay-to);
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 31.625em;
    }
    .landing-page-distributor-banner-text{
      padding: 8.875em 0 0 10em;
      position: absolute;
    }
  }
  .as-a-distributor-container{
    background-color: $white;
    padding-bottom: 1em;
    .as-a-distributor{
      width: 100%;
      padding: 3.625em 7.75em 4.5rem;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      .reason-header{
        padding-bottom: 2em;
        h3{
          margin-bottom: 5px;
          em {
            width: 4.0625em;
            height: 3px;
            background-color: $aqua;
            display: inline-block;
          }
          span {
            display: block;
          }
        }
      }
      .distributor-info-wrapper {
          display: table;
          width: 100%;
          .distributor-brief {
            display: table-cell;
            vertical-align: top;
          }
        }
      h5{
        width: 17.25rem;
        padding: 0 3rem 3px;
        margin: 0 auto;
      }
      p{
        width: 20rem;
        margin: 0 auto;
      }
      .btn-primary{
        margin-top: 3em;
        width: 27.125rem;
      }
    }
  }
  .category-details{
    background: $white;
    padding-top: 4.25em;
    padding-bottom: 5.25em;
    .category-text{
      text-align: center;
      padding-left: 0rem;
      color: $gray-dark;
      label{
        font-size: 1.375rem;
        font-weight: $proxima-thin;
      }
    }
    p{
      font-size: 0.875rem;
      width: 33.5em;
      margin: 0 auto;
    }
    h1{
      font-size: 1.875rem;
    }
  }
  .view-introductory-packages{
    padding: 1.5em 0 2.5em 0;
    font-size: 0.875rem;
  }
  .sign-up-today-banner{
    .category-directory-video-container{
      padding-top: 0;
      .video-overlay-lp{
          cursor: pointer;
          text-align: center;
          width: 100%;
          margin-top: 15.875em;
          padding: 0;
          position: relative;;
          z-index: 10;
          border: none;
          .video-desc-lp{
            h2{
              width: 9.625em;
              margin: 0 auto;
            }
          }
          .watch-video-outer{
            margin: 1.187em auto;
            width: 9.625em;
            height: 2.75em;
            position: relative;
            border-radius: 3px;
            border: solid 1px $white;
            .watch-video-inner{
              position: relative;
              height: 1em;
              margin: auto;
              text-align: center;
              top: calc(50% - 8px);
              p{
                margin: auto;
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1.31;
                letter-spacing: 0.5px;
              }

            }
          }
          .watch-video-outer:hover{
            border: solid 1px $blue-light;
          }
      }
      .video-box{
      }
      .embed-responsive-16by9{
        height: 37.5em;
        padding-bottom: 0;
        video{
          background-color: $black;
        }
      }
    }
  }
  .distributor-products{
    padding: 2.75em 2em 0;
    h6{
      font-size: 0.875rem;
      font-weight: $proxima-light;
      margin-top: 1em;
      width: 16.375em;
      margin: 0 auto;
      padding-bottom: 1.5em;
    }
    .category-item{
      cursor: pointer;
      width: 20em;
      height: 20em;
      padding: 1.75em 0 0;
      background-color: $white;
      display: block;
      .category-image{
        padding-left: 0rem;
        padding-top: 3em;
        padding-bottom: 0;
        text-align: center;
        .img-category{
          height: 11.75em;
          margin: 0 auto;
          display: block;
        }
      }
      h3{
        padding-left: 1.5rem;
      }
      p{
        padding-right: 2.5em;
        padding-left: 1.5em;
      }
    }
  }
  .slick-slider.carousel .slick-next{
    right: -17.2rem;
    width:1.9rem;
  }
  .slick-slider.carousel .slick-prev{
    left: -17.2rem;
    width:1.9rem;
  }
  .success-story-container{
    background: $white;
    padding-top: 4.75em;
    .success-story{
      margin: 0 auto;
      padding-bottom: 1rem;
      width: 55.625em;
      p{
        margin: 0 auto;
        width: 29em;
      }
      .learn-more{
        margin-top: 2em;
        height: 26.75em;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
        padding-left: 0px;
        padding-right: 0px;
        .video-panel{
            display: table;
          }
        .left-panel{
          float: left;
          padding-left: 0;
          padding-right: 0;
          height: 100%;
          .embed-responsive{
            display: table-cell;
            vertical-align: middle;
          }

          img {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
        .right-panel{
          float: right;

          em.quotes{
            width: 2.875rem;
            height: 2.625rem;
            opacity: 0.07;
            font-size: 6.25rem;
            font-weight: $proxima-light;
            font-style: normal;
            line-height: 1.18;
            color: $gray-black;
            display: inline-block;
          }
          i.quotes-text{
            font-size: 1.625rem;
            font-weight: $proxima-light;
            line-height: 1.23;
            display: inline-block;
            color: $gray;
            padding-left: 2.25rem;
            margin-top: -6px;
          }
          p{
            color: $gray-black;
            width: 100%;
            padding-left: 2.25rem;
          }
        }
        .padding-image{
         padding: 0 6.125em 0 6.375em;
          }
        .padding-video{
          padding: 3.125em 6em 0 1.5em;
        }  
      }
    }
  }
  /* Carousel Dots CSS*/
  .slick-dots {
    bottom: -3.25em;
    position: initial;
  }
  .slick-dots li {
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li button {
      background: transparent;
      border: .0625rem solid $gray-lighter;
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li.slick-active button {
      background: $gray-light;
      border: .0625rem solid $gray-light;
  }
  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
      opacity: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 5.5rem;
  }
  .embed-responsive {
    video#video-0 {
      padding-left: 2.5rem;
      padding-right: 1rem;
    }
  }
  .slick-slider.carousel .slick-slide {
    padding-left: 0;
  }
  .how-does-wrapper {
    padding-bottom: 3.875rem;
  }
  .how-does-it-work-container{
    padding-top: 5.375em;
    background-color: $white;
    .how-does-it-work{
      width: 36.25em;
      margin: 0 auto;
      h3{
        margin-bottom: 1em;
      }
      .ul-how-point{
        margin: 0;
        padding: 0;
        li{
          margin-bottom: 1.5em;
          list-style: none;
          width: 36.25em;
          min-height: 4.125em;
          border-bottom: solid 1px $gray-lighter;
          i{
            width: 2.8125rem;
          	height: 2.8125rem;
          	-moz-border-radius: 50%;
          	-webkit-border-radius: 50%;
          	border-radius: 50%;
            border: solid 1px $gray-dark-shade;
            display: block;
            font-style: normal;
            color: $gray-dark-shade;
            font-size: 1.875rem;
            text-align: center;
            font-weight: $proxima-thin;
          }
        }
        li.no-border{
          border: 0;
        }
      }
    }
    .sales-compensation-plan{
      padding: 9px 0 4.5rem 0;
      background-color: $white;
      font-size: 0.875rem;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .landing-page-distributor-banner{
      height: 25em;
      .landing-page-distributor-banner-overlay{
        height: 25em;
      }
      .landing-page-distributor-banner-text{
        padding: 5.125em 0 0 4.25em;
      }
    }
    .category-details{
      padding-top: 2.75em;
      padding-bottom: 4.25em;
      .category-image{
        width: 13.5em;
        height: 13.125em;
      }
    }
    .as-a-distributor-container{
      .as-a-distributor{
        padding: 3.625em 4em 4em;
        p{
          width: 15.75rem;
        }
      }
    }
    .distributor-products{
      .category-item{
        width: 17.625em;
        height: 17.625em;
        margin-bottom: 1em;
        .category-image{
          .img-category{
            height: 10.875em;
          }
        }
        p{
          padding-right: 2.25em;
        }
      }
    }
    .success-story-container{
      padding-top: 5em;
      .success-story{
        padding-bottom: 1rem;
        .learn-more{
          .video-parent {
            height: 100%;
          }
          .padding-video{
            padding: 3.125em 5.8em 0 1.5em;
          }
          .padding-image{
            height: auto;
            top: 50%;
            transform: translateY(-50%);
          }
          .embed-responsive {
            video#video-0 {
              padding-left: 2.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
    }
    .sign-up-today-banner{
      .category-directory-video-container{
        padding-top: 0;
        .video-overlay-lp{
          margin-top: 10em;
          width: 100%;
        }
        .embed-responsive-16by9{
          height: 26.875em;
          padding-bottom: 0;
        }
      }
    }
    .how-does-it-work-container{
      padding-top: 4.25em;
      .sales-compensation-plan{
        padding-bottom: 6rem;
      }
    }
    .slick-slider.carousel .slick-next {
      right: -4.2rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -4.2rem;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 4.5rem;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .landing-page-distributor-banner{
      height: 19em;
      h1{
        font-size: 2.25em;
        color: $white;
      }
      h2{
        font-size: 1.375em;
        color: $white;
      }
      .landing-page-distributor-banner-overlay{
        height: 19em;
      }
      .landing-page-distributor-banner-text{
        padding: 3.875em 0 0 4.25em;
      }
    }
    .category-details{
      padding-top: 3.25em;
      padding-bottom: 3.875em;
      .category-image{
        width: 13.5em;
        height: 13.125em;
      }
    }
    .as-a-distributor-container{
      .as-a-distributor{
        padding: 3em 4em 4.25em;
        p{
          width: 22.75rem;
          padding-bottom: 2.75em;
        }
        .btn-primary{
          margin-top: 0;
        }
      }
    }
    .distributor-products{
      .category-item{
        width: 17.625em;
        height: 17.625em;
        margin-bottom: 1em;
        .category-image{
          .img-category{
            height: 10.875em;
          }
        }
        p{
          padding-right: 2.25em;
        }
      }
    }
    .success-story-container{
      padding-top: 4.5em;
      .success-story{
        width: 48em;
        padding-bottom: 1rem;
        .learn-more{
          height: 27.5em;
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          margin-top: 1.5rem;
          .video-parent {
          height: 100%;
          }
         .padding-image{
            height: auto;
            top: 50%;
            transform: translateY(-50%);
          }
          .left-panel{
          }
          .right-panel{
               padding: 1.3em 4em 0 3.5em;
            i.quotes-text {
              font-size: 1.625rem;
            }
          }
          .padding-video{
            padding: 1.2em 4em 0.6em 0;
          }
          .btn {
            padding: 0.6rem 1.625rem 0.55rem;
          }
          .embed-responsive {
              video#video-0 {
                padding-left: 2.1rem;
                padding-right: 3rem;
              }
          }
        }
      }
    }
    .how-does-it-work-container{
      padding-top: 4.25em;
      .how-does-it-work{
        h3{
          margin-bottom: 2.5em;
        }
      }
    }
    .distributor-products{
      background-color: $gray-lightest;
    }
    .sign-up-today-banner{
      .category-directory-video-container{
        padding-top: 0;
        .video-overlay-lp{
          margin-top: 10em;
          width: 100%;
        }
        .embed-responsive-16by9{
          height: 26.875em;
          padding-bottom: 0;
        }
      }
    }
    .how-does-it-work-container{
      padding-top: 4.25em;
    }
    .slick-slider.carousel .slick-next {
      right: -0.2rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -0.2rem;
    }
    .slick-dotted.slick-slider {
       margin-bottom: 4.5rem;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .landing-page-distributor-banner{
      height: 20em;
      background-size: cover;
      h1{
        font-size: 1.75em;
        color: $white;
        padding-bottom: 7px;
      }
      h2{
        font-size: 1.375em;
        color: $white;
      }
      .landing-page-distributor-banner-overlay{
        height: 20em;
      }
      .landing-page-distributor-banner-text{
        padding: 3.375em 0 0 1.5em;
      }
    }
    .category-details{
      padding: 3.25em 2.5em 3.875em;
      .category-image{
        width: 13.5em;
        height: 13.125em;
      }
      p{
        width: 100%;
        padding-top: 1em;
      }
    }
    .as-a-distributor-container{
      .as-a-distributor{
        padding: 3.5em 1.5em 3em;
        p{
          width: 19.5rem;
          padding-bottom: 2.375em;
        }
        .btn-primary{
          margin-top: 0;
          width: 100%;
        }
      }
    }
    .distributor-products{
      .category-item{
        width: 17.625em;
        height: 17.625em;
        margin: 0 auto 1em;
        .category-image{
          .img-category{
            height: 10.875em;
          }
        }
        p{
          padding-right: 2.25em;
        }
      }
    }
    .success-story-container{
      padding-top: 0;
      .success-story{
        width: 100%;
        .learn-more{
          margin-top: 1.5em;
          height: inherit;
          .btn {
            padding: 0.6rem 1.625rem 0.55rem;
          }
          .left-panel{
            float: none;
            width: 100%;
            margin-bottom: 0.5em;
            padding-left: 0;
            padding-right: 0;
            .user-image{
            }
            img{
              transform: translateY(0%);
            }
          }
          .right-panel{
            float: none;
            width: 100%;
            padding: 0 1.5em 1.5em;
          }
          .embed-responsive {
              video#video-0 {
                padding-left: 0;
                padding-right: 0;
              }
          }
          .left-panel{
            &.video-pad{
              padding-top: 5.5rem;
            }
          }
        }
        h3{
          font-size: 1.125rem;
          padding-top: 3rem;
        }
        p{
          width: 20.875em;
          font-size: 0.875rem;
        }
      }
    }
    .how-does-it-work-container{
      padding-top: 0;
      .how-does-it-work{
        width: 100%;
        h3{
          margin-top: 1.75rem;
          margin-bottom: 2.25rem;
        }
        .ul-how-point{
          li{
            margin: 0 auto 1.5em;
            padding-bottom: 1.5em;
            width: 20.25em;
          }
        }
      }
      .sales-compensation-plan{
        padding: 0 0 4.75rem 0;
      }
    }
    .distributor-products{
      background-color: $gray-lightest;
    }
    .reason-header{
      h3{
        width: 16.5rem;
        margin: 0 auto;
      }
    }
    .sign-up-today-banner{
      .category-directory-video-container{
        padding-top: 0;
        .video-overlay-lp{
          margin-top: 6.25em;
          width: 100%;
        }
        .embed-responsive-16by9{
          height: 20.25em;
          padding-bottom: 0;
          margin-top: -3.5em;
        }
      }
    }
   
    .slick-slider.carousel .slick-next {
      right: -0.2rem;
      top: 11.8rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -0.2rem;
      top: 11.8rem;
    }
    .slick-dotted.slick-slider {
            padding-bottom: 4.5rem;
            margin-bottom: 0;
    }
    .slick-slider.carousel .slick-slide {
      padding: 0 1.5em 0;
    }
  }
  @media screen and (min-width: 1439px) {
    .success-story-container{
       .padding-image{
         height: auto;
         top: 50%;
         transform: translateY(-50%);
       }
       .right-panel{
         height: auto;
       }
      .success-story{
        .learn-more{
          .video-parent {
            height: 100%;
          }
        }
      }
    }
  }
}
