.account-info-main-content.associate-signup-password-content.info-content
  .content
    .invite-banner.invite-banner-associate-password
        .section.section-associate-password
            h2.banner-text
                |Let's set up your account!
    .signup-container.signup-container-associate-password
        .signup-components.signup-components-associate-password
            form(name="accountInfoCtrl.form" form-submit='accountInfoCtrl.navigateTo()' controller="accountInfoCtrl" novalidate)
                fieldset.form-group.m-b-0
                    div.row
                        legend
                            span.line.seperation-title Complete Your Info
                        .content-seperator
                            div.m-b-2
                              label.form-label First Name
                              input.form-control.m-b-0(type="text" name="firstName" ng-model='accountInfoCtrl.firstName' required ng-class="{'ng-touched':accountInfoCtrl.isSubmitted}")
                              span.error-block.m-t-1(ng-show="(accountInfoCtrl.form.firstName.$touched && accountInfoCtrl.form.firstName.$error.required) || (accountInfoCtrl.form.firstName.$dirty && accountInfoCtrl.form.firstName.$error.required) || (accountInfoCtrl.form.$submitted  && accountInfoCtrl.form.firstName.$error.required)") Please enter the First Name
                            div.m-b-2
                              label.form-label Last Name
                              input.form-control.m-b-0(type="text" name="lastName" ng-model='accountInfoCtrl.lastName' required ng-class="{'ng-touched':accountInfoCtrl.isSubmitted}")
                              span.error-block.m-t-1(ng-show="(accountInfoCtrl.form.lastName.$touched && accountInfoCtrl.form.lastName.$error.required) || (accountInfoCtrl.form.lastName.$dirty && accountInfoCtrl.form.lastName.$error.required) || (accountInfoCtrl.form.$submitted  && accountInfoCtrl.form.lastName.$error.required)") Please enter the Last Name
                    div.row
                        legend
                            span.line.seperationtitle Secure your Account
                    div.row
                        password-pattern(credentials='accountInfoCtrl.credentials', is-required='accountInfoCtrl.isRequired', is-submitted='accountInfoCtrl.form.$submitted')
                    div.row
                      fieldset
                        div.accept-text.form-group.checkbox
                          input(type="checkbox", ng-model='accountInfoCtrl.isChecked', value='accountregistration', name='accountregistration', id="accountregistration")
                          label.rememberme(for="accountregistration")
                            | &nbsp;I hereby accept all 
                            a.account-registration-text Account Registration &nbsp;Policies
                            | &nbsp;that &nbsp;apply
                    div.row
                        button.btn.btn-block.btn-primary(ng-model="button", ng-disabled="!accountInfoCtrl.isChecked", type="Submit", ng-click="accountInfoCtrl.isSubmitted = true") SUBMIT
