@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";

@mixin account-info-semibold-font{
  height: 1.375em;
  font-size: 1rem;
  font-weight: $proxima-semibold;
  line-height: 1.38;
  color: $gray-dark;
}
.account-info-main-content{
    .signup-container-associate-password {
        width: 43.5em;
        padding: 1% 7%;
      }
      .form-group input{
        margin-bottom: 0em;
      }
    .seperation-title{
        font-weight: $proxima-semibold;
    }
    .text-center{
      height: 4.000em;
      font-size: 1.75rem;
      font-weight: $proxima-light;
      line-height: 1.14;
      color: $white;
      margin-top: 0.750em;
    }
    .content{
      padding-bottom: 0em;
    }
    .complete-info-text{
      width: 10.863em;
      @include account-info-semibold-font;
    }
    .secure-your-account-text{
      @include account-info-semibold-font;
    }
    .invite-banner {
      height: 16.438em;
    }
    @media screen and (min-width: 374px) and (max-width: 767px){
        .invite-banner{
          height:8.375em;
        }
        .invite-banner .section {
        padding-top: 2px;
      }
      .signup-components {
        width: 20.313em;
        margin: auto;
      }
      .signup-container {
          padding: 1.688em 1.438em;
        }
        .checkbox input[type="checkbox"] + label::before{
          top:9px;
        }
    }
    @media screen and (min-width: 769px){
    .signup-container {
        padding: 1.688em 1.500em;
      }
    }
    .all-text{
      width: 20.250em;
      height: 1.375em;
      opacity: 0.8;
      font-size: 0.875rem;
      font-weight: $proxima-regular;
      line-height: 1.57;
      letter-spacing: -0.1px;
      color: $gray-black;
    }
    .account-registration-text{
      font-weight: $proxima-semibold;
    }
    .accept-text{
      margin-bottom: 1.250em;
    }
    input[type="checkbox"], input[type="radio"] {
        height: 2.3em;
    }
    &.associate-signup-password-content{
      .banner-text{
        font-size: 1.75rem;
      }
    }
    @media screen and (min-width: 360px) and (max-width:767px){
    &.info-content{
      .invite-banner-associate-password {
        height: 9.8em;
        .section.section-associate-password {
          .banner-text {
            padding-top: 0;
          }
        }
      }
       .banner-text{
         margin-top: 1.513em;
      }
      .signup-container-associate-password {
        padding: 2% 4%;
      }
    }
  }
    @media screen and (min-width: 768px) and (max-width:1023px){
        &.info-content .signup-container-associate-password {
          width: 100%;
      }
      .signup-container-associate-password{
        width:100%;
      }
    }
    @media screen and (min-width: 769px) and (max-width:1440px){
      &.info-content{
        .banner-text{
          margin-top: 1.1em;
       }
      }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      &.info-content{
        .invite-banner-associate-password {
          .section.section-associate-password {
            .banner-text {
              padding-top: 3rem;
            }
          }
        }
      }
    }
  }
