.container-fluid.sm-full-width.reset
	.quiz-intro-container
		.invite-banner
			.section
				.banner-title.inverse
					h1.text-center(ng-class="(quizIntroCtrl.textname.length>25)?'long-text':'short-text'") Hi {{quizIntroCtrl.textname | limitTo:(quizIntroCtrl.textname.length>25?22:25)}}
		.signup-container
		.quiz-info-section
			div.separator.list-pane
			.quiz-content.list-pane
				h2.intro-header Wanna customize your feed?
				.quiz-description.list-pane
					p There are many content categories to choose from!  Find the best content you need quick and easy!  
					p The simple quiz suggests your brand style and contents you will love.  This helps you set up 
				.btn.btn-primary.section-margin.m-b-2(ng-click="quizIntroCtrl.openResultsPage()") Take Quiz Now