@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/signup/signup.scss";

.quiz-intro-container {
    .invite-banner {
        width: 100%;
        min-height: 16.563em;
        background: url('../../../../src/assets/images/css/prism-banner.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 0 0;
        .section{
            width: 100%;
        }
    }
    .signup-container {
        margin-top: -7em;
        background: url('../../../../src/assets/images/css/quiz-intro-XL@1x.png') no-repeat center center;
        background-size: cover;
        width: 16.250em;
        height: 10em;
    }
    .banner-title {
        padding-top: 50%;
        word-wrap: break-word;
    }
    .long-text:after{
        content:'...,';
    }
    .short-text:after{
        content:',';
    }
    .separator {
        margin-top: 2.250em;
        width: 4.188em;
        height: 0.313em;
        margin: 0 auto;
        background-color: $aqua;
    }
    .quiz-content {
        width: 20.313em;
    }
    h1,
    h2 {
        font-size: 1.875rem;
        text-transform: none;
    }
    .quiz-info-section {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .intro-header {
        font-size: 2.375em;
        line-height: 1.27;
    }
    @media screen and (min-width: 1440px) {
        .banner-title {
            padding-top: 7.4375em;
        }
    }
    @media screen and (min-width: 1024px) {
        .signup-container {
            margin-top: -7em;
            padding: 5% 4%;
            width: 30.625em;
            height: 18.750em;
        }
        .quiz-content {
            width: 31.375em;
            margin: auto;
        }
        .btn-primary {
            width: 60%;
        }
        .banner-title {
            padding-top: 7.4375em;
        }
    }
    .list-pane {
        margin-top: 2em;
    }
    .section-margin {
        margin-top: 1.625em;
    }
    .quiz-description {
        padding: 0 2.188em 0 2.188em;
    }
    @media screen and (max-width: 1023px) {
        .signup-container {
            margin: auto;
            margin-top: -5em;
            padding: 5% 4%;
        }
        .quiz-content {
            width: 19.250em;
            margin: auto;
        }
        .intro-header {
            font-size: 1.375em;
            padding-top: 1.75em;
        }
    }
    @media screen and (min-width: 768px) and (max-width:1023px) {
        .btn-primary {
            width: 70%;
        }
        .banner-title {
            padding-top: 7.4125em;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 767px){
        .banner-title {
            padding: 3.7125em 1em;
        }
    }
    @media screen and (max-width: 375px) {
        .signup-container {
            margin-top: -20%;
            padding: 5% 4%;
        }
        .quiz-content {
            width: 20.313em;
        }
        .intro-header {
            font-size: 1.375em;
        }
        .section-margin {
            margin-top: 0.875em;
        }
        .banner-title {
            padding: 4.75em 1em;
        }
    }
}
