@import "../../stylesheets/partials/variables";

.secondary-carousel-component{
  .pdp-carousel-image {
      margin-bottom: 1rem;
  }
  .pdp-product-name-link {
      font-weight: $proxima-light;
      color: $gray-dark;
  }
  .star-container{
    margin-bottom: 0.5rem;
    .shopping-carousel-star{
      float: left;
      padding-top: 2px;
    }
    .shopping-cart-carousel-star{
      padding-top: 2px;
    }
  }
  .stock-status{
    clear: both;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    p {
      font-size: 0.8125em;
      font-weight: $proxima-semibold;
      line-height: 1;
      letter-spacing: 0.5px;
      color: $pink-variant;
      margin-bottom: 0;
    }
  }
  .star-big{
    margin-bottom: 0.25rem;
  }
  .shopping-cart-carousel-star{
    .star-big{
      margin: 0 auto 0.25rem;
    }
  }
  .purchase-link{
    padding-bottom: 1.5rem;
    line-height: 1em;
    a{
      font-size: 0.8125rem;
      font-weight: $proxima-semibold;
      text-transform: uppercase;
    }
  }
  .separator {
      margin: 0 5px;
      color: $gray-light;
  }
  p.small {
      font-weight: $proxima-light;
  }
  .psv-container {
      margin-left: -5px;
  }
  .shopping-carousel{
    background: $white;
    .separator{
      padding: 0 0.5em;
    }
    .slick-slider{
      .slick-slide{
        padding: 0;
        img{
          height: 10.875rem;
        }
      }
    }
  }
  @media (min-width: 360px) and (max-width: 767px){
      .pdp-carousel-image {
          img{
            height: 12.875rem;
            display: block;
          }
      }
  }
  @media (min-width: 768px) and (max-width: 1023px){
    .pdp-carousel-image {
      img{
        height: 11.25rem;
        display: block;
      }
    }
  }
  @media (min-width: 1024px) and (max-width: 1439px){
    .slick-slider.carousel .slick-prev {
        left: -6rem;
    }
    .slick-slider.carousel .slick-next {
        right: -6rem;
    }
    .pdp-carousel-image {
      width: 16.875rem;
      img{
        height: 16.25rem;
        display: block;
      }
    }
  }
  @media (min-width: 1440px) {
    .pdp-carousel-image {
      width: 16.875rem;
      img{
        height: 16.25rem;
        display: block;
      }
    }
  }
}
