.secondary-carousel-component(ng-if="ctrl.slickType=='type1'")
  slick.carousel.carousel-secondary(settings='ctrl.slickConfig', ng-if='ctrl.productData.length')
    .Carousal-boxes(ng-repeat='product in ctrl.productData track by $index')
      a.pdp-carousel-image(ng-href="{{product.prdUrl}}")
        img(ng-src='{{product.image}}',width='100%')
      a.pdp-product-name-link(ng-href="{{product.prdUrl}}") {{product.name}}
      .star-container(ng-if="ctrl.isNumber(product.rating)")
        .shopping-carousel-star
          star-rating(rating-value="product.rating" max="5")
        .clearfix.visible-sm
      .stock-status(ng-if='product.stockStatus.length')
        p(ng-if='ctrl.stockStatus("LS", product.stockStatus)') LOW STOCK
        p(ng-if='ctrl.stockStatus("OS", product.stockStatus)') OUT OF STOCK
        p(ng-if='ctrl.stockStatus("BO", product.stockStatus)') ON BACKORDER
      p.small.m-b-0(ng-if="product.price.length")
        span {{product.price}}
        span.separator |
        span {{product.psv}}
      .purchase-link
        a(ng-href="{{product.prdUrl}}") Purchase
.secondary-carousel-component(ng-if="ctrl.slickType=='type2'")
  slick.carousel.carousel-secondary(settings='ctrl.slickConfig', ng-if='ctrl.productData.length')
    div(ng-repeat='image in ctrl.productData')
      figure
        a(ng-href="{{image.prdUrl}}")
          img(ng-src='{{image.imageUrl}}', alt='')
        figcaption
          .row.carousel-row-margin
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                a.shopping-carousel-itemname(ng-bind='image.productName' ng-href="{{image.prdUrl}}")
            .star-container
              .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                .shopping-cart-carousel-star
                  star-rating.pdp-productbasics-stars(rating-value="image.rating" max="5")
            .clearfix.visible-sm
            .stock-status.text-center(ng-if='image.stockStatus.length')
              p(ng-if='ctrl.stockStatus("LS", image.stockStatus)') LOW STOCK
              p(ng-if='ctrl.stockStatus("OS", image.stockStatus)') OUT OF STOCK
              p(ng-if='ctrl.stockStatus("BO", image.stockStatus)') ON BACKORDER
            .no-gutter.psv-container.col-sm-12.text-center
              p.shopping-carousel-line
                span.carousel-content-left-text.p-r-0(ng-bind='image.productCost')
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              .row
                .col-sm-12
                  button.btn.btn-primary.add-to-cart-button(type='button') ADD
