@import "../../stylesheets/partials/variables";

.back-to-top-circle{
  position:absolute;
  right:4.6875rem;
}
.back-to-top-icon{
  background-image: linear-gradient(to bottom, $orange, $pink-variant);
  width: 3.25rem;
  height: 3.25rem;
  bottom: 1.4375rem;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  border-radius: 2rem;
  transition: opacity .3s 0s, visibility 0s .3s;
  cursor: pointer;
  z-index: 1052;

  .top-arrow-img{
    background: url('../../../src/assets/images/css/ic-arrow-up.svg') no-repeat center;
    width: 3.25rem;
    height: 0.375rem;
    margin-top: 0.875rem;

  }

  span{
    font-weight: $proxima-semibold;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    color : $white;
    display: block;
  }
}

.back-to-top-icon.back-to-top-is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.back-to-top-icon.stick-to-footer{
  position: absolute;
  bottom: -1.74rem;
  z-index: 1001;
}
