.empty(ng-if="ctrl.noData")
.tile-container.col-xs-12.col-sm-12.col-md-12.col-lg-12(ng-if="!ctrl.noData")
	div#filter.no-gutter.col-sm-12.col-md-4.col-lg-4.col-xl-3(ng-class="{'filter-mobile': ctrl.isMobileMode}")
		div.col-sm-12.reset.headercontainer
			div.filter-header
				h3.result-text 150 Results
			div
				label.filter-text.pointer(ng-click="ctrl.resetFilter();") RESET FILTER
				label.filter-close.pointer(ng-click="ctrl.callFilter();") DONE
		div.col-sm-12.filtercontainer.reset
			.filter-row.pointer(ng-repeat="filter in ctrl.filterData.data")
				.row.reset
					.col-sm-10.no-gutter(ng-click="ctrl.hideCurrentFilter(filter.filter_type)")
						.filter-name.white {{filter.filter_type}}
						.filter-selcted-name.white
							lable.selected-option {{filter.selectedFilterType}}
					.col-sm-2.no-gutter(ng-click="ctrl.hideCurrentFilter(filter.filter_type)")
						.dropdown-img-down.dropdown-container(ng-show="!filter.isDropdownOpen")
						.dropdown-img-up.dropdown-container(ng-show="filter.isDropdownOpen")
					.col-sm-12.no-gutter(ng-show="filter.showFilterOptions",ng-init="ctrl.setLimit(filter);")
						.opt-container
							.option-row.row.reset.pointer(ng-repeat="option in filter.filter_options | limitTo:filter.limit as results",ng-click="ctrl.selectOption(option.option_value,filter.filter_type)")
								.option-text.col-sm-10
									.opt
										.color-icon(ng-show="option.color",ng-style="{'background-color': '{{option.color}}'}")
										img.option-icon(ng-show="option.icon_url",ng-src="{{option.icon_url}}")
										label.option-list-text(ng-class="{'selected-option': option.currentSelected}") {{option.option_value}}
								.option-count.col-sm-2
									.opt
										label.option-list 25
							.see-more(ng-click="filter.limit = filter.filter_options.length;", ng-show="filter.limit < filter.filter_options.length") See More
							.see-more(ng-click="filter.limit = 5;", ng-show="filter.limit == filter.filter_options.length && filter.limit > 8 ") See Less
					.col-sm-12.separator-line-filter(ng-show="!filter.showFilterOptions")
			.filter-row(ng-repeat="filterToggle in ctrl.filterData.toggleData")
				.row.reset
					.col-sm-12.no-gutter
						.filter-name
							label.filter-name.white {{filterToggle.filter_type}}
							label.switch
								input(type='checkbox',ng-model='filterToggle.isSelected')
								.slider.round
					.col-sm-12.separator-line-filter
	div#list.col-sm-12.col-md-12.col-lg-12.col-xl-12.no-gutter(ng-class="{'padding-zero': ctrl.showFilter}")
		.row.reset
			mediatilecomponent(id="lists{{$index}}" list-item="tile", extra-class="col-sm-6 col-md-4 col-lg-3 col-xl-2 category-tile", if-delete-visible="ctrl.ifDeleteVisible", if-fav-undo-visible="ctrl.ifFavUndoVisible", if-share-visible="true" , if-favorite-visible="true" ,ng-repeat="tile in ctrl.tileData.data")
