.producttile.product-tile-container(ng-if = "ctrl.isListView == 1")
  .tile.col-sm-12.col-md-12.col-lg-12.no-gutter(ng-class='{deactivate : ctrl.isDeleted || ctrl.isFavorited && ctrl.ifFavUndoVisible}')
    .tile-image.col-sm-4.col-md-4.col-lg-4.no-gutter
      .product-image.center-block(ng-click="ctrl.redirect(ctrl.listItem)")
        img(ng-src='{{ctrl.listItem.product_image_url}}', alt='img', height='100%', width='100%' class="img-responsive")

    .product-name.col-sm-8.col-md-6.col-lg-8.no-gutter
        .col-lg-12
          span.col-md-12.col-lg-6.col-xl-7.product-title.no-gutter(ng-click="ctrl.redirect(ctrl.listItem)") {{ctrl.listItem.product_name}}
          span.col-md-12.col-lg-6.col-xl-5.product-price.no-gutter
            | {{ctrl.listItem.product_price}} |
            span.product-psv &nbsp; {{ctrl.listItem.product_psv}}

        .col-lg-12
          span.show-stars.col-md-12.col-lg-6.col-xl-7.no-gutter
            .media-stars
              star-rating(rating-value="4" max="5" star-type="small")
              span.ratings-text 13
          div.add-to-bag.col-md-12.col-lg-6.col-xl-5.no-gutter
            a.animate(ng-href="{{ctrl.listItem.prdUrl}}") Purchase
          .clearfix.visible-lg
          .stock-status(ng-if='ctrl.listItem.stockStatus.length')
            p(ng-if='ctrl.stockStatus("LS")') LOW STOCK
            p(ng-if='ctrl.stockStatus("OS")') OUT OF STOCK
            p(ng-if='ctrl.stockStatus("BO")') ON BACKORDER
            p(ng-if='ctrl.stockStatus("CS")') COMING SOON

        .mobile-only-prod-number.col-sm-12
          span 112233445566778899
        .mobile-only-price.col-sm-12
          span.col-md-12.col-lg-6.no-gutter
            | {{ctrl.listItem.product_price}} |
            span.mobile-psv &nbsp; {{ctrl.listItem.product_psv}}

          span.add-to-bag.col-md-12.col-lg-6.no-gutter
          pdpshoppingcartcomponent(display-text="'PURCHASE'")

        .col-md-12.col-lg-12
          span.product-number 112233445566778899

        .col-md-12.col-lg-7.prod-desc-parent
          span.product-desc {{ctrl.listItem.product_desc}}

    .mobile-only-desc.col-sm-12.prod-desc-parent
          span.product-desc {{ ctrl.listItem.product_desc}}

.grid-view-layout(ng-if = "ctrl.isListView == 0")
  .tile.col-sm-12(ng-class='{deactivate : ctrl.isDeleted || ctrl.isFavorited && ctrl.ifFavUndoVisible}')
    .tile-image
      .product-image.center-block
        img(ng-src='{{ctrl.listItem.product_image_url}}', alt='img', height='100%', width='100%' class="img-responsive")

      .product-details.col-md-12.col-lg-12.no-gutter
        span.col-md-12.col-lg-12.product-title.no-gutter {{ctrl.listItem.product_name}}
        span.show-stars.col-md-12.col-lg-12.no-gutter
          .media-stars
            star-rating(rating-value="4" max="5" star-type="small")
            span.ratings-text 13
        .clearfix.visible-lg
        .stock-status(ng-if='ctrl.listItem.stockStatus.length')
          p(ng-if='ctrl.stockStatus("LS")') LOW STOCK
          p(ng-if='ctrl.stockStatus("OS")') OUT OF STOCK
          p(ng-if='ctrl.stockStatus("BO")') ON BACKORDER
          p(ng-if='ctrl.stockStatus("CS")') COMING SOON
        span.col-md-12.col-lg-12.product-price.no-gutter
            | {{ctrl.listItem.product_price}} |
            span.grid-psv &nbsp; {{ ctrl.listItem.product_psv}}
        span.add-to-bag.col-md-12.col-lg-12.no-gutter
        a.animate(ng-href="{{ctrl.listItem.prdUrl}}") Purchase
