@import "../../../../../src/stylesheets/partials/variables.scss";
.product-tile-container {
    background-color: $white;
    .tile {
        background-color: $white;
        display: inline-block;
        border: 0.0625rem solid transparent;
    }
    .category-tile {
        padding: 0.3125rem;
    }
    .deactivate {
        opacity: 0.2;
        border: 1px solid $gray-dark-shade;
        z-index: 10;
    }
    .tile-image {
        // width: 100%;
        text-align: center;
        padding-top: 4.188rem;
        padding-bottom: 2.625rem;
    }
    .tile-image {
      height: auto;
    }
    .tile-container {
        background-color: $gray-lightest;
    }
    .tile-footer {
        max-height: 2.188em;
        padding-top: 1.063em;
    }
    .tile-icon-container {
        float: left;
        width: 100%;
    }
    .logo {
        height: 1.938em;
        width: 1.938em;
        position: relative;
        float: left;
        margin-left: 1em;
    }
    .logo-share {
        height: 1.250em;
        width: 1.250em;
        position: relative;
        float: right;
        margin-bottom: 1.250em;
        margin-right: 0.625em;
        background: url(../../../../../src/assets/images/css/ic-share-icon.svg) no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .product-name {
        padding-top: 3.563rem;
        font-size: 1.5rem;
        font-weight: $proxima-light;
        line-height: 1.17;
        color: $gray-dark;
    }
    .media-delete-container {
        height: 1.50em;
        width: 1.375em;
        background: url('../../../../../src/assets/images/css/ic-delete.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .delete-tile {
        position: relative;
        float: right;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .undo-btn {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .undo-delete {
        padding: 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    .undo-delete div {
        height: 3em;
        width: 7.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
    .media-favorite-container {
        position: absolute;
        top: -1.25rem;
        right: -1.563rem;
    }
    .product-image {
        position: relative;
        width: 11.25rem;
        height: 11.25rem;
        cursor: pointer;
        img{
          width: auto;
          height: auto;
        }
    }
    .product-title {
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 1.17;
        color: $gray-dark;
        cursor: pointer;
    }
    .product-number {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.5;
        color: $gray-dark;
        display: block;
        padding-top: 0.3125rem;
    }
    .prod-desc-parent {
        padding-top: 0.875rem;
    }
    .product-desc {
        font-weight: $proxima-light;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
    }
    .product-price {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.3;
        color: $gray-dark;
    }
    .product-psv {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.58;
        color: $gray-dark;
    }
    .add-bag {
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.5px;
        color: $brand-primary;
        padding-top: 0.8125rem;
        cursor: pointer;
    }
    .ratings-text {
        font-size: 0.8125rem;
        font-weight: $proxima-regular;
        line-height: 1.85;
        color: $gray;
        display: none;
    }
    .media-stars {
        display: inline-block;
        padding: 0;
        font-size: 0.8125rem;
        font-weight: $proxima-regular;
        line-height: 1.85;
        color: $gray;
        display: block;
        margin-bottom: 0;
        height: 15px;
        width: 100%;
        float: left;
        .star-small{
          margin-right: 5px;
        }
        li {
            display: inline;
            img {
                width: 0.875rem;
                height: 0.875rem;
                margin-right: 0.3125rem;
            }
        }
    }
    .mobile-only-favorite {
        display: none;
    }
    .mobile-only {
        display: none;
    }
    .mobile-only-desc {
        display: none;
    }
    .mobile-only-prod-number,
    .mobile-only-price {
        display: none;
    }
    .stock-status {
        margin-bottom: 4px;
        margin-top: 1em;
        p {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1;
            letter-spacing: 0.5px;
            color: $pink;
            margin-bottom: 0;
        }
    }
}


/******** GRID VIEW Layout CSS Starts here ************/

.grid-view-layout {
    background-color: $white;
    .tile {
        background-color: $white;
        display: inline-block;
        min-height: 0;
    }
    .tile-image {
        padding-top: 4.75rem;
        background-color: $white;
    }
    .media-delete-container {
        height: 1.50em;
        width: 1.375em;
        background: url('../../../../../src/assets/images/css/ic-delete.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .delete-tile {
        position: relative;
        float: right;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .undo-btn {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .undo-delete {
        padding: 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    .undo-delete div {
        height: 3em;
        width: 7.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
    .media-favorite-container {
        position: absolute;
        top: 2.875rem;
        right: 2.56rem;
    }
    .mobile-only-favorite {
        display: none;
    }
    .product-image {
        height: auto;
        padding-top: 0.625rem;
        img{
          width: auto;
          height: auto;
        }
    }
    .media-stars {
        display: block;
        padding: 0;
        font-size: 0.8125rem;
        font-weight: $proxima-regular;
        line-height: 1.85;
        color: $gray;
        display: block;
        margin-bottom: 0;
        li {
            display: inline;
            img {
                width: 14px;
                height: 14px;
                margin-right: 0.3125rem;
            }
        }
    }
    .product-details {
        padding-top: 2.313rem;
        padding-left: 2.188rem;
        padding-right: 3.375rem;
        .star-small{
          margin-right: 5px;
        }
        .stock-status{
          margin-top: 8px;
          /*margin-bottom: 4px;*/
          p{
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1;
            letter-spacing: 0.5px;
            color: $pink;
            margin-bottom: 0;
          }
        }
    }
    .product-title {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
    }
    .ratings-text {
        font-size: 0.8125rem;
        font-weight: $proxima-regular;
        line-height: 1.85;
        display: none;
    }
    .product-price {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
        margin-top: 4px;
    }
    .add-to-bag {
        font-size: 1.5rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.5px;
        color: $brand-primary;
        cursor: pointer;
    }
    .grid-psv {
        color: $gray-shade;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .nav-tabs {
        display: -webkit-box;
    }
    .tile-container {
        .tile-footer {
            padding-top: 0.875em;
        }
    }
    .last-div {
        .product-tile-container {
            .mobile-only-desc {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
    .product-tile-container {
        .tile {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
        .product-psv {
            color: $gray-shade;
        }
        .product-image {
            width: 100%;
            height: 100%;
        }
        .atb-large {
            display: none;
        }
        .hideFlag {
            display: none;
        }
        .product-name {
            padding-top: 2.938rem;
        }
        .media-favorite-container {
            display: none;
        }
        .prod-desc-parent {
            display: none;
        }
        .product-title {
            display: block;
            padding-right: 1.625rem;
            font-size: 1rem;
            font-weight: $proxima-light;
        }
        .product-desc {
            font-size: 13px;
        }
        .media-stars {
            li {
                img {
                    width: 0.75rem;
                    height: 0.75rem;
                    margin-right: 0.3125rem;
                }
            }
        }
        .mobile-only-desc {
            display: block;
            border-bottom: 1px solid $gray45;
            padding-bottom: 1.563rem;
            padding-top: 1.563rem;
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1.69;
            color: $gray-dark;
        }
        .mobile-only-favorite {
            display: block;
            top: 2.875rem;
            right: 1.875rem;
        }
        .product-price,
        .product-number {
            display: none;
        }
        .mobile-only-prod-number {
            display: block;
            padding-top: 0.5625rem;
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-dark;
        }
        .mobile-only-price {
            display: block;
            span {
                display: inline;
            }
            .mobile-psv {
                color: $gray-shade !important;
                font-size: 1rem !important;
                font-weight: 300 !important;
                line-height: 1.38 !important;
            }
            span:first-child {
                padding-top: 0.8125rem;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                /*color: $gray-dark; */
            }
            span:last-child {
                padding-top: 0.1875rem;
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1.31;
                letter-spacing: 0.5px;
                color: $brand-primary;
            }
        }
    }
    .grid-view-layout {
        .product-image {
            width: auto;
            height: auto;
            margin-bottom: 1.563rem;
        }
        .product-price {
            display: block;
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.38;
            color: $gray-dark;
        }
        .add-to-bag {
            display: block;
            padding-top: 0.375rem;
        }
        .product-details {
            padding-top: 0;
            padding-left: 1.625rem;
            padding-right: 0.75rem;
        }
        .grid-psv {
            color: $gray-shade;
        }
        .media-stars {
            li {
                img {
                    width: 0.75rem;
                    height: 0.75rem;
                    margin-right: 0.3125rem;
                }
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .product-tile-container {
        .product-image {
            width: 10.25rem;
            height: 7.625rem;
            margin-top: 0.625rem;
        }
        .product-title {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.38;
            color: $gray-dark;
        }
        .product-psv {
            color: $gray-shade;
        }
        .media-stars {
            /*width: 0.75rem;
            height: 0.75rem;
            object-fit: contain;
            display: inline;*/
        }
        .atb-large {
            display: none;
        }
        .hideFlag {
            display: none;
        }
        .product-number {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-dark;
        }
        .product-price,
        .product-number {
            display: none;
        }
        .product-price {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-dark;
        }
        .add-to-bag {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.31;
            letter-spacing: 0.5px;
            color: #008ab0;
            padding-top: 0.3125rem;
        }
        .prod-desc-parent {
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1.69;
            color: $gray-dark;
            padding-top: 1.438rem;
        }
        .right-container {
            padding-top: 0.3125rem;
        }
        .media-favorite-container {
            top: -2.188rem;
            right: 0;
        }
        .mobile-only-desc {
            display: none;
        }
        .mobile-only-favorite {
            display: none;
        }
        .mobile-only-prod-number {
            display: block;
            padding-top: 0.5625rem;
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-dark;
        }
        .mobile-only-price {
            display: block;
            span:first-child {
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.5;
                /*color: $gray-dark;*/
                padding-top: 0.75rem;
            }
        }
    }
    /**********GRID VIEW CSS *************/
    .grid-view-layout {
        .tile-image {
            padding-top: 4.75rem;
        }
        .product-image {
            width: auto;
            height: auto;
        }
        .product-price {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            color: $gray-dark;
        }
        .add-to-bag {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.31;
            letter-spacing: 0.5px;
            color: $brand-primary;
            padding-top: 0.4375rem;
        }
        .media-favorite-container {
            top: 2.875rem;
        }
        .product-details {
            padding-left: 1.563rem;
            padding-right: 1.563rem;
        }
        .grid-psv {
            color: $gray-dark;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .tile-container {
        .product-desc {
            font-size: 0.875em;
        }
    }
    .product-image {
      width: auto;
    }
}

@media all and (min-width: 1440px) {
    .tile-container {
        .product-desc {
            font-size: 0.875em;
        }
    }
    .product-tile-container {
        .media-favorite-container {
            right: -4.688rem;
        }
    }
    .product-image {
      width: auto;
    }
}
