@import "../../../../src/stylesheets/partials/variables.scss";

.my-store-order-confirmation-container {
    .message-section{
        .message-container{
            height: 26.25rem;
            background-color: $white;
            padding-left: 0;
            padding-right: 0;
            .message-back-image{
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                background-repeat: no-repeat;
                background-position: right -7em top -42em;
            }
            .message-title{
                margin-top: 8.75rem;
                margin-left: 10rem;
                font-size: 2.375rem;
                font-weight: $proxima-thin;
                line-height: 2.5rem;
                color: $gray-dark;
            }
            .message-content{
                margin-left: 10rem;
                margin-bottom: 1.25rem;
                margin-top: -0.4375rem;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.375rem;
                color: $gray-dark;
                width: 28%;
                .content-text{
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.375rem;
                    color: $gray-dark;
                }
            }
            .message-button{
                margin-left: 10rem;
                .btn-preview{
                    color: $brand-primary;
                    font-size: 0.8125rem;
                    font-weight: $proxima-semibold;
                    line-height: 1.0625rem;
                    letter-spacing: 1px;
                    text-align: center;
                }
                .btn-preview:hover {
                    color: $white;
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                }
                .btn-preview:focus {
                  color: $white;
                }
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
        .message-section{
            .message-container{
                height: 17.3125rem;
                .message-back-image{
                    background-position: right -22em top -16em;
                    background-size: 129%;
                }
                .message-title{
                    margin-top: 3.75rem;
                    margin-left: 1.5rem;
                }
                .message-content{
                    margin-left: 1.5rem;
                    width: 52%;
                }
                .message-button{
                    margin-left: 1.5rem;
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .message-section{
            .message-container{
                height: 16.875rem;
                .message-back-image{
                    background-position: right -10em top -18em;
                    background-size: 70%;
                }
                .message-title{
                    margin-top: 3.5625rem;
                    margin-left: 5.25rem;
                    padding: 0;
                }
                .message-content{
                    margin-left: 5.25rem;
                    padding: 0;
                    width: 36%;
                }
                .message-button{
                    margin-left: 5.25rem;
                    padding: 0;
                }
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        height: 20.75rem;
        .message-section{
            height: 20.75rem;
            .message-container{
                height: 20.75rem;
                .message-back-image{
                    background-position: right -8em top -32em;
                    background-size: 80%;
                }
                .message-title{
                    margin-top: 5.625rem;
                    margin-left: 7.0625rem;
                }
                .message-content{
                    margin-left: 7.0625rem;
                }
                .message-button{
                    margin-left: 7.0625rem;
                }
            }
        }
    }
}
