.my-store-order-confirmation-container.clearfix.col-sm-12
  .message-section
    .row
      div.message-container.clearfix.col-sm-12
        div.message-back-image(ng-style="{'background-image': 'url({{mystoremessage.bannerUrl}})'}")
        div.message-title.col-sm-12
          h1
            |MESSAGES
        div.message-content.col-sm-12
          span.text-link.content-text Add a personalized message to your store or use our recommendation.
        div.message-button.col-sm-12
          button.btn.btn-primary-outline.btn-preview(ng-click="mystoremessage.previewClick()") Preview in new tab