.landing-page-banner-full-container
  .landing-page-banner-content
    .landing-page-banner
      .landing-page-banner-overlay(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .landing-page-banner-content-in
        .col-lg-9.col-sm-12.landing-page-banner-text.no-gutter
          h2.m-b-0 SHORT DESCRIPTION HEADLINE AREA
          p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, optio cumque nihil impedit qu.
        .col-lg-3.col-sm-12.landing-page-button-container.no-gutter
          //a.btn.btn-primary.m-b-1.pull-right(href="#") Call to Action
          a.btn.btn-primary-outline.btn-block.pull-right(href="#") Button Text
        .clearfix.visible-sm
.clearfix.visible-sm
