@import "../../../../src/stylesheets/partials/variables.scss";
.landing-page-banner-full-container{
  background-color: $gray-lightest;
  .landing-page-banner-content{
    width: 100%;
    height: 37.5em;
    margin: 0 auto;
    .landing-page-banner{
      background-position: 2.75rem -28.5rem;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 26.875em;
      width: 100%;
    }
    .landing-page-banner-overlay{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    .landing-page-banner-content-in{
      h2{
        text-transform: uppercase;
      }
      p.small{
        font-weight: $proxima-semibold;
        color: $gray-light;
      }
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .landing-page-banner-content{
      width: 100%;
      height: 100%;
      .landing-page-banner{
        background-size: 150%;
        height: 20em;
        background-position: -6.5rem -4.25rem;
      }
    }
    .landing-page-banner-overlay{
      width: 100%;
      height: 20em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 2em 1.5em 0;
      a{
        display: block;
        margin: 0 auto;
        float: none;
        width: 12.75rem;
      }
      .landing-page-button-container{
        padding-bottom: 2em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .landing-page-banner-content{
      width: 100%;
      min-height: 34.375em;
      .landing-page-banner{
        background-size: 100%;
        height: 20em;
        background-position: 1.5rem -13.25rem;
      }
    }
    .landing-page-banner-overlay{
      width: 100%;
      height: 20em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 3em 9.25em;
      a{
        width: 12.75rem;
        float: left;
        margin-right: 1em;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .landing-page-banner-content{
      width: 100%;
      height: 26.875em;
      .landing-page-banner{
        background-size: 100%;
        height: 26.875em;
        background-position: 0.25rem -17rem;
      }
    }
    .landing-page-banner-overlay{
      width: 100%;
      height: 26.875em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 3em 2em;
      .landing-page-banner-text{
        padding-right: 14.5em;
      }
    }
    .landing-page-button-container{
      margin-top: -10px;
      a{
        width: 12.75rem;
      }
    }
  }
  @media screen and (min-width: 1440px){
    .landing-page-banner-overlay{
      width: 100%;
      height: 26.875em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 3em 16.125em;
      .landing-page-banner-text{
        padding-right: 12.25em;
      }
      .landing-page-button-container{
        margin-top: -10px;
        a{
          width: 12.75rem;
        }
      }
    }
  }
}
