@import "../../../../stylesheets/partials/variables";
.order-details {
  .main-section{
    width:55.1em;
  }
    .checkout-order-body.summary div.promo-list-title-order-detial{
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1.3125rem;
      color: $gray;
    }
    .checkout-container .btn-primary-outline {
        &:active,
        &:focus {
            color: $brand-primary;
        }
        &:disabled {
            border: solid 1px $brand-primary;
            color: $brand-primary;
            background-color: $white;
        }
        &:hover{
          color: $white;
        }
    }
    .print-inv {
        margin-top: 6px;
        cursor: pointer;
        a {
            font-size: 0.75em;
        }
    }
    .float-right {
        float: right;
    }
    .order-detail-header {
        padding-top: 1.250em;
        font-size: 2.375em;
        font-weight: $proxima-thin;
        line-height: 1.05;
        color: $white;
    }
    .checkout-guest-and-distributor .checkout-container .checkout-title-container div.section.banner-container {
        height: 13.750em;
    }
    .checkout-order-body.summary div.purchase-date,
    .purchase-date {
        font-size: 0.875em;
        font-weight: $proxima-light;
        margin-bottom: 0.750em;
        color: $gray-faded;
    }
    .checkout-order-body.summary div.order-type,
    .order-type {
        font-size: 1.125em;
        font-weight: $proxima-semibold;
        line-height: 1.22;
        color: $gray-dark;
        margin-bottom: 4px;
    }
    .checkout-order-body.summary span.total-psv-text,
    .total-psv-text {
        font-size: 0.813em;
        font-weight: $proxima-regular;
        line-height: 1.23;
        letter-spacing: 0.5px;
        color: $gray-dark;
    }
    .checkout-order-body.summary span.total-psv-val,
    .total-psv-val {
        font-size: 0.813em;
        font-weight: $proxima-light;
        line-height: 1.23;
        color: $gray-dark;
    }
    .checkout-order-wrapper .checkout-order-body.shipping div span.cust-name,
    .cust-name {
        font-size: 1em;
        font-weight: $proxima-semibold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        color: $gray-dark;
    }
    .underline {
        text-decoration: underline;
        margin-bottom: 6px;
    }
    .checkout-order-body.summary span.ship-status,
    .ship-status {
        font-size: 1.375em;
        font-weight: $proxima-thin;
        line-height: 1.55;
        color: $gray-dark;
    }
    .width-95 {
        width: 100%;
        padding: 0.750em;
    }
    .checkout-order-body.summary,
    .small-btn {
        .btn {
            padding: 8px;
            width: 90%;
        }
    }
    .ship-index {
        font-size: 0.813em;
        font-weight: $proxima-semibold;
        line-height: 1.23;
        letter-spacing: 0.5px;
        color: $gray-black;
        text-transform: uppercase;
    }
    .checkout-order-body.payment span.ship-method,
    .ship-method {
        font-size: 1em;
        font-weight: $proxima-light;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.38;
        color: $gray-dark;
    }
    .checkout-order-body.shipping label,
    .checkout-order-wrapper .checkout-order-body.payment label {
        font-size: 0.813em;
    }
    .checkout-order-wrapper {
        margin-bottom: 0.75em;
    }
    .m-r-10p {
        margin-right: 10px;
    }
    .font-weight-normal {
        font-weight: normal;
        padding-left: 0.6em;
    }
    .text-right {
        text-align: right;
    }
    .top-bottom-pad-20 {
        padding-top: 1.250em;
        padding-bottom: 1.250em;
    }
    .list-pane .btn {
        margin-bottom: 0;
    }
    .padd-8 {
        padding: 0.9rem 1.625rem 0.85rem;
    }
    .border-line-top {
        border-top: 1px solid $gray-border;
    }
    .no-anchor-style {
        color: $white;
        text-decoration: none;
    }
    #accordionform .panel-title button::after {
        content: '';
        background: url('../../../../../src/assets/images/css/icon-dropdown-circle-active.svg') center no-repeat;
        height: 1.6875rem;
        width: 1.6875rem;
        transition: all .2s;
        position: absolute;
        top: 0;
        right: 0;
    }
    #accordionform .panel-title button.collapsed::after {
        transform: rotate(0deg);
        background: url('../../../../../src/assets/images/css/icon-dropdown-circle.svg') center no-repeat;
    }
    #accordionform .panel-title {
        text-transform: none;
    }

    .checkout-order-body.summary div > span{
      font-weight: $proxima-regular;
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {
        .padd-8 {
            padding: 8px;
        }
        .checkout-order-wrapper {
            margin-bottom: 0.50em;
        }
        .checkout-guest-and-distributor .checkout-container .checkout-title-container div.section.banner-container {
            height: 11.500em;
        }
        .order-detail-header {
            padding-top: 1em;
            font-size: 1.875em;
        }
        .checkout-order-head{
          margin-top: 0.3em;
        }
        .top-buffer-15{
          margin-bottom: 0.5em;
        }
          .order-summary-wrapper-fixer.checkout-order-wrapper {
            padding: 1rem 0.625rem;
          }

    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .checkout-order-wrapper .checkout-order-head,
        .checkout-order-wrapper .checkout-order-body {
            width: 100%;
            margin-left: 0;
        }
        .checkout-order-body.summary,
        .small-btn {
            .btn {
                padding: 0.750em;
            }
        }
        .checkout-content-container .large-view-1 {
            width: 31.125em;
            margin: 0 auto;
        }
        .payment{
          margin-top: 0.7em;
        }
        .checkout-order-head{
          margin-top: 0.7em;
        }
        .top-buffer-15{
          margin-bottom: 0.8em;
        }
        .order-summary-wrapper-fixer.checkout-order-wrapper {
          padding: 1rem 0.625rem;
        }

    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .checkout-content-container .large-view-2 {
            width: 24.375rem;
        }
        .payment{
          margin-top: 0.5em;
        }
        .checkout-order-head{
          margin-top: 0.5em;
        }
        .top-buffer-15{
          margin-bottom: 0.5em;
        }
        .right-section{
          .checkout-order-wrapper.order-summary-wrapper-fixer {
            padding : 1.4375em 1.5625em 2em 1.5625em;
            .checkout-order-head{margin-top: 10px;}
          }
        }
    }
    @media screen and (min-width: 1440px) {
        .checkout-content-container .large-view-1 {
            width: 33.75rem;
        }
        .checkout-content-container .large-view-2 {
            width: 24.375rem;
        }
        .right-section{
          .checkout-order-wrapper.order-summary-wrapper-fixer {
            padding : 1.4375em 1.5625em 2em 1.5625em;
            .checkout-order-head{margin-top: 10px;}
          }
        }
        .main-section{
          width:61.1em;
        }
        .checkout-container .left-section{
          margin-right: 0.4em;
        }
        .large-full-view {
          width: 59em;
        }
    }
}

.modal-header-statement {
    font-size: 1.875em;
    font-weight: $proxima-thin;
    line-height: 1.55;
    color: $gray-dark;
}

.modal-radio-option {
    font-size: 1em;
    font-weight: $proxima-light;
    line-height: 1.38;
    color: $gray-dark;
}

.margin-left-24per {
    margin-left: 24%;
}

.padd-lr-29 {
    padding: 0 1.813em;
}

.print-container {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .margin-left-24per {
        margin-left: 8%;
    }
    .padd-lr-29 {
        padding: 0;
    }
    .payment{
      margin-top: 0.7em;
    }
}

@media print {
    .non-printable-section {
        display: none;
    }
    .print-container {
        display: block ;
        font-family: $font-family-sans-serif;
        padding: 1.25rem 2em;
        & .print-logo-container {
            padding: 0;
            & img {
                width: 8.1875rem;
                height: 1.875rem;
            }
        }
        & .print-order-container {
            margin-top: 1.25rem;
            padding: 0;
        }
        h1 {
            font-weight: $proxima-semibold;
            font-family: $headings-font-family;
            line-height: 1.4;
            color: $gray-dark;
            display: inline-block;
            text-transform: none;
            &.print-order-type {
                font-size: 1rem;
            }
            &.print-order-number {
                font-size: 1rem;
                text-decoration: underline;
                margin-left: 1.125rem;
            }
        }
        h2 {
            display: inline-block;
            font-weight: $proxima-semibold;
            font-family: $headings-font-family;
            line-height: 1.22;
            color: $gray-dark;
            font-size: 0.875rem;
            text-transform: none;
        }
        h3 {
            display: inline-block;
            text-transform: none;
            font-family: $headings-font-family;
        }
        .row-eq-height {
            display: flex;
        }
        .print-purchase-date {
            margin-left: 10px;
            font-weight: $proxima-light;
            display: inline-block;
            font-size: 0.875rem;
        }
        .print-order-amount {
            font-weight: $proxima-light;
            color: $gray-black;
            margin-left: 10px;
            display: inline-block;
            font-size: 1.25rem;
        }
        .print-order-total {
            & h2 {
                margin-bottom: 0;
                line-height: 1.57;
                vertical-align: sub;
            }
            td {
                text-align: right;
            }
            .print-order-amount {
                padding-right: 1em;
                min-width: 6em;
                vertical-align: top;
            }
            .promotion-applied {
                font-weight: normal;
                color: $gray-light;
                text-transform:uppercase;
            }
            .grand-total {
                border-top: 0.0625rem solid $gray-border;
                padding: 0.5rem 0 0.5rem 0.9375rem;
            }
        }
        .print-psv {
            h3 {
                font-weight: $proxima-regular;
                font-size: 0.8125rem;
                line-height: 1.23;
                margin-bottom: 0;
            }
            span {
                font-weight: $proxima-light;
                display: inline-block;
                margin-left: 10px;
                font-size: 0.8125rem;
            }
        }
        table {
            margin-left: 0.9375rem;
            margin-right: 0.9375rem;
            border: 0.0625rem solid $gray-border;
            & tr:first-child {
                td {
                    border-bottom: 0.0625rem solid $gray-border;
                    padding: 0.5rem 0 0.5rem 0.9375rem;
                    font-size: 0.875rem;
                    font-weight: $proxima-thin;
                }
            }
            & tr {
                & td,
                & th {
                    &:first-child {
                        padding: 0.5rem 0 0.5rem 0.9375rem;
                    }
                }
                & th {
                    font-size: 12px;
                    font-weight: $proxima-semibold;
                    &:last-child {
                        text-align: right;
                        padding-right: 2.9375rem;
                    }
                }
                & td {
                    & .print-item-detail {
                        & h3 {
                            margin-bottom: 0;
                            font-size: 0.875rem;
                            line-height: 1.8;
                            font-weight: $proxima-regular;
                        }
                        & span {
                            font-size: 12px;
                            font-weight: $proxima-light;
                            line-height: 1.6;
                            & + span {
                                margin-left: 2.5rem;
                            }
                        }
                    }
                    &.quantity {
                        font-size: 0.875rem;
                        font-weight: $proxima-light;
                        padding-left: 1.5rem;
                        vertical-align: top;
                    }
                    &.detail {
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                    &.cost {
                        text-align: right;
                        padding-right: 1.0625rem;
                    }
                }
            }
        }
        .print-shipment-container {
            & > div {
                width: 100%;
                display: inline-block;
                &:after {
                    clear: both;
                }
            }
            & h3 {
                font-weight: $proxima-semibold;
                font-size: 0.8125rem;
                margin-bottom: 0;
                &.shipment {
                    color: $gray;
                    text-transform: uppercase;
                    padding-right: 10px;
                    line-height: 1.23;
                }
                &.ship-date {
                    padding-right: 5px;
                }
            }
            & span {
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                line-height: 1.46;
            }
        }
        .print-item-details-container,
        .print-shipping-details-container,
        .print-payment-details-container {
            margin-right: 0.9375rem;
            margin-bottom: 0.9375rem;
        }
        .print-item-details-container {
            margin-top: 2.5rem;
        }
        .print-shipping-details-container {
            & h3 {
                font-size: 12px;
                font-weight: $proxima-semibold;
                line-height: 1.8;
                margin-bottom: 0;
            }
            & p {
                font-size: 12px;
                font-weight: $proxima-light;
                margin-bottom: 0;
                line-height: 1.8;
                & + p {
                    padding-bottom: 10px;
                }
            }
            & table {
                tr:nth-child(n+2) {
                    td {
                        padding-bottom: 0;
                    }
                }
                tr:nth-child(n+3) {
                    td {
                        padding-top: 0;
                    }
                }
                & .email {
                    font-size: 12px;
                    line-height: 1.8;
                    padding-top: 10px;
                }
                & .phone {
                    font-size: 12px;
                    line-height: 1.8;
                    color: $gray;
                    vertical-align: top;
                }
            }
        }
        .print-payment-details-container {
            & .print-card-info {
                padding-right: 1.0625rem;
                font-weight: 400;
            }
        }
    }
}
