.modal-body.clearfix
	.col-sm-12.pointer
		.btn-lg-close.pull-right(ng-click="cancel();")
	.col-sm-12					
		div
			div.form-section
				form.m-t-0(name="formInviteSection", novalidate="novalidate", form-submit="")
					div
						div.form-heading.m-b-2.text-center
							span.modal-header-statement Select order type
						div.clearfix.radio-button-group
							div.margin-left-24per
								div.radio.m-b-1
									input.form-control(type="radio", name="contact", ng-model="ctrl.model.orderType", ng-value="ctrl.model.oneTimeOrder", ng-required="true")
									label 
										span.radio-label-text.modal-radio-option One Time Order
							div.margin-left-24per
								div.radio.m-b-1
									input.form-control(type="radio", ng-model="ctrl.model.orderType", name="contact", ng-value="ctrl.model.recurringOrder", ng-required="true")
									label 
										span.radio-label-text.modal-radio-option Recurring Order

					div
						div.m-t-1.padd-lr-29
							button.btn.btn-primary(type="submit")
								span.text-uppercase next
						