.order-details.non-printable-section
  .checkout-guest-and-distributor
    .content.checkout-container.order-review
      .checkout-title-container.no-gutter
        section.header
          .section.banner-container
            .container-fluid.p-t-1(align='left')
              .pointer.p-l-1.navigate-back
                h5.text-white
                  a.no-anchor-style(ng-href='#/myorders') My Orders
              .center
                h1.text-white.text-uppercase.order-detail-header Order Details
      .checkout-content-container.no-gutter.hidden-lg-up
        .large-view-1
          .checkout-order-wrapper.p-t-2.p-b-0.m-t-0_5(ng-if='ctrl.checkoutData.orderSummary.shipmentDetails.length > 1')
            .row.checkout-order-body.summary.border-line
              .col-sm-12.no-gutter.m-b-0_5
                .col-sm-12.order-type {{ctrl.checkoutData.orderSummary.orderType}}
                .col-sm-12
                  span.underline {{'#'+ctrl.checkoutData.orderSummary.orderNumber}}
                .col-sm-12.purchase-date(ng-if='ctrl.checkoutData.orderSummary.orderFrequency') Frequency:  {{ctrl.checkoutData.orderSummary.orderFrequency}}
                .col-sm-12.purchase-date Purchase on {{ctrl.checkoutData.orderSummary.purchaseDate}}
                .col-sm-12
                  span.total-psv-text Total LOREM  
                  span.total-psv-val {{ctrl.checkoutData.orderSummary.totalPSV}}
                .col-sm-12.p-t-2
                  .col-sm-2.p-l-0
                    .checkout-order-wrapper.shop-bag-logo.m-t-neg-4
                  .col-sm-9.no-gutter
                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
            div(ng-repeat='shipment in ctrl.checkoutData.orderSummary.shipmentDetails', ng-class="{'border-line': !$last }")
              #accordionform.row
                .col-sm-12
                  #accordion.panel-group(role='tablist', aria-multiselectable='true')
                    .panel.panel-default.m-b-0.p-l-1.p-r-1
                      #shipment-bag.panel-heading.row(role='tab')
                        .panel-title.col-sm-12
                          .col-sm-12.no-gutter
                            .col-sm-10.no-gutter
                              .col-sm-12.no-gutter
                                span.ship-index Shipment {{'#' + ($index + 1)}}
                              .col-sm-12.no-gutter
                                span.total-psv-val Shipdate {{ctrl.checkoutData.orderSummary.shipDate}}
                            .col-sm-2.no-gutter
                              button.btn.collapsed(type='button', data-toggle='collapse', data-target='#shopping{{$index}}', aria-expanded='false', aria-controls='address')
                          .col-sm-12.no-gutter.m-b-2
                            span.ship-method Standard Shipping:
                            span.ship-method.font-weight-normal FREE
                        .col-sm-12.no-gutter.m-b-0.small-btn
                          .col-sm-12.reset
                            .col-sm-4
                              span.ship-status {{shipment.shipmentStatus}}
                            .col-sm-8.no-gutter
                              .col-sm-6.p-r-0
                                button.btn.btn-primary.pull-sm-right(type='button', ng-click='ctrl.reOrder()') REORDER
                              .col-sm-6.p-l-0
                                button.btn.btn-primary-outline.pull-sm-right(type='button', ng-disabled="(shipment.shipmentStatus == 'PENDING')") TRACK
                      .panel-collapse.collapse(id='shopping{{$index}}', role='tabpanel', aria-labelledby='shipment-bag', aria-expanded='false', style='height: 0px;')
                        .panel-body
                          .col-sm-12.no-gutter
                            span.ship-status Items ({{shipment.bagItems.length}})
                          .col-sm-12.list-pane.m-t-2
                            div(ng-repeat='item in shipment.bagItems')
                              .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                                .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                  img(ng-src='{{item.itemImage}}')
                                .col-sm-9.col-md-10.col-lg-9.no-gutter
                                  .row
                                    .col-lg-12.col-md-12.col-sm-12
                                      .product-title(ng-bind='item.itemName')
                                      .product-content(ng-bind='item.itemCode')
                                  .row.item-desc-cont
                                    .col-sm-6
                                      .product-content LOREM: {{item.psv}}
                                    .col-sm-6.text-sm-right.item-cost
                                      .product-cost {{item.itemCost | currency}}
                                    .col-sm-12
                                      .product-size
                                        span.product-size-label Size :
                                        | {{item.size}}
                                      .item-quantity
                                        span.product-size-label Qty: {{item.quantity}}
                                .col-sm-12.reset
                                  button.btn.btn-primary-outline.col-sm-4.pull-sm-right.padd-8(type='button', ng-click='ctrl.reOrder()') REORDER
            #accordionform.row.border-line-top
              .col-sm-12
                #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.panel-default.m-b-0.p-l-1.p-r-1
                    #shopping-bag.panel-heading(role='tab')
                      .panel-title
                        button.btn.collapsed(type='button', data-toggle='collapse', data-target='#not-shipped-sm', aria-expanded='false', aria-controls='address')
                          .col-sm-12.no-gutter
                            .col-sm-9.no-gutter
                              span.m-t-0.ship-index.text-uppercase NOT SHIPPED
                    #not-shipped-sm.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                      .panel-body
                        .col-sm-12.list-pane
                          div(ng-repeat='item in ctrl.checkoutData.orderSummary.notShipped')
                            .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                              .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                img(ng-src='{{item.itemImage}}')
                              .col-sm-9.col-md-9.col-lg-9.no-gutter
                                .row
                                  .col-lg-10.col-md-10.col-sm-10
                                    .product-title(ng-bind='item.itemName')
                                    .product-content(ng-bind='item.itemCode')
                                .row.item-desc-cont
                                  .col-sm-6
                                    .product-content LOREM: {{item.psv}}
                                  .col-sm-6.text-sm-right.item-cost
                                    .product-cost {{item.itemCost | currency}}
                                  .col-sm-12
                                    .product-size
                                      span.product-size-label Size :
                                      | {{item.size}}
                                    .item-quantity
                                      span.product-size-label Qty: {{item.quantity}}
                              .col-sm-12.no-gutter.m-t-1
                                .col-sm-6.no-gutter.total-psv-val.m-t-1 {{item.reason}}
                                .col-sm-6.no-gutter.ship-status.text-right {{item.status}}
          .checkout-order-wrapper.p-t-2.p-b-0.m-t-0_5(ng-if='ctrl.checkoutData.orderSummary.shipmentDetails.length == 1')
            .row.checkout-order-body.summary
              .col-sm-12.no-gutter.m-b-0_5
                .col-sm-12.order-type {{ctrl.checkoutData.orderSummary.orderType}}
                .col-sm-12
                  span.underline {{'#'+ctrl.checkoutData.orderSummary.orderNumber}}
                .col-sm-12.purchase-date(ng-if='ctrl.checkoutData.orderSummary.orderFrequency') Frequency:  {{ctrl.checkoutData.orderSummary.orderFrequency}}
                .col-sm-12.purchase-date Purchase on {{ctrl.checkoutData.orderSummary.purchaseDate}}
                .col-sm-12
                  span.total-psv-text Total LOREM
                  span.total-psv-val {{ctrl.checkoutData.orderSummary.totalPSV}}
              .col-sm-12.no-gutter.m-b-0_5
                .col-sm-12
                  span.total-psv-val Shipdate {{ctrl.checkoutData.orderSummary.shipDate}}
                .col-sm-12.m-b-2
                  span.ship-method Standard Shipping:
                  span.ship-method.font-weight-normal FREE
              .col-sm-12.no-gutter.m-b-0_5
                .col-sm-12.reset
                  .col-sm-4
                    span.ship-status {{ctrl.checkoutData.orderSummary.shipmentDetails[0].shipmentStatus}}
                  .col-sm-8.no-gutter
                    .col-sm-5.no-gutter.float-right
                      button.btn.btn-primary-outline.pull-sm-right(type='button', ng-disabled="(ctrl.checkoutData.orderSummary.shipmentDetails[0].shipmentStatus == 'PENDING')") TRACK
                    .col-sm-5.no-gutter.float-right
                      button.btn.btn-primary.pull-sm-right(type='button', ng-click='ctrl.reOrder()') REORDER
            #accordionform.row
              .col-sm-12
                #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.panel-default.m-b-0.p-l-1.p-r-1
                    #shopping-bag.panel-heading(role='tab')
                      h4.panel-title
                        button.btn.collapsed(type='button', data-toggle='collapse', data-target='#shopping', aria-expanded='false', aria-controls='address')
                          .col-sm-12
                            .row.col-sm-2.p-l-0
                              .checkout-order-wrapper.shop-bag-logo.m-t-neg-4
                            .col-sm-9
                              h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                    #shopping.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                      .panel-body
                        .col-sm-12.list-pane
                          div(ng-repeat='item in ctrl.checkoutData.bagItems')
                            .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                              .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                img(ng-src='{{item.itemImage}}')
                              .col-sm-9.col-md-10.col-lg-9.no-gutter
                                .row
                                  .col-lg-12.col-md-12.col-sm-12
                                    .product-title(ng-bind='item.itemName')
                                    .product-content(ng-bind='item.itemCode')
                                .row.item-desc-cont
                                  .col-sm-6
                                    .product-content LOREM: {{item.psv}}
                                  .col-sm-6.text-sm-right.item-cost
                                    .product-cost {{item.itemCost | currency}}
                                  .col-sm-12
                                    .product-size
                                      span.product-size-label Size :
                                      | {{item.size}}
                                    .item-quantity
                                      span.product-size-label Qty: {{item.quantity}}
                              .col-sm-12.reset
                                button.btn.btn-primary-outline.col-sm-4.pull-sm-right.padd-8(type='button', ng-click='ctrl.reOrder()') REORDER
        .large-view-1
          .checkout-order-wrapper.order-summary-wrapper-fixer
            .row.checkout-order-head.m-b-0_5
              .col-sm-2.p-r-0
                .checkout-order-wrapper.order-logo
              .col-sm-6.no-gutter
                h3.m-t-0 Order Summary
              .col-sm-4.print-inv.no-gutter
                a.float-right PRINT INVOICE
            .row.checkout-order-body.summary
              .col-sm-12
                .col-sm-8.m-b-1.no-gutter Shopping Bag Subtotal
                .col-sm-4.text-sm-right
                  span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                .col-sm-8.m-b-1.no-gutter Taxes
                .col-sm-4.text-sm-right
                  span {{ctrl.checkoutData.orderSummary.taxes | currency}}
                .col-sm-8.m-b-1.no-gutter Shipping
                .col-sm-4.text-sm-right
                  span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                .col-sm-8.m-b-0.no-gutter Promotion & Reward Applied
                .col-sm-4.text-sm-right
                  span {{ctrl.checkoutData.orderSummary.promoCodeReductionTotal | currency}}
                .col-sm-8.m-b-1.no-gutter.promo-list-title-order-detial(ng-repeat='promoCode in ctrl.checkoutData.orderSummary.promoCodeList')  {{promoCode}}
              .col-sm-12.no-gutter
                .pane-separator
              .col-sm-12.no-gutter
                .col-sm-8.estimated-total Total
                .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
          .checkout-order-wrapper
            .row.checkout-order-head
              .col-sm-2.p-r-0
                .checkout-order-wrapper.payment-logo
              .col-sm-8.p-l-0
                h3.m-t-4px Payment Method
            .row.checkout-order-body.payment
              .col-sm-12
                span.pull-sm-left
                  img(src='../../.././src/assets/images/content/visa-sm.png')
                .col-sm-9
                  p {{ctrl.checkoutData.paymentMethod.fullName}}
                  p
                    | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
              .col-sm-12.top-buffer-15
                label Billing Address
                div
                  span.check-mark
                  span  Same as Shipping Address
          .checkout-order-wrapper
            .row.checkout-order-head
              .col-sm-2.p-r-0
                .checkout-order-wrapper.ship-add-logo
              .col-sm-8.p-l-0
                h3.m-t-4px Shipping Address
            .row.checkout-order-body.shipping
              .col-sm-12.m-b-0_5
                .m-b-0_5
                  span.cust-name
                    | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                div
                  span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                  span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                  span
                    | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
              .col-sm-12.p-r-0
                .col-sm-12.m-b-0_5.p-l-0
                  label.m-b-0 email
                  span {{ctrl.checkoutData.shippingAddress.email}}
                .col-sm-12.p-l-0
                  label.m-b-0 Phone
                  span {{ctrl.checkoutData.shippingAddress.phone}}
      .checkout-content-container.no-gutter.hidden-md-down.m-t-0
        section.content
          .main-section.no-gutter.m-t-0
            .top-section
              .large-full-view
                .checkout-order-wrapper.col-lg-12
                  .row.checkout-order-body.summary
                    .col-sm-12.no-gutter
                      .col-sm-2.no-gutter.m-b-0_5.order-type {{ctrl.checkoutData.orderSummary.orderType}}
                      .col-sm-3.no-gutter
                        span.underline {{'#'+ctrl.checkoutData.orderSummary.orderNumber}}
                      .col-sm-6.no-gutter.text-sm-right.float-right.purchase-date Purchase on {{ctrl.checkoutData.orderSummary.purchaseDate}}
                    .col-sm-12.no-gutter
                      .col-sm-6.no-gutter(ng-if='ctrl.checkoutData.orderSummary.orderFrequency') Frequency:  {{ctrl.checkoutData.orderSummary.orderFrequency}}
                      .col-sm-6.no-gutter(ng-class="{'text-sm-right':ctrl.checkoutData.orderSummary.orderFrequency}")
                        span.total-psv-text Total LOREM  
                        span.total-psv-val {{ctrl.checkoutData.orderSummary.totalPSV}}
            .left-section
              .large-view-1
                .checkout-order-wrapper.col-lg-12.p-t-2.p-b-0(ng-if='ctrl.checkoutData.orderSummary.shipmentDetails.length > 1')
                  .row.checkout-order-body.summary.border-line
                    .col-sm-12.no-gutter.m-b-0_5.m-t-0_5
                      .col-sm-12
                        .col-sm-2.p-l-0
                          .checkout-order-wrapper.shop-bag-logo.m-t-neg-4
                        .col-sm-9.no-gutter
                          h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                  div(ng-repeat='shipment in ctrl.checkoutData.orderSummary.shipmentDetails', ng-class="{'border-line': !$last }")
                    #accordionform.row
                      .col-sm-12
                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                          .panel.panel-default.m-b-0.p-l-1.p-r-1
                            #shipment-bag.panel-heading.row(role='tab')
                              .panel-title.col-sm-12
                                .col-sm-12.no-gutter
                                  .col-sm-10.no-gutter
                                    .col-sm-12.no-gutter
                                      span.ship-index.text-uppercase Shipment {{'#'+($index + 1)}}
                                    .col-sm-12.no-gutter
                                      span.total-psv-val Shipdate {{ctrl.checkoutData.orderSummary.shipDate}}
                                  .col-sm-2.no-gutter
                                    button.btn.collapsed(type='button', data-toggle='collapse', data-target='#shoppings{{$index}}', aria-expanded='false', aria-controls='address')
                                .col-sm-12.no-gutter.m-b-2
                                  span.ship-method Standard Shipping:
                                  span.ship-method.font-weight-normal FREE
                              .col-sm-12.no-gutter.m-b-0
                                .col-sm-12.reset
                                  .col-sm-4
                                    span.ship-status {{shipment.shipmentStatus}}
                                  .col-sm-8
                                    .col-sm-6.p-r-0.float-right
                                      button.btn.btn-primary-outline.pull-sm-right.width-95(type='button', ng-disabled="(shipment.shipmentStatus == 'PENDING')") TRACK
                                    .col-sm-6.p-r-0.float-right
                                      button.btn.btn-primary.pull-sm-right.width-95(type='button', ng-click='ctrl.reOrder()') REORDER
                            .panel-collapse.collapse(id='shoppings{{$index}}', role='tabpanel', aria-labelledby='shipment-bag', aria-expanded='false', style='height: 0px;')
                              .panel-body
                                .col-sm-12.no-gutter
                                  span.ship-status Items ({{shipment.bagItems.length}})
                                .col-sm-12.list-pane.m-t-2
                                  div(ng-repeat='item in shipment.bagItems')
                                    .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                                      .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                        img(ng-src='{{item.itemImage}}')
                                      .col-sm-9.col-md-10.col-lg-9.no-gutter
                                        .row
                                          .col-lg-12.col-md-12.col-sm-12
                                            .product-title(ng-bind='item.itemName')
                                            .product-content(ng-bind='item.itemCode')
                                        .row.item-desc-cont
                                          .col-sm-6
                                            .product-content LOREM: {{item.psv}}
                                          .col-sm-6.text-sm-right.item-cost
                                            .product-cost {{item.itemCost | currency}}
                                          .col-sm-12
                                            .product-size
                                              span.product-size-label Size :
                                              | {{item.size}}
                                            .item-quantity
                                              span.product-size-label Qty: {{item.quantity}}
                                      .col-sm-12.reset
                                        .col-sm-8.pull-sm-right.p-r-0
                                          .col-sm-6.p-r-0.pull-sm-right
                                            button.btn.btn-primary-outline.width-95(type='button', ng-click='ctrl.reOrder()') REORDER
                  #accordionform.row.border-line-top
                    .col-sm-12
                      #accordion.panel-group(role='tablist', aria-multiselectable='true')
                        .panel.panel-default.m-b-0.p-l-1.p-r-1.p-t-2.p-b-2
                          #shopping-bag.panel-heading(role='tab')
                            .panel-title
                              button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#not-shipped', aria-expanded='false', aria-controls='address')
                                .col-sm-12.no-gutter
                                  .col-sm-9.no-gutter
                                    span.m-t-0.ship-index.text-uppercase NOT SHIPPED
                          #not-shipped.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                            .panel-body
                              .col-sm-12.list-pane
                                div(ng-repeat='item in ctrl.checkoutData.orderSummary.notShipped')
                                  .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                                    .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                      img(ng-src='{{item.itemImage}}')
                                    .col-sm-9.col-md-9.col-lg-9.no-gutter
                                      .row
                                        .col-lg-10.col-md-10.col-sm-10
                                          .product-title(ng-bind='item.itemName')
                                          .product-content(ng-bind='item.itemCode')
                                      .row.item-desc-cont
                                        .col-sm-6
                                          .product-content LOREM: {{item.psv}}
                                        .col-sm-6.text-sm-right.item-cost
                                          .product-cost {{item.itemCost | currency}}
                                        .col-sm-12
                                          .product-size
                                            span.product-size-label Size :
                                            | {{item.size}}
                                          .item-quantity
                                            span.product-size-label Qty: {{item.quantity}}
                                    .col-sm-12.no-gutter.m-t-1
                                      .col-sm-6.no-gutter.total-psv-val.m-t-1 {{item.reason}}
                                      .col-sm-6.no-gutter.ship-status.text-right {{item.status}}
                .checkout-order-wrapper.col-lg-12.p-t-2.p-b-0(ng-if='ctrl.checkoutData.orderSummary.shipmentDetails.length > 1')
                  .panel-title.col-sm-12.border-line
                    .col-sm-12.no-gutter
                      span.total-psv-val Shipdate {{ctrl.checkoutData.orderSummary.shipDate}}
                    .col-sm-12.no-gutter.m-b-2
                      span.ship-method Standard Shipping:
                      span.ship-method.font-weight-normal FREE
                    .col-sm-12.no-gutter.m-b-0_5
                      .col-sm-12.reset
                        .col-sm-4.no-gutter
                          span.ship-status {{ctrl.checkoutData.orderSummary.shipmentDetails[0].shipmentStatus}}
                        .col-sm-8.no-gutter
                          .col-sm-6.p-r-0.float-right
                            button.btn.btn-primary-outline.pull-sm-right.width-95(type='button', ng-disabled="(ctrl.checkoutData.orderSummary.shipmentDetails[0].shipmentStatus == 'PENDING')") TRACK
                          .col-sm-6.p-r-0.float-right
                            button.btn.btn-primary.pull-sm-right.width-95(type='button', ng-click='ctrl.reOrder()') REORDER
                  #accordionform.row
                    .col-sm-12
                      #accordion.panel-group(role='tablist', aria-multiselectable='true')
                        .panel.panel-default.m-b-1.p-l-1.p-r-1
                          #shopping-bag.panel-heading(role='tab')
                            h4.panel-title
                              button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping-lg', aria-expanded='false', aria-controls='address')
                                .col-sm-12
                                  .row.col-sm-2.p-l-0
                                    .checkout-order-wrapper.shop-bag-logo.p-l-0.m-t-neg-4
                                  .col-sm-9
                                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                          #shopping-lg.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                            .panel-body
                              .col-sm-12.list-pane
                                div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                  .col-sm-12.top-bottom-pad-20.no-gutter(ng-class="{'border-line': !$last }")
                                    .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                      img(ng-src='{{item.itemImage}}')
                                    .col-sm-9.col-md-9.col-lg-9.no-gutter
                                      .row
                                        .col-lg-10.col-md-10.col-sm-10
                                          .product-title(ng-bind='item.itemName')
                                          .product-content(ng-bind='item.itemCode')
                                      .row.item-desc-cont
                                        .col-sm-6
                                          .product-content LOREM: {{item.psv}}
                                        .col-sm-6.text-sm-right.item-cost
                                          .product-cost {{item.itemCost | currency}}
                                        .col-sm-12
                                          .product-size
                                            span.product-size-label Size :
                                            | {{item.size}}
                                          .item-quantity
                                            span.product-size-label Qty: {{item.quantity}}
                                    .col-sm-12.reset
                                      .col-sm-8.pull-sm-right.p-r-0
                                        .col-sm-6.p-r-0.pull-sm-right
                                          button.btn.btn-primary-outline.width-95(type='button', ng-click='ctrl.reOrder()') REORDER
            .right-section
              .no-gutter.large-view-2
                .checkout-order-wrapper.order-summary-wrapper-fixer.col-lg-12
                  .row.checkout-order-head
                    .col-sm-2.p-r-0
                      .checkout-order-wrapper.order-logo.p-l-0.m-t-neg-4
                    .col-sm-6.no-gutter
                      h3.m-t-0 Order Summary
                    .col-sm-4.print-inv.no-gutter
                      a.float-right PRINT INVOICE
                  .row.checkout-order-body.summary
                    .col-sm-12
                      .col-sm-8.m-b-1.no-gutter Shopping Bag Subtotal
                      .col-sm-4.text-sm-right
                        span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                      .col-sm-8.m-b-1.no-gutter Taxes
                      .col-sm-4.text-sm-right
                        span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                      .col-sm-8.m-b-1.no-gutter Shipping
                      .col-sm-4.text-sm-right
                        span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                      .col-sm-8.m-b-0.no-gutter Promotion & Reward Applied
                      .col-sm-4.text-sm-right
                        span {{ctrl.checkoutData.orderSummary.promoCodeReductionTotal | currency}}
                      .col-sm-8.m-b-1.no-gutter.promo-list-title-order-detial(ng-repeat='promoCode in ctrl.checkoutData.orderSummary.promoCodeList')  {{promoCode}}
                    .col-sm-12
                      .pane-separator
                    .col-sm-12.no-gutter
                      .col-sm-8.estimated-total Total
                      .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
                .checkout-order-wrapper.col-lg-12
                  .row.checkout-order-head
                    .col-sm-2.p-r-0
                      .checkout-order-wrapper.payment-logo.p-l-0.m-t-neg-4
                    .col-sm-8.p-l-0
                      h3.m-t-0 Payment Method
                  .row.checkout-order-body.payment
                    .col-sm-12
                      span.pull-sm-left
                        img(src='../../.././src/assets/images/content/visa-sm.png')
                      .col-sm-9
                        p {{ctrl.checkoutData.paymentMethod.fullName}}
                        p
                          | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
                    .col-sm-12.top-buffer-15
                      label Billing Address
                      div
                        span.check-mark.m-r-10p
                        span.ship-method Same as Shipping Address
                .checkout-order-wrapper.col-lg-12
                  .row.checkout-order-head
                    .col-sm-2.p-r-0
                      .checkout-order-wrapper.ship-add-logo.p-l-0.m-t-neg-4
                    .col-sm-8.p-l-0
                      h3.m-t-0 Shipping Address
                  .row.checkout-order-body.shipping
                    .col-sm-12.m-b-0_5
                      .m-b-0_5
                        span.cust-name
                          | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                      div
                        span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                        span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                        span
                          | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                    .col-sm-12
                      .col-sm-12.m-b-0_5.p-l-0
                        label.m-b-0 email
                        span {{ctrl.checkoutData.shippingAddress.email}}
                      .col-sm-12.col-md-6.p-l-0
                        label.m-b-0 Phone
                        span {{ctrl.checkoutData.shippingAddress.phone}}
.col-sm-12.print-container
  .col-sm-12.print-logo-container
    img(src='../../../../../src/assets/images/css/ic-logo.svg')
  .col-sm-12.print-order-container
    .row
      .col-sm-12
        h1.print-order-type {{ctrl.checkoutData.orderSummary.orderType}}
        h1.print-order-number {{'#'+ctrl.checkoutData.orderSummary.orderNumber}}
    .row
      .col-sm-12
        h2 Purchase Date:
        span.print-purchase-date {{ctrl.checkoutData.orderSummary.purchaseDate}}
    .row.row-eq-height
      .col-sm-8.print-shipment-container
        div(ng-repeat='shipment in ctrl.checkoutData.orderSummary.shipmentDetails')
          h3.shipment Shipment {{'#' + ($index + 1)}}
          h3.ship-date Ship Date:
          span {{ctrl.checkoutData.orderSummary.shipDate}}
      .col-sm-4
        .print-order-total
          h2 Order Total:
          span.print-order-amount {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
        .print-psv
          h3 TOTAL LOREM
          span {{ctrl.checkoutData.orderSummary.totalPSV}}
    .row.print-item-details-container
      table.col-sm-12
        tr
          td(colspan='3')
            span Items ({{ctrl.checkoutData.bagItems.length}})
        tr
          th Qty
          th Items
          th Price
        tr(ng-repeat='item in ctrl.checkoutData.bagItems', ng-class="{'odd':$odd}")
          td.quantity {{item.quantity}}
          td.detail
            .print-item-detail
              h3 {{item.itemName}}
              div
                span {{item.itemCode}}
                span {{item.size}}
          td.cost {{item.itemCost | currency}}
        tr.print-order-total
          td(colspan='3')
            h2 Shopping Bag Subtotal:
            span.print-order-amount {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
        tr.print-order-total
          td(colspan='3')
            h2 Taxes:
            span.print-order-amount {{ctrl.checkoutData.orderSummary.taxes | currency}}
        tr.print-order-total
          td(colspan='3')
            h2 Shipping:
            span.print-order-amount {{ctrl.checkoutData.orderSummary.shipping | currency}}
        tr.print-order-total
          td(colspan='3')
            h2
              | Promotion & Reward Applied:
              .promotion-applied 
            span.print-order-amount {{ctrl.checkoutData.orderSummary.promoCodeReductionTotal | currency}}
        tr.print-order-total
          td.grand-total(colspan='3')
            h2 GRAND TOTAL:
            span.print-order-amount {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
    .row.print-shipping-details-container
      table.col-sm-12
        tr
          td(colspan='2')
            span Shipping Details
        tr
          td
            h3
              | {{ctrl.checkoutData.shippingAddress.lastName + " " +  ctrl.checkoutData.shippingAddress.firstName}}
          td.email
            span {{ctrl.checkoutData.shippingAddress.email}}
        tr
          td.reset-padding
            p {{ctrl.checkoutData.shippingAddress.addressLine1}}
            p {{ctrl.checkoutData.shippingAddress.addressLine2}}
          td.phone
            span {{ctrl.checkoutData.shippingAddress.phone}}
    .row.print-payment-details-container
      table.col-sm-12
        tr
          td
            span Payment Details
          td
            span.pull-right.print-card-info
              | VISA card Ending with {{ctrl.checkoutData.paymentMethod.endingWith}}, Exp {{ctrl.checkoutData.paymentMethod.expirationDate}}
    .row.print-shipping-details-container
      table.col-sm-12
        tr
          td(colspan='2')
            span Billing Address
        tr
          td
            h3
              | {{ctrl.checkoutData.shippingAddress.lastName + " " +  ctrl.checkoutData.shippingAddress.firstName}}
          td.email
            span {{ctrl.checkoutData.shippingAddress.email}}
        tr
          td.reset-padding
            p {{ctrl.checkoutData.shippingAddress.addressLine1}}
            p {{ctrl.checkoutData.shippingAddress.addressLine2}}
          td.phone
            span {{ctrl.checkoutData.shippingAddress.phone}}
