div.mandatoryinfocontainer.col-sm-12.no-gutter(ng-hide="vm.model.showMandatoryInfoForm")
  div.form-group.col-sm-12.no-gutter
    div.sectiontitle.col-sm-11.no-gutter your details
    div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showMandatoryInfoForm = true")   
  div.col-sm-12.no-gutter 
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.mandatoryInfo.accountType") Account Type : {{vm.model.mandatoryInfo.accountType}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.mandatoryInfo.accountType") Account Type: Not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.mandatoryInfo.mobilePhoneInput") Phone Number : {{vm.model.mandatoryInfo.mobilePhoneInputDisplay}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.mandatoryInfo.mobilePhoneInput") Phone Number: not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.mandatoryInfo.email") Email : {{vm.model.mandatoryInfo.email}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.mandatoryInfo.email") Email: Not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.mandatoryInfo.birthdate") Birthday : {{vm.model.mandatoryInfo.birthdate}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.mandatoryInfo.birthdate") Birthday: Not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.mandatoryInfo.ssnInput") SSN# : {{vm.model.mandatoryInfo.ssnInputDisplay}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.mandatoryInfo.ssnInput") SSN#: Not specified
                
ng-form.signupform.col-sm-12.no-gutter(name="vm.mandatoryInfoForm" novalidate ng-show="vm.model.showMandatoryInfoForm")
  div.form-group.col-sm-12.no-gutter
    div.sectiontitle.col-sm-11.no-gutter your details
    div.col-sm-1.no-gutter
    fieldset.col-sm-12.no-gutter.sectiondetails.section-padding
      div.col-sm-12.form-group.no-gutter.m-b-2
        label.form-label Mobile Phone Number
        input#mobilePhoneInput.form-control.m-b-0(type='text' name='mobilePhoneInput' ng-model='vm.model.mandatoryInfo.mobilePhoneInput' ui-mask='(999) 999-9999' placeholder="Enter your Phone Number" ui-mask-placeholder required )

        span.error-block(ng-show="(vm.mandatoryInfoForm.mobilePhoneInput.$touched && vm.mandatoryInfoForm.mobilePhoneInput.$error.required) || (vm.mandatoryInfoForm.mobilePhoneInput.$dirty && vm.mandatoryInfoForm.mobilePhoneInput.$error.required) || (vm.mandatoryInfoForm.$submitted  && vm.mandatoryInfoForm.mobilePhoneInput.$error.required)") Please enter the Mobile Phone Number

      div.col-sm-12.m-b-2.no-gutter
        birthday-picker(day="vm.model.day" year="vm.model.year" month="vm.model.month"  valid-date-check="vm.model.validDate" required)
          div.row
            span(ng-show="vm.model.hasError.err" class="error-block") {{vm.model.hasError.message}}

      div.col-sm-12.form-group.no-gutter.m-b-2
          label.form-label Social Security Number
          input#ssnInput.form-input.password-input.m-b-0(type='{{vm.model.inputType}}', allow-data="numbers-only", placeholder="Enter Social Security Number" ui-mask-placeholder name="ssnInput" ng-model='vm.model.mandatoryInfo.ssnInput' ng-bind='vm.model.mandatoryInfo.ssnInput | ssnCheck' ui-mask='999-99-9999' required)

          img#passwordImage.password-icon(ng-src="{{vm.model.currentState == 'masked'? vm.model.passwordimage.text: vm.model.passwordimage.mask}}" ng-click='vm.model.changeImage()')
          div
            span.error-block(ng-show="(vm.mandatoryInfoForm.ssnInput.$touched && vm.mandatoryInfoForm.ssnInput.$error.required) || (vm.mandatoryInfoForm.ssnInput.$dirty && vm.mandatoryInfoForm.ssnInput.$error.required) || (vm.mandatoryInfoForm.$submitted  && vm.mandatoryInfoForm.ssnInput.$error.required)") Please enter the Social Security Number
      div.col-sm-12.form-group.no-gutter
        p.small We only use this information to set up your business. We will keep it secure and this is just placeholder copy.

        div.col-sm-12.no-gutter
          div.col-sm-12.no-gutter
            button.btn.btn-primary-outline.btn-block(type='submit', ng-click='vm.model.submitMandatoryInfo(vm.mandatoryInfoForm)' ) SAVE UPDATES
          div.col-sm-12.no-gutter
            button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelMandatoryInfo()') Discard Changes
