div.familyinfocontainer.col-sm-12.no-gutter
  div.form-group.col-sm-12.no-gutter.signupform
    div.sectiontitle.col-sm-11.no-gutter Family Details
    div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showFamilyInfoForm = !vm.model.showFamilyInfoForm") 
div#optional-form.col-sm-12.no-gutter
    div.col-sm-12.no-gutter
        div.form-group.row.col-sm-12.no-gutter
            div#memberList.col-sm-6.member-container.no-gutter(ng-show="vm.model.familyMemberList.length > 1" ng-repeat="member in vm.model.familyMemberList")
                .member-title {{member.firstname}} {{member.lastname}}
                h5.form-label {{member.accountstatus}}
            div#memberList.col-sm-12.member-container.no-gutter(ng-show="vm.model.familyMemberList.length == 1" ng-repeat="member in vm.model.familyMemberList")
                .member-title {{member.firstname}} {{member.lastname}}
                h5.form-label {{member.accountstatus}}
    ng-form.signupform.col-sm-12.no-gutter(novalidate name="vm.addNewMember" ng-show="vm.model.showFamilyInfoForm" ng-submit)
        fieldset.col-sm-12.no-gutter
            div.row.m-b-2
                div.col-sm-12
                    label.form-label First Name
                    input#firstname.form-control.m-b-0(type='text' name='firstname' ng-model='vm.model.familyInfo.firstname' required ng-class="{'ng-touched': vm.model.isFamilyAdded}")
                    span.error-block(ng-show="(vm.addNewMember.firstname.$touched && vm.addNewMember.firstname.$error.required) || (vm.addNewMember.firstname.$dirty && vm.addNewMember.firstname.$error.required) || (vm.addNewMember.$submitted  && vm.addNewMember.firstname.$error.required)") Please enter First Name
            div.row.m-b-2
                div.col-sm-12
                    label.form-label Last Name
                    input#lastname.form-control.m-b-0(type='text' name='lastname' ng-model='vm.model.familyInfo.lastname' required ng-class="{'ng-touched': vm.model.isFamilyAdded}")
                    span.error-block(ng-show="(vm.addNewMember.lastname.$touched && vm.addNewMember.lastname.$error.required) || (vm.addNewMember.lastname.$dirty && vm.addNewMember.lastname.$error.required) || (vm.addNewMember.$submitted  && vm.addNewMember.lastname.$error.required)") Please enter Last Name
            div.col-sm-12.no-gutter
                //- label.form-label Contact Preference
            //- div.btn-group.contact-preference.col-sm-12.no-gutter
            //-     input.btn(type='button' name="emailinput" value="EMAIL" ng-click="vm.model.selectPreference('email','F')" ng-class="{'contact-button-mail-selected': vm.model.familyInfo.contactByEmail,'contact-button-mail' : (!vm.model.familyInfo.contactByEmail || vm.model.familyInfo.contactByEmail == 'undefined')}")
            //-     input.btn(type='button' name="phoneinput" value="PHONE" ng-click="vm.model.selectPreference('phone','F')" ng-class="{'contact-button-phone-selected': vm.model.familyInfo.contactByPhone,'contact-button-phone' : (!vm.model.familyInfo.contactByPhone || vm.model.familyInfo.contactByPhone == 'undefined')}")
            div.col-sm-12.no-gutter.m-b-2(ng-show="vm.model.familyInfo.contactByEmail==true")
                div.col-sm-12.no-gutter
                    label.form-label Email
                    input#memberemail.form-control.m-b-0(type='text' name='memberemail' ng-model='vm.model.associate.contactpreference.email' ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="vm.model.familyInfo.contactByEmail==true" ng-class="{'ng-touched': vm.model.isFamilyAdded}")
                    span.error-block(ng-show="(vm.addNewMember.memberemail.$touched && vm.addNewMember.memberemail.$error.required) || (vm.addNewMember.memberemail.$dirty && vm.addNewMember.memberemail.$error.required) || (vm.addNewMember.$submitted  && vm.addNewMember.memberemail.$error.required)") Please enter Email Address
            //- div.col-sm-12.no-gutter
            //-     .col-sm-12.no-gutter(ng-show="(vm.model.familyInfo.contactByEmail==false)")
            //-         label.form-label Phone
            //-         input#memberphone.form-control(type='string' name='memberphone' ng-model='vm.model.familyInfo.contactpreference.phone' ui-mask='(999) 999-9999' placeholder="Enter your Phone Number" ui-mask-placeholder ng-required="vm.model.familyInfo.contactByEmail==false")
            //-         span.error-block(ng-show="(vm.addNewMember.memberphone.$touched && vm.addNewMember.memberphone.$error.required) || (vm.addNewMember.memberphone.$dirty && vm.addNewMember.memberphone.$error.required) || (vm.addNewMember.$submitted  && vm.addNewMember.memberphone.$error.required)") Please enter Phone Number  
            div.col-sm-12.no-gutter
                button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit' ng-click="vm.model.updateMember()") Send Invite 
            div.col-sm-12.no-gutter
              div.col-sm-12.no-gutter
                button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelFamilyInfo(vm.addNewMember)') Discard Changes
