div.sponsorcontainer.col-sm-12.no-gutter
    div.form-group.col-sm-12.no-gutter
        div.sectiontitle.col-sm-11.no-gutter your sponsor
    div.col-sm-12.no-gutter(ng-if="vm.model.isSponsorSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter Skipped
    div.col-sm-12.no-gutter(ng-if="!vm.model.isSponsorSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.sponsor.sponsorName") Sponsor : {{vm.model.sponsor.sponsorName}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.sponsor.sponsorName2") Sponsor: Not specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.sponsor.distributorId") Distributor ID : {{vm.model.sponsor.distributorId}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.sponsor.distributorId") Distributor ID: Not specified
