div.paymentcontainer.col-sm-12.no-gutter(ng-hide="vm.model.showPaymentForm")
  div.form-group.col-sm-12.no-gutter
    div.sectiontitle.col-sm-11.no-gutter payment
    div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showPaymentForm = true")
  div.col-sm-12.no-gutter(ng-if="vm.model.isPaymentSkipped")
    div.form-group.col-sm-12.sectiondetails.no-gutter Skipped
  div.col-sm-12.no-gutter(ng-if="!vm.model.isPaymentSkipped")
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.payment.accName") Account Name: {{vm.model.payment.accName}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.payment.accName") Account Name: not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.payment.accType") Account Type:  {{vm.model.payment.accType}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.payment.accType")  Account Type: not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.payment.routingNum") Routing Number: {{vm.model.payment.routingNum}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.payment.routingNum") Routing Number: not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.payment.accNum") Account Number:  {{vm.model.payment.accNum}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.payment.accNum") Account Number: not specified
ng-form.signupform.col-sm-12.no-gutter(name="vm.paymentForm" novalidate ng-show="vm.model.showPaymentForm")
    div.form-group.col-sm-12.no-gutter
      div.sectiontitle.col-sm-11.no-gutter payment
      div.col-sm-1.no-gutter
    fieldset.col-sm-12.no-gutter.sectiondetails
      div.col-sm-12.form-group.no-gutter
       label.form-label Name on Account
       input#accname.form-control(type='text' name='accname' ng-model='vm.model.payment.accName' required)
       div(ng-messages='vm.paymentForm.accname.$error', ng-show="vm.paymentForm.accname.$touched || vm.paymentForm.$submitted" class="error-block")
        div(ng-message='required') Please enter a value for this field

      div.col-sm-12.form-group.no-gutter
        label.form-label Account Type
        div.radio
          input(type='radio' id="acctype1" name ="acctype" value="Checking" ng-model='vm.model.payment.accType' ng-required="!vm.model.payment.accType")
          label(for="acctype1") Checkings
        div.radio
          input(type='radio' id="acctype2" name ="acctype" value="Saving" ng-model='vm.model.payment.accType' ng-required="!vm.model.payment.accType")
          label(for="acctype2") Savings
        div(ng-show="!vm.model.payment.accType" class="error-block") Please enter a value for this field          


      div.col-sm-12.form-group.no-gutter
        label.form-label Routing Number
        input#routingnum.form-control(type='tel', allow-data="numbers-only", name ="routingnum" ng-model='vm.model.payment.routingNum' required)
        div(ng-messages='vm.paymentForm.routingnum.$error', ng-show="vm.paymentForm.routingnum.$touched || vm.paymentForm.$submitted" class="error-block")
            div(ng-message='required') Please enter a value for this field

      div.col-sm-12.form-group.no-gutter
        label.form-label Account Number
        input#accnum.form-control(type='tel', allow-data="numbers-only", name ="accnum" ng-model='vm.model.payment.accNum' required)
        div(ng-messages='vm.paymentForm.accnum.$error', ng-show="vm.paymentForm.accnum.$touched || vm.paymentForm.$submitted" class="error-block")
            div(ng-message='required') Please enter a value for this field
      div.col-sm-12.form-group.no-gutter
        input(type="checkbox" id="directpolicy" name="directpolicy" value="directpolicybox" ng-required="!vm.model.payment.directpolicy" ng-model="vm.model.payment.directpolicy")
        label.form-label I agree to the
          a.policy-link.form-label(data-toggle="modal" data-target="#directPolicyModal") Direct Deposit Policy
        div(ng-messages='vm.paymentForm.directpolicy.$error', ng-show="vm.paymentForm.directpolicy.$touched || vm.paymentForm.$submitted" class="error-block")
            div(ng-message='required') Please accept the terms of the policy.
      div#directPolicyModal.modal.fade(role="dialog")
        div.modal-dialog
          div.modal-content
           div.modal-header
              button(type="button" data-dismiss="modal" padding="2px").close &times;
            div.modal-body
             h3.form-label Direct Deposit Policy
            p(ng-bind-html="vm.model.directPolicyContent")
      div.col-sm-12.sectiondetails.no-gutter
        div.col-sm-12.no-gutter
         button.btn.btn-primary-outline.btn-block(type='submit', ng-click='vm.model.submitPayment(vm.paymentForm)') SAVE UPDATES
        div.col-sm-12.no-gutter
          button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelPayment()') Discard Changes
