div.addresscontainer.col-sm-12.no-gutter(ng-hide="vm.model.showPreferenceForm")
    div.form-group.col-sm-12.no-gutter
        div.sectiontitle.col-sm-11.no-gutter Preferences
        div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showPreferenceForm = true")
    div.col-sm-12.no-gutter(ng-if="vm.model.isPreferencesSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter Skipped
    div.col-sm-12.no-gutter(ng-if="!vm.model.isPreferencesSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.preferences.gender") Gender:  {{vm.model.preferences.gender}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.preferences.gender") Gender:  Not Specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.preferences.marketingSignup") Signup for Marketing Mails: 
            span.text-uppercase {{vm.model.preferences.marketingSignup}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.preferences.marketingSignup") Signup for Marketing Mails: Not Specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.preferences.contactPreference") Contact Preference:  {{vm.model.preferences.contactPreference}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.preferences.contactPreference") Contact Preference:  {{vm.model.preferences.contactPreference}}
    div.form-group.row(ng-hide="vm.model.preferences.gender || vm.model.preferences.marketingSignup || vm.model.preferences.contactPreference")
form.signupform.col-sm-12.no-gutter(name="vm.preferencesForm" novalidate ng-show="vm.model.showPreferenceForm")
    div.col-sm-12.form-group.no-gutter
        div.sectiontitle.col-sm-11.no-gutter Preferences
        div.col-sm-1.no-gutter
    fieldset.col-sm-12.no-gutter
        div.col-sm-12.form-group.no-gutter
            div.col-sm-12.no-gutter.m-b-1
                label(for='gender') Gender
            div.col-sm-12.form-group.no-gutter.m-b-0
                div.radio-custom.no-gutter
                    input#male(type="radio" name="gender" value="male" ng-model="vm.model.preferences.gender")
                    label.form-label(for="male") Male
                div.radio-custom.no-gutter
                    input#female(type="radio" name="gender" value="female" ng-model="vm.model.preferences.gender")
                    label.form-label(for="female") Female
        div.col-sm-12.no-gutter.m-b-1
            div.col-sm-12.form-group.no-gutter.m-b-1
                label(for='marketingSignup' display="block") Sign up for Nu Skin marketing mails?
            div.col-sm-12.form-group.no-gutter.m-b-0
                div.radio-custom.no-gutter
                    input#yes(type='radio' name="marketingSignup" value="yes" ng-model="vm.model.preferences.marketingSignup")
                    label.form-label(for="yes") Yes
                div.radio-custom.no-gutter
                    input#no(type='radio' name="marketingSignup" value="no" ng-model="vm.model.preferences.marketingSignup")
                    label.form-label(for="no") No
        div.col-sm-12.no-gutter.m-b-1
            div.col-sm-12.form-group.no-gutter.m-b-1
                label(for='contactPreference' display="block") Contact Preference
            div.col-sm-12.form-group.no-gutter.m-b-0
                div.radio-custom.no-gutter
                    input#text(type='radio' name="contactPreference" value="text" ng-model="vm.model.preferences.contactPreference")
                    label.form-label(for="text") Text
                div.radio-custom.no-gutter
                    input#email(type='radio' name="contactPreference" value="email" ng-model="vm.model.preferences.contactPreference")
                    label.form-label(for="email") Email
                div.radio-custom.no-gutter
                    input#mail(type='radio' name="contactPreference" value="mail" ng-model="vm.model.preferences.contactPreference")
                    label.form-label(for="mail") Mail

                    
            div.col-sm-12.no-gutter.m-t-1
                div.col-sm-12.no-gutter
                    button.btn.btn-primary-outline.btn-block(type='submit', ng-click='vm.model.submitPref()') SAVE UPDATES
                div.col-sm-12.no-gutter
                    button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelPref()') Discard Changes
