div.addresscontainer.col-sm-12.no-gutter(ng-hide="vm.model.showAddressForm")
    div.form-group.col-sm-12.no-gutter
        div.sectiontitle.col-sm-11.no-gutter your address
        div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showAddressForm = true")
    div.col-sm-12.no-gutter(ng-if="vm.model.isAddressSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter Skipped
    div.col-sm-12.no-gutter(ng-if="!vm.model.isAddressSkipped")
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.streetAddress") Address 1 : {{vm.model.address.streetAddress}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.streetAddress") Address 1: not specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.streetAddress2") Address 2 : {{vm.model.address.streetAddress2}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.streetAddress2") Address 2: not specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.city") City : {{vm.model.address.city}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.city") City: not specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.state") State : {{vm.model.address.state}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.state") State: not specified
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.zipcode") Zip Code : {{vm.model.address.zipcode}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.zipcode") Zip Code: not specified


        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="vm.model.address.country") Country : {{vm.model.address.country}}
        div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!vm.model.address.country") Country: not specified
ng-form.signupform.col-sm-12.no-gutter(name="vm.addressform" novalidate ng-show="vm.model.showAddressForm")
    div.form-group.col-sm-12.no-gutter
        div.sectiontitle.col-sm-11.no-gutter your address
        div.col-sm-1.no-gutter
        fieldset.col-sm-12.no-gutter.section-padding
            div.col-sm-12.no-gutter.m-b-1
                label.form-label(for='address1') Street Address 1
                input#address1.form-control(type='text', name="streetAddress" ng-model='vm.model.address.streetAddress' required )
                div(ng-messages='vm.addressform.streetAddress.$error', ng-show="vm.addressform.streetAddress.$touched || vm.addressform.$submitted" class="error-block")
                    div(ng-message='required') Please enter a value for this field.
            div.col-sm-12.no-gutter.m-b-1
                label.form-label(for='address2') Street Address 2
                input#address2.form-control(type='text', name="streetAddress2" ng-model='vm.model.address.streetAddress2')
            div.col-sm-12.no-gutter.m-b-1
                label.form-label(for='city') City
                input#city.form-control(type='text', name="city" ng-model='vm.model.address.city' required)
                div(ng-messages='vm.addressform.city.$error', ng-show="vm.addressform.city.$touched || vm.addressform.$submitted" class="error-block")
                    div(ng-message='required') Please enter a value for this field.
            div.col-sm-12.no-gutter.m-b-1
                label.form-label(for='state') State
                div.select-wrapper.col-sm-12.no-gutter
                    select#state.form-control(name="state" ng-model='vm.model.address.state' ng-options="state.abbreviation as state.name for state in vm.model.stateList" required ng-class="{'ng-touched': vm.model.addressSubmitted}")
                        option(value='', disabled='')
                div(ng-messages='vm.addressform.state.$error', ng-show="vm.addressform.state.$touched || vm.addressform.$submitted || (vm.addressform.state.$pristine &&  !vm.model.address.state)" class="error-block")
                    div(ng-message='required') Please enter a value for this field.
            div.col-sm-12.no-gutter.m-b-2
                label.form-label(for='zipcode') ZIP
                input#zipcode.form-control.m-b-0(type='tel', name="zipcode" ng-model='vm.model.address.zipcode' required zip-mask maxlength="10")
                div(ng-messages='vm.addressform.zipcode.$error', ng-show="vm.addressform.zipcode.$touched || vm.addressform.$submitted" class="error-block")
                    div(ng-message='required') Please enter a value for this field
                div.error-block(ng-show="((vm.model.address.zipcode.length<5) || (vm.model.address.zipcode.length>5 && vm.model.address.zipcode.length <10))") Please enter a valid zip code.
            div.col-sm-12.no-gutter
                div.col-sm-12.no-gutter
                    button.btn.btn-primary-outline.btn-block(type='submit', ng-click='vm.model.submitAddress(vm.addressform)') SAVE UPDATES
                div.col-sm-12.no-gutter
                    button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelAddress()') Discard Changes