#accordionform.reviewinfocontainer
  .container-fluid.no-gutter
      .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.no-gutter
        .inverse.distributor-notification.m-b-2
          h1.text-center REVIEW YOUR INFO
          div.notification-wrapper 
            h4.text-center.notification-header.m-b-0 Your distributor account has not yet been created.
            h5.text-center.notification-content.m-t-0 Once you accept the agreements on the next page you'll be able to start your journey to success!
        #accordion.panel-group.col-sm-12.no-gutter
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.mandatoryinfo.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.address.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.sponsor.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.payment.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.preferences.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.addfamily.jade
          .panel.panel-default.col-sm-12.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.signup.info.addassociate.jade

          button.btn.btn-block.btn-primary(ng-click="vm.model.moveNext()") NEXT: AGREE TO THE TERMS
