div.associatecontainer.col-sm-12.no-gutter(ng-hide="vm.model.showAssociateForm")
  div.form-group.col-sm-12.no-gutter.signupform
    div.sectiontitle.col-sm-11.no-gutter Associate Details
    div.col-sm-1.inlineedit.no-gutter(ng-click="vm.model.showAssociateForm = true" ng-hide="vm.model.associateInfo.length > 0") 
    div.col-sm-12.no-gutter(ng-if="!(vm.model.associateInfo.length > 0)")
        div.form-group.col-sm-12.sectiondetails.no-gutter Skipped
div#optional-form.col-sm-12.no-gutter 
    div.row.no-gutter
        div#associateList.col-sm-12(ng-show="((vm.model.associateInfo.length > 0)|| vm.model.associateList.length > 0 )")
            p.form-label {{vm.model.associateInfo[0].firstname}} {{vm.model.associateInfo[0].lastname}}
            h5.form-label {{vm.model.associateInfo[0].accountstatus}}
    ng-form.signupform.col-sm-12.no-gutter(novalidate, name="vm.addNewAssociate" ng-show="(vm.model.showAssociateForm && !(vm.model.associateInfo.length > 0))")
        div.col-sm-12.form-group.no-gutter
            div.sectiontitle.col-sm-11.no-gutter Associate Details
        fieldset.col-sm-12.no-gutter
                div.col-sm-12.no-gutter.m-b-2
                    label.form-label First Name
                    input#firstname.form-control.m-b-0(type='text' name='firstname' ng-model='vm.model.associateInfo.firstname' required ng-class="{'ng-touched': vm.model.isAssociateAdded}")
                    span.error-block(ng-show="(vm.addNewAssociate.firstname.$touched && vm.addNewAssociate.firstname.$error.required) || (vm.addNewAssociate.firstname.$dirty && vm.addNewAssociate.firstname.$error.required) || (vm.addNewAssociate.$submitted  && vm.addNewAssociate.firstname.$error.required)") Please enter First Name
                div.col-sm-12.no-gutter.m-b-2
                    label.form-label Last Name
                    input#lastname.form-control.m-b-0(type='text' name='lastname' ng-model='vm.model.associateInfo.lastname' required ng-class="{'ng-touched': vm.model.isAssociateAdded}")
                    span.error-block(ng-show="(vm.addNewAssociate.lastname.$touched && vm.addNewAssociate.lastname.$error.required) || (vm.addNewAssociate.lastname.$dirty && vm.addNewAssociate.lastname.$error.required) || (vm.addNewAssociate.$submitted  && vm.addNewAssociate.lastname.$error.required)") Please enter Last Name
                div.col-sm-12.no-gutter
                //- Keeping this code commented for future release
                //-     label.form-label Contact Preference
                //- div.btn-group.contact-preference
                //-     input(type='button' name="emailinput" value="EMAIL" ng-click="vm.model.selectPreference('email','A')" ng-class="{'contact-button-mail-selected': vm.model.associateInfo.contactByEmail,'contact-button-mail' : (!vm.model.associateInfo.contactByEmail || vm.model.associateInfo.contactByEmail == 'undefined')}").btn
                //-     input(type='button' name="phoneinput" value="PHONE" ng-click="vm.model.selectPreference('phone','A')" ng-class="{'contact-button-phone-selected': vm.model.associateInfo.contactByPhone,'contact-button-phone' : (!vm.model.associateInfo.contactByPhone || vm.model.associateInfo.contactByPhone == 'undefined')}").btn
                div.col-sm-12.no-gutter.m-b-2
                    .col-sm-12.no-gutter(ng-show="vm.model.associateInfo.contactByEmail==true")
                        label.form-label Email
                        input#associateemail.form-control.m-b-0(type='text' name='associateemail' ng-model='vm.model.associateInfo.contactpreference.email' ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="vm.model.associateInfo.contactByEmail==true" ng-class="{'ng-touched': vm.model.isAssociateAdded}")
                        span.error-block(ng-show="(vm.addNewAssociate.associateemail.$touched && vm.addNewAssociate.associateemail.$error.required) || (vm.addNewAssociate.associateemail.$dirty && vm.addNewAssociate.associateemail.$error.required) || (vm.addNewAssociate.$submitted  && vm.addNewAssociate.associateemail.$error.required)") Please enter Email Address
                //- div.col-sm-12.no-gutter
                //-     .col-sm-12.no-gutter(ng-show="(vm.model.associateInfo.contactByEmail==false)")
                //-         label.form-label Phone
                //-         input#associatephone.form-control(type='string' name='associatephone' ng-model='vm.model.associateInfo.contactpreference.phone' ui-mask='(999) 999-9999' placeholder="Enter your Phone Number" ui-mask-placeholder ng-required="vm.model.associateInfo.contactByEmail==false")
                //-         span.error-block(ng-show="(vm.addNewAssociate.associatephone.$touched && vm.addNewAssociate.associatephone.$error.required) || (vm.addNewAssociate.associatephone.$dirty && vm.addNewAssociate.associatephone.$error.required) || (vm.addNewAssociate.$submitted  && vm.addNewAssociate.associatephone.$error.required)") Please enter Phone Number
                div.col-sm-12.no-gutter
                    button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit' ng-click="vm.model.updateAssociate()") Send Invite                 
                div.col-sm-12.no-gutter
                    div.col-sm-12.no-gutter
                        button.btn.btn-link.btn-block(type='button', ng-click='vm.model.cancelAssociateInfo(vm.addNewAssociate)') Discard Changes


