@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/signup-acc-setup/signup.acc.setup.scss";
.reviewinfocontainer#accordionform {
    .panel {
        @extend .panel;
        padding-left: 1.75em;
        padding-right: 1.75em;
    }
    padding: 1.375em;
    .sectiontitle {
        font-weight: $proxima-semibold;
        font-size: .81rem;
        line-height: 2;
        letter-spacing: 0.5px;
        color: $gray-dark;
        text-transform: uppercase;
    }
    .inlineedit {
        background: url('../../../../src/assets/images/css/icon-edit.svg') no-repeat;
        height: 2em;
        width: 1rem;
        float: right;
        cursor: pointer;
    }
    .sectiondetails {
        font-weight: $proxima-light;
        font-size: 1rem;
        line-height: 1.4;
        color: $gray-dark;
    }
    .form-group {
        margin-bottom: 1.125rem;
    }
    .signupform {
        margin: 0;
    }
    #optional-form {
        background: none;
        min-height: 0;
        padding: 0;
    }
    .section-padding {
        margin-top: 1.5em;
    }
    .text-center {
        font-size: 1.938rem;
        font-weight: $proxima-light;
    }
    .notification-header {
        font-size: 0.875rem;
        text-transform: none;
        font-weight: $proxima-semibold;
    }
    .notification-content {
        font-size: 0.813rem;
        line-height: 1.46;
        text-transform: none;
        padding: 0 1.2em;
    }
    .notification-wrapper {
        width: 21.5625em;
        margin: 0 auto;

    }
    .addresscontainer + [name="vm.addressform"] {
        .select-wrapper::after {
            top: 1.5rem;
        }
    }
}