@import "../../../../src/stylesheets/partials/variables.scss";
.category-standard{
  background-color: $white;
  .category-directory-banner{
    height: 26.8125em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .category-snapshot{
    padding-top: 12%;
    padding-left: 12%;
    height: 26.8125em;
    .headline{
      font-weight: $proxima-thin;
    }
    .btn-primary{
      width: 10.625rem;
    }
  }
  .category-snapshot-down{
    width: 100%;
    height: 14em;
    background-image: linear-gradient(to top, $aqua, $brand-primary);
    padding-top: 2em;
    h1, p{
      color: $white;
    }
    .btn-primary{
      width: 10.625rem;
      display: block;
      margin: 0 auto;
    }
  }
  .category-directory-info{
    padding: 2.8125em 0;
    h1{
      font-size: 2.375rem;
      line-height: 1.23;
    }
    h5{
      margin-bottom: 6px;
    }
  }
  .category-heading {
    h3{
      line-height: 1em;
      padding-top: 2.375rem;
      padding-bottom: 3.375rem;
      margin-bottom: 0;
      em {
        width: 4.0625em;
        height: 3px;
        background-color: $aqua;
        display: inline-block;
      }
      span {
        display: block;
      }
    }
  }
  .content-center-banner{
    background-image: radial-gradient(circle at 50% 50%, $category-banner-blue, $dusk);
    margin: 0;
  }
  .content-center-banner-in{
    background-image: radial-gradient(circle at 50% 50%, $category-banner-blue, $dusk);
    height: inherit;
    h2, p{
      color: $white;
    }
    button{
      color: $white;
      background-color: transparent;
      border: 1px $white solid;
      font-size: 0.8125rem;
      font-weight: $proxima-semibold;
      line-height: 1.31;
      letter-spacing: 0.5px;
      height: 2.75em;
      width: 100%;
      border-radius: 3px;
      text-transform: uppercase;
      outline: none;
    }
  }
  .content-left-banner{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: inherit;
  }
  .content-right-banner{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: inherit;
  }
  .category-highlight{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $gray-lightest;
    margin: 2.5em 0 3em;
    .product-highlight{
      opacity: 0.9;
      background-color: $white;
      .pdp-product-rating-count{
        float: left;
        padding-left: 7px;
        font-size: 0.8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: $gray;
      }
      .pdp-product-category-stars{
        float: left;
        ul{
          margin-bottom: 0;
        }
      }
      span{
        font-size: 1rem;
      }
      span.psv{
        color: $gray-shade;
      }
    }
  }
  .pdp-product-rate{
    font-size: 0.875rem;
    font-weight: $proxima-light;
    line-height: 1.57;
    i{
      font-style: normal;
      padding: 0 5px;
    }
  }
  button.btn-primary-outline{
    width: 100%;
    margin-top: 2em;
  }
  .content-show-banner{
    height: 18.4375em;
    padding: 2.5em 0 0 0;
    margin-bottom: 3.125em;
    center{
      width: 22.5em;
      margin: 0 auto;
      text-align: left;
      button{
        width: 14.875em;
      }
    }
  }
  .refine-and-sort{
    padding: 0 2em;
    .show-refined-items{
      border-top: solid 1px $gray-lighter;
      border-bottom: solid 1px $gray-lighter;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 3;
      letter-spacing: -0.1px;
      color: $gray-black;
      height: 2.8125em;
    }
    select{
      height: 2.8125em;
      line-height: 1;
      margin-bottom: 0;
      color: $gray-dark;
    }
    .select-wrapper::after{
      margin-top: 2%;
      right: 1em;
    }
  }
  .showing-items{
    padding-top: 10px;
    color: $gray-black;
    display: none;
  }
  .product-standard-container{
    padding: 0 2em;
    max-width: 90em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .product-standard{
      flex-basis: 25%;
      margin-bottom: 6.25em;
    }
    .stock-status {
      margin-top: 0;
      padding-top: 11px;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .refine-and-sort{
      .select-wrapper::after{
        margin-top: 1%;
      }
    }
    .showing-items{
      display: block;
    }
    .category-directory-banner{
      height: 20em;
    }
    .content-center-banner{
      height: 11.8125em;
    }
    .product-highlight{
      width: 23.4375em;
      min-height: 22em;
      padding: 2.625em 1.5625em 1em;
      overflow: auto;
      float: none;
      .btn-primary-outline{
        margin-bottom: 0;
      }
    }
    .category-highlight{
      background-size: auto 19.4375em;
      background-position: top;
      min-height: 40em;
      padding: 19.4375em 0 0 0;
      background-color: $white;
      overflow: auto;
      margin-bottom: 0;
    }
    .content-center-banner-in{
      padding: 2em 1em 0;
      display: block;
    }
    .category-snapshot-down{
      display: block;
    }
    .category-directory-info{
      padding: 2.5em 0 1.25em;
      h1{
        font-size: 1.875rem;
      }
    }
    .category-heading {
      h3{
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
      }
      h3.m-t-4{
        margin-top: 2.5rem;
      }
    }
    .content-show-banner{
      margin-bottom: 0;
    }
    .content-show-banner{
      center{
        padding: 0 2.25em;
      }
    }
    .refine-and-sort{
      padding: 0;
    }
    .product-standard-container{
      padding: 0;
      .product-standard{
        flex-basis: 50%;
        margin-bottom: 3em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .category-directory-banner{
      height: 20em;
    }
    .content-center-banner{
      height: 24em;
    }
    .product-highlight{
      width: 24.6875em;
      height: 25.5625em;
      padding: 2.4375em 2.875em 0;
      float: right;
    }
    .content-show-banner{
      display: block;
    }
    .product-highlight{
      width: 24em;
      height: 28.75em;
      padding: 4.25em 2.875em 0;
    }
    .category-highlight{
      background-size: auto 34.125em;
      height:  34.125em;
      padding: 2.875em 0 0 0;
      margin-bottom: 0;
    }
    .category-snapshot-down{
      display: none;
    }
    .category-directory-info{
      h1{
        font-size: 1.875rem;
      }
    }
    .refine-and-sort{
      padding: 0;
    }
    .product-standard-container{
      padding: 0 1.5em;
      .product-standard{
        flex-basis: 33.33%;
        margin-bottom: 4.5em;
      }
    }
    .category-heading {
      h3{
        padding-top: 1.875rem;
        padding-bottom: 2.5rem;
      }
      h3.m-t-4{
        margin-top: 0;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .category-directory-banner{
      height: 26.75em;
    }
    .content-center-banner{
      height: 21.375em;
    }
    .content-center-banner-in{
      padding: 3em 2.5em 0;
    }
    .content-show-banner{
      display: none;
    }
    .product-highlight{
      width: 24.6875em;
      height: 25.5625em;
      padding: 2.4375em 2.875em 0;
      float: right;
    }
    .category-highlight{
      height: 34.125em;
      padding: 3.9375em 2.6875em 0 0;
    }
    .category-snapshot-down{
      display: none;
    }
    .product-standard-container{
      .product-standard{
        flex-basis: 25%;
      }
    }
  }
  @media screen and (min-width: 1440px){
    .category-directory-banner{
      height: 37.5em;
    }
    .content-center-banner{
      height: 30em;
    }
    .content-center-banner-in{
      padding: 8em 5em 0;
    }
    .product-highlight{
      width: 34.3125em;
      height: 29.5em;
      padding: 3.9375em 5.875em 0;
      float: right;
    }
    .category-highlight{
      height: 37.5em;
      padding: 3.9375em 2.6875em 0 0;
    }
    .content-show-banner{
      display: none;
    }
    .category-snapshot-down{
      display: none;
    }
  }
}
