.container-fluid.category-standard
  .row
    .col-sm-12.category-directory-banner(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .col-lg-5.col-md-6.col-sm-6.category-snapshot.hidden-sm-down
        h1.headline {{ctrl.pageHeadline}}
        p {{ctrl.pageShortDescription}}
        a.btn.btn-primary Explore More
    .col-sm-12.category-snapshot-down
      h1.headline.center {{ctrl.pageHeadline}}
      p {{ctrl.pageShortDescription}}
      a.btn.btn-primary Explore More
  .row
    .col-sm-12.category-directory-info
      h5.center {{ctrl.pageCategory}}
      h1.center {{ctrl.pageSubCategory}}
    .col-sm-12.refine-and-sort
      .col-md-9.hidden-sm-down.show-refined-items
        | Showing 123 items
      .col-md-3.col-sm-12.select-wrapper.no-gutter
        select.form-control
          option REFINE & SORT
      .col-sm-12.showing-items
        center
          | Showing 123 items
    .col-sm-12.category-heading.no-gutter(ng-repeat='category in ctrl.categoryData|limitTo:1')
      h3.center
        span {{category.categoryTitle}}
        em.center
      .product-standard-container
        .col-lg-3.col-md-4.col-sm-6.product-standard.no-gutter(ng-repeat='product in category.productData')
          pdpproductviewcategory(product-data="product" show="true")
    .col-sm-12.content-center-banner.no-gutter
      .col-lg-4.col-md-6.col-sm-6.content-left-banner(ng-style="{'background-image': 'url({{ctrl.categoryLeftUrl}})'}")
      .col-lg-4.content-center-banner-in.hidden-sm-down.hidden-md-down
        center
          h2 Nothing fights the signs of aging like ageLOC
          p id ius sint viris iudico, mucius scripta et has. Mea noster tritani malorum at, usu albucius fabellas ne, case adversarium vel. Et has solum tamquam praesent
          button Learn About AgeLOC
      .col-lg-4.col-md-6.col-sm-6.content-right-banner(ng-style="{'background-image': 'url({{ctrl.categoryRightUrl}})'}")
    .col-sm-12.content-center-banner-in.content-show-banner
      center
        h2 Nothing fights the signs of aging like ageLOC
        p id ius sint viris iudico, mucius scripta et has. Mea noster tritani malorum at, usu albucius fabellas ne, case adversarium vel. Et has solum tamquam praesent
        button Learn About AgeLOC
    .col-sm-12.category-heading.no-gutter(ng-repeat='category in ctrl.categoryData' ng-if="$index != 0")
      h3.center.m-t-4
        span {{category.categoryTitle}}
        em.center
      .product-standard-container
        .col-lg-3.col-md-4.col-sm-6.product-standard.no-gutter(ng-repeat='product in category.productData')
          pdpproductviewcategory(product-data="product")
    .col-sm-12.category-highlight(ng-style="{'background-image': 'url({{ctrl.categoryHighlightUrl}})'}")
      .product-highlight
        h2 REVEAL YOUR SKIN'S POTENTIAL WITH TRUE FACE REVEALING GEL
        p {{ctrl.categoryHighlightDesc | limitTo: 150}}{{ctrl.categoryHighlightDesc.length > 150 ? '...' : ''}}
        a TRU FACE Revealing Gel
        .col-sm-12.no-gutter
          //- star-rating.pdp-product-category-stars(rating-value="ctrl.ratingCount" max="ctrl.maxRating" show="false")
          .pdp-product-rating-count{{ctrl.ratingTotal}}
        .col-sm-12.pdp-product-rate.no-gutter
          span {{ctrl.productPrice}}
          i |
          span.psv LOREM {{ctrl.psv}}
        .col-sm-12.no-gutter
          button.btn.btn-primary-outline ADD TO BAG
