div.modal-header.invite-section-header
	div.clearfix
		div.cross-icon.pointer.pull-right(ng-click="ctrl.cancel();")
	div.header-section.center-section.inverse 
		div.heading1(align="center")
			span Invite {{ctrl.model.selectedAssociate.firstName}} to create a unique login.
		div.heading2(align="center")
			span Business associates will now be able to specify a username and password of their choice.
div.modal-body.invite-section-content
	div.form-section
		form.m-t-0(name="formInviteSection", novalidate="novalidate", form-submit="ctrl.sendInvite(formInviteSection.$valid, ctrl.model.selectedAssociate, ctrl.credentials.userDetailsField)")
			div.m-b-2
				div.form-heading
					span First Name 
				div
					input.form-control(type="text", name="firstname", placeholder="First Name", ng-model="ctrl.model.selectedAssociate.firstName", ng-required="true", allow-pattern="alphabets-only")
					span.error-block.error-tag(ng-show="(formInviteSection.firstname.$touched && formInviteSection.firstname.$error.required) || (formInviteSection.firstname.$touched && formInviteSection.firstname.$invalid) || (formInviteSection.$submitted && formInviteSection.firstname.$error.required)") First name should be entered.
			div.m-b-2
				div.form-heading
					span Last Name
				div
					input.form-control(type="text", name="lastname", placeholder="Last Name", ng-model="ctrl.model.selectedAssociate.lastName", allow-pattern="alphabets-only", ng-required="true")
					span.error-block.error-tag(ng-show="(formInviteSection.lastname.$touched && formInviteSection.lastname.$error.required) || (formInviteSection.lastname.$touched && formInviteSection.lastname.$invalid) || (formInviteSection.$submitted && formInviteSection.lastname.$error.required)") Last name should not be left blank.

			div.m-b-2
				div.form-heading
					span Email
				div.email-validation
					email-phone(credentials='ctrl.credentials', is-email='true')

			div.m-b-2
				div.form-heading
					span Mobile
				div
					input.form-control(type="text", name="mobile", ng-model="ctrl.model.selectedAssociate.mobile", ui-mask="(999)-999 9999", ng-required="ctrl.model.selectedAssociate.contact == ctrl.model.formMobileValue")
					span.error-block.error-tag(ng-show="(formInviteSection.mobile.$touched && formInviteSection.mobile.$error.required) || (formInviteSection.$submitted && formInviteSection.mobile.$error.required)") A mobile number should be entered.									

			div.m-b-2
				div.form-heading
					span Contact Preference
				div.clearfix.radio-button-group
					div.pull-left
						div.radio
							input.form-control(type="radio", name="contact", ng-model="ctrl.model.selectedAssociate.contact", ng-value="ctrl.model.formEmailValue", ng-required="true")
							label 
								span.radio-label-text Email
					div.pull-left
						div.radio
							input.form-control(type="radio", ng-model="ctrl.model.selectedAssociate.contact", name="contact", ng-value="ctrl.model.formMobileValue", ng-required="true")
							label 
								span.radio-label-text Mobile Phone

			div
				div
					button.btn.btn-primary(type="submit", ng-click="ctrl.credentials.isSubmitted = true")
						span.text-uppercase Send Invite
				div
					button.btn.btn-primary-outline.fullWidth.m-b-0(type="button", ng-click="ctrl.cancel();")
						span.text-uppercase Cancel