@import "../../../../src/stylesheets/partials/variables.scss";
.associate-login-section  {
    .inverse {
        color: $white;
    }
    .associate-header {
        position: relative;
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .policy-link {
        font-size: 0.8125rem;
        line-height: 1.4;
        color: $brand-primary;
        font-weight: $proxima-semibold;
        margin-left: 0.31;
        line-height: 1.23;
        letter-spacing: 0.025rem;
        text-align: center;
    }
    .section-heading {
        z-index: 1;
        text-align: center;
    }

    .section-heading::before {
        border-top: 0.125rem solid $gray87;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 0.75rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .section-heading span {
        background: $white;
        padding: 0 2.5rem;
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.5;
        color: $gray;
    }
    .invite-popup-section {
        padding: 2.625rem 0;
        .modal-content {
            background: url('../../../../src/assets/images/css/group-13@2x.png');
            background-size: contain;
            width: 29.75rem;
            .modal-header {
                padding-bottom: 2.75rem;
                .cross-icon {
                    width: 1.5625rem;
                    padding: 1.5rem 1.125rem 1rem 0;
                    background: url('../../../../src/assets/images/css/cross-small-white.png') no-repeat right 0.675rem;
                }
                .header-section {
                    width: 14.75rem;
                    .heading1 {
                     font-size: 1.375rem;
                     font-weight: $proxima-light;
                     line-height: 1.27;
                 }
                 .heading2 {
                    padding-top: 1rem;
                    font-size: 0.875rem;
                    font-weight: normal;
                    line-height: 1.2;
                }
            }
        }
    }
    .modal-body {
        background: $white;
        padding: 1.6875rem 3.875rem 2.25rem;
        .form-section {
            input {
                margin-bottom: -0.25rem;
            }
            .form-heading {
                font-size: 0.875rem;
                font-weight: normal;
                line-height: 1.57;
                letter-spacing: -0.00625rem;
                color: $gray-black;
            }
            .error-tag {
                display: block;
                margin: 0.1875rem 0 -1.5625rem;

            }
            .email-validation {
                label.form-label:first-child {
                    display: none;
                }
                div.error-block {
                    > div {
                        margin: 0.1875rem 0 -1.5625rem;
                    }
                }
            }
        }
    }
}
.associate-login-header-section {
    .header-wrapper {
        margin-top: -0.625rem;
        width: 17.5rem;
        .heading-part-two {
            .heading2, .heading3 {
                width: 17.375rem;
            }
            .heading3 {
                margin-top: 0.875rem;
                background: url('../../../../src/assets/images/css/group-5_2.png') no-repeat 1.25rem top;
                p {
                    line-height: 1.2;
                }
            }
        }
    }
    .heading1 {
        font-size: 1.375rem;
        font-weight: $proxima-light;
        line-height: 1.55;
    }
    .heading2 {
        font-size: 0.875rem;
        font-weight: normal;
    }
    .heading3 {
        margin-top: -0.3125rem;
        font-weight: normal;
        padding-left: 3.125rem;
    }
}
.associate-login-reminder-section, .associate-login-reminder-wrapper {
    background: $white;
    padding: 1.625rem 0 1.625rem;
    font-size: 0.875rem;
    font-weight: $proxima-semibold;
    line-height: 1.14;
    letter-spacing: 0.025rem;
    color: $brand-primary;
}
.associate-login-content {
    background: $white;
    .blank-section {
        padding-bottom: 6.25rem;
    }
    .load-more-section, .review-section {
       line-height: 1.31;
       color: $brand-primary;
       font-weight: $proxima-semibold;
       font-size: 0.813rem;
       letter-spacing: 0.4px;
       text-align: center;
       margin-bottom: 1.563rem;
   }
   .primary-login-display-section {
    margin: 1rem 0 0;
    .name-section {
        font-weight: $proxima-light;
        line-height: 1.8;
        color: $gray-dark;
        font-size: 0.813rem;
        text-align: center;
        > :first-child {
            margin-bottom: 0.750rem;
            font-weight: $proxima-light;
        }
    }
    .brief-section {
        width: 18.75rem;
        max-width: 18.75rem;
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1.29;
        color: $gray-darker;
        margin-bottom: 0.875rem;
    }
}
.associate-login-display-section {

    .profile-display {
        margin: 0 1.375rem 0.9rem 0;
        height: 6.625rem;
        width: 5.625rem;
        max-width: 5.625rem;
    }
    .profile-display-last {
        margin-right: 0;
    }
    .status-text {
        font-weight: $proxima-light;
        line-height: 1.85;
        color: $gray-light;
        margin-top: -0.4375rem;
    }
    .action-link {
     font-weight: $proxima-semibold;
     line-height: 1.2;
     letter-spacing: 0.025rem;
     color: $brand-primary;
     font-size: 0.813rem;
     text-align: center;
    }

    .first-section {
    width: 5.375rem;
    margin-right: 1.5rem;
    }
    .second-section {
    width: 5.5rem;
    }
}
.associate-login-display-section {
    padding: 1.5625rem 3.75rem 0;
    .name-section {
        font-weight: $proxima-light;
        line-height: 1.8;
        color: $gray-dark;
        font-size: 0.813rem;
        text-align: center;
        width: 5.813rem;
    }
}
}
@media (max-width: 767px) {
    .associate-login-content {
        border-bottom: solid 0.125rem $gray87;
        padding: 1.5625rem 1.5rem 0;
        .associate-login-display-section {
            padding: 1rem 0 0;
            max-width: 13.125rem;
        }
        .brief-section {
            margin-bottom: 1rem;
        }
        .primary-login-display-section {
            .review-section {
                margin-bottom: 1.4rem;
            }
        }        
    }
    .separator-section {
        border: solid 0.0625rem $gray87;
    }
    .associate-login-header-section {
        min-height: 9.625rem;
        max-height: 9.625rem;
        height: 9.625rem;
        .main-header-top-section {
            padding-top: 1.75rem;
        }
    }
    .associate-login-reminder-section {
        padding: 1.5rem 0;
    }
    .invite-popup-section {
        .modal-content {
            width: 20.50rem;
            .modal-body {
                padding: 1.5625rem 1rem 1.375rem;
                .radio-button-group {
                    > div:first-child {
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }

}
@media (min-width: 768px) {
    .associate-login-header-section {
        background-size: cover;
        .header-wrapper {
            > [class^="heading-part-"] {
                width: 26.5rem;
                max-width: 26.5rem;
            }
        }
    }
    .invite-popup-section {
        .modal-content {
            .modal-body {
                .radio-button-group {
                    > div:first-child {
                        margin-right: 1.875rem;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .associate-login-content {
        border-bottom: solid 0.125rem $gray87;
        min-height: 18.75rem;
        padding: 1.625rem 10.4375rem 0rem;
        .separator-section {
            border: solid 0.0625rem $gray87;
        }
        > div:first-child {
            max-width: 27.125rem;
        }
        .associate-login-display-section {
             padding: 1.5625rem 3.6rem 0;
        }
    }
    
    
    .associate-login-reminder-section, .associate-login-reminder-wrapper {
        padding: 1.625rem 0 1.225rem;
    }  
}
@media (min-width: 768px) and (max-width: 1023px) {
    .associate-login-header-section {
        min-height: 8.4375rem;
        max-height: 8.4375rem;
        height: 8.4375rem;
    }
        
}
@media (min-width: 1024px) {
    .associate-login-header-section {
        height: 16.3125rem;
        .header-wrapper {
            width: 26.5rem;
            margin-top: 0.3125rem;
            .heading2 {
                margin-top: 0.3125rem;
            }
        }
    }
    .associate-login-content {
        width: 41.5rem;
        min-width: 41.5rem;
        max-width: 41.5rem;
        padding: 2.3125rem 7.1875rem 1px;
        margin-top: -7.125rem;
        .separator-section {
            border: solid 0.0625rem $gray87;
            margin: 0 -7.1875rem;
        }
        .primary-login-display-section {
            margin-bottom: 1.25rem;
            .review-section {
                margin-top: 0.25rem;
            }
        }
    }
}
}
.center-section {
    display: table;
    margin: 0 auto;
}
.inline-block {
    display: inline-block;
}
