.associate-login-section 
	.content
		.invite-banner.associate-login-header-section
			.section.main-header-top-section
				.banner-title.center-section.header-wrapper
					div.heading-part-one
						p.heading1.text-center.inverse.m-a-0 We have a great news!
						p.heading2.text-center.inverse Business associates can now create their 
							span.inline-block own login, using their preferred username and password. 
					div.heading-part-two.hide
						p.heading1.text-center.inverse.m-a-0 Way to go!
						p.heading2.text-center.inverse.center-section You have updated your login information.
						div.heading3.inverse.center-section(align="left")
							p.font-size-13 
								span Don't Forget to invite all Business Associates to create their own login.
		div.hidden-md-down
			.signup-container.associate-login-content.relative(align="center")
				div
					div.section-heading.relative
						span Associates
					div.associate-login-display-section.center-section.clearfix

						div.pull-left.profile-display.hidden-md-down(ng-repeat="item in ctrl.model.currentAssociateListAboveMd", ng-class="{'profile-display-last': (($index + 1) % 3 == 0 && $index != 0)}")
							div(ng-if="item.image")
								img(ng-src='{{item.image}}', alt='{{item.firstName}} {{item.lastName}}', width='45')
							div.name-section
								span.font-size-13 {{item.firstName}} {{item.lastName}}
							div.action-link(ng-repeat="status in item.inviteStatus")
								div.status-text.font-size-13(ng-if="status.status == true && status.id == 1")
									span Pending Login
								div.font-size-13.pointer(ng-if="status.status == true",data-toggle="modal",data-target="#invite-popup",data-backdrop="static", ng-click="ctrl.openPopup(item)")
									span {{status.label}}

					div.load-more-section(align="center", ng-click="ctrl.loadMore()", ng-show="!ctrl.isLoadMore", ng-if="ctrl.model.dataList.associateList.length > ctrl.model.associateListCapAboveMd")
						span.font-size-13.pointer Load More

					div.blank-section(ng-if="!ctrl.model.dataList.primaryAssociate")

					div.primary-login-display-section(ng-if="ctrl.model.dataList.primaryAssociate")
						div.section-heading.relative
							span Primary Associate
						div
							div.name-section
								p.small {{ctrl.model.dataList.primaryAssociate.firstName}} {{ctrl.model.dataList.primaryAssociate.lastName}}
							div.brief-section
								span You can update the current login information, but keep in mind that this will prevent business associates access the account.
							div.review-section
								span.font-size-13.pointer(ng-click="ctrl.goToUrl('#/accountsettingspersonalpage?state=login')") Review and Confirm Login


		div.hidden-lg-up.relative
			div.associate-login-content.relative(align="center")
				div
					div.section-heading.relative
						span Associates
					div.associate-login-display-section.clearfix.center-section

						div.pull-left.profile-display.hidden-sm-down(ng-repeat="item in ctrl.model.currentAssociateListAboveMd", ng-class="{'profile-display-last': (($index + 1) % 3 == 0 && $index != 0)}")
							div(ng-if="item.image")
								img(ng-src='{{item.image}}', alt='{{item.firstName}} {{item.lastName}}', width='45')
							div.name-section
								span.font-size-13 {{item.firstName}} {{item.lastName}}
							div.action-link(ng-repeat="status in item.inviteStatus")
								div.status-text.font-size-13(ng-if="status.status == true && status.id == 1")
									span Pending Login
								div.font-size-13.pointer(ng-if="status.status == true",data-toggle="modal",data-target="#invite-popup",data-backdrop="static", ng-click="ctrl.openPopup(item)")
									span {{status.label}}

						div.pull-left.profile-display.hidden-md-up(ng-repeat="item in ctrl.model.currentAssociateListBelowSm", ng-class="{'profile-display-last': (($index + 1) % 2 == 0 && $index != 0)}")
							div(ng-if="item.image")
								img(ng-src='{{item.image}}', alt='{{item.firstName}} {{item.lastName}}', width='45')
							div.name-section
								span.font-size-13 {{item.firstName}} {{item.lastName}}
							div.action-link(ng-repeat="status in item.inviteStatus")
								div.status-text.font-size-13(ng-if="status.status == true && status.id == 1")
									span Pending Login
								div.font-size-13.pointer(ng-if="status.status == true",data-toggle="modal",data-target="#invite-popup",data-backdrop="static", ng-click="ctrl.openPopup(item)")
									span {{status.label}}

					div.hidden-sm-down
						div.load-more-section(align="center", ng-click="ctrl.loadMore()", ng-show="!ctrl.isLoadMore", ng-if="ctrl.model.dataList.associateList.length > ctrl.model.associateListCapAboveMd")
							span.font-size-13.pointer Load More

					div.hidden-md-up
						div.load-more-section(align="center", ng-click="ctrl.loadMore()", ng-show="!ctrl.isLoadMore", ng-if="ctrl.model.dataList.associateList.length > ctrl.model.associateListCapbelowSm")
							span.font-size-13.pointer Load More

					div.primary-login-display-section(ng-if="ctrl.model.dataList.primaryAssociate")
						div.section-heading.relative
							span Primary Associate
						div
							div.name-section
								p.small {{ctrl.model.dataList.primaryAssociate.firstName}} {{ctrl.model.dataList.primaryAssociate.lastName}}
							div.brief-section
								span You can update the current login information, but keep in mind that this will prevent business associates access the account.
							div.review-section
								span.font-size-13.pointer(ng-click="ctrl.goToUrl('#/accountsettingspersonalpage?state=login')") Review and Confirm Login



	div#invite-popup.invite-popup-section.modal.fade(role="dialog")
		div.modal-dialog.center-section
			div.modal-content.center-section
				div.modal-header
					div.clearfix
						div.cross-icon.pointer.pull-right(data-dismiss="modal")
					div.header-section.center-section.inverse 
						div.heading1(align="center")
							span Invite {{ctrl.model.selectedAssociate.firstName}} to create a unique login.
						div.heading2(align="center")
							span Business associates will now be able to specify a username and password of their choice.
						
				div.modal-body
					div.form-section
						form.m-t-0(name="formInviteSection", novalidate="novalidate", form-submit="ctrl.sendInvite(formInviteSection.$valid, ctrl.model.selectedAssociate, ctrl.credentials.userDetailsField)")
							div.m-b-2
								div.form-heading
									span First Name 
								div
									input.form-control(type="text", name="firstname", placeholder="First Name", ng-model="ctrl.model.selectedAssociate.firstName", ng-required="true", allow-pattern="alphabets-only")
									span.error-block.error-tag(ng-show="(formInviteSection.firstname.$touched && formInviteSection.firstname.$error.required) || (formInviteSection.firstname.$touched && formInviteSection.firstname.$invalid) || (formInviteSection.$submitted && formInviteSection.firstname.$error.required)") First-name should be entered.
							div.m-b-2
								div.form-heading
									span Last Name
								div
									input.form-control(type="text", name="lastname", placeholder="Last Name", ng-model="ctrl.model.selectedAssociate.lastName", allow-pattern="alphabets-only", ng-required="true")
									span.error-block.error-tag(ng-show="(formInviteSection.lastname.$touched && formInviteSection.lastname.$error.required) || (formInviteSection.lastname.$touched && formInviteSection.lastname.$invalid) || (formInviteSection.$submitted && formInviteSection.lastname.$error.required)") Last-name should not be left blank.

							div.m-b-2
								div.form-heading
									span Email
								div.email-validation
									email-phone(credentials='ctrl.credentials', is-email='true')

							div.m-b-2.ng-hide
								div.form-heading
									span Mobile
								div
									input.form-control(type="text", name="mobile", ng-model="ctrl.model.selectedAssociate.mobile", ui-mask="(999)-999 9999", ng-required="ctrl.model.selectedAssociate.contact == ctrl.model.formMobileValue")
									span.error-block.error-tag(ng-show="(formInviteSection.mobile.$touched && formInviteSection.mobile.$error.required) || (formInviteSection.$submitted && formInviteSection.mobile.$error.required)") A mobile number should be entered.									

							div.m-b-2.ng-hide
								div.form-heading
									span Contact Prefernce
								div.clearfix.radio-button-group
									div.pull-left
										div.radio
											input.form-control(type="radio", name="contact", ng-model="ctrl.model.selectedAssociate.contact", ng-value="ctrl.model.formEmailValue", ng-required="true")
											label 
												span.radio-label-text Email
									div.pull-left
										div.radio
											input.form-control(type="radio", ng-model="ctrl.model.selectedAssociate.contact", name="contact", ng-value="ctrl.model.formMobileValue", ng-required="true")
											label 
												span.radio-label-text Mobile Phone

							div
								div
									button.btn.btn-primary(type="submit", ng-click="ctrl.credentials.isSubmitted = true")
										span.text-uppercase Send Invite
								div
									button.btn.btn-primary-outline.fullWidth.m-b-0(type="button",data-dismiss="modal")
										span.text-uppercase Cancel