.media-cards-component.col-sm-12.no-gutter(ng-show='!ctrl.cardDismissShow')
  .bg-cayman
    .cards-component-align
      .media-center-basics.p-t-2.m-b-1
        h2 {{ctrl.cardsStartUpMessage}}
      cards-component(to-do-cards="ctrl.toDoCards", dots="true",arrows="true", show="ctrl.cardDismissShow", cards-count="4")
