@import "../../../../../src/stylesheets/partials/variables.scss";

.media-cards-component{
  .bg-cayman {
    background: $cayman-webkit;
    background: $cayman;
    height: 22.75em;
  }
  .cards-component-align{
    width: 20.25em;
    margin: 0 auto;
  }
  .media-center-basics{
    h2{
      font-size: 1.5rem;
      color: $white;
      text-align: center;
    }
  }
  .cards-component .card{
    height: 14.5875em;
  }
  .card-title{
    padding-top: 0.6em;
  }
  .category-favorite{
    width: 2.25em;
    height: 2.25em;
    background-repeat: no-repeat;
  }
  .carousel.carousel-primary .slick-prev::before {
        background: url("../../../../../src/assets/images/css/ic-arrow-left-white.svg") no-repeat;
  }      
  .carousel.carousel-primary .slick-next::before {
        background: url("../../../../../src/assets/images/css/ic-arrow-right-white.svg") no-repeat;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    .carousel.carousel-primary {
                    .slick-prev {
                        left: -1.3rem;
                    }
                    .slick-next {
                        right: -1.3rem;
                    }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel.carousel-primary {
                    .slick-prev {
                        left: -1.7rem;
                    }
                    .slick-next {
                        right: -1.7rem;
                    }
    }
  }
  @media screen and (min-width: 1024px) {
    .carousel.carousel-primary {
                    .slick-prev {
                        left: -2.2rem;
                    }
                    .slick-next {
                        right: -2.2rem;
                    }
    }
  }
}  
