div.checkout-guest-and-distributor
	div.content.checkout-container
		.checkout-title-container.no-gutter
			section.header
				div.section.invite-banner

					div.container-fluid.p-t-1(align="left")
						div.pointer.p-l-1.navigate-back(data-toggle="modal",data-target="#exit-modal-popup",data-backdrop="static")
							span.text-white CART

						div.text-white.logo-section(align="center")
							div
								//h5.m-b-0_5.font-weight-normal.text-white.text-uppercase{{ctrl.model.heading1}}
								h1.font-weight-normal.text-white.text-uppercase {{ctrl.model.mainHeading}}

					div.steps
						div.container-fluid.clearfix.displayTable.actionMenu(align="center")
							div.pull-left.relative.pointer.shippingAddress-logo-done(ng-click="ctrl.gotoPage('#/checkout/shippingaddress')")
							div.pull-left.deliveryOptions-logo.pointer.relative.deliveryOptions-logo-done(ng-click="ctrl.gotoPage('#/checkout/deliveryoptions')")
							div.pull-left.paymentMethod-logo-active.active.relative
								div.active-arrow-up
							div.pull-left.orderReview-logo

					div.step-indicator
						small.text-uppercase.text-white {{ctrl.model.heading2}}

		.checkout-content-container.no-gutter
			section.content.m-b-0
				.accepted-card-container.hidden-lg-up
					.accepted-card
						.col-md-3.col-sm-12.no-gutter
							p.small Accepted Card
						.col-md-9.col-sm-12.no-gutter
							ul
								li.visa
								li.amex
								li.mastercard
								li.discover
				div.m-t-2.main-section.container-fluid.no-gutter.clearfix
					div.left-section

						.accepted-card-container.hidden-md-down
							.accepted-card
								.col-lg-3.no-gutter
									p.small Accepted Card
								.col-lg-9
									ul
										li.visa
										li.amex
										li.mastercard
										li.discover

						div.backgroundWhite.name-card.payment-method-section
							form.form(name="formPayment" novalidate)
								div.payment-section.container-fluid(ng-show="true")
									div
										div.row
											div.col-lg-9.col-xl-9.col-sm-9.col-md-9
												input(name="cardName", type="text",ng-model="ctrl.model.paymentMethod.data.name",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.name}}",ng-blur="ctrl.checkCreditCardType($event)", required)
											div.col-lg-3.col-xl-3.col-sm-3.col-md-3
												label.text-white.text-uppercase.font-size-13.label-section {{ctrl.model.paymentMethod.fields.debitOrCredit}}

										div(align="left").credit-card-number-label
											label.text-white {{ctrl.model.paymentMethod.fields.cardNumber}}

										div.credit-card-number.clearfix
											input(type="tel", name="paymentCardNumber", ng-model="ctrl.model.paymentMethod.data.paymentCardNumber", minlength="15", maxlength="19", no-alpha-chars, required, ng-class="{'ng-invalid':ctrl.invalidCardError}" ng-change="ctrl.clearCardError()", allow-pattern="number-only")
										div.last-section.clearfix
											div.pull-left
												div(align="left")
													label.text-white {{ctrl.model.paymentMethod.fields.expiry}}
												div
													input(name="cardExpiry", type="tel",ng-model="ctrl.model.paymentMethod.data.expiry",ui-mask="99/99",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.exp}}",ng-blur="ctrl.checkCCMonth(ctrl.model.paymentMethod.data.expiry, $event);",maxlength="5", required, ng-class="{'invalid-exp': ctrl.model.showCCExpError}")

											div.pull-left
												div.tooltipwrapper(align="left")
													label.text-white {{ctrl.model.paymentMethod.fields.cvv}}
														button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
																span Info
														.dropdown-menu(aria-labelledby='dropdownLogin')
															.show-amex-div(ng-if="ctrl.isAmexCard")
															.show-non-amex-div(ng-if="!ctrl.isAmexCard")
												div(ng-if='ctrl.isMobileDevice')
													input.cvvText(name="cardCVV", type="tel", ng-model="ctrl.model.paymentMethod.data.cvv",maxlength="3",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.cvv}}",ng-blur="ctrl.checkCreditCardType()", allow-pattern="number-only", required)
												div(ng-if='!ctrl.isMobileDevice')
													input.cvvText(name="cardCVV", type="password", ng-model="ctrl.model.paymentMethod.data.cvv",maxlength="3",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.cvv}}",ng-blur="ctrl.checkCreditCardType()", allow-pattern="number-only", required)
											div.pull-left.hide
												div(align="left")
													label.text-white {{ctrl.model.paymentMethod.fields.zip}}
												div
													input(name="cardZip", type="text",ng-model="ctrl.model.paymentMethod.data.zip",placeholder="{{ctrl.model.paymentMethod.fields.placeholder.zip}}",ng-blur="ctrl.checkCreditCardType($event)",maxlength="10", required, zip-mask)
								div.payment-section-validated.text-white.hide.container-fluid(ng-class="{'visa': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.visa, 'mastercard': 	ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.mastercard, 'discover': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.discover, 'amex': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.amex, 'other': ctrl.model.creditCardType == ctrl.model.paymentMethod.creditCardTypes.other}")
									div
										div.name-section.clearfix(align="right")
											label.text-capitalize.pull-right {{ctrl.model.paymentMethod.data.name}}

										div(align="left")
											label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.cardNumber}}
										div.clearfix
											div.credit-card-number.pull-left.text-center.m-b-1(ng-repeat="item in [1,2,3,4]")
													span(ng-if="!$last") XXXX
													p.m-b-0(ng-if="$last") {{ctrl.getLastFourDigitsOfPaymentCard(ctrl.model.paymentMethod.data.paymentCardNumber)}}

										div.last-section
											div.pull-left
												div(align="left")
													label.text-label.font-size-13.text-gray-dull  {{ctrl.model.paymentMethod.fields.expiry}}
												div.col-sm-12.col-md-12.col-lg-12.col-xl-12
													span {{ctrl.model.paymentMethod.data.expiry}}

											div.pull-left
												div(align="left")
													label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.cvv}}
												div.col-sm-12.col-md-12.col-lg-12.col-xl-12
													span XXX

											div.pull-left.hide
												div(align="left")
													label.text-label.font-size-13.text-gray-dull   {{ctrl.model.paymentMethod.fields.zip}}
												div.col-sm-12.col-md-12.col-lg-12.col-xl-12
													span {{ctrl.model.paymentMethod.data.zip}}

										div.pull-right.clear
											label
												a.text-uppercase.font-weight-bold.color-aqua.edit-label(href="",ng-click="ctrl.togglePaymentSection('.payment-section', '.payment-section-validated',$event)") {{ctrl.model.paymentMethod.fields.edit}}

									div(ng-if="(!((formPayment.cardExpiry.$error.required && formPayment.cardExpiry.$touched) || (formPayment.cvv.$error.required && formPayment.cvv.$touched) || (formPayment.paymentMethod.$error.required && formPayment.paymentMethod.$touched) || (formPayment.cardHolderName.$error.required && formPayment.cardHolderName.$touched) || (formPayment.creditCardNumber.$error.required && formPayment.creditCardNumber.$touched))) && (!ctrl.model.showCCExpError)",ng-messages='formPayment.creditCardNumber.$error', class="credit-card-err", role='alert')
										div(ng-message='required' ng-show="formPayment.creditCardNumber.$touched && ctrl.invalidCardError") Enter Card Number
										div(ng-message='no-alpha-chars') No Characters are allowed
										div(ng-message='minlength') Enter Valid Card Number
										div(ng-message='maxlength') Enter Valid Card Number
									div.pull-left(ng-if="ctrl.model.showCCExpError")
										span Invalid Expiry date.&nbsp;
									div.pull-left(ng-if="ctrl.invalidCardError")
										span Card is not valid
								div.billing-section.m-t-2(align="left")
									label.text-uppercase.font-weight-bold {{ctrl.model.paymentMethod.fields.billingAddress}}
									div.checkbox.ship-details-wrapper
										input.same-address-ship-checkbox(type="checkbox", ng-model="ctrl.model.paymentMethod.data.sameAsShippingAddress")
										label
											span {{ctrl.model.paymentMethod.fields.sameAsShippingAddress}}
								div.m-t-2(ng-if="!ctrl.model.paymentMethod.data.sameAsShippingAddress")
									div.row.m-b-1
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.paymentMethod.fields.firstName}}
												div
													input.form-control.fullWidth(name="firstname",type="text", ng-model="ctrl.model.paymentMethod.data.firstName",required)

													span.error-block(ng-show="(formPayment.firstname.$touched && formPayment.firstname.$error.required)") 	{{ctrl.model.paymentMethod.fields.errorMessages.firstName}}

										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.paymentMethod.fields.lastName}}
												div
													input.form-control.fullWidth(name="lastname",type="text", ng-model="ctrl.model.paymentMethod.data.lastName",required)

													span.error-block(ng-show="(formPayment.lastname.$touched && formPayment.lastname.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.lastName}}
									div.m-b-1
										div
											label {{ctrl.model.paymentMethod.fields.addressLine1}}
										div
											input.form-control.fullWidth(name="addressline1", type="text",ng-model="ctrl.model.paymentMethod.data.addressLine1",required)

											span.error-block(ng-show="(formPayment.addressline1.$touched && formPayment.addressline1.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.addressLine1}}
									div.m-b-1
										div
											label {{ctrl.model.paymentMethod.fields.addressLine2}}
										div
											input.form-control.fullWidth(name="addressline2",type="text",ng-model="ctrl.model.paymentMethod.data.addressLine2")
									div.m-b-1
										div
											label {{ctrl.model.paymentMethod.fields.city}}
										div
											input.form-control.fullWidth(name="city",type="text",ng-model="ctrl.model.paymentMethod.data.city",required)

											span.error-block(ng-show="(formPayment.city.$touched && formPayment.city.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.city}}

									div.row.m-b-1
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.paymentMethod.fields.state}}
												div.select-wrapper.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
													select.form-control.fullWidth(name="state",ng-model="ctrl.model.paymentMethod.data.state",ng-options="state.abbreviation as state.name for state in ctrl.model.paymentMethod.states",required)

													span.error-block(ng-show="(formPayment.state.$touched&& formPayment.state.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.state}}
										div.col-lg-6.col-sm-6.col-md-6.col-xl-6
											div
												div
													label {{ctrl.model.paymentMethod.fields.zipcode}}
												div
													input.form-control.fullWidth(name="zipcode", type="tel", ng-model="ctrl.model.paymentMethod.data.zipcode",required,ng-blur="ctrl.zipcodeLookup()",zip-mask, maxlength="10")

													span.error-block(ng-show="(formPayment.zipcode.$touched && formPayment.zipcode.$error.required)") {{ctrl.model.paymentMethod.fields.errorMessages.zipcode}}
													span.error-block( ng-show="(formPayment.zipcode.$touched && ((ctrl.model.paymentMethod.data.zipcode.length < 5) || (ctrl.model.paymentMethod.data.zipcode.length > 5 && ctrl.model.paymentMethod.data.zipcode.length < 10)))") Please enter a valid zip code.

								div
									div.m-b-1.m-t-2
										button.btn.btn-primary(type="submit",ng-click="ctrl.saveAndContinue(formPayment)") {{ctrl.model.paymentMethod.fields.saveAndContinue}}

									div.m-b-3
										button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBack()") 	{{ctrl.model.paymentMethod.fields.goBack}}

					div.right-section.show-above-lg.include-section
						include ./payment.method.component.shopping.bag.jade

	#accordionform.accordionForm.show-below-lg
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			div.panel.panel-default.accordion-panel.relative
				#panel1.panel-heading(role="tab")
					h4.panel-title(ng-click="ctrl.model.isPullLabelVisible = !ctrl.model.isPullLabelVisible",ng-init="ctrl.model.isPullLabelVisible = true")
						button.btn.drawerButton.collapsed(type="button", data-toggle='collapse', data-parent='#accordion',data-target='#panel', aria-expanded='false', aria-controls='payment',ng-click="ctrl.togglePanel()")
							div.clearfix.accord-label-section.fullWidth(ng-show="ctrl.model.isPullLabelVisible")
								div.pull-left
									label.pullUpLabel.text-transform-none {{ctrl.model.paymentMethod.fields.estimatedTotal}}
								div.pull-right(align="right")
									label.pullUpData {{ctrl.model.paymentMethod.data.estimatedTotal}}

				#panel.panel-section.panel-collapse.collapse(role="tabpanel",aria-labelledby='panel1',aria-expanded='false', style='height: 0px;')
					div.panel-body.include-section
						include ./payment.method.component.shopping.bag.jade

	div#exit-modal-popup.popup-modal-section.modal.fade(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-body
					div.modal-close-icon-section.clearfix.pointer
						div(data-dismiss="modal").pull-right.modal-close-icon
					div.m-b-2 {{ctrl.model.paymentMethod.fields.modalMessages.areYouSure}}
					div
						button.btn.btn-primary.m-b-1(data-dismiss="modal")
							span.text-uppercase.font-weight-normal {{ctrl.model.paymentMethod.fields.modalMessages.stayInCheckout}}
						button.btn.btn-primary-outline.fullWidth.font-weight-normal(data-dismiss="modal",ng-click="ctrl.gotoPage('#shopping-cart')")
							span.text-uppercase {{ctrl.model.paymentMethod.fields.modalMessages.goBackToShoppingBag}}
