@import "variables.scss";
@import "mixin.scss";
// Forms
$form-max-width: 360px;
form {
    margin: 2rem 0 0 0;
}

label {
    font-size: 0.875rem;
    margin-bottom: .2rem;
}

legend {
    font-size: 1rem;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
    span {
        background: white;
        padding: 0 1rem;
        display: inline-block;
        position: relative;
        z-index: 10;
    }
    &::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
        background: $gray87;
    }
}

.form-group,
.input-group {
    input {
        margin-bottom: 1.5rem;
    }
}

.form-control,
select {
    //max-width: $form-max-width;
    font-weight: $proxima-light;
    border-radius: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .6rem .75rem;
    margin-bottom: 1.875em;
    &:focus {
        border-color: $blue-light;
    }
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled].form-control {
    background: $gray-lightest;
}

// Radios
.radio {
    //max-width: $form-max-width;
    margin-bottom: 0;
    input[type="radio"] {
        cursor: pointer;
        opacity: 0;
        width: 1.4em;
        height:1.8em;
        z-index: 1;
        margin-left: 0;
        + label {
            padding: 0 0 0 1.5em;
            margin-bottom: 0.65em;
            &::before {
                position: relative;
                top: 3px;
                margin: 0 .5em 0 -1.5em;
                content: '';
                height: 1rem;
                width: 1rem;
                background: white;
                border: 3px solid white;
                box-shadow: 0px 0px 0px 1px rgba($gray-lighter, 1);
                border-radius: 50%;
                display: inline-block;
                transition: background-color .2s;
            }
        }
        &:checked {
            + label::before {
                background: $brand-primary;
            }
        }
    }
}

// Custom Radios
.radio-custom {
    border-radius: 3px;
    display: inline-block;
    border: 1px solid $aqua;
    margin-right: .25em;
    @extend .radio;
    input[type="radio"] {
        height: 100%;
        display: block;
        + label {
            text-transform: uppercase;
            font-size: 0.7125rem;
            letter-spacing: 1px;
            font-weight: $proxima-semibold;
            margin: 0;
            padding: 0.2rem 0.5rem 0.75rem 1.5rem;
            transition: background-color .2s;
            &::before {
                position: relative;
                top: 8px;
                margin: 0 .75em 0 -1.5em;
                content: '';
                height: 1.563rem;
                width: 1.563rem;
                background: transparent;
                border: 1px solid $aqua;
                box-shadow: none;
                border-radius: 50%;
                display: inline-block;
                transition: border .2s;
            }
        }
        &:checked {
            + label {
                background: $aqua;
                &::before {
                    background: url('../assets/images/css/ic-checkmark.svg') no-repeat center;
                    border: 1px solid $gray-black;
                }
            }
        }
    }
}

// Color Radio
.radio-custom-color-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.radio-custom-color {
    flex-basis: 33.33%;
    display: inline-block;
    margin: 0;
    text-align: center;
    @extend .radio;
    + .radio-custom-color {
        margin-top: 0;
    }
    @include media-breakpoint-up(sm) {
        flex-basis: 25%;
    }
    @include media-breakpoint-up(md) {
        flex-basis: 10%;
    }
    @include media-breakpoint-up(lg) {
        flex-basis: 72px;
    }
    input[type="radio"] {
        height: 100%;
        display: block;
        margin: 0;
        + label {
            text-align: center;
            font-size: 0.8125rem;
            line-height: 1.3;
            font-weight: $proxima-light;
            color: $gray;
            padding: .5em .5em 0;
            .swatch {
                background-position: center;
                background-color: $gray-lightest;
                background-size: cover;
                margin: 0 auto .5rem;
                display: block;
                height: 3rem;
                width: 3rem;
                overflow: hidden;
                box-shadow: 0px 0px 0px 2px $gray-lightest;
                transition: all .125s;
            }
            &::before {
                height: 0!important;
                width: 0!important;
                box-shadow: none;
                content: none;
            }
        }
        &:focus {
            + label {
                .swatch {
                    box-shadow: 0px 0px 0px 2px $gray-lighter;
                }
            }
        }
    }
}

// Select
.select-wrapper {
    display: block;
    position: relative;
    background: #fff;
    //max-width: $form-max-width;
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        background: url('../assets/images/css/ic-dropdown-arrow.svg') no-repeat 100%;
        height: 8px;
        width: 14px;
        z-index: 5;
    }
    select::-ms-expand {
        display: none;
    }
    select {
        &.form-control {
            background-color: transparent;
            position: relative;
            cursor: pointer;
            z-index: 10;
        }
        &.form-control[disabled],
        &.form-control[readonly] {
            background-color: $gray-lightest;
            cursor: not-allowed;
        }
    }
}

// Checkboxes
.checkbox {
    input[type="checkbox"] {
        cursor: pointer;
        opacity: 0; 
        height: 1rem;
        width: 1rem;
        z-index: 1;
        margin-left: 0;
        left:0;
        + label {
            padding: 0 0 0 1.5rem;
            margin-bottom: 0.65em;
            cursor: text;
            &::before {
                position: relative;
                top: 3px;
                margin: 0 .5em 0 -1.5em;
                content: '';
                height: 1rem;
                width: 1rem;
                background: white;
                border: 1px solid $gray-lighter;
                display: inline-block;
                transition: border .2s;
            }
        }
        &:checked {
            + label::before {
                background: url('../assets/images/css/ic-checkbox.svg') no-repeat center;
                border-color: $brand-primary;
            }
        }
    }
    a {
        z-index: 10;
        position: relative;
        padding: 1rem 0;
    }
}

// Input group
.input-group {
    .form-control {
        width: calc(100% - 48px);
    }
}

.input-group-btn {
    //width: 15%;
    float: left;
    button.btn {
        //width: 100%;
        padding: 0.95rem 1.25rem 0.8rem;
        &::after {
            position: relative;
            content: '';
            display: inline-block;
            height: 9px;
            width: 6px;
            background: url('../assets/images/css/ic-arrow-right.svg') no-repeat center 100%;
        }
    }
}

// Validation
.has-danger {
    .form-control {
        border-left: 6px solid $brand-danger;
        margin-bottom: .25rem;
    }
    span.validation {
        font-size: 0.875rem;
        color: $brand-danger;
    }
}

.form-inline {
    input {
        display: inline-block;
        float: left;
    }
    &.form-group-3 {
        max-width: $form-max-width;
        input {
            width: 33.33%;
            &:not(:last-child) {
                border-right: none;
            }
        }
    }
}

.form-group {
    margin-bottom: 2.25rem;
    &:only-of-type {
        margin: 0;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-input {
    height: 45px;
    border: 1px solid $gray-lighter;
    padding: 12px 10px;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $gray-dark;
    border-radius: 0;
    &:focus,
    &:active {
        border-color: $blue-light;
        outline: none;
    }
}

.form-control {
    height: 45px;
    border: 1px solid $gray-lighter;
    padding: 12px 10px;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $gray-dark;
    border-radius: 0;
    &:focus,
    &:active {
        border-color: $blue-light;
        outline: none;
        box-shadow: none;
    }
}

input.ng-invalid.ng-touched,select.ng-invalid.ng-touched {
    background-color: $white;
    border: solid 1px $brand-danger;
    border-left: solid 6px $brand-danger;
    margin-bottom: .25rem;
    &:focus,
    &:active {
        border-color: $brand-danger;
        outline: none;
    }
}


.error-block {
    //height: 22px;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: -0.1px;
    color: $brand-danger;
}

// styles for accordion
#accordionform {
background: $cayman;
    padding: 1.375em;
    opacity: 1;
    transition: all .75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    &.ng-hide {
        opacity: 0;
    }
.panel {
    background: #fff;
    padding: 1em 1.75em;
    margin-bottom: 1em;
    &:last-of-type {
        margin-bottom: 3em;
    }
}
.panel-title {
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    margin: 0;
    button {
        background: none;
        padding: 0;
        margin: 0;
        color: $blue-light;
        width: 100%;
        height: 1.6875rem;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        white-space:normal;
        &:focus {
            outline: 0;
        }
        &::after {
            content: '';
            background: url('../assets/images/css/icon-dropdown-circle-active-green.svg') center no-repeat;
            height: 1.6875rem;
            width: 1.6875rem;
            transition: all .2s;
            position: absolute;
            top: 0;
            right: 0;
        }
        &.collapsed {
            &::after {
                transform: rotate(180deg);
            }
        }
        &.completed {
            &::after {
                transform: rotate(0deg);
                background: url('../assets/images/css/icon-completed.svg') center no-repeat;
            }
            &.invalid {
                &::after {
                    background: url('../assets/images/css/icon-dropdown-circle-active.svg') center no-repeat;
                }
            }
        }
    }
}
}

//Quantity Selector
.input-group{
  .input-group-addon{
    width: 3em;
    height: 2.8125em;
    background-color: $gray-lighter;
    border: solid .0625em $gray-lighter;
    cursor: pointer;
    .left {
      border-top-left-radius: .1875em;
      border-bottom-left-radius: .1875em;
    }
    .right {
      border-top-right-radius: .1875em;
      border-bottom-right-radius: .1875em;
    }
    &:hover{
      border-radius: .1875em;
      background-color: $brand-primary;
      color: $white
    }
  }
  .form-control {
      width: 3.5em;
      background-color: $white;
      border: solid .0625em $gray-lighter;
      text-align: center;
    }
}
//Styles for Tooltip..

.tooltipwrapper {
    .dropdown-backdrop{
        top: auto;
    }

    .dropdown-trigger {
    position: relative;
    border-radius: 50%;
    background: #0ba360;
    height: 18px;
    width: 18px;
    display: block;
    text-align: center;
    display: inline-block;
    margin-left: 4px;
    border: 0;
    padding: 0;
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        background: #0ba360;
    }
    &:before {
        content: 'i';
        font-weight: 600;
        color: #fff;
        position: relative;
        top: -1px;
        line-height: 1.1;
    }
    span {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
}

.open {
    & > .dropdown-menu {
        display: block;
    }
    & > .dropdown-trigger {
        &:after {
            position: absolute;
            top: 24px;
            left: 1px;
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border-top: 1px solid #E3E1DB;
            border-left: 1px solid #E3E1DB;
            z-index: 5000;
        }
    }
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: auto;
    margin-top: 12px;
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    font-size: 1rem;
    color: #444444;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;

    .dropdown-title {
        font-size: 0.875rem;
        line-height: 1.3;
        background: none;
        border: none;
        font-weight: 600;
        padding: 24px 32px 8px 24px;
        margin: 0;
        text-align: right;
    }

    .dropdown-content {
        font-size: 0.8125rem;
        line-height: 1.4;
        padding: 8px 32px 8px 24px;
    }
}

}
