@import "../../../../../src/stylesheets/partials/variables.scss";
.store-contact-info{
  .contact-info-banner{
    height: 30.25em;
    background-image: linear-gradient(to top, $blizzard-blue, $aqua);
    opacity: 0.5;
  }
  .contact-info{
    background-repeat: no-repeat;
    background-position: right;
    background-color: $white;
    height: 30.25em;
    background-size: auto 30.25em;
    .headline{
      font-weight: $proxima-thin;
    }
  }
  .contact-info-text{
    position: absolute;
    margin-top: 12.5em;
    margin-left: 10em;
  }
  .preview-button{
    width: 12.75rem;
  }
  .inline-edit{
    font-size: 0.8125rem;
    font-weight: $proxima-semibold;
    line-height: 1.23;
    letter-spacing: 0.5px;
    color: $gray-chateau;
    background: url("../../../../../src/assets/images/css/icon-edit.svg") no-repeat right 0;
    margin-top: -0.35em;
    height: 2em;
    width: 6.75em;
    float: right;
    text-transform: uppercase;
    padding: 4px 0;
    cursor: pointer;
  }
  .contact-info-details-container{
    background-color: $gray-lightest;
    .contact-info-details{
      margin: 0 auto;
      width: 45em;
      padding: 3em 0 4.1875em;
      .contact-info-repeat{
        width: 100%;
        min-height: 5em;
        margin: 0.5em 0;
        padding: 1.1875em 1.5625em;
        background-color: $white;
        color: $gray-black;
        h5 {
          font-size: 0.875rem;
          font-weight: $proxima-light;
          margin: 0;
        }
        p.thin {
          font-weight: $proxima-thin;
        }
        p.small{
          font-weight: $proxima-light;
        }
      }
    }
    .contact-social-repeat{
      width: 100%;
      min-height: 5em;
      margin: 0.5em 0;
      padding: 1.5em 1.5625em;
      background-color: $white;
      color: $gray-black;
      .contact-social-repeat-in{
        p{
          width: 100%;
          height: 2em;
          padding-left: 2.75em;
          font-weight: $proxima-thin;
          line-height: 2em;
        }
        p.facebook-icon{
          background: url("../../../../../src/assets/images/css/facebook-off.png") no-repeat;
        }
        p.facebook-icon.active{
          background: url("../../../../../src/assets/images/css/facebook-on.png") no-repeat;
        }
        p.instagram-icon{
          background: url("../../../../../src/assets/images/css/instagram-off.png") no-repeat;
        }
        p.instagram-icon.active{
          background: url("../../../../../src/assets/images/css/instagram-on.png") no-repeat;
        }
        p.twitter-icon{
          background: url("../../../../../src/assets/images/css/twitter-off.png") no-repeat;
        }
        p.twitter-icon.active{
          background: url("../../../../../src/assets/images/css/twitter-on.png") no-repeat;
        }
      }
      .inlineedit{
        margin-top: 0.35em;
      }
    }
  }
  .contact-info-repeat-edit{
    width: 20.25em;
    margin: 0 auto;
    color: $gray-dark;
    label{
      font-size: 1rem;
      font-weight: $proxima-light;
    }
    .form-control{
      width: 100%;
      text-align: left;
    }
    .input-group-addon{
      border-radius: 0;
      border-right: 0;
      background-color: $gray-lightest;
    }
  }
  input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    margin-bottom: 0;
  }
  span.text-danger{
    display: block;
  }
  .btn-primary-outline {
    color: $brand-primary;
  }
  .btn-primary-outline:hover {
    color: $white;
  }
  form{
    margin-top: 0;
  }
  .form-group input{
    margin-bottom: 1rem;
  }
  .contact-info-repeat-edit .m-t-4{
    margin-top: 4em;
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .contact-info-banner{
      background-size: auto 20em;
      height: 20em;
    }
    .contact-info{
      background-position: 15.5em -5.125em;
      height: 19.8125em;
    }
    .contact-info-text{
      margin-left: 2.5em;
      top: 0;
      position: absolute;
      margin-top: 6.75em;
    }
    .contact-info-details-container{
      .contact-info-details{
        width: 23.4375em;
      }
    }
    .contact-info-details-container{
      .contact-info-details{
        padding: 7px 0 4.4375em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .contact-info-banner{
      background-size: auto 20em;
      height: 20em;
    }
    .contact-info{
      background-position: 25em -6.25em;
      height: 19.8125em;
    }
    .contact-info-text{
      margin-top: 6.75em;
      margin-left: 5.25em;
    }
    .contact-info-details-container{
      .contact-info-details{
        padding: 1px 0 3.6875em;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .contact-info-banner{
      height: 24.625em;
    }
    .contact-info{
      height: 24.625em;
      background-size: auto 24.625em;
    }
    .contact-info-text{
      margin-top: 9.625em;
      margin-right: 7em;
    }
    .contact-info-details-container{
      .contact-info-details{
        padding: 2.4375em 0 4.8125em;
      }
    }
  }
}
