.store-contact-info
  .row
    .col-sm-12.contact-info.no-gutter(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .col-md-12.col-sm-0.contact-info-banner
      .col-xl-5.col-lg-4.col-md-5.col-sm-8.contact-info-text.no-gutter
        h1.headline {{ctrl.pageHeadline}}
        p {{ctrl.pageShortDescription}}
        button.btn.btn-primary-outline.btn-block.preview-button Preview in New Tab
    .col-sm-12.contact-info-details-container
      .contact-info-details
        .contact-info-repeat
          h5 Phone Number
          .contact-info-repeat-in(ng-show="!ctrl.model.phoneInfo.editStatus")
            .col-sm-10.no-gutter
              p.thin {{ctrl.model.phoneInfoDisplay}}
            .col-sm-2.no-gutter
              .inline-edit(ng-click="ctrl.editContactInfo('phone')")
                span(ng-if="!ctrl.model.phoneInfo.footerStatus && ctrl.model.phoneInfo.value") Hidden
          .contact-info-repeat-edit(ng-show="ctrl.model.phoneInfo.editStatus")
            form(name='ctrl.phoneForm' novalidate form-submit='ctrl.saveContactInfo(ctrl.phoneForm.$valid, "phone")', controller="ctrl")
              email-phone.m-b-0(credentials='ctrl.credentials', is-phone='true', title="", is-required='ctrl.required')
              fieldset
                div.checkbox.m-b-0
                  input.m-t-0(type="checkbox" ng-model="ctrl.model.phoneInfo.footerStatus" ng-click="ctrl.checkContactInfo('phone')")
                  label.form-label.m-b-0 Show on Storefront
              p.small.m-t-1 Please note: The phone number added/ changed here for customer-facing "Contact info" does not replace/ affect the phone number in Account Settings.
              button.btn.btn-primary.m-b-1.m-t-1(type="submit", ng-click="ctrl.credentials.isSubmitted = true") Save
              button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelContactInfo('phone')") Cancel

        .contact-info-repeat
          h5 Email Address
          .contact-info-repeat-in(ng-show="!ctrl.model.emailInfo.editStatus")
            .col-sm-10.no-gutter
              p.thin {{ctrl.model.emailInfo.value}}
            .col-sm-2.no-gutter
              .inline-edit(ng-click="ctrl.editContactInfo('email')")
                span(ng-if="!ctrl.model.emailInfo.footerStatus && ctrl.model.emailInfo.value") Hidden
          .contact-info-repeat-edit(ng-show="ctrl.model.emailInfo.editStatus")
            form(name='ctrl.emailForm' novalidate form-submit='ctrl.saveContactInfo(ctrl.emailForm.$valid, "email")', controller="ctrl")
              email-phone.m-b-0(credentials='ctrl.credentials', is-email='true', title="", is-required='ctrl.required')
              fieldset
                div.checkbox.m-b-0
                  input.m-t-0(type="checkbox" ng-model="ctrl.model.emailInfo.footerStatus" ng-click="ctrl.checkContactInfo('email')")
                  label.form-label.m-b-0 Show on Storefront
              p.small.m-t-1 Please note: The email address added/ changed here for customer-facing "Contact info" does not replace/ affect the phone number in Acocunt Settings.
              button.btn.btn-primary.m-b-1.m-t-1(type="submit", ng-click="ctrl.credentials.isSubmitted = true") Save
              button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelContactInfo('email')") Cancel

        .contact-social-repeat
          .contact-social-repeat-in
            .col-sm-10.no-gutter
              p.facebook-icon(ng-if="!ctrl.model.facebookInfo.text") Add Facebook Profile
              p.facebook-icon.active(ng-if="ctrl.model.facebookInfo.text") @{{ctrl.model.facebookInfo.text}}
            .col-sm-2.no-gutter(ng-show="!ctrl.model.facebookInfo.editStatus")
              .inline-edit(ng-click="ctrl.editContactInfo('facebook')")
                span(ng-if="!ctrl.model.facebookInfo.footerStatus && ctrl.model.facebookInfo.value") Hidden
          .contact-info-repeat-edit(ng-show="ctrl.model.facebookInfo.editStatus")
            ng-form(name='ctrl.facebookForm' novalidate ng-submit='ctrl.facebookForm.$valid && ctrl.saveContactInfo(ctrl.facebookForm.facebookId.$valid, "facebook")')
              label Your Facebook Link:
              .input-group.col-sm-12.no-gutter.m-b-0
                span.input-group-addon @
                input.form-control(type='text' ng-value="ctrl.model.facebookInfo.value" id='facebookId' name='facebookId' ng-model='ctrl.model.facebookInfo.value' autocomplete='off' ng-class="{'ng-touched': ctrl.clickedSearch}")
              span.text-danger.p-l-3(ng-show='(ctrl.clickedSearch && ctrl.facebookForm.facebookId.$error.required) || (ctrl.facebookForm.facebookId.$error.required && ctrl.facebookForm.facebookId.$touched)') Please enter a valid ID
              fieldset.m-t-4
                div.checkbox.m-b-0
                  input.m-t-0(type="checkbox" ng-model="ctrl.model.facebookInfo.footerStatus" ng-click="ctrl.checkContactInfo('facebook')")
                  label.form-label.m-b-0 Show on Storefront
              button.btn.btn-primary.m-b-1.m-t-1(ng-click='ctrl.saveContactInfo(ctrl.facebookForm.facebookId.$valid, "facebook")') Save
              button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelContactInfo('facebook')") Cancel

        .contact-social-repeat
          .contact-social-repeat-in
            .col-sm-10.no-gutter
              p.twitter-icon(ng-if="!ctrl.model.twitterInfo.text") Add Twitter Profile
              p.twitter-icon.active(ng-if="ctrl.model.twitterInfo.text") @{{ctrl.model.twitterInfo.text}}
            .col-sm-2.no-gutter(ng-show="!ctrl.model.twitterInfo.editStatus")
              .inline-edit(ng-click="ctrl.editContactInfo('twitter')")
                span(ng-if="!ctrl.model.twitterInfo.footerStatus && ctrl.model.twitterInfo.value") Hidden
          .contact-info-repeat-edit(ng-show="ctrl.model.twitterInfo.editStatus")
            ng-form(name='ctrl.twitterForm' novalidate ng-submit='ctrl.twitterForm.$valid && ctrl.saveContactInfo(ctrl.twitterForm.twitterId.$valid, "twitter")')
              label Your Twitter Link:
              .input-group.col-sm-12.no-gutter.m-b-0
                span.input-group-addon @
                input.form-control(type='text' ng-value="ctrl.model.twitterInfo.value" id='twitterId' name='twitterId' ng-model='ctrl.model.twitterInfo.value' autocomplete='off' ng-class="{'ng-touched': ctrl.clickedSearch}")
              span.text-danger.p-l-3(ng-show='(ctrl.clickedSearch && ctrl.twitterForm.twitterId.$error.required) || (ctrl.twitterForm.twitterId.$error.required && ctrl.twitterForm.twitterId.$touched)') Please enter a valid ID
              fieldset.m-t-4
                div.checkbox.m-b-0
                  input.m-t-0(type="checkbox" ng-model="ctrl.model.twitterInfo.footerStatus" ng-click="ctrl.checkContactInfo('twitter')")
                  label.form-label.m-b-0 Show on Storefront
              button.btn.btn-primary.m-b-1.m-t-1(ng-click='ctrl.saveContactInfo(ctrl.twitterForm.twitterId.$valid, "twitter")') Save
              button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelContactInfo('twitter')") Cancel

        .contact-social-repeat
          .contact-social-repeat-in
            .col-sm-10.no-gutter
              p.instagram-icon(ng-if="!ctrl.model.instagramInfo.text") Add Instagram Profile
              p.instagram-icon.active(ng-if="ctrl.model.instagramInfo.text") @{{ctrl.model.instagramInfo.text}}
            .col-sm-2.no-gutter(ng-show="!ctrl.model.instagramInfo.editStatus")
              .inline-edit(ng-click="ctrl.editContactInfo('instagram')")
                span(ng-if="!ctrl.model.instagramInfo.footerStatus && ctrl.model.instagramInfo.value") Hidden
          .contact-info-repeat-edit(ng-show="ctrl.model.instagramInfo.editStatus")
            ng-form(name='ctrl.instagramForm' novalidate ng-submit='ctrl.instagramForm.$valid && ctrl.saveContactInfo(ctrl.instagramForm.instagramId.$valid, "instagram")')
              label Your Instagram Link:
              .input-group.col-sm-12.no-gutter.m-b-0
                span.input-group-addon @
                input.form-control(type='text' ng-value="ctrl.model.instagramInfo.value" id='instagramId' name='instagramId' ng-model='ctrl.model.instagramInfo.value' autocomplete='off' ng-class="{'ng-touched': ctrl.clickedSearch}")
              span.text-danger.p-l-3(ng-show='(ctrl.clickedSearch && ctrl.instagramForm.instagramId.$error.required) || (ctrl.instagramForm.instagramId.$error.required && ctrl.instagramForm.instagramId.$touched)') Please enter a valid ID
              fieldset.m-t-4
                div.checkbox.m-b-0
                  input.m-t-0(type="checkbox" ng-checked="ctrl.model.instagramInfo.footerStatus" ng-click="ctrl.checkContactInfo('instagram')")
                  label.form-label.m-b-0 Show on Storefront
              button.btn.btn-primary.m-b-1.m-t-1(ng-click='ctrl.saveContactInfo(ctrl.instagramForm.instagramId.$valid, "instagram")') Save
              button.btn.btn-primary-outline.btn-block(ng-click="ctrl.cancelContactInfo('instagram')") Cancel
