@import "../../../../src/stylesheets/partials/variables.scss";
.alerts-notification-wrapper {
    background-image: linear-gradient(to top, $aqua, $brand-primary);
    .alerts-notification-container {
        background-color: $white;
	    width: 41.5rem; 
	    margin: 0 auto;
	    padding: 2.75rem 0 2.5rem 0; 
        .alerts-notification-content {
        	width: 25.625rem;
   			margin: 0 auto;
			text-align: center;
			.bottle-image{
				margin-bottom: 1.7rem;
			}
            .alerts-notification-logoimage {
                height: 1.875rem; 
			    background: url('../../../../src/assets/images/css/ic-logo.svg') center no-repeat;
			    margin-bottom: 5rem; 
			    cursor: pointer;
            }
            .alerts-notification-errorimage {
                height: 6rem; 
			    background: url('../../../../src/assets/images/css/broken-bottle.svg') center no-repeat;
			    margin-bottom: 1.5rem; 
            }
			.alerts-notification-errorheader {
					font-size: 4rem; 
					font-weight: $proxima-thin;
					line-height: 0.9;
					text-align: center;
					color: $gray;
					text-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); 
					margin-bottom: 1.5rem;
			}
            .alerts-notification-descriptions {
                    font-size: 1rem;
				    font-weight: $proxima-light;
				    line-height: 1.4;
				    text-align: center;
				    color: $gray-dark;
				    margin-bottom: 5rem; 
            }
            .alerts-notification-buttons {
                width: 20.3125rem; 
    			margin: 0 auto;
                .alerts-notification-back {
                    margin-bottom: 1rem;
                }
                .alerts-notification-homepage {
                    margin-bottom: 1.5rem; 
                }
            } 
            .alerts-notification-links {
                .alerts-notification-link {
                    font-size: 0.8125rem; 
				    line-height: 1.2;
				    letter-spacing: 0.5px; 
				    text-align: center;
				    color: $brand-primary;
				    margin-bottom: 0.625rem; 
                }
            }
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) { 
	.alerts-notification-wrapper {
		padding-top:0; 
		padding-bottom:0; 
        background-image:none;
    	.alerts-notification-container {
		    width: 20.3125rem; 
		    padding: 5rem 0 2.5625rem 0; 
	        .alerts-notification-content {
	        	width: 100%;
	   			margin: 0 auto;
	            .alerts-notification-logoimage {
			    	margin-bottom: 4.5rem; 
                }
                .alerts-notification-descriptions {
				    margin-left:2.375rem; 
				    margin-right:2.375rem; 
				}
            }
    	}	
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) { 
	.alerts-notification-wrapper {
		padding: 2.5rem 0 3.25rem 0; 
    	.alerts-notification-container {
		    width: 33.875rem; 
		    padding: 2.75rem 0 1.875rem 0; 
        	.alerts-notification-content {
	        	width: 25.625rem; 
	   			margin: 0 auto;
			}	

		}	
	}
}

@media all and (min-width: 1024px) and (max-width: 1439px) { 
	.alerts-notification-wrapper {
    	padding: 2.5rem 0 2.625rem 0;	 
	}
}

@media all and (min-width: 1440px) { 
	.alerts-notification-wrapper {
    	padding: 2.5rem 0 2.625rem 0;	 
	}
}