.alerts-notification-wrapper
  .alerts-notification-container
    .alerts-notification-content
      .alerts-notification-logoimage(ng-click='ctrl.myfunction()')
      img.bottle-image(ng-src="../../../../src/assets/images/css/broken-bottle.svg")
      p.alerts-notification-errorheader OOPS!
      .alerts-notification-descriptions
        .alerts-notification-firstdescription
          p Sorry. This page does not exist.
        .alerts-notification-seconddescription
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .alerts-notification-buttons
        .alerts-notification-back
          button.btn.btn-block.btn-primary(type='button') BACK
        .alerts-notification-homepage(ng-click='ctrl.myfunction()')
          button.btn.btn-primary-outline.btn-block(type='button') HOMEPAGE
      .alerts-notification-links
        .alerts-notification-link
          a(href='#') Link 1
        .alerts-notification-link
          a(href='#') Link 2
        .alerts-notification-link
          a(href='#') Link 3
        .alerts-notification-link
          a(href='#') Link 4
