@import "../../../../../src/stylesheets/partials/variables.scss";
@import "../../../../../src/stylesheets/partials/icon-animation.scss";

.media-favorite-container{
    position: absolute;
    top: 0.250em;
    right: 1em;
}
