page-level-error-component(ng-show="ctrl.errorData", error-message="ctrl.errorData.errorMessage", danger-type="true", is-show-info-icon-on-error="ctrl.errorData.showInfoIconOnError", is-display-error-message="ctrl.errorData.isDisplayErrorMessage")
.storefront-review-container
  .row.welcome-container(ng-if="!ctrl.showReviewFields")
    .banner-description
      h1 WELCOME TO MY STORE
      p Personalize and sell products that your passionate about on the storefront.
      p
        | Would you like some help to understand how to configure your storefront?  Take the 
        a(href='#') Guided Experience
        | .
  mystorefronteditablereviewcomponent(ng-if="!ctrl.showReviewFields",change-state="ctrl.edit(state)",is-guided-experience="false",is-review-mode="true", show-error="ctrl.showErrorSection(data)")
  mystorefronteditablereviewcomponent(ng-if="ctrl.showReviewFields",change-state="ctrl.edit(state)",is-guided-experience="true",is-review-mode="false", show-error="ctrl.showErrorSection(data)")
  .row.review-submit-container(ng-if="ctrl.showReviewFields")
    button.btn.btn-primary(ng-click="ctrl.redirect('myStorefront/review');") SAVE & PUBLISH
