@import "../../../../../src/stylesheets/partials/variables.scss";
.storefront-review-container {
    display: block;
    overflow: hidden;
    background-color: $gray-dull;
    .row {
        background-color: $white;
    }
    & .welcome-container {
        margin: 0 0 0.5rem 0; 
        overflow: hidden;
        display: flex;
        background: url('../../../../../src/assets/images/content/storefront-banner.png') no-repeat;
        background-size: cover;
        background-position: 50%;
        height: 29rem;
        & > div {
            float: left;
            display: block;
            position: relative;
        }
        & > div.banner-description {
            width: 52.77777%;
            padding: 3.4375rem 0 0 9.6875rem; 
            & h1 {
                width: 100%;
                padding-right: 25.3125rem; 
                font-size: 1.875rem; 
                font-weight: 100;
                letter-spacing: -0.0.125rem; 
                color: $gray-black;
                margin-bottom: 0.3125rem; 
            }
            & p {
                padding-right: 19.5625rem; 
                font-size: 1rem;
                font-weight: 300;
                color: $gray-dark;
            }
        }
    }
    //Submit Container Style
    .review-submit-container {
        padding-top: 1.5rem; 
        padding-bottom: 1.5rem; 
        margin-top: 0.5rem; 
        & .btn {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.31;
            letter-spacing: 1px;
            text-align: center;
            margin: 2rem auto 1rem;
            display: block;
        }
    }
}

//X-Large
@media all and (min-width: 1440px) { 
    .storefront-review-container {
        .btn {
            width: 22rem;
        }
    }
}
//Large
@media all and (min-width: 1024px) and (max-width: 1439px) { 
    .storefront-review-container {
        & .welcome-container {
            & > div.banner-description {
                width: 57.61718%;
                padding: 3.75rem 0 0 6.9375rem; 
                & h1 {
                    padding-right: 17.4375rem; 
                }
                & p {
                    padding-right: 11.25rem; 
                }
            }
        }
        .btn {
            width: 22rem;
        }
    }
}

//Medium
@media all and (min-width: 768px) and (max-width: 1023px) { 
    .storefront-review-container {
        & .welcome-container {
            height: 28rem;
            & > div.banner-description {
                width: 51.5625%;
                padding: 3.75rem 0 0 5.125rem; 
                & h1 {
                    padding-right: 7.25rem; 
                }
                & p {
                    padding-right: 1.125rem; 
                }
            }
        }
        .btn {
            width: 22rem;
        }
    }
}

//Small
@media all and (min-width: 360px) and (max-width: 767px) { 
    .storefront-review-container {
        .review-submit-container {
            padding: 1.6875rem 1.5625rem 1.9375rem 1.5625rem;
            .btn {
                width: 20.3125rem;
            }
        }
        & .welcome-container {
            height: 23.5rem;
            & > div.banner-description {
                width: 61.6%;
                padding: 1.5rem 0 0 1.5625rem; 
                & h1 {
                    padding-right: 0.9375rem; 
                }
                & p {
                    padding-right: 0rem; 
                }
            }
        }
    }
}