.create-account-page
  .checkout-title-banner
      .section
          .banner-title
              p.text-center.account-Title
                  |Create an Account
   .checkout-container
      .checkout-components
        fieldset.form-group
            div.withSocialTitle
                legend
                    span With Social
            .social-signup
                a.btn.btn-social.btn-facebook.col-xs-12(ng-click="socialLogin()")
                    .social-media-icon
                    .social-media-text JOIN WITH FACEBOOK
            .content-seperator
                span.divider
                    p.preCheckoutOR OR
            form(name='form', novalidate='novalidate', form-submit='createCtrl.submitForm()', controller="createCtrl")
              .form-group
                  email-phone(credentials='createCtrl.credentials', is-email='createCtrl.isEmail', title="Username (Email Address)", is-required='createCtrl.required', is-submitted = 'createCtrl.submit')
                  button.button.btn.continue-btn(ng-click = 'createCtrl.navigatetoaccountinfo(form)',type='submit') CONTINUE
