@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";

.create-account-page{
  
.account-Title{
  height: 2.000em;
  font-size: 1.75rem;
  font-weight:$proxima-light;
  line-height: 1.14;
  margin-top: 1em;
}
.divider p{
  padding:0.75em;
}
.continue-btn{
  width: 100%;
  height: 3.45em;
  border-radius: 0.188em;
  background-color: $brand-primary;
  color: $white;
  margin-top: 0.625em;
  }
@media screen and (min-width:360px) and (max-width: 767px){
  .checkout-components {
    margin: 0 auto;
    width: 20.313em;
    }
  }
@media screen and (min-width:768px) and (max-width: 1023px){
&.create-account-page{
  padding-bottom: 1.250em;
  .checkout-container{
    padding: 3% 15%;
  }
}
}
@media screen and (min-width:1024px) and (max-width: 1439px){
&.create-account-page{
  padding-bottom: 6.563em;
  .checkout-title-banner{
    height:16.1875em;
  }
  .checkout-container{
    width: 41.500em;
    margin: auto;
    margin-top: -7.1875em;
    padding: 1% 7.188em;
    }
  }
}
@media screen and (min-width:1440px) {
&.create-account-page{
  padding-bottom: 8.563em;
  }
}
}
