@import "../../../../../src/stylesheets/partials/variables.scss";

.storefront-modal.product-remove-confirmation-popup {
    .modal-dialog {
        height: 29.25rem; 
    }
}
.storefront-modal.page-leave-confirmation-popup {
    .modal-dialog {
        height: 18.375rem; 
    }
}
.app-modal-window.storefront-modal {
    .modal-dialog {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .modal-content {
            .modal-header {
                padding: 1rem;                
                .close-icon {
                    background: url('../../../../../src/assets/images/css/ic-close-circle-copy-3.svg') no-repeat center center;
                    height: 1.5rem;
                    width: 1.5rem;
                }
            }
            .modal-body {
                .heading-section {
                    font-weight: $proxima-light;
	                line-height: 1.3;
	                color: $gray-dark;
                }
                .desc-section {
                    .item-desc {
                        p {
                            font-weight: $proxima-light;
	                        line-height: 1.4;
	                        color: $gray-modest;
                            width: 12.75rem;
                        }
                    }
                    .item-image-section {
                            .delete-img-thumbnail {
                                height: 6rem;
                            }
                        }
                }
            }
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) { 
    .storefront-modal {
        .modal-dialog {
            width: 20.3125rem; 
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .storefront-modal {
        .modal-dialog {
            width: 22.125rem; 
        }
    }
    .app-modal-window.storefront-modal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    .heading-section {
                        width: 20rem;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .storefront-modal{
        .modal-dialog {
            width: 24.625rem; 
        }
    }
}

@media all and (min-width: 1440px){
    .storefront-modal{
        .modal-dialog {
            width: 27.125rem; 
        }
    }
}