@import "../../../../src/stylesheets/partials/variables.scss";

@mixin desc_style {
    font-weight: $proxima-light;
	line-height: 1.38;
	color: $gray-dark;
}

.expired-signup-wrapper,.pwd-reset-expired-signup-wrapper {
    background: linear-gradient(to top, $aqua, $brand-primary);
    .expired-signup-container {
        .expired-signup-content-wrapper {
            background: $white;
            .expired-signup-content-container {
                margin: 0 auto;
                .expired-signup-logo {
                    background: url('../../../../src/assets/images/css/ic-logo.svg') no-repeat center center;
                    height: 1.875rem;
                }
                .expired-signup-broken-link {
                    background: url('../../../../src/assets/images/css/broken-link.svg') no-repeat center center;
                    height: 6rem; 
                    margin: 5.625rem 0 0 0;               
                }
                .brief-heading-section {
                    .brief-heading-section-heading-content {
                        font-size: 4rem;
	                    font-weight: $proxima-thin;
	                    line-height: 0.94;
	                    color: $gray;
                        padding: 1.5rem 0;
                    }
                    .brief-heading-section-desc-content {
                        @include desc_style;
                    }
                }
                .brief-desc-section {
                    max-width: 15.4375rem;
                    margin: 0 auto;
                    padding: 5.625rem 0 0 0;
                    .brief-desc-section-heading-content {
                        padding: 0 1.25rem 0.625rem;
                        text-align: left;
                        .brief-desc-section-heading-content-container {
                            display: table;
                            .brief-desc-section-heading-content-child {
                                display: table-cell;
                                width: 100%;
                                vertical-align: middle;
                                .profile-image {
                                    width: 3.75rem;
                                    height: 3.75rem;
                                    border-radius: 3.75rem;
                                }
                                .profile-contents {
                                    .name-section {
                                        @include desc_style;
                                        font-weight: $proxima-semibold;
	                                    color: $gray-dark-tertiary;
                                    }
                                    .email-section {
                                        @include desc_style;
                                        color: $gray-dark-tertiary;
                                    }
                                }
                            }
                        }
                    }
                    .brief-desc-section-desc-content {
                        @include desc_style;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        background: $white;
        .expired-signup-content-wrapper {
             padding: 5rem 0 11.875rem;
        } 
    }
    @media (min-width: 768px) {
        .expired-signup-container {
            margin: 0 auto;
            width: 33.875rem;
            padding: 2.5rem 0 3.25rem; 
            .expired-signup-content-wrapper { 
               padding: 2.75rem 0 10.625rem;
               .expired-signup-content-container {
                    margin: 0 auto;
                    max-width: 25.625rem;
               }
            }
        }
    }
    @media (min-width: 1024px) {
        .expired-signup-container {
            margin: 0 auto;
            width: 41.5rem;
            padding: 2.5rem 0 2.625rem; 
        }
    }       
}