div.expired-signup-wrapper.text-center
    div.expired-signup-container
        div.expired-signup-content-wrapper
            div.expired-signup-content-container
                div.expired-signup-logo
                div.expired-signup-broken-link
                div.brief-heading-section
                    div.brief-heading-section-heading-content
                        span.text-uppercase OOPS!
                    div.brief-heading-section-desc-content
                        span Sorry. This link has expired.
                div.brief-desc-section
                    div.brief-desc-section-heading-content
                        div.brief-desc-section-heading-content-container
                            div.brief-desc-section-heading-content-child
                                img.profile-image(ng-src="{{ctrl.model.data.imgProfile}}")
                            div.brief-desc-section-heading-content-child
                                div.profile-contents
                                    div.name-section {{ctrl.model.data.firstName}} {{ctrl.model.data.lastName}}
                                    div.email-section {{ctrl.model.data.email}}
                    div.brief-desc-section-desc-content
                        span Please contact the sender of this signup link for a new signup link.

