.landing-page-banner-container
  .landing-page-banner-content
    .landing-page-banner
      .landing-page-banner-overlay(ng-style="{'background-image': 'url({{ctrl.bannerUrl}})'}")
      .col-lg-offset-8.col-lg-4.col-sm-12.no-gutter.landing-page-banner-content-in
        p.small.center LIVING ROOM
        .col-sm-12.landing-page-banner-text.no-gutter
          h2.m-b-0 SHORT DESCRIPTION HEADLINE AREA
          p.m-b-2 Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, optio cumque nihil impedit qu.
          a.btn.btn-primary-outline(href="#") BUTTON TEXT
