@import "../../../../src/stylesheets/partials/variables.scss";
.landing-page-banner-container{
  background-color: $gray-lightest;
  .landing-page-banner-content{
    width: 84.375em;
    height: 37.5em;
    background-color: $white;
    margin: 0 auto;
    .landing-page-banner-overlay{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
    }
    .landing-page-banner-content-in{
      a.btn-primary-outline{
        width: 8.875rem;
        cursor: pointer;
      }
      h2{
        text-transform: uppercase;
      }
      p.small{
        font-weight: $proxima-semibold;
        color: $gray-light;
        line-height: 1.23;
        letter-spacing: 0.5px;
      }
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    padding: 1.5em 0;
    height: 100%;
    overflow: auto;
    .landing-page-banner-content{
      width: 90%;
      min-height: 33.5em;
      height: 33.5em;
    }
    .landing-page-banner-overlay{
      width: 100%;
      height: 13.625em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 2.375em 1.5em;
      background: $white;
      a.btn-primary-outline{
        display: block;
        margin: 0 auto;
      }
      p.small{
        margin-bottom: 2.375rem;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    padding: 1.5em 0;
    height: 100%;
    overflow: auto;
    .landing-page-banner-content{
      width: 90%;
      min-height: 46.875em;
      height: 46.875em;
    }
    .landing-page-banner-overlay{
      width: 100%;
      height: 30.25em;
      position: relative;
    }
    .landing-page-banner-content-in{
      padding: 2.375em 7.75em;
      background: $white;
      a.btn-primary-outline{
        display: block;
        margin: 0 auto;
      }
      p.small{
        margin-bottom: 1.875rem;
      }
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    padding: 2em 0;
    .landing-page-banner-content{
      width: 90%;
      height: 26.75em;
    }
    .landing-page-banner-overlay{
      width: 60%;
      height: 26.75em;
      position: absolute;
    }
    .landing-page-banner-content-in{
      padding-top: 3.375em;
      .landing-page-banner-text{
        padding-left: 1.75em;
        padding-right: 1.6em;
      }
      p.small{
        margin-bottom: 3.75rem;
      }
    }
  }
  @media screen and (min-width: 1440px){
    padding: 2.8125em 0;
    .landing-page-banner-overlay{
      width: 55.75em;
      height: 37.5em;
      min-height: 37.5em;
      position: absolute;
    }
    .landing-page-banner-content-in{
      padding-top: 10.375em;
      .landing-page-banner-text{
        padding-left: 6em;
        padding-right: 4.3125em;
      }
      p.small{
        margin-bottom: 3rem;
      }
    }
  }
}
