.region-title-banner
        .section
            .banner-title
                h1.text-center.check-out-title
                    |Select Your Region


.container-fluid.custom-container-fluid
  .region-container
    .col-lg-4.no-gutter.region-column
      div.region-name(ng-repeat = "data in regionSelector.regionData.region" ng-if = "data.id == 1 || data.id == 2 || data.id == 3 " ) {{data.regionname}}
        div.country-name(ng-repeat = "dataInner in data.countryname") 
          img.cImage(ng-src='{{dataInner.cImage}}')
          span.c-name(ng-click="regionSelector.countryClick();") {{dataInner.name}}

    .col-lg-4.no-gutter.region-column
      div.region-name(ng-repeat = "data in regionSelector.regionData.region" ng-if = "data.id == 4" ) {{data.regionname}}
        div.country-name(ng-repeat = "dataInner in data.countryname") 
          img.cImage(ng-src='{{dataInner.cImage}}')
          span.c-name(ng-click="regionSelector.countryClick();") {{dataInner.name}}

    .col-lg-4.no-gutter.region-column
      div.region-name(ng-repeat = "data in regionSelector.regionData.region" ng-if = "data.id == 5 || data.id == 6 || data.id == 7 || data.id == 8 " ) {{data.regionname}}
        div.country-name(ng-repeat = "dataInner in data.countryname") 
          img.cImage(ng-src='{{dataInner.cImage}}')
          span.c-name(ng-click="regionSelector.countryClick();") {{dataInner.name}}


form#accordionform.accordian-class(novalidate, name="form.formAccordion")
  #accordion.panel-group.businessassociate-accordion-section(role='tablist', aria-multiselectable='false')
      div.panel.panel-default.custom-panel(ng-repeat = "data in regionSelector.regionData.region")
          #overview-heading.panel-heading(role='tab')
            h4.panel-title.custom-panel-title
              button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#overview-{{data.id}}', aria-expanded='false', aria-controls='overview', ng-click="regionSelector.bindModel(data.id);")
                  span {{data.regionname}}

          .panel-collapse.collapse.div-collapseable(role='tabpanel', aria-labelledby='overview-heading', aria-expanded='false' id="overview-{{data.id}}" )
            .panel-body.custom-panel-body
                div()
                    div.country-name(ng-repeat = "dataInner in data.countryname") 
                      img.cImage(ng-src='{{dataInner.cImage}}')
                      span.c-name(ng-click="regionSelector.countryClick();") {{dataInner.name}}