@import "../../../../src/stylesheets/partials/variables.scss";
.region-title-banner {
    height: 15.63rem;
    background: url('../../../../src/assets/images/css/bg-1024@2x.png') center no-repeat;
    text-align: center;
    .section {
        padding-top: 9.375rem;
        color: $white;
        text-align: center;
    }
    .check-out-title {
        line-height: 1.05;
        color: $white;
    }
}

.container-fluid.custom-container-fluid {
    background: $gray-fair;
    padding-left: 4.5rem;
    padding-right: 4.75rem;
    .region-container {
        background: $white;
        height: 79.69rem;
        border: solid 1px $gray-border;
        margin-top: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .region-name {
        margin-top: 2.3125rem;
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 1.42;
        color: $gray-dark;
        padding-left: 2rem;
        padding-right: 1.563rem;
    }
    .region-column {
        height: 100%;
    }
    .region-column:nth-child(1),
    .region-column:nth-child(2) {
        border-right: 1px solid $gray-lighter;
    }
    .country-name {
        padding-top: 10px;
        position: relative;
    }
    .c-name {
        padding-left: 1rem;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $dusk !important;
        cursor: pointer;
        position: absolute;
        top: 1.0625rem;
    }
}

#accordionform.accordian-class {
    background: $gray-fair;
    display: none;
    margin: 0;
    .custom-panel-title {
        button {
            text-transform: initial;
        }
        button.collapsed::after {
            transform: rotate(0deg);
            background: url('../../../../src/assets/images/css/icon-dropdown-circle.svg') center no-repeat;
        }
        button::after {
            transform: rotate(0deg);
            background: url('../../../../src/assets/images/css/icon-dropdown-circle-active.svg') center no-repeat;
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .custom-container-fluid {
        display: none;
    }
    .region-title-banner {
        height: 12.5rem;
        background: url('../../../../src/assets/images/css/bg-375@2x.png') center no-repeat;
        .section {
            padding-top: 7.375rem;
        }
        .check-out-title {
            line-height: 1.13;
            text-align: center;
            color: $white;
        }
    }
    #accordionform.accordian-class {
        display: block;
        padding: 0.5rem 0 1.375em 0;
        #overview-heading {
            background: $white;
            padding: 1.5rem;
        }
        .custom-panel {
            padding: 0;
            background: transparent;
            margin-bottom: 0.5rem;
        }
        .div-collapseable {
            background: $white;
        }
        .custom-panel:last-of-type {
            margin-bottom: 0;
        }
        .custom-panel-title {
            button {
                font-size: 1.5rem;
                line-height: 1.38;
                font-size: 1.5rem;
                font-weight: $proxima-thin;
                line-height: 1.42;
                color: $gray-dark;
            }
        }
        .custom-panel-body {
            padding: 0;
            .country-name {
                padding: 0 1.5rem 1.5rem 1.5rem;
            }
            .c-name {
                padding-left: 1rem;
                cursor: pointer;
                color: $dusk;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .custom-container-fluid {
        display: none;
    }
    .region-title-banner {
        height: 12.5rem;
        background: url('../../../../src/assets/images/css/bg-768@2x.png') center no-repeat;
        .section {
            padding-top: 7.25rem;
        }
        .check-out-title {
            font-size: 1.875rem;
            font-weight: $proxima-thin;
            line-height: 1.13;
            text-align: center;
            color: $white;
        }
    }
    #accordionform.accordian-class {
        display: block;
        padding: 0.75rem 8.438rem 6.938rem 8.438rem;
        #overview-heading {
            background: $white;
        }
        .custom-panel {
            background: transparent;
            padding: 0;
            margin-bottom: 0.75rem;
            border: 1px solid $gray-border;
        }
        .div-collapseable {
            background: $white;
        }
        .custom-panel:last-of-type {
            margin-bottom: 0;
        }
        .custom-panel-title {
            button {
                font-size: 1.5rem;
                line-height: 1.42;
                color: $gray-dark;
                padding: 1.5rem 2.25rem 1.5rem 2rem;
                height: 5.125rem;
                font-weight: $proxima-thin;
                line-height: 1.42;
            }
            button::after {
                top: 1.688rem;
                right: 2.25rem;
            }
        }
        .custom-panel-body {
            padding: 0 2rem 0.75rem 2rem;
            .country-name {
                padding: 0.8125rem 0;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                color: $dusk;
            }
            .c-name {
                padding-left: 0.875rem;
                cursor: pointer;
                color: $dusk;
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .container-fluid.custom-container-fluid {
        padding-left: 17.63rem;
        padding-right: 17.63rem;
    }
}