.modal-dialog
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal', ng-click='ctrl.cancel()')
    .modal-body
      ng-form(name='ctrl.popupForm', novalidate='novalidate')
        fieldset.form-group
          legend
            span Verify Your Phone Number
          label.form-label Enter Confirmation Code
          .form-group
            input.form-control(type='text', name='confirmationCodeInput', ng-model='ctrl.confirmationCodeInput', required='required')
            .error-block(ng-messages='ctrl.popupForm.confirmationCodeInput.$error', ng-show='(ctrl.popupForm.confirmationCodeInput.$touched && ctrl.popupForm.confirmationCodeInput.$error.required || ctrl.invalidData)', ng-class="{'ng-invalid': ctrl.invalidData || ctrl.popupForm.confirmationCodeInput.$error.required }")
              // <div ng-message="required">Please enter Confirmation Code</div>
              div(ng-show='ctrl.invalidData') Please enter proper Confirmation Code
          .form-group
            input#Submit.btn.btn-primary.col-xs-12(type='button', value='Confirm', ng-click='ctrl.confirmCode()')
          .resendConfirmationCode
            span
              a Resend Confirmation Code
