.phone-verification { 
	top: 33% !important;
	.modal .modal-dialog {
        height: 100%;
        margin: auto;
    }
    .modal-content {
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
        border: solid 1px #e3e3e3;
    }
    .modal-header {
        padding: 1em 1em 0;
        border-bottom: 0;
    }
    .modal-header .close {
        width: 25px;
        height: 25px;
        background-image: url(../../../src/assets/images/css/ic-close-circle.png);
        background-size: contain;
        opacity: 1;
    }
    .modal-body {
        padding: 0 0.5em;
        margin: 0;
    }
    .modal-title {
        font-size: 1.35rem;
        line-height: 1.27;
        text-align: center;
        text-transform: none;
    }
}