.container-fluid.no-gutter.account-creation.account-completion
  .row.bg-image
    .complete-account.col-sm-12.col-md-6.col-md-offset-3.text-center
      span.col-sm-12.col-md-12.complete-text Let's complete your account
  .row.col-lg-6.col-lg-offset-2.account-container
    .signup-components
      .country-section
        form(name='ctrl.formTab2', novalidate='novalidate', form-submit='ctrl.submitForm(true,"tab2")', controller="ctrl")
          .form-group
            email-phone(credentials='ctrl.credentials', is-email ='ctrl.isEmail', title="Username (Email Address)", is-required='ctrl.required', is-submitted = 'ctrl.formTab2.$submitted')
            password-pattern(credentials='ctrl.credentials' , is-required='ctrl.required', is-submitted = 'ctrl.formTab2.$submitted')
            .form-group.m-a-0
              input#submit.btn.btn-primary.full-width(type='Submit', value='SUBMIT')
            .form-group.m-a-0
              input#cancel.btn.btn-primary-outline.full-width(type='button', value='CANCEL', ng-click='ctrl.cancel()')
