.container-fluid.no-gutter.my-storefront-overview
  .row.overview-banner.reset
  .steps-text
    .outer-container
      .inner-container
        span 4
        | EASY STEPS
  .my-store-setup
    h1 MY STORE SET UP
    .dash
    .desc-text
      | In just 4 steps set up your storefront of products you want to sell or use NuSkin's recommendations to get started even faster.
    .setup-time 10 MIN
  .triangle-with-shadow
  .setup-web-address
    h5 To begin choose a web address.
    form(name='form', novalidate='novalidate', ng-submit='ctrl.checkSubDomain()')
      .form-group
        input#webAddress.form-control(type='text', name='webAddress', ng-model='ctrl.webAddress', pattern='[A-Za-z0-9](?:[A-Za-z0-9\-]{0,61}[A-Za-z0-9])?', ng-class="{'ng-touched':form.$submitted, 'ng-invalid': (ctrl.showSubDomainMsg && !ctrl.isSubDomainAvailable) || ((form.webAddress.$touched && form.webAddress.$error.required) || (form.webAddress.$dirty && form.webAddress.$error.required) || (form.$submitted  && form.webAddress.$error.required))}" required)
        .web-url.form-control .nuskin.com
      .availability-msg.error(ng-if='ctrl.showSubDomainMsg && !ctrl.isSubDomainAvailable && !((form.webAddress.$touched && form.webAddress.$error.required) || (form.webAddress.$dirty && form.webAddress.$error.required) || (form.$submitted  && form.webAddress.$error.required))')
        | Sorry this domain name is not available. Please try again by entering another name.
      .availability-msg.error(ng-if='(form.webAddress.$touched && form.webAddress.$error.required) || (form.webAddress.$dirty && form.webAddress.$error.required) || (form.$submitted  && form.webAddress.$error.required)')
        | Please enter the value for this field
      button.btn.btn-primary(type='submit') CREATE & START CONFIGURATION
