@import "../../../../../src/stylesheets/partials/variables.scss";

.my-storefront-overview {
    background-color: $white;
    
    .reset {
        margin: 0;
        padding: 0;
    }
    .overview-banner {
        background: url(../../../../../src/assets/images/content/my-storefront-overview.png) no-repeat;
        background-size: cover;
    }
    .steps-text {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        width: 8.75em;
        height: 8.75em;
        margin: 0 auto;
        display: table;
        margin-top: -4.375em;
        .outer-container {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            width: 7.5em;
            height: 7.5em;
            margin: 0 auto;
            top: 10px;
            position: relative;
            .inner-container {
                width: 6.25rem;
                height: 6.25rem;
                margin: auto;
                top: 10px;
                left: 10px;
                position: relative;
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                text-align: center;
                color: $gray;
                background: $white;
                border-radius: 50%;
                display: table-cell;
                vertical-align: middle;
                span {
                    display: block;
                    font-size: 1.875rem;
                    line-height: initial;
                    font-family: $proxima-condensed;
                }
            }
        }
        
    }
    
    .my-store-setup {
        overflow: auto;
        box-shadow: 0 3px 4px 0 rgba(176, 176, 176, 0.4);
        h1{
            width: 20.3125rem;
            font-size: 1.375rem;
            font-weight: $proxima-thin;
            line-height: 0.91;
            text-align: center;
            color: $gray-dark;
        }
        .dash {
            margin: auto;
            width: 3.125em;
            height: 3px;
            background-color: $aqua;
        }
        .desc-text {
            width: 19.5rem;
            margin: 2em auto 1em;
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.5;
            text-align: center;
            color: $gray-dark;
        }
        .setup-time {
            background: url(../../../../../src/assets/images/css/clock-small.png) no-repeat left;
            background-size: 1.25rem;
            padding-left: 2em;
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1.54;
            color: $gray;
            text-align: center;
            display: table;
            margin: 0 auto 1.5rem;
        }
    }
    .triangle-with-shadow {
        width: 1.625em;
        height: 1em;
        position: relative;
        margin: -1px auto 0;
        overflow: hidden;
    }
    .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 1.125em;
        height: 1.125em;
        background: $white;
        transform: rotate(45deg);
        top: -8px;
        left: 4px;
        box-shadow: 0 3px 4px 0 rgba(176, 176, 176, 0.4);
    }
    .setup-web-address {
        h5 {
            width: 19.5rem;
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1.85;
            text-align: center;
            color: $gray-dark;
            margin: 1.5rem auto 1rem;
            text-transform: none;
        }
        form {
            margin: 0 auto 3em;
            overflow: auto;
            .form-group {
                margin: 0;
                input {
                    float: left;
                    font-size: 1rem;
                    line-height: 1.5;
                    padding: 0.625em 1em;
                    margin: 0;
                }
                .web-url {
                    background: $gray-lightest;
                    margin-bottom: 0;
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.5;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .availability-msg {
                margin: 1.5rem auto 0;
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                text-align: center;
            }
            .availability-msg.error {
                width: 15.5rem;
                color: $brand-danger;
                letter-spacing: -0.1px;
            }
            .btn {
                margin: 2rem auto 0;
            }
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .my-storefront-overview{
        .overview-banner {
            height: 15.625em;
        }
        .my-store-setup {
            h1{
                margin: 0.25em auto 0.5em;
            }
        }
        .setup-web-address {
            form {
                width: 20.3125rem;
                input {
                    width: 13.3125em;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1023px){
    .my-storefront-overview{
        .overview-banner {
            height: 25em;
            background-position: 50% 15%;
        }
        .my-store-setup {
            h1{
                margin: 0.5rem auto 0.5rem;
            }
        }
        .setup-web-address {
            form {
                width: 22rem;
                input {
                    width: 15em;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px){ 
    .my-storefront-overview{
        .overview-banner {
            height: 29.125em;
            background-position: 50% 30%;
        }
        .my-store-setup {
            h1{
                margin: 2rem auto 0.5rem;
            }
        }
        .setup-web-address {
            form {
                width: 29.5rem;
                input {
                    width: 21.25em;
                }
            }
        }
    }
}

@media screen and (min-width:1440px){
    .my-storefront-overview{
        .overview-banner {
            height: 34.375em;
            background-position: 50% 20%;
        }
        .my-store-setup {
            h1{
                margin: 2rem auto 0.5rem;
            }
        }
        .setup-web-address {
            form {
                width: 27rem;
                input {
                    width: 19.5em;
                }
            }
        }
    }
}