div.modal-header
    div.clearfix
        div.pull-right.close-icon.pointer(ng-click="ctrl.closeAndReset();")
div.modal-body
    div.heading-section.m-t-1.p-b-3.text-center.center-section
        span Are you sure you want to remove this product from your {{ctrl.parentPageName}}?
    div.desc-section
        div.item-image-section.center-section
            img.delete-img-thumbnail(ng-src="{{ctrl.toBeDeletedProductData.image}}")
        div.item-desc.center-section.p-b-2
            p.small.text-center {{ctrl.toBeDeletedProductData.name}}

    div.action-section
        div
            button.btn.btn-primary(ng-click="ctrl.removeProduct()")
                span.text-uppercase YES, REMOVE
        div
            button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.closeAndReset()")
                span.text-uppercase NO, DON’T REMOVE 