.container-fluid.no-gutter.account-linking(ng-if='linksocialaccountctrl.isLinked && !linksocialaccountctrl.linkingCompleted')
  .row.header.sign-up-header-linking.inverse.customer-header
    .pointer.p-l-1.login-block(data-toggle='modal', data-target='#exit-popup', data-backdrop='static' ,ng-click='linksocialaccountctrl.redirectToLogin()')
      span.text-white LOGIN
    .imgwrapper
      .avatar-block
        img.avatar(ng-src='{{linksocialaccountctrl.userData.profileImg}}', alt='', width='100')
      p.profile-name  {{linksocialaccountctrl.userData.firstName}} &nbsp {{linksocialaccountctrl.userData.lastName}}



  .account-container.row
    .linking-components
      .text-box1
        p Great!
      .text-box2
        p Login to Nu Skin to link your Facebook profile
      .linking-section
        form(name='form', novalidate='novalidate', form-submit='linksocialaccountctrl.submitlogin()', controller="linksocialaccountctrl")
          .username-email
            p.username-title Username
            p.display-email {{linksocialaccountctrl.userData.email}}
          div.form-group
              label.form-label Password
              input#password.form-control(type='password' name='password' ng-model='linksocialaccountctrl.password' ng-change='linksocialaccountctrl.enterpassword(linksocialaccountctrl.password)' ng-class="{'ng-touched': linksocialaccountctrl.clickedsignin , 'ng-invalid': linksocialaccountctrl.passwordempty }")
              span.error-block(ng-show="(linksocialaccountctrl.clickedsignin && linksocialaccountctrl.passwordempty)") Oops, please check this field
              a.btn.btn-link.forgetlink.align-right(ng-click='linksocialaccountctrl.redirectforgotpassword()') Forgot Password
          div
              input#Signin.btn.btn-primary(type='submit' value='CONTINUE LINKING ACCOUNT' ng-click='linksocialaccountctrl.submitlogin()')
          div.form-group.last-block-linked
              input.continue-without-facebook.btn.btn-block.btn-primary-outline(type='button' value='CONTINUE WITHOUT FACEBOOK' ng-click='linksocialaccountctrl.redirectsignup()')

.container-fluid.no-gutter.account-linking(ng-if='!linksocialaccountctrl.isLinked && !linksocialaccountctrl.linkingCompleted')
  .row.account-container-unlinked
    .linking-components
      .pointer.p-l-1.login-block(data-toggle='modal', data-target='#exit-popup', data-backdrop='static', ng-click='linksocialaccountctrl.redirectToLogin()')
        .arrow-block
        span.text-white LOGIN
      .message-box-1
        p We couldn't find a Nu Skin Account that matches your Facebook profile
      .message-box-2
        p No need to worry.Login to Nu Skin to link your Facebook profile

      .linking-section
        form(name='form', novalidate='novalidate', form-submit='linksocialaccountctrl.saveUserCredentials()', controller="linksocialaccountctrl")
          email-phone(credentials='linksocialaccountctrl.credentials', is-email-or-phone ='linksocialaccountctrl.isEmail', title="Username (Email or Mobile)", is-required='linksocialaccountctrl.required')
          div.form-group
            label.form-label Password
            input#password.form-control(type='password' name='password' ng-model='linksocialaccountctrl.password' ng-change='linksocialaccountctrl.enterpassword(linksocialaccountctrl.password)' ng-class="{'ng-touched': linksocialaccountctrl.clickedsignin , 'ng-invalid': linksocialaccountctrl.passwordempty }")
            span.error-block(ng-show="(linksocialaccountctrl.clickedsignin && linksocialaccountctrl.passwordempty)") Oops, please check this field
            a.btn.btn-link.forgetlink.align-right(ng-click='linksocialaccountctrl.redirectforgotpassword()') Forgot Password
          div.checkbox.form-group
            input(type='checkbox' value='rememberme' name='rememberme' id="rememberme")
            label.form-label Remember me
          .form-group(style='margin-top:24px')
            input#submit.btn.btn-primary.full-width(type='Submit', value='SIGN IN AND LINK ACCOUNTS',ng-click='linksocialaccountctrl.submitlogin()')
          .message-box-3
            p Don't have an Nu skin account ?
          .form-group.last-block-unlinked
            input#cancel.btn.btn-primary-outline.full-width(type='button', value='SIGN UP', ng-click='linksocialaccountctrl.redirectsignup()')
