@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";
@import "../../../../src/signup/components/signup/signup.scss";

.account-linking {

	.form-group{
		label{
			opacity: 0.8;
			font-size: 0.875em;
			font-weight: 400;
			line-height: 1.57;
			letter-spacing: -0.1px;
			color: $gray-black;
		}
		.rememberme{
			font-size: 14px;
 			font-weight: 300;
 			color: $gray-faded;
		}
	}
	.sign-up-header-linking {
    background: url(../../../../src/assets/images/css/prism-banner.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    padding: 0 0 0;
	}
	.align-right{
		float: right;
	}
	.bg-image {
		height: 16.375em;
		background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
	}

	.full-width {
		width: 100%;
	}
	.complete-account{
		/*width: 10em;
	    height: 2em;
	    ;*/
	    font-size: 1.81rem;
	    font-weight: 300;
	    line-height: 1.07;
	    color: $white;
	}
	.account-container {
		background: $white;
		width: 100%;
		margin: 0 auto;
		.form-group{
			.continue-without-facebook{
				margin-bottom: 2.318em;
			}
		}
		.linking-components{
			margin: auto;
			.text-box1{
				width: 20.25em;
				p{
					width: 20.25em;
	  			height: 1.75em;
					color: $gray-dark;
	  			font-size: 1.5em;
	  			font-weight: 100;
	  			line-height: 1.17;
				}
			}
			.text-box2{
				width: 20.25em;
				p{
					width: 20.25em;
 					height: 1.375em;
 					font-size: 1em;
 					font-weight: 300;
 					line-height: 1.38;
 					color: $gray-darker;
				}
			}
			.username-email{
				margin-top: 2em;
					.username-title {
						margin-top: 0px;
						margin-bottom: 0px;
						padding-top: 0px;
						width: 17.25;
					  height: 1.375em;
					  opacity: 0.8;
					  font-size: 0.875em;
					  font-weight: 400;
					  line-height: 1.57;
					  letter-spacing: -0.1px;
					 color: $gray-black;
					}
					.display-email {
						margin-top: 0px;
						padding-top: 0px;
						width: 18.925em;
					  height: 1.375em;
						;
					  font-size: 0.875em;
					  font-weight: 600;
					  line-height: 1.57;
					}

			}
		}
	}
	.account-container-unlinked {
		background: $white;
		width: 100%;
		margin: 0 auto;

		.form-group{
			.continue-without-facebook{
				margin-bottom: 2.3187em;
			}
		}
		.linking-components{
			.login-block{
				.arrow-block{
					display: inline-block;
					background: url(../../../../src/assets/images/css/ic-arrow-left-copy-blue.png) no-repeat left center;
					width: 5px;
  				height: 10px;
					margin-left: -8px;

				}
				span{
					display: inline-block;
					margin-left: 10px;
				}
				display: block;
				padding-top: 2.2937em;
				font-size: 11px;
				font-weight: 600;
				margin-left: -1.25em;
				line-height: 1;
				color: $brand-primary;
			}
			margin: auto;
			.linking-section{
				margin-top: 3.2937em;
			}
			.message-box-1{
				width: 27.125em;
				margin-top: 1.525em;
				p{
					width: 27.125em;
 					height: 2.75em;
 					;
 					font-size: 1em;
 					font-weight: 300;
 					line-height: 1.38;
 					color: $gray-darker;
				}
			}
			.message-box-2{
				width: 27.125em;
				margin-top: 9px;
				p{
					width: 24.6625em;
  				height: 1.25em;
				  ;
  				font-size: 13px;
  				font-weight: 300;
  				line-height: 1.54;
				  color: $gray-darker;
				}
			}
			.message-box-3{
				width: 17.25em;
				margin-top: 2.0625em;
				p{
					width: 17.25em;
					height: 1.375em;
					;
					font-size: 1em;
					font-weight: 300;
					line-height: 1.38;
					color: $gray-darker;
					}
			}

		}
	}


	.topbanner {
		background-color: $fern;
		width:100%;
		height:2.75em;
		font-weight: 300;
	    font-size:1rem;
		line-height: 1.4;
		color: $white;
		padding: .5em;
		margin-bottom: 2em;
	    text-align:center;
	}
	.imgwrapper {
		margin-top:  2.112em;
		.avatar-block{
			width: 3.75em;
			height: 3.75em;
			margin: auto;
		}
		p{
			font-size: 1.0625em;
			margin-top: 4px;
		}

		text-align: center;
	}
	.sign-up-header-linking{
		align-items: initial;
		.login-block{
			background: url(../../../../src/assets/images/css/ic-arrow-left-copy.png) no-repeat left center;
			position: absolute;
			margin-top: 2.30625em;
			margin-left: 3.90em;
			font-size: 11px;
	  	font-weight: 600;
	  	line-height: 1;
		}
	}


	.form-group {
    	margin-bottom: 1.25em;
	}
	.email-pic {
		background: url(../../../../src/assets/images/css/email-pic.png) center no-repeat;
	}
	.gray-lighter {
		color: $gray-lighter;
		font-size: 0.875em !important;
	}
	.error-block {
		color: $brand-danger;
		font-size: 1em;
	}

	@media screen and (min-width: 1024px) {
		.sign-up-header-linking {
			min-height:16.375em;
		}
		.account-container {

			padding-top:0;
			width: 41.5em;
			margin: 0 auto;
			margin-top: -7.125em;
			}
			.account-container-unlinked {

				padding-top:0;
				width: 41.5em;
				margin: 0 auto;
				margin-top: 2.25em;
				}
			.linking-components{
				.text-box1{
					padding-top:  2.25em;
				}
			}
			.last-block-unlinked{
				margin-bottom: 2.25em;
			}
			.last-block-linked{
				margin-bottom: 2.25em;
			}
	}
	@media screen and (max-width: 1023px ) and (min-width: 768px) {
		.sign-up-header-linking {
			min-height:7.75em;
		}
		.linking-components{
			.text-box1{
				padding-top:  1.5625em;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.sign-up-header-linking {
			min-height:8.3125em;
		}
		.linking-components{
			width: 20.25em;

			.text-box1{
				padding-top:  2em;
			}
		}
		.account-container-unlinked{
			.linking-components{
				.linking-section{
					margin-top: 2em;
				}
				.message-box-1{
					width: 19.0625em;
					height: 2.75em;
					p{
						width: 19.0625em;
						height: 2.75em;
					}
				}
				.message-box-2{
					width: 19.0625em;
					height: 2.5em;
					p{
						width: 19.0625em;
						height: 2.5em;
					}
				}

			}

		}

	}
	@media screen and (min-width:768px){
		.linking-components{
			width: 27.125em;
		}
	}
	@media screen and (max-width:1023px){
		.account-container-unlinked{
			.linking-components{
				.login-block{
					margin-top: 1.5262em;
				}
			}
		}
		.last-block-unlinked{
			margin-bottom: 4.4375em;
		}
		.last-block-linked{
			margin-bottom: 4.4375em;
		}
		.imgwrapper{
			margin-top: 1.406em
		}
	}
}
