@import "../../../../../src/stylesheets/partials/variables";
.psv-container {
    margin-left: -5px;
}
.shopping-carousel{
  background: $white;
  .separator{
    padding: 0 0.5em;
  }
  .slick-slider{
    .slick-slide{
      padding: 0;
      img{
        height: 10.875rem;
      }
    }
  }
  .star-big{
    margin: 0 auto 0.25rem;
  }
}

.carousel-content-left-text {
    display: inline-block;
    width: 100%;
    padding-right: 0.5em;
    word-wrap: break-word;
}
.carousel-content-right-text {
    display: inline-block;
    word-wrap: break-word;
}

.p-l-8px{
  padding-left: 8px;
}

.carousel-border {
    border-left: 1px solid $gray;
}

.shopping-carousel-heading {
    margin: 25px 0;
    font-family: $font-family-sans-serif;
    font-weight: $proxima-thin;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: $gray-dark;
}

.shopping-carousel-rating {
    font-size: 0.8125rem;
    font-weight: $proxima-semibold;
    color: $gray;
    line-height: 1.5rem;
    font-family: $font-family-sans-serif;
}

.shopping-carousel-line {
    font-weight: $proxima-light;
    font-size: 1rem;
    color: $gray;
    font-family: $font-family-sans-serif;
    margin-top: 4px;
}

.shopping-carousel-itemname {
    font-size: 1rem;
    color: $gray-dark;
    line-height: 1.5rem;
    font-weight: $proxima-light;
    text-decoration: none;
    cursor: pointer;
}

.shopping-carousel-itemname:hover {
  color: $gray-dark;
}

.shopping-carousel .carousel-secondary {
    margin-bottom: 0px;
    .rating-text {
        margin-top: -2px;
    }
    a{
      outline: none;
    }
}

.add-to-cart-button.btn-primary {
    width: 5.75rem;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 375px){
  .carousel-row-margin{
    margin: 0 -1.9375rem;
  }
}
