.shopping-carousel.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .col-lg-12.col-md-12.col-sm-12.top-buffer.text-center
        h2.shopping-carousel-heading Products that you might also love
    .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.col-xs-10.col-xs-offset-1
      secondary-carousel(product-data="ctrl.images" slick-type="ctrl.slickType" slick-config="ctrl.slickSecondaryConfig")
    scroll-to-top
