@import "../../../../src/stylesheets/partials/variables.scss";
.checkout-guest-and-distributor {
    background-color: $white;
    #accordionform.accordionForm {
        background: none;
        padding: 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        box-shadow: 0 -0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.15);
        z-index: 20;
        .shopping-cart-top {
            margin-top: 0.625rem;
        }
        .panel {
            padding-right: 1.6875rem;
            padding-left: 1.375rem;
        }
        .panel-title button.collapsed::after {
            transform: rotate(0);
        }
        .panel-title button::after {
            transform: rotate(180deg);
        }
    }
    #accordionform.accordionForm .panel:last-of-type {
        margin-bottom: 0;
    }
    #accordionform.accordionForm .panel-title button::after {
        left: 0;
    }
    .accordionForm {
        .panel-title button {
            z-index: 10;
        }
        .form {
            margin: 0;
        }
    }
    .pullUpLabel {
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.31;
        color: $gray-black;
        margin-top: 0.3125rem;
    }
    .pullUpData {
        font-size: 1.5rem;
        font-weight: $proxima-thin;
        line-height: 1.42;
        text-align: right;
        color: $gray-black;
        padding-right: 0.9375rem;
    }
    .fullWidth {
        width: 100%;
    }
    .underline {
        text-decoration: underline;
    }
    .hide {
        display: none;
    }
    .content {
        padding-bottom: 1.25rem;
    }
    .pointer {
        cursor: pointer;
    }
    .relative {
        position: relative;
    }
    .section-separator {
        border: solid 0.0625rem $gray-border;
        margin: 0;
        margin-bottom: 1rem;
    }
    .section-heading {
        z-index: 1;
        text-align: center;
    }
    .section-heading::before {
        border-top: 0.125rem solid $blue-link-water;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 0.75rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .section-heading span {
        background: $white;
        padding: 0 0.625rem;
        color: $gray-black;
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1;
        letter-spacing: 0.0375rem;
    }
    .section-content {
        font-size: 0.8125rem;
        font-weight: 300;
        text-align: center;
        color: $gray;
    }
    .shipping-section,
    .delivery-section,
    .payment-method-section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        .delivery-label{
          cursor: default;
        }
        .billing-section {
            .ship-details-wrapper {
                padding-left: 0;
                .same-address-ship-checkbox {
                    width: 1rem;
                    margin: 0.1875rem 0 0 0.125rem;
                }
            }
        }
    }
    .payment-method-section {
        input.cvvText[type="tel"] {
            -webkit-text-security: disc;
            -moz-text-security: disc;
        }
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .font-size-13 {
        font-size: 0.8125rem;
    }
    .text-transform-none {
        text-transform: none;
    }
    .text-label {
        color: $gray-dull;
    }
    .m-t-2rem {
        margin-top: 2rem;
    }
    .include-section {
        .label-content {
            max-width: 7.5rem;
            text-align: right;
        }
        .font-size-24 {
            font-size: 1.5rem;
        }
        .promocode-section {
            margin-top: 0;
        }
        .promo-code-section div:first-child {
            margin-right: 0.4375rem;
        }
        .promo-code-button {
            width: 5.75rem;
        }
        .small-heading {
            font-size: 0.8125rem;
            font-weight: 600;
            letter-spacing: 0.03125rem;
        }
        .promo-code-brief-label {
            margin: -0.3125rem 0 0.75rem;
        }
    }
    .popup-modal-section {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        .modal-body {
            padding-bottom: 0.625rem;
        }
        .modal-close-icon-section {
            .modal-close-icon {
                background: url('../../../../src/assets/images/css/ic-close-circle.png') no-repeat right center;
                width: 2rem;
                height: 2rem;
            }
        }
    }
    .checkout-container {
        .distributor-profile-image {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            float: left;
        }
        .banner-text {
            font-size: 1.125rem;
            font-weight: $proxima-light;
            display: inline-block;
            width: 8.375em;
            vertical-align: middle;
            float: left;
            margin-left: 1em;
        }
        .text-white {
            color: $white;
        }
        .confirmation-logo {
            background: url('../../../../src/assets/images/css/ic-package.png') no-repeat center top;
            padding-top: 1.25rem;
            a{
              color: $white;
            }
        }
        .text-gray-dull {
            color: $gray-dull
        }
        .testlabel::after {
            margin: 0.3125rem;
        }
        .navigate-back {
            background: url('../../../../src/assets/images/css/ic-arrow-left-copy.png') no-repeat left center;
        }
        .testlabel::before {
            margin: 0.3125rem;
        }
        .delivery-label {
            .pullUpLabel,
            .section-content {
                padding-left: 1.75rem;
            }
        }
        .description-text-section {
            padding-bottom: 1.5em;
        }
        .logo-section {
            background: url('./../../../../src/assets/images/css/ic-brand-logo.svg') no-repeat center 0;
            padding-top: 2.5rem;
        }
        .shippingAddress-logo {
            background: url(../../../../src/assets/images/css/ic-package-copy-4.png) #1cd8d2 no-repeat center center;
            border: 0.0625rem solid $brand-green
        }
        .shippingAddress-logo-done {
            background: url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat center center, url(../../../../src/assets/images/css/ic-package-copy-4.png) no-repeat center center;
        }
        .deliveryOptions-logo {
            background: url(../../../../src/assets/images/css/group-5.png) #008ab0 no-repeat center center;
        }
        .deliveryOptions-logo-active {
            background: url(../../../../src/assets/images/css/ic-delivery-active.png) #1cd8d2 no-repeat center center;
            border: 0.0625rem solid $brand-green
        }
        .deliveryOptions-logo-done {
            background: url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat center center, url(../../../../src/assets/images/css/group-5.png) no-repeat center center;
        }
        .paymentMethod-logo {
            background: url(../../../../src/assets/images/css/group-7.png) #008ab0 no-repeat center center;
        }
        .paymentMethod-logo-active {
            background: url(../../../../src/assets/images/css/ic-payment-active.png) #1cd8d2 no-repeat center center;
           border: 0.0625rem solid $brand-green
        }
        .paymentMethod-logo-done {
            background: url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat center center, url(../../../../src/assets/images/css/group-7.png) no-repeat center center;
        }
        .orderReview-logo {
            background: url(../../../../src/assets/images/css/group-9.png) #008ab0 no-repeat center center;
        }
        .orderReview-logo-active {
            background: url(../../../../src/assets/images/css/group9-sm.png) #1cd8d2 no-repeat center center;
            border: 0.0625rem solid $brand-green
        }
        .label-section {
            font-size: 0.8125rem;
            font-weight: 600;
            line-height: 0.92;
        }
        .state-select::after {
            top: 1.25rem;
        }
        .form {
            margin: 0;
        }
        .m-b-0_5 {
            margin-bottom: .5rem;
        }
        .m-t-0_5 {
            margin-top: .5rem;
        }
        .main-section {
            display: table;
            margin: 0 auto;
        }
        .order-id {
            font-size: 1.5rem;
        }
        .order-id:hover {
            border-bottom: 1px solid $white;
        }
        .color-aqua {
            color: $aqua;
        }
        .displayTable {
            display: table;
        }
        .tick-completed {
            position: absolute;
            left: 0;
            top: 0;
        }
        .right-section {
            max-width: 24.625rem;
            min-width: 24.625rem;
        }
        .backgroundWhite {
            background: $white;
        }
        .actionImage {
            margin-top: -0.1875rem;
        }
        .m-r-0.3125em {
            margin-right: 0.3125rem;
        }
        .p-l-0.3125em {
            padding-left: 0.3125rem;
        }
        .promoCode {
            color: $gray-dark;
            font-size: 1rem;
            font-weight: $proxima-light;
        }
        .order-section {
            .order-confirmation-banner {
                width: auto;
                height: 16.25rem;
                max-height: 16.25rem;
                z-index: 0;
                > div {
                    z-index: 1;
                }
                .order-top-section {
                    font-weight: $proxima-thin;
                    padding: 2rem 1.625rem 2.3125rem;
                    .header {
                        font-size: 2.375rem;
                        margin: 1.125rem 0 -0.3125rem;
                        line-height: 0.89;
                    }
                    .header + p {
                        font-weight: $proxima-light;
                        line-height: 1.31;
                        margin: 0 0 0.5rem;
                    }
                }
            }
            .action-section {
                height: 5.75rem;
                max-height: 5.75rem;
                padding-top: 1.5rem;
                padding-right: 1.5rem;
                background: $white;
                button {
                    height: 2.75rem;
                }
            }
            .separator-section-break {
                height: 0.3125rem;
                background: $gray-fair;
            }
            .info-section {
                .text-section {
                    font-size: 1.375rem;
                    font-weight: $proxima-thin;
                    line-height: 0.95;
                    color: $gray;
                }
                .bullet-section {
                    .bullet {
                        width: 1.0625rem;
                        height: 1.0625rem;
                        border-radius: 1.0625rem;
                        border: solid 0.125rem rgba(106, 255, 250, 0.8);
                    }
                    p.info-header {
                        font-size: 1.5rem;
                    }
                    background: $blue-light;
                    .header-msg {
                        font-size: 1.375rem;
                        font-weight: $proxima-thin;
                        line-height: 1.18;
                        margin-bottom: 1.6875rem;
                    }
                    .info-header-button-section {
                        margin-top: 1.0625rem;
                        button {
                            border-color: $white;
                            color: $white;
                            line-height: 1.31;
                            letter-spacing: 0.0625rem;
                        }
                    }
                    .header-contents {
                        margin: 0 0.8125rem;
                        .header-contents-data {
                            width: 17rem;
                        }
                    }
                }
            }
            .order-banner-image {
                background-image: url('../../../../src/assets/images/css/order-confirm-banner.jpg');
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
            }
        }
        .account-text-section {
            .account-banner-image {
                background-size: 100%;
                background-color: $white;
            }
            .account-text-container {
                height: 17.25em;
                background-repeat: no-repeat;
                width: auto;
                z-index: 0;
                background-size: cover;
                > div {
                    z-index: 1;
                    height: 15.625rem;
                    max-height: 15.625rem;
                }
                .account-text-wrapper {
                    font-weight: $proxima-thin;
                    padding-top: 1.75em;
                    .account-header {
                        font-size: 1.125rem;
                        font-weight: $proxima-light;
                    }
                    .account-header + p {
                        line-height: 1.31;
                        font-size: 0.8125em;
                        font-weight: $proxima-thin;
                        text-align: left;
                    }
                    .author-text {
                        text-align: right;
                        font-weight: $proxima-thin;
                        font-size: 0.8125rem;
                        font-style: italic;
                    }
                }
            }
        }
        form.form[name="formPayment"],
        .shopping-cart-top,
        .top-section {
            margin-top: 2.125rem;
        }
        .top-section {
            margin-top: 1.375rem;
        }
        .payment-section,
        .payment-section-validated {
            background: url('../../../../src/assets/images/css/ic-blank-card.svg') no-repeat;
            width: auto;
            max-width: 20.8125rem;
            padding-top: 1.375rem;
            height: 12.375rem;
            .form-control {
                max-height: 1.25rem;
                margin-bottom: 0;
            }
            .credit-card-number {
                div {
                    width: 4.25rem;
                    margin-right: 0.3125rem;
                }
            }
            .credit-card-number-label {
                margin-top: 0.625rem;
            }
            .last-section {
                margin-top: 0.625rem;
                > div {
                    width: 30%;
                    margin-right: 0.3125rem;
                }
            }
        }
        .payment-section-validated {
            padding-left: 1.125rem;
            padding-left: 1.125rem;
            .name-section > label {
                margin-right: 4.6875rem;
                line-height: 1;
            }
            .credit-card-number {
                font-weight: 300;
                line-height: 1.31;
                letter-spacing: 0.125rem;
                margin-top: 0.3125rem;
            }
            .last-section {
                margin-top: 0.625rem;
                > div {
                    width: 30%;
                    margin-right: 0.3125rem;
                }
            }
        }
        .payment-section, .payment-section-validated.visa, .payment-section-validated.mastercard, .payment-section-validated.discover, .payment-section-validated.amex, .payment-section-validated.other {
            background-position: initial;
        }
        .checkout-title-container {
            div.section {
                height: auto;
                max-height: 16.25rem;
            }
            .logo-section {
                margin-top: -1.25rem;
            }
            .steps {
                height: 3.6875rem;
                background-color: rgba(0, 0, 0, 0.15);
                .actionMenu > div {
                    margin: 0.625rem 1.5625rem 0 0;
                    width: 2.25rem;
                    height: 2.25rem;
                    background-color: $brand-primary;
                    border-radius: 1.25rem;
                    padding: 0.1875rem 0;
                }
                .actionMenu > div.active {
                    background-color: $aqua;
                }
            }
            .step-indicator {
                height: 2rem;
                background-color: $brand-green;
                box-shadow: 0 -0.0625rem 0.3125rem 0 rgba(0, 102, 131, 0.2);
                border: solid 0.0625rem $white;
            }
        }
    }
    .remove-promo-code{
      height: inherit;
      display: inherit;
      margin: 0;
        width: 1rem;
    }
    span.font-weight-bold:hover{
      text-decoration: underline;
    }
    .overlay-checkout{
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
}
@media (min-width: 1440px) {
    // .checkout-guest-and-distributor .checkout-container .account-text-section .account-banner-image {
    //     background-image: url('../../../../src/assets/images/css/background-blue-bubble-XL@1x.png');
    // }
    .checkout-guest-and-distributor {
        .checkout-container {
            .left-section {
                min-width: 34.25rem;
                max-width: 34.25rem;
                margin-right: 1.5rem;
            }
            .order-section {
                .info-section {
                    .text-section {
                        width: 31.4375rem;
                        max-width: 31.4375rem;
                        padding: 2.25rem 3.125rem 9.4375rem 3.3125rem;
                    }
                    .bullet-section {
                        width: 31.375rem;
                        max-width: 31.375rem;
                        .header-contents-data {
                            margin-top: 0;
                            padding-left: 1.625rem;
                            line-height: 1;
                            padding-bottom: 0;
                        }
                        .bullet {
                            width: 1.0625rem;
                            height: 1.0625rem;
                            border-radius: 1.0625rem;
                            border: solid 0.125rem rgba(106, 255, 250, 0.8);
                            margin-right: -0.875rem;
                        }
                    }
                }
            }
        }
        .description-text-section {
            margin: 0 36.875em 0 34.5625em;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .checkout-guest-and-distributor {
        .button {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
        }
        // .account-text-section {
        //     .account-banner-image {
        //         background-image: url('../../../../src/assets/images/css/background-blue-bubble-L@1x.png');
        //     }
        // }
        .description-text-section {
            margin: 0 23.125em;
        }
    }
    // .checkout-guest-and-distributor .checkout-container .account-text-section .account-banner-image {
    //     background-image: url('../../../../src/assets/images/css/background-blue-bubble-L@1x.png');
    // }
}

@media (min-width: 1024px) {
    .checkout-guest-and-distributor {
        // .account-banner-image {
        //     background-image: url('../../../../src/assets/images/css/background-blue-bubble-L@1x.png');
        // }
        .show-below-lg {
            display: none;
        }
        .show-above-lg {
            display: block;
        }
        .name-card {
            border: solid 0.0625rem $gray-checkout-border;
            background: $white;
        }
        .checkout-container {
            .left-section,
            .right-section {
                float: left;
            }
            .left-section {
                margin-right: 0.75rem;
            }
            .left-section {
                min-width: 29.625rem;
                max-width: 29.625rem;
            }
            .delivery-section {
                padding: 0.625rem 2.8125rem 0;
                .top-section {
                    margin-top: 1rem;
                }
            }
            .payment-section,
            .payment-section-validated {
                margin-top: -0.3125rem;
            }
        }
        .include-section {
            .promocode-section {
                margin-top: 1.5625rem;
            }
            .promo-code-input {
                max-width: 13.1875rem;
                min-width: 13.1875rem;
            }
            .shopping-cart-last-section {
                margin-bottom: 0.3125rem;
            }
            .shopping-cart-section {
                margin-bottom: 0.5rem;
            }
            .promotion-and-rewards-section {
                margin: 0.3125rem 0;
            }
            .shopping-cart-wrapper {
                padding-bottom: 1.875rem;
                .shopping-cart-top {
                    margin-top: 1.4375rem;
                }
            }
            .promo-code-section {
                .error-block {
                    display: inline-block;
                    max-width: 13.1875rem;
                }
            }
        }
        .order-section {
            .action-section {
                padding-top: 2.25rem;
            }
            .info-section {
                background: $gray-fair;
                padding: 1.5rem 2rem;
                .text-section {
                    width: 17rem;
                    max-width: 17rem;
                }
                .info-section-content {
                    > div:first-child {
                        background: $white;
                        padding: 2.25rem 3.125rem 9.4375rem 2.5rem;
                        width: 30rem;
                        max-width: 30rem;
                    }
                    .text-section {
                        > p {
                            width: 17rem;
                            max-width: 17rem;
                        }
                    }
                    .bullet-section {
                        width: 30rem;
                        max-width: 30rem;
                        padding: 1.75rem 2.5rem 1.75rem 3.1875rem;
                        .header-section {
                            padding-left: 2.5625rem;
                            padding-right: 2.4375rem;
                        }
                        .header-contents-data {
                            margin-top: -1.0625rem;
                            padding-left: 1.625rem;
                            line-height: 1;
                            padding-bottom: 0;
                        }
                        .bullet {
                            width: 1.0625rem;
                            height: 1.0625rem;
                            border-radius: 1.0625rem;
                            border: solid 0.125rem rgba(106, 255, 250, 0.8);
                            margin-right: 0.3125rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .checkout-guest-and-distributor {
        // .account-text-section {
        //     .account-banner-image {
        //         background-image: url('../../../../src/assets/images/css/background-blue-bubble-M@1x.png');
        //     }
        // }
        body {
            background: $white;
        }
        .show-below-lg {
            display: block;
        }
        .show-above-lg {
            display: none;
        }
        .checkout-container {
            .payment-section,
            .payment-section-validated {
                margin-top: -2rem;
            }
        }
        .checkout-container,
        .checkout-container .content {
            background: $white;
        }
        .checkout-container .top-section {
            margin-top: 0;
        }
        .accordionForm .panel-section {
            margin-top: -2.1875rem;
        }
        .button {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
        }
        .include-section {
            .promocode-section {
                margin-top: -0.4375rem;
            }
            .estimated-total-section {
                margin-bottom: 2.1875rem;
            }
        }
        #accordionform.accordionForm {
            .shopping-cart-section {
                margin-left: 2rem;
                padding-right: 0;
                margin-bottom: 0.3125rem;
            }
            .estimated-total-section {
                margin-bottom: 2.1875rem;
            }
            .panel-title {
                margin-left: -1rem;
            }
            .shopping-cart-section.section-separator {
                margin-right: 0;
                margin-bottom: 0.3125rem;
            }
            .panel-title {
                .drawerButton {
                    margin-left: 0.3125rem;
                }
            }
            .pullUpLabel {
                margin-left: 0.625rem;
            }
            .estimated-section {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (min-width: 768px) {
    .checkout-guest-and-distributor {
        .show-below-md {
            display: none;
        }
        .show-above-md {
            display: block;
        }
        .checkout-container {
            .left-section {
                min-width: 27.1875rem;
                max-width: 27.1875rem;
            }
            .delivery-label {
                .pullUpLabel,
                .section-content {
                    padding-left: 1.5625rem;
                }
            }
            .order-section {
                .action-section {
                    button {
                        max-width: 27.125rem;
                        width: 27.125rem;
                    }
                }
                .bullet-section {
                    padding: 1.75rem 0 0.8125rem;
                    .bullet {
                        margin-right: -0.625rem;
                    }
                    .header-contents-data {
                        padding-left: 1.25rem;
                        margin-top: -0.125rem;
                        line-height: 1.2;
                        margin-bottom: 1.5625rem;
                    }

                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    // .checkout-guest-and-distributor .checkout-container .account-text-section .account-banner-image {
    //     background-image: url('../../../../src/assets/images/css/background-blue-bubble-M@1x.png');
    // }
    .checkout-guest-and-distributor {
        .accordionForm .promo-code-section div:first-child {
            width: 75%;
        }
        #accordionform.accordionForm {
            .accord-label-section {
                padding-left: 9.25rem;
                padding-right: 9.25rem;
            }
            .panel-section {
                padding-left: 6.875rem;
                padding-right: 6.875rem;
            }
            .shopping-cart-top {
                .shopping-cart-section,
                .shopping-cart-section.section-separator {
                    margin-left: 0;
                }
            }
        }
        .payment-method-section {
            padding-left: 1.375rem;
            padding-right: 1.375rem;
        }
        .promo-code-section {
            .error-block {
                display: inline-block;
                max-width: 19.375rem;
            }
        }
        .delivery-section {
            padding-left: 0;
            padding-right: 0;
        }
        .order-section {
            .action-section {
                button {
                    max-width: 20.3125rem;
                    width: 20.3125rem;
                }
            }
            .text-section {
                width: 18.5625rem;
                max-width: 18.5625rem;
            }
            .info-section {
                .info-section-content {
                    padding: 2.5rem 10.75rem 4.375rem 10.4375rem;
                }
                .header-parent {
                    width: 27.1875rem;
                    .header-section {
                        padding: 0 3.4375rem;
                    }
                }
            }
        }
        .description-text-section {
            margin: 0 14.75em;
        }
    }
}

@media (max-width: 767px) {
    .checkout-guest-and-distributor {
        .description-text-section {
            margin: 0 2.5em;
        }
        .show-below-md {
            display: block;
        }
        .show-above-md {
            display: none;
        }
        .accordionForm {
            .accord-label-section {
                padding-left: 2.8125rem;
                padding-right: 0.625rem;
            }
        }
        #accordionform.accordionForm #panel {
            padding-left: 0;
            padding-right: 0;
        }
        .checkout-container {
            .payment-section,
            .payment-section-validated {
                background-position: initial;
                .form-control {
                    max-height: 1.25rem;
                    margin-bottom: 0;
                }
                label,
                .form-control {
                    font-size: .75rem;
                }
                margin-left: -0.25rem;
                margin-right: -0.25rem;
            }
        }
        .payment-method-section {
            padding-left: 0;
            padding-right: 0;
        }
        .payment-section {
            background-position: initial;
        }
        .delivery-section {
            padding-left: 0;
            padding-right: 0;
        }
        .shipping-section {
            padding-left: 0;
            padding-right: 0;
        }
        .checkout-container {
            .left-section {
                min-width: 20.3125rem;
                max-width: 20.3125rem;
            }
        }
        .accordionForm .promo-code-section div:first-child {
            width: 66%;
        }
        .include-section {
            .promo-code-section {
                .error-block {
                    display: inline-block;
                    max-width: 13.1875rem;
                }
            }
        }
        .order-section {
            .action-section {
                padding-left: 1.5625rem;
                padding-right: 1.5625rem;
                button {
                    width: 20.3125rem;
                }
            }
            .info-section {
                .text-section {
                    padding: 2.5rem 1.875rem 3.0625rem 1.5625rem;
                    width: 13.375rem;
                    max-width: 13.375rem;
                }
                .bullet-section {
                    padding: 1.75rem 1.625rem 1.75rem 1.5625rem;
                    .header-contents-data {
                        margin-top: 0;
                        line-height: 1.1;
                        margin-bottom: 1.5625rem;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
        .font-size-small {
            font-size: 0.8125rem;
            margin-top: 0.5rem;
        }
    }
    .checkout-guest-and-distributor .checkout-container .order-section .order-confirmation-banner .order-top-section {
        padding: 1.25rem 1.5rem 1.5rem 1.5rem;
        .header {
            font-size: 1.5rem;
        }
    }
    // .checkout-guest-and-distributor .checkout-container .account-text-section .account-banner-image {
    //     background-image: url('../../../../src/assets/images/css/background-blue-bubble-S@1x.png');
    // }
    .font-size-small {
        font-size: 0.8125rem;
        margin-top: 0.5rem;
    }

    .include-section .estimated-total-section div[align="right"] label{
        line-height: 3rem !important;
    }
    .checkout-guest-and-distributor .include-section .promo-code-section div:first-child{
        margin-right: 0 !important;
    }
}

.help-section-container {
    background: transparent;
}
