    @import "../../../../stylesheets/partials/variables";
    .pdp-productingredients {
        .panel-group{
            margin-top:4.2rem;
        }
        .pdp-accordion-wrapper {
            width: 49.875em;
            display: table;
            margin: 0 auto;
        }
        #accordionform {
            background: $white;
            padding: 0 1.375em;
            .panel{
              padding: 1em 0 0;
              margin-bottom: 0;
            }
        }
        #accordion {
            border-top: 1px solid $gray-light;
        }
        .pdp-header {
            font-weight: $proxima-thin;
            color: $brand-primary;
        }
        table,
        th,
        td {
            border-collapse: collapse;
            border: 1px solid $gray-fader;
        }
        tr td{
            vertical-align: center;
            padding: 0.313em;
        }
        tr th {
            padding: 0.313em;
        }
        thead tr:first-child td{
            text-align: left;
        }
        td:first-child {
            width: 60%;
            text-align: left;
        }
        td:nth-child(2), td:nth-child(3) {
            width: 20%;
            text-align: right;
        }
        .pdp-cell-text {
            font-size: 1rem;
            font-weight: $proxima-semibold;
            line-height: 1.4;
            color: $gray-dark;
        }
        .pdp-cell-data {
            font-size: 0.875rem;
            font-weight: $proxima-light;
            color: $gray-fader;
        }
        .pdp-content-wrapper {
            background-color: $white;
            margin-bottom: 0.75rem;
            padding: 0.625rem;
        }
        .pdp-content-wrapper h3 {
            text-transform: none;
            margin-top: 0.5rem;
        }
        .pdp-content-wrapper #accordionform {
            padding: 0;
            background: none;
            opacity: 1;
            transition: all 0.75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        }
        .list-pane {
            margin-top: 2.3125rem;
            padding: 0px;
            img{
              width: 27.25rem;
            }
        }
        .pdp-content-wrapper .panel-default {
            margin-bottom: 1rem;
        }
        h3 {
            text-transform: none;
            color: $gray;
        }
        p {
            color: $gray-dark;
        }
        span {
            font-size: 1.5rem;
        }
        .m-l-neg-20 {
            margin-left: -1.125em;
        }
        .m-l-neg-8 {
            margin-left: -0.5em;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          #accordionform {
            padding: 0 8.375em;
          }
          .pdp-accordion-wrapper {
              width: 100%;
              padding-bottom: 0;
          }
            .panel-group{
                margin-top: 3rem;
            }

        }
        @media (min-width: 1024px) and (max-width: 1439px) {
            .pdp-accordion-wrapper {
              width: 55.655em;
              padding: 0 2.375em 0.7em;
            }
        }
        @media(max-width: 767px) {
            .pdp-accordion-wrapper {
                width: 100%;
            }

            .panel-group{
                margin-top: 3rem;
            }
            .list-pane {
              img{
                width: 20.625rem;
              }
            }
        }
          @media (min-width: 1440px){
          .pdp-accordion-wrapper{
              width: 55.655em;
              padding: 0 2.375em 0.7em;
          }

        }
    }
