.container-fluid.no-gutter
	.pdp-productingredients
		.product-content-container.no-gutter
			.product-content-wrapper
				#accordionform
					.pdp-accordion-wrapper
						#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default.col-sm-12.m-b-2
										#product-info-ingredients.panel-heading(role='tab')
											h4.panel-title.col-lg-12.no-gutter
												button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#productingredients', aria-expanded='true', aria-controls='productingredients')
													.col-sm-12.no-gutter
														span.pdp-header Heading Text
									#productingredients.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='product-info-ingredients', aria-expanded='false', style='height: 100px;')
										.panel-body
												.col-sm-12.col-md-12.col-lg-7.no-gutter
													div.list-pane
														img(src='../../../../../../src/assets/images/content/prod-img-3.jpg')
												.col-sm-12.col-md-12.col-lg-5
													.row
														.col-sm-12.list-pane
															h3.m-b-0 Key Text
														.col-sm-12.no-gutter.m-t-1
															ul.m-a-0
																li.m-l-neg-20
																	p.m-l-neg-8 Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur, qui error fierent et, et mei homero nostrud
																li.m-l-neg-20
																	p.m-l-neg-8 Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium.
												.col-sm-12.col-md-12.col-lg-7.m-t-2.m-b-2.no-gutter

													h3 Heading Text
														.col-sm-12.no-gutter.m-t-1
															.table-responsive
																table
																	thead
																		tr.pdp-cell-text
																			td Column 1 
																			td Column 2 
																			td Column 3 

																	tbody
																		tr
																			td(colspan='3')
																				p.pdp-cell-text.m-b-0 Lorem ipsum dolor sit amet
																				p.pdp-cell-text.m-b-0 Lorem ipsum dolor sit amet
																				p.pdp-cell-text.m-b-0 Lorem ipsum dolor sit amet
																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td
																			td Lorem ipsum dolor sit amet
																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td Lorem ipsum 
																			td Lorem ipsum 

																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td Lorem ipsum 
																			td Lorem ipsum 
																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td Lorem ipsum 
																			td Lorem ipsum 
																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td Lorem ipsum 
																			td

																		tr.pdp-cell-data
																			td Lorem ipsum dolor sit amet
																			td Lorem ipsum 
																			td Lorem ipsum 

																		tr.pdp-cell-data
																			td(colspan='3') Lorem ipsum dolor sit amet
																		tr.pdp-cell-data
																			td(colspan='3') Lorem ipsum dolor sit amet
																		tr.pdp-cell-text
																			td(colspan='3')
																				p.pdp-cell-text Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
