.modal-header
	.clearfix
		div.pointer.cross-icon.pull-right(ng-click='modalCtrl.cancel()')
.modal-body.clearfix(equi-height)
	.col-sm-12.media-modal-head Are you Sure ?
	.col-sm-12.media-modal-text By retaking the quiz you may lose any personalized content recommendations currently in your feed.
	.col-sm-12.modal-btn-container.parent-equi-height
		div.col-sm-12.col-md-6.no-gutter.button-view
			button.btn.btn-primary.reset-modal-button.m-b-1.equi-height(ng-click='modalCtrl.ok()') Customize feed
		div.col-sm-12.col-md-6.no-gutter.button-view
			button.btn.btn-primary-outline.reset-modal-button.fullWidth.font-weight-normal.equi-height(ng-click='modalCtrl.cancel()') Really Really Long  Really Really Long CTA text