@import "../../../../../src/stylesheets/partials/variables.scss";

.media-banner-container{
    margin-top: -3.9em;
    background-size: cover;
    background-repeat: no-repeat;
  background-position: right top;
    .error-message-row{
        margin-top: 3.9em;
    }

    .media-banner-header{
        h2 {
            padding: 1.875em 0 0 0;
            margin-bottom: 0.5em;
            letter-spacing: -0.3px;
            color: $white;
            font-family: $frutiger-light;
        }
        p {
            color: $white;
            margin-bottom: 1.5em;
            padding: 0;
            font-family: $frutiger-light;
        }
    }

    .start-quiz{
        min-width: 11.5em;
        border-radius: 3px;
        /*border: solid 1px $brand-primary;*/
        margin-bottom: 1.25em;
    }

    .maybe-later{
        font-size: 1em;
        font-weight: $proxima-light;
        color: $brand-primary;
        cursor: pointer;
    }

}

.media-modal-head{
        font-size: 1.375em;
      font-weight: $proxima-thin;
      line-height: 1.27;
      text-align: center;
      color: $gray-dark;
      margin-bottom: 1.4em;
    }
.media-modal-text{
        font-size: 1em;
      font-weight: $proxima-light;
      line-height: 1.5;
      color: $gray-dark;
      padding: 0 2em 0 2em;
      margin-bottom: 2em;
    }

.dashboard-reset-modal .modal-dialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 29.625em;
    height: 17.875em;
}

.dashboard-reset-modal .modal-body {
    padding: 1em;
}
.dashboard-reset-modal .modal-dialog .modal-header .cross-icon{
    padding: 1.250em 1.250em 0.3rem 0;
}

.dashboard-reset-modal .modal-dialog .modal-header .cross-icon{
    padding: 1.250em 1.250em 0.3rem 0;
}

.btn-secondary-modal{
    color: $gray;
    background-image: none;
    background-color: transparent;
    border-color: $gray;
}
.close-modal-icon{
    padding: 1.250em 1.250em 0 0;
}
.modal-btn-container{
    min-height: 2.8125rem;
}
.button-view{
    padding: 0 .450em;
    float: right;
     height: 100%;
}
.reset-modal-button{
    height: 100%;
    white-space: normal;
}

@media all and (min-width: 320px) and (max-width: 767px){

    .media-banner-container{
        /*background-position: right -20.625em top;*/
        margin-top: -3.1em;
        .error-message-row{
            margin-top: 3.1em;
        }
    }
    .media-banner-header{
        min-height: 24.375em;
        padding: 0 0 1em 1.5em;

        h2{
            font-size: 1.9rem;
        }
    }
    .dashboard-reset-modal .modal-dialog {
        padding-top: 2rem;
        width: 20.313em;
        height: 19.875em;
        height: auto;
        .modal-content{
            height: auto;
        }
    }
    .media-modal-head{
      text-align: left;
      margin-bottom: 0.6em;
      padding-left: .5em;
    }
    .media-modal-text{
      padding: 0 3.375em 0 0.5em;
    }
    .button-view{
        padding: 0;
        float: none;
    }
    .modal-btn-container{
        padding: 0;
    }
    .close-modal-icon{
        padding: 0;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .media-banner-container{
        /*background-position: right -11.250em top;*/
        margin-top: -3.9em;
        .error-message-row{
            margin-top: 3.9em;
        }
    }
    .media-banner-header{
        height: 27.875em;
        padding: 0 0 0 4.75em;

        h2{
            font-size: 1.9rem;
        }
    }
}
@media all and (min-width: 936px) and (max-width: 1023px){
    .media-banner-container{
        /*background-position: right -7.250em top;*/
        margin-top: -3.9em;
        .error-message-row{
            margin-top: 3.9em;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .media-banner-container{
        /*background-position: right top;*/
        margin-top: -3.9em;
        .error-message-row{
            margin-top: 3.9em;
        }
    }
    .media-banner-header{
        height: 30.313em;
        padding: 0 0 0 6.9em;

        h2{
            font-size: 2.4rem;
        }
        .start-quiz{
        min-width: 16.438em;
        }
    }
}

@media all and (min-width: 1440px) {
    .error-message-row{
        margin-top: 3.9em;
    }
    .media-banner-header{
        height: 30.313em;
        padding: 0 0 0 9.5em;

        h2{
            font-size: 2.4rem;
        }
        .start-quiz{
        min-width: 16.438em;
        }
    }
}
