mediaHeaderComponent
.media-banner-container.col-sm-12(ng-style="{'background-image': 'url({{ctrl.backgroundUrl}})'}")
  .row
    // usage for page level error component
  .row.error-message-row
     //- page-level-error-component(success-message="ctrl.successMessage" success-type="true" danger-type='false')
    .media-banner-header.col-sm-8.col-md-8.col-lg-8.col-xl-6
      h2.col-sm-12.col-md-7.col-lg-12 WELCOME TO GALLERY
      p.col-sm-12.col-md-9.col-lg-8 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
      .quiz-button.col-sm-12.no-gutter(ng-if="ctrl.quizVisible")
        .col-sm-12.no-gutter(ng-click="ctrl.toggleQuiz();")
          button.start-quiz.btn.btn-primary-outline.btn-white.col-xs-12(type='button') BUTTON TEXT
        //- .col-sm-12.no-gutter.maybe-later(ng-click="ctrl.toggleQuiz();") Maybe later
      //- .customize.no-gutter.maybe-later.col-sm-12(ng-if="!ctrl.quizVisible",ng-click="ctrl.getConfirmation();") customize my feed
