.parent-container
    .modal-header
        button.close(type='button', data-dismiss='modal' ng-click='ctrl.cancelTermsConditions()')
    div.modal-body.clearfix
        .terms-conditions-content
            .terms-conditions-container
                .distributor-handbook-title
                    h2.distributor-handbook-text Distributor agreement and policies and procedures
                .image-carousel.col-sm-12(ng-if="ctrl.modalData.termsConditionsData.length > 0")
                    .row
                        .item-image-text.col-sm-12.p-a-0
                            slick.carousel.carousel-secondary.carousel-terms-conditions.m-a-0(settings="ctrl.slickPrimaryConfig")
                                div.slick-image-repeat(ng-repeat="tile in ctrl.modalData.termsConditionsData")
                                    .tile-image.col-sm-12.no-gutter
                                        .carousel-gradient(style="background-image:linear-gradient(to top, #fa4b44, #ab13ee)")
                                            .carousel-img.col-sm-12.p-a-0(ng-style="{'background-image': 'url({{tile.thumbnail_url}})'}")
                                        .tile-title.col-sm-12.p-a-0
                                            span.col-sm-12.no-gutter.image-text {{tile.product_desc}} 
                .before-you-continue-section.col-sm-12.p-a-0
                    .before-you-continue-text.col-md-6.col-sm-12.p-a-0
                        label.before-continue-content {{ctrl.beforeYouMayContinue}}
                    .email-copy.col-md-6.col-sm-12.p-a-0
                        input.btn.btn-primary-outline.btn-email-copy(type='Submit' value='EMAIL ME A COPY')
                .distributor-agreement-title.col-sm-12.p-a-0
                    label.distributor-agreement-text DISTRIBUTOR AGREEMENT
                .distributor-agreement-details-section.col-sm-12.p-a-0
                    .agreement-details
                        .agreement-scroll-section
                            p.agreement-text {{ctrl.definitionTitle}}
                            p.agreement-text {{ctrl.definitionOne}}
                            p.agreement-text {{ctrl.definitionTwo}}
                            p.agreement-text {{ctrl.definitionThree}}
                .agree-decline-section.col-sm-12.p-l-0.p-r-0
                    .checkbox-text-section.col-lg-7.col-md-6.p-a-0
                        .policy-checkbox.checkbox.m-a-0
                            input.policy-input.m-a-0(type='checkbox' ng-model='ctrl.policyCheckbox' name='policyCheckbox' ng-click='ctrl.checkboxShowHide()')
                            label.form-label.policy-text.m-a-0 
                                div.checkbox-text-policy I have read, understand and agree to the Distributor Agreement, including the 
                                    a.arbitration-policy-link.form-label limitation of liability
                                    | , 
                                    a.arbitration-policy-link.form-label arbitration 
                                    | , and 
                                    a.arbitration-policy-link.form-label indemnification 
                                    | provisions therein.
                        .arbitration-policy-checkbox.checkbox
                            input.arbitration-policy-input.m-a-0(type='checkbox' ng-model='ctrl.arbitrationPolicyCheckbox' name='arbitrationPolicyCheckbox' ng-click='ctrl.checkboxShowHide()')
                            label.form-label.arbitration-policy-text
                                div.checkbox-text-arbitration I have reviewed and understand the 
                                    a.arbitration-policy-link.form-label(ng-click = 'ctrl.knowMore("compensationSummary")') Distributor Compensation Summary 
                                    | and 
                                    .btn-link(ng-click = 'ctrl.knowMore("returnPolicy")') Product Return Policy.
                        .validation-message
                            .error-block(ng-if='ctrl.checkBoxes')
                                div.message-checkbox(id='errorMessageCheckBox') Please accept the terms and conditions before proceeding.
                        .i-agree-text.p-a-0
                            label.i-agree-value {{ctrl.needToAgreeText}}
                    .bottom-button-section.col-lg-5.col-md-6.p-a-0
                        .i-agree-button-section.col-sm-12.p-a-0
                            input.btn.btn-primary.i-agree-button(type='Submit' value='ACCEPT TERMS & CONDITIONS' ng-click='ctrl.acceptTermsConditions()')
                        .skip-section.col-sm-12.p-a-0
                            span.skip-for-now-link(data-toggle="modal")
                                a.skip-now(ng-click='ctrl.skipForNowShow()') SKIP FOR NOW