.terms-conditions-content
  .terms-conditions-container
    .distributor-handbook-title
      h2.distributor-handbook-text Distributor agreement and policies and procedures
    .image-carousel.col-sm-12(ng-if='termsconditionsctrl.filteredData.length')
      .row
        .item-image-text.col-sm-12.p-a-0
          slick.carousel.carousel-secondary.carousel-terms-conditions.m-a-0(settings='termsconditionsctrl.slickConfig')
            .slick-image-repeat(ng-repeat='tile in termsconditionsctrl.filteredData')
              .tile-image.col-sm-12.no-gutter
                .carousel-gradient(style='background-image:linear-gradient(to top, #fa4b44, #ab13ee)')
                  .carousel-img.col-sm-12.p-a-0(ng-style="{'background-image': 'url({{tile.thumbnail_url}})'}")
                .tile-title.col-sm-12.p-a-0
                  span.col-sm-12.no-gutter.image-text {{tile.product_desc}}
    .before-you-continue-section.col-sm-12.p-a-0
      .before-you-continue-text.col-md-6.col-sm-12.p-a-0
        label.before-continue-content {{termsconditionsctrl.beforeYouMayContinue}}
      .email-copy.col-md-6.col-sm-12
        input.btn.btn-primary-outline.btn-email-copy(type='Submit', value='EMAIL ME A COPY')
    .distributor-agreement-title.col-sm-12.p-a-0
      label.distributor-agreement-text DISTRIBUTOR AGREEMENT
    .distributor-agreement-details-section.col-sm-12.p-a-0
      .agreement-details
        .agreement-scroll-section
          p.agreement-text {{termsconditionsctrl.definitionTitle}}
          p.agreement-text {{termsconditionsctrl.definitionOne}}
          p.agreement-text {{termsconditionsctrl.definitionTwo}}
          p.agreement-text {{termsconditionsctrl.definitionThree}}
    .agree-decline-section.col-sm-12.p-l-0.p-r-0
      .checkbox-text-section.col-lg-7.col-md-6.p-a-0
        .checkbox.privacy-policy-checkbox-container.m-a-0
          input.policy-input.m-a-0(type='checkbox', ng-model='termsconditionsctrl.policyCheckbox', name='policyCheckbox', ng-click='termsconditionsctrl.checkboxShowHide()')
          label
            .privacytext
              | I have read, understand and agree to the Distributor Agreement, including the 
              a.arbitration-policy-link.form-label limitation of liability
              | , 
              a.arbitration-policy-link.form-label arbitration 
              | , and 
              a.arbitration-policy-link.form-label indemnification 
              | provisions therein.
        .checkbox.arbitration-policy-checkbox-container
          input.arbitration-policy-input.m-a-0(type='checkbox',ng-model='termsconditionsctrl.arbitrationPolicyCheckbox', name='arbitrationPolicyCheckbox', ng-click='termsconditionsctrl.checkboxShowHide()')
          label
            .privacytext
              | I have reviewed and understand the 
              a.arbitration-policy-link.form-label(ng-click='termsconditionsctrl.knowMore("compensationSummary")') Distributor Compensation Summary 
              | and 
              a(ng-click='termsconditionsctrl.knowMore("returnPolicy")') Product Return Policy..
        .validation-message
          .error-block(ng-if='termsconditionsctrl.checkBoxes')
            #errorMessageCheckBox.message-checkbox Please accept the terms and conditions before proceeding.
        .i-agree-text.p-a-0
          label.i-agree-value {{termsconditionsctrl.needToAgreeText}}
      .bottom-button-section.col-lg-5.col-md-6.p-a-0
        .i-agree-button-section.col-sm-12.p-a-0
          input.btn.btn-primary.i-agree-button(type='Submit', value='ACCEPT TERMS & CONDITIONS', ng-click='termsconditionsctrl.acceptTermsConditions()')
        .skip-section.col-sm-12.p-a-0
          span.skip-for-now-link(data-toggle='modal', ng-click='termsconditionsctrl.skipForNowShow()')
            a.skip-now SKIP FOR NOW
  #skipForNowTermsConditions.modal.fade(role='dialog')
    .modal-dialog.skip-for-now-dialog
      .skip-for-now-modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
        .skip-for-now-modal-body
          .question-section
            span.question-text
              | Are you sure you want to skip accepting the distributor agreement, policies, and procedures?
          .text-section
            span.message-text
              | If you don't complete this step, you wont be able to sell Nu Skin products or earn commissions.
          .nevermind-button-section
            input.btn.btn-primary.col-xs-12(type='button', value='NEVERMIND', data-dismiss='modal')
          .remind-me-later-section
            span.remind-later-link
              a.remind-later(ng-click='termsconditionsctrl.remindLater()') REMIND ME LATER
custommodalcomponent(ng-if='termsconditionsctrl.showModal', modal-heading='{{termsconditionsctrl.modalHeading}}', is-modal-call='true', src-url='{{termsconditionsctrl.modalURL}}', callback-on-success='termsconditionsctrl.hideCustomModal')
