@import "../../../../src/stylesheets/partials/variables.scss";

.terms-conditions-content{
    ::-webkit-scrollbar {
        width: 6px;
        border-bottom: 1px solid $gray238;
        border-top: 1px solid $gray238;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $gray-light;
    }
    ::-webkit-scrollbar-track {
        background-color: $gray-lightest;
    }
    .slick-slider.carousel .slick-prev {
        top: 70%;
    }
    .slick-slider.carousel .slick-next {
        top: 70%
    }
    .carousel-gradient{
        width: 100%;
        height: 12.3125rem;
    }
    .terms-conditions-container{
        padding: 2.5rem 18.4375rem;
    }
    .distributor-handbook-text{
        font-size: 1.25rem;
        font-weight: $proxima-thin;
        color: $black;
    }
    .distributor-handbook-title{
        padding-bottom: 0.3125rem;
    }
    .keep-in-mind-text{
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.38;
        color: $gray-dark;
    }
    .image-carousel{
        height: 15rem;
    }
    .tile-image{
        width: 100%;
    }
    .slick-slide{
        margin-top: 1.25rem;
    }
    .image-text{
        padding-top: 0.9375rem;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1;
        color: $white;
    }

    .image-text-bold{
        @extend .image-text;
        font-weight : $proxima-semibold;

    }
    .tile-title{
        width: 80%;
        position: absolute;
        bottom: 0.625rem;
        left: 1rem;
    }
    .slick-image-repeat{
        width: 17.6875rem;
    }
    .slick-prev{
        margin-top: -1.875rem;
    }
    .slick-next{
        margin-top: -1.875rem;
    }
    .before-continue-content{
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray-dark;
        margin-right: -2.5rem;
    }
    .email-copy{
        text-align: right;
        padding: 0;
    }
    .btn-email-copy{
        width: 16.5rem;
        height: 2.75rem;
    }
    .distributor-agreement-title{
        padding-top: 1.875rem;
    }
    .distributor-agreement-text{
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 2.38;
        letter-spacing: 0.5px;
        color: $gray-black;
        padding-top: 1.875rem;
    }
    .distributor-agreement-details-section{
        background-color: $gray-lightest;
        margin-top: 0.625rem;
    }
    .agreement-details{
        padding: 1.125rem 1.5rem 1.125rem 2.3125rem;
    }
    .agreement-text{
        font-size: 1.125rem;
        font-weight: $proxima-light;
        line-height: 1.22;
        color: $gray-dark;
        width: 90%;
    }
    .agreement-scroll-section{
        height: 19rem;
        overflow-y: auto;
    }
    .agree-decline-section{
        padding: 1.375rem 0rem 2rem 0rem;
    }
    .i-agree-button{
        width: 17.25rem;
        float: right;
    }
    .policy-text{
        font-size: 0.75rem;
        letter-spacing: -0.1px;
        color: $gray-darker;
        padding-bottom: 0.625rem;
        display: flex;
        align-items:center;
    }
    .arbitration-policy-text{
        font-size: 0.75rem;
        letter-spacing: -0.1px;
        color: $gray-darker;
        padding-bottom: 0.625rem;
        display: flex;
        align-items:center;
        .btn-link{
            display: inline;
            cursor: pointer;
        }
    }
    .skip-section{
        text-align: center;
        width: 17.25rem;
        float: right;
    }
    .skip-for-now-link{
        float: none;
        margin-right: auto;
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.9px;
        text-align: center;
        color: $brand-primary;
    }
    .i-agree-value{
        font-size: 0.8125rem;
        letter-spacing: -0.4px;
        text-align: center;
        color: $nobel;
        text-align: left;
    }
    .question-section{
        text-align: center;
        padding: 0.625rem 0rem;
    }
    .question-text{
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.38;
        color: $gray-dark;
    }
    .text-section{
        text-align: center;
        padding: 0.625rem 0.625rem;
    }
    .remind-me-later-section{
        text-align: center;
    }
    .remind-later-link{
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.9px;
        text-align: center;
        color: $brand-primary;
    }
    .skip-for-now-modal-body{
        padding: 0.625rem 6.25rem;
    }
    .nevermind-button-section{
        padding: 0.625rem 0rem;
    }
    .skip-for-now-modal-content{
        height: 23.125rem;
        position: relative;
        background-color: $white;
        background-clip: padding-box;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
        outline: 0;
        border: none;
        border-radius: 0;
    }
    .remind-later{
        cursor: pointer;
    }
    .skip-now{
        cursor: pointer;
    }
    .arbitration-policy-link{
        cursor: pointer;
    }
    .carousel-img{
        overflow: hidden;
        opacity: 0.3;
        height: 12.3125rem;
        position: relative;
        background-color: $gray-whisper;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .images-carousel{
        width: auto;
        display: block;
    }
    .checkbox-text-policy{
        padding-left: 0.625rem;
        position: relative;
        width: 100%;
    }
    .checkbox-text-arbitration{
        padding-left: 0.625rem;
        position: relative;
        width: 100%;
    }
    .arbitration-policy-checkbox{
        padding-top: 1rem;
        position: relative;
    }
    .policy-checkbox{
        position: relative;
    }
    .privacytext{
        display: inline-block;
    }
    .checkbox.privacy-policy-checkbox-container,.checkbox.arbitration-policy-checkbox-container{
        & input{
            top:3px;
            left: 3px;

            + label::before{
                position: absolute;
            }
        }

        .privacytext{
            padding-left: 5px;
        }
    }
    @media screen and (min-width:360px) and (max-width:767px) {
        margin: 0;
        .terms-conditions-container{
            padding: 2.5rem 3.0625rem;
        }
        .tile-title{
            float: none;
        }
        .slick-slider.carousel .slick-slide {
            padding: 0;
        }
        .tile-image{
            width: 100%;
        }
        .before-continue-content{
            font-size: 0.875rem;
            line-height: 1.57;
            padding: 0;
            margin-right: -0.4375rem;
        }
        .btn-email-copy{
            width: 100%;
            float: left;
        }
        .email-copy{
            padding-top: 1.25rem;
        }
        .distributor-agreement-title{
            padding-top: 1.25rem;
        }
        .distributor-agreement-details-section{
             height: 20.3125rem;
        }
        .agreement-scroll-section{
            height: 17rem;
        }
        .i-agree-text{
            margin: 0.25rem 0rem 1.75rem 0rem;
        }
        .agreement-details{
            padding: 1rem 1rem 0rem 1rem;
        }
        .agreement-text{
            width: 93%;
        }
        .skip-for-now-modal-body{
            padding: 0.625rem 1.625rem;
        }
        .skip-for-now-modal-content{
            height: 25.5rem;
        }
        .nevermind-button-section{
            padding-top: 1.25rem;
        }
        .image-carousel{
            height: 14.75rem;
        }
        .distributor-agreement-text{
            padding: 0.8125rem 0 0 0;
        }
        .i-agree-button{
            width: inherit;
            padding: 0.9rem 1.125rem 0.85rem;
        }
        .i-agree-button-section{
            text-align: center;
            z-index: 999;
            display:block;
        }
        .skip-section{
            width: inherit;
            float: none;
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px) {
        .terms-conditions-container{
            padding: 2.5rem 4.875rem;
        }
        .slick-slider.carousel .slick-slide {
            width: 16.1875rem;
        }
        .skip-section{
            width: 16.5625rem;
        }
        .before-continue-content{
            margin-right: -3.125rem;
        }
        .distributor-agreement-title{
            padding-top: 1.5625rem;
        }
        .agreement-details{
            height: 20rem;
        }
        .agreement-scroll-section{
            height: 15.3125rem;
        }
        .agreement-text{
            width: 85%;
        }
        .i-agree-button{
            width: 16.5625rem;
        }
        .btn-email-copy{
            width: 12.375rem;
        }
        .tile-image{
            width: 100%;
        }
    }
    @media screen and (min-width:1024px) and (max-width:1439px) {
        .terms-conditions-container{
            padding: 2.5rem 6.25rem;
        }
        .slick-slide{
            padding: 0;
        }
        .distributor-agreement-details-section{
            height: 20rem;
        }
        .agreement-scroll-section{
            height: 17.1875rem;
        }
        .agreement-details{
            padding: 0.625rem 1.5rem 0.625rem 2.3125rem;
        }
        .tile-image{
            width: 100%;
        }
    }
}
.app-modal-window.terms-conditions-modal-body{
    .parent-container{
        margin-bottom: 1.25rem;
    }
    .modal-dialog{
        width: 60%;
        .modal-body{
            padding: 0 1rem 1.5rem;
        }
    }
    .terms-conditions-container{
        padding: 0.5rem 2.2rem;
    }
    @media screen and (min-width:360px) and (max-width:767px){
        margin: 0 0.625rem 0 0.625rem;
        .parent-container{
            margin-bottom: 1.25rem;
        }
        
        .terms-conditions-container{
            padding: 0.5rem 2.2rem;
        }
        .modal-dialog{
            width: inherit;
            .modal-body{
                padding: 0;
                margin: 1rem;
            }
        }
        .i-agree-button{
            float: none;
        }
        .i-agree-button-section{
            text-align: center;
            z-index: 9999;
            display:block;
        }
    }
    @media screen and (min-width:768px) and (max-width:1023px){
    
        .modal-dialog{
            width: 85%;
            .modal-body{
                padding: 0 1rem 1.5rem;
            }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){

        .modal-dialog{
            width: 75%;
            .modal-body{
                padding: 0 1rem 1.5rem;
            }
        }
    }
}
.app-modal-window.skip-now-modal-body{
    .modal-dialog{
        .modal-header{
            padding: 1rem 1rem 0;
        }
        .modal-body{
            padding: 0 2.5rem 1.5rem;
        }
    }

    .skip-for-now-modal-body{
        text-align: center;
    }
    
    .question-text{
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1.38;
        color: $gray-dark;
    }
    .text-section{
        padding: 1rem 0 1rem 0;
    }
}
