.modal-header
    button.close(type='button', data-dismiss='modal' ng-click='ctrl.skipForNowClose()')
div.modal-body.clearfix
    .skip-for-now-dialog
        .skip-for-now-modal-content
            .skip-for-now-modal-body
                .question-section
                    span.question-text Are you sure you want to skip accepting the distributor agreement, policies, and procedures?
                .text-section
                    span.message-text If you don't complete this step, you wont be able to sell Nu Skin products or earn commissions.
                .nevermind-button-section
                    input.btn.btn-primary.col-xs-12(type='button' value='NEVERMIND' data-dismiss='modal' ng-click='ctrl.skipForNowClose()')
                .remind-me-later-section
                    span.remind-later-link
                        a.remind-later(ng-click="ctrl.remindLater()") REMIND ME LATER