ng-form(novalidate, name='associateInfo')
	fieldset.form-group.form-main
		div.form-group.row
			div.additional-info
				p.form-label Want to grow your business by partnering with your spouse? Send your spouse an invitation to join your account.

				h5.form-label Your spouse will share your business account, but you remain the primary account holder with administrative privileges.

				div#moreInfo
				p.policy-link.form-label.pointer(ng-model="collapsed" ng-click="collapsed=!collapsed" ng-hide="collapsed") See More
				div(ng-show="collapsed")
					div.form-label(ng-repeat="value in signupAccSetupCtrl.model.moreInfoText")
						.moreInfoText.form-label
						h5 {{$index+1}} | {{value.moreinfocontent}}
				div(ng-show="collapsed")
					p.policy-link.form-label(ng-model="collapsed" ng-click="collapsed =!collapsed") See Less
				div.form-group.row
					div#associateList.col-sm-12.associate-list(ng-show="signupAccSetupCtrl.model.isAssociateAdded ")
						p.form-label {{signupAccSetupCtrl.model.associateInfo.firstname}} {{signupAccSetupCtrl.model.associateInfo.lastname}}
						h5.form-label Account Status
						h5.form-label {{signupAccSetupCtrl.model.associateMember.accountstatus}}
				div#addNewAssociate.form-group.row(ng-model="showAssociateForm" ng-click="signupAccSetupCtrl.model.showAssociateForm = !signupAccSetupCtrl.model.showAssociateForm;" ng-hide="((signupAccSetupCtrl.model.showAssociateForm || signupAccSetupCtrl.model.showAddButton == false) || (signupAccSetupCtrl.model.restrictAddButton))")
						.separator-line
							.circle.pointer
								.add-icon
								.separator-text Add
						h5.form-label.text-center.m-t-3 As an individual distributor, you can only add one associate
		ng-form(novalidate, name="signupAccSetupCtrl.addNewAssociate" ng-if="signupAccSetupCtrl.model.showAssociateForm" ng-init="signupAccSetupCtrl.model.associateInfo={\"contactByEmail\":true}")
			fieldset.form-group
				div.row.m-b-2
					label.form-label First Name
					input#firstname.form-control.m-b-0(type='text' name='firstname' ng-model='signupAccSetupCtrl.model.associateInfo.firstname' required ng-class="{'ng-touched': signupAccSetupCtrl.addNewAssociate.$submitted}")
					span.error-block.m-t-1(ng-show="(signupAccSetupCtrl.addNewAssociate.firstname.$touched && signupAccSetupCtrl.addNewAssociate.firstname.$error.required) || (signupAccSetupCtrl.addNewAssociate.firstname.$dirty && signupAccSetupCtrl.addNewAssociate.firstname.$error.required) || (signupAccSetupCtrl.addNewAssociate.$submitted  && signupAccSetupCtrl.addNewAssociate.firstname.$error.required)") Please enter First Name
				div.row.m-b-2
					label.form-label Last Name
					input#lastname.form-control.m-b-0(type='text' name='lastname' ng-model='signupAccSetupCtrl.model.associateInfo.lastname' required ng-class="{'ng-touched': signupAccSetupCtrl.addNewAssociate.$submitted}")
					span.error-block.m-t-1(ng-show="(signupAccSetupCtrl.addNewAssociate.lastname.$touched && signupAccSetupCtrl.addNewAssociate.lastname.$error.required) || (signupAccSetupCtrl.addNewAssociate.lastname.$dirty && signupAccSetupCtrl.addNewAssociate.lastname.$error.required) || (signupAccSetupCtrl.addNewAssociate.$submitted  && signupAccSetupCtrl.addNewAssociate.lastname.$error.required)") Please enter Last Name
				div.row
					//- label.form-label Contact Preference
				//- div.btn-group.row.contact-preference.p-b-1
				//- 	input(type='button' name="emailinput" value="EMAIL" ng-click="signupAccSetupCtrl.model.selectPreference('email','A')" ng-class="{'contact-button-mail-selected': signupAccSetupCtrl.model.associateInfo.contactByEmail,'contact-button-mail' : (!signupAccSetupCtrl.model.associateInfo.contactByEmail || signupAccSetupCtrl.model.associateInfo.contactByEmail == 'undefined')}").btn
				//- 	input(type='button' name="phoneinput" value="PHONE" ng-click="signupAccSetupCtrl.model.selectPreference('phone','A')" ng-class="{'contact-button-phone-selected': signupAccSetupCtrl.model.associateInfo.contactByPhone,'contact-button-phone' : (!signupAccSetupCtrl.model.associateInfo.contactByPhone || signupAccSetupCtrl.model.associateInfo.contactByPhone == 'undefined')}").btn
				div.row.m-b-1
					.col-sm-12.no-gutter(ng-show="signupAccSetupCtrl.model.associateInfo.contactByEmail==true")
						email-phone(credentials='signupAccSetupCtrl.model.associateInfo.emailValueObj', is-email ='true', title="Email", is-required='signupAccSetupCtrl.model.associateInfo.contactByEmail==true', ng-class="{'ng-touched': signupAccSetupCtrl.addNewAssociate.$submitted}" is-submitted="signupAccSetupCtrl.addNewAssociate.$submitted")

				//- div.row.m-b-2
				//- 	.col-sm-12.no-gutter(ng-show="(signupAccSetupCtrl.model.associateInfo.contactByEmail==false)")
				//- 		email-phone(credentials='signupAccSetupCtrl.model.associateInfo.emailValueObj', is-phone ='true', title="Phone", is-required='signupAccSetupCtrl.model.associateInfo.contactByEmail==false', ng-class="{'ng-touched': signupAccSetupCtrl.addNewAssociate.$submitted}" is-submitted="signupAccSetupCtrl.addNewAssociate.$submitted")

				div.row.text-center
					button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit' ng-click="signupAccSetupCtrl.model.updateAssociate()") Send Invite
					a.policy-link.text-center.m-b-0(data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='addAssociate' , ng-click="signupAccSetupCtrl.addNewAssociate.setPristine(); signupAccSetupCtrl.model.showAssociateForm = false") Skip for later

	div.row.text-center(ng-show="signupAccSetupCtrl.model.isAssociateAdded")
		button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit', data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='preferences', ng-click='signupAccSetupCtrl.model.submitAssociateInfo()' ng-show="signupAccSetupCtrl.model.isAssociateAdded == true") SAVE & CONTINUE			
		a.policy-link.text-center.m-b-0(data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='addAssociate' ) Skip for later
