.signupaccsetupcontainer
  .container.sm-full-width
    main.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
      .row
        section.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
          h2.center
            | Distributor Setup
          form.signupform(name="signupAccSetupCtrl.form" novalidate)
            legend
              span Your Details
            fieldset.form-group.m-b-0
                div.row.m-b-2
                  label.form-label Mobile Phone Number
                  input#mobilePhoneInput.form-control.m-b-0(type='tel', allow-data="numbers-only", name='mobilePhoneInput' ng-model='signupAccSetupCtrl.model.mandatoryInfo.mobilePhoneInput' ui-mask='(999) 999-9999' placeholder="Enter your Phone Number" ui-mask-placeholder required)

                  span.error-block.m-t-1(ng-show="(signupAccSetupCtrl.form.mobilePhoneInput.$touched && signupAccSetupCtrl.form.mobilePhoneInput.$error.required) || (signupAccSetupCtrl.form.mobilePhoneInput.$dirty && signupAccSetupCtrl.form.mobilePhoneInput.$error.required) || (signupAccSetupCtrl.form.$submitted  && signupAccSetupCtrl.form.mobilePhoneInput.$error.required)") Please enter the Mobile Phone Number
                div.row.m-b-2
                  birthday-picker(day="signupAccSetupCtrl.model.day" year="signupAccSetupCtrl.model.year" month="signupAccSetupCtrl.model.month" valid-date-check="signupAccSetupCtrl.model.validDate()")

                  span.m-t-1(ng-show="signupAccSetupCtrl.model.hasError.err" class="error-block") {{signupAccSetupCtrl.model.hasError.message}}
                div.row.m-b-2
                    label.form-label Social Security Number
                    input#ssnInput.form-input.password-input.m-b-0(type='{{signupAccSetupCtrl.model.inputType}}', allow-data="numbers-only", placeholder="Enter Social Security Number" ui-mask-placeholder name="ssnInput" ng-model='signupAccSetupCtrl.model.mandatoryInfo.ssnInput' ui-mask='999-99-9999' ui-options="{clearOnBlur: false}" required fieldspinner)

                    img#passwordImage.password-icon(ng-src="{{signupAccSetupCtrl.model.currentState == 'masked'? signupAccSetupCtrl.model.passwordimage.text: signupAccSetupCtrl.model.passwordimage.mask}}" ng-click='signupAccSetupCtrl.model.changeImage()')
                    span.error-block.m-t-1(ng-show="(signupAccSetupCtrl.form.ssnInput.$touched && signupAccSetupCtrl.form.ssnInput.$error.required) || (signupAccSetupCtrl.form.ssnInput.$dirty && signupAccSetupCtrl.form.ssnInput.$error.required) || (signupAccSetupCtrl.form.$submitted  && signupAccSetupCtrl.form.ssnInput.$error.required)") Please enter the Social Security Number
                    p.small.m-b-0 We only use this information to set up your business. We will keep it secure and this is just placeholder copy.
                div.radio.row.m-b-2.clearfix
                    p Have you or an immediate family member been a Nu Skin Distributor before?
                    div.m-b-0.clearfix
                      div.col-sm-3.col-md-2.col-lg-2.p-l-0
                        input.form-input(type='radio' id="Yes" name ="wasNuSkinDistributor" value="Yes" ng-model="signupAccSetupCtrl.model.wasNuSkinDistributorChecked" ng-required= "!signupAccSetupCtrl.model.wasNuSkinDistributorChecked")
                        label Yes
                      div
                        input.form-input(type='radio' id="No" name ="wasNuSkinDistributor" value="No" ng-model="signupAccSetupCtrl.model.wasNuSkinDistributorChecked" ng-required ="!signupAccSetupCtrl.model.wasNuSkinDistributorChecked")
                        label No
                      span.col-sm-12.error-block.p-l-0(ng-show="!signupAccSetupCtrl.model.wasNuSkinDistributorChecked && signupAccSetupCtrl.form.$submitted") Please select a value
                div.row
                    button.btn.btn-block.btn-primary(ng-click='signupAccSetupCtrl.model.submitMandatoryInfo()', ng-hide='signupAccSetupCtrl.model.optionalForm && signupAccSetupCtrl.form.$valid', du-smooth-scroll='optional-form' ng-disabled="((signupAccSetupCtrl.form.$dirty && signupAccSetupCtrl.form.$invalid) || signupAccSetupCtrl.displayFieldSpinner)") SAVE & CONTINUE

  #optional-form(ng-show='signupAccSetupCtrl.model.optionalForm && signupAccSetupCtrl.form.$valid')
    #accordionform.container-fluid.no-gutter
      .row
        .col-sm-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.no-gutter
          .info-page-heading
            p.optional-heading Optional Info
          .inverse
            p.optional-info-text
              | The following sections are all optional and you can fill them out later if you want. But the more you do now the less you need to add later!
          #accordion.panel-group(role='tablist', aria-multiselectable='true')
            .panel.panel-default.col-sm-12.no-gutter
              #address-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#address', aria-expanded='false', aria-controls='address', ng-class="{'completed': signupAccSetupCtrl.model.isCompleteAddress}")
                    span 1. ADDRESS
              #address.panel-collapse.collapse(role='tabpanel', aria-labelledby='address-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include ./signup.acc.setup.address.jade
            .panel.panel-default.col-sm-12.no-gutter
              #payment-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#payment', aria-expanded='false', aria-controls='payment',ng-class="{'completed': signupAccSetupCtrl.model.isCompletePayment}")  2. PAYMENT
              #payment.panel-collapse.collapse(role='tabpanel', aria-labelledby='payment-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include ./signup.acc.setup.payment.jade

            .panel.panel-default.col-sm-12.no-gutter
              #preferences-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#preferences', aria-expanded='false', aria-controls='collapseThree',ng-class="{'completed': signupAccSetupCtrl.model.isCompletePreferences}") 3. PREFERENCES
              #preferences.panel-collapse.collapse(role='tabpanel', aria-labelledby='preferences-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include ./signup.acc.setup.preferences.jade
            .panel.panel-default.col-sm-12.no-gutter
              #addFamily-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#addFamilyMember', aria-expanded='false', aria-controls='addFamilyMember',ng-class="{'completed': signupAccSetupCtrl.model.isCompleteAddFamily}") 4. ADD FAMILY
              #addFamilyMember.panel-collapse.collapse(role='tabpanel', aria-labelledby='addFamily-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include ./signup.acc.setup.addfamily.jade
            .panel.panel-default.col-sm-12.no-gutter
              #addAssociate-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='addAssociate',ng-class="{'completed': signupAccSetupCtrl.model.isCompleteAddAssociate}") 5. ADD BUSINESS ASSOCIATE
              #addAssociate.panel-collapse.collapse(role='tabpanel', aria-labelledby='#addAssociate-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include ./signup.acc.setup.addassociate.jade

            button.btn.btn-block.btn-secondary(ng-click="signupAccSetupCtrl.model.moveNext()") SKIP AND CONTINUE
