ng-form.signupform(name="preferencesForm" novalidate)

	fieldset.form-group.form-main
		div.row.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
				label(for='gender') Gender
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter.m-b-2
				div.radio-custom
					input#male(type="radio" name="gender" value="male" ng-model="signupAccSetupCtrl.model.preferences.gender")
					label.form-label(for="male") Male
				div.radio-custom
					input#female(type="radio" name="gender" value="female" ng-model="signupAccSetupCtrl.model.preferences.gender")
					label.form-label(for="female") Female
		div.row.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter.m-b-2
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
				label(for='marketingSignup' display="block") Sign up for Nu Skin marketing mails?
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
				div.radio-custom
					input#yes(type='radio' name="marketingSignup" value="yes" ng-model="signupAccSetupCtrl.model.preferences.marketingSignup" required ng-checked="true")
					label.form-label(for="yes") Yes
				div.radio-custom
					input#no(type='radio' name="marketingSignup" value="no" ng-model="signupAccSetupCtrl.model.preferences.marketingSignup" required)
					label.form-label(for="no") No
		//- NOTE :: In Apha release user has to no option to choose preference. By default the communication channel is email.
		//- The contact preferences feature may however be used in later release hence the code is commented and not deleted.
		//- div.row.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter.m-b-2
		//- 	div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
		//- 		label(for='contactPreference' display="block") Contact Preference
		//- 	div.col-lg-12.col-md-12.col-sm-12.col-xs-12.no-gutter
		//- 		div.radio-custom
		//- 			input#text(type='radio' name="contactPreference" value="text" ng-model="signupAccSetupCtrl.model.preferences.contactPreference" required)
		//- 			label.form-label(for="text" ) Text
		//- 		div.radio-custom
		//- 			input#email(type='radio' name="contactPreference" value="email" ng-model="    signupAccSetupCtrl.model.preferences.contactPreference" required ng-checked="true")
		//- 			label.form-label(for="email") Email
		//- 		div.radio-custom
		//- 			input#mail(type='radio' name="contactPreference" value="mail" ng-model="signupAccSetupCtrl.model.preferences.contactPreference" required)
		//- 			label.form-label(for="mail") Mail

		div.row.text-center
			button.btn.btn-primary.btn-block.btn-save(type='submit', data-toggle='collapse', data-parent='#accordion', data-target='#addFamilyMember', aria-expanded='false', aria-controls='preferences', ng-click='signupAccSetupCtrl.model.submitPref()') SAVE & CONTINUE
			a.policy-link.m-b-0.text-center(data-toggle='collapse', data-parent='#accordion', data-target='#addFamilyMember', aria-expanded='false', aria-controls='addFamilyMember',ng-click="signupAccSetupCtrl.model.resetForm(preferencesForm)") Skip for later
