ng-form.signupform(name="paymentForm" novalidate)
  fieldset
    div.row.m-b-2
      label.form-label Name on Account
      input#accname.form-control.m-b-0(type='text' name='accname' ng-model='signupAccSetupCtrl.model.payment.accName' required ng-class="{'ng-touched': signupAccSetupCtrl.model.isCompletePayment}")
      div(ng-messages='paymentForm.accname.$error', ng-show="paymentForm.accname.$touched || signupAccSetupCtrl.model.isCompletePayment" class="error-block")
          div(ng-message='required') Please enter a value for this field.
    div.row.form-group.m-b-2
      label.form-label Account Type
      div.radio
          input(type='radio' id="acctype1" name ="acctype" value="Checking" ng-model='signupAccSetupCtrl.model.payment.accType' required)
          label(for="acctype1") Checkings
      div.radio.m-t-8px
          input(type='radio' id="acctype2" name ="acctype" value="Saving" ng-model='signupAccSetupCtrl.model.payment.accType' required)
          label(for="acctype2") Savings
      div(ng-messages='paymentForm.acctype.$error', ng-show="paymentForm.acctype.$touched || signupAccSetupCtrl.model.isCompletePayment" class="error-block")
          div(ng-message='required') Please enter a value for this field.
    div.row.m-b-2
      label.form-label Routing Number
      input#routingnum.form-control.m-b-0(type='tel', allow-data="numbers-only", name ="routingnum" ng-model='signupAccSetupCtrl.model.payment.routingNum' customzip required ng-blur="signupAccSetupCtrl.model.checkLength('r', paymentForm)" ng-class="{'ng-invalid': signupAccSetupCtrl.model.invalidRoutingLength,'ng-touched': signupAccSetupCtrl.model.isCompletePayment}")
      div(ng-messages='paymentForm.routingnum.$error', ng-show="paymentForm.routingnum.$touched || signupAccSetupCtrl.model.isCompletePayment" class="error-block" )
          div(ng-message='required') Please enter a value for this field.
          div(ng-message='invalidRoutingLength') Please enter 9 digit long value for this field.
    div.row.m-b-2
      label.form-label Account Number
      input#accnum.form-control.m-b-0(type='tel', allow-data="numbers-only", name ="accnum" ng-model='signupAccSetupCtrl.model.payment.accNum' required ng-blur="signupAccSetupCtrl.model.checkLength('b', paymentForm)" ng-class="{'ng-invalid': signupAccSetupCtrl.model.invalidAccountLength, 'ng-touched': signupAccSetupCtrl.model.isCompletePayment}" allow-pattern)
      div(ng-messages='paymentForm.accnum.$error', ng-show="paymentForm.accnum.$touched || signupAccSetupCtrl.model.isCompletePayment" class="error-block")
          div(ng-message='required') Please enter a value for this field.
          div(ng-message='invalidAccountLength') Please enter 34 characters valid value for this field.

    div.form-group.row.checkbox
      input(type='checkbox', id="directpolicy",name="directpolicy" value="directpolicybox" ng-model="signupAccSetupCtrl.model.payment.policyCheck" required ng-class="{'ng-touched': signupAccSetupCtrl.model.isCompletePayment}")
      label.form-label I agree to the&nbsp;
        a.policy-link.form-label(data-toggle="modal" data-target="#directPolicyModal") Direct Deposit Policy
      div(ng-messages='paymentForm.directpolicy.$error', ng-show="paymentForm.directpolicy.$touched || signupAccSetupCtrl.model.isCompletePayment" class="error-block")
        div(ng-message='required') Please accept the Direct Deposit Policy
    div#directPolicyModal.modal.fade(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button" data-dismiss="modal" padding="2px").close &times;
          div.modal-body
            h3.form-label Direct Deposit Policy
            p(ng-bind-html="signupAccSetupCtrl.model.directPolicyContent")


    div.row.text-center
      button.btn.btn-primary.btn-block.pull-lg-right.btn-save.collapsed(type='submit', data-toggle='{{paymentForm.$valid ? "collapse": ""}}', data-parent='#accordion', data-target='#preferences', aria-expanded='false', aria-controls='preferences', ng-click='signupAccSetupCtrl.model.submitPayment()' ) SAVE & CONTINUE
      a.policy-link.collapsed.m-b-0.text-center(data-toggle='collapse', data-parent='#accordion', data-target='#preferences', aria-expanded='false', aria-controls='preferences',ng-click="signupAccSetupCtrl.model.resetForm(paymentForm)") Skip for later
