ng-form(novalidate, name='familyInfo')
    fieldset.form-group.form-main
        div.form-group.row
            div.additional-info
                p.paratext Want to share your personal shopping account with friends and family? Send them an invitation to join your account.

                h5.form-label Friends and family on your shared account will use your billing details by default, so choose wisely! As the account holder, you'll retain administrative privileges.

                div#moreInfo
                p.policy-link.form-label.pointer(ng-model="collapsed" ng-click="collapsed=!collapsed" ng-hide="collapsed") See More
                div(ng-show="collapsed")
                    div.form-label(ng-repeat="value in signupAccSetupCtrl.model.moreInfoText")
                        .moreInfoText.form-label
                        h5 {{$index+1}} | {{value.moreinfocontent}}
                div(ng-show="collapsed")
                    p.policy-link.form-label.pointer(ng-model="collapsed" ng-click="collapsed =!collapsed") See Less
                div.form-group.row(ng-show="signupAccSetupCtrl.model.isMemberPresent")
                    div#memberList.col-sm-6.member-container(ng-show="signupAccSetupCtrl.model.isMemberPresent && signupAccSetupCtrl.model.familyMemberList.length > 1" ng-repeat="member in signupAccSetupCtrl.model.familyMemberList")
                        .member-title {{member.firstname}} {{member.lastname}}
                        h5.form-label {{member.accountstatus}}
                    div#memberList.col-sm-12.member-container(ng-show="signupAccSetupCtrl.model.isMemberPresent && signupAccSetupCtrl.model.familyMemberList.length == 1" ng-repeat="member in signupAccSetupCtrl.model.familyMemberList")
                        .member-title {{member.firstname}} {{member.lastname}}
                        h5.form-label {{member.accountstatus}}
            div#addMembers.form-group.row.m-t-3(ng-model="showMemberForm" ng-click="signupAccSetupCtrl.model.showMemberForm = !signupAccSetupCtrl.model.showMemberForm" ng-hide="signupAccSetupCtrl.model.showMemberForm || signupAccSetupCtrl.addNewMember.$submitted")
                    .separator-line
                        .circle.pointer
                            .add-icon
                            .separator-text Add
        ng-form.signupform(novalidate name="signupAccSetupCtrl.addNewMember" ng-if="signupAccSetupCtrl.model.showMemberForm" ng-init="signupAccSetupCtrl.model.familyInfo={\"contactByEmail\":true}")
            fieldset.form-group
                div.row.m-b-2
                    label.form-label First Name
                    input#firstname.form-control.m-b-0(type='text' name='firstname' ng-model='signupAccSetupCtrl.model.familyInfo.firstname' required ng-class="{'ng-touched': signupAccSetupCtrl.addNewMember.$submitted}")
                    span.error-block.m-t-1(ng-show="(signupAccSetupCtrl.addNewMember.firstname.$touched && signupAccSetupCtrl.addNewMember.firstname.$error.required) || (signupAccSetupCtrl.addNewMember.firstname.$dirty && signupAccSetupCtrl.addNewMember.firstname.$error.required) || (signupAccSetupCtrl.addNewMember.$submitted  && signupAccSetupCtrl.addNewMember.firstname.$error.required)") Please enter First Name
                div.row.m-b-2
                    label.form-label Last Name
                    input#lastname.form-control.m-b-0(type='text' name='lastname' ng-model='signupAccSetupCtrl.model.familyInfo.lastname' required ng-class="{'ng-touched': signupAccSetupCtrl.addNewMember.$submitted}")
                    span.error-block.m-b-1(ng-show="(signupAccSetupCtrl.addNewMember.lastname.$touched && signupAccSetupCtrl.addNewMember.lastname.$error.required) || (signupAccSetupCtrl.addNewMember.lastname.$dirty && signupAccSetupCtrl.addNewMember.lastname.$error.required) || (signupAccSetupCtrl.addNewMember.$submitted  && signupAccSetupCtrl.addNewMember.lastname.$error.required)") Please enter Last Name
                div.row
                    //- label.form-label Contact Preference
                //- div.btn-group.row.contact-preference.m-b-1
                //-     input.btn(type='button' name="emailinput" value="EMAIL" ng-click="signupAccSetupCtrl.model.selectPreference('email','F')" ng-class="{'contact-button-mail-selected': signupAccSetupCtrl.model.familyInfo.contactByEmail,'contact-button-mail' : (!signupAccSetupCtrl.model.familyInfo.contactByEmail || signupAccSetupCtrl.model.familyInfo.contactByEmail == 'undefined')}")
                //-     input.btn(type='button' name="phoneinput" value="PHONE" ng-click="signupAccSetupCtrl.model.selectPreference('phone','F')" ng-class="{'contact-button-phone-selected': signupAccSetupCtrl.model.familyInfo.contactByPhone,'contact-button-phone' : (!signupAccSetupCtrl.model.familyInfo.contactByPhone || signupAccSetupCtrl.model.familyInfo.contactByPhone == 'undefined')}")
                div.row.m-b-1(ng-show="signupAccSetupCtrl.model.familyInfo.contactByEmail==true")
                    div.col-sm-12.no-gutter
                        email-phone(credentials='signupAccSetupCtrl.model.familyInfo.emailValueObj', is-email ='true', title="Email", is-required='signupAccSetupCtrl.model.familyInfo.contactByEmail==true', ng-class="{'ng-touched': signupAccSetupCtrl.addNewMember.$submitted}" is-submitted="signupAccSetupCtrl.addNewMember.$submitted")
                //- div.row
                //-     .col-sm-12.no-gutter(ng-show="(signupAccSetupCtrl.model.familyInfo.contactByEmail==false)")
                //-         email-phone(credentials='signupAccSetupCtrl.model.familyInfo.emailValueObj', is-phone ='true', title="Phone", is-required='signupAccSetupCtrl.model.familyInfo.contactByEmail==false', ng-class="{'ng-touched': signupAccSetupCtrl.addNewMember.$submitted}" is-submitted="signupAccSetupCtrl.addNewMember.$submitted")
                div.row.text-center
                    button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit' ng-click="signupAccSetupCtrl.model.updateMember()") Send Invite
                    a.policy-link.text-center.m-b-0( data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='addAssociate' ng-click="signupAccSetupCtrl.model.skipFamilySection()") Skip for later
        div.row.text-center(ng-show="signupAccSetupCtrl.model.isMemberPresent" ng-hide = "signupAccSetupCtrl.model.showMemberForm")
            button.btn.btn-primary.btn-block.pull-lg-right.btn-save(type='submit', data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='preferences', ng-click='signupAccSetupCtrl.model.submitFamilyInfo()') SAVE & CONTINUE
            a.policy-link.text-center.m-b-0(data-toggle='collapse', data-parent='#accordion', data-target='#addAssociate', aria-expanded='false', aria-controls='addAssociate') Skip for later
