@import "../../../../src/stylesheets/partials/variables.scss";
.signupaccsetupcontainer {
    main {
        @extend main;
        padding: 2rem 0 0 0;
    }
    .container {
        width: 100%;
    }
    // Optional Form
    fieldset {
        padding: 0 1.250em;
    }

    .m-t-8px{
        margin-top: 8px;
    }
    .radio {
        .m-b-0 {
            margin-bottom: 0.65em !important;
        }
        p {
            font-weight: normal;
            font-size: 0.875rem;
            color: $gray-black;
            line-height: 1.29;
            margin-bottom: 0.725em;
        }
        label {
            font-size: 1rem;
            font-weight: $proxima-light;
            margin-bottom: 0 !important;
        }
        .col-sm-3 {
            padding-right: 0.438em;
        }
    }
    .center {
        text-align: center;
    }
    p.small {
        margin-top: .625em;
        font-weight: $proxima-light;
        margin-bottom: 0;
    }
    .policy-link {
        font-size: .8125rem;
        line-height: 1.4;
        color: $brand-primary;
        font-weight: $proxima-light;
        margin-left: 0.31;
        text-decoration: none;
    }
    .valid-age-label {
      font-weight: $proxima-light;  
    }
    .ssn-error-msg {
        display: none;
    }
    #optional-form {
        background: $cayman;
        min-height: 100vh;
        padding: 1em;
        opacity: 1;
        transition: all .75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        &.ng-hide {
            opacity: 0;
        }
        .select-wrapper select.form-control {
            background-color: transparent;
            position: relative;
            cursor: pointer;
            z-index: 10;
            -webkit-appearance: none;
            -moz-appearance: none;
            box-shadow: none;
        }
        .additional-info {
            margin: 0 auto;
            text-align: center;
        }
        h5 {
            text-transform: none;
            font-weight: $proxima-light;
        }
        .separator-line {
            width: 90%;
            height: 1px;
            background-color: $gray-lighter;
            position: relative;
            margin: 5%;
            text-align: center;
        }
        .circle {
            display: inline-block;
            vertical-align: middle;
            width: 2.8125em;
            height: 2.8125em;
            background-color: $brand-primary;
            border: solid 1px $brand-primary;
            border-radius: 50%;
            position: static;
            top: 0;
            left: 0;
            margin-top: -1.5em;
            text-align: center;
            color: $gray;
        }
        .separator-text {
            text-align: center;
            font-weight: $proxima-light;
            font-size: .8rem;
            line-height: 1rem;
            top: 0.188em;
            color: $white;
        }
        .add-icon {
            background: url('../../../../src/assets/images/css/add.svg') no-repeat 0.8125rem 0;
            height: 0.9375em;
            margin-top: .5em;
            color: $white;
        }
        .contact-preference {
            display: inline-block;
            float: left;
        }
        .contact-button-mail {
            background: $gray-lightest;
            color: $gray;
            border-right: $gray-light 1px solid;
            border-radius: 1.25em 0 0 1.25em;
            -moz-border-radius: 1.25em 0 0 1.25em;
            -webkit-border-radius: 1.25em 0 0 1.25em;
        }
        .contact-button-phone {
            background: $gray-lightest;
            font-weight: 400;
            font-size: .8rem;
            color: $gray;
            border-radius: 0 1.25em 1.25em 0;
            -moz-border-radius: 0 1.25em 1.25em 0;
            -webkit-border-radius: 0 1.25em 1.25em 0;
        }
        .contact-button-mail-selected {
            background-color: $aqua;
            border-radius: 1.25em 0px 0px 1.25em;
            -moz-border-radius: 1.25em 0px 0px 1.25em;
            -webkit-border-radius: 1.25em 0px 0px 1.25em;
        }
        .contact-button-phone-selected {
            background-color: $aqua;
            border-radius: 0 1.25em 1.25em 0;
            -moz-border-radius: 0 1.25em 1.25em 0;
            -webkit-border-radius: 0 1.25em 1.25em 0;
        }
        .contact-preference {
            display: inline-block;
            float: left;
        }
        .contact-button-mail {
            background: $gray-lightest;
            border-right: $gray-light 1px solid;
            border-radius: 1.25em 0 0 1.25em;
            -moz-border-radius: 1.25em 0 0 1.25em;
            -webkit-border-radius: 1.25em 0 0 1.25em;
        }
        .contact-button-phone {
            background: $gray-lightest;
            border-radius: 0 1.25em 1.25em 0;
            -moz-border-radius: 0 1.25em 1.25em 0;
            -webkit-border-radius: 0 1.25em 1.25em 0;
        }
        .contact-button-mail:active {
            background-color: $aqua;
        }
        .contact-button-phone:active {
            background-color: $aqua;
        }
        .member-container {
            .member-title {
                font-weight: 300;
                font-size: 1rem;
                line-height: 1.5;
                color: $gray-dark;
                text-transform: uppercase;
            }
            h5 {
                line-height: 1.85;
                color: $gray-light;
            }
        }
        .associate-list {
            p {
                line-height: 1.5;
                color: $gray-dark;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            h5 {
                line-height: 1.85;
                color: $gray-light;
            }
        }
        .collapsing {
            transition-duration: .5s;
        }
        .container.sm-full-width {
            width: 100%;
        }
        .customer-header + .container {
            margin-top: -4em;
        }
        p.optional-heading {
            font-size: 1.813rem;
            line-height:1.1;
            margin-bottom: 1.25rem;
            color: $white;
            text-align: center;
            font-weight: 300;
            text-transform: uppercase;
        }
        p.optional-info-text {
            margin-bottom: 1.5rem;
        }
    }
    form {
        margin: 1rem 0 0 0;
    }
    @media (max-width: 1440px) {
        .circle {
            margin-left: 0.0625rem;
        }
    }
    @media (min-width: 1440px) {
        .customer-header + .container {
            margin-top: -3.5em;
        }
        .circle {
            margin-left: 0px;
        }
    }
    @media screen and (min-width: 768px) {
        .container.sm-full-width {
            margin-top: -3.5em;
        }
    }
    @media (min-width: 360px) and (max-width: 767px) {
        #optional-form .circle {
            left: 38%;
        }
    }
    @media screen and (min-width:360px) and (max-width: 767px) {
        .radio-custom + .radio-custom,
        .checkbox + .checkbox {
            margin-top: 0.5rem;
        }
    }
}
