ng-form.m-b-0(novalidate, name='optionalAddress')
  fieldset.form-group.form-main
    div.row.m-b-2
      label.form-label(for='streetAddress') Street Address
      input#streetAddress.form-control.m-b-0(type='text', ng-model='signupAccSetupCtrl.model.address.streetAddress', name="streetAddress" required ng-class="{'ng-touched': signupAccSetupCtrl.model.addressSubmitted}")
      div(ng-messages='optionalAddress.streetAddress.$error', ng-show="optionalAddress.streetAddress.$touched || signupAccSetupCtrl.model.addressSubmitted" class="error-block")
          div(ng-message='required') Please enter a value for this field.
    div.row.m-b-2
      label.form-label(for='streetAddress2') Street Address #2
      input#streetAddress2.form-control.m-b-0(type='text', ng-model='signupAccSetupCtrl.model.address.streetAddress2')
    div.row.m-b-2
      label.form-label(for='city') City
      input#city.form-control.m-b-0(type='text', ng-model='signupAccSetupCtrl.model.address.city' name="city" required ng-class="{'ng-touched': signupAccSetupCtrl.model.addressSubmitted}" allow-pattern="alphabets-only")
      div(ng-messages='optionalAddress.city.$error', ng-show="optionalAddress.city.$touched || signupAccSetupCtrl.model.addressSubmitted" class="error-block")
          div(ng-message='required') Please enter a value for this field.
    div.row.form-group.m-b-2
      label.form-label(for='state') State
      div.select-wrapper.col-sm-12.no-gutter
          select#state.form-control.m-b-0(name="state" ng-model='signupAccSetupCtrl.model.address.state' ng-options="state.abbreviation as state.name for state in signupAccSetupCtrl.model.stateList" required ng-class="{'ng-touched': signupAccSetupCtrl.model.addressSubmitted}")
              option(value='', disabled='')
      div(ng-messages='optionalAddress.state.$error', ng-show="optionalAddress.state.$touched || signupAccSetupCtrl.model.addressSubmitted" class="error-block")
          div(ng-message='required') Please enter a value for this field.
    div.row.m-b-2.m-t-0
      label.form-label(for='zipcode') Zip Code
      input#zipcode.form-control.m-b-0(type='tel', ng-model='signupAccSetupCtrl.model.address.zipcode' name="zipcode" required ng-class="{'ng-touched': signupAccSetupCtrl.model.addressSubmitted}", zip-mask, maxlength="10")
      div(ng-messages='optionalAddress.zipcode.$error', ng-show="optionalAddress.zipcode.$touched || signupAccSetupCtrl.model.addressSubmitted" class="error-block" )
          div(ng-message='required') Please enter a value for this field.
      div.error-block( ng-show="((signupAccSetupCtrl.model.address.zipcode.length<5) || (signupAccSetupCtrl.model.address.zipcode.length>5 && signupAccSetupCtrl.model.address.zipcode.length <10))") Please enter a valid zip code. 
    div.row.text-center
      button.btn.btn-block.pull-lg-right.btn-primary.collapsed(type='submit', data-toggle='{{optionalAddress.$valid ? signupAccSetupCtrl.model.addressToggle : ""}}', data-parent='#accordion', data-target='#payment', aria-expanded='false', aria-controls='payment' ng-click='signupAccSetupCtrl.model.submitAddress(optionalAddress)') SAVE & CONTINUE
      a.policy-link.text-center.m-b-0(data-toggle='collapse', data-parent='#accordion', data-target='#payment', aria-expanded='false', aria-controls='payments',ng-click="signupAccSetupCtrl.model.resetForm(optionalAddress)") Skip for later
