div.checkout-guest-and-distributor
	div.checkout-container
		.checkout-title-container.no-gutter
			section.header
				div.section.invite-banner
					div.container-fluid.p-t-1(align="left")
						div.text-white.logo-header(align="center")
								h1.text-white.text-uppercase Send Invite

					div.steps
						div.container-fluid.clearfix.displayTable.actionMenu(align="center")
							div.pull-left.active.relative.signupType-logo-active
								div.active-arrow-up
							div.pull-left.inviteLink-logo.m-r-0
					div.step-indicator
						small.text-uppercase.text-white Sign up type
		div.fullWidth.error-wrapper
			page-level-error-component(ng-show="ctrl.model.showErrorSelection" error-message="ctrl.errorMessage" danger-type="true")
		.distributor-content-container.no-gutter.m-t-2
			.invite-type-wrapper
				form(name='inviteTypeForm' novalidate)
					div.invite-content
						p.text-center What type of invite would you like to create?
					div.m-t-2.card-wrapper
						#customer-type.customer-card.clearfix(ng-click="ctrl.selectCustomer()" ng-class="{'distributor-active' : (ctrl.model.isCustomerSelected && !ctrl.model.isDistributorSelected)}")
							.customer-section.col-sm-12.no-gutter.m-b-2
								div.text-center.p-t-2.p-b-2.pointer
									div.customer-icon(ng-class="{'active-customer' : ctrl.model.isCustomerSelected}")
										span.card-heading.text-center Customer
									p.card-content.m-t-0_5.m-b-0 A prospect interested in purchasing NU SKIN products and services.
								div.hide-customer-option(ng-class="{'show-customer-option' :ctrl.model.isCustomerSelected}") 
									div.customer-preference.no-gutter.reset
										h5.m-t-2.text-center Select customer type	
									
									div.customer-options.m-t-0
										div.radio-custom.m-b-2.m-t-0(align="left")
												input#preferredCustomer(type='radio' name="customerType" value="Preferred" ng-model="ctrl.model.customerType" ng-required="ctrl.model.isCustomerSelected")
												label.card-heading(for="preferredCustomer" ) Preferred					
												label.card-content-text.m-b-0.no-gutter A prospect interested in purchasing NU SKIN products and services.

										div.radio-custom.m-b-0(align="left")
												input#retailCustomer(type='radio' name="customerType" value="Retail" ng-model="ctrl.model.customerType" ng-required="ctrl.model.isCustomerSelected")
												label.card-heading(for="retailCustomer") Retail					
												label.card-content-text.m-b-0.no-gutter A prospect interested in purchasing NU SKIN products and services.

						.customer-card.clearfix.no-gutter.m-t-2.pointer(ng-click="ctrl.selectDistributor()" ng-class="{'distributor-active' : (ctrl.model.isDistributorSelected && !ctrl.model.isCustomerSelected)}")
							.customer-section.col-sm-12.m-t-2.m-b-2
								div.text-center
									div.distributor-icon(ng-class="{'active-distributor' : ctrl.model.isDistributorSelected}")
										span.card-heading Distributor						
									p.card-content.m-t-0_5.m-b-0 A prospect interested in purchasing NU SKIN products and services.


					div.m-t-2
						button.btn.btn-primary(type="submit" ng-click="inviteTypeForm.$valid && ctrl.gotoInvitePage('/#/distributorSignup/distributorInviteLink')") Continue
						button.btn.btn-primary-outline.fullWidth(type="submit" ng-click="ctrl.gotoPage('/#/accountsettingsbusinesspage')") Cancel
						