.my-store-header-container
  .header-panel.col-sm-12.no-gutter.hidden-lg-up
    .my-store-heading.col-sm-8
      .heading-text
        a(href="#/mediaCenter/list") MY STORE
    .media-header-expandable.col-sm-4
      .dropdown(ng-click='ctrl.toggledd();')
        a.dropdown-toggle(data-toggle='dropdown')
          .dropdown-image-down(ng-show="!ctrl.dropdown")
          .dropdown-image-up(ng-show="ctrl.dropdown")
    .my-store-search.pointer(data-toggle='modal', data-target='#searchModal',ng-click="ctrl.callSearch();")
    .media-dropdown-panel(ng-show="ctrl.dropdown")
      .dropdown-category-name(ng-click='ctrl.toggledd();')
        a(href="#") ANALYTICS
      .dropdown-category-name(ng-click='ctrl.toggledd();')
        a(href="#") MESSAGES
      .dropdown-category-name(ng-click='ctrl.toggledd();')
        a(href="#/myStore/contactInfo") CONTACT INFO
  .header-panel.col-sm-12.no-gutter.hidden-md-down
    .my-store-heading
      .my-store-icon
      .heading-text-large
        a(href="#") MY STORE
    .my-store-nav-large
      span.my-store-nav-text
        a(href="#") ANALYTICS
      span.my-store-nav-text
        a(href="#/myStore/contactInfo") MESSAGES
      span.my-store-nav-text
        a(href="#/myStore/contactInfo") CONTACT INFO
    .my-store-search-large.clearfix.pointer(data-toggle='modal', data-target='#searchModal',ng-click="ctrl.callSearch();")
