@import "../../../../../src/stylesheets/partials/variables.scss";

  .my-store-header-container {

    a{
      text-decoration: none;
    }

    .header-panel{
      height: 3.938em;
      background: rgba(255,255,255,0.93);
      border-bottom: 2px solid $gray45;
      position: absolute;
      z-index: 1;
    }

    .my-store-heading{
      padding-top: 1em;
      padding-left: 3.125em;
      display: inline-block;
      a{
        color: $gray-dark;
      }
    }

  .heading-text{
    display: inline-block;
    font-size: 1em;
    font-weight: $proxima-light;
    letter-spacing: -0.1px;
    color: $gray-dark;
  }

  .dropdown-toggle::after{
    display: none;
  }

  .heading-text-large{
    display: inline-block;
    padding-left: 0.563em;
    font-size: 1.375em;
    font-weight: $proxima-thin;
    letter-spacing: -0.2px;
    color: $gray-dark;
    &:after {
      content:"|";
      width:0.2em;
      height:1.5em;
      padding-left: 1.5em;
      padding-right: 1.25em;
      color: $gray45;
    }
  }

  .media-header-expandable{
    padding-top: 1.15em;
    padding-right: 1.25em;
  }

  .dropdown-image-down{
    height: 1.625em;
    width: 1.625em;
    float: right;
    background: url(../../../../../src/assets/images/css/ic-dropdown.svg) center no-repeat;
  }
  .dropdown-image-up{
    height: 1.625em;
    width: 1.625em;
    float: right;
    background: url(../../../../../src/assets/images/css/ic-dropdown-up.svg) center no-repeat;
  }

  .media-dropdown-panel{
    position: absolute;
    top: 100%;
    width: 100%;
    background: $white;
    z-index: 1;
    border-bottom: 2px solid $gray45;
    opacity: 0.96;
    a{
      color:$gray-dark;
      cursor: pointer;
    }
  }

  .dropdown-category-name{
    padding-left: 3em;
    padding-bottom: 1.50em;
    font-size: 1em;
    font-weight: $proxima-thin;
    letter-spacing: -0.1px;
    color: $gray-dark;
    cursor: pointer;
  }

  .my-store-icon{
    height: 1.938em;
    width: 1.938em;
    float: left;
    background: url(../../../../../src/assets/images/css/my-store-gray.svg) center no-repeat;
  }
  .my-store-nav-large{
    display: inline-block;
    a{
      color: $gray-dark;
    }
  }
  .my-store-nav-text{
    font-size: 1em;
    padding-right: 1.875em;
    font-weight: $proxima-light;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    color: $gray-dark;
  }
}

@media screen and (min-width: 318px) and (max-width: 767px) {
  .my-store-header-container {
    .header-panel{
      height: 3.125em;
    }
    .my-store-heading{
      padding-top: 0.9em;
      padding-left: 1.25em;
    }
    .media-header-expandable{
      padding-top: 0.75em;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .my-store-header-container {
    .my-store-heading{
      padding-top: 1.25em;
      padding-left: 1.25em;
    }
  }
}
