@import "../../../../src/stylesheets/partials/variables.scss";
.fullWidth {
    width: 100%;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.checkout-title-container {
    .content {
        padding-bottom: 1.25rem;
    }
    .error-wrapper button.cross {
        top: 0.5em;
        width: 2em;
        height: 2em;
    }
    div.section {
        height: auto;
        max-height: 16.25rem;
    }
    .steps {
        height: 3.6875rem;
        background-color: rgba(255, 255, 255, 0.34);
        .actionMenu > div {
            margin: 0.625rem 1.5625rem 0 0;
            width: 2.25rem;
            height: 2.25rem;
            background-color: $brand-primary;
            border-radius: 1.25rem;
            padding: 0.1875rem 0;
        }
        .actionMenu > div.active {
            background-color: $aqua;
        }
    }
    .step-indicator {
        height: 2rem;
        background-color: $aqua;
        box-shadow: 0 -0.0625rem 0.3125rem 0 rgba(0, 102, 131, 0.2);
        border: solid 0.0625rem $white;
    }
}

.checkout-container {
    small {
        font-weight: $proxima-semibold;
    }
    h1 {
        font-size: 1.875em;
    }
    h5 {
        font-size: 0.813rem;
    }
    .radio-custom {
        border: none;
        text-align: left;
    }
    .radio-custom {
        input[type="radio"] {
            + label {
                text-transform: none;
                font-size: 1.5rem;
                color: $gray-dark;
                font-weight: $proxima-thin;
                transition: background-color .2s;
                padding: 0.2rem 0.5rem 0rem 1.5rem;
            }
            &:checked {
                + label {
                    background: none;
                }
            }
        }
    }
    .customer-icon {
        background: url('../../../../src/assets/images/css/customer-icon.svg') no-repeat left center;
        display: table;
        margin: 0 auto;
        padding-left: 3em;
    }
    .distributor-icon {
        background: url('../../../../src/assets/images/css/distributor-icon.svg') no-repeat left center;
        display: table;
        margin: 0 auto;
        padding-left: 3em;
    }
    .customer-preference {
        border-top: solid 1px $gray-dark-shade;
    }
    .btn-primary-outline {
        color: $brand-primary;
    }
    .content-list-wrapper {
        width: 20.313em;
        margin: 0 auto;
    }
    .link-content {
        width: 14.188em;
        margin: 0 auto;
    }
    .invite-content {
        width: 10.844em;
        margin: auto
    }
    .invite-type-wrapper {
        width: 20.313em;
        margin: 0 auto;
    }
    .invite-link-wrapper {
        width: 20.313em;
        margin: 0 auto;
    }
    .faded-text {
        color: $gray-cc;
        font-size: 0.750em;
        font-weight: $proxima-regular;
    }
    .user-link-container{
        width: 28.125rem;
        padding-right: 0.9375rem;
        p{
            font-size: 0.813rem;
            color: $gray;
            font-weight: 400;
        }
        .copy-btn{
            width: 8rem;
            float: left;
            margin-left: 1rem;
            padding-bottom: 11px;
        }
    }
    .blur-field{
        opacity: 0.4;
    }
    .user-link {
        font-size: 0.875rem;
        font-weight: $proxima-regular;
        color: $gray-black;
        border: 1px solid $gray-lighter;
        vertical-align: middle;
        line-height: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 18.125rem;
        float: left;
        padding: 0.875rem 0.75rem 0.75rem 0.75rem; 
    }
    .content-tips {
        font-size: 0.813rem;
        color: $gray;
        font-weight: $proxima-light;
    }
    .content-tips-header {
        font-size: 0.813rem;
        color: $gray;
        font-weight: $proxima-regular;
    }
    .content-tips-text {
        margin-left: 3em;
    }
    .active-customer {
        background: url('../../../../src/assets/images/css/customer-icon-active.png') no-repeat left center;
        display: table;
        margin: 0 auto;
        padding-left: 3em;
    }
    .active-distributor {
        background: url('../../../../src/assets/images/css/distributor-icon-active.png') no-repeat left center;
        display: table;
        margin: 0 auto;
        padding-left: 3em;
    }
    .card-content {
        font-size: 0.813rem;
        font-weight: $proxima-light;
        color: $gray-dark;
        text-align: center;
        padding: 0 3.875em;
    }
    .card-content-text {
        font-size: 0.813rem;
        font-weight: $proxima-light;
        color: $gray-dark;
        text-align: left;
        margin-left: 0.625em;
    }
    .customer-options {
        padding: 0 2.688em;
    }
    .card-heading {
        font-size: 1.5rem;
        color: $gray-dark;
        font-weight: $proxima-thin;
    }
    .email-section {
        height: 2.25em;
        font-size: 0.813rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $gray;
        text-align: left;
    }
    .content-image {
        width: 2em;
        height: 1.9em;
        object-fit: contain;
        float: left;
        margin-right: 1em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .text-white {
        color: $white;
    }
    .text-small {
        font-size: 0.688em;
        font-weight: $proxima-semibold;
    }
    .text-gray-dull {
        color: $gray-dull
    }
    .navigate-back {
        background: url('../../../../src/assets/images/css/ic-arrow-left-copy.png') no-repeat left center;
    }
    .logo-header {
        background: url('./../../../../src/assets/images/css/ic-brand-logo.svg') no-repeat center 0;
        margin-top: 0px;
        padding-top: 2.5em;
    }
    .signupType-logo-active {
        background: url(../../../../src/assets/images/css/page-icon.svg) $aqua no-repeat center center;
    }
    .signupType-logo-done {
        background: url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat center center, url(../../../../src/assets/images/css/page-icon.svg) no-repeat center center;
    }
    .inviteLink-logo {
        background: url(../../../../src/assets/images/css/link-icon.svg) $brand-primary no-repeat center center;
    }
    .inviteLink-logo-active {
        background: url(../../../../src/assets/images/css/link-icon.svg) $aqua no-repeat center center;
    }
    .inviteLink-logo-done {
        background: url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat center center, url(../../../../src/assets/images/css/link-icon.svg) no-repeat center center;
    }
    .label-section {
        font-size: 0.8125rem;
        font-weight: 600;
        line-height: 0.92;
    }
    .m-b-0_5 {
        margin-bottom: .5rem;
    }
    .m-t-0_5 {
        margin-top: .5rem !important;
    }
    .section-margin {
        margin-top: 2em;
    }
    .color-aqua {
        color: $aqua;
    }
    .displayTable {
        display: table;
    }
    .backgroundWhite {
        background: $white;
    }
    .m-r-5px {
        margin-right: 0.3125rem;
    }
    .customer-card {
        width: 20.313em;
        margin: 0 auto;
        border: solid 1px $gray-whisper;
    }
    .customer-content-wrapper {
        padding: 0 2.688em;
        text-align: left;
    }
    .hide-customer-option {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        -o-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    .show-customer-option {
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-transition-timing-function: ease-in;
        -webkit-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        max-height: 1000px;
        overflow: hidden;
    }
    .distributor-active {
        border: solid 1px $aqua;
    }
    .email-icon{
      background: url('../../../../src/assets/images/css/email-blue-outline.png') no-repeat center center;
    }

    .copy-icon{
      background: url('../../../../src/assets/images/css/copy-icon.png') no-repeat center center;
    }

    .message-icon{
        background: url('../../../../src/assets/images/css/message-icon.png') no-repeat center center;
    }
   button:hover {
    color: $white; 
}
    @media screen and (min-width: 768px) {
        .invite-type-wrapper {
            width: 27.125em;
        }
        .invite-link-wrapper {
            width: 27.125em;
        }
        .customer-card {
            width: 27.125em;
        }
        .card-content {
            padding: 0 6.313em;
        }
        .customer-content-wrapper {
            padding: 0 3.188em;
        }
        .customer-options {
            padding: 0 3.188em;
        }
    }
}

.top-section {
    margin-top: 1.375rem;
}


//Mobile
@media all and (min-width: 360px) and (max-width: 767px) {
    .checkout-container{
        .user-link-container{
            width: 100%;
            padding-right: 0px;
            .copy-btn{
                float: none;
                margin: 0.9375rem auto 0rem auto;
            }
            .pointer{
                overflow: hidden;
            }
            .user-link {
                width: 100%;
            }
        }
    }
}
