.container-fluid.no-gutter.account-linking
	.row.welcome-header
		.content-wrapper
			.imgwrapper-welcome
				.avatar-block
					img.avatar(ng-src='{{ctrl.distributor.profilePicture}}', alt='', width='100')
			.text-wrapper
				.welcome-title.inverse
					h2.m-b-0 Hello! I am {{ctrl.distributor.name}}  Welcome to my store
				.welcome-text.inverse
					p {{ctrl.distributor.welcomeMessage}}
