 @import "../../../../src/stylesheets/partials/variables.scss";
 .welcome-header {
     background: $brand-primary;
     min-height: 10.375em;
     display: block;
     .content-wrapper {
         width: 90em;
         min-height: 10.375em;
         margin: auto;
         display: flex;
         .imgwrapper-welcome {
             margin-left: 10.5em;
             display: inline;
             width: 5em;
             height: 5em;
             margin-top: 2.875em;
             .avatar-block {
                 width: 5em;
                 height: 5em;
                 margin: auto;
             }
             p {
                 
                 margin-top: 4px;
             }
             text-align: center;
         }
         .text-wrapper {
             display: flex;
             .welcome-title {
                 margin-left: 1.625em;
                 margin-top: 3.4375em;
                 width: 21.625em;
                 display: inline;
                 ;
                 h2 {

                     font-style: normal;

                     line-height: 1.21;
                 }
             }
             .welcome-text {
                 margin-left: 7em;
                 margin-top: 2.5em;
                 display: inline;
                 width: 27.1875em;
                 p {

                     font-style: normal;

                     line-height: 1.38;
                 }
             }
         }
     }
 }

 @media screen and (min-width: 1024px) and (max-width: 1439px) {
     .welcome-header {
         min-height: 11.6875em;
         display: block;
         .content-wrapper {
             width: 64em;
             margin: auto;
             .imgwrapper-welcome {
                 margin-left: 2.125em;
                 margin-top: 3.4375em;
             }
             .text-wrapper {
                 .welcome-title {
                     margin-left: 1.625em;
                     margin-top: 4em;
                     width: 21.625em;
                 }
                 .welcome-text {
                     margin-left: 2.25em;
                     margin-top: 3.06em;
                     width: 27.1875em;
                 }
             }
         }
     }
 }

 @media screen and (min-width: 768px) and (max-width: 1023px) {
     .welcome-header {
         min-height: 11.6875em;
         display: block;
         .content-wrapper {
             width: 48em;
             margin: auto;
             .imgwrapper-welcome {
                 margin-left: 8.4375em;
                 margin-top: 3.25em;
             }
             .text-wrapper {
                 display: block;
                 padding-left: 1.43em;
                 .welcome-title {
                     margin-left: 0px;
                     margin-top: 1.5em;
                     width: 18.0625em;
                     display: block;
                     h2 {
                         font-size: 1.5em;
                         font-weight: $proxima-thin;
                         font-style: normal;

                     }
                 }
                 .welcome-text {
                     display: block;
                     margin-left: 0px;
                     margin-top: 7px;
                     width: 24.625em;
                     p {
                         font-style: normal;

                     }
                 }
             }
         }
     }
 }

 @media screen and (max-width: 767px) {
     .welcome-header {
         min-height: 20.9375em;
         display: flex;
         .content-wrapper {
             width: 23.4375em;
             margin: auto;
             display: block;
             .imgwrapper-welcome {
                 margin: auto;
                 padding-top: 1.75em;
             }
             .text-wrapper {
                 display: block;
                 width: 100%;
                 .welcome-title {
                     margin: 1.3125em auto;
                     margin-bottom: 0;
                     width: 19.4375em;

                     display: block;
                     text-align: center;
                     h2 {
                         font-size: 1.5em;
                         font-weight: $proxima-thin;
                         font-style: normal;

                     }
                 }
                 .welcome-text {
                     text-align: center;
                     display: block;
                     margin: 8px auto;
                     width: 19.4375em;
                     p {
                         font-style: normal;

                     }
                 }
             }
         }
     }
 }
