div.product-selection-wrapper
    div
        div.product-tile.product-tile-1(ng-class="{'active-product': productSelectionCtrl.activeProduct == productSelectionCtrl.defaultProductSelectionValue}")
            div.pointer(ng-click="productSelectionCtrl.productSelectionChoice(productSelectionCtrl.defaultProductSelectionValue); productSelectionCtrl.getProductsList = false;")
                div.row
                    div.col-sm-8.no-gutter-right
                        div.heading-section
                            span {{productSelectionCtrl.tileOneHeading}}      
                        div.brief-section
                            span {{productSelectionCtrl.tileOneSubheading}}                  
                    div.col-sm-4.default-product.no-gutter-right
        div#products-container.product-tile.product-tile-2(ng-class="{'active-product': productSelectionCtrl.activeProduct == productSelectionCtrl.customProductSelectionValue}")
            div.product-tile-2-wrapper.pointer(ng-click="productSelectionCtrl.productSelectionChoice(productSelectionCtrl.customProductSelectionValue);")
                div.row
                    div.col-sm-8.no-gutter-right
                        div.heading-section
                            span {{productSelectionCtrl.tileTwoHeading}}
                        div.brief-section
                            span {{productSelectionCtrl.tileTwoSubheading}}                  
                    div.col-sm-4.custom-product.no-gutter-right
            div(ng-if="productSelectionCtrl.activeProduct == productSelectionCtrl.customProductSelectionValue")
                div.product-tile-triangle-separator-section.relative
                div.product-tile-product-list-wrapper(ng-if="productSelectionCtrl.model.productList && productSelectionCtrl.model.productList.length > 0")
                    div.product-list-count.clearfix
                        p.numerical-count.pull-left.m-b-0 {{productSelectionCtrl.model.productList.length}}/{{productSelectionCtrl.maximumProductsTarget}} 
                        p.small.count-label.text-uppercase.pull-left ADDED
                        p.brief-section Drag the items from the handle to re-arrange
                    
                    div.sortable-parent-wrapper
                        div#sortable-section
                            div.products-list-display-section.products-display.relative(data-as-sortable="productSelectionCtrl.dragControlListeners", ng-model="productSelectionCtrl.model.productList")
                                div.products-list-display-item(data-ng-repeat="item in productSelectionCtrl.model.productList" data-as-sortable-item)
                                    div.row(data-as-sortable-item-handle)
                                        div.col-sm-3.col-md-2.image-section
                                            img.center-section(ng-src="{{item.image}}", width="50")
                                        div.col-sm-9.col-md-10.data-section
                                            div.name-section
                                                div.row
                                                    div.col-sm-10.col-xl-11
                                                        span {{item.name}}
                                                    div.col-sm-2.col-xl-1
                                                        div.action-section
                                                            div.drag-icon.pointer.pull-right
                                            div.id-section.clearfix
                                                p.text-label.pull-left.small ID
                                                p.text-value.pull-left.small(id="product-id-{{$index}}") {{item.id}}
                                            div.third-section.clearfix
                                                div.row
                                                    div.col-sm-10.col-xl-11
                                                        p.cost-section.pull-left {{item.cost | currency}}
                                                        p.psv-section.pull-left  &nbsp;| {{item.psvNumber}}
                                                    div.col-sm-2.col-xl-1
                                                        div.action-section
                                                            div.delete-icon.pointer.pull-right(ng-click="productSelectionCtrl.executeDeletePopup(item)")

                div.product-tile-2-add-product
                    div.add-product-section(align="center")
                        button(ng-click="productSelectionCtrl.addProduct();")
                            span.add-product + Add Product 
                            p.small.m-b-0.add-product-label-indicator(ng-if="productSelectionCtrl.isBundlesPage && productSelectionCtrl.minimumProductsTarget") 
                                span.text-uppercase MINIMUM OF 
                                span {{productSelectionCtrl.minimumProductsTarget}} 
                
                div.only-bundles-section(ng-if="productSelectionCtrl.isBundlesPage && productSelectionCtrl.model.productList && productSelectionCtrl.model.productList.length > 0")
                    div.row
                        div.col-sm-7.label-section
                            p.small.text-uppercase.m-b-0 TOTAL BUNDLE PRICE 
                        div.col-sm-5.price-section(align="right") {{productSelectionCtrl.model.productListCostTotal | currency}}
                    div.description-section
                        p.small.m-b-0 Add a short description about the bundle. 
                        p.small.m-b-0 (250 Character Limit) 
                    div.textarea-edit-section
                        textarea.form-control.m-b-0(ng-model="productSelectionCtrl.model.bundlesSection.description", maxlength="250", ng-init="productSelectionCtrl.saveShortDesc();", ng-change="productSelectionCtrl.saveShortDesc();")
        div.product-remove-modal-wrapper
            productremoveconfirmationcomponent(ng-if="productSelectionCtrl.isRemoveProductClicked", is-modal-call="true", callback-on-success="productSelectionCtrl.deleteProduct", boolean-variable-to-invoke-modal="productSelectionCtrl.isRemoveProductClicked", to-be-deleted-product-data="productSelectionCtrl.productToBeDeleted", parent-page-name="productSelectionCtrl.parentPageName", scroll-to-id="productSelectionCtrl.scrollToId")