.modal-body
    page-level-error-component#modal-page-container.modal-page-error.fullWidth(ng-show="ctrl.isError", error-message="ctrl.errorData.errorMessage", danger-type="true", is-show-info-icon-on-error="false", is-display-error-message="ctrl.errorData.isDisplayErrorMessage")
    .products-modal-container(ng-init="ctrl.init()")
        div#searchcontainer.search-container.container-fluid.invite-bannersf.no-gutter
            .search-subcontainer
                .header-container
                    .back-container.pull-left
                        div.pointer.clearfix.back-button-wrapper(ng-click="ctrl.cancel()")
                            div.go-back-image.pull-left
                            div.go-back-text.pointer.pull-left
                                span.text-uppercase Back
                    .header-symbol
                .title(ng-show="!ctrl.parent.isBundlesPage") add featured products
                .title(ng-show="ctrl.parent.isBundlesPage") add items for bundles 
                form.search-form(name="ctrl.searchform" novalidate form-submit="ctrl.ok()")
                    .clear-input.pointer(ng-if="ctrl.selectedNumber",ng-click="ctrl.clearValue();")
                    .search-icon.pointer(ng-if="!ctrl.selectedNumber")
                    input#searchbox.search-box(type="text" sf-typeahead='', placeholder="Search Products", options='ctrl.exampleOptions', datasets='ctrl.numbersDataset', ng-model='ctrl.selectedNumber', ng-keypress="($event.which === 13)?ctrl.loadSearchedProducts():''")
                    .add-digit-container
                        .add-digit-text {{ctrl.model.selectedProducts.length ? ctrl.model.selectedProducts.length : 0}}/{{ctrl.parent.maximumProductsTarget}} 
                            span.add-display-text added
                        .search-button.pointer(ng-click="ctrl.ok();") DONE
        .storefront-custom-wrapper#productscontainer(ng-if="ctrl.model.searchedProductsList.length != 0")
            .product-selection-wrapper.products-container.m-t-0
                .center-section
                    .product-tile.p-b-0.p-t-0
                        .product-tile-product-list-wrapper
                            div.products-list-display-section
                                    div.products-list-display-item.p-b-1(ng-repeat="item in ctrl.model.searchedProductsList track by item.id", ng-class="ctrl.checkActiveClass(item.id)", ng-click="ctrl.checkActiveClass(item.id)?ctrl.removeProductFromSelection(item.id):ctrl.addProductInSelection(item.id)")
                                        div.row
                                            div.col-sm-3.col-md-2.image-section
                                                img.center-section(ng-src="{{item.image}}")
                                            div.col-sm-9.col-md-10.data-section
                                                div.name-section
                                                    span {{item.name}}
                                                div.id-section.clearfix
                                                    p.text-label.pull-left.small ID
                                                    p.text-value.pull-left.small {{item.id}}
                                                div.third-section.clearfix
                                                    div.row
                                                        div.col-sm-8
                                                            div.clearfix
                                                                .cost-section.pull-left {{item.cost | currency}}
                                                                .psv-section.pull-left  &nbsp;| {{item.psvNumber}}
                                                        div.col-sm-4
                                                            div.action-section 
                                                                .add-text.pointer(ng-if="!ctrl.checkActiveClass(item.id)") add
                                                                .remove-text.pointer(ng-if="ctrl.checkActiveClass(item.id)") remove
                            
                            