@import "../../../../src/stylesheets/partials/variables.scss";
@mixin promotion_close_icon {
    .promotion-wrapper {
        .promotion-close-icon {
            background: url('../../../../src/assets/images/css/cross-small.png') no-repeat center center;
            width: 1.5625rem;
            height: 1.4rem;
            background-size: 1rem;
        }
    }
}

.checkout-guest-and-distributor {
    .clear {
        clear: both;
    }
    #accordionform.accordionForm {
        background: none;
        padding: 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        box-shadow: 0 -0.1875rem 0.5rem 0 rgba(0, 0, 0, 0.15);
        z-index: 20;
        .shopping-cart-top {
            margin-top: 0.625rem;
        }
        .panel {
            padding-right: 1.6875rem;
            padding-left: 1.375rem;
        }
        .panel-title{
            button{
                display: block;
            }
            button.collapsed::after {
                transform: rotate(0);
            }
            button::after {
                transform: rotate(180deg);
            }
        }
    }
    #accordionform.accordionForm .panel:last-of-type {
        margin-bottom: 0;
    }
    #accordionform.accordionForm .panel-title button::after {
        left: 0;
    }
    .accordionForm {
        .panel-title button {
            z-index: 10;
        }
        .form {
            margin: 0;
        }
    }
    .pullUpLabel {
        font-size: 1rem;
        font-weight: $proxima-regular;
        line-height: 1.3125rem;
        color: $gray-dark;
        margin-top: 0.3125rem;
    }
    .pullUpData {
        font-size: 1.4rem;
        font-weight: $proxima-thin;
        line-height: 1.42;
        text-align: right;
        color: $gray-black;
        padding-right: 0.9375rem;
        padding-bottom: 1rem;
    }
    .fullWidth {
        width: 100%;
    }
    .underline {
        text-decoration: underline;
    }
    .payment-section-validated.hide-card {
        display: none !important;
    }
    .content {
        padding-bottom: 1.25rem;
    }
    .pointer {
        cursor: pointer;
    }
    .relative {
        position: relative;
    }
    .section-separator {
        border: solid 0.0625rem $gray-border;
        margin: 0;
        margin-bottom: 1rem;
    }
    .section-heading {
        z-index: 1;
        text-align: center;
    }
    .section-heading::before {
        border-top: 0.125rem solid $blue-link-water;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 0.75rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .section-heading span {
        background: $white;
        padding: 0 0.625rem;
        color: $gray-black;
        font-size: 1rem;
        font-weight: $proxima-semibold;
        line-height: 1;
        letter-spacing: 0.0375rem;
    }
    .section-content {
        font-size: 0.8125rem;
        font-weight: 300;
        text-align: center;
        color: $gray;
    }
    .payment-method-section {
        input.cvvText[type="tel"] {
            -webkit-text-security: disc;
            -moz-text-security: disc;
            height: initial;
        }
    }
    .shipping-section,
    .delivery-section,
    .payment-method-section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .font-size-13 {
        font-size: 0.8125rem;
    }
    .text-transform-none {
        text-transform: none;
    }
    .text-label {
        color: $gray-dull;
    }
    .m-t-2rem {
        margin-top: 2rem;
    }
    .include-section {
        .label-content {
            max-width: 7.5rem;
            text-align: right;
        }
        @include promotion_close_icon;
        .promotion-wrapper {
            .promo-code {
                margin-top: 0;
            }
        }
        .font-size-24 {
            font-size: 1.5rem;
        }
        .promocode-section {
            margin-top: 0;
        }
        .promo-code-section div:first-child {
            margin-right: 0.4375rem;
        }
        .promo-code-button {
            width: 5.75rem;
        }
        .small-heading {
            font-size: 0.8125rem;
            font-weight: 600;
            letter-spacing: 0.03125rem;
        }
        .promo-code-brief-label {
            margin: 0.125rem 0 0.75rem;
        }
    }
    .popup-modal-section {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        .modal-body {
            padding-bottom: 0.625rem;
        }
        .modal-close-icon-section {
            .modal-close-icon {
                background: url('../../../../src/assets/images/css/ic-close-circle.png') no-repeat right center;
                width: 2rem;
                height: 2rem;
            }
        }
    }
    .checkout-container {
        padding: 0;
        .text-white {
            color: $white;
        }
        .confirmation-logo {
            background: url('../../../../src/assets/images/css/ic-package.png') no-repeat center top;
            padding-top: 1.25rem;
        }
        .text-gray-dull {
            color: $gray-dull
        }
        .testlabel::after {
            margin: 0.3125rem;
        }
        .navigate-back {
            background: url('../../../../src/assets/images/css/ic-arrow-left-copy.png') no-repeat left center;
        }
        .testlabel::before {
            margin: 0.3125rem;
        }
        .delivery-label {
            .pullUpLabel,
            .section-content {
                padding-left: 1rem;
                text-align: left;
            }
        }
        .delivery-label:before {
            top: 0.725rem;
        }
        .logo-section {
            background: url('./../../../../src/assets/images/css/ic-brand-logo.svg') no-repeat center 0;
            padding-top: 2.5rem;
        }
        .shippingAddress-logo {
            background: url(../../../../src/assets/images/css/ic-shipping.svg) $aqua no-repeat center center;
            border: 0.0625rem solid $brand-green
        }
        .shippingAddress-logo-done {
            background: url('../../../../src/assets/images/css/ic-checked.svg') no-repeat center center, url(../../../../src/assets/images/css/ic-shipping.svg) no-repeat center center;
        }
        .deliveryOptions-logo {
            background: url(../../../../src/assets/images/css/ic-delivery.svg) $brand-primary no-repeat center center;
        }
        .deliveryOptions-logo-active {
            background: url(../../../../src/assets/images/css/ic-delivery.svg) $aqua no-repeat center center;
            border: 0.0625rem solid $brand-green;
        }
        .deliveryOptions-logo-done {
            background: url('../../../../src/assets/images/css/ic-checked.svg') no-repeat center center, url(../../../../src/assets/images/css/ic-delivery.svg) no-repeat center center;
        }
        .paymentMethod-logo {
            background: url(../../../../src/assets/images/css/ic-payment.svg) $brand-primary no-repeat center center;
        }
        .paymentMethod-logo-active {
            background: url(../../../../src/assets/images/css/ic-payment.svg) $aqua no-repeat center center;
			background-size: cover;
            border: 0.0625rem solid $brand-green
        }
        .paymentMethod-logo-done {
            background: url('../../../../src/assets/images/css/ic-checked.svg') no-repeat center center, url(../../../../src/assets/images/css/ic-payment.svg) no-repeat center center;
        }
        .orderReview-logo {
            background: url(../../../../src/assets/images/css/ic-cart.svg) $brand-primary no-repeat center center;
        }
        .orderReview-logo-active {
            background: url(../../../../src/assets/images/css/ic-cart.svg) $aqua no-repeat center center;
            border: 0.0625rem solid $brand-green;
        }
        .label-section {
            font-size: 0.8125rem;
            font-weight: 600;
            line-height: 0.92;
        }
        .state-select{
            select.ng-invalid.ng-touched {
                background-color: transparent;
            }
        }
        .state-select::after {
            top: 1.25rem;
        }
        .form {
            margin: 0;
        }
        .check-box-wrap {
            width: 11.5625rem;
        }
        .m-b-0_5 {
            margin-bottom: .5rem;
        }
        .m-t-0_5 {
            margin-top: .5rem;
        }
        .main-section {
            display: table;
            margin: 0 auto;
        }
        .color-aqua {
            color: $aqua;
        }
        .displayTable {
            display: table;
        }
        .tick-completed {
            position: absolute;
            left: 0;
            top: 0;
        }
        .right-section {
            max-width: 24.625rem;
            min-width: 24.625rem;
        }
        .backgroundWhite {
            background: $white;
        }
        .actionImage {
            margin-top: -0.1875rem;
        }
        .m-r-5px {
            margin-right: 0.3125rem;
        }
        .p-l-5px {
            padding-left: 0.3125rem;
        }
        .promo-code {
            color: $gray-dark;
            font-size: 1rem;
            font-weight: $proxima-light;
        }
        .order-section {
            .order-confirmation {
                background: url('../../../../src/assets/images/css/hairflip_2.png');
                background-repeat: no-repeat;
                width: auto;
                z-index: 0;
                > div {
                    background: rgba(0, 52, 67, 0.65);
                    z-index: 1;
                    height: 15.625rem;
                    max-height: 15.625rem;
                }
                .order-top-section {
                    color: $white;
                    font-weight: $proxima-thin;
                    padding: 2.5rem 1.625rem 2.3125rem;
                    .header {
                        font-size: 1.875rem;
                        margin: 1.125rem 0 -0.3125rem;
                    }
                    .header + p {
                        font-weight: $proxima-thin;
                        line-height: 1.31;
                        margin: 0 0 0.5rem;
                    }
                    span.underline {
                        font-weight: $proxima-regular;
                    }
                }
            }
            .action-section {
                height: 5.75rem;
                max-height: 5.75rem;
                padding-top: 1.5rem;
                padding-right: 1.5rem;
                background: $white;
                button {
                    height: 2.75rem;
                }
            }
            .separator-section-break {
                height: 0.3125rem;
                background: #f7f9fa;
            }
            .info-section {
                .text-section {
                    font-size: 1.375rem;
                    font-weight: 100;
                    line-height: 0.95;
                    color: $gray;
                }
                p.info-header {
                    font-size: 1.5rem;
                    font-weight: $proxima-thin;
                }
                .bullet-section {
                    .bullet {
                        width: 1.0625rem;
                        height: 1.0625rem;
                        border-radius: 1.0625rem;
                        border: solid 0.125rem rgba(106, 255, 250, 0.8);
                    }
                    background: $blue-light;
                    .header-msg {
                        font-size: 1.375rem;
                        font-weight: 100;
                        line-height: 1.18;
                        margin-bottom: 1.6875rem;
                    }
                    .info-header-button-section {
                        margin-top: 1.0625rem;
                        button {
                            border-color: $white;
                            color: $white;
                            line-height: 1.31;
                            letter-spacing: 0.0625rem;
                        }
                    }
                    .header-contents {
                        margin: 0 0.8125rem;
                        .header-contents-data {
                            width: 17rem;
                        }
                    }
                }
            }
        }
        .active-arrow-up {
            position: relative;
        }
        .active-arrow-up:after,
        .active-arrow-up:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .active-arrow-up:before {
            border-left: 0.5625rem solid transparent;
            border-right: 0.5625rem solid transparent;
            border-top: 1rem solid transparent;
            border-bottom: 0.5625rem solid $white;
            top: 1.3625rem;
            left: 7.5px;
        }
        .active-arrow-up:after {
            border-left: 0.875rem solid transparent;
            border-right: 0.875rem solid transparent;
            border-top: 0.875rem solid transparent;
            border-bottom: 0.875rem solid $brand-green;
            top: 1.6em;
            left: 2px;
        }
        form.form[name="formPayment"],
        .shopping-cart-top,
        .top-section {
            margin-top: 1.125rem;
        }
        .top-section {
            margin-top: 1.375rem;
        }
        .payment-section,
        .payment-section-validated {
            background: url('../../../../src/assets/images/css/ic-blank-card.svg') no-repeat;
            width: auto;
            max-width: 20.8125rem;
            padding-top: 1.375rem;
            height: 12.375rem;
            .form-control {
                max-height: 1.25rem;
                margin-bottom: 0;
            }
            .credit-card-number {
                div {
                    width: 4.25rem;
                    margin-right: 0.3125rem;
                }
            }
            .credit-card-number-label {
                margin-top: 0.625rem;
            }
            .last-section {
                margin-top: 0.625rem;
                > div {
                    width: 30%;
                    margin-right: 0.3125rem;
                }
            }
        }
        .payment-section-validated {
            padding-left: 1.125rem;
            padding-left: 1.125rem;
            .name-section > label {
                width: 2.875rem;
                margin-right: 4.6875rem;
                line-height: 1;
                display: inline-table;
            }
            .credit-card-number {
                font-weight: 300;
                line-height: 1.31;
                letter-spacing: 0.125rem;
                margin-top: 0.3125rem;
                padding-left: 1rem;
            }
            .last-section {
                margin-top: 0.625rem;
                > div {
                    width: 30%;
                    margin-right: 0.3125rem;
                }
            }
        }
        .payment-section, .payment-section-validated.visa, .payment-section-validated.mastercard, .payment-section-validated.discover, .payment-section-validated.amex, .payment-section-validated.other {
            background-position: initial;
        }
        .payment-section-validated.visa {
            background: url('../../../../src/assets/images/css/ic-visa.png') no-repeat;
        }
        .payment-section-validated.mastercard {
            background: url('../../../../src/assets/images/css/ic-mastercard.png') no-repeat;
        }
        .payment-section-validated.amex {
            background: url('../../../../src/assets/images/css/ic-amex.png') no-repeat;
        }
        .payment-section-validated.other {
            background: url('../../../../src/assets/images/css/ic-blank-card.svg') no-repeat;
            .edit-label {
                color: $white;
            }
        }
        .checkout-title-container {
            div.section {
                height: auto;
                max-height: 16.25rem;
            }
            .logo-section {
                margin-top: -1.25rem;
            }
            .steps {
                height: 3.6875rem;
                background-color: rgba(0, 0, 0, 0.15);
                .actionMenu > div {
                    margin: 0.625rem 1.5625rem 0 0;
                    width: 2.25rem;
                    height: 2.25rem;
                    background-color: $black;
                    border-radius: 1.25rem;
                    padding: 0.1875rem 0;
                }
                .actionMenu > div.active {
                    background-color: $black;
                }
            }
            .step-indicator {
                height: 2rem;
                background-color: $brand-green;
                box-shadow: 0 -0.0625rem 0.3125rem 0 rgba(0, 102, 131, 0.2);
                border: solid 0.0625rem $white;
                padding: 3px;
                small {
                    margin: auto;
                }
            }
        }
    }
    .accepted-card-container {
        background-color: $gray-lightest;
        .accepted-card {
            height: 3.75em;
            padding: 1em 0 0 2.5em;
            border: solid 1px $gray-checkout-border;
            border-bottom: 0;
            p.small {
                font-weight: $proxima-light;
            }
            ul {
                margin: 0;
                padding: 0;
                height: 1.5em;
                li {
                    width: 2.5em;
                    height: 1.5em;
                    list-style: none;
                    float: left;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    margin: 0 6px 0 8px;
                }
                li.visa {
                    background-image: url('../../../../src/assets/images/css/v-i-s-a.png');
                    margin-left: 0;
                }
                li.amex {
                    background-image: url('../../../../src/assets/images/css/a-m-e-x.png');
                }
                li.mastercard {
                    background-image: url('../../../../src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png');
                }
                li.discover {
                    background-image: url('../../../../src/assets/images/css/d-i-s-c-o-v-e-r.png');
                }
            }
        }
    }
    .checkout-content-container .checkout-psv-section {
        margin-bottom: 0.75em;
        padding: 0.625em 0;
    }
    .checkout-content-container > section.checkout-delivery-options {
        margin: 0em;
        padding: 0em;
        background-color: $gray-fair;
    }
    section.checkout-delivery-options > div {
        padding: 0.9375em;
        margin: 0 auto;
        width: 23.25em;
    }
    section.checkout-delivery-options .psv-headings {
        font-weight: $proxima-light;
        font-size: 0.8125em;
        line-height: 1em;
        color: $gray-light;
    }
    section.checkout-delivery-options .psv-values {
        font-weight: $proxima-thin;
        font-size: 1.5em;
        line-height: 1.6125em;
        color: $gray-dark;
    }
    section.checkout-delivery-options .arrow-right-thin {
        background: url(../../../../src/assets/images/css/ic-arrow-right.svg) no-repeat center;
        width: 1.9375em;
        height: 1.9375em;
        margin-top: 0.625em;
    }
    .add-icon-checkout {
        background: url(../../../../src/assets/images/css/ic-add-blue-sm.png) center no-repeat;
        width: 1.25rem;
        height: 1.25rem;
    }
    .checkout-order-wrapper {
        @include promotion_close_icon;
        .promo-code {
            margin-top: 0;
        }
    }
    .checkout-order-wrapper .delete-icon {
        background-image: url(../../../../src/assets/images/css/ic-delete-blue-sm.png);
        height: 1.4em;
        width: 1em;
        margin-left: 0.6875rem;
    }
    .checkout-order-wrapper .edit-icon {
        background: url(../../../../src/assets/images/content/ic-edit-green.svg) no-repeat center;
        height: 1.4em;
        width: 1.2em;
        margin-left: 0.5625rem;
    }
    .add-title-checkout {
        font-weight: $proxima-semibold;
        font-size: 0.75em;
        line-height: 0.6875em;
        color: $brand-primary;
        margin-top: 0.875em;
    }
    .border-r {
        border-right: 0.0625em solid $gray-whisper;
    }
    .border-t {
        border-top: 0.0625em solid $gray-whisper;
    }
    .checkout-content-container.address-list {
        background-color: $gray-lightest;
    }
    .checkout-order-wrapper .checkout-order-body.address div span {
        display: block;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.125rem;
        color: $gray-black;
    }
    .checkout-order-wrapper .checkout-order-body.address em.delete-icon, .checkout-order-wrapper .checkout-order-body.address em.edit-icon {
      display: inline-block;
      margin-left: 1rem;
    }

    .checkout-order-wrapper .checkout-order-body.address div span.icon-names {
        font-weight: $proxima-semibold;
        font-size: 0.75em;
        line-height: 0.6875em;
        color: $brand-primary;
        display: block;
        padding: 1px 0 0 1.5rem;
    }
    .checkout-order-wrapper .checkout-order-body.address label {
        font-weight: $proxima-semibold;
        font-size: 0.75em;
        line-height: 1.3125em;
        color: $gray-dark;
    }
    .checkout-order-wrapper.hide {
        display: none;
    }
    .circle-add {
        width: 1.875rem;
        height: 1.875rem;
        border: solid 0.0625em $brand-primary;
        border-radius: 50%;
        text-align: center;
        float: right;
        padding: 0.25rem;
        margin-left: 0.5rem;
    }
    .payment-section-validated.card-selected {
        border: 0.25em solid $aqua;
        border-radius: 1em;
    }
    .checkout-order-body.address .full-name {
        line-height: 1.3125em;
        color: $gray-black;
    }
    .checkout-order-wrapper .checkout-order-body.address .default-tag {
        font-weight: $proxima-light;
        font-size: 1em;
        line-height: 1.3125em;
        color: $gray-light;
    }
    .primary-card-icon {
        background: url('../../../../src/assets/images/css/primary-card.png') no-repeat right center;
        width: 3.75em;
        height: 2.3125em;
        position: absolute;
        left: 3.1875em;
        top: -1.375em;
    }
    form.form[name="formPayment"] .credit-card-err {
        color: $brand-danger;
        height: 0.5rem;
        font-size: 0.8125rem;
        padding-left: 1rem;
        float: none;
        margin: 0 auto;
        display: block;
        width: 20.8125rem;
        padding-left: 0.875rem;
    }
    .payment-section-validated .name-section {
        position: relative;
    }
    .radio-cards-checkout {
        margin-top: -1em;
    }
    .payment-section-validated .radio.radio-cards-checkout label::before {
        background: linear-gradient(to bottom, $radio-black-shade, $black-radio);
        border: 0.0625em solid $gray-lighter;
    }
    .payment-section-validated .radio.radio-cards-checkout input[type="radio"]:checked + label::before {
        background: radial-gradient(circle at 50% 41%, $radio-aqua, $brand-primary);
        box-shadow: 0 0.0625em 0.125em 0.25em rgba(0, 0, 0, 0.2);
    }
    .payment-section-validated label a {
        font-size: 0.75rem;
        font-weight: $proxima-semibold;
        text-decoration: none;
    }
    .m-t-4px {
        margin-top: 0.25em;
    }
    .confirm-modal-class .modal-dialog,
    #exit-modal-popup .modal-dialog {
        width: 21.3125rem;
        margin: auto;
    }

    .checkout-order-wrapper{
        & > #accordionform .panel-title button{
            display: block;
        }
        .display-inblock{
            display: inline-block;
        }
    }

    .my-cards-section{
        .display-inblock {
            display: inline-block;
        }
    }


    .shopping-cart-top .display-inblock {
        display: inline-block;
    }
    .shopping-cart-top .promo-list-value {
        margin-left: -6px;
        vertical-align: text-bottom;
    }
    .btn-primary-outline:focus {
        background-color: $white;
    }
    .btn-primary-outline:hover {
        background-color: $brand-primary;
    }
    .error-block {
        &.expiration-error,
        &.required-error {
            width: 20.8125rem;
            padding-left: 0.875rem;
            float: none;
            margin: 0 auto;
            display: block;
        }
    }
    .billing-section {
        .checkbox input[type="checkbox"] {
            width: auto;
        }
    }
    .payment-section {
        & input[type="text"],
        & input[type="password"],
        & input[type="tel"]{
            width: 100%;
            border: 1px solid $gray-lighter;
            padding: 0.375rem 0.375rem 0 0.625rem;
            font-weight: 300;
            font-size: 0.875rem;
            &.ng-invalid.ng-touched,
            &.invalid-exp {
                background-color: $white;
                border: solid 1px $brand-danger;
                border-left: solid 6px $brand-danger;
            }
            &:focus,
            &:active {
                border: 1px solid $blue-light;
                outline: none;
                box-shadow: none;
            }
        }
    }
    .select-wrapper::after {
        top: 1.5rem;
        right: 0.9375rem;
    }
    .estimated-total-section label.estimated-total {
        line-height: 3.25em;
    }
    .tooltipwrapper{
      position: relative;
    }
    .tooltipwrapper .dropdown-trigger{
      width: 12px;
      height: 12px;
      background-color: $white;
      top: 4px;
    }
    .tooltipwrapper .dropdown-trigger:before{
      top: -5px;
      content: '?';
      font-size: 10px;
      color: $brand-primary;
    }
    .tooltipwrapper .open > .dropdown-menu{
      left: -4.25rem;
      min-width: 8.9375rem;//used to override already present css
      width: 8.9375rem;
      height: 5.625rem;
      margin-top: 10px;
      padding: 10px 0 0 1.125rem;
      .show-amex-div{
        background: url('../../../../src/assets/images/css/amexcvv.png') no-repeat;
        height: 4.375rem;
      }
      .show-non-amex-div{
        background: url('../../../../src/assets/images/css/nonamexcvv.png') no-repeat;
        height: 4.375rem;
      }
    }
    .tooltipwrapper .open > .dropdown-trigger:after{
      top: 1.125rem;
      left: -2px;
    }
}

.confirm-modal-class .modal-dialog {
    width: 23.3125rem;
    margin: auto;
}

#myModalBackDrop {
    display: none;
}

.my-cards-section {
    height: 2rem;
    .card-no {
        color: $gray-light;
    }
}

.app-modal-window {
    .modal-dialog {
        .modal-header {
            padding: 1.5rem 1rem 0;
            .cross-icon {
                width: 1.5625rem;
                padding: 1.5rem 1.125rem 1rem 0;
                background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
            }
        }
        .modal-body {
            padding: 0 1.5rem 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    .checkout-guest-and-distributor {
        .show-below-md {
            display: block;
        }
        .show-above-md {
            display: none;
        }
        .accordionForm {
            .accord-label-section {
                padding-left: 2.8125rem;
                padding-right: 0.625rem;
            }
        }
        #accordionform.accordionForm #panel {
            padding-left: 0;
            padding-right: 0;
        }
        .checkout-container {
            .payment-section,
            .payment-section-validated {
                background-position: initial;
                .form-control {
                    max-height: 1.25rem;
                    margin-bottom: 0;
                }
                label,
                .form-control {
                    font-size: .75rem;
                }
                margin-left: -0.25rem;
                margin-right: -0.25rem;
            }
            .payment-method-section,
            .delivery-section {
                padding: 0;
            }
        }
        .payment-method-section {
            padding-left: 0;
            padding-right: 0;
        }
        .payment-section {
            background-position: initial;
        }
        .delivery-section {
            padding-left: 0;
            padding-right: 0;
        }
        .shipping-section {
            padding-left: 0;
            padding-right: 0;
        }
        .checkout-container {
            .left-section {
                min-width: 20.3125rem;
                max-width: 20.3125rem;
            }
        }
        .accordionForm .promo-code-section div:first-child {
            width: 66%;
        }
        .include-section {
            .promo-code-section {
                .error-block {
                    display: inline-block;
                    max-width: 13.1875rem;
                }
            }
        }
        .order-section {
            .action-section {
                padding-left: 1.5625rem;
                padding-right: 1.5625rem;
                button {
                    width: 20.3125rem;
                }
            }
            .info-section {
                .text-section {
                    padding: 2.5rem 1rem 3.0625rem 1.5625rem;
                    width: 13.375rem;
                    max-width: 13.375rem;
                }
                .bullet-section {
                    padding: 1.75rem 1.625rem 1.75rem 1.5625rem;
                    .header-contents-data {
                        margin-top: 0;
                        line-height: 1.1;
                        margin-bottom: 1.5625rem;
                        padding-left: 0.5rem;
                    }
                }
            }
        }
        .accepted-card-container {
            .accepted-card {
                height: 5.625em;
                padding-left: 1.5em;
                border: 0;
                border-top: solid 1px $gray-checkout-border;
                p {
                    margin-bottom: 10px;
                    ;
                }
                ul {
                    li.visa {
                        margin-left: 0;
                    }
                }
            }
        }
        .checkout-guest-and-distributor {
            .include-section {
                .promo-code-button {
                    max-width: 4.75rem;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .checkout-guest-and-distributor {
        .accordionForm .promo-code-section div:first-child {
            width: 75%;
        }
        #accordionform.accordionForm {
            .accord-label-section {
                padding-left: 9.25rem;
                padding-right: 9.25rem;
            }
            .panel-section {
                padding-left: 6.875rem;
                padding-right: 6.875rem;
            }
            .shopping-cart-top {
                .shopping-cart-section,
                .shopping-cart-section.section-separator {
                    margin-left: 0;
                }
            }
        }
        .add-space {
            margin-bottom: 4.25rem;
        }
        .payment-method-section {
            padding-left: 1.375rem;
            padding-right: 1.375rem;
        }
        .promo-code-section {
            .error-block {
                display: inline-block;
                max-width: 19.375rem;
            }
        }
        .checkout-guest-and-distributor {
            .delivery-section {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .order-section {
            .action-section {
                button {
                    max-width: 20.3125rem;
                    width: 20.3125rem;
                }
            }
            .text-section {
                width: 18.5625rem;
                max-width: 18.5625rem;
            }
            .info-section {
                .info-section-content {
                    padding: 2.5rem 10.75rem 4.375rem 10.4375rem;
                }
                .header-parent {
                    width: 27.1875rem;
                    .header-section {
                        padding: 0 3.4375rem;
                    }
                }
            }
        }
        .accepted-card-container {
            border: solid 1px $gray-checkout-border;
            .accepted-card {
                width: 27.1875rem;
                margin: 0 auto;
                border: 0;
                padding-left: 3.25em;
                ul {
                    margin-left: 2em;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .checkout-guest-and-distributor {
        .show-below-md {
            display: none;
        }
        .show-above-md {
            display: block;
        }
        .checkout-container {
            .left-section {
                min-width: 27.1875rem;
                max-width: 27.1875rem;
            }
            .delivery-label {
                .pullUpLabel,
                .section-content {
                    padding-left: 1.5625rem;
                    text-align: left;
                }
            }
            .order-section {
                .action-section {
                    button {
                        max-width: 27.125rem;
                        width: 27.125rem;
                    }
                }
                .bullet-section {
                    padding: 1.75rem 0 0.8125rem;
                    .bullet {
                        margin-right: -0.625rem;
                    }
                    .header-contents-data {
                        padding-left: 1.25rem;
                        margin-top: -0.125rem;
                        line-height: 1.2;
                        margin-bottom: 1.5625rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .checkout-guest-and-distributor {
        body {
            background: $white;
        }
        .show-below-lg {
            display: block;
        }
        .show-above-lg {
            display: none;
        }
        .checkout-container {
            .payment-section,
            .payment-section-validated {
                margin-top: -2rem;
            }
        }
        .checkout-container,
        .checkout-container .content {
            background: $white;
        }
        .checkout-container .top-section {
            margin-top: 0;
        }
        .accordionForm .panel-section {
            margin-top: -2.1875rem;
        }
        .button {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
        }
        .include-section {
            .promocode-section {
                margin-top: -0.4375rem;
            }
            .estimated-total-section {
                margin-bottom: 1.1875rem;
            }
            .estimated-total-section div[align="right"] label {
                font-size: 1.5em;
                line-height: 2.125em;
                font-weight: $proxima-thin;
            }
            .promotion-and-rewards-section {
                margin: 0.3125rem 0 0.625rem 0;
            }
        }
        #accordionform.accordionForm.show-below-lg {
            z-index: 1051;
        }
        #accordionform.accordionForm {
            .shopping-cart-section {
                margin-left: 2rem;
                padding-right: 0;
                margin-bottom: 0.3125rem;
            }
            .estimated-total-section {
                margin-bottom: 1.1875rem;
            }
            .panel-title {
                margin-left: -1rem;
            }
            .shopping-cart-section.section-separator {
                margin-right: 0;
                margin-bottom: 0.3125rem;
            }
            .panel-title {
                .drawerButton {
                    margin-left: 0.3125rem;
                }
            }
            .pullUpLabel {
                margin-left: 0.625rem;
            }
            .estimated-section {
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (min-width: 1024px) {
    .checkout-guest-and-distributor {
        .show-below-lg {
            display: none;
        }
        .show-above-lg {
            display: block;
        }
        .name-card {
            border: solid 0.0625rem $gray-checkout-border;
            background: $white;
        }
        .estimated-total-section > div {
            padding-left: 1rem;
        }
        .checkout-container {
            .left-section,
            .right-section {
                float: left;
            }
            .left-section {
                margin-right: 0.75rem;
            }
            .left-section {
                min-width: 29.625rem;
                max-width: 29.625rem;
            }
            .delivery-section {
                padding: 0.625rem 2.8125rem 0;
                .top-section {
                    margin-top: 1rem;
                }
            }
            .payment-section,
            .payment-section-validated {
                margin-top: -0.3125rem;
            }
        }
        .include-section {
            .promocode-section {
                margin-top: 1.5625rem;
            }
            .promo-code-input {
                max-width: 13.1875rem;
                min-width: 13.1875rem;
            }
            .shopping-cart-last-section {
                margin-bottom: 0.3125rem;
            }
            .shopping-cart-section {
                margin-bottom: 0.5rem;
            }
            .promotion-and-rewards-section {
                margin: 0.3125rem 0 0.625rem 0;
            }
            .promotion-and-rewards-section .small-heading {
                color: $gray-black;
            }
            .shopping-cart-wrapper {
                padding-bottom: 1.875rem;
                .shopping-cart-top {
                    margin-top: 1.4375rem;
                }
                @include promotion_close_icon;
                .promotion-wrapper{
                    .promo-code{
                        margin-top: 0;
                    }
                }
            }
            .promo-code-section {
                .error-block {
                    display: inline-block;
                    max-width: 13.1875rem;
                }
            }
            .estimated-total-section div[align="right"] label {
                font-size: 1.5em;
                line-height: 2.125em;
                font-weight: $proxima-thin;
            }
            .promotion-and-rewards-section {
                margin: 0.3125rem 0 0.625rem 0;
            }
        }
        .order-section {
            .action-section {
                padding-top: 2.25rem;
            }
            .info-section {
                background: $white-fade;
                padding: 1.5rem 2rem;
                .text-section {
                    width: 17rem;
                    max-width: 17rem;
                }
                .info-section-content {
                    > div:first-child {
                        background: $white;
                        padding: 2.25rem 3.125rem 9.4375rem 2.5rem;
                        width: 30rem;
                        max-width: 30rem;
                    }
                    .text-section {
                        > p {
                            width: 17rem;
                            max-width: 17rem;
                        }
                    }
                    .bullet-section {
                        width: 30rem;
                        max-width: 30rem;
                        padding: 1.75rem 2.5rem 1.75rem 3.1875rem;
                        .header-section {
                            padding-left: 2.5625rem;
                            padding-right: 2.4375rem;
                        }
                        .header-contents-data {
                            margin-top: -1.0625rem;
                            padding-left: 1.625rem;
                            line-height: 1;
                            padding-bottom: 0;
                        }
                        .bullet {
                            width: 1.0625rem;
                            height: 1.0625rem;
                            border-radius: 1.0625rem;
                            border: solid 0.125rem rgba(106, 255, 250, 0.8);
                            margin-right: 0.3125rem;
                        }
                    }
                }
            }
        }
        .checkout-content-container.address-list.address-section {
            display: table;
            margin: 0 auto;
            margin-top: 2em;
        }
        .checkout-content-container.address-list.address-section .left-pane {
            min-width: 29.625rem;
            max-width: 29.625rem;
            margin-right: 0.75rem;
            float: left;
        }
        .content{
            .m-lg-24 {
                margin-top: 0em;
            }
        }
        .my-cards-section {
            height: 2rem;
            margin-top: 1em;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .checkout-guest-and-distributor {
        .checkout-container {
            width: 100%;
            margin-top: 0;
        }
        .button {
            padding-left: 0.3125rem;
            padding-right: 0.3125rem;
        }
        .accepted-card-container {
            .accepted-card {
                ul {
                    li.visa {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .checkout-guest-and-distributor {
        .checkout-container {
            width: 100%;
            margin-top: 0;
            .left-section {
                min-width: 34.25rem;
                max-width: 34.25rem;
                margin-right: 1.5rem;
            }
            .order-section {
                .info-section {
                    .text-section {
                        width: 31.4375rem;
                        max-width: 31.4375rem;
                        padding: 2.25rem 3.125rem 9.4375rem 3.3125rem;
                    }
                    .bullet-section {
                        width: 31.375rem;
                        max-width: 31.375rem;
                        .header-contents-data {
                            margin-top: 0;
                            padding-left: 1.625rem;
                            line-height: 1;
                            padding-bottom: 0;
                        }
                        .bullet {
                            width: 1.0625rem;
                            height: 1.0625rem;
                            border-radius: 1.0625rem;
                            border: solid 0.125rem rgba(106, 255, 250, 0.8);
                            margin-right: -0.875rem;
                        }
                    }
                }
            }
        }
        .checkout-content-container.address-list.address-section {
            display: table;
            margin: 0 auto;
            margin-top: 2em;
        }
        .checkout-content-container.address-list.address-section .left-pane {
            min-width: 34.25rem;
            max-width: 34.25rem;
            margin-right: 0.75rem;
            float: left;
        }
    }
}
