div.backgroundWhite.container-fluid.name-card.shipping-section.shopping-cart-wrapper
	div.shopping-cart-top

		div.clearfix.shopping-cart-section
			div.pull-left
				label {{ctrl.model.shippingAddress.fields.shoppingBagSubtotal}}
			div.pull-right
				label.font-weight-bold {{ctrl.model.shippingAddress.data.shoppingBagSubtotal}}

		div.clearfix.shopping-cart-section
			div.pull-left
				label {{ctrl.model.shippingAddress.fields.taxes}}
			div.pull-right
				label.font-weight-bold {{ctrl.model.shippingAddress.data.taxes}}

		div.clearfix.shopping-cart-section.shopping-cart-last-section
			div.pull-left
				label {{ctrl.model.shippingAddress.fields.shipping}}
			div.pull-right
				label.section-content.label-content {{ctrl.model.shippingAddress.data.shipping}}

		div.section-separator.shopping-cart-section

		div.row.shopping-cart-section.estimated-total-section
			div.col-sm-6.col-md-6.col-lg-8.col-xl-8.no-gutter
				label.estimated-total {{ctrl.model.shippingAddress.fields.estimatedTotal}}
			div.col-sm-6.col-md-6.col-lg-4.col-xl-4(align="right")
				label {{ctrl.model.shippingAddress.data.estimatedTotal}}

		div.section-heading.relative.promocode-section
			span {{ctrl.model.shippingAddress.fields.promoCodeAndRewards}}

		div.section-content.promo-code-brief-label
			span {{ctrl.model.shippingAddress.fields.enterPromotionalOrRewardsCodeBelow}}

		div.m-b-0.promo-code-section.clearfix
			form.form(name="formPromoCode")
				div.pull-left
					input.form-control.promo-code-input.m-b-0(type="text",name="promo",placeholder="CODE COMES HERE",ng-model="ctrl.model.promoCode",ng-class="{'ng-invalid ng-touched': ctrl.model.err}",ng-change="ctrl.toggleErr()")
					span.error-block.m-t-1.font-weight-bold(ng-show="ctrl.model.err") {{ctrl.model.shippingAddress.fields.errorMessages.promoCode}}
				div.pull-right
					button.btn.btn-primary.button.promo-code-button(type="submit", ng-click="ctrl.applyPromoCode(ctrl.model.promoCode)")
						span.text-uppercase BUTTON

		//- div.promotion-and-rewards-section(ng-hide="!ctrl.model.shippingAddress.data.promotionAndRewardsApplied.length")
		//- 	span.small-heading.text-uppercase.font-size-13(ng-hide="!ctrl.model.shippingAddress.data.promotionAndRewardsApplied.length") {{ctrl.model.shippingAddress.fields.promotionAndRewardsApplied}}:

		div.m-b-0(ng-repeat="item in ctrl.model.shippingAddress.data.promotionAndRewardsApplied", ng-if="item")
			span.m-r-1.pointer(ng-click="ctrl.removePromoCode(item)")
				img.remove-promo-code(src="../../../../src/assets/images/css/ic-close-circle.png")
			//span.font-size-13.promoCode.text-uppercase {{item}}
