.cards-component
  slick.carousel.carousel-primary.carousel-cards(id="slickCard" settings="slickCardsConfig")
    div.cards-section(ng-repeat="slide in cards.toDoCards track by $index")
      figure
        .card
          .card-block
            .card-header
              p.card-number {{slide.header}} &num;{{$index + 1}}
              button.btn.btn-link.card-dismiss(ng-click="removeSlide($event, slide)")
            h2.card-title {{slide.title | limitTo: 40}}{{slide.title.length > 40 ? '...' : ''}}
            div.card-text(ng-if='!slide.favourite')
              p {{slide.desc | limitTo: 125}}{{slide.desc.length > 125 ? '...' : ''}}
            div.card-text(ng-if='slide.favourite')
              .col-sm-10.no-gutter
                p {{slide.desc | limitTo: 95}}{{slide.desc.length > 95 ? '...' : ''}}
              .col-sm-2.no-gutter
                .category-favorite.pull-right(ng-style="{'background-image': 'url({{slide.iconUrl}})'}")
            .card-footer
              p.card-duration {{slide.duration}}
              a.card-link(ng-click="redirectToLink($event,slide)") {{slide.urlLabel}}
