@import "../../stylesheets/partials/variables";

@keyframes cardRemoveSM {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%) rotate(45deg);
    opacity: 0;
  }
}

.cards-component{
  .card h2{
    width: 100%;
  }
  p.card-text{
    width: 100%;
  }
  .slick-slider.carousel{
    margin: 0;
  }
  .slick-slider.carousel.carousel-cards {
    .slick-slide {
      padding: 0;
      transform: scale(0.8);
      transition: .2s transform;
    &.slick-active {
        transform: scale(1);
      }
    }
  }
  .card {
    border-radius: 0.125em;
    border: none;
    padding: 0.875em;
    box-shadow: 0em 0.375em 1em 0em rgba(0, 0, 0, 0.06);
    width: 20.25em;
    .card-dismiss:after {
        content: '';
        display: block;
        background: url("../../assets/images/css/circle_close_new.png") no-repeat;
        background-size: contain;
        height: 1.875em;
        width: 1.875em;
        position: absolute;
        top: 10px;
        right: 0.875rem;
    }
    h2{
      text-align: left;
    }
  }
  .card-remove {
    -webkit-animation: cardRemoveSM .25s linear;
    animation: cardRemoveSM .25s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .card-block{
    padding: 0.3125em 0;
    width: 100%;
    height: 11.875em;
  }
  .card {
    .card-text {
      max-height: 3.8em;
      display: block;
      margin-bottom: 1em;
      overflow: hidden;
      p {
        font-size: 0.875rem;
        font-weight: $proxima-light;
        line-height: 1.57;
        color: $gray-dark;
        text-align: left;
      }
    }
    h2.card-title {
      max-height: 2.7em;
      overflow: hidden;
      margin-bottom: 0.5em;
      font-size: 1.5rem;
      font-weight: $proxima-thin;
      line-height: 1.17;
      color: $gray-dark;
      text-align: left;
    }
    a{
      text-align: right;
      line-height: 1.5;
      font-size: 0.8125rem;
      font-weight: $proxima-semibold;
      outline: none;
    }
    em{
      font-style: normal;
    }
  }
  .cards-dismissed {
    text-align: center;
    width: 100%;
    h2 {
      font-size: 1.5rem;
      font-weight: $proxima-thin;
      line-height: 1.17;
      color: $white;
    }
    p {
      font-size: 1em;
      font-weight: $proxima-light;
      line-height: 1.31;
      color: $white;
    }
  }
  .cssSlideUp {
    transition: .5s linear all;
    opacity: 1;
  }
  .cssSlideUp.ng-hide {
    opacity: 0;
  }
  .card-header {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.375em;
    .card-number {
      font-size: 0.8125rem;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      color: $gray;
      font-weight: $proxima-light;
    }
    button{
      margin-bottom: 0;
    }
  }
  .card-footer {
    padding: 0;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    .card-duration {
      margin: 0;
      text-transform: uppercase;
      color: $gray;
      font-size: 0.875rem;
      &::before {
        content: '';
        display: block;
        background: url("../../assets/images/css/clock_new.png") no-repeat 0px 2px;
        background-size: 100%;
        height: 1.4em;
        width: 1.25em;
        float: left;
        margin-right: 6px;
      }
    }
    a{
      cursor: pointer;
    }
  }
  .card-title{
    padding-top: 0.2em;
  }
  .slick-dots {
    line-height: 2.5em;
    li {
      position: relative;
      display: inline-block;
      height: 0.5em;
      width: 0.5em;
      margin: 0 0.5em;
      padding: 0;
      cursor: pointer;
      button {
        border: 0;
        width: 0.5rem;
        height: 0.5rem;
        display: block;
        transition: all .25s;
        border-radius: 50%;
        background: $white;
        outline: none;
        cursor: pointer;
        opacity: 0.5
      }
    }
    li.slick-active button {
      width: 0.5rem;
      height: 0.5rem;
      background: $white;
      border: 0;
      opacity: 1;
    }
    li button:before {
      content: "";
    }
  }
}
