@import "../../../../../src/stylesheets/partials/variables.scss";

   .media-carousel-container{
      background-color: $gray-lightest;
      padding-top: 1em;
      padding-bottom: 1.3rem;
      margin-bottom: 0;
      //margin-bottom: 0.313em;

     a{
      text-decoration: none;
      outline: none;
     }
     h2{
      font-size: 1.375rem;
     }
     .category-name{
         padding: 0 0.8em 0 0.8em;
         font-size: 1.875em;
         font-weight: $proxima-thin;
         line-height: 1.41;
         color: $gray-black;
      }

      .product-list{
          background-color: $gray-lightest;
          padding: 0 0.8em 0 0.8em;

      // overriding carousel style for extra margin

        .slick-slider.carousel .slick-next {
            right: -0.8rem;
            width: 1.88rem;
        }
        .slick-slider.carousel .slick-prev {
            left: -0.8rem;
            width: 1.88rem;
        }
        .slick-slider.carousel {
        margin: 0;
        }

     }

    .tile{
      //height: 15.938em;
      background-color: $white;
      display: inline-block;
    }

    .tile-container{
      // background-color: $gray-lightest;
      padding: 0.3em;
    }

    .tile.last-tile{
      position: relative;
      /*background-color: $brand-secondary;*/
      background: linear-gradient(to bottom, #565e6f, #737c8c 26%, #9ea9b6 102%, #c7cfd6);
      border-bottom: 1px solid #9ea9b6;

      .tile-description {
        max-height: 5.5rem;
        height: 6rem;
        /*background: $brand-primary;*/
      }
      .tile-image{
        /*background-color: $brand-secondary;*/
        background-color: transparent;
      }
    }

    .last-tile-icon{
      height: 1.95em;
      width: 1.938em;
      margin-bottom: 1em;
      padding-left: 85%;
      background: url(../../../../../src/assets/images/css/ic-next.svg) center no-repeat;
      background-size: contain;
    }

    .last-tile-text{
      position: absolute;
      margin: auto;
      top: 30%;
      bottom: 0;
      right: 0;
      left: 0;
      max-width: 7rem;
      z-index: 10;
      width:100%;

      @media screen and (min-width: 768px) {
        top: 33%;
      }

      p{
        text-align: center;
        padding: 0;
        margin: 0;
        color: white;
     }
    }
}
@media screen and (min-width: 318px) and (max-width: 767px) {
  .media-carousel-container{
    .tile-container{
      padding: 0 0 1em 0;
    }
  }
}
