.media-carousel-container.col-sm-12(ng-if="ctrl.filteredData.length")
  .row
    .category-name.col-sm-12
      a(href='#/mediaCenter/{{ctrl.tileData.title}}')
        h2 {{ctrl.tileData.title|uppercase}} >
    .product-list.col-sm-12
      slick.carousel.carousel-secondary(settings="ctrl.slickSecondaryConfig")
        div(ng-repeat="tile in ctrl.filteredData")
          mediatilecomponent(list-item="tile",  if-share-visible="true" , if-favorite-visible="true")
        div
          .tile-container
            .tile.col-sm-12.no-gutter.last-tile
              .last-tile-text
                  a(href='#/mediaCenter/{{ctrl.tileData.title}}')
                    span.col-sm-12.last-tile-icon
                    p.col-sm-12 See More Contents

              .tile-image.col-sm-12.no-gutter
                //- img(src="../../../../src/assets/images/content/blue-bg-tile.jpg", alt="")

              .tile-description.col-sm-12.no-gutter