.container-fluid.category-standard.ten-products-main
  .row
    .col-sm-12.category-heading.no-gutter(ng-repeat='category in ctrl.categoryData track by $index')
      h3.center
        span {{category.categoryTitle}}
        em.center
      .product-standard-container
        .col-lg-3.col-md-4.col-sm-6.product-standard.no-gutter(ng-repeat='product in category.productData' class="product-view")
          pdpproductviewcategory(product-data="product" show="true")
