@import "../../../../src/stylesheets/partials/variables.scss";

.ten-products-main{
  .pdp-product-view .pdp-product-title {
      min-height: 3.375em;
    }
  .pdp-product-view{
    min-height: 0
  }
  .category-heading h3 {
      padding-bottom: 2.375em;
  }
  .product-view{
    margin: 0px 0 4.875em;
  }
  .psv-color{
    color:$gray;
  }
  .purchase-link{
    cursor:pointer;
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .product-view{
      margin: 0px 0 1.875em;
    }
  }
}
