div.checkout-guest-and-distributor
	div.content.checkout-container
		.checkout-title-container.no-gutter

			div.order-section
				div.order-confirmation-banner.text-white.order-banner-image
					div.order-top-section
						div.main-section.confirmation-logo.text-center
							div.header.m-b-1.m-t-1
								span{{ctrl.model.orderConfirmation.data.congratulationsHeader}}
							p.font-proximanova.m-b-1.font-size-small
								span {{ctrl.model.orderConfirmation.data.orderText1}}
								a.font-weight-bold.pointer {{ctrl.model.orderConfirmation.data.email}}
								span {{ctrl.model.orderConfirmation.data.orderText2}}
							div.m-b-1
								a.font-weight-bold.pointer {{ctrl.model.orderConfirmation.data.printReceipt}}
							div.font-size-small
								span {{ctrl.model.orderConfirmation.data.orderText3}}
							div.p-b-2
								span.order-id {{ctrl.model.orderConfirmation.data.orderId}}
	div.content.checkout-container
		.checkout-title-container.no-gutter

			div.account-text-section
				div.account-text-container.account-banner-image
					div.account-text-wrapper
						div.description-text-section
							div.account-header
								.distributor-profile-image.banner-image
									img(ng-src="{{ctrl.avatarImage}}")
								.banner-text.m-t-1
									p Hey Nina,
								.clearfix.visible-sm
							p.m-t-2 Lorem ipsum dolor sit amet, consectetur iusmod tempor. Lorem ipsum dolor sit amet, consectetur iusmod tempor. Lorem ipsum dolor sit amet, consectetur iusmod tempor.Lorem ipsum dolor sit amet, consectetur iusmod tempor.
							p.author-text.m-t-2.m-b-2 - Ronald Sisk



	customersignuppostpurchasecomponent

				div.action-section(align="center")
					button.btn.btn-primary-outline(type="button",ng-click="ctrl.viewOrPrint()") {{ctrl.model.orderConfirmation.fields.viewOrPrint}}

				div.separator-section-break.show-below-lg

				div.show-above-lg
					div.info-section.clearfix.font-proxima-t.main-section
						div.info-section-content.clearfix
							div.pull-left.text-section
								p.info-header {{ctrl.model.orderConfirmation.data.congratulationsMsg}} 		{{ctrl.model.orderConfirmation.data.name1}}
								p.info-content
									{{ctrl.model.orderConfirmation.data.briefMsg}}
								p.info-footer {{ctrl.model.orderConfirmation.data.name2}}
							div.pull-right.bullet-section.text-white
								div.header-section.clearfix(align="center")
									div.header-msg
										span {{ctrl.model.orderConfirmation.data.header2}}
									div.header-contents(align="left")
										div.clearfix(ng-repeat="item in ctrl.model.orderConfirmation.data.bullets")
											div.bullet.pull-left
											div.header-contents-data.pull-left
												span {{item.name}}

								div.info-header-button-section(align="center")
									button.btn.btn-primary-outline.fullWidth(type="button", ng-click="ctrl.createAccount()")
										span.font-size-13 {{ctrl.model.orderConfirmation.fields.createAccount}}



				div.show-below-lg
					div.info-section.font-proxima-t
						div.info-section-content.clearfix
							div.text-section
								p.info-header {{ctrl.model.orderConfirmation.data.congratulationsMsg}} 		{{ctrl.model.orderConfirmation.data.name1}}
								p.info-content
									{{ctrl.model.orderConfirmation.data.briefMsg}}
								p.info-footer {{ctrl.model.orderConfirmation.data.name2}}
						div.bullet-section.text-white.font-proxima
							div.main-section.header-parent
								div.header-section.clearfix(align="center")
									div.header-msg
										span {{ctrl.model.orderConfirmation.data.header2}}
									div.header-contents(align="left")
										div.clearfix(ng-repeat="item in ctrl.model.orderConfirmation.data.bullets")
											div.bullet.pull-left
											div.header-contents-data.pull-left
												span {{item.name}}

								div.info-header-button-section(align="center")
									button.btn.btn-primary-outline.fullWidth(type="button", ng-click="ctrl.createAccount()")
										span.font-size-13 {{ctrl.model.orderConfirmation.fields.createAccount}}
