.featured-categories-container
    .featured-categories-components
        .row.featured-catagories-banner-parent
            .col-xl-6.col-lg-4.no-gutter.catagory-tiles-child
                .featured-categories-banner
                    .featured-banner-container
                        h2.m-b-0.banner-title {{featuredcategories.bannerTitleValue}}
                        p.banner-text {{featuredcategories.bannerTextValue}}
            .col-xl-3.col-lg-4.col-md-3.col-sm-6.category-details(ng-repeat='categories in featuredcategories.featuredCategoriesData' ng-class="{'category-details-large':$index>=2}")
                a.category-item
                    .category-image
                        img.img-category(ng-src="{{categories.productImage}}")
                    .category-text
                        label.title-category {{categories.productTitle}}
