@import "../../../../src/stylesheets/partials/variables.scss";
.featured-categories-container{
    .featured-categories-components{
        background-color: $white;
        height: 100%;
        padding: 6.25rem 2.1875rem 7.1875rem 3rem;
    }
    .featured-catagories-banner-parent{
      padding: 0;
      max-width: 90em;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .catagory-tiles-child{
        flex-basis: 50%;
      }
    }
    .featured-categories-banner{
        background-color: $white;
        min-height: 18.5rem;
        width: 100%;
        margin-right: 1.875rem;
       background-image: linear-gradient(to top, #565e6f, #737c8c 19%, #9ea9b6 48%, #c7cfd6);
        align-items: center;
    }
    .featured-banner-container{
        padding: 3.375rem 4.25rem 0;
        flex-basis: 50%;
    }
    .category-details-large{
        padding-top: 4.375rem;
    }
    .banner-title{
        font-size: 1.75rem;
        font-weight: $proxima-thin;
        line-height: 1.21;
        color: $white;
    }
    .banner-text{
        font-size: 1rem;
        padding-top: 0.25rem;
        font-weight: $proxima-light;
        line-height: 1.38;
        color: $white;
    }
    .category-text{
        text-align: center;
        padding-left: 0;
    }
    .category-image{
        height: 18.125rem;
        text-align: center;
    }
    .title-category{
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        line-height: 1.18;
        letter-spacing: 0.4px;
        text-align: center;
        color: $gray-dark;
        cursor: pointer;
        width: auto;
    }
    .category-item{
        cursor: pointer;
    }
    .img-category{
        height: 16.125rem;
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
        .featured-categories-components{
            padding: 1.6875rem;
        }
        .banner-title{
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            padding-top: 1px;
        }
        .featured-categories-banner{
            min-height: 17.125rem;
            width: 100%;
            padding-top: 2rem;
        }
        .category-image{
            height: 9rem;
        }
        .title-category{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.38;
            width: auto;
        }
        .category-details{
            padding-top: 1.875rem;
            flex-basis: 50%;
        }
        .category-image{
            height: 8.5rem;
        }
        .img-category{
            height: 7.5rem;
        }
         .featured-banner-container{
            padding: 0 1.5rem;
        }
        .featured-catagories-banner-parent{
            padding: 0;
            .catagory-tiles-child{
              flex-basis: 100%;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .featured-categories-components{
            padding: 1.5625rem;
        }
        .featured-categories-banner{
            min-height: 12.8125rem;
            width: 100%;
        }
        .banner-title{
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
        }
        .category-image{
            height: 8.5rem;
        }
        .img-category{
            height: 7.5rem;
        }
        .title-category{
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.38;
            text-align: center;
            color: $gray-dark;
            width: auto;
        }
        .category-details{
            padding-top: 3.5rem;
        }
        .featured-banner-container{
            padding: 2.375rem 8.75rem 0;
        }
        .featured-catagories-banner-parent{
          padding: 0;
          .catagory-tiles-child{
            flex-basis: 100%;
          }
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px){
        .featured-categories-components{
            padding: 3.875rem 2rem;
        }
        .featured-categories-banner{
            min-height: 18.5em;
            width: 100%;
            margin-right: 0;
        }
        .banner-title{
            font-size: 1.5rem;
            font-weight: $proxima-thin;
            line-height: 1.17;
            color: $white;
        }
        .banner-text{
            padding-top: 0;
        }
        .category-text{
            padding-top: 0;
        }
        .category-details-large{
            padding-top: 4.875rem;
        }
        .featured-banner-container{
            width: 100%;
            padding: 3.375rem 2rem;
        }
        .featured-catagories-banner-parent{
          .catagory-tiles-child{
            flex-basis: 33.333%;
          }
        }
    }
}
