.psv-wrapper.col-lg-12.col-md-12.col-sm-12
    .col-lg-12.col-md-12.col-sm-12
        h2.shopping-bag-headings Lorem ipsum dolor
    .col-lg-12.order-psv-md
        .col-lg-5.col-md-5.col-sm-5.psv-headings.text-center
            div CURRENT
            .psv-values 134
            div LOREM
        .col-lg-2.col-md-2.col-sm-2.top-bottom-pad-15.arrow-right
        .col-lg-5.col-md-5.col-sm-5.psv-headings.text-center
            div IF ORDER PLACED
            .psv-values 240
            div LOREM
.order-summary-wrapper.col-lg-12.col-md-12.col-sm-12
    .col-lg-12.col-md-12.col-sm-12
        h2.shopping-bag-headings.ord-sum.m-b-0 Order Summary
    .col-lg-12.col-md-6.col-sm-12.pull-md-right.top-bottom-pad-15
        .col-lg-6.col-md-6.col-sm-6.order-sum-total.no-gutter Estimated Total
        .col-lg-6.col-md-6.col-sm-6.text-sm-right.order-sum.no-gutter {{ctrl.totalCost | currency}}
        .col-lg-12.col-md-12.col-sm-12.taxes-shipping-block
            | Taxes and shipping will be added during checkout
    .col-lg-12.col-md-6.col-sm-12
        legend
            span.order-sum-rewards PROMOTIONS & REWARDS
        fieldset.form-group(ng-class="{'has-danger': ctrl.error.isError}")
            div
                input.form-control.promo-label(type='text', placeholder='CODE COMES HERE', ng-model='ctrl.promoCode')
                span.input-group-btn.promo-apply
                    button.btn.btn-primary(type='button', ng-click='ctrl.applyCode(ctrl.promoCode)') APPLY
                span.validation(ng-show='ctrl.error.isError', ng-bind='ctrl.error.errorMessage')
    .col-lg-12.col-md-6.col-sm-12.text-md-right
        button.btn.btn-primary(type='button' ng-class="{'button-disable':ctrl.validateBag()}") CHECKOUT
