page-level-error-component(error-message="ctrl.errorMessage" danger-type="ctrl.error")
.col-lg-10.col-lg-offset-1.col-md-12.col-sm-12.top-bottom-pad-15.p-x-0.shop-cart-wrap.shopping-cart-wrapper(ng-class="(ctrl.bag.bagItems.length == 0)?'reset-width':''")
    .col-lg-6.col-md-12.col-sm-12.shopping-bag-wrapper.no-gutter
        .col-lg-12(ng-if='ctrl.bag.bagItems.length > 0')
            h2.shopping-bag-headings
                | My Shopping Bag (
                span(ng-bind='ctrl.bag.bagItems.length')
                | )
        div(ng-repeat='item in ctrl.bag.bagItems')
            .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'remove-border': $last}")
                .col-sm-3.col-md-2.col-lg-3
                    img(ng-src='{{item.itemImage}}')
                .col-sm-9.col-md-10.col-lg-9
                    .row
                        .col-lg-10.col-md-5.col-sm-10.no-gutter
                            .product-title(ng-bind='item.itemName')
                            .product-content(ng-bind='item.itemCode')
                            .product-discount(ng-if='item.discount.length')
                              center {{item.discount + " "}} OFF
                            .product-discount.new-product-block(ng-if='ctrl.isNew(item.isNew)')
                              center NEW
                        .col-lg-12.col-md-6.col-sm-12.hidden-sm-down.hidden-lg-up.no-gutter
                            .stock-status(ng-if='item.stockStatus.length')
                              .stock-status-sub(ng-if='ctrl.stockStatus("LS",item.stockStatus)')
                                p.m-b-0 LOW STOCK
                                .stock-updates
                                  {{item.stockUpdate}}
                              .stock-status-sub(ng-if='ctrl.stockStatus("OS",item.stockStatus)')
                                p.m-b-0 OUT OF STOCK
                                .stock-updates
                                  {{item.stockUpdate}}
                              .stock-status-sub(ng-if='ctrl.stockStatus("BO",item.stockStatus)')
                                p.m-b-0 ON BACKORDER
                                .stock-updates
                                  {{item.stockUpdate}}
                              .stock-description(ng-if='item.stockDescription.length')
                                {{item.stockDescription}}
                        .col-lg-2.col-md-1.col-sm-2.hidden-md-down
                              div.pull-right.btn-sm-close(ng-click='ctrl.removeItem(item.itemNo)')
                        .col-lg-2.col-md-1.col-sm-2.hidden-lg-up.no-gutter
                              div.btn-lg-close(ng-click='ctrl.removeItem(item.itemNo)')
                        .col-lg-12.col-md-4.col-sm-12.no-gutter.hidden-sm-down.hidden-lg-up.lift-up-md-quantity
                              .item-quantity
                                span QUANTITY
                              .input-group
                                span.input-group-addon.left(ng-class="{'button-disable': item.quantity == 1}" ng-click="ctrl.changeQuantity(item.quantity, $index, item.stockRemaining, '-')") -
                                input.form-control(type='text', ng-model='item.quantity', ng-disabled='true')
                                span.input-group-addon.right(ng-click="ctrl.changeQuantity(item.quantity, $index, item.stockRemaining, '+')" ng-class="{'button-disable': item.quantity >= item.stockRemaining}") +



                    .row
                        .col-lg-6.col-md-4.col-sm-6.no-gutter.lift-up-md-remaining
                            //- .product-content.sm-section-margin LOREM: {{item.psv}}
                            .product-size
                                span.product-size-label Size
                                |  | {{item.size}}
                        .col-lg-6.col-md-4.text-md-right.pull-md-right.col-sm-6.text-sm-right.lift-up-md-remaining
                            .product-cost {{item.itemCost | currency}}
                        .col-lg-12.col-sm-12.hidden-md.no-gutter
                            .stock-status(ng-if='item.stockStatus.length')
                              .stock-status-sub(ng-if='ctrl.stockStatus("LS",item.stockStatus)')
                                p.m-b-0 LOW STOCK
                                .stock-updates.sm-display-change
                                  {{item.stockUpdate}}
                              .stock-status-sub(ng-if='ctrl.stockStatus("OS",item.stockStatus)')
                                p.m-b-0 OUT OF STOCK
                                .stock-updates.sm-display-change
                                  {{item.stockUpdate}}
                              .stock-status-sub(ng-if='ctrl.stockStatus("BO",item.stockStatus)')
                                p.m-b-0 ON BACKORDER
                                .stock-updates.sm-display-change
                                  {{item.stockUpdate}}
                              .stock-description(ng-if='item.stockDescription.length')
                                  {{item.stockDescription}}

                        .col-lg-12.col-md-4.col-sm-12.no-gutter.hidden-md(style="margin-top:8px;")
                            .item-quantity
                                span QUANTITY
                            .input-group
                              span.input-group-addon.left(ng-class="{'button-disable': item.quantity == 1}" ng-click="ctrl.changeQuantity(item.quantity, $index, item.stockRemaining, '-')") -
                              input.form-control(type='text', ng-model='item.quantity', ng-disabled='true')
                              span.input-group-addon.right(ng-click="ctrl.changeQuantity(item.quantity, $index, item.stockRemaining, '+')" ng-class="{'button-disable': item.quantity >= item.stockRemaining}") +
                    .row
        .col-xs-12(ng-if='ctrl.bag.bagItems.length == 0')
            .empty-shopping-bag.text-center
                .empty-cart
                    span.icn-bag
                p Your Shopping Bag is currently empty
                button.btn.btn-primary(type='button') Go Shopping
    .col-lg-6.col-md-12.col-sm-12.shopping-bag-2(ng-if='ctrl.bag.bagItems.length > 0')
        order-summary(total-cost='ctrl.bag.orderSummary.totalCount', promo-code='ctrl.bag.orderSummary.promoCode', bag-items='ctrl.bag.bagItems')
    .col-sm-12.col-md-12.col-lg-12.top-buffer-15.p-x-0(ng-if='ctrl.bag.bagItems.length > 0')
        .col-xs-12.col-sm-12.col-md-4.col-lg-4.top-bottom-pad-15
            .col-sm-3
                .pull-right.secure-transcation
            .col-sm-9
                a.helper-title secure transactions
                .helper-desc Lorem ipsum dolor si Copy sit amet consectetur adipising elit.Quesquire eget commondo felis
        .col-xs-12.col-sm-12.col-md-4.col-lg-4.top-bottom-pad-15
            .col-sm-3
                .pull-right.easy-return
            .col-sm-9
                a.helper-title easy return policy
                .helper-desc Lorem ipsum dolor si Copy sit amet consectetur adipising elit.Quesquire eget commondo felis
        .col-xs-12.col-sm-12.col-md-4.col-lg-4.top-bottom-pad-15
            .col-sm-3
                .pull-right.help
            .col-sm-9
                a.helper-title help & assistance
                .helper-desc Lorem ipsum dolor si Copy sit amet consectetur adipising elit.Quesquire eget commondo felis
.col-sm-12.p-x-0(ng-if='ctrl.bag.bagItems.length > 0')
    shopping-carousel
