@import "../../../../../src/stylesheets/partials/variables.scss";
.shopping-bag-wrapper,
.psv-wrapper,
.order-summary-wrapper {
    background: $white;
}

.shopping-cart-wrapper {
    .psv-wrapper {
        padding-bottom: 1.5rem;
        margin-bottom: 1.25rem;
    }
    .order-summary-wrapper {
        margin-top: 0;
    }
    .top-buffer-15 {
        margin-top: 0.9375rem;
    }
    .top-bottom-pad-15 {
        padding-top: 0.9375rem;
        padding-bottom: 0.9375rem;
    }
    .border-line {
        border-bottom: 1px solid $gray-border;
    }
    .item-quantity {
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        line-height: 1.5rem;
        color: $gray-light;
    }
    .stock-status {
        clear: both;
        margin-top: 1.68rem;
        .stock-status-sub {
            p {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1;
                letter-spacing: 0.5px;
                color: $pink-variant;
                display: inline-block;
            }
            .stock-updates {
                vertical-align: top;
                display: inline-block;
                margin-left: 1em;
                font-size: 13px;
                font-weight: $proxima-light;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.46;
                color: $pink-variant;
                vertical-align: middle;
                margin-top: 0.1875rem;
            }
        }
        .stock-description {
            display: table-row;
            font-size: 0.8125rem;
            font-weight: $proxima-light;
            line-height: 1.46;
            color: $pink-variant;
            line-height: 1;
            letter-spacing: 0.5px;
        }
    }
    .item-quantity {
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        line-height: 1.5rem;
        color: $gray-light;
    }
    .shopping-bag-wrapper .row {
        margin-top: 5px;
    }
    @media (max-width: 1023px) {
        .shopping-bag-2 {
            padding: 0px;
            margin-top: 0.5625rem;
        }
        .shop-cart-wrap.shopping-cart-wrapper {
            padding: 0px;
            background-color: $gray-white;
            h2 {
                text-align: center;
            }
        }
        .order-summary-wrapper {
            margin-top: 0.5625rem;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .hidden-md {
            display: none !important;
        }
        .stock-status {
            margin-top: 0;
        }
        .lift-up-md-quantity {
            margin-top: 0.5em;
        }
        .lift-up-md-remaining {
            margin-top: -1.56em;
        }
    }
    @media screen and (max-width: 767px) {
        .stock-status {
            .stock-status-sub {
                .stock-updates.sm-display-change {
                    display: block;
                    margin-left: 0
                }
            }
        }
    }
    .remove-border {
        border: none;
    }
    .order-summary-wrapper .form-control.promo-label {
        width: 72%;
        float: left;
    }
    .promo-apply {
        width: 28%;
        button{
            padding-left: 15%;
            padding-right: 5%;
        }
    }
    .product-title {
        font-weight: $proxima-light;
        font-size: 1rem;
        line-height: 1.3125rem;
        color: $brand-primary;
    }
    .product-size {
        font-weight: $proxima-light;
        font-size: 0.8125rem;
        line-height: 1rem;
        color: $gray;
    }
    .product-cost {
        font-weight: $proxima-thin;
        font-size: 1.75rem;
        line-height: 2.125rem;
        color: $gray-dark;
    }
    .product-size-label {
        font-weight: $proxima-semibold;
        letter-spacing: 0.5px;
        color: $gray-black;
    }
    .product-content {
        font-weight: $proxima-light;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: $gray;
    }
    .taxes-shipping-block {
        background: $gray-lightest;
        min-height: 2.5rem;
        text-align: center;
        padding-top: 0.625rem;
        padding-bottom: 0.25rem;
        font-family: $font-family-sans-serif;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        color: $gray;
    }
    .product-discount {
        width: 4.125em;
        height: 1.5em;
        border-radius: 2px;
        border: solid 1px $pink;
        center {
            padding-top: 2px;
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            font-style: normal;
            font-stretch: normal;
            color: $pink-variant;
        }
    }
    .product-discount.new-product-block {
        width: 2.625rem;
        height: 1.5rem;
    }
    .shopping-bag-headings {
        font-family: $font-family-sans-serif;
        font-weight: $proxima-thin;
        font-size: 1.375rem;
        color: $gray-dark;
        margin: 1.5rem 0;
    }
    .shopping-bag-headings.ord-sum {
        font-size: 1.3125rem;
    }
    .helper-title {
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        line-height: 1rem;
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
    }
    .helper-desc {
        font-family: $font-family-sans-serif;
        font-weight: $proxima-light;
        font-size: 0.8125rem;
    }
    .psv-values {
        font-weight: $proxima-thin;
        font-size: 1.3125rem;
        line-height: 1.5rem;
        color: $gray;
    }
    .psv-headings {
        font-weight: $proxima-light;
        font-size: 0.8125rem;
        line-height: 1rem;
        color: $gray;
    }
    .order-sum-rewards {
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        line-height: 1rem;
        color: $gray-black;
        letter-spacing: 0.5px;
        margin-top: 0.625rem;
    }
    .order-sum-total {
        font-weight: $proxima-light;
        font-size: 1rem;
        line-height: 1.3125rem;
        color: $gray-dark;
        margin-top: 0.375rem;
    }
    .order-sum {
        font-weight: $proxima-thin;
        font-size: 1.75rem;
        line-height: 2.125rem;
        color: $gray-dark;
    }
    .shopping-bag-wrapper .input-group input {
        //padding-left: 1.5rem;
    }
    .shopping-bag-wrapper .input-group .button-disable {
        opacity: 0.3;
    }
    .shopping-bag-wrapper .input-group .button-disable:hover {
        opacity: 0.3;
    }
    .btn-sm-close {
        cursor: pointer;
        background-image: url('../../../../../src/assets/images/content/ic-close-circle-copy-3.png');
        width: 1em;
        height: 1em;
    }
    .btn-lg-close {
        background-image: url('../../../../../src/assets/images/content/ic-close-circle-copy-2.png');
        width: 2em;
        height: 2em;
    }
    .arrow-right {
        background-image: url('../../../../../src/assets/images/content/arrow-right.png');
        width: 1.9375em;
        height: 1.9375em;
        margin-top: 0.5rem;
    }
    .secure-transcation {
        background-image: url('../../../../../src/assets/images/content/secure-transactions.png');
        width: 2.75em;
        height: 2.75em;
    }
    .easy-return {
        background-image: url('../../../../../src/assets/images/content/easy-return-policy.png');
        width: 2.6875em;
        height: 2.75em;
    }
    .help {
        background-image: url('../../../../../src/assets/images/content/help-and-assistance.png');
        width: 2.75em;
        height: 2.75em;
    }
    &.reset-width {
        width: 100%;
        margin-left: 0;
        padding: 0;
        & .shopping-bag-wrapper {
            width: 100%;
        }
        & .empty-shopping-bag {
            font-weight: $proxima-semibold;
            color: $gray-light;
        }
        & .empty-cart {
            background-color: $gray-fair;
            width: 11.625em;
            height: 11.625em;
            margin: 4.3em auto 1em;
            border-radius: 50%;
            display: inline-block;
        }
        & .icn-bag {
            display: inline-block;
            width: 4.1875rem;
            height: 5.125rem;
            background: url(../../../../../src/assets/images/css/ic-bag.svg) no-repeat;
            background-size: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        & .empty-cart + p {
            font-size: 1.375rem;
            font-weight: 100;
            line-height: 1.2;
            text-align: center;
            color: $gray;
            padding-top: 0.75rem;
            padding-bottom: 2.9375rem;
        }
        & button {
            width: 27.125rem;
            margin-bottom: 9.625rem;
        }
    }
    img {
        height: 4.625rem;
        display: block;
        margin: 0 auto;
    }
}

//Small
@media all and (min-width: 360px) and (max-width: 767px) {
    .sm-section-margin {
        margin-bottom: 1.5rem
    }
    .shopping-bag-headings {
        text-align: center;
    }
    .shopping-cart-wrapper {
        .psv-wrapper {
            margin-bottom: 0rem;
        }
        .stock-status {
            margin-top: 1rem;
        }
        &.reset-width {
            & .empty-cart {
                margin: 3.5em auto 1em;
            }
            & .empty-cart + p {
                padding-left: 5.0625rem;
                padding-right: 5.0625rem;
                padding-top: 0;
                padding-bottom: 1.875rem;
            }
            & button {
                width: 20.3125rem;
                margin-bottom: 2.75rem;
            }
        }
        & .hidden-lg-up {
            & .btn-lg-close {
                width: 1.4375em;
                height: 1.4375em;
                background-size: 100%;
            }
        }
    }
}

//Medium
@media all and (min-width: 768px) and (max-width: 1023px) {
    .order-psv-md {
        width: 19.25rem;
        margin: 0 auto;
    }
    .shopping-bag-headings {
        text-align: center;
    }
    .shopping-cart-wrapper {
        .psv-wrapper {
            margin-bottom: 0rem;
        }
        &.reset-width {
            & .empty-cart {
                margin: 3.5em auto 1em;
            }
            & button {
                width: 20.3125rem;
                margin-bottom: 3.8125rem;
            }
        }
    }
}