@import "../../../../src/stylesheets/partials/variables.scss";
@keyframes rotateLeft {
    0.00% {
        transform: rotate(0deg) translate3d(-5.625em, -2.8125em, 0) rotate(0deg);
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: rotate(90deg) translate3d(0, 0, 0) rotate(-90deg);
        opacity: 0;
    }
}

@keyframes rotateRight {
    0.00% {
        transform: rotate(0deg) translate3d(5.625em, -2.8125em, 0) rotate(0deg);
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: rotate(-90deg) translate3d(0, 0, 0) rotate(90deg);
        opacity: 0;
    }
}

@keyframes checked {
    0% {
        opacity: 0;
        transform: scale3d(1);
    }
    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bagBounce {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, 10%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes conifrmEnter {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animate {
    font-size: 0.8125rem;
    font-weight: $proxima-semibold;
    line-height: 1.31;
    letter-spacing: 0.5px;
    color: $brand-primary;
    padding-top: 0.8125rem;
    cursor: pointer;
    text-transform: uppercase;
}

#shoppingCartModal .modal-content {
    border-radius: 0;
    width: 18.75em;
    height: 18.75em;
    margin-left: auto;
    margin-right: auto;
}

#shoppingCartModal {
    .modal-dialog {
        margin-left: auto;
        margin-right: auto;
    }
    .remove-padding {
        padding: 0;
    }
}

#add-to-cart .bag-item b {
    font-size: 1.125rem;
    margin-left: 0.3125rem;
    color: $gray;
    font-weight: normal;
}

#add-to-cart {
    margin: 0 auto;
    width: 18.75em;
    .cart-overlay {
        background: $white;;
        padding: 3rem 0 1rem;
    }
    .cart-confirm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    }
    .icons {
        position: relative;
        height: 2.375em;
        transform-origin: center 18.75em;
        margin-bottom: 1rem;
        animation: bagBounce .25s linear;
        animation-delay: .8s;
        animation-fill-mode: both;
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url('../../../../src/assets/images/css/ic-product-tub.svg') no-repeat;
            background-size: 100%;
            height: 0.8125rem;
            width: 0.8125rem;
            bottom: 0;
            left: 0;
            opacity: 0;
            animation: .35s rotateLeft ease-in;
            animation-delay: .5s;
            animation-fill-mode: both;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            background: url('../../../../src/assets/images/css/ic-product-tube.svg') no-repeat;
            background-size: 100%;
            height: 1.4375em;
            width: 0.625rem;
            bottom: 0;
            right: 0;
            opacity: 0;
            animation: .35s rotateRight ease-in;
            animation-delay: .5s;
            animation-fill-mode: both;
        }
    }
    .icon-shopping-bag {
        display: block;
        background: url('../../../../src/assets/images/css/ic-shopping-bag.svg') no-repeat;
        background-size: 100%;
        height: 2.375em;
        width: 2em;
        position: relative;
        z-index: 10;
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url('../../../../src/assets/images/css/ic-checkmark-circle.svg') no-repeat;
            background-size: 100%;
            height: 1.375em;
            width: 1.375em;
            bottom: -0.5rem;
            right: -0.5rem;
            animation: checked .25s ease-in;
            animation-delay: .8s;
            animation-fill-mode: both;
        }
    }
    .cart-total {
        padding-top: 1.563rem;
        width: 100%;
        border-top: 0.0625rem solid $gray-whisper;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-confirm {
        animation: conifrmEnter .25s ease-in;
        animation-delay: 1s;
        animation-fill-mode: both;
        margin: 0;
    }
    .cart-total-footer {
        display: flex;
        p {
            font-size: 0.8125rem;
            margin: 0;
            &::before {
                float: left;
                margin: 0 1rem;
                content: '';
                width: 0.0625rem;
                height: 1.5em;
                background: $gray-whisper;
            }
            &:first-of-type,
            &:only-of-type {
                &::before {
                    content: none;
                }
            }
            strong {
                font-size: 1rem;
                font-weight: $proxima-light;
            }
        }
    }
    .cart-total-header {
        text-align: center;
        h3 {
            text-transform: none;
            letter-spacing: 0;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
        }
    }
}

.page__main{
  .drop-section{
    .dropdown-menu {
      max-height: 25em;
      width: 20.3125em;
      overflow: auto;
      position: absolute;
      left: 0;
      top: 2.8125em;
      z-index: 8005;
      input{
        width: 100%;
        text-align: left;
      }
      li {
        text-align: left;
        font-size: 1rem;
        margin: 0 0.5rem;
      }
      li a{
        font-size: 1rem;
        text-decoration: none;
        color: $gray-dark;
        padding: 3px 0.5rem;
        display: block;
        clear: both;
        line-height: 1.42857143;
        white-space: nowrap;
      }
    }
    .skus-btn{
      width: 20.3125rem;
    }
    .input-group {
      width: 100%;
    }
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
      color: $white;
      text-decoration: none;
      background-color: $brand-primary;
      opacity: 0.6;
    }
  }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    #shoppingCartModal {
        .modal-dialog {
            width: auto;
        }
        .modal-content{
            width: 100%;
        }
        #add-to-cart{
            width: 100%;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #shoppingCartModal {
        .modal-dialog {
            width: auto;
        }
    }
}
