.container-fluid
  .row
    .col-lg-12.no-gutter
      a.animate(ng-click='productBag.getShoppingCartModalBox()', 
      ng-class="{'hideFlag' :  productBag.hideFlag }") {{productBag.displayText}}
      #shoppingCartModal.modal.fade(tabindex='-1', role='dialog', data-container="body", aria-labelledby='myModalLabel', aria-hidden='true', data-backdrop="static", data-keyboard="false")
        .modal-dialog
          .modal-content.remove-padding
            .modal-body.remove-padding
              ng-form(name='productBag.popupForm', novalidate='')
                #add-to-cart
                  .cart-overlay
                    .cart-confirm
                      .icons
                        span.icon-shopping-bag
                      p.text-confirm {{productBag.productBagData.itemsAdded}} Item Added to Bag
                    .cart-total
                      .cart-total-header
                        h3 Shopping Bag Total:
                        h2 {{productBag.productBagData.productCost}}
                      .cart-total-footer
                        p.text-uppercase.bag-item
                          | BAG ITEMS
                          b {{productBag.productBagData.itemsAdded}}
                        p.text-uppercase.bag-item
                          | LOREM TOTAL
                          b {{productBag.productBagData.psvValue}}
