.category-directory
  .col-sm-12.watch-video-panel.no-gutter(ng-style="{'background-image': 'url({{ctrl.watchVideoUrl}})'}")
    div.watch-video-overlay
    .col-sm-12.no-gutter
      center(ng-hide='ctrl.videoPlaying')
        p SOME TEXT ABOUT THE VIDEO COMES
        p  HERE AND HERE
        button(ng-click='ctrl.togglePlay()') Watch
      .watch-video-panel-category(ng-hide='!ctrl.videoPlaying')
        .embed-responsive.embed-responsive-16by9
          video#video-category-directory.embed-responsive-item(ng-src='{{ctrl.videoURL}}' ng-click='ctrl.togglePlay()' ng-hide='!ctrl.videoPlaying' ui-event="{ended:'ctrl.onVideoEnd($event)'}")
            source(type='video/mp4')
            | Your browser doesn't support HTML5 video.
