@import "../../../../src/stylesheets/partials/variables.scss";

.featured-video-container{
  .height-fixer{
  max-height:38.062em !important; //comment to revert back
  }
  background: black;
  clear: both;
  .display-fixer{
  //  display: flex !important; //uncomment to revert back
  }
  .video-box{
    margin: auto;
  //  max-width: 90em !important; // uncomment to revert back
  }  
  .video-btn {
      display: flex;
  }
  .video-overlay{
      cursor: pointer;
      text-align: center;
      width: 28.625em;
      margin: auto;;
      padding: 0;
      position: relative;;
      z-index: 10;
      border: none;
      .video-desc{
        padding-left: 10%;
        padding-right:10%;
        h1{
          font-size: 1.75em;
          font-weight: $proxima-light;
          line-height: 1.21;
        }
      }

      .watch-video-outer{
        margin: 1.187em auto;
        width: 9.625em;
        height: 2.75em;
        position: relative;
        border-radius: 3px;
        border: solid 1px $white;
        .watch-video-inner{
          position: relative;

          height: 1em;
          margin: auto;
          text-align: center;
          top: calc(50% - 8px);

          p{
            margin: auto;
            font-size: 13px;
            font-weight: $proxima-semibold;
            line-height: 1.31;
            letter-spacing: 0.5px;
          }

        }
      }
      .watch-video-outer:hover{
        border: solid 1px $blue-light;
      }
  }
  .video-box{

  }

}

@media screen and (max-width: 767px) {
  .featured-video-container{
    .video-overlay{
      width: 23.437em;
      .video-desc{
        padding-left: 10%;
        padding-right:10%;
        h1{
          font-size: 1.5em;
          font-weight: $proxima-thin;
          line-height: 1.17;
        }
      }
    }
  }
}
@media screen\0 {
  .featured-video-container{
    .video-overlay{
     top: calc(50% - 4.0625em);
    }
  }
}
