<br>
<div class="register-carousel-mobile">
    <ul rn-carousel>
        <li ng-repeat="slide in ctrl.slides">
            <img src="../../../assets/images/1.png">
        </li>
    </ul>
</div>

<div class="hidden-xs">
    static images come here
</div>