@import "../../../stylesheets/partials/variables.scss";

.account-creation {
	.bg-image {
		height: 16.375em;
		background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
	}
	.full-width {
		width: 100%;
	}
	.complete-account{
	    font-size: 1.81rem;
	    font-weight: $proxima-light;
	    line-height: 1.07;
	    color: $white;
	}
	.account-container {
		background: $white;
	}
	.form-group {
    	margin-bottom: 1.25em;
	}
	.email-pic {
		background: url(../../../../src/assets/images/css/email-pic.png) center no-repeat;
		height: 3.75rem;
	}
	.email-image{
		margin: 0 0 1.875rem 0;
	}
	.email-message-text{
		font-size: 1rem;
		line-height: 1.25rem;
		color: $gray-dark;
	}
	.email-message-id{
		font-size: 1rem;
		font-weight: $proxima-semibold;
		line-height: 1.25rem;
		color: $gray-dark;
	}
	.dont-recognize-text{
		font-size: 0.875rem;
		color: $gray-darker;
	}
	.dont-recognize-number{
		font-size: 0.875rem;
	}
	.dont-recognize-message{
		margin-bottom: 3.0625rem;
	}
	.gray-lighter {
		color: $gray-lighter;
		font-size: 0.875rem !important;
	}
	.error-block {
		color: $brand-danger;
		font-size: 0.9375rem;
	}
	.signup-components {
		width: 27.1875rem;
	}
	.email-wrapper {
		margin-bottom: 3em;
	}

	@media screen and (min-width: 360px) and (max-width: 767px) {
		.bg-image {
			height: 9.625em;
		}
		.signup-components {
			width: 20.3125rem;
		}
		.complete-account{
		    padding: 1.57em 2.57em;
		}
		.email-wrapper {
			margin-bottom: 2em;
		}
		.email-pic{
			height: 3rem;
		}
		&.account-creation {
			background: $white;
		}
	}

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		.bg-image {
			height: 7.75em;
		}

		.complete-account{
			padding-top: 1.8rem;
    		padding-bottom: 1.57em;
    		padding-right: 1em;
		    padding-left: 1em;
		    margin-right: 25%;
		}
		.complete-text{
			padding: 0 15%;
		}
		&.account-creation {
			background: $white;
		}
	}
	@media screen and (min-width: 1024px)  {
		.complete-account{
		    margin-right: 33.33%;
		    padding-top: 2.08em;
		    padding-bottom: 6em;
		}
		.complete-account span {
			padding-bottom: 1.875rem;
		}
		.account-container {
			margin-top: -9.25rem;
			padding-top:0;
			width: 41.5em;
			margin-left: 26.4%;
    	}
	}
	@media screen and (min-width: 1024px) and  (max-width: 1200px){
		.account-container {
			margin-top: -9.25rem;
			padding-top:0;
			width: 41.5em;
			margin-left: 20%;
    	}
	}
	@media screen and (min-width:1440px){
		.complete-account span {
			padding-bottom: 2rem;
		}
	}
}
.error-container{
	background: $light-red;
	margin-bottom: 4%;
	margin-top: 4%;
	padding: 0.625rem;
}
.info-div {
	margin-left: 0.3125rem;
	width: 1.0625rem;
	height: 1.0625rem;
	background: url(../../../../src/assets/images/css/group-8.png) center no-repeat;
}
.tooltipwrapper .dropdown-menu .dropdown-title {
	text-align: left;
}
.account-verification .security-code{
	padding-top: 0.625rem;
}
.account-completion{
	label {
		color: $gray-black;
	}
.account-verification {
	.email-msg {
		margin-bottom: 9em;
	}
}
}
