navbar
.container-fluid.no-gutter.account-creation
      .row.bg-image
        .complete-account.col-sm-12.col-md-6.col-md-offset-3.text-center
          span.col-sm-12.col-md-12.complete-text Let's complete your account
      .row.col-lg-6.col-xl-6.col-lg-offset-2.col-xl-offset-3.account-container
        .signup-components
          .country-section
            form.signupform.ng-pristine.ng-invalid.ng-invalid-required(name='form', novalidate='novalidate')
              .col-lg-12.no-gutter
                .form-group
                  .tooltipwrapper
                    label.info-dropdown
                      | Customer or Distributor ID
                      //.dropdown-backdrop
                      button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true', ng-click="ctrl.togglePopUp($event)")
                        span Info
                      .dropdown-menu(aria-labelledby='dropdownLogin')
                        p.dropdown-title
                          | Your customer or distributor account number can be found in the welcome email when u first created an account.
                        p.dropdown-content
                          | If you can't locate your customer or distributor account number, please contact Customer Servive at
                          a 1-800-487-1000
                          | for further assistance.
                    input#customerId.form-control(type='text', name='customerId', placeholder='Please enter Customer/Distributor ID', ng-model='ctrl.customerId', required='' ng-blur='ctrl.checkCustomerId()' autofocus="autofocus")
                    .error-block
                      div(ng-show='ctrl.emptyError') Your Customer/Distributor ID is required
                    .error-container(ng-show='(ctrl.isInvalidData)')
                      strong.text-danger An existing profile has already been created for this ID.
                      br
                      span
                        | Please
                        a(href='#') Login,
                        | or
                        a(href='#/signup') Create
                        |  a New Account
                .form-group.m-a-0
                  input#Submit.btn.btn-primary.full-width(type='Submit', value='CONTINUE', ng-click='ctrl.validateCustomerId()')
                .form-group.m-a-0
                  input#cancel.btn.btn-primary-outline.full-width(type='button', value='CANCEL', ng-click='ctrl.cancel()')
