div.checkout-guest-and-distributor(ng-click="ctrl.fireBlur();")
	div.checkout-container
		.checkout-title-container.no-gutter
			section.header
				div.section.invite-banner

					div.container-fluid.p-t-1(align="left")
						div.text-white.logo-header(align="center")
							div
								h1.text-white.text-uppercase Invite Generated

					div.steps
						div.container-fluid.clearfix.displayTable.actionMenu(align="center")
							div.pull-left.signupType-logo-done.relative							
							div.pull-left.active.relative.inviteLink-logo.m-r-0
								div.active-arrow-up

					div.step-indicator
						small.text-uppercase.text-white Invite Link
		.distributor-content-container.no-gutter.clearfix
			.invite-link-wrapper.m-t-2.text-center
				.link-content
					p
					| Your invitation for 
					b preferred customer
					|  is ready.
				.content-list-wrapper.user-link-container
					div.m-t-0_5
						div.user-link.text-center(ng-class="{'blur-field': ctrl.blurField}")
							span#textlink.text-center.m-b-0 amy.smith.nuskin.com/abd12371376127361723612736
						button.btn.btn-primary-outline.copy-btn(data-clipboard-target="#textlink", ng-click="ctrl.copyClip('textlink')", ng-model="ctrl.copyValue") {{ctrl.copyValue}}
					div.section-margin
						p.content-tips-header Tips on sharing your invite link
				.content-list-wrapper
					div.content-tips.m-b-2
						.email-section.col-sm-12
							div.email-icon.content-image(ng-src=)
							.content-tips-text
								span Create a personalized email and include your invite to sign up.
						.email-section.col-sm-12.m-t-1
							div.copy-icon.content-image(ng-src=)
							.content-tips-text
								span Easily copy and paste into a text message for a quicker response. 
						.email-section.col-sm-12.m-t-1
							div.message-icon.content-image(ng-src=)
							.content-tips-text
								span Send a direct message via Facebook or your preferred social network channel. 
				
				div.col-sm-12.section-margin.no-gutter.fullWidth
					button.btn.btn-primary.m-b-1(ng-click="ctrl.gotoPage('/#/distributorSignup/distributorInviteType')") GENERATE A NEW INVITE
					button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goToHome()") I'M DONE FOR NOW


