@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/signup/components/social-media/social.signup.scss";

.friends-family-signup-content{
    .banner-img-family{
        display: inline-block;
    }
    .section-family-password{
        padding-top: 2.688em;
    }
    .invite-banner .distributor-avatar{
        width: 4.375em;
    }
    .seperation-title{
        font-weight: $proxima-semibold;
    }
    .form-group input, .input-group input {
        margin-bottom: -0.375rem;
    }
    .small{
        font-size: 0.7125rem ;
    }
    .divider p{
        padding: 0.8em;
    }
    .invite-banner .section{
        padding-top: 2.918rem;
    }
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
        margin-bottom: 0.1em;
    }
    .signup-components{
        width: 27.125em;
        .social-signup{
            span{
                font-size: 0.813rem;
                font-weight: $proxima-light;
                line-height: 1.46;
            }
            .btn-link{
                display: inline;
                cursor: pointer;
            }
        }
    }
    .banner-text-family{
        text-align: left;
        font-size: 1.5rem;
        font-weight: $proxima-light;
        line-height: 1.25;
        color: $white;
        margin: 0.2em auto auto 0.625rem;
        display: inline-block;
    }
    .banner-container{
        margin-top: 2.750em;
    }
    .signup-container{
        width: 41.500em;
        margin: -7em auto auto auto;
        padding: 3% 0;
    }
    .invite-banner-family{
        height: 16.375em;
    }
    @media screen and (min-width: 360px) and (max-width: 767px){
       .banner-text-family{
            text-align: center;
            display: inline-block;
            margin-top: 1.2em;
       }
       .section-family-password{
            padding-top: 3.000em;
        }
        .signup-components-family{
            padding: 3% 4%;
            width: 100%;
        }
        .invite-banner .distributor-avatar{
            width: 7.813em;
            margin: -1.125em auto auto auto;
        }
        .banner-image-family{
            margin: 3.750em auto auto 40%;
            display: block;
            text-align: center;
        }
        .invite-banner-family{
            height: 17.000em;
        }
        .signup-container-family{
            width: 100%;
            margin: auto;
            padding: 5% 4%;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        .signup-components-family{
            margin-top: 0.813em;
        }
        .invite-banner-family{
            height: 8.563em;
        }
        .section-family-password{
            padding-top: 2.500em;
        }
        .signup-container-family{
            margin-top: 0;
        }
    }
    @media screen and (min-width:1024px) and (max-width:1440px) {
        .signup-components{
            margin-top: 0.813em;
        }
        .section-family-password{
            padding-top: 2.688em;
        }
    }
}
