.friends-family-signup-content
    .invite-banner.invite-banner-family
        .section.section-family-password
            img.distributor-avatar.banner-image-family(src='../../../../src/assets/images/content/distributor-avatar.png')
            h2.text-center.banner-text-family
                |Ronald Sisk has invited you to
                br
                |share a shopping account
    .signup-container.signup-container-family
        .signup-components.signup-components-family
            legend
                span.line.seperation-title Join Now!
            .social-signup
                a.btn.btn-social.btn-facebook.col-xs-12
                    .social-media-icon
                    .social-media-text JOIN WITH FACEBOOK
                span By clicking “Join with Facebook” you agree to our
                    .btn-link Terms of Use
                    |and
                    .btn-link  Privacy Policy
            .content-seperator
                span.divider
                    p.small OR
            .content-seperator
                legend
                    span.line.seperation-title With Email Address
                form(name="familysignup.usernameForm" form-submit="familysignup.familySignupContinue()" controller="familysignup" novalidate)
                    div.username-title-family-signup
                        email-phone.username-input-family-signup(credentials='familysignup.credentials' is-email='familysignup.isEmail' title='Username (Email Address)' is-required='familysignup.isRequired', is-submitted='familysignup.usernameForm.$submitted')
                    div.form-group.row
                    input.btn.btn-primary.col-xs-12(type='Submit' value='CONTINUE')
