@import "../../../../../src/stylesheets/partials/variables.scss";
.tile-container {
    background-color: $gray-lightest;
    .tile {
        background-color: $white;
        display: inline-block;
        border: 1px solid $gray-lighter;
    }
    .deactivate {
        opacity: 0.2;
        border: 1px solid $gray-dark-shade;
        z-index: 10;
    }
    .uploaddeactivate{
        opacity: 0.2;
        z-index: 10;
    }
    .tile-image {
        height: auto;
        overflow: hidden;
        position: relative;
        text-align: center;
        img {
            width: auto;
            display: inline-block;
            margin: 0 auto;
            max-height: 100%;
        }
    }
    .tile-image:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        /* vertical alignment of the inline element */
        height: 100%;
    }
    .tile-container {
        background-color: $gray-lightest !important;
    }
    .top-rated-cover {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 4px;
        padding-bottom: 0;
        padding-left: 1rem;
        .top-rated {
            width: 3rem;
            height: 1.5rem;
            border-radius: 2px;
            border: solid 1px $pink-light;
            padding-top: 4px;
            text-align: center;
            p {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.08;
                color: $pink;
            }
        }
    }
    .tile-description {
        padding-top: 0.750em;
        font-weight: $proxima-light;
        font-size: 0.813em;
        line-height: 1.1;
        padding-left: 1em;
        height: 3.438em;
        overflow: hidden;
    }
    .tile-footer {
        max-height: 2.188em;
        padding-top: 1.063em;
    }
    .tile-icon-container {
        float: left;
        width: 100%;
        margin-top: 1rem;
    }
    .logo {
        height: 1.938em;
        width: 1.938em;
        position: relative;
        float: left;
        margin-left: 1em;
        margin-bottom: 0.6em;
    }
    .logo-share {
        height: 1.250em;
        width: 1.050em;
        position: relative;
        float: right;
        margin-top: 0.250em;
        margin-right: 0.925em;
        background: url(../../../../../src/assets/images/css/ic-share@3x.png) no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
    }
    .media-delete-container {
        height: 1.50em;
        width: 1.375em;
        background: url('../../../../../src/assets/images/css/ic-delete.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .delete-tile {
        position: relative;
        float: right;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .undo-btn {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .undo-delete {
        padding: 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    .undo-delete div {
        height: 3em;
        width: 7.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
    .upload {
        padding: 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        .loading-text{
            color: $brand-primary;
            position: relative;
            text-align: center;
            margin-top: 1rem;
        }
    }
    .upload div {
        height: auto;
        width: auto;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        margin-top: 1rem;
    }
    .media-favorite-container {
        position: absolute;
        top: 0.6rem;
        right: 1.2rem;
        button {
            width: 2.25rem;
            height: 2.25rem;
            cursor: auto;
        }
    }
    .new-or-star-section {
        height: 1.75rem;
    }
}

.tile-container .category-tile {
    padding: 5px;
    .tile-image {
        height: 13em;
    }
}

.check-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.share-modal-head {
    font-size: 1.375em;
    font-weight: $proxima-thin;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    text-align: center;
    color: $gray-dark;
    margin-bottom: 2rem;
}

.share-modal-text {
    font-size: 1em;
    font-weight: $proxima-thin;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    color: $gray-dark;
}

.share-modal-button {
    padding: 0 0.5em;
}

.checkbox label.share-modal-label,
.checkbox input[type="checkbox"] + label.share-modal-label {
    font-size: 0.875em;
    font-weight: $proxima-light;
    padding-left: 2em;
    font-style: normal;
    font-stretch: normal;
    color: $gray-faded;
}

.mediacenter-stars {
    display: inline-block;
    margin: 0.15em 0.25em 0em 0;
    padding-left: 0.9375rem;
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .tile-container {
        .tile-footer {
            padding-top: 0.875em;
        }
        .tile-image {
            height: 10.125em;
        }
        .tile-description {
            height: 3.938em;
        }
        .tile-icon-container {
            margin-top: 0;
        }
        .tile.last-tile .tile-description {
            max-height: 9rem;
            height: 6.5rem;
        }
    }
    .tile-container .category-tile {
        .tile-image {
            height: 9.125em;
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .tile-container {
        .tile-image {
            height: 10.20em;
        }
        .tile-description {
            height: 3.938em;
        }
        .tile-icon-container {
            margin-top: 0;
        }
        .tile.last-tile .tile-description {
            max-height: 9rem;
            height: 6.7rem;
        }
    }
    .tile-container .category-tile {
        .tile-image {
            height: 15em;
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .tile-container {
        .tile-description {
            font-size: 0.875em;
            height: 3.638em;
        }
        .tile-image {
            height: 14.125em;
        }
        .tile-icon-container {
            margin-top: 0;
        }
        .tile.last-tile .tile-description {
            max-height: 9.5rem;
            height: 6.5rem;
        }
    }
    .tile-container .category-tile {
        .tile-image {
            height: 15em;
        }
    }
}

@media all and (min-width: 1440px) {
    .tile-container {
        .tile-description {
            font-size: 0.875em;
            height: 3.938em;
        }
        .tile-image {
            height: 16.20em;
        }
        .tile.last-tile .tile-description {
            max-height: 9.5rem;
            height: 6.9rem;
        }
    }
    .tile-container .category-tile {
        .tile-image {
            height: 13em;
        }
    }
}