.modal-body.clearfix
    .col-sm-12.pointer.close-modal-icon
        .btn-lg-close.pull-right(ng-click='modalCtrl.cancel()')
    .col-sm-12.share-modal-head.text-center Leaving Nu Skin Site
    .col-sm-10.share-modal-text.m-b-1 You are currently leaving the Nu Skin site in order to access share functions in.
    .col-sm-12.share-modal-text.m-b-1 Would you like to continue?
    .col-sm-12.share-modal-button
        div.col-sm-12.col-md-6.share-modal-button
            button.btn.btn-primary.m-b-1(ng-click='modalCtrl.ok()') Continue
        div.col-sm-12.col-md-6.share-modal-button
            button.btn.btn-secondary-modal.fullWidth.font-weight-normal(ng-click='modalCtrl.cancel()') Cancel
    .col-sm-12.share-modal-button.m-t-1
        .checkbox
            input#shareCheckbox(type="checkbox")
            label.share-modal-label(for="shareCheckbox") Do not show this message again.