@import "../../../../src/stylesheets/partials/variables.scss";
.prospecting-courses-wrapper {
    margin-bottom: 7.875rem;
    // overriding carousel style for extra margin
    .slick-slider.carousel .slick-next {
        right: -0.8rem;
        width: 1.88rem;
    }
    .slick-slider.carousel .slick-prev {
        left: -0.8rem;
        width: 1.88rem;
    }
    .slick-slider.carousel {
        margin: 0;
    }
    .prospecting-courses-heading {
        width: 38.8125em;
        text-align: center;
        margin: 7rem auto 1.75rem;
        h1 {
            font-size: 1.375em;
            letter-spacing: 0.4px;
            line-height: 1.21;
            color: $gray-dark;
            ;
        }
    }
    .prospecting-carousel {
        .prospecting-tile {
            width: 13.75rem;
            height: 19.0625em;
            position: relative;
            margin: auto;
            background-color: $white;
            .banner-container {
                width: 100%;
                height: 8.125em;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .text-wrapper-box {
                margin-left: 0.875em;
                .course-type {
                    margin-top: 1.25em;
                    height: 1.4375em;
                    vertical-align: middle;
                    font-size: 0.8125em;
                    font-weight: $proxima-semibold;
                    text-transform: capitalize;
                    color: $blue-light;
                }
                .course-heading {
                    font-size: 0.875em;
                    margin-bottom: 5px;
                    p{
                        font-weight: $proxima-thin
                    }

                }
                .course-sub-heading {
                    font-size: 0.875em;
                    font-weight: $proxima-light;
                    line-height: 1;
                    color: $gray-dark;
                }
                .tile-clock {
                    position: absolute;
                    padding-left: 2em;
                    bottom : 1.25em;
                    background: url('../../../../src/assets/images/css/clock-small.png') no-repeat left center;
                    span {
                        text-transform: uppercase;
                        width: 5.75em;
                        font-size: 0.875em;
                        font-weight: $proxima-light;
                        line-height: 1.29;
                        color: $gray;
                    }
                }
            }
        }
    }
@media screen and (min-width: 1440px){
   margin-bottom: 8.625em;
  .prospecting-courses-heading {
         margin: 7em auto 1.75rem;
    }
    .prospecting-carousel {
        .prospecting-tile {
            width: 12.8125em;
            height: 18.375em; }}
  .slick-slider.carousel .slick-next {
      right: -7.8rem;
  }
  .slick-slider.carousel .slick-prev {
      left: -7.8rem
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
     margin-bottom: 7.4375rem;
  .prospecting-carousel {
      .prospecting-tile {
          width: 10.3125em;
          height: 14.8125em;
          .banner-container {
              width: 100%;
              height: 6.5625em;
          }
          .text-wrapper-box {
              margin-left: 0.6875em;
              .tile-clock {
                  padding-left: 2em;
                  margin-top: 0.9375em;
              }
          }
      }
  }
}
  @media screen and (min-width: 360px) and (max-width: 767px){
      margin-bottom: 5.5rem;
    .prospecting-courses-heading {
        width: 100%;
        text-align: left;
        padding-left: 1.5625em;
        margin: 3.875em auto 1.1875em;
        h1 {
            font-size: 1.375em;
            line-height: 1.21;
            letter-spacing: 0.4px;
            color: $gray-dark;
        }
        h1 .heading-sub{
          margin-top: 0.625em;
        }
    }
    .prospecting-carousel {
        .prospecting-tile {
            width: 9.5625em;
            height: 13.6875em;
            .banner-container {
                width: 100%;
                height: 6.0625em;
            }
            .text-wrapper-box {
                margin-left: 0.6875em;
                .tile-clock {
                    padding-left: 2em;
                    margin-top: 0.9375em;
                }
            }
        }
    }
  }
}
