.container-fluid.prospecting-courses-wrapper
  .row
    .col-sm-12
      .prospecting-courses-heading
        h1.m-b-0
          | Looking for more information about prospecting?
        h1.headding-sub
          | CHECKOUT THESE COURSES
    .col-sm-12.col-xl-10.col-xl-offset-1.prospecting-carousel(ng-if='ctrl.courseData.length')
      slick.carousel.carousel-secondary(settings="ctrl.slickSecondaryConfig")
        div(ng-repeat="tile in ctrl.courseData")
          .carousel-tile
            .prospecting-tile
              .banner-container(ng-style="{'background-image': 'url({{tile.courseBanner}})'}" )
              .text-wrapper-box
                .course-type.pointer
                    a {{tile.courseType}}
                .course-heading
                    p.m-b-0 {{tile.courseHeading}}
                .course-sub-heading
                    |{{tile.courseSubHeading}}
                .tile-clock
                    span {{tile.time}}
