@import "../../../../../src/stylesheets/partials/variables.scss";
.tile-container {
    background-color: $white;
    padding: 0.3125rem;
    & .tile-container {
        background-color: $white !important;
    }
    & #mediatile {
        background-color: $white !important;
    }
    video::-webkit-media-controls {
        display: none;
    }
    #bigPlayButton {
        width: 2.5rem;
        height: 2.5rem;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
    }
    .tile {
        background-color: $gray-lightest;
        display: inline-block;
        border: 0.0625rem solid transparent;
    }
    #list {
        padding: 3.000em 1em 1em 1em;
    }
    .category-tile {
        padding: 1.563rem 0.3125rem 0.3125rem 0.3125rem;
    }
    .deactivate {
        opacity: 0.2;
        border: 0.0625rem solid $gray-dark-shade;
        z-index: 10;
    }
    .product-tile-image {
        height: auto;
        overflow: hidden;
        & > .img-container {
            /*width: 320px;
            height: 210px;*/
        }
        img {
          width: auto;
          height: auto;
        }
    }
    .width-100 {
        width: 100%;
    }
    .tile-description {
        .tile-description-container {
            .tile-description {
                height: auto;
                overflow: auto;
            }
        }
        padding-top: 0.750em;
        font-weight: $proxima-light;
        font-size: 0.813em;
        line-height: 1.1;
        padding-left: 0 !important;
        padding-bottom: 1em;
        & > span:first-child {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.4;
            color: $gray-dark;
        }
        .description {
            display: none;
        }
        .duration {
            display: none;
        }
        .fileType {
            color: $gray-dark;
            margin-bottom: 0;
            height: 1.938rem;
            line-height: 1.938;
        }
    }
    .tile-footer {
        max-height: 2.188em;
        padding-top: 1.063em;
    }
    .tile-icon-container {
        float: left;
        width: 100%;
    }
    .logo {
        height: 1.938em;
        width: 1.938em;
        position: relative;
        float: left;
        margin-left: 1em;
    }
    .video-duration {
        float: left;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.4;
        color: $gray-shade;
    }
    .icn-global {
        position: relative;
        .icn {
            float: left;
            margin-bottom: 1.250em;
            margin-right: 0.625em;
            cursor: pointer;
        }
        .icn-txt {
            float: left;
            padding-top: 0.3125rem;
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.3;
            letter-spacing: 0.5px;
            color: $brand-primary;
            cursor: pointer;
        }
    }
    .share {
        float: right;
        .logo-share {
            background: url(../../../../../src/assets/images/css/ic-share-blue.svg) no-repeat;
            background-size: cover;
        }
        .logo-share-text {}
    }
    .download {
        float: left;
        .logo-download {
            background: url(../../../../../src/assets/images/css/ic-download.svg) no-repeat;
            background-size: cover;
            height: 1.250em;
            width: 1.32em;
        }
    }
    .mobile-tile-description {
        display: none;
    }
    .media-delete-container {
        height: 1.50em;
        width: 1.375em;
        background: url('../../../../../src/assets/images/css/ic-delete.svg') no-repeat;
        background-size: contain;
        cursor: pointer;
    }
    .delete-tile {
        position: relative;
        float: right;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .undo-btn {
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .undo-delete {
        padding: 1.25em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    .undo-delete div {
        height: 3em;
        width: 7.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
    .media-favorite-container {
        position: absolute;
        top: 0.6em;
        right: 1.7em;
    }
    &.list-view-container {
        float: none;
        width: 100%;
        display: inline-block;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 2.813rem;
        .category-tile {
            padding-left: 0px;
            padding-right: 0px;
        }
        &:before {
            display: table;
            content: " ";
        }
        &:after {
            display: table;
            content: " ";
        }
        & > .tile {
            display: block;
            & > .product-tile-image {
                float: left;
                display: block;
                max-width: 100%;
                margin-right: 1.875rem;
                margin-left: auto;
                max-resolution: 2.75rem;
                & > .img-container {
                    float: right;
                    width: 20.000em;
                    height: 13.125em;
                }
                & > .video-container {
                    float: right;
                    width: 20.000em;
                }
            }
            & > .tile-description-container {
                width: 64%;
                float: left;
                padding-top: 0;
                & .description {
                    display: block;
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.4;
                    color: $gray-dark;
                }
                & .duration {
                    display: block;
                    padding-bottom: 1.25rem;
                    font-size: 1rem;
                }
                & > .tile-description {
                    width: 61%;
                    float: left;
                    padding-top: 0;
                    padding-right: 11%;
                    & > span:first-child {
                        font-size: 1.5rem;
                        font-weight: $proxima-thin;
                        color: $gray-dark;
                        line-height: 1.2;
                    }
                    & .description {
                        display: block;
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 1.4;
                        color: $gray-dark;
                        margin-top: 4px;
                        margin-bottom: 12px;
                    }
                }
                & > .tile-icon-container {
                    float: left;
                    width: auto;
                    .share,
                    .download {
                        float: left;
                        clear: both;
                    }
                    .video-duration {
                        display: none;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .tile-container {
        .category-tile {
            padding-left: 0.75rem !important;
            padding-right: 0.75rem !important;
        }
        .tile-footer {
            padding-top: 0.875em;
        }
        & .tile-icon-container {
            padding-top: 13px;
            .logo-share-text,
            .logo-download-text {
                display: none;
            }
        }
        & > .tile {
            & > .product-tile-image {
                & > .img-container {
                    /*width: 150px;
                height: 100px;*/
                }
            }
        }
        .share {
            .logo-share {
                /*margin-right: 0; */
            }
        }
        .tile-description-container {
            .tile-description {
                height: auto;
                margin-bottom: 0;
                padding-bottom: 0;
                overflow: auto;
            }
        }
        &.list-view-container {
            padding-left: 0.3125rem !important;
            padding-right: 0.3125rem !important;
            & > .tile {
                padding-top: 0.3125rem;
                & > .product-tile-image {
                    margin-right: 0.9375rem;
                    padding-left: 0;
                    width: auto;
                    & > .video-container {
                        width: 100px;
                        float: left;
                    }
                    & > .img-container {
                        float: left;
                        width: 6.250em;
                        height: 4.063rem;
                    }
                    #bigPlayButton {
                        width: 1.875rem;
                        height: 1.875rem;
                        left: calc(50% - 15px);
                        top: calc(50% - 15px);
                    }
                }
                & > .tile-description-container {
                    width: 58%;
                    & > .tile-description {
                        width: 100%;
                        padding-right: 10%;
                        padding-bottom: 0.5rem;
                        .description {
                            display: none;
                        }
                        span:first-child {
                            font-size: 1rem;
                        }
                        .duration {
                            padding-bottom: 0.625rem;
                            color: $gray-shade !important;
                        }
                    }
                    & > .tile-icon-container {
                        .share,
                        .download {
                            display: none;
                        }
                    }
                }
                & > .mobile-tile-description {
                    display: block;
                    padding: 0.75rem 0 0.625rem 0;
                    .description {
                        font-size: 0.8125rem;
                        line-height: 1.7;
                        overflow: hidden;
                        position: relative;
                        max-height: 2.75rem;
                        text-align: justify;
                        margin-right: -1em;
                        padding-right: 1.6em;
                        &:before {
                            content: '...';
                            position: absolute;
                            right: 0.3125rem;
                            bottom: 0;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            width: 1em;
                            height: 1em;
                            margin-top: 0.2em;
                            background: $white;
                        }
                    }
                    .mobile-icon-container {
                        border-top: 1px solid $gray45;
                        border-bottom: 1px solid $gray45;
                        padding-top: 0;
                        padding-bottom: 0;
                        text-align: center;
                        margin-top: 0.3125rem;
                        .icn-global {
                            float: none;
                            display: inline-block;
                            padding-top: 1.25rem;
                            padding-bottom: 1.25rem;
                            .icn {
                                margin-bottom: 0;
                            }
                        }
                        .share {
                            width: auto;
                        }
                        .download {
                            padding-right: 3.125rem;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .tile-container {
        & .tile-icon-container {
            padding-top: 1rem;
            .logo-share-text,
            .logo-download-text {
                display: none;
            }
        }
        & > .tile {
            & > .product-tile-image {
                & > .img-container {
                    /* width: 170px;
                height: 110px;*/
                }
            }
        }
        .share {
            .logo-share {
                /*margin-right: 0;*/
            }
        }
        .tile-description-container {
            .tile-description {
                height: auto;
                margin-bottom: 0;
                padding-bottom: 0;
                overflow: auto;
                .description {
                    margin-bottom: 1px;
                    margin-top: 0;
                }
            }
        }
        &.list-view-container {
            & > .tile {
                padding-top: 0.3125rem;
                & > .product-tile-image {
                    & > .video-container {
                        width: 10.625em;
                    }
                    & > .img-container {
                        width: 10.625em;
                        height: 6.875em;
                    }
                    #bigPlayButton {
                        width: 1.875rem;
                        height: 1.875rem;
                        left: calc(50% - 15px);
                        top: calc(50% - 15px);
                    }
                }
                & > .tile-description-container {
                    width: 62%;
                    padding-bottom: 1.563rem;
                    & > .tile-description {
                        width: 90%;
                        padding-right: 26%;
                        padding-bottom: 0.5rem;
                        span:first-child {
                            font-size: 1rem;
                        }
                        .duration {
                            padding-bottom: 0.625rem;
                            font-size: 1rem;
                        }
                        .description {
                            font-size: 0.8125rem;
                            line-height: 1.7;
                            overflow: hidden;
                            position: relative;
                            max-height: 2.75rem;
                            text-align: justify;
                            margin-right: -1em;
                            padding-right: 1em;
                            margin-bottom: 1px;
                            margin-top: 0;
                            &:before {
                                content: '...';
                                position: absolute;
                                right: 0.3125rem;
                                bottom: 0;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                right: 0;
                                width: 1em;
                                height: 1em;
                                margin-top: 0.2em;
                                background: white;
                            }
                        }
                    }
                    & > .tile-icon-container {
                        width: 100%;
                        clear: both;
                        .share,
                        .download {
                            clear: none;
                        }
                        .download {
                            padding-right: 2.813rem;
                        }
                        .logo-share-text,
                        .logo-download-text {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .tile-container {
        .tile-icon-container {
            padding-top: 13px;
        }
        .tile-description {
            font-size: 0.875em;
        }
        & > .tile {
            & > .product-tile-image {
                & > .img-container {
                    /*width: 310px;
                height: 204px;*/
                }
            }
        }
        .tile-description-container {
            .tile-description {
                height: auto;
                overflow: auto;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .description {
                margin-bottom: 0.9375rem;
            }
        }
        &.list-view-container {
            margin-left: 5.063rem;
            & > .tile {
                & > .product-tile-image {
                    & > .video-container {
                        width: 310px;
                    }
                    & > .img-container {
                        width: 310px;
                        height: 204px;
                    }
                }
                & > .tile-description-container {
                    width: 62%;
                    & > .tile-description {
                        width: 75%;
                    }
                    & > .tile-icon-container {
                        width: 50%;
                        clear: both;
                        .share {
                            float: left;
                            clear: none;
                        }
                        .download {
                            clear: none;
                            padding-right: 2.875rem
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .tile-container {
        .category-tile {
            padding-left: 0.75rem !important;
            padding-right: 0.75rem !important;
        }
        .tile-description-container {
            .tile-description {
                height: auto;
                overflow: auto;
            }
        }
        &.list-view-container {
            margin-bottom: 2.813rem;
            padding-left: 0;
            & > .tile > .product-tile-image {
                margin-right: 0.9375rem;
                padding-right: 0.9375rem;
            }
        }
        .product-tile-image {
            & > .img-container {
                width: 320px;
                height: 210px;
            }
        }
        .tile-description {
            font-size: 0.875em;
        }
    }
}
