#mediatile.tile-container(ng-class="(ctrl.isListView == 1) ? 'list-view-container' : ''", class='{{ctrl.extraClass}}')
  .tile.col-sm-12.no-gutter(ng-class='{deactivate : ctrl.isDeleted || ctrl.isFavorited && ctrl.ifFavUndoVisible}')
    .product-tile-image.col-sm-4.col-md-4.no-gutter(ng-class="(ctrl.isListView == 1) ? '' : 'width-100'")
      .img-container(ng-if="ctrl.listItem.content_type != 'video'")
        img(ng-src='{{ctrl.listItem.thumbnail_url}}', alt='img', height='100%', width='100%')
      .video-container(ng-if="ctrl.listItem.content_type == 'video'")
        .embed-responsive.embed-responsive-16by9
          video.embed-responsive-item(id='video-{{ctrl.listItem.product_id}}', ng-src='{{ctrl.listItem.videoURL}}', ng-click='ctrl.togglePlay(ctrl.listItem.product_id)', ui-event="{ ended : 'ctrl.video(ctrl.listItem.product_id)'}")
            source(type='video/mp4')
            |  Your browser doesn't support HTML5 video.
          .video-btn
            button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay(ctrl.listItem.product_id)')
              span Play
    .tile-description-container.col-sm-12.no-gutter
      .tile-description.col-sm-12.no-gutter
        span.col-sm-12.no-gutter {{ctrl.listItem.product_name}}
        span.col-sm-12.no-gutter.duration(ng-if='ctrl.ifDurationVisible') {{ctrl.listItem.videoDuration}}
        h5.col-sm-12.no-gutter.fileType(ng-if='ctrl.ifTypeVisible') {{ctrl.listItem.content_type}}
        span.col-sm-12.no-gutter.description {{ctrl.listItem.product_desc}}
      .tile-icon-container
        .video-duration(ng-if='ctrl.ifDurationVisible')
          span {{ctrl.listItem.videoDuration}}
        .icn-global.download(ng-if='ctrl.ifDownloadIcnVisible')
          span.icn.logo-download
          span.icn-txt.logo-download-text DOWNLOAD
        .icn-global.share(ng-if='ctrl.ifShareIcnVisible')
          span.icn.logo-share
          span.icn-txt.logo-share-text SHARE
        .delete-tile(ng-if='ctrl.ifDeleteVisible', ng-click='ctrl.toggleDel();')
          .media-delete-container
    .mobile-tile-description.col-sm-12.no-gutter
      p.description {{ctrl.listItem.product_desc}}
      .mobile-icon-container
        .icn-global.download(ng-if='ctrl.ifDownloadIcnVisible')
          span.icn.logo-download
          span.icn-txt.logo-download-text DOWNLOAD
        .icn-global.share(ng-if='ctrl.ifShareIcnVisible')
          span.icn.logo-share
          span.icn-txt.logo-share-text SHARE
  .undo-delete(ng-show='ctrl.isDeleted')
    div(ng-click='ctrl.toggleDel();')
      button.btn.btn-secondary.undo-btn UNDO
  .undo-delete(ng-show='ctrl.isFavorited && ctrl.ifFavUndoVisible')
    div(ng-click='ctrl.toggleFavorite();')
      button.btn.btn-secondary.undo-btn UNDO
