.container-fluid.no-gutter.my-branded-story
  .row.sign-up-header-mbs.inverse
    .mbs-title
      h1 MY BRANDED STORY
  .mbs-body-container
    .mbs-sub-heading
      h1.m-b-0 WHAT'S MY STORY
    .mbs-sub-text
      p Understanding your “why” or the motivation behind your decision to join Nu Skin, can help you focus your energy and achieve your goals.
      p.small-para.m-t-1 This guided experience will help you define and share your story.
    .mbs-clock
      span {{'1 HR'}}
    .mbs-get-started.pointer(ng-click='myBrandedStoryCtrl.redirectGetStarted()')
      input.btn.btn-primary.m-b-0(value='GET STARTED',readonly)
    .mbs-skip.last-block.pointer(ng-click='myBrandedStoryCtrl.redirectSkip()')
      a Skip Guided Experience
  .mbs-additional-content.col-sm-12.no-gutter
    h3 how it works
    .image-content-wrapper
      .img-container(ng-repeat='placeholderImg in myBrandedStoryCtrl.mbsPlaceholderImages')
        .col-sm-12.col-lg-6.no-gutter.img-panel(ng-style="{'background-image': 'url({{placeholderImg.img}})'}")
          .overlay
          .col-sm-12.no-gutter.img-content
            img(src="{{placeholderImg.logo}}")
            p.m-b-0 {{placeholderImg.description}}
            p.small {{placeholderImg.paragraphDescription}}
    .col-sm-12
      button.btn.btn-primary.overview-btn(type="button", ng-click='myBrandedStoryCtrl.redirectGetStarted()') Get Started
      .mbs-additional-skip(ng-click='myBrandedStoryCtrl.redirectSkip()')
        a Skip Guided Experience
