@import "../../../../../src/stylesheets/partials/variables.scss";

.my-branded-story{
  .overview-btn{
    width: 20.313rem;
    display: block;
    margin: 2em auto;
  }
  background-color: $white;
  .sign-up-header-mbs{
    background: url(../../../../../src/assets/images/css/prism-banner.jpg) no-repeat;
    background-size: cover;
    display: block;
    align-items: initial;
    min-height: 8.625em;
    padding: 3.25rem 0 0;
    clear: both;
  }
  .mbs-title{

  margin: auto;

  h1{
    text-align: center;
    font-size: 1.875em;
    line-height: 1.13;
  }

  }
  .mbs-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: flex-start;
    background: $white;
    .mbs-sub-heading{

      margin-top: 2em;
      h1{
        font-size: 1.375em;
        line-height: 1.41;
        text-align: center;
        ;
      }
    }
    .mbs-sub-text{
      width: 70%;
      margin-top: 1.3em;
      text-align: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
      p{
        margin: auto;
        line-height: 1.38;
        letter-spacing: -0.1px;
        color: $gray;
      }
    }
    .mbs-clock{
      padding-left: 2em;
      margin-top: 1.56em;
      background: url(../../../../../src/assets/images/css/clock-small.png) no-repeat left center;
      span{
        width: 5.75em;
        font-size: 0.875em;
        font-weight: 300;
        line-height: 1.29;
        color: $gray;
      }
    }
    .mbs-get-started{
      width: 20.313em;
      margin-top: 1.56em;
    }
    .mbs-skip {
      margin-top: 2.31em;
      a{
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        color: $brand-primary;
        text-decoration: none;
      }

    }
    .last-block{
      margin-bottom: 3.125em;
    }
    .small-para{
      width : 83.333%;
    }
  }

  .mbs-additional-content{
      background: $white;
      margin-top: 1.5em;

      h3{
        color: $gray-black;
        line-height: 1.937rem;
        text-align: center;
        padding: 1.5em 0;
        margin-bottom: 0
      }

      .img-panel{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 15.625em;
        margin-bottom: 3px;
        .overlay{
          background-color: black;
          opacity: 0.4;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        .img-content{
          text-align: center;
          top: 33%;
          padding: 0 2.813em;
          img{
            margin-bottom: 1.5em;
          }
          p{
            color: $white;
          }
        }
      }
      .btn-get-started{
        margin-top: 2em;
      }
      .mbs-additional-skip{
        margin: 1.375em 0 2em;
        cursor: pointer;
        text-align: center;
        font-weight: 300;
      }
  }
  @media screen and (min-width: 1440px) {
        .mbs-additional-content{
            h3{
              padding: 2.25em 0 3.125em;
            }
            .image-content-wrapper{
              padding: 0 12%;
            }
            .img-panel{
              height: 22.875em;
              margin-bottom: 2px;
              border-right: 2px solid $white;
            }
            .btn-get-started{
              text-align: center;
              button{
                width: 33.125em;
              }
            }
          }
          .overview-btn{
            width: 27.125rem;
          }
          .mbs-body-container{
            .mbs-get-started{
              width: 27.125rem;
            }
          }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .mbs-body-container{
          .mbs-skip {
            margin-top: 1.68em;
          }
          .mbs-get-started{
            width: 20.312em;
          }
          .last-block{
            margin-bottom: 2em;
          }
        }
        .mbs-additional-content{
            h3{
              padding: 2.25em 0 2em;
            }
            .img-panel{
              margin-bottom: 2px;
              border-right: 2px solid $white;
              height: 21.375em;
            }
            .btn-get-started{
              text-align: center;
              button{
                width: 27.125em;
              }
            }
          }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
        .mbs-additional-content{
          margin-top: 0.5em;
          .img-container{
            padding: 0 21%;
          }
          .btn-get-started{
            text-align: center;
            button{
              width: 27.125em;
            }
          }
        }
  }
  @media screen and (min-width: 360px) and (max-width: 767px) {
        .mbs-body-container{
          .mbs-sub-text{
            width: 85%;
            }
          .mbs-skip{
            margin-top: 2.312em
          }
        }
        .mbs-additional-content{
          margin-top: 0.5em;
        }
    }
}
