@import "../../../../src/stylesheets/partials/variables.scss";
.prospect-story {
  margin-bottom: 2.5rem;
  margin-top: 5.25rem;
  .carousel.carousel-primary .slick-next{
    right: 1rem;
  }
  .carousel.carousel-primary .slick-prev{
    left: 1rem;
  }
  .slick-dots {
      bottom: -3.25em;
      position: initial;
      margin-top: 2.5rem;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .slick-dots li {
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li button {
      background: transparent;
      border: .0625rem solid $gray;
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li.slick-active button {
      background: $gray;
  }
  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
      opacity: 0;
      font-size: 0;
  }
    .prospect-story-box {

        background:$white;
        .prospect-image {
            width: 96%;
            height: 39.4375em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .prospect-story-box-inner{
          position: relative;
          .logo-block{
            background: url('../../../../src/assets/images/css/prospect-story-logo.png') no-repeat $gray-lightest;
            background-position: center;
            background-size: contain;
            width: 4.75em;
            height: 4.5625em;
            margin: 7.4375em auto 0;
            background-color: $white;
          }
          .text-area{
            width: 21.75em;
            margin: 1.6875em auto 0;
            .story-heading{
              h1{
                text-transform: uppercase;
                font-size: 1.75em;
                line-height: 1.21;
              }
            }
            .story-description{
              width: 20em;
              margin-left: 0;
              margin-top: 0.375em;
            }
            button{
              margin-top: 1.5em;
              display: block;
            }
          }
        }

    }
      @media screen and (min-width: 1024px) and (max-width: 1439px) {
        margin-top: 1.125rem;
        .prospect-story-box {
            .prospect-image {
              width: 96%;
              height: 30.625em;
            }
            .prospect-story-box-inner{
              .logo-block{
                  margin: 3em auto 0;
              }
            }
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin-top: 3.75rem;
        .prospect-story-box {
            .prospect-image {
              width: 100%;
              height: 21.4375em;
            }
            .prospect-story-box-inner{
              .logo-block{
                  margin: 1.25em auto 0;
              }
              .text-area{
                width: 90%;
                margin: 1.6875em auto 0;
                .story-heading{
                  h1{
                    font-size: 1.375em;
                    line-height: 1.21;
                  }
                }
                .story-description{
                  width: 100%;
                  margin-top: 0.375em;
                }
                button{
                  width: 20.3125em;
                  margin: 1.5625em auto ;
                }
              }
            }
        }
      }
      @media screen and (min-width: 360px) and (max-width: 767px) {
        margin-top: 1.875rem;
        .prospect-story-box {
            .prospect-image {
              width: 100%;
              height: 11.6875em;
            }
            .prospect-story-box-inner{
              .logo-block{
                  margin: 1.25em auto 0;
              }
              .text-area{
                width: 90%;
                margin: 1.6875em auto 0;
                .story-heading{
                  h1{
                    font-size: 1.375em;
                    line-height: 1.21;
                  }
                }
                .story-description{
                  width: 100%;
                  margin-top: 0.375em;
                }
                button{
                  width: 18.3125em;
                  margin: 1.5625em auto ;
                }
              }
            }
        }
      }
}
