.container-fluid.prospect-story
    .col-sm-12.no-gutter
        slick.carousel.carousel-primary(settings='ctrl.slickVideoConfig', ng-if='ctrl.storyList.length')
          div(ng-repeat='data in ctrl.storyList')
            .col-sm-12.col-md-10.col-md-offset-1.prospect-story-box.no-gutter
                .col-lg-6.col-sm-12.no-gutter
                    .prospect-image(ng-style="{'background-image': 'url({{data.bannerImage}})'}" )
                .col-lg-6.col-sm-12.no-gutter
                    .prospect-story-box-inner
                      .logo-block
                      .text-area
                        .story-heading
                          h1.m-b-0 {{data.storyHeading}}
                        .story-description
                          p.m-b-0 {{data.storyDescription}}
                        button.btn.btn-primary
                          |START YOUR STORY NOW
