.product-search-banner-container.clearfix.col-sm-12
  .row
    .product-search-banner
      .search-content-banner
        .noresult-text(ng-show = "ctrl.closeMatchFound")
          span 0 product results found for “drk circls”
        .result-text-box
          span {{ctrl.resultNum}} 
          span.small-font Results Found For
        .inline-searchbox.col-sm-12.reset
          .search-box.col-sm-11.col-sm-offset-1.col-md-6.col-xl-4.reset(ng-click="ctrl.searchClicked();")
            span
              span.ic-search
              input(type="text",placeholder="Search term comes here",readonly, ng-model = "ctrl.searchInput")
        .inline-psv-searchbox.col-sm-12.reset.ng-hide
          .col-sm-2.col-md-1.reset
            span.psv-text-box LOREM
          .search-box.col-sm-2.col-md-1.reset(ng-click="ctrl.searchClicked();")
            input(type="text",placeholder="minPSV",readonly, ng-model = "ctrl.minPSV")
          .col-sm-2.col-md-1.reset.center
            span To
          .search-box.col-sm-2.col-md-1.reset(ng-click="ctrl.searchClicked();")
            input(type="text",placeholder="maxPSV",readonly, ng-model = "ctrl.maxPSV")
.no-result-recent.clearfix.col-sm-12(ng-show = "ctrl.zeroResult")
  recentlyviewedcarouselcomponent
