@import "../../../../../src/stylesheets/partials/variables.scss";
.product-search-banner-container{
    .product-search-banner{
        width: 100%;
        height: 26.250em;
        background: url(../../../../../src/assets/images/content/banner-image.png) no-repeat;
        background-color: $white;
        background-position: right top;
        border-bottom: solid 1px $gray-lighter;
        }
    .noresult-text{
            font-size: 0.813em;
          font-weight: $proxima-light;
          line-height: 1.69;
          color: $scarlet;
        }
    .search-content-banner{
        padding: 8.313em 0 0 3.125em;
    }
    .small-font {
        font-size: 1rem;
        font-weight: $proxima-thin;
    }
    .result-text-box{
        font-size: 1.750em;
        font-weight: $proxima-thin;
        color: $white;
    }
    .psv-text-box{
        font-size: 1em;
        font-weight: $proxima-thin;
        color: $gray-dark;
    }
    .inline-searchbox{
        padding-top: 1px;
        input{
			width: 90%;
            height: 3.125em;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1em;
            font-weight: $proxima-light;
            line-height: 1.38;
            color: $white;
            cursor: pointer;
        }
    }
    .search-box{
        border : 1px solid $gray-dark-shade-3;
        background-color: rgba(220, 221, 222, 0.5);
    }
    .ic-search{
        width: 10%;
        height: 1.5em;
        background-size: 1.250em;
        float: left;
        background: url(../../../../../src/assets/images/css/ic-search-white.svg) no-repeat;
        background-position: 50%;
        cursor: pointer;
    }

    .inline-psv-searchbox{
        margin-top: 1.250em;
        input{
            width: 100%;
            background: transparent;
            outline: none;
            border: none;
            font-size: 1em;
            font-weight: $proxima-light;
            line-height: 1.38;
            color: $gray6a6;
        }
        .search-box{
        border: none;
        border-bottom : 1px solid $gray55;
        }
    }
    @media screen and (max-width: 767px) and (min-width: 316px) {

        .product-search-banner{
            height: 15.750em;
            background-position: 50% 50%;
            background-size: cover;
        }
        .search-content-banner{
        padding: 5.000em 0 0 1.250em;
        }
        .inline-psv-searchbox{
            input{
                font-size: 0.8em;
            }  
        } 
		.ic-search{
        	width: 6%;
        	margin: 4%;
		}
		.inline-searchbox{
			input{
				width: 86%;
			}
		}
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {

        .product-search-banner{
            height: 15.750em;
            background-position: 50% 50%;
            background-size: cover;
        }
        .search-content-banner{
            padding: 4.313em 0 0 1.500em;
        }
		.ic-search{
        	width: 6%;
        	margin: 4%;
            height: 1.25rem;
		}
		.inline-searchbox{
			input{
				width: 86%;
			}
		}
    }

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
        .product-search-banner {
            background-position: 50% 50%;
            background-size: cover;
            .ic-search {
                height: 3rem;
            }
        }
        .search-content-banner{
            padding: 8.313em 0 0 2.125em;
        }
    }
    @media screen and (min-width: 1440px) {
        .product-search-banner {
            .ic-search {
                height: 3rem;
            }
        }
    }
}
