@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

// Sign-Up

.bg-floral {
  //please add your file here
  //background: #fff url('../../../../src/assets/images/css/bottom-floral-pattern@2x.jpg') bottom center repeat-x;
  background-size: 100%;
  padding-bottom: 6em;
  @include media-breakpoint-up(lg) {
    background-size: 70%;
  }
}

.sign-up-header {
  min-height: 265px;
  background: url('../../../../src/assets/images/css/prism-banner.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0;

  h2 {
    margin: 0.5em 1em 4em;
  }
}

.avatar-sponsor {
  border-radius: 50%;
  margin-bottom: 1em;

  img {
    position: relative;
    border-radius: 50%;
    z-index: 10;
  }
}

.profile-name {
  font-weight: $proxima-semibold;
  margin: .5em 0 0;
}

.profile-location {
  margin: 0;
}
.btn-primary{
  width: 100%;
  background-color: $brand-primary;
  color: $white;
}
#create-account {
  margin-top: 2.25rem;
  opacity: 1;
  display: block;
  max-height: 30em;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.16, 1.32, 0.91, 1.26);

  &.ng-hide {
    max-height: 0;
    opacity: 0;
  }
}

// container overlays on full-width headers
.sponsor-header + .container {
  margin-top: -5em;
}

.customer-header + .container {
  margin-top: -4em;

  @include media-breakpoint-up(xl) {
    margin-top: -3.5em;
  }
}

.ripple {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transform-origin: 50% 50%;

  &:nth-child(1) {
    border: 10px solid rgba(#fff, 0.4);
    animation: wave 1.5s 1  0.5s cubic-bezier(0.44, 0.56, 0.52, 1.29);
    animation-fill-mode: both;
  }

  &:nth-child(2) {
    border: 10px solid rgba(#fff, 0.2);
    animation: wave-2 2.5s 1 cubic-bezier(0.66, 0.61, 0.67, 1.14);
    animation-fill-mode: both;
    }
}


/* stays on full alpha from 50 to 75 */
@keyframes wave {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.2);
    opacity: 1.0;
  }
}

@keyframes wave-2 {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  25% {
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.35);
    opacity: 1.0;
  }
}

.card {
  background: #fff;
  padding: 1em;

  input[disabled] {
    background: none;
    border: none;
    padding: 0;
  }
}
//styles added after Dan Root's project was added

.content{
  background: $gray-lightest;
}
.invite-banner {
   height : 292px;
   text-align: center;
   .section{
     padding-top: 40px;
   }
   .distributor-avatar{
     width: 125px;
   }
   .banner-title{
      h2{
        color: $white;
      }
   }
 }
//.text-center{
//  color: $white;
//}
.text-link{
  font-size: 1.06rem;
  font-weight: $proxima-semibold;
  line-height: 1.3;
}
 .signup-components{
   width: 275px;
   margin: auto;
 }

 .signup-container {
    background-color: white;
    padding: 9% 12%;
    padding-bottom: 2.313em;
  }
.sponsor-background{
    width: 100%;
    height: 160px;
    background: url("../../../../src/assets/images/css/bottom-pattern@2x.png") left no-repeat;
    text-align: center;
}
@media screen and (max-width: 375px){
  .signup-container{
    width: 100%;
    margin: auto;
    padding: 6% 6%;
    padding-bottom: 2.313em;
  }
}
@media screen and (min-width:641px){
  .signup-components{
    width: 360px;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px){
  .invite-banner{
    height: 240px;
    .section{
      padding-top: 22px;
    }
  }
}
@media screen and (min-width: 769px){
  .invite-banner{
    height: 363px;
    .section{
      padding-top: 22px;
    }
  }

  .content-background{
    background-color: $gray-light;
  }
  .signup-container{
    width: 542px;
    margin: auto;
    margin-top: -112px;
    padding: 5% 4%;
    padding-bottom: 2.313em;
  }
  .sponsor-background{
    width: 542px;
    margin: auto;
  }
}
.joinwithdifferentsponsor{
  color: $brand-primary;
}
  .sponsor-link{
    font-family: ProximaNova-Light;
    font-size: 16px;
    line-height: 1.4;
    color: $brand-primary;
}
.signupformsocial {
  .form-group {
    margin-bottom: 1.875em;
  }
}
