.content
    .invite-banner
        .section
            img.distributor-avatar(src='{{vm.profileimage.img}}')
            .banner-title
                h2.text-center
                    |You’ve been invited to join
                    br
                    |  Nu Skin by Jon Samsonite.
    .signup-container
      .signup-components
        legend
          span From Where Are You Shopping?

        .country-section
            form.signupformsocial(name="form" novalidate ng-submit='form.$valid && vm.submitForm(form.countryInput.$valid && form.languageInput.$valid)')
                div.language-section
                        div.heading-section
                            span Country
                        div.select-wrapper.form-group.col-sm-12.no-gutter.language-select-section
                            select#language.form-control.m-b-0(name="language" ng-model='vm.communication.countryPref' ng-options="countries.code as countries.name for countries in vm.countriesList" required ng-class="{'ng-touched': vm.communicationform.$submitted}", ng-change="vm.loadRegionLanguages(vm.communication.countryPref)")
                                option(value='', disabled='')

                 div.language-section
                        div.heading-section
                            span Language Preference
                        div.select-wrapper.form-group.col-sm-12.no-gutter.language-select-section
                            select#language.form-control.m-b-0(name="language" ng-model='vm.communication.languagepref' ng-options="languages.id as languages.name for languages in vm.languagesList" required ng-class="{'ng-touched': vm.communicationform.$submitted}")
                                 option(value='', disabled='')
                            

                div(ng-show="!vm.showSocialSignup")
                    input#Submit.btn.btn-primary.col-xs-12(type='button' value='SUBMIT' ng-click='vm.submitForm(form.countryInput.$valid && form.languageInput.$valid)' )

                div(ng-show="vm.showSocialSignup")
                    socialmedia

    .sponsor-background
        div
            span.text-link Wrong Sponsor?
        div
            span
                a Join with a different sponsor

