@import "../../../../src/stylesheets/partials/variables.scss";

.social-signup{
  margin-top: 1.875rem; 
}
.btn-social {
    position: relative;
}

.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2.8125rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5); 
}
.EmailOrMobileTitle{
    margin-bottom: 0;
}
.form-group .EmailOrMobileInput{
    margin-bottom: 0;
}

.btn-social.btn-lg {
    padding-left: 3.8125rem;
}

.btn-social.btn-lg>:first-child {
    line-height: 2.8125rem; 
    width: 2.8125rem;
    font-size: 1.8rem;
}

.btn-social.btn-sm {
    padding-left: 2.375rem;
}

.btn-social.btn-sm>:first-child {
    line-height: 1.75rem;
    width: 1.75rem;
    font-size: 1.4rem;
}

.btn-social.btn-xs {
    padding-left: 1.875rem;
}

.btn-social.btn-xs>:first-child {
    line-height: 1.25rem;
    width: 1.25rem;
    font-size: 1.2rem;
}

.btn-facebook {
    color: white;
    width: 100%;
    background-color: $facebook-blue;
    &:hover{
      color: white;
    }
}

.social-media-icon {
    display: inline-block;
    background: url('../../../../src/assets/images/css/facebook-icon.png');
    background-repeat: no-repeat;
    background-position: center;
}

.content-seperator{
  margin-top: 1.875rem;
}
.option-seperator{
    height: 0.75rem;
    border-bottom: 1px solid $gray-lighter;
    text-align:center;
}
  .grey-line {
    font-size: 0.6875em;
    line-height: 2;
    color: $gray;
    background-color: $white-light;
    border: 1px solid $gray-lighter;
    padding: 0.5rem; 
    border-radius: 50%;
}
.resendConfirmationCode{
    text-align: center;
}