legend
	span.line Create an Account
.social-signup
	a.btn.btn-social.btn-facebook.col-xs-12(ng-click="socialLogin()")
		.social-media-icon
		.social-media-text JOIN WITH FACEBOOK
.content-seperator
	span.divider
		p OR
.content-seperator
	ng-form(name="loginForm" novalidate)
		div.form-group.EmailOrMobileTitle
			label.form-label Email Address OR Mobile Phone Number
			input.form-control.EmailOrMobileInput(ng-model="vmp.userDetailField" type="text" placeholder="Email or Phone" name="userDetailField" ui-mask="{{vmp.maskFormat}}" ng-change="vmp.onChange(loginForm, vmp.userDetailField)" ui-options="vmp.maskOptions" ui-mask-placeholder ng-class="{'ng-touched': vmp.isSubmitted, 'ng-invalid': vmp.invalidError || vmp.emptyError}" customemail required)
			div(ng-messages="loginForm.userDetailField.$error" ng-show="vmp.isSubmitted" class="error-block")
				div(ng-show="vmp.emptyError") Your email address or phone number is required
				div(ng-show="vmp.invalidError") Your email address or phone number is Invalid
				//span.text-danger(ng-show="(vm.clickedsubmit && form.countryInput.$error.required)|| (form.countryInput.$error.required && form.countryInput.$touched)") Oops, please check this field
		input.btn.btn-primary.col-xs-12(type='button' value='GET STARTED' data-toggle="modal" ng-click="vmp.getStartedShow(loginForm)")
#phoneConfirmation.modal.fade(role='dialog')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
			.modal-body
				ng-form(name="vmp.popupForm" novalidate)
					fieldset.form-group
						legend
							span Verify Your Phone Number
						label.form-label Enter Confirmation Code
						div.form-group
							input.form-control(type='text' name='confirmationCodeInput' ng-model='vmp.confirmationCodeInput' required )
							div(ng-messages="vmp.popupForm.confirmationCodeInput.$error" ng-show="(vmp.popupForm.confirmationCodeInput.$touched && vmp.popupForm.confirmationCodeInput.$error.required)" class="text-danger")
								div(ng-message="confirmationCodeMessage") Please enter Confirmation Code
						div.form-group
							input#Submit.btn.btn-primary.col-xs-12(type='button' value='Confirm' ng-click='vmp.confirmCode(vmp.confirmationCodeInput)' )
						div.resendConfirmationCode
							span
								a Resend Confirmation Code
