.pitch-landing-page
  .pitch-content
    h2 {{ctrl.welcomeMessage}}
    .pitch-welcome-message
      h4 {{ctrl.welcomeUser}}
      p {{ctrl.welcomeMessageUser}}
    .pitch-container
      .pitch-tiles.col-lg-6.col-sm-12.no-gutter(ng-repeat="product in ctrl.pitchData.productData track by $index")
        .col-sm-12.no-gutter
          a(ng-href="{{product.productUrl}}")
            img(ng-src="{{product.productImage}}")
          a.link(ng-href="{{product.productUrl}}") {{product.productTitle}}
        .col-sm-8.item-details.no-gutter
          .item
            b Item
            span {{product.productId}}
          .item(ng-if="product.productSize != ''")
            b Size
            span {{product.productSize}}
          .item(ng-if="product.productSize == ''")
            b Shade
            i(style="background-image: url('{{product.productImage}}')")
        .col-sm-4.variant-detail.no-gutter
          b Qty:
          span {{product.productQty}}

        //For lg and xl
        .product-add-symbol-container.hidden-md-down(ng-if="(ctrl.pitchData.productData.length != ($index+1) && $index%2)" class="test-{{$index}}")
          .product-add-symbol
        .product-add-symbol-container-even.hidden-md-down(ng-if="(ctrl.pitchData.productData.length == 2 && !(($index+1)%2))" class="test-$index")
          .product-add-symbol

        //For md and sm
        .product-add-symbol-container-even.hidden-lg-up(ng-if="($index%2)")
          .product-add-symbol
        .product-add-symbol-container.hidden-lg-up(ng-if="!($index%2) && ($index != 0)")
          .product-add-symbol
        .clearfix.visible-sm
  .pitch-static-footer
    button.btn.btn-primary
      b Purchase Both
      span {{ctrl.pitchTotal}}
