@import "../../../../src/stylesheets/partials/variables.scss";
.pitch-landing-page{
  background-color: $white;
  .pitch-content{
    width: 40.625em;
    margin: 0 auto;
    h2{
      font-size: 1.5rem;
      text-transform: uppercase;
      color: $gray-black;
      padding: 1.875rem 0 1.5rem;
      margin-bottom: 0;
    }
    .pitch-welcome-message{
      background-color: $gray-pitch;
      padding: 12px 1.5em;
      h4{
        font-weight: $proxima-light;
        margin-bottom: 0;
        line-height: 1.22;
        color: $gray-black;
      }
      p{
        margin-bottom: 0;
        color: $gray-black;
        line-height: 1.5;
      }
    }
    .pitch-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 1.5em;
      .pitch-tiles{
        border: solid 1px $gray-lighter;
        padding: 2.1875rem 1.5625rem;
        img{
          height: 7.25em;
          display: block;
          margin: 0 auto;
        }
        a{
          cursor: pointer;
          display: block;
        }
        a.link{
          font-size: 1rem;
          font-weight: $proxima-light;
          color: $brand-primary;
          padding-top: 1.5em;
          height: 4.25rem;
          line-height: 1.38;
        }
        .item-details{
          padding-top: 1.5em;
          b{
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            color: $gray-light;
            text-transform: uppercase;
            line-height: 1.85;
          }
          span{
            font-size: 1rem;
            font-weight: 300;
            color: $gray-dark;
            padding-left: 1.5em;
            line-height: 1.38;
          }
          i{
            width: 0.9375rem;
            height: 0.9375em;
            margin-left: 0.75em;
            margin-top: 0.3rem;
            position: absolute;
            background-position: center;
            overflow: hidden;
            border-radius: 50%;
            display: inline-block;
            border: solid 1px $gray-lighter;
          }
        }
        .variant-detail{
          padding-top: 1.5em;
          text-align: right;
          b{
            font-size: 0.8125rem;
            font-weight: 300;
            color: $gray-black;
            line-height: 1.23;
          }
          span{
            font-size: 0.8125rem;
            font-weight: 300;
            color: $gray;
            padding-left: 0.5rem;
            line-height: 1.23;
          }
        }
      }
      .product-add-symbol-container{
          height: 3rem;
          width: 3rem;
          position: absolute;
          margin: -1.5rem 0 0 -1.5rem;
          z-index: 1;
          background-color: $white;
          .product-add-symbol{
              height: 40%;
              width: 40%;
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              background: url("../../../../src/assets/images/css/ic-plus.svg") center no-repeat;
          }
        }
        .product-add-symbol-container-even{
          height: 3rem;
          width: 3rem;
          position: absolute;
          margin: -1.5rem;
          z-index: 1;
          background-color: $white;
          .product-add-symbol{
            height: 40%;
            width: 40%;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: url("../../../../src/assets/images/css/ic-plus.svg") center no-repeat;
          }
        }
      }
    }
    .pitch-static-footer{
      width: 100%;
      padding: 1.5em 0 2.5em;
      z-index: 1000;
      button{
        width: 40.625rem;
        height: 4.625rem;
        margin: 0 auto;
        display: block;
        b{
          display: block;
          font-size: 0.8125rem;
          font-weight: 600;
        }
        span{
          font-size: 1.75rem;
          font-weight: 100;
        }
      }
    }
    @media screen and (min-width: 360px) and (max-width: 1023px){
      .pitch-content{
        width: 20.375em;
        h2{
          padding: 1.5rem 0;
        }
        .pitch-welcome-message{
          padding: 12px 0.875em;
        }
        .pitch-container{
          border-top: solid 1px $gray-lighter;
          .pitch-tiles{
            width: 20.375em;
            flex-basis: 100%;
          }
          .product-add-symbol-container{
            left: 50%;
            top: 0%;
          }
          .product-add-symbol-container-even{
            left: 50%;
            top: 0%;
          }
          .pitch-tiles{
            border-top: 0;
          }
        }
      }
      .pitch-static-footer{
        padding-bottom: 1.5em;
        button{
          width: 20.375rem;
        }
      }
    }
    @media screen and (min-width: 1024px){
      .pitch-container{
        .pitch-tiles{
          width: 20.25em;
        }
        .pitch-tiles:nth-child(even){
          border-left: 0;
        }
        .pitch-tiles:nth-child(2n+3), .pitch-tiles:nth-child(2n+4){
          border-top: 0;
        }
        .product-add-symbol-container{
          left: 0;
          top: 100%;
        }
        .product-add-symbol-container-even{
          left: 0;
          top: 50%;
        }
      }
    }
}
