.pdp-social-container
  .row
    .pdp-header FPO PAGE ABOVE
    .row
      h3.pdp-text LOVE IT? SHARE IT!
      .pdp-icons.col-xs-12
        div.icon(ng-repeat="icon in ctrl.socialIcons")
          div.background-circle
          a(href='{{icon.icon_url}}')
            img.inner-img(ng-src='{{icon.icon_img}}', alt='{{icon.icon_name}}')
    .seafoam.gradient-section.col-xs-12 BACK TO TOP
