@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-social-container{
  background: $white;
  .pdp-header{
  font-family: Helvetica-Light;
  font-size: 0.875em;
  line-height: 1.9;
  height: 3.125em;
  text-align: center;
  color: $violet;
  border-top: 1px solid $gray-lighter;
  border-bottom: solid 2px $gray-lighter;
  margin-top: 1.125em;
  padding-top: 0.625em;
}
.pdp-text{
  text-align: center;
  margin-top: 1.875em;
}
.pdp-icons{
  text-align: center;
  padding-top: 0.3125em;
  padding-bottom: 2.125em;
    .background-circle{
      height: 2.688em;
      width: 2.688em;
      display: inline-block;
      background: url(../../../../src/assets/images/css/oval-48.svg) center no-repeat;
    }
    .icon{
      margin-right: 1.25em;
      position: relative;
      display: inline-block;
      .inner-img{
        position: absolute;
        top: 0.6875em;
        left: 0.6875em;
        width: 1.313em;
        height: 1.313em;
      }
    }
}
.gradient-section{
  font-family: ProximaNova-Semibold;
  font-size: 0.8125em;
  line-height: 1.8;
  letter-spacing: 0.5px;
  text-align: center;
  height: 2.813em;
  background: $seafoam;
  color: $dusk;
  padding-top: 0.625em;
}

@media screen and (max-width: 375px){
  .pdp-text{
    text-align: left;
    margin-left: 2.85em;

  }
}

}
