@import "../../../../../src/stylesheets/partials/variables.scss";
  .recently-viewed-container{
    margin-top: 1.250em;
    .tile{
      height: 7.813em;
      width: 19.375em;
      background-color: $white;
      display: inline-block;
    }
    .tile-image{
      position: relative;
      height: 4.750em;
      overflow: hidden;
      display: block;
        padding: 1.25rem 1rem 0 1rem;
    }
    .p-image{
      margin: auto;
      height: 2.9375rem;
      overflow: hidden;
      position: relative;
      text-align: center;
      background-color: $white;
    }
    .tile-container{
      background-color: $gray-lightest;
      padding: 0.5em 1.250em;
    }
    .tile-description{
      margin-top: 0.625em;
      padding-top: 0.425em;
      font-weight: $proxima-light;
      font-size: 0.813em;
      text-align: left;
    }
    .logo{
      height: 1.938em;
      width: 1.938em;
      position: absolute;
      bottom: 0;
      margin-bottom: 0.750em;
        margin-left: 1em;
    }
    .logo-share{
      height: 1.250em;
      width: 1.250em;
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 1.250em;
      margin-right: 0.625em;
      background: url(../../../../../src/assets/images/css/ic-share-icon.svg) no-repeat;
      background-size: cover;
    }
    .last-viewed{
      color: $gray-light;
    }
    .media-favorite-container {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        button{
            width: 2.25rem;
            height: 2.25rem;
        }

    }
    .product-name{
      max-height: 2.5rem;
      padding-right: 1em;
      overflow: hidden;
      word-break: break-all;
      width: 11.25rem;
    }
    .product-name:before {
        content: '...';
        position: absolute;
        right: 0;
        padding-right: 0.45rem;
        bottom: 1px;
    }
    .product-name:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1.5em;
        height: 1em;
        margin-top: 0.2em;
        background: $white;
    }
    .image-recent{
        width: auto;
        display: inline-block;
        margin: 0 auto;
        max-height: 100%;
    }
    .p-image:before{
          content: ' ';
          display: inline-block;
          vertical-align: middle;
          height: 100%;
    }
}
  @media all and (min-width: 360px) and (max-width: 767px){
      .recently-viewed-container{
          .tile{
               width: 20.313em;
          }
          .product-name{
            width: 11.25rem;
          }
      }
      .product-name{
        width: 11.25rem;
      }
  }
  @media all and (min-width: 768px) and (max-width: 1023px){
      .recently-viewed-container{
          .tile{
               width: 22.188em;
          }
          .product-name{
            width: 12.5rem;
          }
      }
  }
   @media all and (min-width: 1440px){
      .recently-viewed-container{
          .tile{
               width: 20.000em;
          }
      }
  }
  .app-modal-window{
    z-index: 1100!important;
}
