.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="cancel();")
.modal-body
	.col-sm-12.pointer
		.btn-lg-close.pull-right(ng-click='cancel()')
	.m-b-2 Are you ssure you want to permanently remove this card from your list?
	.m-b-2
		div
			button.btn.btn-primary.m-b-1(ng-click='ok()') YES - DELETE CARD
			button.btn.btn-primary-outline.fullWidth.font-weight-normal(ng-click='cancel()') NO - CANCEL
