.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="cancel();")
.modal-body
	.col-sm-12.pointer
		.btn-lg-close.pull-right(ng-click='cancel()')
	.m-b-2 
		span Are you sure you want to go back and not save any of the information?
	.m-b-2
		div
			button.btn.btn-primary.m-b-1(ng-click='ok()') YES - GO BACK TO PAYMENT METHOD
			button.btn.btn-primary-outline.fullWidth.font-weight-normal(ng-click='cancel()') NO - CANCEL
