@import "../../stylesheets/partials/variables";

.disclaimer-wrapper{
    display: inline-block;
     .disclaimer-container{
         padding: 1rem 11.1875rem 0;
         .disclaimer-header{
             margin-bottom: 0.5rem;
             width: 100%;
             height: 1rem;
             p{
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                color: $gray-faded;
             }
         }
         .disclaimer-content{
             width: 100%;
             padding-bottom: 4.8125rem;
             p{
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                color: $gray-faded;
                line-height: normal;
             }
         }
     }
     @media screen and (min-width: 1024px) and (max-width:1439px){
         .disclaimer-container{
             padding: 1rem 7.25rem 0;
             .disclaimer-content{
                 padding-bottom: 5.4375rem;
             }
         }
     }
     @media screen and (min-width: 768px) and (max-width: 1023px){
         .disclaimer-container{
             padding: 1rem 10.375rem 0;
             .disclaimer-content{
                 padding-bottom: 2.5rem;
             }
         }
     }
     @media screen and (min-width: 360px) and (max-width: 767px){
         .disclaimer-container{
             padding: 1rem 1.625rem 0;
             .disclaimer-content{
                 padding-bottom: 0.625rem;
            }
        }
    }
}