@import "../../../src/stylesheets/partials/variables.scss";

@mixin gray_color_light_font_weight {
    font-weight: $proxima-light;
	color: $gray-dark;
}

.app-modal-window.address-verification-popup {
    .modal-header {
        .close-icon {
            background: url('../../../src/assets/images/css/ic-close-circle-copy-3.svg') no-repeat center center;
            height: 1.5rem;
            width: 1.5rem;
        }
        .heading-section {
	        font-weight: $proxima-thin;
	        color: $gray-dark;
            max-width: 18.75rem;
        }
    }
    .modal-body {
        .desc-section {
	        line-height: 1.4;
            @include gray_color_light_font_weight;
        }
        .entered-address-section {
            .heading-section {
                margin-top: 2.25rem;
                p {
                    font-weight: $proxima-semibold;
	                line-height: 2.4;
	                letter-spacing: 0.03125rem;
	                color: $gray-black;
                }
            }
            .small-desc-section {  
                p {          
                    @include gray_color_light_font_weight;
                }
            }
        }
        .original-entered-address-section {
            @include gray_color_light_font_weight;
        }
        .or-section {
            .or-cross-line-section {
                border-top: 0.0625rem solid $gray-lighter;
                position: absolute;
                top: 1rem;
            }
            .or-circle-section {
                width: 2rem;
                height: 2rem;
                border-radius: 2rem;
                border: solid 0.0625rem $gray-lighter;
                font-size: 0.6875rem;
	            font-weight: $proxima-light;
	            color: $gray;
                background: $white-light;
                .or-text-section {
                    position: absolute;
                    top: 0.4375rem;
                    left: 0.5rem;
                }
            }
        }
        .choose-section {
            p {
                font-weight: $proxima-semibold;
	            letter-spacing: 0.03125rem;
	            color: $gray-black;
            }
        }
        .choose-address-list-section {
            .toggle-label {
                color: $brand-primary;
            }
            .choose-address-list {
                margin-bottom: 0.3125rem;
                .address-radio-label {
                    margin: -1.5rem 0 0 0.3125rem;
                    font-size: 1rem;
                    @include gray_color_light_font_weight;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .modal-dialog {
            margin: 0 auto;
            display: table;
            .modal-content {
                margin: 5rem 0;
                .modal-header {
                    padding: 1rem 1.5rem 0;
                    .heading-section {
                        font-size: 1.375rem;
                    }
                }
                .modal-body {
                    padding: 1.5rem;
                    .original-entered-address-section {
                        margin: -0.5rem 0 0;
                    }
                    .small-desc-section {
                        margin-top: -0.3125rem;
                    }
                    .or-section { 
                        margin-top: 0.625rem;
                    }
                    .address-form-section {
                        margin-top: -1.5rem;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .modal-content {
            margin: 2rem 0;
            .modal-header {
                padding: 1.5rem 1.5rem 0;
                .heading-section {
                    font-size: 1.8125rem;
                }
            }
            .modal-body {
                padding: 1.5rem 3.75rem 2.5rem;
                .original-entered-address-section {
                    margin: -0.5rem 0 2rem;
                }
                .or-section { 
                    margin-top: 1.125rem;
                    max-width: 17.25rem;
                    margin-left: auto;
                    margin-right: auto;
                }
                .choose-section {
                    margin-top: 2rem;
                }
                .choose-address-list-section {
                    .address-form-section {
                        margin-top: -1.125rem;
                    }
                    .selected-address-section {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}
