div.modal-header
    div.clearfix
        div.pull-right.close-icon.pointer(ng-click="ctrl.goBackAndEdit();")
    div.heading-section.center-section
        span Verify Address Details
div.modal-body
    div.desc-section
        span Sorry, we don’t recognize your address. To proceed, please choose from one of the options below.
    div.entered-address-section
        div.heading-section
            p.small.text-uppercase.m-b-0 ENTERED ADDRESS
        div.small-desc-section
            p.small (This address may be undeliverable)
    div.original-entered-address-section(screen-width, ng-class="{'m-b-2': width < 768}", ng-if="ctrl.addressData")
        div
            span(ng-if="ctrl.addressData.addressLine1") {{ctrl.addressData.addressLine1}}
            span(ng-if="ctrl.addressData.addressLine2") &nbsp;{{ctrl.addressData.addressLine2}},
        div
            span(ng-if="ctrl.addressData.city") {{ctrl.addressData.city}}
            span(ng-if="ctrl.addressData.state") , {{ctrl.addressData.state}}&nbsp;
            span(ng-if="ctrl.addressData.zip") {{ctrl.addressData.zip}}

    div.submit-section
        div.go-ahead-section
            button.btn.btn-primary(ng-click="ctrl.useEnteredAddress();")
                span.text-uppercase USE ENTERED ADDRESS
        div.edit-click-section
            button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBackAndEdit();")
                span.text-uppercase EDIT

    div.or-section.relative
        div.or-cross-line-section.fullWidth
        div.center-section.relative.or-circle-section(align="center")
            span.or-text-section OR

    div.choose-section(screen-width, ng-class="{'m-t-2': width < 768}")
        p.small.text-uppercase CHOOSE FROM POTENTIAL MATCHES
    
    div.choose-address-list-section(screen-width, ng-class="{'m-b-2': width < 768}")
        div.clearfix.toggle-label-section
            p.toggle-label.pointer.pull-left.m-b-0(ng-if="!ctrl.isAddressListVisible", ng-click="ctrl.isAddressListVisible = !ctrl.isAddressListVisible;") Display All
            p.toggle-label.pointer.pull-left.m-b-0(ng-if="ctrl.isAddressListVisible", ng-click="ctrl.isAddressListVisible = !ctrl.isAddressListVisible;") Hide All

        div.address-form-section(ng-if="ctrl.isAddressListVisible")
            form.m-b-0(name="form.selectAddressForm")
                div.choose-address-list(ng-repeat="item in ctrl.model.addressList", ng-init="ctrl.selectedAddress = ctrl.model.addressList[0]")
                    div.radio
                        input.form-control(type="radio", name="addressList", ng-value="item", ng-model="ctrl.selectedAddress", ng-required="ctrl.isAddressListVisible ? true : false;")
                        label
                            div.address-radio-label
                                div
                                    span(ng-if="item.addressLine1") {{item.addressLine1}},
                                    span(ng-if="item.addressLine2") &nbsp;{{item.addressLine2}},
                                div
                                    span(ng-if="item.city") {{item.city}}
                                    span(ng-if="item.state") , {{item.state}}&nbsp;
                                    span(ng-if="item.zip") {{item.zip}}
            
                div.selected-address-section(screen-width, ng-class="{'m-t-2': width < 768}")
                    button.btn.btn-primary.m-b-0(type="button", ng-click="ctrl.goWithSelectedAddress(form.selectAddressForm.$valid, ctrl.selectedAddress)")
                        span USE SELECTED ADDRESS

                


