div.storefront-heading-wrapper.center-section
    div.main-heading(align="center", ng-if="headingCtrl.mainHeading")
        span.text-uppercase {{headingCtrl.mainHeading}}
    div.sub-heading(align="center", ng-if="headingCtrl.subHeading") 
        span(ng-bind-html="headingCtrl.subHeading") 