@import "../../../../src/stylesheets/partials/variables.scss";
.top-tips-main-wrapper {
    .top-tips-heading {
        padding-top: 12px;
        text-align: center;
        h1 {
            font-size: 1.375rem;
            color: $gray-black;
        }
    }
    .display-fixer{display: flex;}
    .top-tips-box {
        background-color: $white;
        position: relative;
        max-width: 72.8125rem;
        margin: auto;


background: -moz-linear-gradient(-45deg, rgba(28,216,210,0.5) 0%, rgba(147,237,199,0.4) 40%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(28,216,210,0.5) 0%,rgba(147,237,199,0.4) 40%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(28,216,210,0.5) 0%,rgba(147,237,199,0.4) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#661cd8d2', endColorstr='#6693edc7',GradientType=1 );
        .top-seller-profile {
            .profile-pic {
                margin-top: 2.375rem;
                width: 7.5rem;
                height: 7.5rem;
                border-radius: 50%;
                margin: 2.375rem auto 0;
            }
            .profile-sub-heading-1 {
                text-align: center;
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                letter-spacing: 0.0.3125rem;
                color: $gray-black;
                margin: 1.1875rem auto 0;
            }
            .profile-sub-heading-2 {
                text-align: center;
                h1 {
                    font-size: 2rem;
                    color: $gray-dark;
                    ;
                }
                margin: 0.25rem auto 0;
            }
            .display-rectangle {
                width: 4.0625rem;
                height: 0.1875rem;
                background-color: $white;
                ;
                margin: 1.375rem auto 0;
            }
            .profile-description {
                width: 15.875rem;
                margin: 1.875rem auto 0;
            }
            .profile-link {
                width: 15.875rem;
                text-align: left;
                ;
                margin: 0.1875rem auto 0;
            }
        }
        .top-tip-box-wrapper {
            background: white;
            padding-bottom: 2rem;
        }
        .top-seller-points {
            width: 75%;
            margin-top: 1.5625rem;
            margin-left: 6.3125rem;
            min-height: 12.5rem;
            .point-boxes.last-box , .point-boxes:last-child {
                border-bottom: none;
            }
            .point-boxes {
                padding-bottom: 1.125rem;
                padding-top: 1.5625rem;
                border-bottom: 0.0625rem solid $gray-lighter;
                .number-box {
                    margin-left: 1.125rem;
                    display: inline-block;
                    width: 2.8125rem;
                    height: 2.8125rem;
                    border-radius: 50%;
                    border: solid 0.0625rem $gray-dark-shade;
                    text-align: center;
                    font-family: proxima-nova-alt-ext-cond, Helvetica, Arial, sans-serif;
                    font-size: 2rem;
                    font-weight: $proxima-light;
                    line-height: 2.8125rem;
                    color: $gray;
                }
                .text-box {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 0.1875rem;
                    margin-left: 2.0625rem;
                    max-width: 78%;
                    .tip-main {
                        font-weight: $proxima-semibold;
                    }
                    .sub-note {
                        font-weight: $proxima-light;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .top-tips-box {
            .top-seller-profile {
                min-height: 27.625rem;
                .profile-description {
                    width: 25.125rem;
                    margin: 1.375rem auto 0;
                    text-align: center;
                }
                .profile-link {
                    width: 15.875rem;
                    text-align: center;
                }
            }
            .top-seller-points {
                width: 75%;
                margin: 1.5625rem auto 0;
            }
        }
    }
    @media screen and (min-width: 360px) and (max-width: 767px) {
        .top-tips-box {
            .top-seller-profile {
                min-height: 29.5rem;
                .profile-description {
                    width: 17.75rem;
                    margin: 1.375rem auto 0;
                    text-align: center;
                }
                .profile-link {
                    width: 15.875rem;
                    text-align: center;
                }
            }
            .top-seller-points {
                width: 95%;
                margin: 1.5625rem auto 0;
                .point-boxes {
                    .text-box {
                        margin-left: 1.5rem;
                        max-width: 70%;
                    }
                }
            }
        }
    }
      @media screen and (min-width: 1024px) {
        .top-tips-box {
            .top-seller-points{
              min-height: 30.250em;
            }
          }
      }
}
