.container-fluid.top-tips-main-wrapper
  .row
    .col-sm-12
      .top-tips-heading
        h1 TIPS TO HELP YOU GET GOING
  .row.display-fixer
    .col-sm-12.col-xl-10.col-xl-offset-1.top-tips-box.no-gutter
      .col-lg-4.col-sm-12.top-seller-profile
        .profile-pic
          img(ng-src='{{ctrl.profilePic}}')
        .profile-sub-heading-1
          | TIPS FROM TOP SELLER
        .profile-sub-heading-2
          h1.m-b-0 Hazel Guay
        .display-rectangle
        .profile-description
          p.m-b-0 Some of company's top sellers have built their dream business using killer social selling. Meet Hazel! Here are her top 5 tips for successful propsecting. See how Hazel does it:
        .profile-link.pointer
          a facebook.com/hazelguay
      .col-lg-8.col-sm-12.top-tip-box-wrapper 
        .top-seller-points
          .point-boxes(ng-repeat='data in ctrl.topTips' ng-class="ctrl.isLast($index)?'last-box':'normal-box'")
            .number-box {{$index+1}}
            .text-box
              .tip-main {{data.tip}}
              .sub-note {{data.subNote}}
