.msf-intro-container(ng-class="sfIntro.isInlineEdit?'m-t-0':''")
  form.m-t-0(name='form.introMessage')
    h1(ng-if='!sfIntro.isInlineEdit') EDIT WELCOME MESSAGE
    h1(ng-if='sfIntro.isInlineEdit', class="m-t-2 left") YOUR INTRODUCTION MESSAGE
    p(ng-if='!sfIntro.isInlineEdit')
      | Following is a default message, start typing below to personalize it for your customers.
    textarea.form-control.m-b-0(maxlength='250', ng-model='sfIntro.welcomeMessage', ng-required='true', name='welcomeMessage')
    .error-block(ng-show='form.introMessage.welcomeMessage.$touched && form.introMessage.welcomeMessage.$error.required && (sfIntro.isSubmitClicked || sfIntro.isPublishClicked)')
      span The welcome message cannot be left empty.
    h1(ng-if='!sfIntro.isInlineEdit', class="m-t-2") EDIT CHECKOUT MESSAGE
    h1(ng-if='sfIntro.isInlineEdit', class="m-t-2 left") YOUR THANK YOU MESSAGE
    p(ng-if='!sfIntro.isInlineEdit')
      | Following is a default message, start typing below to personalize it for your customers.
    textarea.form-control.m-b-0(maxlength='250', ng-model='sfIntro.checkoutMessage', ng-required='true', name='checkoutMessage')
    .error-block(ng-show='form.introMessage.checkoutMessage.$touched && form.introMessage.checkoutMessage.$error.required && (sfIntro.isSubmitClicked || sfIntro.isPublishClicked)')
      span The checkout message cannot be left empty.
  div(ng-if='!sfIntro.isInlineEdit')
    button.btn.btn-primary.save(type='button', ng-click='sfIntro.saveIntroMessage(form.introMessage.$valid);', ng-if='!sfIntro.isInlineEdit') CONTINUE
  div(ng-if='sfIntro.isInlineEdit')
    button.btn.btn-primary.save(type='button', ng-click='sfIntro.savePublish(form.introMessage.$valid);') PUBLISH
    button.btn.btn-primary-outline.fullWidth(type='button', ng-click='sfIntro.cancelStep();', class="m-t-1 m-b-0") Cancel
