@import "../../../../../src/stylesheets/partials/variables.scss";

.msf-intro-container {
    overflow: auto;
    h1 {
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        line-height: 1.55;
        letter-spacing: 0.3px;
        text-align: center;
        color: $gray-dark;
        margin-bottom: 0.5em;
    }
    p {
        width: 19.6875em;
        line-height: 1.38;
        color: $gray-dark-secondary;
        margin: 0 auto 2em;
        text-align: center;
    }
    textarea {
        resize: none;
        background-color: $white;
        border: solid 1px $gray-light-secondary-border;
        border-radius: 2px;
        height: 11.5em;
        width: 100%;
        font-size: 1rem;
        font-weight: $proxima-light;
        line-height: 1.31;
        color: $gray-dark-secondary;
    }
    .btn {
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 1px;
        text-align: center;
        margin: 2rem auto 1rem;
        display: block;
    }
    .mfs-skip-btn {
        margin: 0 auto 2.5em;
        font-size: 1rem;
        font-weight: $proxima-light;
        text-align: center;
        color: $brand-primary;
        cursor: pointer;
        line-height: 1.06;
        letter-spacing: 1.2px;
    }
    .left {
        text-align: left;
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .msf-intro-container {
        width: 20.3125em;
        margin: 1.5em auto;
        textarea {
            padding: 1em;   
        }
        .btn,
        .mfs-skip-btn {
            width: 20.3125rem;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1439px){
    .msf-intro-container {
        width: 29.6875em;
        margin: 2em auto;
        textarea {
            padding: 1em 1.5em;   
        }
        .btn,
        .mfs-skip-btn {
            width: 22rem;
        }
    }
}

@media screen and (min-width:1440px){
    .msf-intro-container {
        width: 41.25em;
        margin: 2em auto;
        textarea {
            padding: 1.5em 2.5em;   
        }
        .btn,
        .mfs-skip-btn {
            width: 22rem;
        }
    }
}