.distributor-setup-container.top-container-margin
  .row
    main.col-lg-offset-2.col-lg-8.col-md-6.col-md-offset-3.col-sm-12.no-gutter
      .maincontainer.col-sm-10.col-sm-offset-1.no-gutter

        div.middle-section.clearfix.hidden-md-down
          div.heading-section.content-heading
            div.table-left-section
              h2 Now let’s set up your distributor account.
            div.table-middle-section &nbsp;
            div.table-right-section
              h2 Too excited to set everything up now?
          div.brief-section.content-heading
            div.table-left-section
              p Now that you have a basic account, you can set up your distributor account on Jon’s team.
              p You'll need about &nbsp;
                img(ng-src="../../../../src/assets/images/css/clock.svg" style="vertical-align:bottom")
                &nbsp; 15 mins
            div.table-middle-section.relative 
              div.or-section 
                div.or-text OR
            div.table-right-section
              p You can always finish setting up your distributor account later.
          div.footer-section.content-heading
            div.table-left-section
              button.btn.btn-primary.distributor-button(ng-click="vm.setAccount()") SET UP DISTRIBUTOR ACCOUNT
            div.table-middle-section &nbsp;
            div.table-right-section
              button.btn.btn-secondary.distributor-button.shopping-btn START SHOPPING


        .left-container.col-sm-12.col-lg-5.hidden-lg-up
          .row
            .left-heading.col-sm-12.no-gutter
              h2 Now let’s set up your distributor account.
            .left-content.col-sm-12.no-gutter
              p Now that you have a basic account, you can set up your distributor account on Jon’s team.
              p You'll need about &nbsp;
                img(ng-src="../../../../src/assets/images/css/clock.svg" style="vertical-align:bottom")
                &nbsp; 15 mins
            .left-button.col-sm-12.no-gutter
              button.btn.btn-primary.distributor-button(ng-click="vm.setAccount()") SET UP DISTRIBUTOR ACCOUNT
        .middle-container.col-sm-12.col-lg-2.hidden-lg-up
          div.verticalLine
              .separator-line
              .separator-line
               .circle
                .separator-text OR
        .right-container.col-sm-12.col-lg-5.hidden-lg-up
          .row
            .right-heading.col-sm-12.no-gutter
              h2 Too excited to set everything up now?
            .right-content.col-sm-12.no-gutter
              p You can always finish setting up your distributor account later.
            .right-button.col-sm-12.no-gutter
              button.btn.btn-secondary.distributor-button.shopping-btn START SHOPPING
        
        .bottom-container.col-sm-12
          .row
            .bottom-img.col-sm-12.col-lg-6.col-lg-offset-3
              img.bottom-image(ng-src='{{vm.bottomimage.img}}',height='100%', width='100%')
