@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";
.distributor-setup-container {
    .distributor-button {
        width: 21.2em;
    }
    .left-container {
        padding-left: 2.5em;
        padding-bottom: 2.5em;
    }
    .right-container {
        padding: 2.5em;
    }
    .bottom-container {
        margin-top: 5%;
    }
    .dtitle {
        font-weight: 100;
        font-size: 1.8125rem;
        line-height: 1.1;
        color: $gray;
    }
    .separator-line {
        width: 0.0625rem;
        min-height: 10.25em;
        background-color: $gray-lighter;
        position: relative;
        left: 50%;
        top: 0;
        text-align: center;
    }
    .circle {
        display: inline-block;
        vertical-align: middle;
        width: 1.875em;
        height: 1.875em;
        background-color: $white-light;
        border: solid 0.0625rem $gray-lighter;
        border-radius: 50%;
        position: absolute;
        top: -0.875rem;
        left: calc(50% - 0.9375rem);
        text-align: center;
        color: $gray;
    }
    .circle:nth-child(1) {
        border: 0.375rem solid rgba(255, 255, 255, 0.4);
    }
    .separator-text {
        text-align: center;
        font-weight: 300;
        font-size: 0.8rem;
    }
    .middle-section {
        .heading-section, .content-heading {
            display: table;
            width: 100%;
        }
        .heading-left, .heading-right, .table-left-section, .table-right-section {
            display: table-cell;     
            width: 49%;
        }
        .table-right-section {
            padding-left: 0.625rem;
        }
        .table-middle-section {
            display: table-cell;  
            width: 2%;
            vertical-align: middle;
            border-left: 0.0625rem solid $gray-lighter;
            .or-section {
                position: absolute;
                background: $white-light;
                border-radius: 50%;
                left: -1.125rem;
                .or-text {
                    padding: 0.3125rem 0.375rem;
                    font-weight: $proxima-light;
                    font-size: 1rem;
                    color: $gray;
                }
            }
        }
        .footer-section {
            height: 8rem;
            > div {
                padding-top: 1.5rem;
            }
        }
    }
    @media screen and (max-width: 374px) {
        .distributor-button {
            padding: 1rem .4rem 1rem .4rem;
        }
    }
    @media screen and (max-width: 767px) {
        background: $white;
        .separator-line {
            width: 100%;
            height: 0.0625rem;
            left: 0%;
            background-color: $gray-lighter;
            position: relative;
            min-height: 0;
        }
        .circle {
            top: -0.938em;
        }
        .left-container {
            padding: 0 2.5em 2.5em;
        }
        .maincontainer {
            padding: 0 1.5em 0;
        }
    }
    @media screen and (min-width: 360px) and (max-width: 411px) {
        .maincontainer {
            padding: 0 0.5em 0;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        background: $white;
        padding-bottom: 1.75rem;
        .divider {
            display: block;
            text-align: center;
            margin: 1.5em 0;
            position: relative;
        }
        .divider::before {
            content: '';
            display: block;
            width: 100%;
            height: 0.0625rem;
            background: $gray-lighter;
            position: absolute;
            top: 50%;
            left: 0;
        }
        .separator-line {
            width: 100%;
            height: 0.0625rem;
            left: 0%;
            background-color: $gray-lighter;
            position: relative;
            min-height: 0;
        }
        .left-container {
            padding-left: 2.5em;
        }
    }
    @media screen and (min-width: 1024px) {
        .left-content,
        .right-content {
            min-height: 6.625em;
        }
        .content-seperator {
            display: none;
        }
        .right-container {
            padding-top: 0;
            padding: 0 2.5em 0 0;
        }
        .left-container {
            border-bottom: 0;
            padding: 0 0 0 1em;
        }
    }
    @media screen and (min-width: 1229px) {
        .left-container {
            padding: 0 0 0 4em;
        }
    }
    .shopping-btn {
        color: $brand-primary;
        border: 0.0625rem solid $brand-primary;
        background: white;
    }

    @media (min-width: 1024px) and (max-width: 1439px) {
        .table-left-section, .table-right-section {
            position: relative;
        }
        .table-left-section {
            right: 1.125rem;
        }
        .table-right-section {
            left: 1.25rem;
        }
    }

    @media (min-width: 1440px) {
        .middle-section {
            .table-right-section {
                padding: 0 3.125rem;       
            }
            .table-left-section {
                padding-left: 3.125rem;
                padding-right: 3rem;
            }
            .table-middle-section {
                .or-section {
                    left: -1rem;
                }
            }
            .table-right-section {
                padding-right: 3.125rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .top-container-margin {
        margin-top: -3.5em;
        padding-bottom: 3.5rem;
    }
    
}