@import "../../../../../src/stylesheets/partials/variables.scss";

.my-storefront-setup{
    background-color: $white;

    .reset {
        margin: 0;
    }

    .msf-setup-header{
        min-height: 10em;
        background: url(../../../../../src/assets/images/css/prism-banner.jpg) no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: initial;
        padding: 0 0 0;
        clear: both;
        .msf-back {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            letter-spacing: -0.1px;
            color: $white;
            display: inline-table;
            cursor: pointer;
            position: absolute;
            img {
                vertical-align: inherit;
            }
        }
        .msf-logo{
          border-radius: 50%;
          width: 3.5rem;
          height: 3.5rem;
          background-image: url("../../../../../src/assets/images/css/ic-brand-logo.svg");
          background-repeat: no-repeat;
          display: block;
          margin: 1.4rem auto;
        }
        .msf-title{
            margin: 0 auto 2.125em;
            h1{
                font-size: 1.5rem;
                margin: 0;
                line-height: 1.42;
                text-align: center;
                color: $gray-fair;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
            }
            p {
                line-height: 1.25;
                text-align: center;
                color: $gray-fair;
                margin-bottom: 0;
            }
        }
        .msf-progress-indicator {
            height: 3.75em;
            background: rgba(255,255,255,0.34);
            .indicator-group {
                margin: 0 auto;
                display: table;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                .level {
                    width: 2.25em;
                    height: 2.25em;
                    background-color: $brand-primary;
                    float: left;
                    margin: 0 0.8em;
                    border-radius: 50%;
                    text-align: center;
                    display: table;
                    span {
                        display: table-cell;
                        vertical-align: bottom;
                        width: 100%;
                        height: 100%;
                        font-size: 1.375rem;
                        font-weight: $proxima-light;
                        line-height: 1.41;
                        color: $white;
                        font-family: $proxima-condensed;
                    }
                }
                .level-active {
                    background: $aqua;
                    border: 1px solid $white;
                    .arrow {
                        position: absolute;
                        width: 0.5rem;
                        height: 0.5rem;
                        border-bottom: 8px solid $white;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        margin-left: -1.5em;
                        .arrow-border {
                            border-bottom: 7px solid $aqua;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            position: relative;
                            top: 2px;
                            left: -6.5px;
                        }
                    }
                }
                .level-complete {
                    position: relative;
                }
                .level-complete:after {
                    content: '';
                    position: absolute;
                    background: url(../../../../../src/assets/images/css/ic-checked.svg) no-repeat center;
                    background-size: contain;
                    background-color: $white;
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                }
            }
        }
    }

    .msf-type {
        .msf-type-header {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.23;
            letter-spacing: 0.6px;
            text-align: center;
            color: $white;
            background: $aqua;
            border-top: solid 1px $white;
            text-align: center;
            padding: 0.5em 0;
        }
    }
}

@media all and (min-width: 360px) and (max-width: 1023px) {
    .my-storefront-setup{
        .msf-back {
            margin: 1.4rem 1.4rem 0;
        }
		.arrow {
			bottom: -12px;
		}
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px){
    .my-storefront-setup{
        .msf-back {
            margin: 1.4rem 2.5rem 0;
        }
		.arrow {
			bottom: -11px;
		}
		.msf-type-header {
			margin-top: -1px;
		}
    }
}

@media screen and (min-width:1440px){
    .my-storefront-setup{
        .msf-back {
            margin: 1.4rem 3.25rem 0;
        }
		.arrow {
			bottom: -11px;
		}
		.msf-type-header {
			margin-top: -2px;
		}
    }

}
