page-level-error-component(ng-show="ctrl.errorData", error-message="ctrl.errorData.errorMessage", danger-type="true", is-show-info-icon-on-error="false", is-display-error-message="ctrl.isDisplayErrorMessage")
.container-fluid.no-gutter.my-storefront-setup
  .row.msf-setup-header.reset
    .col-sm-12
      .go-back-image-header.pull-left(ng-click='ctrl.executeLeavePopup("back")')
        div.go-back-text-header.pointer.pull-left
          span.text-uppercase Back
      .msf-logo
    .msf-title
      h1 Welcome, Bart!
      p Configure your storefront below.
    .msf-progress-indicator
      .indicator-group
        .level(ng-class="{'level-active': ctrl.currentState == step.state, 'level-complete': ctrl.currentState > step.state, 'pointer': ctrl.currentState > step.state}", ng-repeat='step in ctrl.states' ng-click="ctrl.goToState($index+1)")
          span {{step.state}}
          .arrow
            .arrow-border
    .row.msf-type.reset
      .msf-type-header {{ctrl.states[ctrl.currentState-1].name}}
  div(ng-if='ctrl.currentState==1')
    storefront-intro(save='ctrl.save()', is-inline-edit="false")
  div(ng-if='ctrl.currentState==2')
    mystorefrontproductscomponent(save='ctrl.save()', error="ctrl.showErrorSection(data)")
  div(ng-if='ctrl.currentState==3')
    mystorefrontbundlescomponent(save='ctrl.save()', error="ctrl.showErrorSection(data)")
  div(ng-if='ctrl.currentState==4')
    mystorefrontreviewcomponent(go-to-state="ctrl.goToState(state)",show-review-fields="true")

  div.product-remove-modal-wrapper
    pageleaveconfirmationcomponent(ng-if="ctrl.isBackLinkClicked", is-modal-call="true", callback-on-success="ctrl.back()", boolean-variable-to-invoke-modal="ctrl.isBackLinkClicked")
