.nav-header
  .row.reset
    .col-sm-4.col-md-2.nav-header-menu.reset(ng-hide="vm.loginSignupPage")
      .nav-header-menu-container(data-toggle='modal', data-target='#sideMenu', ng-click='vm.openMenu()')
        span SHOP
    .col-sm-4.col-md-8.col-lg-3.nav-header-logo.reset(ng-if="vm.accType=='distributor'" ng-hide="vm.loginSignupPage")
      .distributor-logo(ng-click='vm.goToHomePage()')
      //- .distributor-details-lg-xl
      //-   .distributor-name-lg-xl Stephanie LastName
      //-   .distributor-contact-lg-xl CONTACT ME
    .col-sm-4.col-md-8.col-lg-3.nav-header-logo.common-logo.reset(ng-if="vm.accType!='distributor'" ng-hide="vm.loginSignupPage")
      div
        img.logo-sm-md(src='../../../src/assets/images/css/ic-brand-logo.svg', ng-click='vm.goToHomePage()')
        img.logo-lg-xl(src='../../../src/assets/images/css/ic-logo.svg', ng-click='vm.goToHomePage()')
    .col-sm-12.col-md-12.col-lg-12.col-xl-12.nav-header-logo.common-logo.simplified-logo(ng-show="vm.loginSignupPage")
      div
        img.logo-sm-md(src='../../../src/assets/images/css/ic-brand-logo.svg', ng-click='vm.goToHomePage()')
        img.logo-lg-xl(src='../../../src/assets/images/css/ic-logo.svg', ng-click='vm.goToHomePage()')
    .col-lg-7.nav-header-center-menu.reset(ng-hide="vm.loginSignupPage")
      .col-lg-9.menu-dropdown.no-gutter(ng-click='vm.hideSubCategory($event)')
        #dropdown-category.dropdown-category(ng-click="vm.showSubCategory('WHAT’S NEW & LOVED')", ng-class="vm.activeSubCategory=='WHAT’S NEW & LOVED'?'active':''")
          span Menu Item One
        .menu-seperator
        #dropdown-category.dropdown-category(ng-click="vm.showSubCategory('NUTRITION')", ng-class="vm.activeSubCategory=='NUTRITION'?'active':''")
          span Menu Item Two
        .menu-seperator
        #dropdown-category.dropdown-category(ng-click="vm.showSubCategory('PERSONAL CARE')", ng-class="vm.activeSubCategory=='PERSONAL CARE'?'active':''")
          span Menu Item Three
      .col-lg-3.menu-search(data-toggle='modal', data-target='#headerSearch', ng-click='vm.showSearch=true')
        form.center-menu-search-form(name='form', novalidate='novalidate', ng-submit='')
          .form-group
            .search-icon
            input#searchInput.form-control.searchInput(type='text', name='searchInput', placeholder='Search', disabled='')
    #showMyAccountId.col-sm-2.col-md-1.nav-header-profile.reset(ng-hide="vm.loginSignupPage")
      .col-sm-12.col-xl-5.nav-header-profile-logo.reset(ng-if="vm.accType!='guest'")
        img(ng-src="{{vm.accImage!=''?vm.accImage:'../../../src/assets/images/css/ic-profile-blue.svg'}}")
      .col-xl-12.reset.nav-header-profile-text(ng-if="vm.accType!='guest'") {{vm.accType=='distributor'?'Sign Up':'My Account'}}
      .col-sm-12.col-xl-4.nav-header-profile-logo.guest-profile-logo.reset(ng-if="vm.accType=='guest'")
      .col-xl-12.reset.nav-header-profile-text(ng-if="vm.accType=='guest'") Sign In or Join
      .acc-info-arrow(ng-if='vm.showAccountInfo')
    .col-sm-2.col-md-1.nav-header-cart.reset(ng-hide="vm.loginSignupPage", ng-click="vm.goToPage('shopping-cart')")
      .header-cart-value(ng-if="vm.cartItem > 0") {{vm.cartItem}}
  .overlay(ng-click='vm.hideModal($event);', ng-if='vm.showAccountInfo' id="showAccountInfo")
  #showAccountInfoId.account-info.no-gutter(ng-class="vm.showAccountInfo?'show-info':''")
    .customer-distributor-info
      .col-sm-12.profile-info.no-gutter
        .profile-distributor(ng-if="vm.accType=='distributor'")
          .col-sm-4.col-lg-4.col-lg-offset-1.acc-img.no-gutter
            img.acc-level(ng-src='{{vm.accLevel}}')
            img(ng-src="{{vm.accImage!=''?vm.accImage:'../../../src/assets/images/css/ic-default-profile-green.svg'}}")
          .col-sm-8.col-lg-7.acc-name.no-gutter.break-long-text
            | Distributor Name
            br
            span LOREM 23,400    GSV 23,400
        .profile-customer(ng-if="vm.accType=='customer'")
          .col-sm-4.col-lg-4.col-lg-offset-1.acc-img.no-gutter
            img(ng-src="{{vm.accImage!=''?vm.accImage:'../../../src/assets/images/css/ic-profile.svg'}}")
          .col-sm-8.col-lg-7.acc-name.no-gutter.break-long-text Customer Name
      .col-sm-12.distributor-placeholder-links.no-gutter(ng-if="vm.accType=='distributor'")
        div
          a(href='#') Invite
        div
          a(href='#') Send Pitch
        div
          a(href='#') Placeholder
      .col-sm-12.acc-tabs.no-gutter(ng-if="vm.showAccountInfo")
        .col-sm-12.acc-settings.border-all.no-gutter
          a(href='') View Account Settings
        .acc-links.border-left.border-bottom.no-gutter(ng-show="!(item.isLastRow && vm.dropdownInfo.elementsInLastRow == 1)" ng-repeat="item in vm.dropdownOptions track by $index" ng-class="{'col-sm-4' : vm.dropdownOptions.length % 3 < 3 || (item.isLastRow && vm.dropdownInfo.elementsInLastRow == 3), 'col-sm-6' : vm.dropdownOptions.length % 2 < 2 && (item.isLastRow && vm.dropdownInfo.elementsInLastRow == 2), 'col-sm-12': item.isLastRow && vm.dropdownInfo.elementsInLastRow == 1, 'border-right' : $last || ($index % 3 == 2 && !item.isLastRow) }")
          a(href='{{item.linkURL}}')
            img(ng-src="{{item.imageURL}}")
            div {{item.text}}
        .acc-links.acc-links-single-option.border-left.border-bottom.no-gutter.border-right(ng-show="item.isLastRow && vm.dropdownInfo.elementsInLastRow == 1" ng-repeat="item in vm.dropdownOptions track by $index" ng-class="{'col-sm-12': item.isLastRow && vm.dropdownInfo.elementsInLastRow == 1 }")
          a(href='{{item.linkURL}}')
            div.img-dropdown-option
              img(ng-src="{{item.imageURL}}")
            div.img-dropdown-option {{item.text}}
    .distributor-links(ng-if="vm.accType=='distributor'")
      .col-sm-12.no-gutter.text-center
        a(href='#') Volume & Geneology
      .col-sm-12.no-gutter.text-center
        a(href='#') Document Search
      .col-sm-12.no-gutter.text-center
        a(href='#') Back Office
    .acc-sign-out.col-sm-12.no-gutter(ng-click='vm.signout();')
      span SIGN OUT
  //- .col-sm-12.reset.distributor-details-sm-md(ng-if="vm.accType=='distributor'")
  //-   .col-sm-12.col-md-6.distributor-name-sm-md Distributor Name
  //-   .col-sm-12.col-md-6.distributor-contact-sm-md CONTACT ME
  .overlay-dropdown-menu(ng-if='!vm.isCategoryShown' ng-click='vm.hideSubCategory($event)')
  #dropdown-menu-modal.dropdown-menu-modal(ng-if='!vm.isCategoryShown')
    .sub-category
      .col-lg-12.col-xl-9.no-gutter(ng-repeat='(key,val) in vm.headerMenuData[vm.activeSubCategory].data', ng-if="$index==0 && $last && key=='NoCategory'")
        .col-lg-4.list-item(ng-repeat='(k,v) in val', ng-if='$even')
          a.col-lg-12.no-gutter(href='{{val[$index].url}}') {{val[$index].Name}}
          a.list-item-a.col-lg-12.no-gutter(href='{{val[$index+1].url}}') {{val[$index+1].Name}}
      .col-lg-12.col-xl-10.sub-category-content.no-gutter
        .col-lg-3.no-gutter(ng-repeat='(key,val) in vm.headerMenuData[vm.activeSubCategory].data', ng-if="!($index==0 && $last && key=='NoCategory')")
          .col-lg-12.list-header.no-gutter(ng-if="key!='NoCategory'") {{key}}
          .col-lg-12.list-item(ng-repeat='(k,v) in val')
            a(href='{{v.url}}') {{v.Name}}
      .col-xl-2.menu-promotion.no-gutter
        img.promotion-image(ng-src='{{vm.headerMenuData[vm.activeSubCategory].promotion.imageURL}}')
        .col-xl-10.col-xl-offset-1.promotion-header.no-gutter {{vm.headerMenuData[vm.activeSubCategory].promotion.header}}
        .col-xl-10.col-xl-offset-1.promotion-content.no-gutter {{vm.headerMenuData[vm.activeSubCategory].promotion.content}}
        a.col-xl-10.col-xl-offset-1.promotion-link.no-gutter(href='{{vm.headerMenuData[vm.activeSubCategory].promotion.linkURL}}') {{vm.headerMenuData[vm.activeSubCategory].promotion.linkText}}
  #sideMenu.modal.fade(tabindex='-1', role='dialog', aria-labelledby='sideMenu')
    .modal-dialog(role='document')
      .modal-content.side-menu(ng-style="{'min-height':vm.screenHeight}")
        .modal-header
          .side-menu-back(ng-if='!vm.isCategoryShown||vm.searchMode', ng-click='vm.hideSubCategory($event)')
            img.back-icon(src='../../../src/assets/images/css/ic-back.svg')
            | Back
          button.close(type='button', data-dismiss='modal', aria-label='Close')
          h4#sideMenu.modal-title.nav-header-logo
        .side-menu-logo
          div
            img(src='../../../src/assets/images/css/ic-deloittelogo-white.svg', ng-click="vm.goToHomePage('modal')")
        .side-menu-search(ng-if='vm.showSearch')
          form.side-menu-search-form(name='form', novalidate='novalidate', ng-submit='vm.submitSearch()')
            .form-group
              .search-icon
              .clear-input(ng-if='vm.headerSearch', ng-click='vm.clearValue();')
              input#searchInput.form-control.searchInput.typeahead(type='text', name='searchInput', placeholder='SEARCH', ng-model='vm.headerSearch', ng-focus='vm.searchMode=true', sf-typeahead='', datasets='vm.searchDataset', options='vm.searchOptions', ng-keypress='($event.which === 13)?vm.submitSearch():0')
            .search-mode(ng-class="vm.searchMode?'show-search-mode':''")
              .col-sm-12.search-optional-fields.no-gutter.ng-hide(ng-if="vm.accType=='distributor'")
                .col-sm-5.input-box.no-gutter(ng-class="form.minPSV.$error.pattern?'invalid':''")
                  input#minPSV.form-control.searchInput(type='text', name='minPSV', placeholder='MIN LOREM', ng-model='vm.minPSV', pattern='[0-9]*', ng-keypress='($event.which === 13)?vm.submitSearch():0')
                .col-sm-2.to-text.no-gutter TO
                .col-sm-5.input-box.no-gutter(ng-class="form.maxPSV.$error.pattern?'invalid':''")
                  input#maxPSV.form-control.searchInput(type='text', name='maxPSV', placeholder='MAX LOREM', ng-model='vm.maxPSV', pattern='[0-9]*', ng-keypress='($event.which === 13)?vm.submitSearch():0')
              span.error-block(ng-if='form.minPSV.$error.pattern || form.maxPSV.$error.pattern') Please enter valid LOREM values
              .col-sm-12.search-history.no-gutter
                h5.margin-search Search History
                .searched-items(ng-repeat='tile in vm.searchedHistoryData')
                  a(href='#') {{tile.product_desc}}
        .side-menu-content(ng-class="vm.searchMode?'hide-content':''")
          .content-page1(ng-class="vm.isCategoryShown?'':'category-hidden'")
            .side-menu-category
              .list-item(ng-click="vm.showSubCategory('WHAT’S NEW & LOVED')") WHAT’S NEW & LOVED
              .seperator
              .list-item(ng-click="vm.showSubCategory('NUTRITION')") NUTRITION
              .seperator
              .list-item(ng-click="vm.showSubCategory('PERSONAL CARE')") PERSONAL CARE
          .content-page2(ng-class="!vm.isCategoryShown?'subCategory-shown':''")
            .side-menu-subCategory
              .side-menu-subCategory-header {{vm.activeSubCategory}}
              .seperator
              .subCategory-list-group(ng-repeat='(key,val) in vm.headerMenuData[vm.activeSubCategory].data')
                .list-group(ng-if="key!='NoCategory'") {{key}}
                .list-item(ng-repeat='list in val')
                  a(href='{{list.url}}') {{list.Name}}
  #headerSearch.modal.fade(tabindex='-1', role='dialog', aria-labelledby='headerSearch')
    .modal-dialog(role='document')
      .modal-content.header-search(ng-style="{'min-height':vm.screenHeight}")
        .modal-header
          .col-lg-2.col-xl-3.nav-header-logo.common-logo.reset
            div
              img.logo-lg-xl(src='../../../src/assets/images/css/ic-brand-logo.svg', ng-click="vm.goToHomePage('modal')")
          button.close(type='button', data-dismiss='modal', aria-label='Close')
        .search-content
          .center-menu-search.col-md-4.col-md-push-4.col-lg-6.col-lg-push-3.col-xl-4.col-xl-push-4(ng-if='vm.showSearch')
            form.center-menu-search-form(name='form', novalidate='novalidate', ng-submit='vm.submitSearch()')
              .form-group
                .search-icon
                .clear-input(ng-if='vm.headerSearch', ng-click='vm.clearValue();')
                input#searchInput.form-control.searchInput.typeahead(type='text', name='searchInput', ng-model='vm.headerSearch', sf-typeahead='', datasets='vm.searchDataset', options='vm.searchOptions')
                .search-btn
                  button.btn.btn-primary-outline(type='submit') SEARCH
              .search-mode
                .col-sm-12.search-optional-fields.no-gutter.ng-hide(ng-if="vm.accType=='distributor'")
                  .col-sm-4.input-box.no-gutter(ng-class="form.minPSV.$error.pattern?'invalid':''")
                    input#minPSV.form-control.searchInput(type='text', name='minPSV', placeholder='MIN LOREM', ng-model='vm.minPSV', pattern='[0-9]*')
                  .col-sm-1.to-text.no-gutter TO
                  .col-sm-4.input-box.no-gutter(ng-class="form.maxPSV.$error.pattern?'invalid':''")
                    input#maxPSV.form-control.searchInput(type='text', name='maxPSV', placeholder='MAX LOREM', ng-model='vm.maxPSV', pattern='[0-9]*')
                  span.error-block.col-lg-12.no-gutter(ng-if='form.minPSV.$error.pattern || form.maxPSV.$error.pattern') Please enter valid LOREM values
                .col-sm-12.search-history.no-gutter
                  h5.margin-search Search History
                  .searched-items(ng-repeat='tile in vm.searchedHistoryData')
                    a(href='#') {{tile.product_desc}}
