@import "../../stylesheets/partials/variables";

.nav-header {
    background: $white;
    border-bottom: solid 1px $gray-lighter;
    .customer-sign-out{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .customer-sign-out{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .img-dropdown-option {
        display: inline;
    }
    .reset {
        padding: 0;
        margin: 0;
    }
    .nav-header-menu-container {
        padding: 1em 1em 0;
        width: 50%;
        height: 100%;
        background-image: url(../../../src/assets/images/css/ic-hamburger.svg);
        background-repeat: no-repeat;
        background-size: 1.2em;
        background-position: 1.25em 1.2em;
        span {
            font-size: 0.625rem;
            font-weight: $proxima-semibold;
            line-height: 4.8;
            letter-spacing: 0.6px;
            text-align: center;
            color: $brand-primary;
            position: relative;
            top: 0.6em;
        }
    }

    .nav-header-logo.common-logo {
        display: table;
        div {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            img {
                cursor: pointer;
            }
        }
    }
    .nav-header-logo.common-logo.simplified-logo{
        text-align: center;
    }
    .nav-header-logo {
        height: 100%;
        .distributor-logo {
            height: 100%;
            background-image: url(../../../src/assets/images/css/ic-brand-logo.svg);
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .distributor-details-lg-xl {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .distributor-name-lg-xl{
            font-size: 0.875rem;
            font-weight: $proxima-light;
            line-height: 1.14;
            letter-spacing: 0.1px;
            color: $brand-primary;
        }
        .distributor-contact-lg-xl {
            font-size: 0.625rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.3px;
            color: $gray;
            margin-top: 0.3em;
        }
    }

    .distributor-details-sm-md{
        background-color: $gray-lightest;
        .distributor-name-sm-md {
            font-size: 0.625rem;
            font-weight: $proxima-semibold;
            line-height: 1.6;
            letter-spacing: 0.6px;
            color: $brand-primary;
            margin-top: 0.4em;
            padding: 0 0.2em;
        }
        .distributor-contact-sm-md{
            font-size: 0.625rem;
            font-weight: $proxima-semibold;
            line-height: 1.6;
            letter-spacing: 0.6px;
            color: $gray;
            padding: 0 0.2em;
        }
    }

    .nav-header-center-menu{
        height: 100%;
        .menu-dropdown {
            padding-left: 10%;
            height: 100%;
            z-index: 2;
            .dropdown-category {
                display: table;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1;
                color: $gray-dark;
                text-align: center;
                height: 100%;
                float: left;
                margin: 0 0.7em;
                cursor: pointer;
                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            .dropdown-category.active {
                color: $brand-primary;
                border-top: 3px solid $white;
                border-bottom: 3px solid $brand-primary;
            }
            .dropdown-category:hover {
                color: $brand-primary;
                border-top: 3px solid $white;
                border-bottom: 3px solid $brand-primary;
            }
            .menu-seperator {
                float: left;
                height: 0.7em;
                border: solid 1px $gray-lighter;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
        .menu-search {
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
            .center-menu-search-form {
                margin: 0;
                .search-icon {
                    right: 2em;
                    background-image: url(../../../src/assets/images/css/ic-search.png);
                    background-size: 1.125em;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    position: absolute;
                    width: 1.5em;
                    height: 2.75em;
                    margin-left: 0.25em;
                }
                input {
                    margin-bottom: 0;
                    border-radius: 5px;
                    background-color: rgba(194, 199, 205, 0.2);
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.14;
                    color: $brand-primary;
                    border: 0;
                    padding-left: 1.25em;
                    padding-right: 3em;
                    padding-top: 1rem;
                    cursor:text;
                }
                input::-webkit-input-placeholder{
                    color: $brand-primary;
                }
                input:-moz-placeholder {
                   color: $brand-primary;
                }
                input::-moz-placeholder {
                   color: $brand-primary;
                }
                input:-ms-input-placeholder {
                   color: $brand-primary;
                }
            }
        }
    }

    .nav-header-profile {
        border-left: solid 1px $gray-lighter;
        border-right: solid 1px $gray-lighter;
        height: 100%;
        cursor: pointer;
        z-index: 100;
        .nav-header-profile-logo {
            height: 100%;
            text-align: center;
            img {
                width: 2em;
                max-height: 2em;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
            }
        }
        .guest-profile-logo {
            background-image: url(../../../src/assets/images/css/ic-default-profile-green.svg);
            background-repeat: no-repeat;
            background-size: 2em;
            background-position: 50%;
        }
        .nav-header-profile-text {
            font-size: 1rem;
            font-weight: $proxima-light;
            line-height: 1.14;
            text-align: center;
            color: $brand-primary;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
        .left {
            text-align: left;
        }
        .acc-info-arrow {
            position: absolute;
            bottom: -1px;
            width: 0;
            height: 0;
            border-bottom: 0.5rem solid rgb(196, 204, 212);
            border-left: 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .nav-header-cart {
        height: 100%;
        background-image: url(../../../src/assets/images/css/ic-shopping-bag.svg);
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-position: 50%;
        cursor: pointer;

        .header-cart-value{
             display: inline-block;
             position: absolute;
             height: 1.1em;
             width: 1.1em;
             margin: 0 auto;
             top: 43%;
             text-align: center;
             font-size: 0.750em;
             color: $brand-primary;
             left: 0;
             right: 0;
        }

    }

    .account-info {
        position: absolute;
        // background-color: rgba(0, 138, 176, 0.97);
        background-image: linear-gradient(to top, #565e6f, #737c8c 19%, #9ea9b6 48%, #c7cfd6);
        transition: all .25s, opacity 0.25s;
        opacity: 0;
        overflow: hidden;
        z-index: -1;
        margin-top: -1px;
        .customer-distributor-info {
            overflow: auto;
            .profile-info {
                padding: 1.5em;
                .profile-distributor,
                .profile-customer {
                    height: 3.125em;
                    .acc-img {
                        height: 100%;
                        text-align: center;
                        .acc-level {
                            position: absolute;
                            width: 1.5em;
                            height: 1.5em;
                            bottom: 0;
                            left: 1.25em;
                        }
                        img {
                            height: 100%;
                            max-height: 100%;
                            border-radius: 50%;
                        }
                    }
                    .acc-name {
                        font-size: 1rem;
                        font-weight: $proxima-regular;
                        line-height: 1.25;
                        color: $white;
                        top: 50%;
                        transform: translateY(-50%);
                        span {
                            font-size: 0.8125rem;
                            line-height: 1.54;
                        }
                    }
                }
            }
            .distributor-placeholder-links {
                padding: 0 1.5em 1.5em;
                div {
                    width: 32.33%;
                    float: left;
                    margin-right: 1.5%;
                    border-radius: 3px;
                    background-color: $blue-lightest;
                    border: solid 1px $blue-light-secondary;
                    text-align: center;
                    display: table;
                    height: 2em;
                    a {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 0.8125rem;
                        font-weight: $proxima-regular;
                        line-height: 1.54;
                        color: $brand-primary;
                    }
                }
                div:last-child {
                    margin-right: 0;
                }
            }
            .acc-tabs {
                padding: 0 1.5em 2.5em;
                z-index: 1;
                .border-all {
                    border: solid 1px $blue-light-secondary;
                }
                .border-left {
                    border-left: solid 1px $blue-light-secondary;
                }
                .border-right {
                    border-right: solid 1px $blue-light-secondary;
                }
                .border-bottom {
                    border-bottom: solid 1px $blue-light-secondary;
                }
                .acc-settings {
                    display: table;
                    text-align: center;
                    // background-color: $blue-dark-secondary;
                    height: 2.95em;
                    border: 1px solid white;
                    a {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 0.8125rem;
                        font-weight: $proxima-regular;
                        line-height: 1.38;
                        text-align: center;
                        color: $white;
                    }
                }
                .acc-links {
                    height: 6.875em;
                    background-color: $blue-dark-secondary;
                    a {
                        display: block;
                        font-size: 0.8125rem;
                        font-weight: $proxima-regular;
                        line-height: 1.54;
                        color: $white;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        text-align: center;
                        .acc-link-img {
                            width: 2.5em;
                            height: 2.5em;
                            margin: 0 auto 0.3em;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            background-size: contain;
                        }
                        .prospecting-link {
                            background-image: url(../../../src/assets/images/css/prospecting.svg);
                        }
                        .media-center-link {
                            background-image: url(../../../src/assets/images/css/media-centre.svg);
                        }
                        .my-store-link {
                            background-image: url(../../../src/assets/images/css/my-store.svg);
                        }
                        .training-link {
                            background-image: url(../../../src/assets/images/css/training.svg);
                        }
                        .orders-link {
                            background-image: url(../../../src/assets/images/css/order.svg);
                        }
                        .shipping-link {
                            background-image: url(../../../src/assets/images/css/shipping.svg);
                        }
                        .payment-link {
                            background-image: url(../../../src/assets/images/css/payment.svg);
                        }
                        .mbs-share-link {
                            background-image: url(../../../src/assets/images/css/mbs-share.png);
                          }
                        img {
                            width: 2.5em;
                            height: 2.5em;
                            margin-bottom: 0.3em;
                        }
                    }
                }
                .acc-links-single-option {
                    height: 2.95rem;
                }
            }

        }
        .distributor-links {
            overflow: auto;
            padding: 0 1.5em;
            margin-top: -0.5em;
            div {
                margin-bottom: 1.25em;
                a {
                    font-size: 1rem;
                    font-weight: $proxima-regular;
                    line-height: 1.25;
                    color: $white;
                }
            }
        }
        .acc-sign-out{
            // background-color: $blue-dark-secondary;
            background-color: rgba(0, 0, 0, 0.1);
            display: table;
            text-align: center;
            height: 2.75em;
            span {
                display: table-cell;
                vertical-align: middle;
                font-size: 0.875rem;
                font-weight: $proxima-semibold;
                line-height: 1.43;
                text-align: center;
                color: $white;
                cursor: pointer;
            }
        }
    }
    .account-info.show-info {
        min-height: 20em;
        opacity: 1;
        z-index: 100;
    }

    .dropdown-menu-modal {
        position: absolute;
        top: 4.45em;
        left: 0;
        width: 100%;
        min-height: 23rem;
        // background-color: rgba(0, 138, 176, 0.97);
        background-color: #8F9AA7;
        z-index: 1000;
        .sub-category {
            margin: 1.5em 3em;
            overflow: auto;
            .list-header {
                font-size: 0.8125rem;
                font-weight: 700;
                line-height: 1.69;
                letter-spacing: 0.8px;
                color: $white;
                margin-bottom: 0.625em;
            }
            .list-item {
                margin-bottom: 0.625em;
                border: 0;
                padding-left: 0;
                a {
                    font-size: 0.935rem;
                    font-weight: 400;
                    line-height: 1.47;
                    color: $white;
                }
                .list-item-a {
                    margin-top: 0.625em;
                }
            }
            .menu-promotion {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 20%;
                // background-color: $blue-dark;
                background-color: #707989;
                .promotion-image {
                    max-height: 45%;
                    max-width: 100%;
                    left: 50%;
                    position: relative;
                    transform: translateX(-50%);
                }
                .promotion-header {
                    font-size: 1.375rem;
                    font-weight: $proxima-thin;
                    line-height: 1.09;
                    letter-spacing: 0.4px;
                    color: $white;
                    margin-top: 2em;
                }
                .promotion-content {
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    line-height: 1.38;
                    color: $white;
                    margin-top: 0.25em;
                }
                .promotion-link {
                    font-size: 0.875rem;
                    font-weight: $proxima-semibold;
                    line-height: 1.14;
                    letter-spacing: 0.5px;
                    color: $white;
                    margin-top: 2em;
                }
            }
        }
    }

    /* Side Menu and Search Modal CSS */
    .modal-dialog {
        background: $brand-primary;
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
        .modal-content {
            width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .side-menu {
            background: linear-gradient(to top, rgba(70, 217, 208, 0.25), $dusk);
            .modal-header {
                border: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            .side-menu-back {
                position: absolute;
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1.69;
                letter-spacing: 0.8px;
                color: $white;
                .back-icon {
                    vertical-align: baseline;
                    margin-right: 0.5em;
                }
            }
            .close {
                width: 0.425em;
                height: 1em;
                opacity: 1;
                color: $white;
                background: url(../../../src/assets/images/css/cancel@1.5x.svg) no-repeat;
                background-size: contain;
                background-position: 50%;
                margin: 0;
            }
            .side-menu-logo {
                height: 4em;
                display: table;
                width: 100%;
                div {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    text-align: center;
                    img {
                        position: relative;
                        max-height: 2.2em;
                    }
                }
            }
            .side-menu-search {
                width: 17.1875rem;
                margin: auto;
                .side-menu-search-form {
                    margin: 0;
                    .form-group {
                        margin-bottom: 0;
                    }
                    .search-icon {
                        position: absolute;
                        width: 1.5em;
                        height: 2.75em;
                        margin-left: 0.25em;
                        background-image: url(../../../src/assets/images/css/ic-search.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: 50%;
                    }
                    .searchInput {
                        background: transparent;
                        border-width: 0;
                        border-bottom: 1px solid $white;
                        color: $white;
                        text-align: center;
                        font-size: 0.875rem;
                        font-weight: $proxima-semibold;
                        line-height: 1.57;
                        letter-spacing: 0.6px;
                        margin-bottom: 0;
                        padding: 0 2.25em;
                    }
                    .searchInput:focus {
                        text-align: left;
                    }
                    .searchInput::-webkit-input-placeholder{
                        color: $white;
                    }
                    .side-menu-search-form .searchInput:-moz-placeholder {
                        color: $white;
                    }
                    .side-menu-search-form .searchInput::-moz-placeholder {
                        color: $white;
                    }
                    .side-menu-search-form .searchInput:-ms-input-placeholder {
                        color: $white;
                    }
                    .clear-input{
                        height: 0.8em;
                        width: 0.8em;
                        position: absolute;
                        background: url(../../../src/assets/images/css/ic-close-small-white.svg) center no-repeat;
                        margin-left: 16em;
                        margin-top: 1em;
                        z-index: 100;
                        cursor: pointer;
                    }
                    .search-mode {
                        transition: opacity 0.5s;
                        -webkit-transform: translateY(-100%);
                        transform: translateY(-100%);
                        opacity: 0;
                        height: 0;
                        overflow: hidden;
                        .search-optional-fields {
                            margin-top: 2em;
                            .input-box  {
                                border-bottom: 1px solid $white;
                            }
                            .input-box.invalid{
                                border: solid 1px $brand-danger;
                                border-left: solid 6px $brand-danger;
                                margin-bottom: .25rem;
                            }
                            .searchInput {
                                height: 1.9em;
                                text-align: left;
                                opacity: 0.3;
                                padding: 0;
                                border-bottom: none;
                            }
                            .searchInput,
                            .to-text {
                                font-size: 1rem;
                                font-weight: $proxima-light;
                                line-height: 1.38;
                                color: $white;
                            }
                            .to-text {
                                text-align: center;
                                padding-top: 0.25em;
                            }
                        }
                        .search-history {
                            .margin-search {
                                font-size: 0.875rem;
                                font-weight: $proxima-semibold;
                                line-height: 1.23;
                                letter-spacing: 0.5px;
                                color: $white;
                                margin-top: 3em;
                            }
                            .searched-items {
                                margin: 0.5em 0;
                                a {
                                    font-size: 1rem;
                                    font-weight: $proxima-light;
                                    line-height: 1.5;
                                    color: $white;
                                }
                            }
                        }
                    }
                    .search-mode.show-search-mode {
                        -webkit-transform: translateY(0%);
                        transform: translateY(0%);
                        opacity: 1;
                        height: auto;
                    }
                }
            }
            .side-menu-content.hide-content {
                -webkit-transform: translateY(100%);
                transform: translateY(100%);
                opacity: 0;
            }
            .side-menu-content {
                width: 200%;
                margin: 0 auto;
                overflow: hidden;
                transition: transform 0.5s, opacity 0.5s;
                opacity: 1;
                -webkit-transform: translateY(0%);
                transform: translateY(0%);
                overflow: hidden;
                .content-page1, .content-page2 {
                    width: 50%;
                    float: left;
                }
                .content-page1 {
                    padding-top: 8em;
                    transition: transform .5s, opacity 0.5s;
                    -webkit-transform: translateX(0%);
                    transform: translateX(0%);
                    opacity: 1;
                    .side-menu-category{
                        width: 17.1875rem;
                        margin: 0 auto;
                        .list-item {
                            border: 0;
                            font-size: 1.5rem;
                            font-weight: $proxima-thin;
                            line-height: 1.17;
                            text-align: center;
                            color: $white;
                        }
                        .seperator {
                            width: 2.82em;
                            height: 0.2em;
                            opacity: 0.26;
                            background-color: $blue-lighter;
                            margin: 1.75em auto;
                        }
                    }
                }
                .content-page1.category-hidden {
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                    opacity: 0;
                }
                .content-page2 {
                    padding-top: 3.15em;
                    transition: transform .5s, opacity 0.5s;
                    -webkit-transform: translateX(0%);
                    transform: translateX(0%);
                    opacity: 0;
                    overflow: hidden;
                    .side-menu-subCategory {
                        width: 17.1875rem;
                        margin: 0 auto;
                        .side-menu-subCategory-header {
                            font-size: 1.5rem;
                            font-weight: $proxima-thin;
                            line-height: 1.17;
                            text-align: center;
                            color: $white;
                        }
                        .seperator {
                            width: 2.82em;
                            height: 0.2em;
                            opacity: 0.26;
                            background-color: $blue-lighter;
                            margin: 1em auto 1.9em;
                        }
                        .subCategory-list-group {
                            margin-bottom: 2.5em;
                            .list-group {
                                opacity: 0.6;
                                font-size: 0.8125rem;
                                font-weight: 700;
                                line-height: 1.69;
                                letter-spacing: 0.8px;
                                color: $white;
                                border-bottom: solid 1px rgba(212,212,212, 0.2);
                                padding: 0.65em 0;
                            }
                            .list-item {
                                border-bottom: solid 1px rgba(212,212,212, 0.2);
                                padding: 0.65em 0;
                                a {
                                    font-size: 1.125rem;
                                    font-weight: 400;
                                    line-height: 1.22;
                                    color: $white;
                                    border: 0;
                                }
                            }
                            .list-item:last-child {
                                border-bottom: none;
                            }
                        }
                        .subCategory-list-group:last-child {
                            margin-bottom: 5em;
                        }
                    }
                }
                .content-page2.subCategory-shown{
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                    opacity: 1;
                }
            }
        }

        .header-search {
            background: linear-gradient(to top, rgba(70, 217, 208, 0.25), $dusk);
            overflow: auto;
            .modal-header {
                width: 100%;
                height: 4.5em;
                padding: 1em 1.625em;
                background: $white;
                .common-logo img{
                    margin-left: 1em;
                }
                .close {
                    background: url(../../../src/assets/images/css/ic-close-circle-copy-3.svg) no-repeat;
                    background-size: 1.1em;
                    background-position: 50%;
                    opacity: 1;
                    margin: 0;
                    height: 100%;
                }
            }
            .search-content {
                padding: 0 1.5em;
                overflow: auto;
                .center-menu-search {
                    margin: -4.5em 0 0;
                    padding: 0 1em;
                    position: absolute;
                    transition: all .5s ease;
                }
                .center-menu-search-form {
                    margin: 0;
                    .form-group {
                        margin-bottom: 0;
                        .search-icon {
                            background-image: url(../../../src/assets/images/css/ic-search.png);
                            background-size: 1.125em;
                            background-repeat: no-repeat;
                            background-position: 50%;
                            position: absolute;
                            width: 1.5em;
                            height: 4.5em;
                            margin-left: 0.625em;
                            z-index: 10;
                        }
                        input {
                            margin-bottom: 0px;
                            font-size: 1rem;
                            font-weight: $proxima-thin;
                            line-height: 1.38;
                            letter-spacing: 0.7px;
                            color: $gray-dark;
                            border: 0;
                            padding: 0 2.5em;
                            height: 2.75rem;
							margin-top: 0.875em;
							border-radius: 5px;
							background-color: rgba(194, 199, 205, 0.2) !important;
                        }
                        input::-webkit-input-placeholder{
                            color: $brand-primary;
                        }
                        input:-moz-placeholder {
                           color: $brand-primary;
                        }
                        input::-moz-placeholder {
                           color: $brand-primary;
                        }
                        input:-ms-input-placeholder {
                           color: $brand-primary;
                        }
                        .tt-suggestion {
                            padding: 0.7em 1.9em;
                        }
						.search-btn {
							width: 7.75rem;
							float: right;
							position: absolute;
							top: 1em;
							right: -7.75em;
							.btn {
								margin-bottom: 0;
								padding: 0;
								width: 100%;
								height: 3em;
								line-height: 1.31;
								letter-spacing: 0.5px;
							}
						}
                    }
                    .clear-input{
                        height: 4.5em;
                        width: 3em;
                        position: absolute;
                        background: url(../../../src/assets/images/css/ic-close-small.svg) center no-repeat;
                        background-size: 0.8em;
                        background-position: 50%;
                        z-index: 100;
                        right: 1em;
                        cursor: pointer;
                    }
                    .search-mode {
                        overflow: auto;
                        .search-optional-fields {
                            margin-top: 2.5em;
                            margin-bottom: 2.5em;
                            .input-box  {
                                border-bottom: 1px solid $white;
                            }
                            .input-box.invalid{
                                border: solid 1px $brand-danger;
                                border-left: solid 6px $brand-danger;
                                margin-bottom: .25rem;
                            }
                            .searchInput {
                                height: 2.2em;
                                text-align: left;
                                opacity: 0.5;
                                padding: 0;
                                border: none;
                                margin: 0;
                                background: transparent;
                            }
                            .searchInput,
                            .to-text {
                                font-size: 1rem;
                                font-weight: $proxima-light;
                                line-height: 1.5;
                                color: $white;
                            }
                            .to-text {
                                text-align: center;
                                padding-top: 0.25em;
                            }
                        }
                        .search-history {
                            .margin-search {
                                font-size: 0.8rem;
                                font-weight: $proxima-semibold;
                                line-height: 1.23;
                                letter-spacing: 0.5px;
                                color: $white;
                                margin-top: 3em;
                            }
                            .searched-items {
                                margin: 0.5em 0;
                                a {
                                    font-size: 1rem;
                                    font-weight: $proxima-light;
                                    line-height: 1.5;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }

            .logo-lg-xl {
                display: block;
            }
        }
    }

    @media screen and (min-width:768px) and (max-width:1023px){
        .header-search .close {
            top: -2.5rem;
            position: relative;
        }
    }
    @media screen and (min-width:1024px) and (max-width:1439px){
        .nav-header-center-menu {
            width: 62.33%;
        }
        .nav-header-profile, .nav-header-cart {
            width: 6.33%;
        }
		.menu-search {
			padding: 0 1.5em 0 0;
		}
    }
    @media screen and (min-width:1440px){
        .nav-header-center-menu {
            width: 59%;
        }
        .nav-header-profile {
            width: 11%;
        }
        .nav-header-cart {
            width: 5%;
        }
        .sub-category-content {
            width: 80%;
        }
		.menu-search {
			padding: 0 1.5em;
		}
		.center-menu-search {
			width: 36%;
			left: 32%;
		}
    }

    .twitter-typeahead {
        width: 100%;
    }
    .typeahead,
    .tt-query,
    .tt-hint {
        width: 100%;
        outline: none;
    }
    .tt-query {
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        color: $gray-black;
    }
    .tt-hint{
        color: $gray-light !important;
        opacity: 0.4 !important;
        padding-left: 1.3em;
    }
    .tt-menu {
      position: relative !important;
      width: 100%;
      padding: 1em 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
    .tt-suggestion {
        padding: 0.2em 0.8em;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.1px;
        color: rgba(255,255,255,0.4)
    }
    .tt-suggestion:hover {
      cursor: pointer;
    }
    .tt-suggestion p {
      margin: 0;
    }
    .tt-highlight {
        color: rgba(255,255,255,1);
    }
    .overlay {
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
    }
    .overlay-dropdown-menu {
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      z-index:1;
    }
}

@media screen and (min-width:360px) and (max-width: 767px){
    .nav-header {
        min-height: 4em;
        overflow: auto;
    }
    .nav-header .row {
        height: 4em;
    }
    .common-logo div {
        text-align: center;
    }
    .nav-header-logo .distributor-logo {
        width: 4.4em;
        background-size: 2.2em;
        background-position: 50%;
        margin: auto;
    }
    .nav-header-logo .logo-lg-xl {
        display: none;
    }
    .nav-header-center-menu,
    .nav-header-profile-text,
    .distributor-details-lg-xl,
    .dropdown-menu-modal{
        display: none;
    }
    .side-menu-subCategory-header {
        width: 7.75em;
        margin: auto;
    }
    .distributor-name-sm-md,
    .distributor-contact-sm-md {
        text-align: center;
    }
    .account-info {
        right: 0;
        width: 23.4375rem;
    }
}
@media screen and (min-width:768px) and (max-width: 1023px){
    .nav-header {
        min-height: 4em;
        overflow: auto;
    }
    .nav-header .row {
        height: 4em;
    }
    .common-logo div {
        text-align: center;
    }
    .nav-header-logo .distributor-logo {
        width: 4.4em;
        background-size: 2.2em;
        background-position: 50%;
        margin: auto;
    }
    .nav-header-logo .logo-lg-xl {
        display: none;
    }
    .nav-header-center-menu,
    .nav-header-profile-text,
    .distributor-details-lg-xl,
    .dropdown-menu-modal{
        display: none;
    }
    .distributor-name-sm-md{
        text-align: right;
        margin-bottom: 0.5em;
    }
    .distributor-contact-sm-md {
        text-align: left;
        margin-top: 0.4em;
        margin-bottom: 0.5em;
    }
    .account-info {
        right: 8.5%;
        width: 24.125rem;
    }
}
@media screen and (min-width:1024px) and (max-width: 1439px){
    .nav-header {
        height: 4.5em;
    }
    .nav-header .row {
        height: 100%;
    }
    .nav-header-logo .logo-sm-md {
        display: none;
    }
    .nav-header-logo .logo-lg-xl {
        margin-left: 1.8em;
    }
    .nav-header-logo .distributor-logo {
        float: left;
        width: 5.8em;
        background-size: 2.2em;
        background-position: 1.8em;
    }
    .nav-header-menu,
    .nav-header-profile-text,
    .distributor-details-sm-md,
    .menu-promotion {
        display: none;
    }
    .distributor-details-lg-xl {
        display: inline-block;
    }
    .account-info {
        right: 6.5%;
        width: 24.125rem;
    }
    .simplifiedhead {
        img.logo-lg-xl {
            margin-left: 0;
        }
    }
}
@media screen and (min-width:1440px){
    .nav-header {
        height: 4.5em;
    }
    .nav-header .row {
        height: 100%;
    }
    .nav-header-logo .logo-sm-md {
        display: none;
    }
    .nav-header-logo .logo-lg-xl {
        margin-left: 2.8em;
    }
    .nav-header-logo .distributor-logo {
        float: left;
        width: 5.8em;
        background-size: 1.875em;
        background-position: 2.8em;
    }
    .nav-header-menu,
    .guest-profile-logo,
    .distributor-details-sm-md {
        display: none;
    }
    .distributor-details-lg-xl {
        display: inline-block;
    }
    .account-info {
        right: 5%;
        width: 24.125rem;
    }
    .simplifiedhead {
        img.logo-lg-xl {
            margin-left: 0;
        }
    }
}
