.col-sm-12.banner-container
  .filter-container.hide-filter
    span.icn-search
    input(type='text',placeholder='Search Orders')
  h1 My Orders
.col-sm-12.my-orders-tab-container
  uib-tabset(active='ctrl.active', ng-class="{'pastActive' : (ctrl.setActiveTab == 'past')}")
    uib-tab(index='0', heading='UPCOMING',ng-click="ctrl.setActiveTab = 'upcoming';ctrl.checkIfDataEmpty(ctrl.setActiveTab);",class="{{(ctrl.setActiveTab == 'past') ? 'border-right':''}}")
      ordertilecomponent(is-upcoming-tab = 'true',tile-data='ctrl.upcomingOrders',ng-if="ctrl.upcomingOrders.length > 0")
      ordersunavailablecomponent(is-upcoming-tab = 'true',ng-if="ctrl.upcomingOrders.length <= 0")
    uib-tab(index='1', heading='RECENT', ng-click="ctrl.setActiveTab = 'recent';ctrl.checkIfDataEmpty(ctrl.setActiveTab)",class="{{(ctrl.setActiveTab == 'upcoming') ? 'border-right':''}}")
      ordertilecomponent(is-upcoming-tab = 'false',tile-data='ctrl.recentOrders',ng-if="ctrl.recentOrders.length > 0")
      ordersunavailablecomponent(is-upcoming-tab = 'false',ng-if="ctrl.recentOrders.length <= 0")
    uib-tab(index='2', heading='PAST', ng-click="ctrl.setActiveTab = 'past';ctrl.checkIfDataEmpty(ctrl.setActiveTab)")
      ordertilecomponent(is-upcoming-tab = 'false',tile-data='ctrl.pastOrders',ng-if="ctrl.pastOrders.length > 0")
      ordersunavailablecomponent(is-upcoming-tab = 'false',ng-if="ctrl.pastOrders.length <= 0")
