@import "../../../../stylesheets/partials/variables";

.banner-container {
    background: url("../../../../../src/assets/images/css/bg-XL@2x.png") no-repeat center 0;
    background-size: 100% 100%;
    height: 18.75rem;
    text-align: center;
    & .hide-filter{
        visibility: hidden;
    }
    & .filter-container {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 113, 113, 0.3);
        background-color: rgba(254, 254, 254, 0.6);
        width: 28.125rem;
        padding: 1rem 0 1rem 1.4375rem;
        margin: 1.5625rem auto;
        display: flex;
        & span {
            display: inline-block;
            background: url("../../../../../src/assets/images/css/ic-search-copy-16.svg") no-repeat center 0;
            background-size: 100%;
            width: 1.125rem;
            height: 1.125rem;
            margin-right: 0.625rem;
        }
        & input {
            display: inline-block;
            border: 0;
            font-size: 0.8125rem;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.4px;
            color: $dusk;
            width: 88%;
            background-color: transparent;
            &::-webkit-input-placeholder {
               color: $dusk;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: $dusk;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: $dusk;  
            }

            &:-ms-input-placeholder {  
               color: $dusk;  
            }

            &:focus{
                outline: none;
            }
        }
    }
    & h1 {
        font-size: 1.875rem;
        font-weight: 100;
        line-height: 1.1;
        color: $white;
        text-align: center;
        margin-top: 4.375rem;
    }
}

.my-orders-tab-container {
    background: $gray-fair;
    padding-left: 0rem;
    padding-right: 0rem;

    .border-right{
        border-right: 0.0625rem solid $white;
    }
    
    .nav.nav-tabs {
        position: absolute;
        top: -5.25rem;
        left: 0rem;
        right: 0rem;
        margin: 0rem auto;
        width: 26.25rem;
        border-radius: 0.1875rem;
        border: solid 0.0625rem $white;
        .nav-item {
            padding: 0;
            width: 33.3333%;
            text-align: center;
            margin-left: 0;

            &:first-child{
            	&.active{
            		margin-left: -0.0625rem;
            	}
            }

            &.active {
                margin-left: 0;
                margin-right: 0;
                box-shadow: 0.125rem 0.125rem 0.125rem 0 rgba(103, 103, 103, 0.5);
                border: solid 0.0625rem $aqua;
                border-radius: 0.1875rem;
                background-color: $aqua;
                margin-top: -0.125rem;
                & a {
                    color: $gray-black;
                }
            }
            .nav-link {
                padding: 0.9375rem 0rem 0.8125rem 0rem;
                border: none;
                font-size: 0.8125rem;
                font-weight: 600;
                line-height: 1.2;
                letter-spacing: 0.0625rem;
                color: $white;
            }
        }
    }

    & .pastActive{
		& .nav.nav-tabs{
			border-right: 0; 
		}
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .banner-container {
        height: 15.625rem;

        & .filter-container {
            margin: 1rem auto;
            padding:0.75rem 0 0.75rem 1.4375rem;
            width: 20.0625rem; 
        }
        & h1{
            margin-top: 3.5rem;
        }
    }
    .my-orders-tab-container{
        & .nav.nav-tabs{
            top: -4.25rem;
            width: 20.0625rem;
            & .nav-item{
                float: none;
            }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.banner-container {
		height: 15.625rem;

		& .filter-container {
			margin: 1rem auto;
            padding:0.75rem 0 0.75rem 1.4375rem;
		}
		& h1{
			margin-top: 3.5rem;
		}
	}

    .my-orders-tab-container{
        & .nav.nav-tabs{
            top: -4.6875rem;
        }
    }
}