@import "../../../../stylesheets/partials/variables";

.orders-unavailable-container {
    width: 55rem;
    border: solid 0.0625rem $gray-border;
    background-color: $white;
    margin: 1.5rem auto 3.875rem auto;
    position: relative;
    float: none;
    & .icon-container {
        display: block;
        width: 11.625rem;
        height: 11.625rem;
		background: url(../../../../../src/assets/images/css/no-history@2x.png) center no-repeat;
		background-size: 100%;
        margin: 2.1875rem auto;
        position: relative;
    }
    & p {
        margin: 0rem auto 3.75rem auto;
        display: block;
        position: relative;
        font-size: 1.375rem;
        font-weight: 100;
        line-height: 1.2;
        text-align: center;
        color: $gray-dark;
    }
    & .btn-container {
        width: 27.125rem;
        margin: 0 auto 2.9375rem auto;
        display: block;
        & button {
            width: 100%;
            font-size: 0.8125rem;
			font-weight: 600;
			line-height: 1.3;
			letter-spacing: 0.0625rem;
			text-align: center;
			color: $white;
            border-radius: 0.1875rem;
            background-color: $brand-primary;
            border: none;
            padding: 0.875rem 0;
        }
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
	.orders-unavailable-container {
		width: 23.4375rem;
	    margin: 0.5rem auto 7.125rem auto;
	    & .icon-container {
	    	margin: 2.5rem auto 1.5rem auto;
	    }
		& .btn-container{
	    	width: 20.3125rem;
	    	margin: 0 auto 2.5rem auto;
	    }
	    & p {
	    	margin: 0 auto 3rem auto;
	    	padding: 0 5rem;
	    }
	}
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.orders-unavailable-container {
		width: 31.125rem;
	    margin: 1rem auto 6.625rem auto;
		& .btn-container{
			width: 20.3125rem;
		}
	}
}