.col-sm-6.orders-unavailable-container
  .icon-container
  p.order-desc Your Order History is currently empty.
  .btn-container
    button.btn-blue(ng-if='ctrl.isUpcomingTab == false') GO SHOPPING
    button.btn-blue(ng-if='ctrl.isUpcomingTab == true') CREATE RECURRING ORDER