.modal-content
	.modal-content-feed
		.modal-header-feed
			div.content-section
				h1.text-center.m-b-0.break-long-text(ng-class="(quizIntroCtrl.textname.length>25)?'long-text':'short-text'") {{quizIntroCtrl.textname | limitTo:(quizIntroCtrl.textname.length>25?22:25)}}
				h1.text-center.m-b-0 You're almost done!
				h5.text-center.m-t-1 Please wait while we calculate your results
			div.image-animate
				div.animate-image.section-margin
					img(ng-src="{{quizIntroCtrl.imageUrl}}")
			p.text-center.m-t-neg-8 CUSTOMIZING FEED...
