@import "../../../../src/stylesheets/partials/variables.scss";
.feed-loader {
    display: flex !important;
    height: 100% !important;
    & + .modal-backdrop {
        background-color: rgba(204, 232, 239, 0.9);
    }
    & + .modal-backdrop.in {
        opacity: 0.7;
        background: linear-gradient(to bottom, $brand-primary 0%, $blue-dark 100%)!important;
    }
    .modal-header-feed {
        width: 15.438em;
        margin: 0 auto;
    }
    .section-margin {
      margin-left: 0em;
      margin-bottom: 2em;
    }
    .modal-content {
        margin: auto;
    }
    .content-section {
        z-index: 9999;
        position: relative;
    }
    .image-animate {
        z-index: 0;
        margin-top: -3em;
    }
    .long-text:after{
        content:'...,';
        word-wrap: normal;
    }
    .short-text:after{
        content:',';
        word-wrap: normal;
    }
    .m-t-neg-8{
        margin-top: -3.5em;
    }
    h1 {
        text-transform: none;
        letter-spacing: -0.3px;
        font-size: 1.875rem;
        color: $gray-black;
    }
    h5 {
        text-transform: none;
        letter-spacing: -0.3px;
        font-size: 0.813rem;
        font-weight: $proxima-light;
    }
    .modal-content-feed {
        border: none;
        padding: 3em 2em;
        width: 100%;
        animation-iteration-count: 3;
        -webkit-animation-iteration-count: 3;
        -moz-animation-iteration-count: 3;
    }
    p {
        color: $gray;
        font-size: 0.813rem;
    }
    @media screen and (min-width: 1440px) {
        .modal-content {
            width: 27.375em;
            height: auto;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .modal-content {
            width: 22.250em;
            height: auto;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .modal-content {
            width: 22.250em;
            height: auto;
        }
    }
    @media screen and (min-width: 374px) and (max-width: 767px) {
        .modal-content {
            width: 20.313em;
            height: auto;
        }
    }
}
