.row.m-a-0
      .col-sm-12.no-gutter
        label.form-label Birth Date
      .col-sm-12.no-gutter
        .col-sm-4.select-wrapper.no-gutter
          select#bmonth.form-control.year.m-b-0(name="bmonth" ng-model='ctrl.month', ng-options='month.code as month.code for month in ctrl.monthsList', ng-change='ctrl.getDaysList(ctrl.month)' ng-blur="ctrl.checkDate();", ng-focus="ctrl.checkFocus()")
            option(value='', hidden='', ng-if="!ctrl.month")   MM
        .col-sm-4.select-wrapper.no-gutter
          select#bday.form-control.year.m-b-0(name="bday" ng-model='ctrl.day', ng-options='day.code as day.desc for day in ctrl.daysList', ng-change='ctrl.leapYearValidation()' ng-blur="ctrl.checkDate();", ng-focus="ctrl.checkFocus()")
            option(value='', hidden='', ng-if="!ctrl.day" )   DD
        .col-sm-4.select-wrapper.no-gutter
          select#byear.form-control.year.m-b-0(name="byear" ng-model='ctrl.year', ng-options='years for years in ctrl.yearsList', ng-change='ctrl.leapYearValidation()' ng-focus="ctrl.checkFocus()" ng-blur="ctrl.checkDate();")
            option(value='', hidden='', ng-if="!ctrl.year")   YYYY
        span#berror.error-block.m-t-1(ng-show='ctrl.error.hasError', ng-bind='ctrl.error.message')
