.container-fluid
    .welcomenuSkin
        h1 Welcome to nuSkin
     .nuskincontent
        div.module.col-sm-12.col-lg-4
            h3#Module1 Module 1
            div.col-sm-12.no-gutter.list-item(ng-repeat="value in ctrl.model.signup")
                div
                    a(ui-sref ="{{value.stateName}}") {{value.pageName}}
                div.col-sm-12.no-gutter
                  p.col-sm-7.no-gutter {{value.feStory}}
                  p.col-sm-5.no-gutter {{value.status}}
        div.module.col-sm-12.col-lg-4
            h3#Module2 Module 2
            div.col-sm-12.no-gutter.list-item(ng-repeat="value in ctrl.model.quiz")
                div
                    a(ui-sref ="{{value.stateName}}") {{value.pageName}}
                div.col-sm-12.no-gutter
                  p.col-sm-7.no-gutter {{value.feStory}}
                  p.col-sm-5.no-gutter {{value.status}}
        div.module.col-sm-12.col-lg-4
            h3#Module4 Module 4
            div.col-sm-12.no-gutter.list-item(ng-repeat="value in ctrl.model.commerce")
                div
                    a(ui-sref ="{{value.stateName}}") {{value.pageName}}
                div.col-sm-12.no-gutter
                  p.col-sm-7.no-gutter {{value.feStory}}
                  p.col-sm-5.no-gutter {{value.status}}
