@import "../../../../src/stylesheets/partials/variables.scss";
.welcomenuSkin{
    text-align: center;
    padding-top: 2em;
}
.module{
    padding-top: 1em;
}
.list-item{
  border-bottom: 1px solid $blue-lighter;
}
