.container-fluid.no-gutter.account-creation.account-verification
  .row.bg-image
    .complete-account.col-sm-12.col-md-6.col-md-offset-3.text-center
      span.col-sm-12.col-md-12.complete-text Verify your account
  .row.col-lg-8.col-xl-6.col-lg-offset-2.col-xl-offset-3.account-container
    .signup-components
      .country-section
        form.signupform(name='form', novalidate='novalidate')
          .col-lg-12.no-gutter
            .form-group.email-image
              center
                .email-pic
            .form-group.email-msg
                span.email-message-text
                | Please follow the email instructions sent to
                b  {{ctrl.emailCode}}.
            .form-group.dont-recognize-message
                label.dont-recognize-text Dont recognize the email address? Contact Customer Service at
                a.dont-recognize-number  1-800-487-1000
                label.dont-recognize-text for further assistance.
            .form-group.m-a-0
              input#Submit.btn.btn-primary.full-width(type='Submit', value='RESEND EMAIL')
            .form-group.m-a-0
              input#cancel.btn.btn-primary-outline.full-width(type='button', value='CONTINUE TO SIGN IN', ng-click='ctrl.navigateUser()')
