@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";
.checkout-title-banner {
    height: 17.1875em;
    background: linear-gradient(to top, $gray-dark-shade-2, 48%, $gray-dark-shade-1);
    text-align: center;
    .section {
        padding-top: 2em;
        color: $white;
    }
}

.seemoreInfoDetail {
    margin-left: 4em;
}
.see-top-padding{
    padding-top:2rem;
}
.pre-checkout-authentication .text-link {
    text-align: left;
}

.checkoutTitle {
    color: $white;
}

.preCheckoutOR {
    font-size: 0.688em;
    padding: 0.9em;
}

.checkoutTitleBase {
    font-size: 1rem;
    font-weight: $proxima-thin;
}

.checkoutTitleBaseEnjoyGreatBenefits {
    font-weight: $proxima-light;
}

.checkout-container {
    background-color: white;
    padding: 1% 7.188em;
}

#seeMoreSection {
    text-align: center;
}

.benefits-detail-show {
    margin-top: 1em;
}

@media screen and (max-width: 375px) {
    .checkout-container {
        width: 100%;
        margin: auto;
        padding: 1% 7.188em;
    }
}

@media screen and (min-width: 769px) {
    .checkout-container {
        width: 41.500em;
        margin: auto;
        margin-top: -7.1875em;
        padding: 1% 7.188em;
    }
}

.infoDetail {
    margin: 0.375em 3.750em;
    text-align: center;
    margin-bottom: 1.250em;
}

.btn-primary {
    width: 100%;
    background-color: $brand-primary;
    color: $white;
}

.content-seperator {
    margin-top: 1.875em;
}

.seemoreseeless-link {
    color: $brand-primary;
    font-size: 13px;
    margin-top: 1.000em 1.525em 8.813em 8.813em;
    font-weight: $proxima-semibold;
    line-height: 1.85;
    cursor: pointer;
    display: inline-block;
    margin-top: 1.250em;
    margin-right: 0em;
}

.text-link {
    text-align: center;
}

.clock-img {
    background: url('../../../../src/assets/images/css/clock.png') no-repeat;
}

.review-img {
    background: url('../../../../src/assets/images/css/review.png') no-repeat;
}

.track-img {
    background: url('../../../../src/assets/images/css/track.png') no-repeat;
}

.see-more-container{
  .product-img {
    background: url('../../../../src/assets/images/css/product.png') no-repeat;
  }
}

.benefits-img {
    width: 2.25em;
    height: 2.25em;
    float: left;
    margin-right: 0.500em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.benefits-section {
    height: 2.875em;
    font-size: 0.8125rem;
    font-weight: $proxima-light;
    line-height: 1.38;
    color: $gray;
    padding-left: 0.813em;
    text-align: left;
}

.see-more {
    .modal-dialog {
        width: 40.75em;
        margin-top: 6.250em;
    }
}

.modal-header {
    padding: 1em;
    border-bottom: none;
    width: 100%;
    .close {
        background-image: url('../../../../src/assets/images/css/ic-close-circle.png');
        width: 1.300em;
        height: 1.300em;
        opacity: 1;
    }
}

.modal-body {
    padding-left: 1.813em;
    padding-right: 1.688em;
    padding-bottom: 3.000em;
    padding-top: 0.750em;
}

.preCheckoutSignupModalDialog {
    width: 41.500em;
    height: 41.975em;
    background-color: $white;
}

#preCheckoutSignupModalContent {
    padding: 4.500em;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

.section-title {
    font-size: 1rem;
    font-weight: $proxima-semibold;
    color: $gray-dark;
    margin-top: 1.625em;
}

.section-title-base {
    font-size: 0.8125rem;
    font-weight: $proxima-light;
}

.infoDetailSignup {
    width: 15.619em;
    height: 3.000em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.288em;
}

.seemore-section-title-base {
    font-size: 0.8125rem;
    font-weight: $proxima-light;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: left;
}

.withSocialTitle {
    padding-top: 1.250em;
    font-weight: $proxima-semibold;
}

.usernameEmailTitle {
    height: 1.375em;
    opacity: 0.8;
    letter-spacing: -0.006em;
}

.distributorAccountOption {
    text-align: center;
}

.distributorAccountOptionLink {
    font-weight: $proxima-semibold;
}

.alreadyHaveAccount {
    width: 12.500em;
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .see-more {
        .modal-dialog {
            width: 45.375em;
            margin: auto;
            margin-top: 6.250em;
        }
    }
    .checkout-components {
        margin-left: 10%;
        margin-right: 10%;
    }
    .customerAccountTitle {
        margin-top: -0.625em;
        margin-bottom: 0.000em;
    }
    .checkout-title-banner {
        height: 10em;
        padding: 0% 5%;
    }
    .checkout-container {
        padding: 3% 0;
    }
    .infoDetail {
        margin: 0.375em 0.625em;
    }
    .infoDetailSignup {
        width: 15.619em;
        text-align: center;
        margin-top: 2.288em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }
    .preCheckoutSignupModalDialog {
        width: 20.313em;
        height: 43.200em;
        .modal-header {
            width: 100%;
        }
    }
    #preCheckoutSignupModalContent {
        padding: 0em;
    }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .checkout-title-banner {
        height: 10em;
    }
    .checkout-container {
        width: 100%;
        margin-top: 0.000em;
        padding: 1% 10.438em;
    }
    .checkout-components {
        width: 438px;
        margin: 0 auto;
    }
    .modal-header {
        width: 100%;
    }
    .preCheckoutSignupModalDialog {
        width: 20.313em;
        height: 43.200em;
    }
    #preCheckoutSignupModalContent {
        padding: 0.000em;
        padding-top: 0.000em;
        padding-bottom: 0.000em;
    }
    .customerAccountTitle {
        font-weight: $proxima-light;
        margin-top: -0.938em;
    }
}

@media screen and (min-width:1025px) and (max-width: 1439px) {
    .see-more {
        .modal-dialog {
            width: 41.500em;
        }
    }
    .customerAccountTitle {
        margin-top: -1.250em;
    }
    .withSocialTitle {
        padding-top: 0.625em;
    }
    .pre-checkout-authentication .modal-body {
        padding-left: 2.500em;
        padding-right: 2.500em;
    }
}

.see-more-container {
    .benefits-section {
        margin-top: 0.625em;
    }
    .review-text,
    .easily-text {
        line-height: 1.9em;
    }
    .benefits-img {
        top: 37%;
    }
    margin: 0 auto;
    width: 36.375em;
    padding: .5em 0em;
    .benefits-img {
        height: 1.7em;
        margin-left: 0.5em;
    }
    .see-more-link {
        margin-right: 133px;
    }
    .product-text {
        width: 14.494em;
    }
    .seemoreseeless-link {
        margin: 2em auto 1em;
    }
    @media screen and (min-width:768px)and (max-width: 1023px) {
        .easily-text {
            line-height: 1.4em;
        }
    }
}

@media screen and (min-width:360px) and (max-width: 1023px) {
    .see-more-container {
        width: 100%;
    }
    .checkout-components {
        margin: 0% 9%;
    }
}
