.see-more-container
  .row
    .col-lg-12
      #seeMoreSection(ng-show='seeCtrl.newToNuskin')
        p.seemoreseeless-link.form-label(ng-model='seeMoreSeeLess', ng-click='seeMoreSeeLess=!seeMoreSeeLess', ng-hide='seeMoreSeeLess') See More
        div.see-top-padding(ng-show='seeMoreSeeLess')
          .benefits-section.col-sm-12.col-md-6
            div.benefits-img.clock-img
            .seemoreInfoDetail
              p.small Save time! Keep your information on file for last checkout.
          .benefits-section.col-sm-12.col-md-6
            div.benefits-img.review-img
            .seemoreInfoDetail
              p.small.review-text Review your favorite products.
          .benefits-section.col-sm-12.col-md-6
            div.benefits-img.track-img
            .seemoreInfoDetail
              p.small.easily-text Easily track and manage your orders.
          .benefits-section.col-sm-12.col-md-6
            div.benefits-img.product-img
            .seemoreInfoDetail
              p.small.product-text Get exclusive product news and recommendations.
          .benefits-detail-show(ng-show='seeMoreSeeLess')
            p.seemoreseeless-link.form-label(ng-model='seeMoreSeeLess', ng-click='seeMoreSeeLess =!seeMoreSeeLess') See Less
