@import "../../../../src/stylesheets/partials/variables.scss";
.reviewinfodistributor{
  .invite-banner{
    height: 8.75em;
    .imgwrapper{
      color: $white;
    }
  }
  button{
    font-size: 0.8125rem;
  }
  .profile{
    background: url('../../../../src/assets/images/css/ic-profile-copy.png') no-repeat center;
    width: 45px;
    height: 45px;
    display: inline-block;
  }
  p.account-pending{
    font-size: 13px;
  }
  #accordion {
    width: 100%;
    .inlineedit{
        height: 1.8em;
        cursor: pointer;
    }
    .form-group{
      margin-bottom: 12px;
    }
  }
  .review-info{
    width: 33.875em;
    margin: 0 auto;
    h1{
      font-size: 1.8125rem;
      font-weight: $proxima-light;
    }
  }
  #accordionform {
    padding: 0;
    .panel:last-of-type{
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .review-info{
      width: 20.75em;
    }
    .btn-primary{
      width: 100%;
    }
    .review-info-container{
      padding-bottom: 5.6em;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .review-info-container{
      padding-bottom: 6.8em;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .review-info-container{
      padding-bottom: 6.4em;
    }
  }
  @media screen and (min-width: 1440px){
    .review-info-container{
      padding-bottom: 9.5em;
    }
  }
}
