div.mandatoryinfocontainer.col-sm-12.no-gutter(ng-hide="ctrl.model.showMandatoryInfoForm")
  div.form-group.col-sm-12.no-gutter
    div.sectiontitle.col-sm-11.no-gutter your details
    div.col-sm-1.inlineedit.no-gutter(ng-click="ctrl.model.showMandatoryInfoForm = true")
  div.col-sm-12.no-gutter
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="ctrl.model.mandatoryInfo.accountType") Account Type : {{ctrl.model.mandatoryInfo.accountType}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!ctrl.model.mandatoryInfo.accountType") Account Type: Not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="ctrl.model.mandatoryInfo.birthdate") Birthday : {{ctrl.model.mandatoryInfo.birthdate}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!ctrl.model.mandatoryInfo.birthdate") Birthday: Not specified
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="ctrl.model.mandatoryInfo.ssnInput") SSN# : {{ctrl.model.mandatoryInfo.ssnInputDisplay}}
    div.form-group.col-sm-12.sectiondetails.no-gutter(ng-if="!ctrl.model.mandatoryInfo.ssnInput") SSN#: Not specified

form.signupform.col-sm-12.no-gutter(name="ctrl.mandatoryInfoForm" novalidate ng-show="ctrl.model.showMandatoryInfoForm")
  div.form-group.col-sm-12.no-gutter
    div.sectiontitle.col-sm-11.no-gutter your details
    div.col-sm-1.no-gutter
    fieldset.col-sm-12.no-gutter.sectiondetails.section-padding
      div.col-sm-12.m-b-2.no-gutter
        birthday-picker(day="ctrl.model.day" year="ctrl.model.year" month="ctrl.model.month"  valid-date-check="ctrl.model.validDate" required)
          div.row
            span(ng-show="ctrl.model.hasError.err" class="error-block") {{ctrl.model.hasError.message}}

      div.col-sm-12.form-group.no-gutter.m-b-2
          label.form-label Social Security Number
          input#ssnInput.form-input.password-input.m-b-0(type='tel', allow-data="numbers-only", placeholder="Enter Social Security Number" ui-mask-placeholder name="ssnInput" ng-model='ctrl.model.mandatoryInfo.ssnInput' ng-bind='ctrl.model.mandatoryInfo.ssnInput | ssnCheck' ui-mask='999-99-9999' required)

          img#passwordImage.password-icon(ng-src="{{ctrl.model.currentState == 'masked'? ctrl.model.passwordimage.text: ctrl.model.passwordimage.mask}}" ng-click='ctrl.model.changeImage()')
          div
            span.error-block(ng-show="(ctrl.mandatoryInfoForm.ssnInput.$touched && ctrl.mandatoryInfoForm.ssnInput.$error.required) || (ctrl.mandatoryInfoForm.ssnInput.$dirty && ctrl.mandatoryInfoForm.ssnInput.$error.required) || (ctrl.mandatoryInfoForm.$submitted  && ctrl.mandatoryInfoForm.ssnInput.$error.required)") Please enter the Social Security Number
      div.col-sm-12.form-group.no-gutter
        p.small We only use this information to set up your business. We will keep it secure and this is just placeholder copy.

        div.col-sm-12.no-gutter
          div.col-sm-12.no-gutter
            button.btn.btn-primary-outline.btn-block(type='submit', ng-click='ctrl.model.submitMandatoryInfo()' ng-disabled=" ctrl.mandatoryInfoForm.$invalid") SAVE UPDATES
          div.col-sm-12.no-gutter
            button.btn.btn-link.btn-block(type='button', ng-click='ctrl.model.cancelMandatoryInfo()') Discard Changes
