.reviewinfodistributor
  .invite-banner
    .imgwrapper.p-t-1
      img.avatar(width='60', ng-src='{{ctrl.avatarUrl}}')
      p.profile-name {{ctrl.avatarName}}
      p.profile-locations {{ctrl.avatarLocation}}
  #accordionform.reviewinfocontainer
    .container-fluid.no-gutter.review-info-container
      .review-info
        .inverse.text-center
          h1.p-t-1 REVIEW YOUR INFO
        #accordion.panel-group.col-sm-12.no-gutter
          .panel.panel-default.col-sm-12.m-b-2.no-gutter
              .panel-body.col-sm-12.no-gutter
                include ./review.info.distributor.mandatoryinfo.jade
        .col-sm-2
        .col-sm-12.no-gutter
          .form-group.m-b-0.text-center
            button.btn.btn-primary(type='button') NEXT: AGREE TO THE TERMS
        .col-sm-2
