div.backgroundWhite.container-fluid.name-card.checkout-psv-section.hidden-md-down
	section.checkout-delivery-options
		.row
			.col-sm-5.psv-headings.text-center.no-gutter
				div CURRENT
				.psv-values {{ctrl.model.deliveryOptions.psvData.currentPSV }}
				div LOREM
			.col-sm-2.arrow-right-thin
			.col-sm-5.psv-headings.text-center.no-gutter
				div AFTER THIS ORDER
				.psv-values {{ctrl.model.deliveryOptions.psvData.afterOrderPSV }}
				div LOREM

div.backgroundWhite.container-fluid.name-card.shipping-section.shopping-cart-wrapper
	div.shopping-cart-top

		div.clearfix.shopping-cart-section
			div.pull-left
				label {{ctrl.model.deliveryOptions.fields.shoppingBagSubtotal}}
			div.pull-right
				label.font-weight-bold {{ctrl.model.deliveryOptions.data.shoppingBagSubtotal}}

		div.clearfix.shopping-cart-section
			div.pull-left
				label {{ctrl.model.deliveryOptions.fields.taxes}}
			div.pull-right
				label.font-weight-bold {{ctrl.model.deliveryOptions.data.taxes}}

		div.clearfix.shopping-cart-section.shopping-cart-last-section
			div.pull-left
				label {{ctrl.model.deliveryOptions.fields.shipping}}
			div.pull-right
				label.section-content.label-content {{ctrl.model.deliveryOptions.data.shipping}}

		div.section-separator.shopping-cart-section

		div.row.shopping-cart-section.estimated-total-section
			div.col-sm-6.col-md-6.col-lg-8.col-xl-8.m-t-1.no-gutter-left
				label {{ctrl.model.deliveryOptions.fields.estimatedTotal}}
			div.col-sm-6.col-md-6.col-lg-4.col-xl-4(align="right")
				label {{ctrl.model.deliveryOptions.data.estimatedTotal}}

		div.section-heading.relative.promocode-section
			span {{ctrl.model.deliveryOptions.fields.promoCodeAndRewards}}

		div.section-content.promo-code-brief-label
			span {{ctrl.model.deliveryOptions.fields.enterPromotionalOrRewardsCodeBelow}}

		div.m-b-0.promo-code-section.clearfix
			form.form(name="formPromoCode")
				div.pull-left
					input.form-control.promo-code-input.m-b-0(type="text",name="promo",placeholder="CODE COMES HERE",ng-model="ctrl.model.promoCode",ng-class="{'ng-invalid ng-touched': ctrl.model.err || ctrl.model.promoLengthErr}",ng-change="ctrl.toggleErr()")
					span.error-block.m-t-1.font-weight-bold(ng-show="ctrl.model.err") {{ctrl.model.deliveryOptions.fields.errorMessages.promoCode}}
					span.error-block.m-t-0.font-weight-bold(ng-show="ctrl.model.promoLengthErr") Oops, Only one promo code can be used.
				div.pull-right
					button.btn.btn-primary.button.promo-code-button(type="submit", ng-click="ctrl.applyPromoCode(ctrl.model.promoCode)")
						span.text-uppercase Apply

		div.promotion-and-rewards-section
			span.small-heading.text-uppercase.font-size-13(ng-hide="!ctrl.model.deliveryOptions.data.promotionAndRewardsApplied.length") {{ctrl.model.deliveryOptions.fields.promotionAndRewardsApplied}}:

		div.m-b-0.promotion-wrapper(ng-repeat="item in ctrl.model.deliveryOptions.data.promotionAndRewardsApplied", ng-if="item")
			div.clearfix
				div.m-r-1.pointer.pull-left.promotion-close-icon(ng-click="ctrl.removePromoCode(item)")
				div.font-size-13.promoCode.text-uppercase.promo-list-value.pull-left {{item}}