div.checkout-guest-and-distributor
	div.content.checkout-container
		.checkout-title-container.no-gutter
			section.header
				div.section.invite-banner

					div.container-fluid.p-t-1(align="left")
						div.pointer.p-l-1.navigate-back(data-toggle="modal",data-target="#exit-modal-popup",data-backdrop="static")
							span.text-white.text-uppercase CART

						div.text-white.logo-section(align="center")
							div
								//h5.m-b-0_5.font-weight-normal.text-white.text-uppercase{{ctrl.model.heading1}}
								h1.font-weight-normal.text-white.text-uppercase {{ctrl.model.mainHeading}}

					div.steps
						div.container-fluid.clearfix.displayTable.actionMenu(align="center")
							div.pull-left.relative.pointer.shippingAddress-logo-done(ng-click="ctrl.gotoPage('#/checkout-delivery/ship-address')")
							div.pull-left.deliveryOptions-logo-active.relative
								div.active-arrow-up
							div.pull-left.paymentMethod-logo
							div.pull-left.orderReview-logo

					div.step-indicator
						small.text-uppercase.text-white {{ctrl.model.heading2}}


		.checkout-content-container.no-gutter.hidden-lg-up
			section.checkout-delivery-options
				.row
					.col-sm-5.psv-headings.text-center.no-gutter
						div CURRENT
						.psv-values {{ctrl.model.deliveryOptions.psvData.currentPSV }}
						div LOREM
					.col-sm-2.arrow-right-thin
					.col-sm-5.psv-headings.text-center.no-gutter
						div AFTER THIS ORDER
						.psv-values {{ctrl.model.deliveryOptions.psvData.afterOrderPSV }}
						div LOREM

		.checkout-content-container.no-gutter
			section.content.m-b-0
				div.p-t-2.container-fluid.main-section.no-gutter.clearfix
					div.left-section
						div.backgroundWhite.name-card.delivery-section
							form.form(name="formDeliveryOptions")
								div.top-section
									div.p-l-1(ng-repeat="item in ctrl.model.deliveryOptions.shippingList", ng-init="ctrl.model.deliveryOptions.shippingType = ctrl.model.deliveryOptions.shippingList[0]")
										div.clearfix
											div.pull-left.shipping-options-label-section

												div.radio.row
													input.form-control.col-lg-1(name="shippingList",type="radio", ng-required="true", ng-model="ctrl.model.deliveryOptions.shippingType",ng-value="item")
													label.delivery-label
														span.pullUpLabel {{item.name}}
														p.p-l-5px.section-content {{item.description}} {{item.deliveryDate}}
											div.pull-right(align="right")
												span.pullUpLabel.text-uppercase {{item.price}}
								div.m-t-2.m-b-0
									button.btn.btn-primary(type="submit",ng-click="ctrl.saveAndContinue(formDeliveryOptions.$valid)") {{ctrl.model.deliveryOptions.fields.saveAndContinue}}
								div.m-b-3
									button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.goBack()") {{ctrl.model.deliveryOptions.fields.goBack}}
					div.right-section.show-above-lg.include-section
						include ./delivery.options.component.shopping.bag.jade

	#accordionform.accordionForm.show-below-lg
		#accordion.panel-group(role='tablist', aria-multiselectable='true')
			div.panel.panel-default.accordion-panel.relative
				#panel1.panel-heading(role="tab")
					h4.panel-title(ng-click="ctrl.model.isPullLabelVisible = !ctrl.model.isPullLabelVisible")
						button.btn.drawerButton.collapsed(type="button", data-toggle='collapse', data-parent='#accordion',data-target='#panel', aria-expanded='false', aria-controls='payment',ng-click="ctrl.togglePanel()")
							div.clearfix.accord-label-section.fullWidth(ng-show="ctrl.model.isPullLabelVisible")
								div.pull-left
									label.pullUpLabel.text-transform-none {{ctrl.model.deliveryOptions.fields.estimatedTotal}}
								div.pull-right(align="right")
									label.pullUpData {{ctrl.model.deliveryOptions.data.estimatedTotal}}

				#panel.panel-section.panel-collapse.collapse(role="tabpanel",aria-labelledby='panel1',aria-expanded='false', style='height: 0px;')
					div.panel-body.include-section
						include ./delivery.options.component.shopping.bag.jade

	div#exit-modal-popup.popup-modal-section.modal.fade(role="dialog")
		div.modal-dialog
			div.modal-content
				div.modal-body
					div.modal-close-icon-section.clearfix.pointer
						div(data-dismiss="modal").pull-right.modal-close-icon
					div.m-b-2 {{ctrl.model.deliveryOptions.fields.modalMessages.areYouSure}}
					div
						button.btn.btn-primary.m-b-1(data-dismiss="modal")
							span.text-uppercase.font-weight-normal {{ctrl.model.deliveryOptions.fields.modalMessages.stayInCheckout}}
						button.btn.btn-primary-outline.fullWidth.font-weight-normal(data-dismiss="modal", ng-click="ctrl.gotoPage('#shopping-cart')")
							span.text-uppercase {{ctrl.model.deliveryOptions.fields.modalMessages.goBackToShoppingBag}}
	#myModalBackDrop.modal.fade(role='dialog', aria-labelledby='myModalLabel', data-backdrop='static', aria-hidden='true')