.container-fluid.no-gutter.account-creation.account-completion
  .row.bg-image
    .complete-account.col-sm-12.col-md-6.col-md-offset-3.text-center
      span.col-sm-12.col-md-12.complete-text Let's complete your account
  .row.col-lg-8.col-lg-offset-2.account-container
    .signup-components
      .country-section
        form(name='form', novalidate='novalidate', form-submit='ctrl.saveUserCredentials()', controller="ctrl")
          email-phone(credentials='ctrl.credentials', is-email-or-phone ='ctrl.isPhone', title="Username (Email or Mobile)", is-required='ctrl.required')
          .form-group
            input#submit.btn.btn-primary.full-width(type='Submit', value='SUBMIT')
          .form-group
            input#cancel.btn.btn-primary-outline.full-width(type='button', value='CANCEL', ng-click='ctrl.cancel()')
