@import "../../../src/stylesheets/partials/variables.scss";
.custom-modal-popup {
    height: 100%;
    padding-top: 1.875rem; 
    padding-bottom: 1.875rem; 
    & .modal-dialog {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 100%;
        width: 37.5rem;
    }
    & .modal-content {
        min-height: 100%;
        display: block;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    .custom-modal {
        display: inline-block;
        height: 100%;
        width: 100%;
        z-index: 1000;
        .modal-header {
            height: 8%;
            width: 100%;
        }
        .modal-body {
            height: 90%;
            width: 100%;
        }
    }
    .modal-header {
        a {
            display: table;
            span{
                display: table-cell;
            }
            .icn-chevron{
                background: url(../../../src/assets/images/css/ic-arrow-left-blue.png) no-repeat left;
                background-size: 100%;
                width: 6px;
                height: 10px;
            }
            .back-lbl{
                font-size: 11px;
                font-weight: $proxima-semibold;
                line-height: 2;
                color:$brand-primary;
                padding-left: 6px;
            }
        }
    }
    .modal-body {
        padding: 5px 0 0 0;
        h5 {
            font-weight: $proxima-semibold;
            line-height: 2;
            color: $gray-dark;
        }
        button {
            width: 100%;
        }
    }
    iframe {
        width: 100%;
        position: relative;
        outline: none;
        border: none;
        height: calc(90% - 5.25rem); 
    }
    .iframe-wrapper {
        display: none;
    }
}

//Landscape and Portrait Mode of iPad
@media screen and (min-width:768px) and (max-width:1024px) {
    .custom-modal-popup {
        & .modal-content {
            overflow-y: auto;
        }
        .custom-modal .modal-body {
            & > iframe {
                display: none
            }
            & .iframe-wrapper {
                display: block;
                -webkit-overflow-scrolling: touch;
                overflow: auto;
                height: calc(90% - 2.5rem) 
            }
        }
    }
}

//Small Devices
@media screen and (min-width:360px) and (max-width:767px) {
    .custom-modal-popup {
        & .modal-dialog {
            width: 21.5rem;
        }
        & .modal-content {
            overflow-y: auto;
        }
        iframe{
            height: calc(97% - 0.25rem)
        }
		
        .custom-modal .modal-body {
            & > iframe {
                display: none
            }
            & .iframe-wrapper {
                display: block;
                -webkit-overflow-scrolling: touch;
                overflow: auto;
                height: calc(90% - 3.10rem)
            }
        }
    }
}
