.custom-modal
  .modal-dialog
    .modal-content
      .modal-header
        a(ng-click='ctrl.goBackAndEdit()')
          span.icn-chevron
          span.back-lbl BACK
      .modal-body.clearfix
        h5.m-x-1 {{ctrl.modalHeading}}
        iframe.iframe(ng-src='{{ctrl.trustUrl(ctrl.srcUrl)}}')
        .iframe-wrapper
          iframe.iframe(ng-src='{{ctrl.srcUrl}}')
        .col-sm-12.m-t-1
          button.btn.btn-primary-outline(ng-click='ctrl.goBackAndEdit()') GO BACK
