@import "../../../../stylesheets/partials/variables";

.checkout-container.order-review{
  background: $gray-lightest;
}
.checkout-order-wrapper{
  background-color: $white;
  margin-bottom: 0.75rem;
  padding: 0.625rem;
}

.clickable{
  cursor: pointer;
}

.checkout-order-head{
  padding: 0 0.9375rem;
}

.checkout-order-body{
  padding: 0 0.9375rem;
}

.checkout-order-wrapper h3{
  text-transform: none;
  margin-top: 0.5rem;
}

.checkout-order-wrapper #accordionform{
  padding : 0;
  background: none;
  opacity: 1;
  transition: all 0.75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
}

.checkout-order-body.summary div{
  font-weight: $proxima-light;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: $gray-dark;
}

.checkout-order-body.summary .estimated-total{
  line-height: 2rem;
}

.checkout-order-body.summary div.promo-list-title{
  font-weight: $proxima-semibold;
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  color: $gray-dark;
}
.checkout-order-wrapper .promo-apply{
  width: 29%;
}
.checkout-order-body.summary div.promo-list{
  display: flex;
  padding-top: 0.625rem;
}

.checkout-order-body.summary div.promo-list div{
  padding-left: 0.625rem;
}

.checkout-order-body.summary div > span{
  font-weight: $proxima-semibold;
}


.checkout-order-body.summary .total{
  font-weight: $proxima-thin;
  font-size: 1.375rem;
  line-height: 2rem;
}

.checkout-order-body.summary .promo{
  font-weight: $proxima-thin;
  font-size: 0.8125rem;
}

.checkout-order-wrapper .checkout-order-body.shipping div span{
  display: block;
  font-weight: $proxima-light;
  font-size: 1rem;
  line-height: 1.125rem;
  color: $gray-black;
}

.checkout-order-body.shipping label, .checkout-order-wrapper .checkout-order-body.payment label{
  font-weight: $proxima-semibold;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: $gray-dark;
  text-transform: uppercase;
}

.checkout-order-wrapper .checkout-order-body.delivery p{
  font-weight: $proxima-light;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color:$gray-dark;
}

.checkout-order-wrapper .checkout-order-body.delivery label{
  font-size: 1rem;
  line-height: 1.3125rem;
  color:$gray;
}

.checkout-order-wrapper .checkout-order-body.payment p{
  font-weight: $proxima-light;
  font-size: 0.8125rem;
  color:$gray-dark;
  margin: 0;
}

.checkout-order-wrapper .list-pane{
  margin-top: 2.3125rem;
  padding: 0px;
}

.checkout-order-wrapper .list-pane-btn{
  padding-top: 1rem;
}

.checkout-order-body.payment span{
  font-weight: $proxima-thin;
  line-height: 1.375rem;
  font-size: 1rem;
  color: $gray-dark;
}

.checkout-order-wrapper.order-placing span{
  font-size: 0.875rem;
  color: $gray-faded;
}

.checkout-order-wrapper .shop-bag-logo{
  background: url("../../../../../src/assets/images/css/ic-shopping-bag-grey.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}

.checkout-order-wrapper .checkout-edit{
  background: url("../../../../../src/assets/images/content/ic-edit-green.svg") no-repeat center 0;
  border: none;
}

.checkout-order-wrapper .ship-add-logo{
  background: url("../../../../../src/assets/images/css/ic-shipping-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}
.checkout-order-wrapper .delivery-logo{
  background: url("../../../../../src/assets/images/css/ic-delivery-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}
.checkout-order-wrapper .payment-logo{
  background: url("../../../../../src/assets/images/css/ic-payment-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}
.checkout-order-wrapper .order-logo{
  background: url("../../../../../src/assets/images/css/ic-cart-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}

.pane-separator{
  border: solid 0.0125rem $gray-border;
  width: 92%;
  margin-left: 0.9375rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.checkout-order-body .promo-list-title{
  font-size: 0.8125rem;
  font-weight: $proxima-semibold;
}

@media (min-width: 768px ) and (max-width: 1023px) {
  .checkout-order-wrapper .checkout-order-head, .checkout-order-wrapper .checkout-order-body{
    width: 67%;
    margin-left: 16%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .checkout-order-wrapper {
    border: 0.06125rem solid $gray-border;
    padding: 1.4375em 1.5625em 1.25em 1.5625em;
  }
  .checkout-content-container .large-view-2{
    width: 24.375rem;
  }
}

@media (min-width: 1440px) {
  .checkout-order-wrapper {
    border: 0.06125rem solid $gray-border;
    padding: 1.4375em 1.5625em 1.25em 1.5625em;
  }
  .checkout-content-container .large-view-1{
    width: 33.75rem;
  }
  .checkout-content-container .large-view-2{
    width: 24.375rem;
  }
}

.border-top{
border-top: 0.06125rem solid $gray-border;
}

.checkout-order-wrapper .panel-default {
  margin-bottom: 1rem;
}

.m-t-neg-4{
  margin-top: -0.25em;
}

.m-t-4px{
  margin-top: 0.25em !important;
}

.m-t-10px{
  margin-top: 0.725em !important;
}
