div.checkout-guest-and-distributor
    .content.checkout-container.order-review
        .checkout-title-container.no-gutter
            section.header
                .section.invite-banner
                    .container-fluid.p-t-1(align='left')
                        .pointer.p-l-1.navigate-back(ng-click='ctrl.backToBag()')
                            span.text-white CART
                        .text-white.logo-section(align='center')
                            div
                                //h5.m-b-0_5.font-weight-normal.text-white.text-uppercase RONALD SSK
                                h1.font-weight-normal.text-white.text-uppercase CHECKOUT


                    div.steps
                        div.container-fluid.clearfix.displayTable.actionMenu(align="center")
                            div.pull-left.relative.pointer.shippingAddress-logo-done(ng-click="ctrl.navigateTo('isShipping')")
                            div.pull-left.deliveryOptions-logo.pointer.relative.deliveryOptions-logo-done(ng-click="ctrl.navigateTo('isDelivery')")
                            div.pull-left.pointer.relative.deliveryOptions-logo-done(ng-click="ctrl.navigateTo('isPayment')")
                            div.pull-left.orderReview-logo-active.active.relative
                                 div.active-arrow-up

                    .step-indicator
                        small.text-uppercase.text-white ORDER REVIEW
        .checkout-content-container.no-gutter.hidden-lg-up
            .checkout-order-wrapper.p-t-0.p-b-0
                #accordionform.row
                    .col-sm-12.col-md-8.col-md-offset-2
                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                            .panel.panel-default.m-b-1.p-l-1.p-r-1
                                #shopping-bag.panel-heading(role='tab')
                                    h4.panel-title
                                        button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping', aria-expanded='false', aria-controls='address')
                                            .col-sm-12
                                                .row.col-sm-2.p-l-0
                                                    .checkout-order-wrapper.shop-bag-logo.m-t-neg-4
                                                .col-sm-9
                                                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                                #shopping.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                                    .panel-body
                                        .col-sm-12.list-pane
                                            div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                                .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first }")
                                                    .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                                        img(ng-src='{{item.itemImage}}')
                                                    .col-sm-9.col-md-10.col-lg-9.no-gutter
                                                        .row
                                                            .col-lg-12.col-md-12.col-sm-12
                                                                .product-title(ng-bind='item.itemName')
                                                                .product-content(ng-bind='item.itemCode')
                                                        .row
                                                            .col-sm-12
                                                                //.product-content LOREM: {{item.psv}}
                                                                //- .product-size
                                                                //-     span.product-size-label Size:
                                                                //-     | {{item.size}}
                                                            .col-sm-6
                                                                .item-quantity
                                                                    span.product-size-label Qty: {{item.quantity}}
                                                            .col-sm-6.text-sm-right
                                                                .product-cost {{item.itemCost | currency}}
                                        .col-sm-12.list-pane-btn.no-gutter.p-b-1
                                            button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='ctrl.onEditBag()') EDIT BAG
            .checkout-order-wrapper
                .row.checkout-order-head.m-b-0_5
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.order-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Order Summary
                    .col-sm-2
                .row.checkout-order-body.summary
                    .col-sm-12.no-gutter
                        .col-sm-8.m-b-0_5 Shopping Bag Total
                        .col-sm-4.text-sm-right
                            span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                        .col-sm-8.m-b-0_5 Taxes
                        .col-sm-4.text-sm-right
                            span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                        .col-sm-8 Shipping
                        .col-sm-4.text-sm-right
                            span {{ctrl.checkoutData.orderSummary.taxes | currency}}
                    .col-sm-12.no-gutter
                        .pane-separator
                    .col-sm-12.m-b-1.no-gutter
                        .col-sm-8.estimated-total Total
                        .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
                    .col-sm-12
                        legend.m-b-0
                            span.order-sum-rewards PROMO CODES & REWARDS
                        fieldset.form-group(ng-class='')
                            div
                                .text-center.m-b-1
                                    span.promo Enter Promotional or Rewards Code below
                                .col-sm-8.no-gutter
                                    input.form-control(type='text', placeholder='CODE COMES HERE', ng-change='ctrl.toggleError()', ng-class="{'ng-invalid ng-touched':ctrl.promoError}", ng-model='ctrl.checkoutData.orderSummary.promoCode')
                                span.input-group-btn.promo-apply
                                    button.btn.btn-primary.m-l-1(type='button', ng-click='ctrl.applyCode(ctrl.checkoutData.orderSummary.promoCode)') BUTTON
                                span
                                    span.error-block(ng-show='ctrl.promoError') Oops, please re-enter the promo code
                        //- .col-sm-12.no-gutter(ng-if='ctrl.checkoutData.orderSummary.promoCodeList.length')
                        //-     .promo-list-title PROMOTION & REWARDS APPLIED:
                        //-     .promo-list(ng-repeat='item in ctrl.checkoutData.orderSummary.promoCodeList')
                        //-         .btn-sm-close.pointer(ng-click='ctrl.removeItem(item)')
                        //-             img.remove-promo-code(src='../../../../src/assets/images/css/ic-close-circle-copy.svg')
                        //-         .text-uppercase {{item}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.ship-add-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Shipping Address
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-10px(ng-click="ctrl.onEditIcon('isShipping')")
                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isShipping')")
                .row.checkout-order-body.shipping
                    .col-sm-12.m-b-0_5
                        div.m-b-0_5
                            span
                                | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                        div
                            span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                            span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                            span
                                | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                    .col-sm-12.p-r-0
                        .col-sm-12.col-md-6.m-b-0_5.p-l-0
                            label.m-b-0 email
                            span {{ctrl.checkoutData.shippingAddress.email}}
                        .col-sm-12.col-md-6.p-l-0
                            .pull-sm-left.pull-md-right
                                label.m-b-0 Phone
                                span {{ctrl.checkoutData.shippingAddress.phone}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.delivery-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Delivery Options
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-10px(ng-click="ctrl.onEditIcon('isDelivery')")
                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isDelivery')")
                .row.checkout-order-body.delivery
                    .col-sm-12
                        label {{ctrl.checkoutData.deliveryOptions.name}} :
                        span.p-l-1.text-uppercase {{ctrl.checkoutData.deliveryOptions.price}}
                    .col-sm-12
                        p your shipping will arrive on {{ctrl.checkoutData.deliveryOptions.deliveryDate}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.payment-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Payment Method
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5(ng-click="ctrl.onEditIcon('isPayment')")
                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isPayment')")
                .row.checkout-order-body.payment
                    .col-sm-12
                        span.pull-sm-left
                            img(src='../../.././src/assets/images/content/visa-sm.png')
                        .col-sm-9
                            p {{ctrl.checkoutData.paymentMethod.fullName}}
                            p
                                | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
                    .col-sm-12.top-buffer-15
                        label Billing Address
                        div(ng-show="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                            span.check-mark
                            span  Same as Shipping Address
                        div.billing-add(ng-hide="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                            span {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                            div {{ctrl.checkoutData.shippingAddress.addressLine1}}
                            div {{ctrl.checkoutData.shippingAddress.addressLine2}}
                            div {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}

            .checkout-order-wrapper.order-placing
                .row.checkout-order-head
                    .col-sm-12.top-buffer-15
                        input(type='checkbox', ng-model='ctrl.isChecked', ng-change='ctrl.isAccepted(ctrl.isChecked)')
                        label
                            | I hereby agree with the
                            a.pointer.p-l-5px(ng-click='ctrl.showCustomPopup()') Return Policy Terms
                .row.checkout-order-body
                    .col-sm-12.top-buffer-15
                        button.btn.btn-primary(ng-click="ctrl.placeOrder(ctrl.isChecked)") PLACE ORDER
        .checkout-content-container.no-gutter.hidden-md-down.m-t-3
            section.content
                .main-section.no-gutter.m-t-3
                    .left-section
                        .large-view-1
                            .checkout-order-wrapper.col-lg-12.p-t-0.p-b-0
                                #accordionform.row
                                    .col-sm-12
                                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                                            .panel.panel-default.m-b-1.p-l-1.p-r-1
                                                #shopping-bag.panel-heading(role='tab')
                                                    h4.panel-title
                                                        button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping-lg', aria-expanded='true', aria-controls='address')
                                                            .col-sm-12
                                                                .row.col-sm-2.p-l-0
                                                                    .checkout-order-wrapper.shop-bag-logo.p-l-0.m-t-neg-4
                                                                .col-sm-9
                                                                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                                                #shopping-lg.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='true', style='height: 100px;')
                                                    .panel-body
                                                        .col-sm-12.list-pane
                                                            div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                                                .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first}")
                                                                    .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                                                        img(ng-src='{{item.itemImage}}')
                                                                    .col-sm-9.col-md-9.col-lg-9.no-gutter
                                                                        .row
                                                                            .col-lg-10.col-md-10.col-sm-10
                                                                                .product-title(ng-bind='item.itemName')
                                                                                .product-content(ng-bind='item.itemCode')
                                                                        .row
                                                                            .col-sm-12
                                                                                //.product-content LOREM: {{item.psv}}
                                                                                //- .product-size
                                                                                //-     span.product-size-label Size :
                                                                                //-     | {{item.size}}
                                                                            .col-sm-6
                                                                                .item-quantity
                                                                                    span.product-size-label Qty: {{item.quantity}}
                                                                            .col-sm-6.text-sm-right
                                                                                .product-cost {{item.itemCost | currency}}
                                                        .col-sm-12.list-pane-btn.no-gutter.p-b-1
                                                            button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='ctrl.onEditBag()') EDIT BAG
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.ship-add-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Shipping Address
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0(ng-click="ctrl.onEditIcon('isShipping')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isShipping')")
                                .row.checkout-order-body.shipping
                                    .col-sm-12.m-b-0_5
                                        div.m-b-0_5
                                            span
                                                | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                        div
                                            span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                            span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                                            span
                                                | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                                    .col-sm-12
                                        .col-sm-6.m-b-0_5.p-l-0
                                            label.m-b-0 email
                                            span {{ctrl.checkoutData.shippingAddress.email}}
                                        .col-sm-6.col-md-6.p-r-0
                                            .pull-sm-right
                                                label.m-b-0 Phone
                                                span {{ctrl.checkoutData.shippingAddress.phone}}
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.delivery-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Delivery Options
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0(ng-click="ctrl.onEditIcon('isDelivery')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isDelivery')")
                                .row.checkout-order-body.delivery
                                    .col-sm-12
                                        label {{ctrl.checkoutData.deliveryOptions.name}} :
                                        span.text-uppercase.p-l-1 {{ctrl.checkoutData.deliveryOptions.price}}
                                    .col-sm-12
                                        p.m-b-0 your shipping will arrive on {{ctrl.checkoutData.deliveryOptions.deliveryDate}}
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.payment-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Payment Method
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0(ng-click="ctrl.onEditIcon('isPayment')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isPayment')")
                                .row.checkout-order-body.payment
                                    .col-sm-12
                                        span.pull-sm-left
                                            img(src='../../.././src/assets/images/content/visa-sm.png')
                                        .col-sm-9
                                            p {{ctrl.checkoutData.paymentMethod.fullName}}
                                            p
                                                | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
                                    .col-sm-12.top-buffer-15
                                        label Billing Address
                                        div(ng-show="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                            span.check-mark
                                            span  Same as Shipping Address
                                        div.billing-add(ng-hide="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                            span {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                            div {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                            div {{ctrl.checkoutData.shippingAddress.addressLine2}}
                                            div {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                    .right-section
                        .no-gutter.large-view-2
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.order-logo.p-l-0.m-t-neg-4
                                    .col-sm-8
                                        h3.m-t-0 Order Summary
                                    .col-sm-2
                                .row.checkout-order-body.summary
                                    .col-sm-12.no-gutter
                                        .col-sm-8.m-b-0_5 Shopping Bag Total
                                        .col-sm-4.text-sm-right
                                            span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                                        .col-sm-8.m-b-0_5 Taxes
                                        .col-sm-4.text-sm-right
                                            span {{ctrl.checkoutData.orderSummary.shipping | currency}}
                                        .col-sm-8 Shipping
                                        .col-sm-4.text-sm-right
                                            span {{ctrl.checkoutData.orderSummary.taxes | currency}}
                                    .col-sm-12
                                        .pane-separator
                                    .col-sm-12.m-b-1.no-gutter
                                        .col-sm-8.estimated-total Total
                                        .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
                                    .col-sm-12
                                        legend.m-b-0
                                            span.order-sum-rewards PROMO CODES & REWARDS
                                        fieldset.form-group(ng-class='')
                                            div
                                                .text-center.m-b-1
                                                    span.promo Enter Promotional or Rewards Code below
                                                .col-sm-8.p-l-0
                                                    input.form-control(type='text', placeholder='CODE COMES HERE', ng-change='ctrl.toggleError()', ng-class="{'ng-invalid ng-touched':ctrl.promoError}", ng-model='ctrl.checkoutData.orderSummary.promoCode')
                                                span.input-group-btn.promo-apply
                                                    button.btn.btn-primary(type='button', ng-click='ctrl.applyCode(ctrl.checkoutData.orderSummary.promoCode)') APPLY
                                                span
                                                    span.error-block(ng-show='ctrl.promoError') Oops, please re-enter the promo code
                                        //- .col-sm-12.no-gutter(ng-if='ctrl.checkoutData.orderSummary.promoCodeList.length')
                                        //-     .promo-list-title PROMOTION & REWARDS APPLIED:
                                        //-     .promo-list(ng-repeat='item in ctrl.checkoutData.orderSummary.promoCodeList')
                                        //-         .btn-sm-close.pointer(ng-click='ctrl.removeItem(item)')
                                        //-             img.remove-promo-code(src='../../../../src/assets/images/css/ic-close-circle-copy.svg')
                                        //-         .text-uppercase {{item}}
                            .checkout-order-wrapper.order-placing.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-12
                                        input(type='checkbox', ng-model='ctrl.isChecked', ng-change='ctrl.isAccepted(ctrl.isChecked)')
                                        span.p-l-1
                                            | I hereby agree with the
                                            a.pointer.p-l-5px(ng-click='ctrl.showCustomPopup()') Return Policy Terms
                                .row.checkout-order-body
                                    .col-sm-12.top-buffer-15
                                        button.btn.btn-primary(ng-click="ctrl.placeOrder(ctrl.isChecked)") PLACE ORDER
custommodalcomponent(ng-if="ctrl.showModal",modal-heading='{{ctrl.modalHeading}}',is-modal-call="true", src-url='{{ctrl.modalURL}}', callback-on-success="ctrl.hideCustomModal")
