@import "../../../../src/stylesheets/partials/variables.scss";
.pdp-product-view{
  min-height: 25em;
  padding: 0 1em;
  margin: auto;
  .offer-icon{
    background-image: linear-gradient(to top, $light-coral, $deep-lilac);
    width: 3.25rem;
    height: 3.25rem;
    right: 0;
    bottom: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    border-radius: 2rem;
    transition: opacity .3s 0s, visibility 0s .3s;
    overflow: hidden;
    padding: 8px;
    .discount-offer{
        strong{
            line-height:0.5;
            font-size:0.8125rem;
        }
        p{
           line-height:0.5;
            font-size:0.8125rem;
        }
      }
    .new-product{
        padding: 4px;
          strong{
            line-height:0.5;
            font-size:0.8125rem;
        }
    }
  }
  .offer-icon.offer-icon-is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .offer-icon.new-product-block{
    width: 3rem;
    height: 3rem;
  }

  .image-container{
    height: 20em;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-size:contain;;
    background-position: center;

  }
  .category-favorite{
      top: 0.250em;
      right: 1em;
      float: right;
      margin-right: 0.5em;
      button {
          width: 2.25em;
          height: 2em;
      }
  }
  button.favorite{
  }
  .pdp-product-category-stars{
    float: left;
    ul{
      margin-bottom: 0;
    }
  }
  .pdp-product-rating-count{
    float: left;
    padding-left: 7px;
    font-size: 0.8125rem;
    font-weight: $proxima-light;
    line-height: 1.5;
    color: $gray;
  }
  a{
    font-size: 0.8125rem;
    font-weight: $proxima-semibold;
  }
  p{
    margin-bottom: 0;
  }
  .pdp-product-catalogue{
    padding: 0 0 1em 0;
  }
  .top-rated-cover{
    margin-top: 5px;
    margin-bottom: 5px;

    .top-rated{
      padding-top: 5px;
      padding-bottom: 5px;
      width: 6em;
      height: 1.5em;
      border-radius: 2px;
      border: solid 1px $light-aqua;
      padding-top: 4px;
      text-align: center;
      p{
        font-size: 0.8125em;
        font-weight: $proxima-semibold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        color: $aqua;
      }
    }
  }
  .stock-status{
    clear: both;
    margin-bottom: 4px;
    p { font-size: 0.8125em;
        font-weight: $proxima-semibold;
        line-height: 1;
        letter-spacing: 0.5px;
        color: $pink;
      }
  }
  .pdp-product-title{
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 300;
      color: $gray-dark;
    }
  }
  .pdp-product-rate.changed-price{
    text-decoration: line-through;
    color: $gray;
    font-size: 0.8125em;
    font-weight : $proxima-light;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
  }
  @media screen and (min-width: 767px) and (max-width: 1439px){
    min-height: 0;
    .image-container{
      height: 14.25em;
    }
  }
  @media screen and (max-width: 767px){
    min-height: 0;
    .image-container{
      height: 8.125em;
    }
  }
}
