.pdp-product-view
  .col-sm-12.no-gutter
    .category-favorite(ng-click="productCtrl.toggle()" ng-show="!productCtrl.show")
      button.favorite(ng-class='{active: productCtrl.isShown}')
        svg.heart(width='20px', height='18px', viewbox='0 0 24 21', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#heart-outline(transform='translate(1.000000, 0.000000)', stroke='#999')
              path#fill(d='M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763', fill='#ffffff')
  .col-sm-12.pdp-product-catalogue.pdp-product-viewed.pointer(ng-click='productCtrl.redirect(productCtrl.productData)')
    .image-container(ng-style="{'background-image': 'url({{productCtrl.productData.productImage}})'}" )

      .offer-icon.offer-icon-is-visible.inverse(ng-if='productCtrl.productData.discount.length' ng-show="!productCtrl.show")
        .discount-offer
          span
            strong {{productCtrl.productData.discount}}
            p OFF
      .offer-icon.offer-icon-is-visible.new-product-block.inverse(ng-if='productCtrl.isNew()' ng-show="!productCtrl.show")
        .new-product
          span
            strong NEW


  .col-sm-12.pdp-product-title.no-gutter
    a(href="#")
     p.no-gutter(ng-click="productCtrl.redirect(productCtrl.productData)") {{productCtrl.productData.productTitle}}
    .top-rated-cover(ng-if='productCtrl.topRated()' ng-show="!productCtrl.show")
      .top-rated
        p TOP RATED
    //- star-rating.pdp-product-category-stars(rating-value="productCtrl.productData.ratingCount" max="productCtrl.maxRating" ng-show="productCtrl.show")
    .pdp-product-rating-count(ng-show="!productCtrl.show"){{productCtrl.productData.ratingTotal}}

    .stock-status(ng-if='productCtrl.productData.stockStatus.length')
      p(ng-if='productCtrl.stockStatus("LS")') LOW STOCK
      p(ng-if='productCtrl.stockStatus("OS")') OUT OF STOCK
      p(ng-if='productCtrl.stockStatus("BO")') ON BACKORDER

  .col-sm-12.pdp-product-rate.no-gutter
    span {{productCtrl.productData.productPrice}}
    i |
    span.psv-color LOREM {{productCtrl.productData.psv}}
  .col-sm-12.pdp-product-rate.changed-price.no-gutter(ng-if='productCtrl.priceChanged()' ng-show="!productCtrl.show")
    span {{productCtrl.productData.productPricePrev}}
    i |
    span.psv-color LOREM {{productCtrl.productData.psvPrev}}
  .col-sm-12.purchase-link.no-gutter(ng-click ='productCtrl.navigatetopdpProductBasics()')
    a PURCHASE
