    @import "../../../../../src/stylesheets/partials/variables.scss";
    .product-search-list-container {
        .header-bar {
            height: 3.75rem;
            background-color: $white;
        }
        .hide-button-outline {
            outline: none;
            background: none;
            border: 0;
            padding: 0;
        }
        .refine {
            font-size: 0.875em;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: 0.4px;
            color: $brand-primary;
            float: left;
            margin-left: 2.5rem;
            margin-top: 1.25em;
        }
        .view-type {
            font-size: 0.875em;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: 0.4px;
            color: $brand-primary;
            float: right;
            margin-right: 1.7em;
            margin-top: 0.75rem;
        }
        .refine-icon {
            height: 1.250em;
            width: 1.250em;
            float: left;
            margin-right: 0.313em;
            background: url(../../../../../src/assets/images/css/ic-refine-green.svg) center no-repeat;
        }
        .see-more {
            font-size: 0.875em;
            font-weight: 600;
            line-height: 1.57;
            padding: .5em 4.5em;
            cursor: pointer;
            letter-spacing: -0.1px;
            color: $white;
        }
         .header-container {
            background-color: $gray;
            padding: 0;
        }
        #filter-product {
            background-color: $gray-dark;
            min-height: 74.063em;
            transform: translateX(-110%);
            transition: opacity 1s linear;
            position: absolute;
            opacity: 0;
            &.is-open {
                position: relative;
                transform: translateX(0);
                transition: transform .25s ease-in;
                opacity: 1;
            }
        }
        #filter-product.filter-mobile {
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 999;
            overflow: auto;
            width: 100%;
            height: 100%;
            min-height: 0;
            transition: 0.5s;
            margin-left: 0;
        }
        #list-product {
            /*padding: 0.5em 1em; */
        }
        .option-row {
            padding: 0.5em 1em 0.5em 2em;
        }
        .option-row:hover {
            background-color: rgba(0, 138, 176, 0.4);
        }
        .result-text {
            font-weight: $proxima-thin;
            font-size: 1.375rem;
            line-height: 1.41;
            color: $white;
            margin-left: 1.18em;
            padding-top: 1em;
        }
        .opt-container {
            margin: 1.25em -1.875em 0;
            background-color: rgba(255, 255, 255, 0.1);
        }
        .filter-text,
        .filter-close {
            font-weight: $proxima-semibold;
            font-size: 0.875rem;
            line-height: 1.57;
            color: $white;
            margin-left: 2.35em;
            margin-bottom: 0.8em;
        }
        .filter-close {
            float: right;
            margin-right: 2.35em;
        }
        .filter-option {
            font-weight: $proxima-semibold;
            font-size: 0.875rem;
            line-height: 1.57;
            color: $white;
            margin-left: 1.5625em;
            margin-top: 0.75em;
        }
        .selected-option {
            font-weight: $proxima-thin;
            font-size: 0.875rem;
            line-height: 1.57;
            color: $aqua !important;
        }
        .color-icon {
            width: 1.125em;
            height: 1.125em;
            border: solid 1px $white;
            border-radius: 50%;
            float: left;
            margin-top: 3px;
        }
        .no-outline {
            outline: none;
            background: none;
            border: 0;
            padding: 0;
        }
        .separator-line-filter {
            height: 2px;
            border: solid 1px $gray;
            margin-top: 0.5em;
        }
        .option-list-text,
        .option-list {
            font-weight: $proxima-thin;
            font-size: 0.875rem;
            line-height: 1.57;
            color: $white;
        }
        .option-list-text {
            padding-left: 1.25em;
        }
        .option-list {
            float: right;
            margin-right: 0.250em;
        }
        .dropdown-img-down {
            background: url(../../../../../src/assets/images/css/ic-dropdown-arrow.svg) center no-repeat;
        }
        .dropdown-img-up {
            background: url(../../../../../src/assets/images/css/ic-dropdown-arrow-up.svg) center no-repeat;
        }
        .dropdown-container {
            float: right;
            height: 1.625em;
            width: 1.625em;
        }
        .float-top {
            margin-top: -0.5em;
        }
        .padding-zero {
            padding: 0 !important;
        }
        .white {
            color: $white;
            font-size: 0.813em;
        }
        .filter-row {
            margin: 0 1.563em;
            padding: 1.15em 0.5em 0;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 3.250em;
            height: 1.875em;
            float: right;
        }
        /* Hide default HTML checkbox */
        .switch input {
            display: none;
        }
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $gray-lightest;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 1.625em;
            width: 1.625em;
            left: 0px;
            bottom: 2px;
            background-color: $white;
            box-shadow: 0 1px 4px 0 rgba(121, 121, 121, 0.5);
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider {
            background-color: $aqua;
        }
        input:focus + .slider {
            box-shadow: 0 0 1px $aqua;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(1.625em);
            -ms-transform: translateX(1.625em);
            transform: translateX(1.625em);
        }
        .slider.round {
            border-radius: 2.125em;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    }

    //tabs
    .grid-button {
        background: url(../../../../../src/assets/images/css/ic-grid-view-unselected.svg) center no-repeat !important;        
        width: 2.25rem;
        height: 2.25rem;
        &.active {
            background: url(../../../../../src/assets/images/css/ic-grid-view-selected.svg) center no-repeat !important;            
        }
    }

    .list-button {
        background: url(../../../../../src/assets/images/css/ic-list-view-selected.svg) center no-repeat !important;        
        width: 2.25rem;
        height: 2.25rem;
        &.inactive {
            background: url(../../../../../src/assets/images/css/ic-list-view-unselected.svg) center no-repeat !important;            
        }
    }
    .search-list-tab-container{
        //tabs
        .nav-tabs {
            border: none;
            // display: flex;
            justify-content: space-between;
            .nav-item {
                //li
                flex-basis: 100%;
                + .nav-item {
                    margin-left: 0;
                }
                &.active {
                    ::after {
                        position: absolute;
                        content: '';
                        width: 0;
                        height: 0;
                        bottom: 0;
                        border-left: 8px solid transparent !important;
                        border-right: 8px solid transparent !important;
                        border-bottom: 8px solid $white !important;
                        border-bottom-width: 8px;
                        border-bottom-style: solid;
                        border-bottom-color: rgb(255, 255, 255);
                        -moz-transform: scale(0.999);
                        -webkit-backface-visibility: hidden;
                        left: 40%;
                    }
                }
                .nav-link {
                    // a
                    // display: flex;
                    flex-direction: column;
                    align-content: center;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0;
                    position: relative;
                    padding: .75em 1em;
                    height: 100%;
                    transition: all .1s linear;
                    padding: 1.25rem 1.625rem;
                    font-size: 0.8125rem;
                    font-weight: $proxima-regular;
                    color: $gray-dark;
                }
                &:focus,
                &:hover {
                    border-color: transparent;
                    background: darken($gray-lightest, 5%);
                }
                &.active a,
                &.active:focus a,
                &.active:hover a {
                    color: $white;
                    background: $blue-light;
                    border-color: $blue-light;
                    position: relative;
                    border-bottom: 1px;
                }
                .nav-link::after {
                    width: 0;
                    height: 0;
                    border-left: 0.9375rem solid transparent;
                    border-right: 0.9375rem solid transparent;
                    border-bottom: 0.9375rem solid black;
                }
            }
        }

        .nav-link {
            // a
            // display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            border-radius: 0;
            position: relative;
            padding: .75em 1em;
            height: 100%;
            transition: all .1s linear;
            padding: 1.25rem 1.625rem 1.25rem 2.875rem;
            font-size: 0.8125rem;
            font-weight: $proxima-regular;
            color: $gray-dark;
        }
        .tab-content{
            /*display: none;*/
            width: 100%;
            background-color: $white;
            padding-bottom: 2.313rem;
        }
    }
    .product-list-parent{
      display: block;
    }
    .product-grid-parent-flex{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: $white;
      .product-flex-tile{
        flex-basis: 25%;
      }
    }
    @media all and (min-width: 360px) and (max-width: 767px) {
        .product-search-list-container {
            .grid-button {
                margin-right: 2.188rem;
            }
        }
        .search-list-tab-container{
            .nav-tabs {
                .nav-item {
                    .nav-link {
                        padding: 1.25rem 1.313rem;
                    }
                }
            }
            .nav-link::after {
                width: 0;
                height: 0;
                border-left: 0.950em solid transparent;
                border-right: 0.950em solid transparent;
                border-bottom: 0.950em solid black;
            }
        }
        .product-grid-parent-flex{
          .product-flex-tile{
            flex-basis: 50%;
          }
        }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        .product-search-list-container {
            .grid-button {
                margin-right: 2.5rem;
            }
        }
        .product-grid-parent-flex{
          .product-flex-tile{
            flex-basis: 33.33%;
          }
        }
    }

    @media screen and (min-width:1024px) and (max-width: 1439px) {
        .product-search-list-container {
            .refine {
                margin-left: 2.75rem;
            }
        }
        .grid-button {
            margin-right: 3.25rem;
        }
        .product-grid-parent-flex{
          .product-flex-tile{
            flex-basis: 25%;
          }
        }        
    }

    @media all and (min-width: 1440px) {
        .product-search-list-container {
            .result-text {
                font-size: 1.75rem;
            }
            .refine{
                margin-left: 3.875rem;
            }
            .grid-button {
                margin-right: 3.75rem;
            }
        }
    }
