.empty(ng-if="ctrl.noData")
.product-search-list-container.clearfix.col-xs-12.col-sm-12.col-md-12.col-lg-12.no-gutter(ng-if="!ctrl.noData")
  .header-bar.row
    button.refine.hide-button-outline(type='button',ng-click="ctrl.callFilter();")
        span.refine-icon
        span Refine
    button.view-type.hide-button-outline.grid-button(type='button',ng-class="(ctrl.viewType == 0) ? 'active' : ''",ng-click="ctrl.setViewType(0)")
        span.grid-icon
        span
    button.view-type.hide-button-outline.list-button(type='button',ng-class="(ctrl.viewType == 0) ? 'inactive' : ''",ng-click="ctrl.setViewType(1)")
        span.list-icon
        span
  div#filter-product.no-gutter.col-sm-12.col-md-4.col-lg-4.col-xl-3(ng-class="{'filter-mobile': ctrl.isMobileMode}")
    div.col-sm-12.reset.header-container
      div.filter-header
        h3.result-text 150 Results
      div
        label.filter-text.pointer(ng-click="ctrl.resetFilter();") RESET FILTER
        label.filter-close.pointer(ng-click="ctrl.callFilter();") DONE
    div.col-sm-12.filtercontainer.reset
      .filter-row.pointer(ng-repeat="filter in ctrl.filterData.data",ng-click="ctrl.change(true,filter, $event);ctrl.hideCurrentFilter(filter.filter_type)")
        .row.reset
          .col-sm-10.no-gutter
            .filter-name.white(ng-class="{'float-top': (!filter.isFilterSelected && filter.selectedFilterType)}") {{filter.filter_type}}
            .filter-selcted-name.white(ng-show="!filter.isFilterSelected && filter.selectedFilterType")
              lable.selected-option {{filter.selectedFilterType}}
          .col-sm-2.no-gutter
            .dropdown-img-down.dropdown-container(ng-show="!filter.isDropdownOpen")
            .dropdown-img-up.dropdown-container(ng-show="filter.isDropdownOpen")
          .col-sm-12.no-gutter(ng-show="filter.showFilterOptions", ng-init="ctrl.setLimit(filter);")
            .opt-container(ng-if="filter.filter_category == 'count'")
              .option-row.row.reset.pointer(ng-repeat="option in filter.filter_options | limitTo:filter.limit as results",ng-click="ctrl.selectOption(option.option_value,filter.filter_type)")
                .option-text.col-sm-10
                  .opt
                    .color-icon(ng-show="option.color",ng-style="{'background-color': '{{option.color}}'}")
                    img.option-icon(ng-show="option.icon_url",ng-src="{{option.icon_url}}")
                    label.option-list-text(ng-class="{'selected-option': option.currentSelected}") {{option.option_value}}
                .option-count.col-sm-2
                  .opt
                    label.option-list 25
              .see-more(ng-click="filter.limit = filter.filter_options.length;ctrl.change(false,filter, $event);", ng-show="filter.limit < filter.filter_options.length") See More
              .see-more(ng-click="filter.limit = 5;ctrl.change(false,filter, $event);", ng-show="filter.limit == filter.filter_options.length && filter.limit > 8 ") See Less
            //- .range-container(ng-if="filter.filter_category == 'range'")
            //-   .row.reset.range-value-container
            //-     .col-sm-12.no-gutter(ng-click="ctrl.change(false,filter, $event);")
            //-       span.min-range {{ctrl.minRangeSlider.options.floor}}
            //-       span.max-range {{ctrl.minRangeSlider.options.ceil}} +
            //-       rzslider(rz-slider-model='filter.minValue', rz-slider-high='filter.maxValue', rz-slider-options='ctrl.minRangeSlider.options')
          .col-sm-12.separator-line-filter(ng-show="!filter.showFilterOptions")
      .filter-row(ng-repeat="filterToggle in ctrl.filterData.toggleData")
        .row.reset
          .col-sm-12.no-gutter
            .filter-name
              label.filter-name.white {{filterToggle.filter_type}}
              label.switch
                input(type='checkbox',ng-model='filterToggle.isSelected')
                .slider.round
          .col-sm-12.separator-line-filter

  div#list-product.col-sm-12.col-md-12.col-lg-12.col-xl-12.no-gutter(ng-class="{'padding-zero': ctrl.showFilter}")
    .row.reset
      section.col-sm-12.no-gutter.search-list-tab-container

        uib-tabset(active='active')
          uib-tab(index='0', heading='Products', ng-click="ctrl.setActiveTab = 'products'")
            .product-grid-parent-flex(ng-if="ctrl.viewType == 0")
              producttilecomponent.product-flex-tile(id='lists{{$index}}', list-item='product', is-list-view='ctrl.viewType', ng-repeat='product in ctrl.productData.products',ng-class="{'last-div':$last}")
            .product-list-parent(ng-if="ctrl.viewType == 1")
              producttilecomponent(id='lists{{$index}}', list-item='product', is-list-view='ctrl.viewType', ng-repeat='product in ctrl.productData.products',ng-class="{'last-div':$last}")
          uib-tab(index='1', heading='Videos', ng-click="ctrl.setActiveTab = 'videos'")
            productmediacategorycomponent(source-url="'/src/commerce/components/product-search/product.search.video.json'", if-delete-visible='false', if-fav-undo-visible='false', is-heart-visible='false', is-logo-visible='false', if-duration-visible='true', if-share-icn-visible='true', if-download-icn-visible='false', if-type-visible='false',current-active-tab='ctrl.setActiveTab', is-list-view='ctrl.viewType')
          uib-tab(index='2', heading='Articles', ng-click="ctrl.setActiveTab = 'documents'")
            productmediacategorycomponent(source-url="'/src/commerce/components/product-search/product.search.articles.json'", if-delete-visible='false', if-fav-undo-visible='false', is-heart-visible='false', is-logo-visible='false', if-duration-visible='false', if-share-icn-visible='true', if-download-icn-visible='true', if-type-visible='true',current-active-tab='ctrl.setActiveTab', is-list-view='ctrl.viewType')

          uib-tab(index='3', heading='Documents', ng-click="ctrl.setActiveTab = 'articles'")
            productmediacategorycomponent(source-url="'/src/commerce/components/product-search/product.search.documents.json'", if-delete-visible='false', if-fav-undo-visible='false', is-heart-visible='false', is-logo-visible='false', if-duration-visible='false', if-share-icn-visible='true', if-download-icn-visible='true', if-type-visible='true',current-active-tab='ctrl.setActiveTab', is-list-view='ctrl.viewType')
