.term-policy-modal{
     margin-top:3.250em;
    .modal-dialog{
        width: 20.313em;
        margin: auto;   
    }
}
@media screen and (min-width: 768px){
    .term-policy-modal{
         margin-top:1.938em;
        .modal-dialog{
            width: 34.375em;
        }
    }
}