.quick-links
  .col-sm-12.quick-link-header.no-gutter {{ql.config.headerText}}
  .col-sm-12.no-gutter
    .links-container.no-gutter(ng-repeat='list in ql.quickLinks', ng-click='ql.navigate(list.linkURL);', ng-class="(!($index%ql.config.columns[ql.breakpoint()]))?'clear':''")
      .link
        .link-image(ng-style="{'background-image':'url({{list.iconURL}})'}")
        .link-text {{list.linkText}}
      .link-desc(ng-if='list.description') {{list.description}}
