@import "../../stylesheets/partials/variables";

.quick-links {
    padding: 0 2.5em;
    overflow: auto;
    
    .clear {
        clear: both;
    }
    .quick-link-header {
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        line-height: 1.23;
        letter-spacing: 0.5px;
        color: $white;
        margin-bottom: 5px;
    }
    .links-container {
        width: 7em;
        margin: 0 4px 4px 0;
        float: left;
        .link {
            width: 7em;
            height: 7em;
            background-color: rgba(255,255,255,0.15);
            border: 1px solid rgba(139,201,219,0.15);
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            cursor: pointer;
            .link-image {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50%;
                height: 1.5em;
                margin-bottom: 5px;
            }
            .link-text {
                font-size: 0.8125rem;
                line-height: 1.54;
                color: $white;
            }
        }
        .link-desc {
            margin: 0.8125em 0 2em;
            font-size: 0.8125rem;
            line-height: 1.23;
            color: $white;
            padding-right: 1em;
        }
    }
}
