.progress
  .progress-bar.progress-bar-danger(style='width: {{strength === 1 ? 25 : 0}}%', title='Weak Password')
  .progress-bar.progress-bar-warning(style='width: {{strength === 2 ? 50 : 0}}%', title='Moderate Password')
  .progress-bar.progress-bar-warning(style='width: {{strength === 3 ? 75 : 0}}%', title='Moderate Password')
  .progress-bar.progress-bar-success(style='width: {{strength >= 4 ? 100 : 0}}%', title='Strong Password')