.accsettingsdetailcontainer.center-sectionp
    
    div.storycontainer
        div.m-b-2.row.hidden-sm-down
            div.sectiontitle.col-sm-10 my branded story
        div.storysubtitle.col-sm-12.no-gutter(ng-if="vm.model.story.isFirstTime") Your Story is Your Personal Brand
        div.storysubtitle.col-sm-12.no-gutter(ng-if="!vm.model.story.isFirstTime") My Script
        div.col-sm-12.no-gutter.storysubcontainer(ng-if="vm.model.story.isFirstTime") 
            div.col-sm-3.no-gutter.storyimgcontainer
                div.storyimg
            div.col-sm-7.no-gutter
                div#storycontent.storycontent {{vm.model.story.content}}
        div.col-sm-12.no-gutter.storysubcontainer(ng-if="!vm.model.story.isFirstTime") 
            div#storycontent.storycontent
                p(ng-bind-html="vm.model.story.content")
            h5.m-b-0.pointer.lowercase.text-center(ng-click="vm.model.readMoreStorySection()", ng-if="vm.model.isContentGrater700" ng-hide="vm.model.readmorestory") Read More
            h5.m-b-0.pointer.lowercase.text-center(ng-click="vm.model.readLessStorySection()", ng-if="vm.model.isContentGrater700" ng-hide="!vm.model.readmorestory") Read Less

        div.col-sm-12.quickactionscontainer.clearfix.no-gutter.text-center
            div.quickcopyContainer
                div.quickcopy(ng-hide = "vm.model.isCopyClicked")
                    div.quickcopyimg.pointer(ng-click="vm.model.copyClip('copy-section')")
                    div.quickemailtext.pointer(ng-click="vm.model.copyClip('copy-section')") copy
                div.quickcopy(ng-show="vm.model.isCopyClicked")
                    div.quickcopyimgpurple.pointer(ng-click="vm.model.copyClip('copy-section')")
                    div.quickemailtextpurple.pointer(ng-click="vm.model.copyClip('copy-section')") copied
            div.quickdownload.pointer.no-gutter-right()
                div.quickdownloadimg.pointer(ng-click="vm.model.downloadAsPdf('datetime')")
                div.quickemailtext.pointer(ng-click="vm.model.downloadAsPdf('datetime')") download


        div.row
            div.col-sm-12(ng-if="vm.model.story.isFirstTime")
                button.btn.btn-primary.btn-block.btn-save(type='button', ng-click="vm.model.openScript()") START YOUR STORY NOW
            div.col-sm-12(ng-if="!vm.model.story.isFirstTime")
                button.btn.btn-primary.btn-block.btn-save(type='button', ng-click='vm.model.openScript()') MANAGE MY SCRIPT

        div.hide
            div.action-template-section#template-section
                div
                    div.logo-section
                        p(style="text-align: center;")
                            img(src="../../../../../src/assets/images/css/nuskin-white-logo.png" style="align: center")
                        div.header-section(align="center")
                            p.text-uppercase.branded-text(style="font-size: 1.5rem; font-weight: 100; line-height: 1.42; text-align: center; color: #ffffff; margin:56px 0") 
                                span MY BRANDED STORY
                        div.content-section
                            div.content-header-section.relative
                                div.description-section(style="margin-left: 3rem;")
                                    div.story-script-section.story-section
                                        div.heading-section
                                            span.text-uppercase.my-script(style="margin: 1rem 0 0; font-size: 1.125rem; font-weight: 100; color: #a7a7a7;")  MY SCRIPT
                                        p.time-format(style="font-size: 0.6875rem; letter-spacing: -0.00625rem; color: #a8a8a8;") {{vm.model.getDatetime | date:'dd/MM/yyyy hh:mm'}}
                                        div
                                            p(style="font-size: 0.625rem; color: #727272", ng-bind-html="vm.model.story.content")                                            

            div#datetime.time-format {{vm.model.getDatetime | date:'dd/MM/yyyy hh:mm a'}}
            div#content(ng-bind-html="vm.model.story.content")

            div#copy-section
                p MY BRANDED STORY
                    br
                p MY SCRIPT
                    br
                p {{vm.model.getDatetime | date:'dd/MM/yyyy hh:mm a'}}
                    br
                p(ng-bind-html="vm.model.story.content")                