div.left-section-wrapper
    div.imgcontainer.topcontainermargin.col-md-12
        div.outer-image-wrapper.center-section
            div.inner-image-wrapper.center-section
                img(ng-if="vm.model.userdata.profileImage", ng-src="{{vm.model.userdata.profileImage}}", width="70")
                img(ng-if="!vm.model.userdata.profileImage", src="../../../../src/assets/images/css/ic-profile-copy-2.png", width="70")
        div
            div.imgtitle.col-md-10.col-md-offset-1.no-gutter(ng-hide="vm.model.isPreferredNamePresent") {{vm.model.userdata.firstname}} {{vm.model.userdata.lastname}}
                div.newinlineeditcontainer.pointer(ng-click="vm.model.editProfile()")
            div.imgtitle.col-md-10.col-md-offset-1.no-gutter(ng-show="vm.model.isPreferredNamePresent") {{vm.model.userdata.preferredname}}
                div.newinlineeditcontainer.pointer(ng-click="vm.model.editProfile()")
                
        div.col-md-12
            div.col-md-offset-1.col-md-10.accountid.no-gutter Account ID
                span.accountidnumber {{vm.model.userdata.accountID}}
    div.nav-buttons-section(ng-hide="vm.isDistributor")
        div.col-sm-12.m-t-2
            div.col-sm-6.text-center.nav-buttons.nav-buttons-personal.no-gutter
                button.fullWidth.button-personal(ng-class="{'selected-tab': vm.model.isPersonalSelected}", ng-click="vm.model.isPersonalSelected=true; vm.goToUrl('/accountsettingspersonalpage')")
                    p.small.m-b-0.text-uppercase Personal
            div.col-sm-6.text-center.nav-buttons.nav-buttons-business.no-gutter
                button.fullWidth.button-business(ng-click="vm.model.isPersonalSelected=false; vm.model.loadBusinessPage();  vm.goToUrl('/accountsettingsbusinesspage')")
                    p.small.m-b-0.text-uppercase Business
    div.col-md-12
        div.sectionline
    div.leftlinkcontainer.col-md-12
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'contact'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('contact')" ng-class="{'tabselected': vm.model.currentTab == 'contact'}") contact details
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'personal'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('personal')" ng-class="{'tabselected': vm.model.currentTab == 'personal'}") personal details
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'login'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('login')" ng-class="{'tabselected': vm.model.currentTab == 'login'}") login preferences
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'billing'}" class="delete-button-tab")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('billing')" ng-class="{'tabselected': vm.model.currentTab == 'billing'}") billing information
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'shipping'}" class="delete-button-tab")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('shipping')" ng-class="{'tabselected': vm.model.currentTab == 'shipping'}") shipping preferences
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'communication'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('communication')" ng-class="{'tabselected': vm.model.currentTab == 'communication'}") communication preferences
        div.leftlinks(ng-hide="vm.isDistributor")
            div(ng-class="{'tabselected': vm.model.currentTab == 'family'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('family')" ng-class="{'tabselected': vm.model.currentTab == 'family'}") family accounts
        div.leftlinks
            div(ng-class="{'tabselected': vm.model.currentTab == 'privacy'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('privacy')" ng-class="{'tabselected': vm.model.currentTab == 'privacy'}") privacy preferences
        div.leftlinks(ng-hide="vm.isDistributor")
            div(ng-class="{'tabselected': vm.model.currentTab == 'branded'}")
            a.leftanchor(href="#/accountsettingspersonalpage" ng-click="vm.model.loadTab('branded')" ng-class="{'tabselected': vm.model.currentTab == 'branded'}") my branded story
