div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
	div.text-section.center-section.text-center
		div.heading-section
			span Add Family Accounts
		div.desc-section
			p Want to share your personal shopping account with friends and family ? Send them an invitation to join your account.
div.modal-body
	div.text-section.text-center(ng-init="ctrl.isHiddenTextSection = false;")
		p.small.center-section.desc-section.text-center Friends and family on your shared account will use your billing details by default, so choose wisely! As the account holder, you'll retain administrative priveledges
		div.hidden-section(ng-show="ctrl.isHiddenTextSection")
			p.small.row
				span.point-heading.col-sm-2 1
				span.point-heading.col-sm-1.no-gutter.separator-line-section |
				span.col-sm-9.no-gutter-left To remove an associate from your account, call Customer Service.

			p.small.row
				span.point-heading.col-sm-2 2
				span.point-heading.col-sm-1.no-gutter.separator-line-section |
				span.col-sm-9.no-gutter-left To remove an associate from your account, call Customer Service.

			p.small.row
				span.point-heading.col-sm-2 3
				span.point-heading.col-sm-1.no-gutter.separator-line-section |
				span.col-sm-9.no-gutter-left To remove an associate from your account, call Customer Service.

		p.small.see-more-section.text-center
			span.pointer(ng-if="!ctrl.isHiddenTextSection", ng-click="ctrl.isHiddenTextSection = !ctrl.isHiddenTextSection") See More
			span.pointer(ng-if="ctrl.isHiddenTextSection", ng-click="ctrl.isHiddenTextSection = !ctrl.isHiddenTextSection") See Less

	div.form-section
		form(name="form.formInviteSection", novalidate, ng-init="ctrl.credentials = {};", form-submit="ctrl.sendInvite(form.formInviteSection.$valid);" controller="vm")
			div.m-b-1
				div
					label First Name
				div
					input.form-control.m-b-0(type="text", ng-model="ctrl.model.firstname", name="firstname", ng-required="true" ng-class="{'ng-touched': form.formInviteSection.$submitted}")
					div.error-block(ng-messages="form.formInviteSection.firstname.$error", ng-show="((form.formInviteSection.firstname.$touched) || (form.formInviteSection.$submitted))")
						div(ng-message="required") First name should be entered.
			div.m-b-1
				div
					label Last Name
				div
					input.form-control.m-b-0(type="text", ng-model="ctrl.model.lastname", name="lastname", ng-required="true", ng-class="{'ng-touched': form.formInviteSection.$submitted}")
					div.error-block(ng-messages="form.formInviteSection.lastname.$error", ng-show="((form.formInviteSection.lastname.$touched) || (form.formInviteSection.$submitted))")
						div(ng-message="required") Last name cannot be left blank.
			div.m-b-1
				div
					email-phone(credentials='ctrl.credentials', is-email ='true', title="Email", is-required='true', ng-class="{'ng-touched': form.formInviteSection.$submitted}" is-submitted="form.formInviteSection.$submitted")
			//- Keeping this code commented for future release
			//- div.m-b-1
			//- 	div
			//- 		label Mobile Phone
			//- 	div
			//- 		input.form-control.m-b-0(type="text", ng-model="ctrl.model.mobilephone", name="mobilephone", ng-required="ctrl.model.contactpref == ctrl.mobilePhoneValue", ui-mask="(999) 999-9999" ng-class="{'ng-touched': form.formInviteSection.$submitted}")
			//- 		div.error-block(ng-messages="form.formInviteSection.mobilephone.$error", ng-show="((form.formInviteSection.mobilephone.$touched) || (form.formInviteSection.$submitted))")
			//- 			div(ng-message="required") A mobile number is required.

			//- div(ng-init="ctrl.model.contactpref = ctrl.emailValue")
			//- 	div
			//- 		label Contact Preference
			//- 	div.row
			//- 		div.radio.col-sm-6
			//- 			input(type='radio', name="contactpreference", ng-value="ctrl.emailValue", ng-model='ctrl.model.contactpref')
			//- 			label Email
			//- 		div.radio.col-sm-6.m-t-0
			//- 			input(type='radio', name="contactpreference", ng-value="ctrl.mobilePhoneValue", ng-model='ctrl.model.contactpref')
			//- 			label Mobile Phone
			div.button-section.m-t-2
				div
					button.btn.btn-primary(type="submit", ng-click="ctrl.credentials.isSubmitted = true;")
						span.text-uppercase Send Invite 
				div
					button.btn.btn-primary-outline.fullWidth(type="button", ng-click="ctrl.cancel();")
						span.text-uppercase Cancel