div.accsettingsdetailcontainer.center-sectionp
    div.contactcontainer(ng-hide="vm.model.showLoginForm")
        div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10 Login preferences
        div.form-group.row
            div.slabeloverview.col-sm-5 Username
            div.col-sm-7 
              div.sectiontext.break-long-text {{vm.model.loginPref.username}}
              div.resend-email-section(ng-if="!vm.isEmailAddressValidated")
                p.small.m-b-0.pointer(ng-click="vm.emailUsernameVerification('login', vm.passwordCredentials.userEmailField, false)") Resend Email
        div.email-not-verified-section.m-b-1(ng-if="!vm.isEmailAddressValidated")
          div.email-not-verified-heading
            span This email has not been verified yet.
          div.email-not-verified-desc.m-t-1
            span Please check your inbox and click the URL link to verify this account.
        div.form-group.row
            div.slabeloverview.col-sm-6 Password
            div.sectiontext.col-sm-6(ng-show="vm.model.loginPref.passwordDisplay") {{vm.model.loginPref.passwordDisplay}}
            div.notspecified.col-sm-6(ng-hide="vm.model.loginPref.passwordDisplay") not specified

    div.overviewform.signupform(ng-show="vm.model.showLoginForm")
      form.m-t-0(name="vm.loginprefform" novalidate controller="vm" form-submit="vm.saveLoginPref()")
            div.form-group.row.hidden-sm-down
              div.sectiontitle.col-sm-10.no-gutter Login preferences
            fieldset
              .form-group
                email-phone(credentials='vm.passwordCredentials', is-email ='true', title="Username", is-required='true', is-submitted = 'vm.loginprefform.$submitted')
                div.common-username-email-text.p-b-1 Email address in contact details will also be changed. Only specify an email type username. 
                password-pattern(credentials='vm.passwordCredentials' is-required="false")
              div.form-group.m-b-2
                div.form-group.col-sm-12.no-gutter.no-margin-bottom.hidden-md-up
                  div.col-sm-12.no-gutter
                    button.btn.btn-primary.btn-save.col-sm-12(type='button', ng-click="vm.emailUsernameVerification('login', vm.passwordCredentials.userEmailField, true)") SAVE
                  div.col-sm-12.no-gutter
                    button.btn.btn-block.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelLoginPref()') CANCEL
                div.form-group.row.no-margin-bottom.hidden-sm-down
                  div.col-md-6
                    button.btn.btn-primary.btn-save.col-lg-12(type='button', ng-click="vm.emailUsernameVerification('login', vm.passwordCredentials.userEmailField, true)") SAVE
                  div.col-md-6
                    button.btn.btn-block.btn-primary-outline.col-lg-12(type='button', ng-click='vm.model.cancelLoginPref()') CANCEL  
           

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showLoginForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.showLoginForm = true")
            div.inlineedit
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.showLoginForm = true") Edit
