div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.closeAndInvokeSave();")
div.modal-body
	div.heading-section
		span Oops!
	div.desc-section 
		p Looks like the username is already in use. We will change your contact details only.
	div.resend-section
		button.btn.btn-primary(ng-click="ctrl.closeAndInvokeSave()")
			span OK
		