div.accsettingsdetailcontainer.center-sectionp

    div.text-center.convert-to-business-section.hidden-sm-down(ng-if="!vm.isDistributor")
        div.small-heading
            h5.pointer(ng-click="vm.showBusinessDistributorForm = true;") Become a distributor
        div.m-t-1
            p.small To uncover greater opportunities with Nu Skin.
        div.toggle-hidden-section(align="left", ng-show="vm.accountDetailsHiddenSection")
            div.toggle-wrapper
                div.text-section
                    p.small.m-b-0.small-text-section Lorem ipsum dolr sit amet Lorem ipsum dolr sit amet
                div.text-section
                    p.small.m-b-0.small-text-section Lorem ipsum dolr sit amet Lorem ipsum dolr sit amet
        div.see-more-section
            h5.m-b-0.pointer.lowercase(ng-click="vm.accountDetailsHiddenSection = !vm.accountDetailsHiddenSection") 
                span(ng-if="!vm.accountDetailsHiddenSection") See More 
                span(ng-if="vm.accountDetailsHiddenSection") See Less
    
.convert-wrapper-contact.clearfix.col-sm-12.no-gutter.hidden-sm-down(ng-if="!vm.isDistributor")

.accsettingsdetailcontainer.center-sectionp
    div.contactcontainer(ng-hide="vm.model.showContactForm")
        div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10 contact details
        div.form-group.row
            div.slabeloverview.col-sm-6 Mobile Phone
            div.sectiontext.col-sm-6(ng-show="vm.model.contact.mobilePhoneInput") {{vm.model.contact.mobilePhoneInputDisplay}}
            div.notspecified.col-sm-6(ng-hide="vm.model.contact.mobilePhoneInput") not specified
        div.form-group.row
            div.slabeloverview.col-sm-5 Email Address
            div.col-sm-7(ng-show="vm.model.contact.email") 
            div.sectiontext.break-long-text {{vm.model.contact.email}}
            div.notspecified.col-sm-6(ng-hide="vm.model.contact.email") not specified
        div.row(ng-show="vm.model.contact.streetAddress")
            div.slabeloverview.col-sm-6 Address
            div.sectiontext.col-sm-6 {{vm.model.contact.streetAddress}} {{vm.model.contact.streetAddress2}},
            div.notspecified.col-sm-6(ng-hide="vm.model.contact.streetAddress || vm.model.contact.city || vm.model.contact.state || vm.model.contact.zip") not specified
        div.form-group.row(ng-show="vm.model.contact.city || vm.model.contact.state || vm.model.contact.zip")
            div.slabeloverview.col-sm-6
            div.sectiontext.col-sm-6 {{vm.model.contact.city}}, {{vm.model.contact.state}} {{vm.model.contact.zipcode}}

    
           
    div.overviewform.signupform(ng-show="vm.model.showContactForm")
        form.m-t-0(name="vm.contactform" novalidate controller="vm")        
            div.row.hidden-sm-down
                div.sectiontitle.col-sm-10.form-group contact details
            fieldset
                div.form-group.m-b-2 {{vm.credentials.userPhoneField}}
                  email-phone(credentials='vm.credentials.phoneComponent', is-phone ='true', title="Mobile Phone Number", is-required='true')
                div.form-group.m-b-2 {{vm.credentials.userEmailField}}
                   email-phone(credentials='vm.credentials.emailComponent', is-email ='true', title="Email", is-required='true' blur-method="vm.onBlurCheckMail")
                   //- div.common-username-email-text Email address in login preferences will also be changed. Only specify an email type username.
                div.form-group.m-b-2
                    label.form-label(for='address1') Street Address 1
                    input#address1.form-control.m-b-0(type='text', name="streetAddress" ng-model='vm.model.contact.streetAddress' required ng-class="{'ng-touched': vm.contactform.$submitted}")
                    div.form-group.error-block(ng-show="(vm.contactform.streetAddress.$touched && vm.contactform.streetAddress.$error.required) || (vm.contactform.streetAddress.$dirty && vm.contactform.streetAddress.$error.required) || (vm.contactform.$submitted  && vm.contactform.streetAddress.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    label.form-label(for='address2') Street Address 2
                    input#address2.form-control(type='text', name="streetAddress2" ng-model='vm.model.contact.streetAddress2')
                div.form-group.m-b-2
                    label.form-label(for='city') City
                    input#city.form-control.m-b-0(type='text', name="city" ng-model='vm.model.contact.city' required ng-class="{'ng-touched': vm.contactform.$submitted}" allow-pattern="alphabets-only")
                    div.form-group.error-block(ng-show="(vm.contactform.city.$touched && vm.contactform.city.$error.required) || (vm.contactform.city.$dirty && vm.contactform.city.$error.required) || (vm.contactform.$submitted  && vm.contactform.city.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    div.col-sm-6.no-gutter
                        label.form-label(for='state') State
                    div.col-sm-6
                        label.form-label(for='zipcode') ZIP
                    div.stateselect.col-sm-6.no-gutter-left.select-wrapper.m-b-2
                        select#state.form-control.m-b-0(name="state" ng-model='vm.model.contact.state' ng-options="state.abbreviation as state.name for state in vm.model.stateList" required ng-class="{'ng-touched': vm.contactform.$submitted}")
                            option(value='', disabled='')
                        div.form-group.error-block(ng-show="(vm.contactform.state.$touched && vm.contactform.state.$error.required) || (vm.contactform.state.$dirty && vm.contactform.state.$error.required) || (vm.contactform.$submitted  && vm.contactform.state.$error.required)") Please enter the value for this field.

                    div.col-sm-6.no-gutter-right.m-b-2
                        input#zipcode.form-control.m-b-0(type='tel', name="zipcode" ng-model='vm.model.contact.zipcode' required ng-class="{'ng-touched': vm.contactform.$submitted}" zip-mask maxlength="10")
                        div.form-group.error-block(ng-show="((vm.contactform.zipcode.$touched && vm.contactform.zipcode.$error.required) || (vm.contactform.zipcode.$dirty && vm.contactform.zipcode.$error.required) || (vm.contactform.$submitted  && vm.contactform.zipcode.$error.required) || (vm.contactform.zipcode.$touched && !vm.model.contact.zipcode) || (vm.contactform.$submitted && !vm.model.contact.zipcode))") Please enter the value for this field.
                        div.error-block( ng-show="((vm.model.contact.zipcode.length<5) || (vm.model.contact.zipcode.length>5 && vm.model.contact.zipcode.length <10))") Please enter a valid zip code. 
                div.row.hidden-md-up
                      div.col-sm-12
                          button.btn.btn-primary.btn-block.btn-save(type='button', ng-click="vm.emailUsernameVerification('contact', vm.credentials.emailComponent.userEmailField, true)") SAVE
                      div.col-sm-12
                          button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelContact()') CANCEL
                div.row.hidden-sm-down
                      div.col-md-6
                          button.btn.btn-primary.btn-block.btn-save(type='button', ng-click="vm.emailUsernameVerification('contact', vm.credentials.emailComponent.userEmailField, true)") SAVE
                      div.col-md-6
                          button.btn.btn-primary-outline.btn-block(type='button', ng-click='vm.model.cancelContact()') CANCEL

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showContactForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.showContactForm = true")
            div.inlineedit
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.showContactForm = true") Edit

div.convert-wrapper.col-sm-12.no-gutter.clearfix.hidden-sm-down