div.accsettingsdetailcontainer.center-sectionp
    div.contactcontainer.clearfix(ng-hide="vm.model.showPrivacyForm")
        div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10 Privacy Preferences
        div.checkboxwrapper.row
              div.col-sm-12.no-gutter
                div.checkboxline
                  div.bluetick(ng-show="vm.model.privacy.showInfoContact")
                div.privacytextcontainer
                  label.privacytextreadonly Show my contact information to everyone (phone, address, email)
              div.col-sm-12.no-gutter
                div.checkboxline
                  div.bluetick(ng-show="vm.model.privacy.showInfoBluediamond")
                div.privacytextcontainer
                  label.privacytextreadonly Show my contact information up to my first upline Blue Diamond
              div.col-sm-12.no-gutter
                div.checkboxline
                  div.bluetick(ng-show="vm.model.privacy.showInfoPersonal")
                div.privacytextcontainer
                  label.privacytextreadonly Show personal information family members
              div.line.col-sm-12(ng-hide="vm.isDistributor")
              div.col-sm-12.no-gutter(ng-hide="vm.isDistributor")
                div.checkboxline
                  div.bluetick(ng-show="vm.model.privacy.showInfoSponser")
                div.privacytextcontainer
                  label.privacytextreadonly Allow me to be visible in sponsered search
              div.col-sm-12.no-gutter(ng-hide="vm.isDistributor")
                div.checkboxline
                  div.bluetick(ng-show="vm.model.privacy.showInfoScanner")
                div.privacytextcontainer.tooltipwrapper
                  label.privacytextreadonly Allow me to be visible in scanner locator
                    button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      span Info
                    .dropdown-menu(aria-labelledby='dropdownLogin')
                      p.dropdown-title
                        | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                      p.dropdown-content
                        | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text



    div.overviewform.signupform.privacy-wrapper(ng-show="vm.model.showPrivacyForm")
      form.nomargin.col-sm-12(name="vm.privacyform" novalidate form-submit='vm.model.savePrivacyPref()' controller="vm")
          div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10.no-gutter privacy preferences
          div.form-group.row
            div.col-sm-12.no-gutter
              div.col-sm-12.checkbox.no-gutter
                input(type="checkbox" id="contactcheck1" name="contactcheck1" ng-model="vm.model.privacy.showInfoContact" ng-change="vm.model.checkShowInfo()")
                label
                  .privacytext Show my contact information to everyone (phone, address, email)
            div.col-sm-12.no-gutter
              div.col-sm-12.checkbox.no-gutter
                input(type="checkbox" id="contactcheck2" name="contactcheck2" ng-model="vm.model.privacy.showInfoBluediamond")
                label
                  .privacytext Show my contact information up to my first upline Blue Diamond   
            div.col-sm-12.no-gutter
              div.col-sm-12.checkbox.no-gutter
                input(type="checkbox" id="contactcheck3" name="contactcheck3" ng-model="vm.model.privacy.showInfoPersonal")
                label
                  .privacytext Show personal information family members
            div.line.col-sm-12
            div.col-sm-12.no-gutter
              div.col-sm-12.checkbox.no-gutter
                input(type="checkbox" id="contactcheck4" name="contactcheck4" ng-model="vm.model.privacy.showInfoSponser")
                label.sm-section-width
                  .privacytext Allow me to be visible in sponsered search
            div.col-sm-12.no-gutter
              div.col-sm-12.tooltipwrapper.checkbox.no-gutter
                input(type="checkbox" id="contactcheck5" name="contactcheck5" ng-model="vm.model.privacy.showInfoScanner")
                label.sm-section-width
                  .privacytext Allow me to be visible in scanner locator
                    button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                      span Info
                    .dropdown-menu(aria-labelledby='dropdownLogin')
                      p.dropdown-title
                        | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                      p.dropdown-content
                        | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text          
            div.form-group.row
              div.col-sm-12.no-gutter.no-margin-bottom.hidden-md-up
                div.col-sm-12.no-gutter
                  button.btn.btn-primary.btn-save.col-sm-12(type='submit') SAVE
                div.col-sm-12.no-gutter
                  button.btn.btn-block.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelPrivacyPref()') CANCEL
              div.col-lg-12.no-gutter.no-margin-bottom.hidden-sm-down
                div.col-md-6
                  button.btn.btn-primary.btn-save.col-lg-12(type='submit') SAVE
                div.col-md-6
                  button.btn.btn-block.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelPrivacyPref()') CANCEL
           

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showPrivacyForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.showPrivacyForm = true")
            div.inlineedit
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.showPrivacyForm = true") Edit