div.accsettingsdetailcontainer.center-sectionp
    div.contactcontainer(ng-hide="vm.model.showPersonalForm")
        div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10 personal details
        div.form-group.row
            div.slabeloverview.col-sm-6 SSN#
            div.sectiontext.col-sm-6 {{vm.model.personalDetails.ssnDisplay}}
        div.form-group.row
            div.slabeloverview.col-sm-6 Gender
            div.sectiontext.col-sm-6 {{vm.model.personalDetails.gender}}
        div.form-group.row
            div.slabeloverview.col-sm-6 Date of Birth
            div.sectiontext.col-sm-6 {{vm.model.personalDetails.birthdate}}

    div.overviewform.signupform(ng-show="vm.model.showPersonalForm")
      form.nomargin(name="vm.personaldetailsform" novalidate form-submit='vm.model.savePersonalDetails()' controller="vm")
          div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10.no-gutter personal details
          fieldset
            div.form-group.m-b-2.row
                div.slabeloverview.col-sm-6 SSN#
                div.sectiontext.col-sm-6 {{vm.model.personalDetails.ssnDisplay}}
            div.form-group.m-b-2.row
              label.form-label.col-sm-12 Gender
              div.radio.col-sm-5.col-md-4
                  input(type='radio' id="gender1" name ="gender" value="Male" ng-model='vm.model.personalDetails.gender')
                  label(for="gender1") Male
              div.radio.col-sm-5.col-md-4
                  input(type='radio' id="gender2" name ="gender" value="Female" ng-model='vm.model.personalDetails.gender')
                  label(for="gender2") Female
              div.radio.col-md-4.col-sm-4
            birthday-picker.col-sm-12.m-b-2.no-gutter(day="vm.model.day" year="vm.model.year" month="vm.model.month")
            div.form-group.m-b-2.row
              div.no-margin-bottom.form-group.row.hidden-md-up
                div.col-sm-12
                  button.btn.btn-primary.btn-save.col-sm-12(type='submit') SAVE
                div.col-sm-12
                  button.btn.btn-primary-outline.btn-block.col-sm-12(type='button', ng-click='vm.model.cancelPersonalDetails()') CANCEL
              div.no-margin-bottom.form-group.hidden-sm-down
                div.col-md-6
                  button.btn.btn-primary.btn-save.col-lg-12(type='submit') SAVE
                div.col-md-6
                  button.btn.btn-primary-outline.btn-block.col-lg-12(type='button', ng-click='vm.model.cancelPersonalDetails()') CANCEL

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showPersonalForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.showPersonalForm = true")
            div.inlineedit
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.showPersonalForm = true") Edit
