div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.closeAndInvokeSave();")
div.modal-body
	div.heading-section
		span Are you sure ?
	div.desc-section 
		p Changing your {{ctrl.sourceProp}} will also change your {{ctrl.destiProp}}.
	div.resend-section
		button.btn.btn-primary(ng-click="ctrl.changeUsernameAndEmail()")
			span Yes (new loginname)
		button.btn.btn-primary(ng-click="ctrl.oopsPopupCreation()" ng-hide="ctrl.sourceProp == 'username'")
			span Yes (loginname already exists)	
		button.btn.btn-primary-outline.fullWidth(ng-click="ctrl.donotChangeUsername(false)")
			span No, Donot Change Both