div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.closeAndInvokeSave();")
div.modal-body
	div.heading-section
		span Verify your account
	div.desc-section
		p(ng-hide="!ctrl.isChangeUsername")
			span Both username as well as contact 
			span details have been changed.
		p
			span An email with a unique URL has been just sent to 
			span.email-section {{ctrl.emailAddress}}
			span . Please check your inbox and click the URL link to verify account.
	div.caution-section.p-b-2.m-b-2
		p
			span Don't recognize this email address? Contact Customer Service at 
			span.phone-section {{ctrl.phone}}&nbsp;
			span for further assistance.
	div.resend-section
		button.btn.btn-primary(ng-click="ctrl.resendEmail()")
			span Resend Email