.accsettingsdetailcontainer.center-sectionp
    
    div.billingcontainer(ng-hide="vm.model.showBillingForm")
        div.m-b-2.row.hidden-sm-down
            div.sectiontitle.col-sm-10.no-gutter billing information
        div.m-b-1.row(ng-repeat="billingentry in vm.model.billing track by billingentry.id")
            div.col-sm-2.no-gutter.creditcardimg
                img(ng-src="{{billingentry.ccImg}}")
            div.col-sm-8
                div.col-sm-12.no-gutter.userline.m-b-0
                    span.billingshapetext(ng-show="billingentry.isprimary") Primary
                    div.billingexpired(ng-show="billingentry.isexpired") Expired
                div.col-sm-12.no-gutter.addline {{billingentry.nameoncard}},
                div.col-sm-12.no-gutter.addline Ending in {{billingentry.ccNumberLastFour}}, Exp {{billingentry.cardexpiry}}
            div.col-sm-2.inlineeditbilling(ng-click="vm.model.loadBillingForm(false, billingentry.id)")
        
    
    div.overviewform.signupform(ng-show="vm.model.showBillingForm")
        form.nomargin(name="vm.billingform" novalidate form-submit="vm.model.saveBilling()" controller="vm")
            div.m-b-2.row.hidden-sm-down
                div.sectiontitle.col-sm-10 billing information
            fieldset.billingwidth.convert-to-business-section
                legend
                    span.billinglegend Billing Method
                div.form-group.m-b-2
                    label.form-label(for='ccname') Name on Card
                    input#ccname.form-control.m-b-0(type='text', name="ccname" ng-model='vm.model.currentbilling.nameoncard' required ng-class="{'ng-touched': vm.billingform.$submitted}")
                    div.form-group.error-block(ng-show="(vm.billingform.ccname.$touched && vm.billingform.ccname.$error.required) || (vm.billingform.ccname.$dirty && vm.billingform.ccname.$error.required) || (vm.billingform.$submitted  && vm.billingform.ccname.$error.required) || (vm.isAddForBillingClicked && vm.isSaveButtonClickedOnBilling && vm.billingform.ccname.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2.cardnumberafter
                    label.form-label(for='ccnumber') Card Number
                    input#ccnumber.form-control.m-b-0(ng-class="{'creditcardvisa': vm.model.currentbilling.ccTypeDetected == 'V', 'creditcardmaster': vm.model.currentbilling.ccTypeDetected == 'M', 'creditcarddiscover' : vm.model.currentbilling.ccTypeDetected == 'D', 'creditcardamex' : vm.model.currentbilling.ccTypeDetected == 'A', 'creditcardother': vm.model.currentbilling.ccTypeDetected == 'O', 'ng-touched': vm.billingform.$submitted }" ng-model='vm.model.currentbilling.cardnumberBinded', type='text', name='ccnumber', ng-change="vm.model.detectCardType()" maxlength="19" minlength="13" ng-keypress="vm.model.stopNumbers($event)" required)
                    div.form-group.error-block(ng-show="(vm.billingform.ccnumber.$touched && vm.billingform.ccnumber.$error.required) || (vm.billingform.ccnumber.$dirty && vm.billingform.ccnumber.$error.required) || (vm.billingform.$submitted  && vm.billingform.ccnumber.$error.required) || (vm.isAddForBillingClicked && vm.isSaveButtonClickedOnBilling && vm.billingform.ccnumber.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    label.form-label(for='ccexp') Card Expiration
                    input#ccexp.form-control.m-b-0(type='text', name="ccexp" ng-model='vm.model.currentbilling.cardexpiry' required ng-class="{'ng-touched': vm.billingform.$submitted || vm.model.showCCExpMonthError || vm.model.showCCExpYearError, 'ng-invalid': vm.model.showCCExpMonthError || vm.model.showCCExpYearError}" ui-mask="99/99" ng-blur="vm.model.checkCCMonth()")
                    div.form-group.error-block(ng-show="(vm.billingform.ccexp.$touched && vm.billingform.ccexp.$error.required) || (vm.billingform.ccexp.$dirty && vm.billingform.ccexp.$error.required) || (vm.billingform.$submitted  && vm.billingform.ccexp.$error.required) || (vm.isAddForBillingClicked && vm.isSaveButtonClickedOnBilling && vm.billingform.ccexp.$error.required)") Please enter the value for this field.
                    div.form-group.error-block(ng-show="(vm.billingform.ccexp.$touched && vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && !vm.model.showCCExpYearError) || (vm.billingform.ccexp.$dirty && vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && !vm.model.showCCExpYearError) || (vm.billingform.$submitted  && vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && !vm.model.showCCExpYearError)") Please enter valid month value for this field.
                    div.form-group.error-block(ng-show="(vm.billingform.ccexp.$touched && !vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && vm.model.showCCExpYearError) || (vm.billingform.ccexp.$dirty && !vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && vm.model.showCCExpYearError) || (vm.billingform.$submitted  && !vm.model.showCCExpMonthError && !vm.billingform.ccexp.$error.required && vm.model.showCCExpYearError)") Please enter valid year value for this field.
                
                
                div.toggle-address-section(ng-show="vm.model.hideBillingSection")
                    legend
                        span.billinglegend Billing Address
                    div.form-group.m-b-2
                        label.form-label(for='firstname') First Name
                        input#address1.form-control.m-b-0(type='text', name="firstname" ng-model='vm.model.currentbilling.firstname' required ng-class="{'ng-touched': vm.billingform.$submitted}")
                        div.form-group.error-block(ng-show="(vm.billingform.firstname.$touched && vm.billingform.firstname.$error.required) || (vm.billingform.firstname.$dirty && vm.billingform.firstname.$error.required) || (vm.billingform.$submitted  && vm.billingform.firstname.$error.required)") Please enter the value for this field.
                    div.form-group.m-b-2
                        label.form-label(for='lastname') Last Name
                        input#address1.form-control.m-b-0(type='text', name="lastname" ng-model='vm.model.currentbilling.lastname' required ng-class="{'ng-touched': vm.billingform.$submitted}")
                        div.form-group.error-block(ng-show="(vm.billingform.lastname.$touched && vm.billingform.lastname.$error.required) || (vm.billingform.lastname.$dirty && vm.billingform.lastname.$error.required) || (vm.billingform.$submitted  && vm.billingform.lastname.$error.required)") Please enter the value for this field.
                    div.form-group.m-b-2
                        label.form-label(for='address1') Address Line 1
                        input#address1.form-control.m-b-0(type='text', name="streetAddress" ng-model='vm.model.currentbilling.streetAddress' required ng-class="{'ng-touched': vm.billingform.$submitted}")
                        div.form-group.error-block(ng-show="(vm.billingform.streetAddress.$touched && vm.billingform.streetAddress.$error.required) || (vm.billingform.streetAddress.$dirty && vm.billingform.streetAddress.$error.required) || (vm.billingform.$submitted  && vm.billingform.streetAddress.$error.required)") Please enter the value for this field.
                    div.form-group.m-b-2
                        label.form-label(for='address2') Address Line 2
                        input#address2.form-control(type='text', name="streetAddress2" ng-model='vm.model.currentbilling.streetAddress2')
                    div.form-group.m-b-2
                        label.form-label(for='city') City
                        input#city.form-control.m-b-0(type='text', name="city" ng-model='vm.model.currentbilling.city' required ng-class="{'ng-touched': vm.billingform.$submitted}")
                        div.form-group.error-block(ng-show="(vm.billingform.streetAddress.$touched && vm.billingform.streetAddress.$error.required) || (vm.billingform.streetAddress.$dirty && vm.billingform.streetAddress.$error.required) || (vm.billingform.$submitted  && vm.billingform.streetAddress.$error.required)") Please enter the value for this field.
                    div.form-group.m-b-2
                        div.col-sm-6.no-gutter
                            label.form-label(for='state') State
                        div.col-sm-6
                            label.form-label(for='zipcode') ZIP
                        div.stateselect.col-sm-6.no-gutter-left.select-wrapper.m-b-2
                            select#state.form-control.m-b-0(name="state" ng-model='vm.model.currentbilling.state' ng-options="state.abbreviation as state.name for state in vm.model.stateList" required ng-class="{'ng-touched': vm.adddressform.$submitted}")
                                option(value='', disabled='')
                            div.form-group.error-block(ng-show="(vm.billingform.state.$touched && vm.billingform.state.$error.required) || (vm.billingform.state.$dirty && vm.billingform.state.$error.required) || (vm.billingform.$submitted  && vm.billingform.state.$error.required)") Please enter the value for this field.
                        div.col-sm-6.no-gutter-right.m-b-2
                            input#zipcode.form-control.m-b-0(type='text', name="zipcode" ng-model='vm.model.currentbilling.zipcode' required ng-class="{'ng-touched': vm.billingform.$submitted}" maxlength="10" zip-mask)
                            div.form-group.error-block(ng-show="(vm.billingform.zipcode.$touched && vm.billingform.zipcode.$error.required) || (vm.billingform.zipcode.$dirty && vm.billingform.zipcode.$error.required) || (vm.billingform.$submitted  && vm.billingform.zipcode.$error.required) || (vm.isAddForBillingClicked && vm.isSaveButtonClickedOnBilling && vm.billingform.zipcode.$error.required)") Please enter the value for this field.
                            div.form-group.error-block(ng-show="(vm.billingform.zipcode.$touched && vm.billingform.zipcode.$error.maxlength) || (vm.billingform.zipcode.$dirty && vm.billingform.zipcode.$error.maxlength) || (vm.billingform.$submitted  && vm.billingform.zipcode.$error.maxlength) || ((vm.model.currentbilling.zipcode.length<5) || (vm.model.currentbilling.zipcode.length>5 && vm.model.currentbilling.zipcode.length <10))") Please enter a valid zip code

                div
                    div.checkbox.isprimarycheckbox
                        input#primarycheckbox.row(type='checkbox' ng-model='vm.model.currentbilling.isprimary' name="primarycheckbox")
                        label.form-label Preferred Card

                div.form-group.m-b-2(ng-click="vm.model.hideBillingSection = !vm.model.hideBillingSection")
                    div.inlineedittext.p-t-0.p-b-0(ng-show="vm.model.hideBillingSection") Hide Billing Address
                    div.inlineedittext.p-t-0.p-b-0(ng-hide="vm.model.hideBillingSection") Show Billing Address

                div.m-t-2.m-b-2(ng-show="vm.model.showBillingForm && !vm.isAddForBillingClicked")
                    div.gray-border-section.delete-button-section.text-center.p-t-1.p-b-1
                        span.text-uppercase.pointer(ng-click="vm.openDeleteConfirmationPopup(vm.model.currentbilling.id, 'billing')") Delete

                div.row.hidden-md-up
                    div.col-sm-12
                        button.btn.btn-primary.btn-block.btn-save(type='button', ng-click="vm.model.saveBilling(vm.billingform.$valid); vm.isSaveButtonClickedOnBilling = true;") SAVE
                    div.col-sm-12
                        button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelBilling(); vm.isSaveButtonClickedOnBilling = false;') GO BACK
                div.row.hidden-sm-down.m-t-2.accsettingsdetailcontainer
                    div.col-md-6(screen-width, ng-class="{'no-gutter-left': width >= 1024}")
                        button.btn.btn-primary.btn-block.btn-save(type='button', ng-click="vm.model.saveBilling(vm.billingform.$valid); vm.isSaveButtonClickedOnBilling = true;") SAVE
                    div.col-md-6(screen-width, ng-class="{'no-gutter-right': width >= 1024}")
                        button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelBilling(); vm.isSaveButtonClickedOnBilling = false;') GO BACK

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showBillingForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.loadBillingForm(true)")
            div.addsign
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.loadBillingForm(true); vm.isAddForBillingClicked = true;") Add