div.accsettingsdetailcontainer.center-sectionp
    div.sponsercontainer.col-sm-12.no-gutter
        div.col-sm-12.no-gutter
            div.sectiontitle.col-sm-10.no-gutter.sponsertitlemain(ng-hide="vm.isDistributor") sponsor
            div.sectiontitle.col-sm-10.no-gutter.sponsertitlemain(ng-show="vm.isDistributor") account holder
        div.sponsersubcontainer.col-sm-12.no-gutter
            div.col-sm-3.no-gutter.col-lg-2.outer-image-wrapper.center-section
                div.inner-image-wrapper.center-section
                    img(ng-src="{{vm.model.sponser.image}}")
            div.col-sm-9.no-gutter.col-lg-9(ng-class="{'sponsermargin':vm.isDistributor}")
                div.sponsertitle {{vm.model.sponser.firstname}} {{vm.model.sponser.lastname}}
                div.sponserdetails 
                    span.pull-left {{vm.model.sponser.mobilePhoneInput}} 
                    span.sponserseparator.pull-left
                    span.pull-left {{vm.model.sponser.email}}
        div.sponsersubcontainer.col-sm-12.no-gutter
            div.col-sm-3.no-gutter.col-lg-2.outer-image-wrapper
            div.col-sm-9.no-gutter.col-lg-9(ng-class="{'sponsermargin':vm.isDistributor}")
                div.sponserbusiness(ng-hide="vm.isDistributor")
                    div.slabeloverview Business Name
                    div.sectionsponsertext {{vm.model.sponser.businessname}}  