div.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
div.modal-body
	div.clearfix
		div.pull-left.profile-section
			img(ng-if="ctrl.model.profileImage", ng-src="{{ctrl.model.profileImage}}", alt="Profile Image", width="80", height="80")
			img(ng-if="!ctrl.model.profileImage", src="../../../../src/assets/images/css/ic-profile-copy-2.png", alt="Profile Image", width="80", height="80")

		div.pull-right.action-section.pull-right
			div
				button.upload-button.action-buttons(type="file", accept="image/*", ngf-select="ctrl.uploadFiles($files)", ng-model="ctrl.files")
					div.upload-photo-section.pointer
						p.small.text-uppercase Upload Photo
			div
				button.remove-button.action-buttons(type="button" ng-click="ctrl.model.profileImage && ctrl.removeProfilePhoto();")
					div.remove-photo-section(ng-class="{'no-profile-photo-uploaded': !ctrl.model.profileImage, 'pointer': ctrl.model.profileImage}")
						p.small.text-uppercase Remove Photo
	div.profile-text-section(ng-if="ctrl.model.accountType.name == 'distributor'")
		p.small By uploading a photo you agree to share it on your Storefront.

	div.error-section(ng-if="ctrl.fileUploadErrorResponse || ctrl.uploadRemoveErrorResponse.message || ctrl.sizeLimitError")
		p.small.margin0 
			span(ng-if="ctrl.fileUploadErrorResponse.message") {{ctrl.fileUploadErrorResponse.message}}
			span(ng-if="ctrl.uploadRemoveErrorResponse.message") {{ctrl.uploadRemoveErrorResponse.message}}
			span(ng-if="ctrl.sizeLimitError") Your photos couldn't be uploaded. Photos should be less than 2MB and saved as PNG, JPG, GIF or TIFF files.

	div.file-upload-form-section
		form.form(name="form.formFileUpload", novalidate)
			div.m-b-1
				div
					label First Name
				div
					input.form-control.m-b-0(type="text", ng-model="ctrl.model.firstname", name="firstname", ng-required="true")
					div.error-block(ng-messages="form.formFileUpload.firstname.$error", ng-show="((form.formFileUpload.firstname.$touched) || (form.formFileUpload.$submitted))")
						div(ng-message="required") First name should be entered.
			div.m-b-1
				div
					label Last Name
				div
					input.form-control.m-b-0(type="text", ng-model="ctrl.model.lastname", name="lastname", ng-required="true")
					div.error-block(ng-messages="form.formFileUpload.lastname.$error", ng-show="((form.formFileUpload.lastname.$touched) || (form.formFileUpload.$submitted))")
						div(ng-message="required") Last name cannot be left blank.

			div.m-b-1
				div
					label Preferred
				div
					input.form-control.m-b-0(type="text", ng-model="ctrl.model.preferredname", name="preferred")


			div.button-section.m-t-2
				div
					button.btn.btn-primary(type="submit", ng-click="ctrl.saveFileUpload(form.formFileUpload.$valid)")
						span.text-uppercase Save 
				div
					button.btn.btn-primary-outline.fullWidth(type="button", ng-click="ctrl.cancel();")
						span.text-uppercase Cancel