extends ../../../layouts/base-layout-header.jade

block contentmain
    div.accountsettingsp(ng-init='vm.model.init()')
        div.col-sm-12.no-gutter
            page-level-error-component.success-component(ng-if="vm.model.isEmailUpdated", success-type="vm.model.isEmailUpdated", success-message="vm.model.successMsg")
            div.accounttopbannerouter.col-sm-12.no-gutter.hidden-sm-down
                div.accounttopbannerinner
                    div.topbannertitle account settings
            div.clearfix.section-wrapper
                div.leftpanel.hidden-sm-down.no-gutter
                    include account.settings.personal.leftcontainer.jade
                div.rightpanel.no-gutter
                    include account.settings.personal.rightcontainer.jade
