.modal-header
	div.clearfix
		div.pointer.cross-icon.pull-right(ng-click="ctrl.cancel();")
.modal-body
	.m-b-2 Are you sure you want to permanently remove this card from your list? {{data}}
	.m-b-2
		div
			button.btn.btn-primary.m-b-1(ng-click='ctrl.deleteCard()') YES - DELETE CARD
			button.btn.btn-primary-outline.fullWidth.font-weight-normal(ng-click='ctrl.cancel()') NO - CANCEL
