.accsettingsdetailcontainer.center-sectionp
    
    div.shippingcontainer(ng-hide="vm.model.showShippingForm")
        div.m-b-2.row.hidden-sm-down
            div.sectiontitle.col-sm-10 shipping preferences
        div.m-b-2.row(ng-repeat="shippingentry in vm.model.shipping track by shippingentry.id")
            div.col-sm-10
                div.col-sm-12.no-gutter.userline {{shippingentry.firstname}} {{shippingentry.lastname}}
                    span.shippingshapetext(ng-show="shippingentry.isprimary") Primary
                div.col-sm-12.no-gutter.addline {{shippingentry.streetAddress}} {{shippingentry.streetAddress2}}
                div.col-sm-12.no-gutter.addline {{shippingentry.city}} {{shippingentry.state}} {{shippingentry.zipcode}}
                div.col-sm-12.no-gutter.addline {{shippingentry.country}}
            div.col-sm-2.inlineeditshipping(ng-click="vm.model.loadShippingForm(false, shippingentry.id);")
        
    
    div.overviewform.signupform(ng-show="vm.model.showShippingForm")
        form.nomargin(name="vm.shippingform" novalidate form-submit="vm.model.saveShipping()" controller="vm")
            div.m-b-2.row.hidden-sm-down
                div.sectiontitle.col-sm-10 shipping preferences
            fieldset
                div.form-group.m-b-2
                    label.form-label(for='firstname') First Name
                    input#address1.form-control.m-b-0(type='text', name="firstname" ng-model='vm.model.currentshipping.firstname' required ng-class="{'ng-touched': vm.shippingform.$submitted}")
                    div.form-group.error-block(ng-show="(vm.shippingform.firstname.$touched && vm.shippingform.firstname.$error.required) || (vm.shippingform.firstname.$dirty && vm.shippingform.firstname.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.firstname.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    label.form-label(for='lastname') Last Name
                    input#address1.form-control.m-b-0(type='text', name="lastname" ng-model='vm.model.currentshipping.lastname' required ng-class="{'ng-touched': vm.shippingform.$submitted}")
                    div.form-group.error-block(ng-show="(vm.shippingform.lastname.$touched && vm.shippingform.lastname.$error.required) || (vm.shippingform.lastname.$dirty && vm.shippingform.lastname.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.lastname.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    label.form-label(for='address1') Address Line 1
                    input#address1.form-control.m-b-0(type='text', name="streetAddress" ng-model='vm.model.currentshipping.streetAddress' required ng-class="{'ng-touched': vm.shippingform.$submitted}")
                    div.form-group.error-block(ng-show="(vm.shippingform.streetAddress.$touched && vm.shippingform.streetAddress.$error.required) || (vm.shippingform.streetAddress.$dirty && vm.shippingform.streetAddress.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.streetAddress.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    label.form-label(for='address2') Address Line 2
                    input#address2.form-control(type='text', name="streetAddress2" ng-model='vm.model.currentshipping.streetAddress2')
                div.form-group.m-b-2
                    label.form-label(for='city') City
                    input#city.form-control.m-b-0(type='text', name="city" ng-model='vm.model.currentshipping.city' required ng-class="{'ng-touched': vm.shippingform.$submitted}" allow-pattern="alphabets-only")
                    div.form-group.error-block(ng-show="(vm.shippingform.city.$touched && vm.shippingform.city.$error.required) || (vm.shippingform.city.$dirty && vm.shippingform.city.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.city.$error.required)") Please enter the value for this field.
                div.form-group.m-b-2
                    div.col-sm-6.no-gutter
                        label.form-label(for='state') State
                    div.col-sm-6
                        label.form-label(for='zipcode') ZIP
                    div.stateselect.col-sm-6.no-gutter-left.select-wrapper.m-b-1
                        select#state.form-control.m-b-0(name="state" ng-model='vm.model.currentshipping.state' ng-options="state.abbreviation as state.name for state in vm.model.stateList" required ng-class="{'ng-touched': vm.shippingform.$submitted}")
                            option(value='', disabled='')
                        div.form-group.error-block(ng-show="(vm.shippingform.state.$touched && vm.shippingform.state.$error.required) || (vm.shippingform.state.$dirty && vm.shippingform.state.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.state.$error.required)") Please enter the value for this field.

                    div.col-sm-6.no-gutter-right.m-b-1
                        input#zipcode.form-control.m-b-0(type='text', name="zipcode" ng-model='vm.model.currentshipping.zipcode' required ng-class="{'ng-touched': vm.shippingform.$submitted}" zip-mask maxlength="10")
                        div.form-group.error-block(ng-show="(vm.shippingform.zipcode.$touched && vm.shippingform.zipcode.$error.required) || (vm.shippingform.zipcode.$dirty && vm.shippingform.zipcode.$error.required) || (vm.shippingform.$submitted  && vm.shippingform.zipcode.$error.required)") Please enter the value for this field.
                        div.error-block( ng-show="((vm.model.currentshipping.zipcode.length<5) || (vm.model.currentshipping.zipcode.length>5 && vm.model.currentshipping.zipcode.length <10))") Please enter a valid zip code. 

                div
                    div.checkbox.isprimarycheckbox
                        input#primarycheckbox.row(type='checkbox' ng-model='vm.model.currentshipping.isprimary' name="primarycheckbox")
                        label.form-label Preferred Address

                div.m-b-2(ng-show="!vm.model.isAddShipping")
                    div.gray-border-section.delete-button-section.text-center.p-t-1.p-b-1
                        span.text-uppercase.pointer(ng-click="vm.openDeleteConfirmationPopup(vm.model.currentshipping.id, 'shipping')") Delete

                div.row.hidden-md-up
                    div.col-sm-12.col-lg-6
                        button.btn.btn-primary.btn-block.btn-save(type='submit') SAVE
                    div.col-sm-12.col-lg-6
                        button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelShipping();') GO BACK
                 div.row.hidden-sm-down
                    div.col-md-6
                        button.btn.btn-primary.btn-block.btn-save(type='submit') SAVE
                    div.col-md-6
                        button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelShipping();') GO BACK
               

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showShippingForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.loadShippingForm(true)")
            div.addsign
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.loadShippingForm(true);") Add