div.accsettingsdetailcontainer.center-sectionp
    div.personal-associates-section.contactcontainer
        div.form-group.hidden-sm-down
            div.sectiontitle.text-center Family Members
        div.personal-distributor-associates(ng-if="!vm.model.showEditStateFamily")
            div.hidden-sm-down.associates-display-nom-mobile(ng-class="{'center-section': vm.model.familyList && vm.model.familyList.length == 1}")
                div.row
                    div.associates-section.text-center(screen-width, ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitAboveMd", ng-class="{'col-md-4': vm.model.familyList && vm.model.familyList.length > 1, 'center-section': vm.model.familyList && vm.model.familyList.length == 1}")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'sent'")
                                    span {{item.accountstatus}}
                                div.label-section
                                    span.pointer(ng-click="vm.model.executeInvite()") {{status.label}}
                    div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                        div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                            span Add
                        div.absent-label-section.m-t-2(align="center")
                            p.line-1 You don't have any family member assigned.
                div.load-more-section(align="center", ng-show="!vm.model.isLoadMoreClickedAboveMd && vm.model.familyList.length > vm.model.associatesLimitAboveMd")
                  span.pointer(ng-click="vm.model.associatesLimitAboveMd = null; vm.model.isLoadMoreClickedAboveMd = true;") Load More

            div.hidden-md-up
                div.clearfix(ng-if="vm.model.familyList.length <= 1")
                    div.associates-section.associates-mobile.center-section(screen-width, align="center", ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitBelowMd")
                        div.profile-image-section
                            img(ng-if="item.image", ng-src="{{item.image}}")
                            img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                        div.profile-name-section
                            p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                        div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                            div.pending-text(ng-if="status.name == 'sent'")
                                span {{item.accountstatus}}
                            div.label-section
                                span.pointer(ng-click="vm.model.executeInvite()") {{status.label}}
                    div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                        div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                            span Add
                        div.absent-label-section.m-t-2(align="center")
                            p.line-1 You don't have any family member  assigned.
                 div.row.multiple-associates(ng-if="vm.model.familyList.length > 1")
                    div.associates-section.col-sm-6(screen-width, align="center", ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitBelowMd" ng-class="{'pull-left': (($index + 1) % 2 != 0), 'pull-right': (($index + 1) % 2 == 0)}")
                        div.profile-image-section
                            img(ng-if="item.image", ng-src="{{item.image}}")
                            img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                        div.profile-name-section
                            p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                        div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                            div.pending-text(ng-if="status.name == 'sent'")
                                span {{item.accountstatus}}
                            div.label-section
                                span.pointer(ng-click="vm.model.executeInvite()") {{status.label}}
                    div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                        div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                            span Add
                        div.absent-label-section.m-t-2(align="center")
                            p.line-1 You don't have any family members assigned.
                div.load-more-section(align="center", ng-show="!vm.model.isLoadMoreClickedBelowMd && vm.model.familyList.length > vm.model.associatesLimitBelowMd")
                    span.pointer(ng-click="vm.model.associatesLimitBelowMd = null; vm.model.isLoadMoreClickedBelowMd = true;") Load More

        div.personal-distributor-associates(ng-if="vm.model.showEditStateFamily")
            form(name="vm.editfamilyForm" novalidate form-submit="vm.model.saveDeleteFamily()")
                div.hidden-sm-down.associates-display-nom-mobile(ng-class="{'center-section': vm.model.familyList && vm.model.familyList.length == 1}")
                    div.row
                        div.associates-section(screen-width, align="center", ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitAboveMd", ng-class="{'col-md-4': vm.model.familyList && vm.model.familyList.length > 1, 'center-section': vm.model.familyList && vm.model.familyList.length == 1}")
                            div.closesection(ng-if="vm.model.showEditStateFamily" ng-click="vm.model.deleteFamily(item.id)")
                                img.closeimg(ng-src="../../../../src/assets/images/css/ic-close-white.png")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'sent'")
                                    span {{item.accountstatus}}
                        div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                            div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any family member assigned.
                    div.load-more-section(align="center", ng-show="!vm.model.isLoadMoreClickedAboveMd && vm.model.familyList.length > vm.model.associatesLimitAboveMd")
                      span.pointer(ng-click="vm.model.associatesLimitAboveMd = null; vm.model.isLoadMoreClickedAboveMd = true;") Load More

                div.hidden-md-up
                    div.clearfix(ng-if="vm.model.familyList.length <= 1")
                        div.associates-section.associates-mobile(screen-width, align="center", ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitBelowMd", ng-class="{'center-section': vm.model.familyList && vm.model.familyList.length == 1}")
                            div.closesection(ng-if="vm.model.showEditStateFamily" ng-click="vm.model.deleteFamily(item.id)")
                                img.closeimg(ng-src="../../../../src/assets/images/css/ic-close-white.png")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'sent'")
                                    span {{item.accountstatus}}
                        div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                            div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any family member assigned.
                    div.row.multiple-associates(ng-if="vm.model.familyList.length > 1")
                        div.associates-section.col-sm-6(screen-width, align="center", ng-repeat="item in vm.model.familyList | limitTo: vm.model.associatesLimitBelowMd")
                            div.closesection(ng-if="vm.model.showEditStateFamily" ng-click="vm.model.deleteFamily(item.id)")
                                img.closeimg(ng-src="../../../../src/assets/images/css/ic-close-white.png")
                            div.profile-image-section
                                img(ng-if="item.image", ng-src="{{item.image}}")
                                img(ng-if="!item.image", src="../../../../src/assets/images/css/group-4.png")
                            div.profile-name-section
                                p.small.m-b-0 {{item.firstname}} {{item.lastname}}
                            div.status-section(ng-repeat="status in item.inviteStatus", ng-if="status.status && status.name != \"loggedIn\"")
                                div.pending-text(ng-if="status.name == 'sent'")
                                    span {{item.accountstatus}}
                        div.no-associate-section(ng-if="!vm.model.familyList || (vm.model.familyList && vm.model.familyList.length == 0)")
                            div.notspecifiedadd.pointer.center-section(ng-click="vm.model.addFamily();")
                                span Add
                            div.absent-label-section.m-t-2(align="center")
                                p.line-1 You don't have any family member assigned.
                    div.load-more-section(align="center", ng-show="!vm.model.isLoadMoreClickedBelowMd && vm.model.familyList.length > vm.model.associatesLimitBelowMd")
                        span.pointer(ng-click="vm.model.associatesLimitBelowMd = null; vm.model.isLoadMoreClickedBelowMd = true;") Load More

                div.row
                  div.no-margin-bottom.form-group.row.hidden-md-up
                    div.col-sm-12
                      button.btn.btn-primary.btn-save.col-sm-12(type='submit') SAVE
                    div.col-sm-12
                      button.btn.btn-primary-outline.btn-block.col-sm-12(type='button', ng-click='vm.model.cancelDeleteFamily()') CANCEL
                  div.no-margin-bottom.form-group.hidden-sm-down
                    div.col-md-6
                      button.btn.btn-primary.btn-save.col-lg-12(type='submit') SAVE
                    div.col-md-6
                      button.btn.btn-primary-outline.btn-block.col-lg-12(type='button', ng-click='vm.model.cancelDeleteFamily()') CANCEL


div.grayline.col-sm-12.no-gutter
    div.col-sm-12.no-gutter.backgroundwhite(ng-if="vm.model.familyList.length > 0")
        div.col-sm-6
            div.col-sm-6.no-gutter(ng-click="vm.model.addFamily()")
                div.addsign
            div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.addFamily()") Add
        div.col-sm-6
            div.col-sm-6.no-gutter(ng-click="vm.model.editFamily()")
                div.inlineedit
            div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.editFamily()") Edit
       
