@import "../../../../src/stylesheets/partials/variables.scss";
.accountsettingsp{

 #accordionform {
    margin:0;
    background: $gray-lightest;
    padding:1rem;
    .panel-title button:after {
      content: '';
      height: 1.6875rem;
      width: 1.6875rem;
      transition: All .2s;
      position: absolute;
      top: 0;
      right: 0;
    }
    .panel-title button {
      span {
        font-weight: $proxima-semibold;
      }
    }
    .panel-title button.collapsed:after {
      background: url('../../../../src/assets/images/css/gray-arrow-circle.svg') center no-repeat;
      transform: rotate(0deg);
    }
    .panel {
      padding:1rem 0 1rem;
      margin-bottom:1rem;
    }
    .panel-heading {
      padding:0 11px 0 1.5rem;
    }

    .addpanel {
      padding: 0 0 2.5rem 0;
    }

    .accsettingsdetailcontainer {
      min-width:20.4375rem;
      max-width: 44.9375rem;
      padding: 0;
    }
  }
  .checkbox {
    @extend .checkbox;
    margin-bottom: 1rem;
    display:table;
  }
  .no-wrap {
    white-space: nowrap;
  }
  .email-in-use{
    margin-top: -20px;
  }
  .nav-buttons-section {
    .nav-buttons {
      button {
        background: transparent;
        outline: 0;
        border: 0.0625rem solid white;
        color: white;
        border-radius: 3px;
        padding: 0.625rem 0;
        font-weight: $proxima-semibold;
        letter-spacing: 0.0625rem;
      }
      .button-personal {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .button-business {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      button.selected-tab {
        background-color: $aqua;
        box-shadow: 2px 2px 2px 0 rgba(103, 103, 103, 0.5);
        border: solid 0.0625rem $aqua;
        color: $gray-black;
        cursor: initial;
      }
    }
    .nav-buttons-personal + .nav-buttons-business {
      .button-business {
        border-left: 0;
      }
    }
    .nav-buttons-personal {
      .button-personal {
        border-right: 0;
      }
    }
  }

  .leftpanel {
      background-color: $gray;
  }
  .rightpanel {
      background-color:$white;
      overflow: initial;
  }

  .leftlinks {
     padding-bottom:2rem;
     min-width: 19.75rem;
  }

  .delete-button-tab {
    overflow: hidden;
  }

  .leftlinkcontainer {
    padding:2rem 0 1.1rem;
  }

  .sectionline {
    border:1px solid $gray87;
    margin:1rem .3rem;
  }

  .tabcontainer {
    margin-top:1rem;
  }

  .tabaccountstyle {
    position: absolute;
    width: 100%;
    bottom: 1.25rem;
  }

  .leftanchor {
    font-weight: $proxima-light;
    font-size:1rem;
    height:1.375rem;
    line-height: 0.8;
    letter-spacing: 0.1rem;
    color:$white;
    text-transform:uppercase;
    padding-left:1rem;
    text-decoration:none;
    &.tabselected {
      color: $aqua;
        width: .31rem;
        height: 1.75rem;
        object-fit: contain;
        background: url('../../../../src/assets/images/css/account-settings-left-selected.svg') no-repeat;
        font-weight: $proxima-semibold;
    }
  }

  .imgcontainer {
    text-align:center;
  }

  .accountid {
    font-weight: $proxima-semibold;
    font-size: 13px;
    line-height: 1.8;
    color: $white;
  }

  .imgtitle {
    font-weight: $proxima-thin;
    font-size: 1.375rem;
    line-height: 1.5;
    color: $white;
    text-transform:uppercase;
    margin-top:0.6rem;
  }

  .imgtitlemobile {
    @extend .imgtitle;
    margin-top:2rem;
  }

  .rightoutertitle {
     font-weight: $proxima-semibold;
    font-size: 0.9rem;
    line-height: 1;
    text-align:left;
    padding:1.3rem;
    text-transform:uppercase;
    letter-spacing: 0.5px;
    color: $gray-dark;
    cursor:pointer;
    margin-top:0.5rem;
    background:$white;
    height:3.5rem;
  }

  .rightinnertitlebg {
      padding-right:1.3rem;
      background: url("../../../../src/assets/images/css/ic-dropdown-arrow.svg") center no-repeat;
      height: 2rem;
      -webkit-transition: all .2s;
      transition: all .2s;
      margin-top:-.5rem;
  }

  .accounttopbannerouter {
    background:url('../../../../src/assets/images/css/account-settings-personal-business-banner.jpg');
    background-size:100% 14rem;
  }

  .accounttopbannerinner {
    background:$brand-primary url('../../../../src/assets/images/css/account-settings-mask-xl.svg');
    background-size:auto 14rem;
    height:14rem;
    margin-top:0rem;
    opacity:0.5;
  }

  .list-inline {
    height: 2.4rem;
    border:solid 1px $white;
    border-radius:.1875rem;

    & > div {
        display: inline-block;
        padding: .4rem 0;
        text-align:center;
        height:2.4rem;
        width:50%;
        border-right:solid 1px $white;

        &:last-child {
          border-right:0;
        }
    }

    & > div.tabselected {
          border-radius: 0.18rem;
          background-color: $aqua;
          box-shadow: 2px 2px 2px 0 rgba(103, 103, 103, 0.5);
          border: solid 1px $aqua;
          margin:-0.19rem;
          height: 2.4rem;
    }

    @media screen and (max-width:767px) {

      & > div.tabselected {

          background-color: $aqua;
          box-shadow: 2px 2px 2px 0 rgba(103, 103, 103, 0.5);
          border: solid 1px $aqua;
          margin:-0.1rem;
          height: 2.5rem;
      }

    }

    a {
        font-weight: $proxima-semibold;
        font-size: 0.8rem;
        line-height: 1.3;
        letter-spacing: 0.9px;
        color: $white;
        text-transform:uppercase;
        text-align:center;
        text-decoration:none;

        &.tabselected {
          color:$gray-black;
        }
    }
  }

  .addheader {
    height: 4.125rem;
    background:$gray210;
  }

  @media screen and (min-width:768px) {
    .inlineeditcontainer{
      height:3.2rem;
      width:2rem;
      position: relative;
       margin-left: auto;
       margin-right: auto;
       overflow: hidden;
    }
    .newinlineeditcontainer {
       overflow: hidden;
       background: url('../../../../src/assets/images/css/ic-pen-white.svg') no-repeat right bottom;
        height: 2rem;
        width: 1rem;
        display: inline-block;
        margin-left: 14.4px;
    }

    .topcontainermargin {
      margin-top:-3.5rem;
    }
    .leftpanel {
      width: 19.9375rem;
      min-width: 19.9375rem;
      .left-section-wrapper {
        padding: 0 1.25rem;
      }
    }
    .rightpanel {
      width: 100%;
    }
    .contactcontainer, .overviewform, .sponsercontainer {
      padding:1.5rem 0 1.5rem;
      border-bottom:none;
      background:$white;
    }
    .accountid {
       text-align:center;
    }
    .contactcontainer {
      margin-top: 1.5rem;
    }
    .billingcontainer {
      margin-top:.5rem;
      background:$white;
      padding:1.5rem;
    }
    .shippingcontainer {
      padding:1.5rem;
      margin-top:.5rem;
      background:$white;
    }
  }

  @media screen and (min-width:1024px) and (max-width:1439px) {
    .leftpanel {
      height:52.25rem;
      width: 21.5625rem;
      min-width: 21.5625rem;
      .left-section-wrapper {
        padding: 0 0.3125rem 0 0.625rem;
      }
    }
    .rightpanel {
      width: 100%;
    }


  }

  @media (min-width: 1440px) {
    .leftpanel {
      height:52.25rem;
      width: 37.5rem;
      min-width: 37.5rem;
      .left-section-wrapper {
        padding: 0 7.0625rem 0 11rem;
      }
    }
    .leftlinks {
      min-width: 20rem;
    }
    .rightpanel {
      width: 100%;
    }

  }

  @media screen and (min-width:360px) and (max-width:1023px) {
      .accounttopbannerouter {
        background:url('../../../../src/assets/images/css/account-settings-personal-business-banner.jpg');
        background-size:100% 12.5rem;
        height:12.5rem;
      }
      .delete-button-section {
        margin:0 -3rem;
      }

      .accounttopbannerinner {
        background:$blue-light;
        height: 12.5rem;
        opacity:0.5;
        margin:0;
      }

      .leftanchor {
        font-size: 0.8125rem;
      }

      .leftpanel {
        height:59rem;
        max-width: 19.9375rem;
      }
  }

  .inlineeditheader {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .inlineedit {
    background:url('../../../../src/assets/images/css/icon-edit.svg') no-repeat 0.3125rem 0.5rem;
    height:1.5rem;
    width:2rem;
    float:right;
    cursor:pointer;
    margin-top: 5px;
  }

  .inlineedittext {
    font-weight: $proxima-semibold;
    font-size: .875rem;
    line-height: 1.1;
    letter-spacing: 0.4px;
    color: $brand-primary;
    padding:.8rem 0;
    cursor:pointer;
  }

  .inlineedittextdelete {
   @extend .inlineedittext;
   padding: 1.4375rem 0 0 0.625rem;
  }

  .delete-button-section {
    span {
        background: url(../../../../src/assets/images/css/ic-delete.svg) no-repeat left top;
        font-size: 0.875rem;
        font-weight: $proxima-semibold;
        letter-spacing: 0.025rem;
        color: $brand-primary;
        padding: 0.25rem 0.3125rem 0.25rem 1.875rem;
    }
  }


  .slabel {
    height: 1.5rem;
    font-weight:$proxima-semibold;
    font-size: 0.8rem;
    line-height: 1.8;
    color: $gray-dark;
    text-transform:uppercase;
    margin-bottom:1rem;
  }

  .sectiontext {
    font-weight: $proxima-light;
    font-size: 1rem;
    line-height: 1.5;
    color: $gray-dark;
    text-align:right;
  }

  .select-wrapper:after {
    top:40%;
    margin-right: 5px;
  }

  .topbannertitle {
    text-transform:uppercase;
    font-weight: $proxima-thin;
    font-size: 1.8rem;
    line-height: 1.1;
    color: $white;
    text-align:center;
    padding-top:7%;
  }


  .accsettingstopbannerouter {
    background:url('../../../../src/assets/images/css/account-settings-personal-business-banner.jpg');
    background-size:100% 12.5rem;
    height:12.5rem;
  }

  .accsettingstopbannerinner {
    background: rgba(55,176,201,0.7);
    height: 12.5rem;
    opacity:1;
    margin-top: -1rem;
  }

  .addmheader {
    height:4.8rem;
    background-color: $brand-primary;
    color:$white;
  }

  .common-username-email-text {
    @extend .sectiontext;
    text-align: left;
    margin-top: -1rem;
  }

  .resend-email-section {
    color: $brand-primary;
    text-align: right;
  }

  .email-not-verified-section {
    background: rgba(28, 216, 210, 0.25);
    padding: 1rem 0.875rem;
    border-radius: 0.3125rem;
    .email-not-verified-heading {
      color: $gray;
      font-weight: $proxima-semibold;
    }
    .email-not-verified-desc {
      font-weight: $proxima-regular;
      line-height: 1.8;
      font-size: 0.875rem;
      color: $gray;
    }
  }

  /* overview css */

  .accsettingsdetailcontainer{
    .form-group{
      margin-bottom:1.125rem;
    }
    .hide {
      display:none;
    }
    .no-margin-bottom {
      margin-bottom:0;
    }
  }
  .contactcontainer, .overviewform, .sponsercontainer{
    background-color: $white;

    .sectiontext {
      @extend .sectiontext;
      margin-bottom:0;
      font-size:1rem;
      word-break: break-word;
    }

    .sectionsponsertext {
      @extend .sectiontext;
      text-align:left;
      font-size: .9rem;
    }
  }


  .privacycontainer {
    padding:0;
    margin:0;
  }


  .mobileeditcontainer {
    height: 2.5rem;
    background: $white;
    margin-bottom:1rem;
  }

  .slabeloverview {
    font-weight: $proxima-semibold;
    font-size: 13px;
    line-height: 1.8;
    color: $gray-dark;
  }
  .sectiontitle {
    font-weight: $proxima-thin;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $gray-dark;
    text-transform: uppercase;
  }
  .sectiondetails {
    font-weight: $proxima-light;
    font-size: 1rem;
    line-height: 1.5;
    color: $gray-black;
  }
  .notspecified {
    font-weight: $proxima-light;
    font-size: 1rem;
    line-height: 1.5;
    color: $gray-light;
    text-align:right;
  }
  .sponsertitle {
    font-weight: $proxima-light;
    font-size: 1rem;
    line-height: 1.5;
    color: $gray-dark;
  }
  .sponserdetails {
    font-weight: $proxima-light;
    font-size: 0.8rem;
    line-height: 1.7;
    color: $brand-primary;
  }
  .sponserseparator {
    &:after {
      content:"|";
      width:0.2rem;
      height:1.5rem;
      padding:0 1rem;
      color: $gray-dark;
    }
  }
  .sponserbusiness{
    margin:0.6rem 0;
  }
  .imgbox {
    margin-top:1rem;
  }

  .close {
    @extend .close;
    font-size:1rem;
  }
  .popupform {
    padding:0;
    margin:0;
  }

  .radio + .radio {
    margin-top:0;
  }

  .myimg {
    max-width:5rem;
  }

  .userdatacontainer {
    margin-bottom:1rem;
  }

  .modal-content {
    @extend .modal-content;
    margin-left:1rem;
  }

  .sponsertitlemain {
    margin-bottom:1.5rem;
  }

  .privacytext {
    font-weight: $proxima-light;
    font-size: .8rem;
    color: $gray-faded;
    margin: 0 0 0 .2rem;
    vertical-align: top;
    display: inline-block;
  }

  .line {
    height: 2px;
    border: solid 1px $blue-lighter;
    margin:.5rem 0 1.09rem 0;
  }

  .checkboxwrapper {
    min-height:1px;
    padding-left:1rem;
  }

  .mobileruler {
    height: 2px;
    border: solid 1px $gray238;
    background:$gray238;
  }

  .bluetick {
    background:url('../../../../src/assets/images/css/c-h-e-c-k-e-d-2.png') no-repeat left;
    height:2.25rem;
    margin-top: -.625rem;
  }

  .privacytextreadonly {
    @extend .privacytext;
    margin: 0 0 1.5rem.625rem;
    vertical-align: top;
    display: inline-block;
  }

 .checkboxline {
    display:inline-block;
    margin-left:-.625rem;
    width:2.25rem;
  }

  .section-wrapper {
    display: table;
  }

  /* story css */

  .storycontainer {
    @extend .shippingcontainer;
  }

  .storysubcontainer {
    margin-bottom: 2.06rem;
  }

  .storycontent {
    margin-bottom:1.125rem;
  }

  .storysubtitle {
    font-weight: $proxima-regular;
    font-size: 1rem;
    line-height: 1.3;
    color: $gray-black;
    margin-bottom:1.125rem;
  }

  .storyimg {
    background: url('../../../../src/assets/images/css/story.png') no-repeat center;
    height: 6.375rem;
  }

  .storycontent {
    font-weight: $proxima-light;
    font-size: 13px;
    line-height: 1.4;
    color: $gray-dark;
    text-align:justify;
  }

  .storyimgcontainer {
    width: 6.25rem;
  }

  .seremore {
    font-weight: $proxima-semibold;
    font-size: 13px;
    line-height: 1.8;
    text-align: center;
    color: $brand-primary;
  }

  .quickemailtext {
    font-weight: $proxima-light;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.4px;
    text-align: center;
    color: $brand-primary;
    text-transform:uppercase;
  }

  .quickemailtextpurple {
    @extend .quickemailtext;
    color: $purple;
  }

  .quickemailimg {
    background: url('../../../../src/assets/images/css/story_email.png') no-repeat center;
    height:1.06rem;
    margin-bottom:7px;
  }

  .quickcopyimg {
    background: url('../../../../src/assets/images/css/copy.png') no-repeat center;
    height: 1.25rem;
    margin-bottom:7px;
  }

  .quickcopyimgpurple {
    background: url('../../../../src/assets/images/css/copy-purple.png') no-repeat center;
    height:1.25rem;
    margin-bottom:7px;
  }

  .quickdownloadimg {
    background: url('../../../../src/assets/images/css/story_download.png') no-repeat center;
    height:1.375rem;
    margin-bottom:7px;
  }

  .quickprintimg {
     background: url('../../../../src/assets/images/css/print_story.png') no-repeat center;
    height:1.375rem;
    margin-bottom:7px;
  }

  .quickactionscontainer {
    margin-bottom:1rem;
    .quickcopyContainer{
      width: 20%;
      display: inline-block;
      position: relative;
    }
    .quickdownload{
      width: 20%;
      display: inline-block;
      position: relative;
    }
  }

  .action-template-section {
    .content-section {
      .description-section {
        text-align: left;
        margin: 0;
        .story-section {
          .heading-section {
            font-size: 1.125rem;
          }
          .time-format {
            width: 18.569rem;
            height: 0.875rem;
            font-family: TimesNewRomanPSMT;
            font-size: 0.6875rem;
            line-height: 1.27;
            letter-spacing: -0.00625rem;
            color: $gray-light;
            margin-bottom: 2rem;
          }
          padding: 1.75rem 4.25rem 4.8125rem;
          .script-data {
            font-size: 0.625rem;
            font-family: TimesNewRomanPSMT;
            letter-spacing: -0.00625rem;
            color: $gray;
            line-height: 1.5;
          }
        }
      }
    }
  }

  @media screen and (min-width:768px) and (max-width:1023px) {
     .privacytext {
      display: inline-block;
    }
    .privacytextreadonly {
      display: inline-block;
    }
    .overviewform.privacy-wrapper {
      div.checkbox {
        label::before {
          position: relative;
        }
        label {
          margin-bottom: 1rem;
          .privacytext {
            position: absolute;
            top: 0.0625rem;
            left: 2rem;
          }
        }
      }
    }
    .center-sectionp {
      margin:0 1.5rem;
    }
    .convert-to-business-section {
      .toggle-hidden-section {
        .text-section {
          background-position: left -0.125rem;
        }
        .small-text-section {
          margin-top: -0.5625rem;
        }
      }
    }

  }

  .addline {
    font-weight: $proxima-light;
    font-size: 13px;
    line-height: 1.4;
    color: $gray-dark;
  }

  .userline {
    font-weight: $proxima-regular;
    font-size: 1rem;
    line-height: 1.3;
    color: $gray-black;
    margin-bottom:4px;
  }

  .password-pattern .password-icon {
    @extend .password-icon;
    margin-top: -1.25rem;
  }

  .shippingshapetext {
    font-weight: $proxima-semibold;
    font-size: .8125rem;
    line-height: 1.8;
    color: $aqua-green;
    width: .99rem;
    height: .93rem;
    object-fit: contain;
    background-color: $aqua-green;
    background: url('../../../../src/assets/images/css/shape.svg') no-repeat;
    padding-left:1.6rem;
    margin-left:.5rem;
  }

  .grayline {
    border-top: solid 1px $gray238;
  }
  .gray-border-section {
    border: solid 0.0625rem $gray238;
    border-left-width: 0;
    border-right-width: 0;
  }

  .accountidnumber {
    font-weight: $proxima-light;
    font-size: .875rem;
    line-height: 1.7;
    color: $white;
    padding-left:8px;
  }

  .sponsermargin {
    margin-top: .9375rem;
  }

  .addsign {
    background: url(../../../../src/assets/images/css/ic-close-copy-2.svg) no-repeat right bottom;
    height: 1.25rem;
    margin: .4rem 7px;
  }

  .delete-sign {
    background: url(../../../../src/assets/images/css/ic-delete.svg) no-repeat right bottom;
    height: 1.25rem;
    margin: 1.125rem 7px;
  }

  .backgroundwhite {
    background: $white;
  }

  .inlineeditshipping {
    @extend .inlineedit;
    height:5rem;
  }

  .inlineeditbilling {
    @extend .inlineedit;
    height: 3rem;
  }

  .edit-button-section {
      border-top: solid 1px $gray87;
      padding: 1.25rem 0;
      font-size: 0.875rem;
      font-weight: $proxima-semibold;
      line-height: 1.14;
      letter-spacing: 0.025rem;
      color: $brand-primary;
      span {
        background: url('../../../../src/assets/images/css/icon-edit.svg') no-repeat left 0.625rem;
        padding: 0.625rem 0.625rem 0.625rem 1.875rem;
      }
    }

  .privacytextcontainer {
      display: inline-block;
      width: 85%;
      vertical-align: top;
      display: inline-flex;
  }

  .notspecifiedadd {
      position: relative;
      width: 3.25rem;
      height: 3.25rem;
      border-radius: 3.25rem;
      background: $brand-primary url('../../../../src/assets/images/css/ic-add.png') no-repeat center 0.5625rem;
      font-size: 0.875rem;
      font-weight: $proxima-semibold;
      line-height: 1.14;
      letter-spacing: 0.025rem;
      color: $white;
      span {
        position: absolute;
        top: 1.6875rem;
        left: 0.8125rem;
      }
    }
    .no-associate-section {
      .absent-label-section {
        p {
          font-weight: $proxima-light;
          line-height: 1.5;
          color: $gray-dark;
        }
      }
    }

  @media screen and (min-width:1024px) {
    .center-sectionp {
          display:table;
          margin:0 auto;
    }
    .accsettingsdetailcontainer{
      width: 30.43rem;
      .delete-button-section {
        margin: 0 calc(calc(30.43rem - calc(100% - 21.5625rem))*(-1));
      }
    }
  }

  .communication-preference-section {
        .formlabel {
          font-weight: $proxima-regular;
          font-size: 1rem;
          line-height: 1.4;
          letter-spacing: -0.1px;
          color: $gray-black;
        }
        .radio-buttons-section {
          .text-section {
            .label-section {
              position: absolute;
              top: -0.3125rem;
              left: 1.875rem;
              .radio-button-heading,
              .radio-button-desc {
                padding-left: 0.3125rem;
                margin: 0;
                font-weight: $proxima-light;
                line-height: 1.23;
                color: $gray-dark;
                width: 9.375rem;
              }
              .radio-button-heading {
                line-height: 1.5;
                margin: 0;
              }
            }
            > p:first-child {
              position: absolute;
              top: -0.375rem;
              line-height: 1.5;
            }
            > p {
              padding-left: 0.3125rem;
              margin: 0;
              font-weight: $proxima-light;
              line-height: 1.23;
              color: $gray-dark;
              width: 9.375rem;
            }
          }
        }
        .email-communication-section {
          .language-section {
            .heading-section {
              font-size: 0.875rem;
              font-weight: $proxima-regular;
              line-height: 1.57;
              letter-spacing: -0.00625rem;
              color: $gray-black;
              margin: 1rem 0 0.625rem;
            }
            .language-select-section::after {
              top: 50%;
            }
            .select-wrapper:after {
              top: 30%;
            }
          }
          .checkbox-section {
            .label-section {
              margin: -1.125rem 0 0 1rem;
              p {
                font-weight: $proxima-light;
                line-height: 1.23;
                color: $gray-dark;
                line-height: 1.38;
              }
            }
          }
        }
        .section-heading {
          z-index: 1;
          text-align: center;
        }
        .section-heading::before {
          border-top: 0.125rem solid $gray87;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 0.75rem;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
        }
        .section-heading span {
          background: $white;
          padding: 0 2rem;
          color: $gray-dark;
          font-size: 1rem;
          font-weight: $proxima-semibold;
          line-height: 1;
          letter-spacing: 0.0375rem;
        }
    }
  .billinglegend {
    font-weight: $proxima-semibold;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    color: $gray-dark;
  }
  .billingshapetext {
    @extend .shippingshapetext;
    margin-left:0;
  }
  .billingexpired {
    font-weight: $proxima-semibold;
    font-size: 13px;
    color: $brand-danger;
  }
  .creditcardmaster  {
    background: url('../../../../src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png') no-repeat right center;
  }
   .creditcardvisa {
    background: url('../../../../src/assets/images/css/v-i-s-a.png') no-repeat right center;
  }
   .creditcardamex  {
    background: url('../../../../src/assets/images/css/a-m-e-x.png') no-repeat right center;
  }
   .creditcarddiscover  {
    background: url('../../../../src/assets/images/css/d-i-s-c-o-v-e-r.png') no-repeat right center;
  }
  .creditcardother {
    background: none;
  }
  .link-section {
    font-weight: 600;
    line-height: 1.23;
    letter-spacing: 0.025rem;
    color: $brand-primary;
  }
  h5 {
    color: $brand-primary;
  }
  .convert-wrapper {
    height:18px;
    border: 0.00625rem solid transparent;
    background: $gray-white;
  }
  .convert-wrapper-contact {
    @extend .convert-wrapper;
  }
  .convert-to-business-section {
    background: $white;
    .toggle-hidden-section {
      .text-section {
        background: url('../../../../src/assets/images/css/ic-clock.png') no-repeat left;
        min-height: 1.5rem;
        padding: 0.3125rem 0 0 2rem;
      }
      .text-section:first-child {
        margin-bottom: 1rem;
      }
    }
    .toggle-hidden-section {
      overflow-y: hidden;
      transition-property: all;
      transition-duration: .7s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      max-height: none;
    }
    .toggle-address-section {
      @extend .toggle-hidden-section;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      max-height: 40rem;
    }
    .toggle-hidden-section.ng-hide {
      max-height: 0;
    }
    .see-more-section {
      padding-top: 0.3125rem;
      padding-bottom:1.5rem;
    }
  }
  .personal-associates-section {
    .multiple-associates {
      .associates-section {
        min-width: initial;
        max-width: initial;
        min-height: 7.5rem;
        max-height: 7.5rem;
      }
    }
    .associates-section {
      padding-bottom: 1.25rem;
      .profile-name-section {
        font-weight: $proxima-light;
        line-height: 1.85;
        color: $gray-dark;
        margin-top: 0.3125rem;
      }
    }
    .load-more-section {
      font-size: 0.875rem;
      font-weight: $proxima-semibold;
      line-height: 1.14;
      letter-spacing: 0.025rem;
      color: $brand-primary;
      margin:.5rem 0 1rem 0;
    }
    .associates-mobile {
      width: calc(100% / 2);
    }
    .associates-non-mobile {
      width: calc(100% / 3);
    }

    .personal-distributor-associates {
      .status-section {
        .pending-text {
           font-weight: $proxima-light;
           line-height: 1.85;
           color: $gray-light;
           font-size: 0.75rem;
           margin-top: -0.4375rem;
        }
      }
      .label-section {
        font-size: 0.875rem;
        font-weight: $proxima-semibold;
        line-height: 1.14;
        letter-spacing: 0.025rem;
        color: $brand-primary;
        margin-top:7px;
      }
      .associates-display-nom-mobile {
        padding: 0;
      }
    }
  }
}

.break-long-text {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.file-upload-popup {
    .modal-dialog {
      margin-top: 1.625rem;
    }
    .modal-content {
      margin-bottom: 4.375rem;
    }
    .modal-header {
      padding-bottom: 0;
      .cross-icon {
        width: 1.5625rem;
        padding: 1.5rem 1.125rem 1rem 0;
        background: url('../../../../src/assets/images/css/cross-small.png') no-repeat right top;
      }
    }
    .modal-body {
      padding-top: 0;
      .action-buttons {
        background: transparent;
        border: 0;
        outline: 0;
        padding: 0;
        p {
          margin-left: 0.75rem;
        }
      }
      .action-section {
        font-weight: $proxima-semibold;
        line-height: 1.31;
        letter-spacing: 0.0625rem;
        padding-top: 1rem;
        color: $brand-primary;
        .upload-photo-section {
          background: url('../../../../src/assets/images/css/ic-upload-copy.svg') no-repeat left center;
        }
        .remove-photo-section {
          background: url('../../../../src/assets/images/css/x-icon.png') no-repeat 0.3125rem 0.125rem;
        }
        .no-profile-photo-uploaded {
          opacity: 0.4;
        }
        .upload-photo-section, .remove-photo-section {
          padding: 0 0 0 1.8rem;
        }
      }
      .profile-text-section {
        font-weight: $proxima-light;
        line-height: 1.31;
        letter-spacing: -0.0625rem;
        color: $gray-dark;
        width: 12.5rem;
        max-width: 12.5rem;
        p {
          padding-top: 0.3125rem;
          margin-bottom: 0.625rem;
        }
      }
      .userdatalink {
        font-weight: $proxima-semibold;
        font-size: .8rem;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $brand-primary;
        margin-top:1rem;
        text-align:right;
      }
      .userdataspace {
        padding-left:.5rem;
      }
      .profile-section {
        img {
          border-radius: 5rem;
        }
      }
      .error-section {
        padding: 0.625rem 1.125rem 0;
        background: $brand-danger url('../../../../src/assets/images/css/ic-info.png') no-repeat 1.125rem 0.625rem;
        font-weight: $proxima-light;
        line-height: 1.31;
        letter-spacing: -0.0625rem;
        color: $white;
        p {
          padding: 0 0 0.5rem 2.25rem;
        }
      }
    }
  }

.add-family-popup {
  .modal-content {
    margin-bottom: 4.375rem;
  }
  .modal-header {
    background: url('../../../../src/assets/images/css/invite-family-popup-image.jpg') no-repeat;
    background-size: cover;
    .cross-icon {
      width: 1.5625rem;
      padding: 1.5rem 1.125rem 1rem 0;
      background: url('../../../../src/assets/images/css/cross-small-white.png') no-repeat right top;
    }
    .text-section {
      color: $white;
      .heading-section {
        font-size: 1.375rem;
        font-weight: $proxima-light;
        line-height: 1.55;
      }
      .desc-section {
        font-weight: $proxima-regular;
      }
    }
  }
  .modal-body {
    .form-section {
      border-top: 1px solid $gray87;
    }
    .text-section {
      margin: 0 auto;
      font-weight: $proxima-light;
      line-height: 1.31;
      color: $gray;
      .see-more-section {
         font-weight: $proxima-semibold;
         line-height: 1.85;
         color: $brand-primary;
         margin-top: 0.3125rem;
       }
     .desc-section {
        width: 16.25rem;
      }
      .hidden-section {
        padding-top: 1.625rem;
        p {
          .point-heading {
            font-size: 1.75rem;
            font-weight: $proxima-thin;
            line-height: 1.21;
            color: $gray-dark;
          }
          .separator-line-section {
            margin-left: -1rem;
            color: $gray87;
          }
        }
      }
    }
  }
}

.app-modal-window.personal-section-popup + .modal-backdrop {
  background: rgba(204, 232, 239, 0.9);
}

.closesection {
  width:4.375rem;
}

.closeimg {
  float: right;
    z-index: 100;
    margin-left: -4.125rem;
    margin-top: -5px;
    width: 1.4375rem;
    position: relative;
}



@media screen and (min-width:360px) and (max-width:767px) {
    .convert-to-business-section {
      padding-top: 1.5rem;
      .toggle-hidden-section {
        .text-section {
          padding: 0 0 0 2.5rem;
        }
        .toggle-wrapper {
          padding: 1rem 3.5rem 0 2.8125rem;
        }
      }
    }
  .rightpanel .rightcontainer {
    background-color:$gray-white;
  }
  .quickactionscontainer{
    .quickdownload{
      width: 30%;
    }
  }
  .quickemail {
    margin-left:-15px;
  }
  .grayline {
     margin-bottom: -1rem;
  }
  .tabcontainer {
    margin-top:0;
  }
  .accountid {
    text-align:left;
    padding-left: 1.8em;
  }
  .contactcontainer, .overviewform {
      padding:1.5rem;
  }
  .overviewform {
    overflow: hidden;
  }
  .sponsercontainer {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .inlineeditcontainer{
    width:2rem;
    position: relative;
    margin-top:3.5rem
  }
  .billingwidth {
    width:17.625rem;
  }
  .bottomedit {
    border-top:1px solid $gray87;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .accountsettingsp .privacytext {
    width:100%;
    display: inline-block;
  }
  #privacy {
    .overviewform.privacy-wrapper {
      div.checkbox {
        label::before {
          position: relative;
        }
        label {
          margin-bottom: 1rem;
          .privacytext {
            position: absolute;
            top: 0.0625rem;
            left: 2rem;
          }
        }
      }
    }
  }
  .checkboxline {
    width:8%;
  }
  .shippingcontainer {
    padding:1.5rem 1.5rem 0;
    background:$white;
    margin-top:0;
    border-bottom:0;
  }
  .billingcontainer {
    background:$white;
    margin-top:0;
    border-bottom:0;
    padding:1.5rem 1.5rem 0 2.5rem;
  }
  .storysubcontainer {
    margin-bottom: 2.75rem;
  }
}

@media screen and (min-width:1024px) {
  .add-family-popup, .file-upload-popup {
    .modal-dialog {
      width: 34.375rem;
      .modal-content {
        width: 34.375rem;
        .modal-body {
          .form-section {
            padding: 0 3.4375rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width:768px) {
  .email-communication-section{
              margin-top: 1rem;
  }
  .convert-to-business-section {
      margin-top: 2rem;
      .toggle-hidden-section {
        .toggle-wrapper {
          padding: 1rem 3.5rem 0 4rem;
        }
      }
    }
  .add-family-popup {
    .modal-dialog {
      margin-top: 2.25rem;
      width: 29.8125rem;
      .modal-content {
        width: 29.8125rem;
      }
      .modal-header {
        background: url('../../../../src/assets/images/css/invite-family-popup-image.jpg') no-repeat;
        background-size: cover;
        .text-section {
          margin: 0 auto;
          width: 20.125rem;
          max-width: 20.125rem;
          padding-top:1.25rem;
          .heading-section {
            margin: -0.4375rem 0 1.25rem;
          }
          .desc-section {
            padding: 0 1rem;
          }
        }
      }
    .modal-body {
      padding: 1.25rem 4rem;
      .text-section {
        width: 100%;
        .desc-section {
          width: 100%;
          padding:1.5rem 1.875rem 2px;
        }
        .see-more-section {
          padding-top: 0.3125rem;
        }
      }
    }
  }
  }
    .file-upload-popup {
      .modal-dialog {
        margin-top: 2.25rem;
        width: 29.8125rem;
        .modal-content {
          width: 29.8125rem;
          .modal-body {
            padding: 0 4rem 1.25rem;
            .error-section {
              margin: 0 -4rem;
              padding: 0.625rem 3.875rem 0;
              background-position: 3.875rem 0.625rem;
              p {
                margin-bottom: 0.5rem;
              }
            }
            .action-section {
              margin-right: -3.125rem;
            }
          }
        }
      }
    }

    .section-wrapper {
      .leftpanel, .rightpanel {
          display: table-cell;
          vertical-align: top;
      }
    }
}

@media screen and (min-width:360px) and (max-width:767px) {
  .add-family-popup  {
    .modal-dialog {
      width: 20.3125rem;
      margin-top: 1.5rem;
      .modal-content {
        width: 20.3125rem;
        .modal-header {
          .text-section {
            padding: 0 1.25rem;
            .heading-section {
              margin: -0.3125rem 0 1rem;
            } 
          }
        }
        .modal-body {
          padding: 1.25rem 1rem 1rem;
        }
      }
    }
  }
  .file-upload-popup {
    .modal-body {
      .error-section {
        margin: 0 -1rem;
      }
    }
  }
}

.accountsettingsp .left-section-wrapper .imgcontainer, .file-upload-popup .modal-body .profile-section, .rightcontainer .accsettingstopbannerinner .imgcontainer {
    .outer-image-wrapper {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 6.25rem;
      background: rgba(255, 255, 255, 0.15);
      .inner-image-wrapper {
        width: 5.25rem;
        height: 5.25rem;
        border-radius: 5.25rem;
        margin-top: 0.5rem;
        background: rgba(255, 255, 255, 0.3);
        img {
          border-radius: 6.25rem;
          margin-top: 0.4375rem;
          width: 4.375rem;
          height: 4.375rem;
        }
      }
    }
  }

.accsettingsdetailcontainer .sponsercontainer .sponsersubcontainer {
  .height-dummy {
    height: 3.25rem;
  }
  .outer-image-wrapper {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 3.75rem;
    background: rgba(255, 255, 255, 0.15);
    margin-right: 1rem;
    .inner-image-wrapper {
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 3.25rem;
      background: rgba(255, 255, 255, 0.3);
      img {
        border-radius: 3.25rem;
        width: 3.75rem;
        height: 3.75rem;
      }
    }
  }
}

.app-modal-window.delete-confirmation-popup {
  .modal-dialog {
      margin: 2rem auto;
  }
}

.app-modal-window.email-username-popup, .app-modal-window.both-email-username-popup, .app-modal-window.oops-popup {
  .modal-dialog {
    width: 20.3125rem;
    padding-top: 2rem;
    .modal-body {
      .heading-section, .desc-section p {
        line-height: 1.3;
      }
      .heading-section {
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        margin-top: -0.625rem;
        color: $gray;
      }
      .desc-section {
        padding: 1.875rem 0 3.125rem;
        p {
          font-weight: $proxima-regular;
          color: $gray-dark;
          .email-section {
            font-weight: $proxima-semibold;
          }
        }
      }
      .caution-section {
        padding-top: -1.43rem;
        font-weight: $proxima-light;
        font-size: 0.875rem;
        .phone-section {
          color: $brand-primary;
          display: inline-block;
        }
      }
    }
  }
}
