div.rightcontainer.col-sm-12.no-gutter
  div.accsettingstopbannerouter.col-sm-12.no-gutter.hidden-md-up
      div.accsettingstopbannerinner.accountsettingsp.col-sm-12.no-gutter
        div.imgcontainer.col-sm-12.m-b-1
          .col-sm-4.imgbox.no-gutter.outer-image-wrapper.center-section
            .inner-image-wrapper.center-section
              img(ng-if="vm.model.userdata.profileImage", ng-src="{{vm.model.userdata.profileImage}}", width="70")
              img(ng-if="!vm.model.userdata.profileImage", src="../../../../src/assets/images/css/ic-profile-copy-2.png", width="70")
          .col-sm-8.no-gutter
            .col-sm-12.no-gutter
              .col-sm-10.no-gutter.imgtitlemobile(ng-show="vm.model.isPreferredNamePresent") {{vm.model.userdata.preferredname}}
              .col-sm-10.no-gutter.imgtitlemobile(ng-hide="vm.model.isPreferredNamePresent") {{vm.model.userdata.firstname}} {{vm.model.userdata.lastname}}
              .col-sm-2.no-gutter.inlineeditcontainer
                  img.inlineeditheader(ng-src="../../../../src/assets/images/css/ic-pen-white.svg" ng-click="vm.model.editProfile()")
            .col-sm-12.no-gutter
              .col-sm-12.accountid Account ID 
                span.accountidnumber {{vm.model.userdata.accountID}}
        div.nav-buttons-section(ng-hide="vm.isDistributor")
          div.col-sm-12
              div.col-sm-6.text-center.nav-buttons.nav-buttons-personal.no-gutter-right
                  button.fullWidth.button-personal(ng-class="{'selected-tab': vm.model.isPersonalSelected}", ng-click="vm.model.isPersonalSelected=true; vm.goToUrl('/accountsettingspersonalpage')")
                      p.small.m-b-0.text-uppercase Personal
              div.col-sm-6.text-center.nav-buttons.nav-buttons-business.no-gutter-left
                  button.fullWidth.button-business(ng-click="vm.model.isPersonalSelected=false; vm.model.loadBusinessPage();  vm.goToUrl('/accountsettingsbusinesspage')")
                      p.small.m-b-0.text-uppercase Business
  div.rightmobilepanel.col-sm-12.no-gutter.hidden-md-up
    div.text-center.convert-to-business-section(ng-if="!vm.isDistributor")
        div.small-heading
            p.small.pointer.link-section.text-uppercase(ng-click="vm.showBusinessDistributorForm = true;") Become a distributor
        div.brief-description
            p.small.m-b-0 To uncover greater opportunities with Nu Skin.
        div.toggle-hidden-section(align="left", ng-show="vm.accountDetailsHiddenSection")
            div.toggle-wrapper
                div.text-section
                    p.small.m-b-0.small-text-section Lorem ipsum dolr sit amet Lorem ipsum dolr sit amet
                div.text-section
                    p.small.m-b-0.small-text-section Lorem ipsum dolr sit amet Lorem ipsum dolr sit amet
        div.see-more-section
            label.margin0.link-section.pointer(ng-click="vm.accountDetailsHiddenSection = !vm.accountDetailsHiddenSection")
                span(ng-if="!vm.accountDetailsHiddenSection") See More 
                span(ng-if="vm.accountDetailsHiddenSection") See Less
    div#accordionform
      #accordion.panel-group(role='tablist', aria-multiselectable='false')
          div.panel.panel-default.clearfix
              #contact-heading.panel-heading(role='tab')
                h4.panel-title
                  button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#contact', aria-expanded='{{vm.model.currentTab=="contact"}}', aria-controls='contact', ng-class='vm.model.currentTab!="contact"?"collapsed":""')
                      span CONTACT DETAILS
              #contact.panel-collapse.collapse(role='tabpanel', aria-labelledby='contact-heading', aria-expanded='false', style='height: auto;', ng-class='vm.model.currentTab=="contact"?"in":""')
                .panel-body
                  include account.settings.personal.contact.jade
          div.panel.panel-default.clearfix
              #personaldetails-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#personaldetails', aria-expanded='false', aria-controls='personaldetails')
                          span PERSONAL DETAILS
              #personaldetails.panel-collapse.collapse(role='tabpanel', aria-labelledby='personaldetails-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include account.settings.personal.personal.details.jade
          div.panel.panel-default.clearfix
              #loginpref-heading.panel-heading(role='tab')
                h4.panel-title
                      button.btn(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#loginpref', aria-expanded='{{vm.model.currentTab=="login"}}', aria-controls='loginpref', ng-class='vm.model.currentTab!="login"?"collapsed":""')
                          span LOGIN PREFERENCES
              #loginpref.panel-collapse.collapse(role='tabpanel', aria-labelledby='loginpref-heading', aria-expanded='false', style='height: 0px;', ng-class='vm.model.currentTab=="login"?"in":""')
                .panel-body
                  include account.settings.personal.login.pref.jade
          div.panel.panel-default.clearfix
              #billing-heading.panel-heading(role='tab')
                h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#billing', aria-expanded='false', aria-controls='billing')
                          span BILLING INFORMATION
              #billing.panel-collapse.collapse(role='tabpanel', aria-labelledby='billing-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include account.settings.personal.billing.pref.jade
          div.panel.panel-default.clearfix
              #shipping-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shipping', aria-expanded='false', aria-controls='shipping')
                          span SHIPPING PREFERENCES
              #shipping.panel-collapse.collapse(role='tabpanel', aria-labelledby='shipping-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include account.settings.personal.shipping.pref.jade
          div.panel.panel-default.clearfix
              #communication-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#communication', aria-expanded='false', aria-controls='communication')
                          span COMMUNICATION PREFERENCES
              #communication.panel-collapse.collapse(role='tabpanel', aria-labelledby='communication-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include account.settings.personal.communication.pref.jade
          div.panel.panel-default.clearfix(ng-hide="vm.isDistributor")
              #family-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#family', aria-expanded='false', aria-controls='family')
                          span FAMILY ACCOUNTS
              #family.panel-collapse.collapse(role='tabpanel', aria-labelledby='family-heading', aria-expanded='false', style='height: 0px;')
                .panel-body
                  include account.settings.personal.family.jade
          div.panel.panel-default.clearfix
              #privacy-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#privacy', aria-expanded='false', aria-controls='privacy')
                          span PRIVACY PREFERENCES
              #privacy.panel-collapse.collapse(role='tabpanel', aria-labelledby='privacy-heading', aria-expanded='false', style='')
                .panel-body
                  include account.settings.personal.privacy.preferences.jade
          div.panel.panel-default.clearfix
              #branded-heading.panel-heading(role='tab')
                  h4.panel-title
                      button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#branded', aria-expanded='false', aria-controls='branded')
                          span MY BRANDED STORY
              #branded.panel-collapse.collapse(role='tabpanel', aria-labelledby='branded-heading', aria-expanded='false', style='')
                .panel-body
                  include account.settings.personal.branded.story.jade
    include account.settings.personal.overview.sponser.jade
  div.hidden-sm-down
    div(ng-if="vm.model.currentTab == 'contact'")
      include account.settings.personal.contact.jade
    div(ng-if="vm.model.currentTab == 'personal'")
        include account.settings.personal.personal.details.jade
    div(ng-if="vm.model.currentTab == 'login'")
        include account.settings.personal.login.pref.jade
    div(ng-if="vm.model.currentTab == 'billing'" class="delete-button-tab")
        include account.settings.personal.billing.pref.jade
    div(ng-if="vm.model.currentTab == 'shipping'" class="delete-button-tab")
        include account.settings.personal.shipping.pref.jade
    div(ng-if="vm.model.currentTab == 'communication'")
        include account.settings.personal.communication.pref.jade
    div(ng-if="vm.model.currentTab == 'family'")
        include account.settings.personal.family.jade
    div(ng-if="vm.model.currentTab == 'privacy'")
      include account.settings.personal.privacy.preferences.jade
     div(ng-if="vm.model.currentTab == 'branded'")
      include account.settings.personal.branded.story.jade
    div.hidden-sm-down(ng-if="vm.model.currentTab == 'contact'")
      include account.settings.personal.overview.sponser.jade