.accsettingsdetailcontainer.center-sectionp
    div.contactcontainer(ng-hide="vm.model.showComForm")
        div.form-group.row.hidden-sm-down
            div.sectiontitle.col-sm-10 Communication preferences
        div.form-group.row
            div.slabeloverview.col-sm-6 Contact Preference
            div.sectiontext.col-sm-6 {{vm.model.communication.contactpref}}
        div.form-group.row
            div.slabeloverview.col-sm-6 Language Preference
            div.sectiontext.col-sm-6 {{vm.model.communication.languageprefDisplay}}
        div.form-group.row
            div.slabeloverview.col-sm-6 Recieve Marketing Emails
            div.sectiontext.col-sm-6 {{vm.model.communication.dndDisplay}}

    div.communication-preference-section.overviewform.signupform(ng-show="vm.model.showComForm")
      form.nomargin(name="vm.communicationform" novalidate form-submit='vm.model.saveCommunication()' controller="vm")
            div.form-group.row.hidden-sm-down
              div.sectiontitle.col-sm-10 Communication Preferences
            //- div.form-label.form-group
            //-     span Contact Preference
            fieldset
                //- Uncomment the following code for future releases.
                //- div.radio-buttons-section.form-group.col-sm-12.no-gutter.clearfix
                    //- div.radio.clearfix.m-b-1
                    //-     input.form-control(type="radio", name="contactpref", value="Email", ng-model="vm.model.communication.contactpref", ng-required="true")
                    //-     label.pull-left.text-section.relative
                    //-         div.label-section
                    //-             p.radio-button-heading Email
                    //-             p.small.radio-button-desc {{vm.model.contact.email}}
                        
                    //- div.radio.clearfix.m-b-1
                    //-     input.form-control(type="radio", name="contactpref", ng-model="vm.model.communication.contactpref",  value="Text", ng-required="true")
                    //-     label.pull-left.text-section.relative
                    //-         div.label-section
                    //-             p.radio-button-heading Text
                    //-             p.small.radio-button-desc {{vm.model.contact.mobilePhoneInputDisplay}}
                            
                    //- div.radio.clearfix.m-b-1
                    //-     input.form-control(type="radio", name="contactpref", ng-model="vm.model.communication.contactpref",  value="Mail", ng-required="true")
                    //-     label.pull-left.text-section.relative
                    //-         div.label-section
                    //-             p.radio-button-heading Mail
                    //-             p.small.radio-button-desc {{vm.model.contact.streetAddress}} {{vm.model.contact.streetAddress2}}
                    //-             p.small.radio-button-desc {{vm.model.contact.city}} {{vm.model.contact.state}}, {{vm.model.contact.country}}
                                
                div.col-sm-12.no-gutter.email-communication-section
                    div.relative.section-heading
                        span Email Communications
                    div.language-section
                        div.heading-section
                            span Language Preference
                        div.select-wrapper.form-group.col-sm-12.no-gutter.language-select-section
                            select#language.form-control(name="language" ng-model='vm.model.communication.languagepref' ng-options="item.code as item.name for item in vm.model.languageList" required ng-class="{'ng-touched': vm.communicationform.$submitted}")
                            div.form-group.error-block(ng-show="(vm.communicationform.language.$touched && vm.communicationform.language.$error.required) || (vm.communicationform.language.$dirty && vm.communicationform.language.$error.required) || (vm.communicationform.$submitted  && vm.communicationform.language.$error.required)") Please enter the value for this field.
                    div.checkbox-section
                        div.checkbox.clearfix
                            input.form-control(type="checkbox", name="dnd", ng-model="vm.model.communication.dnd")
                            label.pull-left.text-section.relative
                                div.label-section
                                    p.small Do Not Contact. By selecting this option you will be placed on Do Not Contact list, you will not receive any Newsletter, Special    Offering or Marketing emails from Nu Skin.
              div.form-group.m-b-2.clearfix
                div.form-group.col-sm-12.no-gutter.no-margin-bottom.hidden-md-up
                  div.col-sm-12.no-gutter
                    button.btn.btn-primary.btn-save.col-sm-12(type='submit') SAVE
                  div.col-sm-12.no-gutter
                    button.btn.btn-block.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelCommunication()') CANCEL
                div.form-group.row.no-margin-bottom.hidden-sm-down
                  div.col-md-6
                    button.btn.btn-primary.btn-save.col-sm-12(type='submit') SAVE
                  div.col-md-6
                    button.btn.btn-block.btn-primary-outline.col-sm-12(type='button', ng-click='vm.model.cancelCommunication()') CANCEL

div.grayline.col-sm-12.no-gutter(ng-hide = "vm.model.showComForm")
    div.col-sm-12.no-gutter.backgroundwhite
        div.col-sm-6.no-gutter(ng-click="vm.model.showComForm = true")
            div.inlineedit
        div.col-sm-6.no-gutter.inlineedittext(ng-click="vm.model.showComForm = true") Edit