@import "../../../../src/stylesheets/partials/variables.scss";
.landing-page-customer{
  .landing-page-customer-banner{
    background: url('../../../../src/assets/images/content/banner-customer.png') no-repeat $gray-lightest;
    height: 35.625rem;
    color: $white;
    background-size: cover;
    background-position: 50%;
    h1{
      color: $white;
      font-size: 3.75rem;
    }
    p{
      width: 21.5rem;
      margin-bottom: 1.25em;
    }
    a{
      font-size: 0.8125rem;
      text-transform: uppercase;
      font-weight: $proxima-semibold;
      color: $white;
    }
    .landing-page-customer-banner-overlay{
      background-image: linear-gradient(to top, $distributor-overlay-from, $distributor-overlay-to);
      opacity: 0.5;
      position: absolute;
      width: 100%;
      height: 35.625rem;
    }
    .landing-page-customer-banner-text{
      padding: 10.875em 0 0 10em;
      position: absolute;
    }
  }
  .reasons-to-create{
    width: 55.625em;
    height: 20.875em;
    background-color: $white;
    margin: -4.625em auto 0;
    padding: 2.5em 5.125em 0;
    margin-bottom: 4.625em;
    position: relative;
    .reason-header{
      padding-bottom: 4em;
      p{
        font-size: 0.875rem;
      }
      h3{
        margin-bottom: 5px;
      }
    }
    .reasons-tile{
      padding-bottom: 12px;
      float: left;
      i{
        width: 3.125em;
        height: 3.4375em;
        display: block;
        margin: 0 auto;
        background-position: center;
      }
      i.ic-clock{
        background-image: url('../../../../src/assets/images/css/ic-clock.svg');
        background-repeat: no-repeat;
      }
      i.ic-track{
        background-image: url('../../../../src/assets/images/css/ic-track.svg');
        background-repeat: no-repeat;
      }
      i.ic-review{
        background-image: url('../../../../src/assets/images/css/ic-review.svg');
        background-repeat: no-repeat;
      }
      i.ic-recommend{
        background-image: url('../../../../src/assets/images/css/ic-recommend.svg');
        background-repeat: no-repeat;
      }
      p.small{
        font-weight: $proxima-light;
        color: $gray;
        padding-top: 0.8125em;
      }
    }
    .reasons-tile-m-l{
      margin-left: 4.875em;
    }
  }
  .category-details{
    background: $white;
    padding: 8em 3em 9.5em;
    .category-text{
      text-align: center;
      padding-left: 0rem;
      color: $gray-dark;
      label{
        font-size: 1.375rem;
        font-weight: $proxima-thin;
        margin-bottom: 0;
      }
    }
    .category-item{
      cursor: pointer;
    }
    .category-image{
      padding-left: 0rem;
      padding-top: 3em;
      padding-bottom: 0;
      width: 21.5em;
      height: 19.5em;
      margin: 0 auto;
      text-align: center;
    }
    p{
      font-size: 0.875rem;
    }
  }
  .sign-up-today-banner{
    background: url('../../../../src/assets/images/content/sign-up-today.png') no-repeat 0 4.625rem $white;
    height: 35.625em;
    .sign-up-today-banner-overlay{
      width: 55.625em;
      height: 100%;
      margin: 0 auto;
      padding: 9.625em 14.25em 0;
      background: url('../../../../src/assets/images/content/sign-up-today-overlay.png') no-repeat;
      h1{
        font-size: 3em;
        font-weight: $proxima-thin;
        color: $white;
      }
      span{
        font-size: 0.875rem;
        color: $white;
      }
    }
  }
  .opportunity{
    background-color: $white;
    .opportunity-overlay{
      margin: 0 auto;
      padding-top: 7.5em;
      width: 55.625em;
      h3{
        margin-bottom: 8px;
      }
      p{
        margin: 0 auto;
        width: 29em;
      }
      }
  }
  .slick-slider.carousel .slick-next{
    right: -17.2rem;
    width:1.9rem;
  }
  .slick-slider.carousel .slick-prev{
    left: -17.2rem;
    width:1.9rem;
  }
  .success-story-container{
    background: $white;
    padding-top: 0;
    .success-story{
      margin: 0 auto;
      padding-bottom: 1rem;
      width: 55.625em;
      p{
        margin: 0 auto;
        width: 29em;
      }
      .learn-more{
        margin-top: 2em;
        height: 22.75em;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
        padding-left: 0px;
        padding-right: 0px;
        .video-panel{
            display: table;
          }
        .left-panel{
          float: left;
          padding-left: 0;
          padding-right: 0;
          height: 100%;
          .embed-responsive{
            display: table-cell;
            vertical-align: middle;
          }

          img {
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
        .right-panel{
          float: right;
          height: 100%;

          em.quotes{
            width: 2.875rem;
            height: 2.625rem;
            opacity: 0.07;
            font-size: 6.25rem;
            font-weight: $proxima-light;
            font-style: normal;
            line-height: 1.18;
            color: $gray-black;
            display: inline-block;
          }
          i.quotes-text{
            font-size: 1.625rem;
            font-weight: $proxima-light;
            line-height: 1.23;
            display: inline-block;
            color: $gray;
            padding-left: 2.25rem;
            margin-top: -6px;
          }
          p{
            color: $gray-black;
            width: 100%;
            padding-left: 2.25rem;
          }
        }
        .padding-image{
            padding: 3.125em 6.125em 0 6.375em;
          }
        .padding-video{
          padding: 3.125em 6em 0 1.5em;
        }  
      }
    }
  }
  /* Carousel Dots CSS*/
  .slick-dots {
    bottom: -3.25em;
    position: initial;
  }
  .slick-dots li {
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li button {
      background: transparent;
      border: .0625rem solid $gray-lighter;
      width: 0.625em;
      height: 0.625em;
  }
  .slick-dots li.slick-active button {
      background: $gray-light;
      border: .0625rem solid $gray-light;
  }
  .slick-dots li button:before,
  .slick-dots li.slick-active button:before {
      opacity: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 5.5rem;
  }
  .embed-responsive {
    video#video-0 {
      padding-left: 2.5rem;
      padding-right: 1rem;
    }
  }
  .slick-slider.carousel .slick-slide {
    padding-left: 0;
  }
  .need-a-login{
    span{
      line-height: 1.43;
      display: block;
    }
    a{
      line-height: 1.38;
      font-weight: $proxima-semibold;
      display: block;
      cursor: pointer;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1439px){
    .landing-page-customer-banner{
      height: 26.75em;
      .landing-page-customer-banner-overlay{
        height: 26.75em;
      }
      .landing-page-customer-banner-text{
        padding: 6.625em 0 0 4.25em;
      }
    }
    .category-details{
      padding: 5.5em 3.25em 7.25em;
      .category-image{
        width: 100%;
        height: 13.125em;
        padding: 2em 0 0;
      }
    }
    .reasons-to-create{
      margin-bottom: 2.5em;
      .reasons-tile{
        width: 7.75em;
      }
      .last{
        width: 7.5em;
      }
    }
    .opportunity{
      .opportunity-overlay{
        padding-top: 8.25em;
      }
    }
   
    .slick-slider.carousel .slick-next {
      right: -4.2rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -4.2rem;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 4.5rem;
    }
    .success-story-container{
      .success-story{
        padding-bottom: 1rem;
        .learn-more{
          .video-parent {
            height: 100%;
          }
          .padding-video{
             padding: 3.125em 5.8em 0 1.5em;
          }
          .embed-responsive {
            video#video-0 {
              padding-left: 2.5rem;
              padding-right: 1.5rem;
            }
          }
        }
      }
    }
    .sign-up-today-banner{
      height: 32em;
      .sign-up-today-banner-overlay{
        padding: 7.875em 14.25em 0;
        background-position: 0 -1.875rem;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .landing-page-customer-banner{
      height: 20em;
      h1{
        font-size: 3rem;
      }
      p{
        width: 17.375rem;
      }
      .landing-page-customer-banner-overlay{
        height: 20em;
      }
      .landing-page-customer-banner-text{
        padding: 3.875em 0 0 3.375em;
      }
    }
    .reasons-to-create{
      width: 100%;
      padding-top: 3.5em;
      height: 19.75em;
      margin: 0 0 1em;
      .reason-header{
        padding-bottom: 2.25em;
      }
      .reasons-tile{
        width: 6.875em;
      }
      .reasons-tile-m-l{
        margin-left: 3.20em;
      }
      .last{
        width: 7.375em;
      }
    }
    .saperator-category{
      background-color: $gray-lightest;
      height: 1.125em;
    }
    .category-details{
      padding: 4.5em 0 5.375em;
      .category-image{
        width: 100%;
        height: 11em;
        padding: 2em 0 0;
      }
    }
    .opportunity{
      .opportunity-overlay{
        width: 48em;
        padding-top: 6.5em;
      }
    }
    .success-story-container{
      .success-story{
        width: 48em;
        padding-bottom: 1rem;
        .learn-more{
          height: 18.5em;
          margin-left: 1.5rem;
          margin-right: 1.5rem;
          margin-top: 1.5rem;
          .video-parent {
            height: 100%;
          }
          .left-panel{
          }
          .right-panel{
               padding: 1.3em 4em 0 3.5em;
            i.quotes-text {
              font-size: 1.625rem;
            }
          }
          .padding-video{
             padding: 1.2em 4em 0.6em 0;
          }
          .btn {
            padding: 0.6rem 1.625rem 0.55rem;
          }
          .embed-responsive {
            video#video-0 {
              padding-left: 2.1rem;
              padding-right: 3rem;
            }
          }
        }
      }
    }
    .slick-slider.carousel .slick-next {
      right: -0.2rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -0.2rem;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 4.5rem!important;
    }
    .sign-up-today-banner{
      height: 32.125em;
      .sign-up-today-banner-overlay{
        width: 48em;
        padding: 7.875em 10.375em 0;
        background-position: 0 -1.875rem;
      }
    }
  }
  @media screen and (min-width: 360px) and (max-width: 767px){
    .landing-page-customer-banner{
      height: 20em;
      background-size: cover;
      h1{
        font-size: 2.25rem;
      }
      p{
        width: 13.75rem;
        margin-bottom: 1.5em;
        font-size: 0.8125rem;
      }
      .landing-page-customer-banner-overlay{
        height: 20em;
      }
      .landing-page-customer-banner-text{
        padding: 4.625em 0 0 1.5em;
      }
    }
    .reasons-to-create{
      width: 100%;
      padding: 3.5em 2.2em 4.125em;
      height: 32.75em;
      margin: 0;
      .reason-header{
        padding-bottom: 2.25em;
        h3{
          font-size: 1.125rem;
        }
      }
      .reasons-tile{
        height: 10em;
      }
      .reasons-tile-m-l{
        margin-left: 0;
      }
    }
    .saperator-category{
      background-color: $gray-lightest;
      height: 1.125em;
    }
    .category-details{
      padding: 3em 0 3.625em;
      h3{
        font-size: 1.125rem;
      }
      p{
        width: 15.125em;
        margin: 0 auto;
      }
      .category-image{
        width: 100%;
        height: 11em;
        padding: 2em 0 0;
      }
    }
    .opportunity{
      .opportunity-overlay{
        width: 100%;
        padding-top: 3.75em;
        padding-bottom: 0;
        h3{
          font-size: 1.125rem;
        }
        p{
          width: 20.875em;
          font-size: 0.875rem;
        }
      }
    }
    .success-story-container{
      padding-top: 0;
      .success-story{
        width: 100%;
        .learn-more{
          margin-top: 1.5em;
          height: inherit;
          .btn {
            padding: 0.6rem 1.625rem 0.55rem;
          }
          .left-panel{
            float: none;
            width: 100%;
            margin-bottom: 0.5em;
            padding-left: 0;
            padding-right: 0;
            .user-image{
            }
            img{
              transform: translateY(0%);
            }
          }
          .right-panel{
            float: none;
            width: 100%;
            padding: 0 1.5em 1.5em;
          }
          .embed-responsive {
              video#video-0 {
                padding-left: 0;
                padding-right: 0;
              }
          }
          .left-panel{
            &.video-pad{
              padding-top: 5.5rem;
            }
          }
        }
        h3{
          font-size: 1.125rem;
          padding-top: 3rem;
        }
        p{
          width: 20.875em;
          font-size: 0.875rem;
        }
      }
    }
     .slick-slider.carousel .slick-next {
      right: -0.2rem;
      top: 11.8rem;
    }
    .slick-slider.carousel .slick-prev {
      left: -0.2rem;
      top: 11.8rem;
    }
    .slick-dotted.slick-slider {
            padding-bottom: 4.5rem;
            margin-bottom: 0;
    }
    .slick-slider.carousel .slick-slide {
      padding: 0 1.5em 0;
    }
    .sign-up-today-banner{
      height: 25.625em;
      .sign-up-today-banner-overlay{
        width: 100%;
        padding: 5em 1.5em 0;
        h1{
          font-size: 2.25rem;
        }
      }
    }
  }
  @media screen and (min-width: 1440px){
    .reasons-to-create{
      .reasons-tile{
        width: 7.75em;
      }
      .last{
        width: 7.5em;
      }
    }
    .success-story-container{
      .success-story{
        .learn-more{
          .video-parent {
            height: 100%;
          }
        }
      }
    }
  }
}
