.landing-page-customer
  .landing-page-customer-banner
    .landing-page-customer-banner-overlay
    .landing-page-customer-banner-text
      h1 Join US
      p Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, optio cumque nihil impedit qu.
      a(href="#/landingPageCustomer#signUp") Sign Up Options
  .reasons-to-create
    .reason-header
      h3.center Reasons to create an account
      p.center.m-b-0 You'll be able to enjoy great benefits, such as:
    .reasons-tile.col-md-3.col-sm-6.reasons-tile-m-l-sm
      i.ic-clock
      p.small.center Save time! Keep your information on file for fast checkout.
    .reasons-tile.col-md-3.col-sm-6.reasons-tile-m-l
      i.ic-track
      p.small.center Easily track and manage your orders.
    .reasons-tile.col-md-3.col-sm-6.reasons-tile-m-l.reasons-tile-m-l-sm
      i.ic-review
      p.small.center Learn about your favorite products.
    .reasons-tile.col-md-3.col-sm-6.reasons-tile-m-l.last
      i.ic-recommend
      p.small.center Get exclusive product news and recommendations.
  .saperator-category
  .category-details
    h3.center.m-b-0 Short Description Headline Area
    p.center.m-b-0 Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, optio cumque nihil impedit qu.
    .col-xl-3.col-lg-3.col-md-3.col-sm-6(ng-repeat='categories in ctrl.featuredCategoriesData')
        a.category-item
            .category-image
                img.img-category(height='100%' ng-src="{{categories.productImage}}")
            .category-text
                label.title-category {{categories.productTitle}}
        .clearfix.visible-sm
    .clearfix.visible-sm
  .sign-up-today-banner
    #signUp.sign-up-today-banner-overlay
      h1.center.m-b-0 Sign up Today
      a.btn.btn-primary.m-t-3.m-b-0 Continue As a Customer
      a.btn.btn-primary.m-t-2.m-b-0(href="#/landingPageDistributor") Looking to become a Distributor?
      .center.need-a-login
        span.center.m-t-2 Already have an account, but need a login?
        a.center(href="#/signup") Create a Username and password
  .opportunity
    .opportunity-overlay
      h3.center Short Description Headline Area
      p.center.m-b-0 Lorem ipsum dolor sit amet, ex eam dictas melius laboramus, id vel mazim qualisque posidonium. Pri an brute temporibus appellantur.

  .success-story-container
    .success-story
      slick.carousel.carousel-secondary(settings='ctrl.slickVideoConfig', ng-if='ctrl.featuredCategoriesData.length')
        .col-sm-12(ng-repeat='slide in ctrl.featuredCategoriesData')
          .success-story
            .learn-more
              .left-panel.col-sm-5(ng-if="slide.successStory.type=='image'")
                img.user-image(src='{{slide.successStory.url}}')
              .video-parent    
                .left-panel.col-sm-6.video-panel(ng-if="slide.successStory.type=='video'")
                  .embed-responsive.embed-responsive-16by9
                    video.embed-responsive-item(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.videoEnd($index)'}")
                      source(ng-src='{{slide.successStory.url}}', type='video/mp4')
                      |                                         Your browser doesn't support HTML5 video.
                    .video-btn
                      button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')
                        span Play
                .right-panel(ng-class="(slide.successStory.type=='image')?'col-sm-7 padding-image':'col-sm-6 padding-video'")
                  em.quotes.pull-left &ldquo;
                  i.quotes-text.pull-left {{slide.successStory.message}}
                    em.quotes.pull-right &rdquo;
                  .clearfix.visible-sm
                  p &mdash; {{slide.successStory.customerName}}
                  button.btn.btn-primary.m-t-2 Start Selling
     
