@import "../../../../../src/stylesheets/partials/variables.scss";
.my-branded-story {
    background-color: $gray-lightest;
    .reset {
        margin: 0;
    }
    .mbs-build-header {
        min-height: 4em;
        padding: 0;
        .mbs-title {
            margin: auto;
            height: 4.875rem;
            width: 100%;
            display: table;
            h1 {
                margin: 0;
                color: $white;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                height: 100%;
                vertical-align: middle;
                display: table-cell;
            }
        }
        .mbs-progress-indicator {
            height: 3.75em;
            background: rgba(255, 255, 255, 0.34);
            .indicator-group {
                margin: 0 auto;
                display: table;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                .level {
                    width: 2.25em;
                    height: 2.25em;
                    background-color: $brand-primary;
                    float: left;
                    margin: 0 0.875em;
                    border-radius: 50%;
                    text-align: center;
                    display: table;
                    span {
                        display: table-cell;
                        vertical-align: bottom;
                        width: 100%;
                        height: 100%;
                        font-size: 1.375rem;
                        font-weight: $proxima-light;
                        line-height: 1.41;
                        color: $white;
                        font-family: $proxima-condensed;
                    }
                }
                .level-active {
                    background: $aqua;
                    border: 1px solid $white;
                    .arrow {
                        position: absolute;
                        width: 0.5em;
                        height: 0.5em;
                        bottom: -0.75em;
                        border-bottom: 8px solid $white;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        margin-left: -1.5em;
                        .arrow-border {
                            border-bottom: 7px solid $aqua;
                            border-left: 7px solid transparent;
                            border-right: 7px solid transparent;
                            position: relative;
                            top: 1.5px;
                            left: -6.5px;
                        }
                    }
                }
                .level-complete {
                    position: relative;
                }
                .level-complete:after {
                    content: '';
                    position: absolute;
                    background: url(../../../../../src/assets/images/css/ic-checked.svg) no-repeat center;
                    background-size: contain;
                    background-color: $white;
                    opacity: 0.7;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    border-radius: 50%;
                }
            }
        }
    }
    .mbs-type {
        .mbs-type-header {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1.23;
            letter-spacing: 0.6px;
            text-align: center;
            color: $white;
            background: $aqua;
            border-top: solid 1px $white;
            text-align: center;
            margin-top: -1px;
            padding: 0.5em 0;
        }
        .mbs-banner {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 15.625em;
            display: table;
            .mbs-banner-text {
                width: 100%;
                height: 100%;
                background-color: rgba(68, 68, 68, 0.5);
                display: table-cell;
                vertical-align: middle;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                letter-spacing: -0.1px;
                text-align: center;
                color: $white;
                .mbs-banner-logo {
                    max-height: 2.25em;
                }
                div {
                    display: block;
                    margin-top: 1.5em;
                }
            }
        }
    }
    .mbs-content {
        .mbs-type-info {
            background: $white;
            overflow: auto;
            .type-description {
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                letter-spacing: -0.1px;
                color: $gray-dark;
                padding-bottom: 1.5em;
            }
            .type-steps {
                ul {
                    margin-bottom: 0;
                    padding-left: 0;
                    list-style: none;
                    li {
                        font-size: 1rem;
                        font-weight: $proxima-light;
                        line-height: 1.56;
                        letter-spacing: -0.1px;
                        color: $gray-dark;
                        margin-bottom: 0.5em;
                    }
                    li:last-child {
                        margin-bottom: 0;
                    }
                    li:before {
                        content: "";
                        line-height: 1em;
                        width: .45em;
                        height: .45em;
                        background-color: $aqua;
                        float: left;
                        margin: .5em .85em 0 0;
                        border-radius: 50%;
                    }
                }
            }
        }
        .mbs-examples {
            background-color: $white;
            overflow: auto;
            .slick-track {
                min-height: 12em;
            }
            h1 {
                font-size: 1.375rem;
                font-weight: $proxima-thin;
                line-height: 1.41;
                color: $gray-dark;
                margin-bottom: 0.875rem;
            }
            #carouselModal .modal-body p {
                padding: 1.5em;
                font-size: 1rem;
                font-weight: $proxima-light;
                line-height: 1.5;
                color: $gray-black;
            }
            .carousel-text-container {
                width: inherit;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            .carousel-text {
                padding: 0 1.5em;
                .text-container {
                    padding: 1.5em;
                    border-radius: 2px;
                    background-color: $gray-fair;
                    overflow: auto;
                    p {
                        font-size: 1rem;
                        font-weight: $proxima-light;
                        line-height: 1.5;
                        color: $gray-black;
                        margin-bottom: 0;
                        overflow: hidden;
                        position: relative;
                        max-height: 8.8em;
                        padding-right: 0.7em;
                    }

                    .read-more-link {
                        margin-top: 1.5em;
                        font-size: 1rem;
                        font-weight: $proxima-light;
                        color: $brand-primary;
                        cursor: pointer;
                    }
                }
            }
            .carousel-image {
                cursor: pointer;
            }
            .carousel.carousel-primary {
                .slick-prev, .slick-next {
                    background: rgba(55, 176, 201, 0.8);
                    width: 2.125rem;
                    height: 4.625rem;
                }
            }
            .slick-dots {
                bottom: -2.75em;
            }
            .slick-dots li {
                width: 0.625em;
                height: 0.625em;
            }
            .slick-dots li button {
                background: transparent;
                border: 1px solid $gray-lighter;
                width: 0.625em;
                height: 0.625em;
            }
            .slick-dots li.slick-active button {
                background: $aqua;
            }
            .slick-dots li button:before,
            .slick-dots li.slick-active button:before {
                opacity: 0;
            }
            .slick-dotted.slick-slider {
                margin-bottom: 4em;
            }
            /*Added as a part of 11666*/
            .slick-slider.carousel .slick-slide {
                padding: 0;
                margin: 0 1px;
            }
            .slick-list {
                margin: 0 -1px;
            }
        }
        .mbs-quick-tips {
            background-color: $white;
            overflow: auto;
            #accordion {
                overflow: hidden;
                .panel {
                    background-color: $white;
                    .panel-title {
                        margin-bottom: 0;
                        .btn {
                            text-align: left;
                            margin-bottom: 0;
                            background: white;
                            width: 100%;
                            padding: 0;
                            position: relative;
                            .tips-heading {
                                font-size: 1.375rem;
                                font-weight: $proxima-thin;
                                line-height: 1.41;
                                color: $gray-dark;
                            }
                            .tips-heading-secondary {
                                white-space: normal;
                                font-size: 0.875rem;
                                font-weight: $proxima-light;
                                line-height: 1.69;
                                letter-spacing: -0.1px;
                                color: $gray-dark;
                                margin-top: 1.5em;
                                text-transform: none;
                            }
                        }
                        .btn.collapsed:after {
                            transform: rotate(180deg);
                        }
                        .btn:after {
                            content: '';
                            background: url(../../../../../src/assets/images/css/ic-dropdown-arrow-up.svg) center no-repeat;
                            height: 1rem;
                            width: 1rem;
                            transition: all .2s;
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 1rem;
                        }
                    }
                    .panel-body {
                        margin-top: 1.5em;
                        ul {
                            margin-bottom: 0;
                            padding-left: 0;
                            list-style: none;
                            li {
                                font-size: 1rem;
                                font-weight: $proxima-light;
                                line-height: 1.56;
                                letter-spacing: -0.1px;
                                color: $gray-dark;
                                margin-bottom: 0.5em;
                            }
                            li:last-child {
                                margin-bottom: 0;
                            }
                            li:before {
                                content: "";
                                line-height: 1em;
                                width: .45em;
                                height: .45em;
                                background-color: $aqua;
                                float: left;
                                margin: .5em .85em 0 0;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        .mbs-script {
            background-color: $white;
            overflow: auto;
            .mbs-script-header {
                font-size: 1.375rem;
                font-weight: $proxima-thin;
                line-height: 1.41;
                color: $gray-black;
            }
            .script-textarea {
                textarea {
                    resize: none;
                    background-color: $white;
                    border: solid 1px $gray-lighter;
                    border-radius: 2px;
                    height: 11.5em;
                    width: 100%;
                    padding: 1.5em;
                }
                textarea:focus {
                    border-color: $brand-primary;
                }
                ::-webkit-input-placeholder {
                    opacity: 0.3;
                }
                ::-moz-placeholder {
                    opacity: 0.3;
                }
                :-ms-input-placeholder {
                    opacity: 0.3;
                }
            }
            .script-textarea-alert {
                font-size: 0.875rem;
                line-height: 1.57;
                letter-spacing: -0.1px;
                text-align: right;
                color: $gray-black;
                opacity: 0.45;
            }
            .script-textarea-alert.count-alert {
                color: $red;
                opacity: 1;
            }
        }
        .mbs-inspiration {
            background-color: $white;
            .positioning {
                overflow: auto;
            }
            .inspiration-header {
                font-size: 1.375rem;
                font-weight: $proxima-thin;
                line-height: 1.41;
                color: $gray-black;
            }
            .inspiration-content {
                margin: 0.875em 0 1.5em 0;
                font-size: 0.875rem;
                font-weight: $proxima-light;
                line-height: 1.69;
                letter-spacing: -0.1px;
                color: $gray-dark;
            }
            .quiz-timer {
                background: url(../../../../../src/assets/images/css/clock-small.png) no-repeat left;
                background-size: contain;
                padding-left: 2em;
                font-size: 0.875rem;
                font-weight: $proxima-light;
                line-height: 1.29;
                color: $gray;
            }
            .quiz-link {
                text-align: right;
                a {
                    font-size: 1rem;
                    font-weight: $proxima-light;
                    color: $brand-primary;
                }
            }
        }
        .mbs-nav-buttons {
            background-color: $white;
            overflow: auto;
            .btn {
                font-size: 0.8125rem;
                font-weight: $proxima-semibold;
                line-height: 1.31;
                letter-spacing: 1px;
                text-align: center;
                margin-bottom: 1rem;
                width: 100%;
            }
            .mbs-skip-btn {
                margin: 0.5em 0 1em;
                font-size: 1rem;
                font-weight: $proxima-light;
                text-align: center;
                color: $brand-primary;
                cursor: pointer;
            }
        }
    }
    .modal {
        -webkit-transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
        transition: opacity 1.25s cubic-bezier(0.16, 1.32, 0.91, 1.26);
    }
    .modal .modal-dialog {
        height: 100%;
        margin: auto;
        max-width: 100%;
    }
    .modal-dialog.image-modal {
        width: 100%;
    }
    .modal-content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(198, 198, 198, 0.5);
        background: transparent;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        display: inline-table;
    }
    .text-modal .modal-content {
        width: 100%;
        border: solid 1px $gray-light-border;
        background: $white;
    }
    .modal-header.full-image {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
    .modal-header {
        padding: 1em 1em 0;
        border-bottom: 0;
    }
    .modal-header .close {
        width: 1.5rem;
        height: 1.5rem;
        background: url(../../../../../src/assets/images/css/ic-close-circle.png) no-repeat;
        background-size: contain;
        opacity: 1;
    }
    .modal-body {
        padding: 0;
        margin: 0;
        text-align: center;
        p {
            text-align: left;
        }
    }
    .modal-title {
        font-size: 1rem;
        line-height: 1.27;
        text-transform: none;
        padding: 0 1em;
        text-align: center;
    }
    .modal-option-btn {
        margin: auto;
        .btn {
            width: 100%;
            margin-top: 0;
        }
    }
    #saveUnfinishedWork .modal-body {
        padding: 1em 1.5em;
    }
    #saveUnfinishedWork .modal-title {
        margin-bottom: 1.5em;
    }
    .slick-slider.carousel .slick-prev::before{
      background: url(../../../../../src/assets/images/css/ic-arrow-left-white.svg) no-repeat;
      height: 1.250em;
      width: 11px;
      background-size: 100%;
      content: '';
      opacity: 1;
      display: inline-block;
    }
    .slick-slider.carousel .slick-next::before{
      background: url(../../../../../src/assets/images/css/ic-arrow-right-white.svg) no-repeat;
      height: 1.250em;
      width: 11px;
      background-size: 100%;
      content: '';
      opacity: 1;
      display: inline-block;
    }
    .slick-slider.carousel .slick-next:hover , .slick-slider.carousel .slick-prev:hover {
      background: $blue-light;
    }
}

@media all and (min-width: 360px) and (max-width: 767px) {
    .mbs-content {
        .mbs-type-info {
            padding: 1.75em 1.5em;
        }
        .mbs-examples {
            padding: 1.5em 0 0;
            margin: 0.5em 0 0;
            h1 {
                padding: 0 1.5rem;
            }
            .carousel.carousel-primary {
                .slick-prev {
                    left: 0;
                }
                .slick-next {
                    right: 0;
                }
            }
        }
        .mbs-quick-tips {
            margin-top: 0.5em;
            #accordion .panel {
                padding: 1em 1.6em 2.5em;
            }
        }
        .mbs-script {
            margin-top: 0.5em;
            padding: 0.875em 1.5em 2.5em;
            .script-textarea-alert {
                margin: 0.5em 0;
            }
        }
        .mbs-inspiration {
            margin-top: 0.5em;
            padding: 1.35em 1.5em;
        }
        .mbs-nav-buttons {
            margin-top: 0.5em;
            padding: 1.6em 1.5em;
        }
        .text-modal {
            width: 86.5%;
        }
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .mbs-content {
        padding-top: 0.5em;
        .mbs-type-info {
            padding: 1.75em 0;
        }
        .mbs-examples {
            padding: 1.5em 0 0;
            margin: 0.5em 0 0;
            .carousel.carousel-primary {
                .slick-prev {
                    left: -2.5rem;
                }
                .slick-next {
                    right: -2.5rem;
                }
            }
        }
        .positioning,
        .mbs-quick-tips #accordion {
            width: 56.5%;
            margin: 0 auto;
        }
        .mbs-quick-tips {
            margin-top: 0.5em;
            #accordion .panel {
                padding: 1em 0 2.5em;
            }
        }
        .mbs-script {
            margin-top: 0.5em;
            padding: 0.875em 0 2.5em;
            .script-textarea-alert {
                margin: 0.5em 0;
            }
        }
        .mbs-inspiration {
            margin-top: 0.5em;
            padding: 1.35em 0;
        }
        .mbs-nav-buttons {
            margin-top: 0.5em;
            padding: 1.6em 0;
        }
        .text-modal {
            width: 50%;
        }
    }
}

@media screen and (min-width:1024px) and (max-width: 1439px) {
    .mbs-content {
        padding: 1.75em 3%;
        .mbs-type-info {
            width: 52%;
            padding: 1.5em 1.5em 3em;
            margin: 0 3% 1.5em 0;
            float: left;
        }
        .mbs-examples {
            width: 45%;
            padding: 1em 1.5em;
            .carousel.carousel-primary {
                .slick-prev {
                    left: -1.5rem;
                }
                .slick-next {
                    right: -1.5rem;
                }
            }
        }
        .mbs-quick-tips {
            width: 45%;
            margin-top: 1.5em;
            padding: 1.5em;
        }
        .mbs-script {
            width: 52%;
            padding: 1.5em 1.5em 2.5em;
            margin: 0 3% 1.5em 0;
            float: left;
            .script-textarea-alert {
                margin: 0 0 0.5em;
            }
        }
        .mbs-inspiration {
            width: 45%;
            margin: 1.5em 0 4em;
            margin-left: 55%;
            .positioning {
                padding: 1.5em;
            }
        }
        .mbs-nav-buttons {
            width: 52%;
            padding: 2em 0;
            margin: 0 3% 2em 0;
            float: left;
            .positioning {
                width: 66%;
                margin: 0 auto;
            }
        }
        .text-modal {
            width: 38%;
        }
    }
}

@media screen and (min-width:1440px) {
    .mbs-content {
        padding: 1.75em 11%;
        .mbs-type-info {
            width: 59%;
            padding: 1.5em 1.5em 3em;
            margin: 0 2% 1.5em 0;
            float: left;
        }
        .mbs-examples {
            width: 39%;
            padding: 1em 1.5em;
            .carousel.carousel-primary {
                .slick-prev {
                    left: -1.5rem;
                }
                .slick-next {
                    right: -1.5rem;
                }
            }
        }
        .mbs-quick-tips {
            width: 39%;
            margin-top: 1.5em;
            padding: 1.5em;
        }
        .mbs-script {
            width: 59%;
            padding: 1.5em 1.5em 2.5em;
            margin: 0 2% 1.5em 0;
            float: left;
            .script-textarea-alert {
                margin: 0 0 0.5em;
            }
        }
        .mbs-inspiration {
            width: 39%;
            margin: 1.5em 0 4em;
            margin-left: 61%;
            .positioning {
                padding: 1.5em;
            }
        }
        .mbs-nav-buttons {
            width: 59%;
            padding: 2em 0;
            margin: 0 2% 2em 0;
            float: left;
            .positioning {
                width: 66%;
                margin: 0 auto;
            }
        }
        .text-modal {
            width: 27%;
        }
    }
}
