.container-fluid.no-gutter.my-branded-story(ng-init="ctrl.init()")
  .row.sign-up-header-mbs.mbs-build-header.reset
    .mbs-title
      h1 MY BRANDED STORY
    .mbs-progress-indicator
      .indicator-group
        .level(ng-class="ctrl.currentState=='PERSONAL MOMENTS'?'level-active':'level-complete'")
          span 1
          .arrow
            .arrow-border
        .level(ng-class="ctrl.currentState=='CREATE A CONNECTION'?'level-active':''", class="{{ctrl.currentState=='THE RESOLUTION'?'level-complete':''}}")
          span 2
          .arrow
            .arrow-border
        .level(ng-class="ctrl.currentState=='THE RESOLUTION'?'level-active':''")
          span 3
          .arrow
            .arrow-border
  .row.mbs-type.reset
    .mbs-type-header {{ctrl.currentState}}
    .mbs-banner(ng-style="{'background-image':'url('+ctrl.storyData[ctrl.currentState].imageURL+')'}")
      .mbs-banner-text
        img.mbs-banner-logo(ng-src='{{ctrl.storyData[ctrl.currentState].logoURL}}')
        div {{ctrl.storyData[ctrl.currentState].imageText}}
  .mbs-content
    .mbs-type-info
      .positioning
        .type-description {{ctrl.storyData[ctrl.currentState].description}}
        .type-steps
          ul
            li(ng-repeat='list in ctrl.storyData[ctrl.currentState].steps') {{list}}
    .mbs-script(ng-if="ctrl.layout=='lg-xl'")
      .positioning
        .mbs-script-header MY PERSONAL MOMENT
        .script-textarea-alert(ng-class="ctrl.textAlert()?'count-alert':''") 1000 characters
        .script-textarea
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.personalMomentScript', ng-if="ctrl.currentState=='PERSONAL MOMENTS'")
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.createConnectionScript', ng-if="ctrl.currentState=='CREATE A CONNECTION'")
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.resolutionScript', ng-if="ctrl.currentState=='THE RESOLUTION'")
    .mbs-nav-buttons(ng-if="ctrl.layout=='lg-xl'")
      .positioning
        button.btn.btn-primary.save(type='button', ng-click="ctrl.saveScript('forward');")
          | {{ctrl.currentState=='THE RESOLUTION'?'FINISH':'SAVE & CONTINUE'}}
        button.btn.btn-primary-outline.back(type='button', data-toggle='modal', ng-click='ctrl.goBack();') GO BACK
        .mbs-skip-btn(ng-click='ctrl.skipMBSfn();') Skip Guided Experience
      #saveUnfinishedWork.modal.fade(role='dialog')
        .modal-dialog(class="text-modal")
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
            .modal-body
              h1.modal-title Would you like to save your work before proceeding?
              .modal-option-btn
                button.btn.btn-primary(type='button', ng-click="ctrl.saveScript('back')") SAVE
                button.btn.btn-primary-outline(type='button', ng-click='ctrl.dontSave()') DON'T SAVE
    .mbs-examples
      .positioning
        h1 EXAMPLES
        .mbs-examples-slides
          slick.carousel.carousel-primary(settings='ctrl.slickVideoConfig', ng-if='ctrl.carouselExamples.length')
            div(ng-repeat='slide in ctrl.carouselExamples')
              .carousel-text-container.col-sm-12.reset(ng-if="slide.type=='text'")
                .carousel-text.col-sm-12.reset
                  .text-container
                    p {{slide.slideText | limitTo: 200}}{{slide.slideText.length > 200 ? '...' : ''}}
                    .read-more-link(ng-if='slide.slideText.length>200', ng-click="ctrl.readMore('text',slide.slideText);") Read More >
              .carousel-text-container.col-sm-12.no-gutter(ng-if="slide.type=='image'")
                img.carousel-image(ng-src='{{slide.imageURL}}', ng-click="ctrl.readMore('image',slide.imageURL);")
              .col-sm-12.no-gutter(ng-if="slide.type=='video'")
                .embed-responsive.embed-responsive-16by9
                  video.embed-responsive-item(id='video-{{$index}}', ng-click='ctrl.togglePlay($index)', ui-event="{ended:'ctrl.video($index)'}")
                    source(ng-src='{{slide.videoURL}}', type='video/mp4')
                    |                                         Your browser doesn't support HTML5 video.
                  .video-btn
                    button#bigPlayButton.btn.btn-primary.play(ng-hide='ctrl.videoPlaying', ng-click='ctrl.togglePlay($index)')
                      span Play
        #carouselModal.modal.fade(role='dialog')
          .modal-dialog(ng-class="ctrl.readMoreContent.type=='text'?'text-modal':'image-modal'")
            .modal-content
              .modal-header(ng-class="ctrl.readMoreContent.type=='image'?'full-image':''")
                button.close(type='button', data-dismiss='modal')
              .modal-body
                p(ng-if="ctrl.readMoreContent.type=='text'") {{ctrl.readMoreContent.content}}
                img.enlarged-image(ng-src='{{ctrl.readMoreContent.content}}', ng-if="ctrl.readMoreContent.type=='image'", ng-style="{'max-height':ctrl.imageMaxHeight}")
    .mbs-quick-tips
      #accordion.panel-group(role='tablist', aria-multiselectable='true')
        .panel.panel-default.col-sm-12.no-gutter
          #quick-tips-heading.panel-heading(role='tab')
            h4.panel-title
              button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#quick-tips', aria-expanded='false', aria-controls='quick-tips')
                .tips-heading QUICK TIPS
                .tips-heading-secondary
                  | Here are some additional tips you might find useful as you compose your personal moment.
          #quick-tips.panel-collapse.collapse(role='tabpanel', aria-labelledby='quick-tips-heading', aria-expanded='false', style='height: 0px;')
            .panel-body
              ul
                li(ng-repeat='list in ctrl.storyData[ctrl.currentState].quickTips') {{list}}
    .mbs-script(ng-if="ctrl.layout=='sm-md'")
      .positioning
        .mbs-script-header MY PERSONAL MOMENT
        .script-textarea-alert(ng-class="ctrl.textAlert()?'count-alert':''") 1000 characters
        .script-textarea
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.personalMomentScript', ng-if="ctrl.currentState=='PERSONAL MOMENTS'")
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.createConnectionScript', ng-if="ctrl.currentState=='CREATE A CONNECTION'")
          textarea(maxlength='1000', placeholder='Enter your personal moment here', ng-model='ctrl.resolutionScript', ng-if="ctrl.currentState=='THE RESOLUTION'")
    .mbs-inspiration(ng-if="ctrl.currentState=='PERSONAL MOMENTS'")
      .positioning
        .inspiration-header NEED MORE INSPIRATION?
        p.inspiration-content
          | This quiz will help you explore some common motivations that drive other Nu Skin distributors.
        .col-sm-6.quiz-timer.no-gutter 5 MIN
        .col-sm-6.quiz-link.no-gutter
          a(href='#/quiz', target='_blank') Start Quiz
    .mbs-nav-buttons(ng-if="ctrl.layout=='sm-md'")
      .positioning
        button.btn.btn-primary.save(type='button', ng-click="ctrl.saveScript('forward');") {{ctrl.currentState=='THE RESOLUTION'?'FINISH':'SAVE & CONTINUE'}}
        button.btn.btn-primary-outline.back(type='button', data-toggle='modal', ng-click='ctrl.goBack();') GO BACK
        .mbs-skip-btn(ng-click='ctrl.skipMBSfn();') Skip Guided Experience
      #saveUnfinishedWork.modal.fade(role='dialog')
        .modal-dialog(class="text-modal")
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
            .modal-body
              h1.modal-title Would you like to save your work before proceeding?
              .modal-option-btn
                button.btn.btn-primary(type='button', ng-click="ctrl.saveScript('back')") SAVE
                button.btn.btn-primary-outline(type='button', ng-click='ctrl.dontSave()') DON'T SAVE
