@import "../../stylesheets/partials/variables";

.scroll-circle{
  cursor: pointer;
  display: block;
  right: 5%;
  bottom: 5%;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 24px;
  background-image: linear-gradient(to top, #f3dc4a, #fc6076);
  text-align: center;
}

.scroll-circle span{
  font-weight: $proxima-semibold;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color : $white;
  display: block;
}