div.storefront-custom-wrapper.storefront-bundles-wrapper 
    myStorefrontHeadingComponent(main-heading='bundlesCtrl.mainHeading', sub-heading='bundlesCtrl.subHeading')
    div.bundles-wrapper.center-section
        div.bundles-switch
            div.clearfix
                div.pull-left.promotion-label
                    p.small.m-b-0 Show promotion & bundles
                div.pull-right.switch-section
                    label.switch
                        input(type="checkbox", ng-model="bundlesCtrl.model.promotionAndBundlesSwitch", checked="", ng-click="bundlesCtrl.manageSwitchControl()")
                        div.slider.round
        myStorefrontProductSelectionComponent(ng-if="bundlesCtrl.model.promotionAndBundlesSwitch", tile-one-heading="bundlesCtrl.model.tileOne.heading", tile-one-subHeading="bundlesCtrl.model.tileOne.subHeading", tile-two-heading="bundlesCtrl.model.tileTwo.heading", tile-two-subHeading="bundlesCtrl.model.tileTwo.subHeading", is-bundles-page="true", minimum-products-target="bundlesCtrl.minimumProductsAllowed", maximum-products-target="bundlesCtrl.maximumProductsAllowed", is-inline-edit="bundlesCtrl.isInlineEdit")
        div.button-section(screen-width, ng-class="{'center-section': width >= 768 }")
            div(ng-if="!bundlesCtrl.isInlineEdit")
                div.save-section
                    button.btn.btn-primary(ng-click="bundlesCtrl.saveAndContinue()")
                        span.text-uppercase CONTINUE
            div(ng-if="bundlesCtrl.isInlineEdit")
                div.save-section
                    button.btn.btn-primary(ng-click="bundlesCtrl.saveAndPublish()")
                        span.text-uppercase Publish     
                div.cancel-section(align="center")
                    button.btn.btn-primary-outline.fullWidth(ng-click="bundlesCtrl.revertAndCancel()")
                        span Cancel
