@import "../../../../src/stylesheets/partials/variables.scss";
@import "../../../../src/stylesheets/partials/buttons.scss";

.reset {
    padding: 0;
    margin: 0;
}
.pdp-upsellkit-container {
    padding: 0;

    .pdp-upsell-section{
        background: $white;
        width: 100%;
        padding: 2.55em 2.125em;
        margin: 0;
    }

    .pdp-upsell-header {
        text-align: center;
        margin-bottom: 2.25em;
    }

    h2,p{
        text-align: center;
        padding: 0;
        margin-bottom: 0.1em;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.33;
    }

    .upsell-row {
        border: 1px solid $gray-lighter;
        display: inline-flex;
    }

    .upsell-productA {
        /*border-right: 1px solid $gray-lighter;*/
        min-height: 10em;
        padding-top: 2.125em;
        padding-bottom: 2.125em;
        padding-left: 2em;
    }

    .upsell-button-wrapper {
        padding: 0;
        max-width: 19.063em;
        .upsell-button {
            width: 100%;
            padding: 0;
            min-height: 5.693em;
            margin: 0;
        }
    }

    .product-img-container {
        top: 50%;
        transform: translateY(-50%);
      img{
        height: 7rem;
      }
    }

    .product-heading {
        color: $brand-primary;
        font-size: 1.000rem;
        font-weight: 300;
    }

    .short-desc {
        font-size: 1.000rem;
        font-weight: $proxima-light;
        line-height: 1.38;
    }

     .short-desc2 {
        font-size: 0.82rem;
        font-weight: $proxima-light;
        line-height: 1.46;
        padding-top: 0.9em;
        .separator {
            color: $gray-light;
        }
    }

    .button-fixed-text {
        font-weight: $proxima-semibold;
        font-size: 0.813rem;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .button-floating-text {
        font-weight: $proxima-thin;
        font-size: 1.750rem;
        line-height: 1;
    }

    .product-img{
        height: 100%;
      max-width: 7.25em;
    }
    .product-desc{
      padding-left: 1.5em;
      padding-top: 0.5em;
    }
    @media screen and (max-width: 374px) {
        .pdp-upsell-header {
            text-align: left;
            margin-bottom: 0;
        }
        h2,p{
            text-align: left;
            margin-bottom: 0.05em;
        }
        p {
            font-size: 1rem;
            line-height: 1.375;
        }
        .pdp-upsell-body {
            padding: 0;
        }
        .upsell-productA {
            border-right: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .upsell-row {
            border: none;
            display: block;
        }
        .product-img {
            float: left;
            width: 33.33%;
        }
        .product-desc {
            float: left;
            width: 66.66%;
        }
        .short-desc2 {
            display: none;
        }
        .upsell-price {
            margin-top: 3em;
        }
        .product-img-container {
            top: 0;
            transform: translateY(0);
        }
    }

    @media screen and (max-width: 767px) and (min-width: 375px) {
        .pdp-upsell-header {
            margin-bottom: 0;
        }
        h2,p{
            text-align: left;
            margin-bottom: 0.05em;
        }
        .upsell-productA {
            border-right: 0;
            padding-bottom: 0;
            padding-left: 0;
        }
        .upsell-row{
            border: none;
            display: block;
        }
        .short-desc2 {
            display: none;
        }
        .upsell-price {
            margin-top: 2.9em;
        }
        .product-img-container {
            top: 0;
            transform: translateY(0);
        }
    }

    @media screen and (min-width: 768px) {
        .upsell-price {
            display: flex;
            align-items: center;
        }
    }

    @media screen and (max-width: 1023px) and (min-width: 768px) {
        .pdp-upsell-section{
            padding: 4.5em 5.5em;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        .pdp-upsell-section{
            padding: 4.5em 5.5em;
        }
    }

    @media screen and (min-width: 1280px) and (max-width: 1439px) {
        .pdp-upsell-section{
            padding: 4.5em 13.5em;
        }
    }

    @media screen and (min-width: 1440px) {
        .pdp-upsell-section{
            padding: 4.5em 18.5em;
        }
    }
}
