.pdp-upsellkit-container.container-fluid.clearfix
  .row.clearfix.pdp-upsell-section
    .pdp-upsell-header.col-sm-12.clerfix.reset
      h2.col-sm-12 BETTER TOGETHER <3
      p.col-sm-12 {{ctrl.upsellKitData.upsellHeader}}
    .pdp-upsell-body.col-sm-12.clerfix.reset
      .upsell-row.clearfix.row.reset
        .upsell-productA.col-sm-12.col-md-6.reset
          .product-img.col-sm-4.reset
            .product-img-container.col-sm-12.reset
              a(href="http://www.google.com")
                img(ng-src='{{ctrl.upsellKitData.productA.imageUrl}}', alt='product one', height='100%', width='100%')
          .product-desc.col-sm-8.reset
            .product-heading.col-sm-12.reset
              a(href="http://www.google.com")
                {{ctrl.upsellKitData.productA.name}}
            .short-desc.col-sm-12.reset {{ctrl.upsellKitData.productA.shortDesc | limitTo: 200}}{{ctrl.upsellKitData.productA.shortDesc.length > 200 ? '...' : ''}}
            .short-desc2.col-sm-12.reset
              {{ctrl.upsellKitData.productA.ProdInlinePrice}} 
              span.separator | 
              {{ctrl.upsellKitData.productA.PSVDesc}}
          div
        .upsell-price.col-sm-12.col-md-6.reset
          .upsell-button-wrapper.col-sm-12.col-md-9.col-md-push-2
            button.upsell-button.btn.btn-primary-outline(type='button')
              span.button-fixed-text PURCHASE KIT FOR
              br
              span.button-floating-text {{ctrl.upsellKitData.upsellPrice}}
