@import "../../../../../src/stylesheets/partials/variables.scss";
.contentBox {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background: $white;
    .contBoxRow {
        position: relative;
    }
    .upload-content-banner {
        position: relative;
        background: url('../../../../../src/assets/images/css/file-upload-banner.png') center no-repeat;
        background-size: cover;
        text-align: center;
        .section {
            padding: 0;
            width: 100%;
            height: 100%;
        }
        .banner-title {
            width: 100%;
            display: table;
        }
        .text-center {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            margin: auto;
            color: $white;
            font-size: 1.875rem;
            line-height: 1.2;
            font-weight: $proxima-light;
        }
        .infoIcon {
            padding-right: 0.8125rem;
            position: relative;
            top: -0.125rem;
        }
        .errorMessage {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            display: none;
            background-color: $brand-danger;
            color: $white;
            border-radius: 0;
        }
    }
    .uploadBox {
        background-color: $white;
        border: 1px solid $blue-light;
        border-radius: 0.9375rem;
        height: 16.25rem;
        margin: -8.125em auto 0;
        text-align: center;
        img.ddImg {
            width: auto;
            height: auto;
            padding-top: 1.938rem;
        }
        p.ddCont {
            padding-top: 1.438rem;
            padding-bottom: 1.25rem;
        }
        .separator-line {
            width: 60%;
            min-height: 1px;
            background-color: $gray-lighter;
            position: relative;
            left: 20%;
            top: 0;
            text-align: center;
        }
        .uploadBtn {
            background-color: $brand-primary;
            color: #fff;
            padding: 0.875rem 3.75rem;
            font-size: 0.75rem;
            margin: 1.75rem 0 0 0;
            border: none;
        }
        .hidden {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            text-align: right;
            opacity: 0;
            background: none;
            cursor: inherit;
            display: block;
        }
        .circle {
            display: inline-flex;
            align-items: center;
            width: 2rem;
            height: 2rem;
            background-color: $gray-lighter;
            border: solid 1px $gray-lighter;
            border-radius: 50%;
            position: absolute;
            top: -0.9375rem;
            left: calc(50% - 15px);
            text-align: center;
            color: $gray;
            font-size: 11px;
        }
        .separator-text {
            text-align: center;
            padding: 0;
            font-size: 11px;
            font-weight: $proxima-light;
            font-style: normal;
            font-stretch: normal;
            color: $gray-faded;
            margin: 0 auto;
        }
    }
    .staticRow {
        overflow: auto;
        background: $white;
        display: table;
        width: 100%;
        legend::before {
            background: $blue-lighter;
        }
        legend span {
            display: inline-block;
            position: relative;
            z-index: 10;
            color: $gray-dark;
        }
        .hidden {
            display: none;
        }
        .leftLine {
            border: 1px solid $gray-lighter;
        }
        .rightLine {
            border: 1px solid $gray-lighter;
        }
        .uploadBtnMediumLower {
            margin: 0 auto;
            line-height: 1.31;
            letter-spacing: 1px;
            text-align: center;
        }
        .staticImg {
            width: auto;
            height: auto;
            display: block;
            margin: 0 auto;
            padding-bottom: 0.625rem;
        }
        .dataDiv {
            text-align: center;
            margin-bottom: 3rem;
            height: 15.63rem;
            label {
                font-size: 1rem;
                color: $gray-dark;
            }
        }
        .fileTypes {
            margin-top: 1.25rem;
            font-size: 0.8125rem;
            color: $gray-dark;
        }
        .fileOptions {
            padding-bottom: 1.25rem;
            font-size: 16px;
            color: $gray-dark;
        }
        .fop {
            padding-bottom: 5px;
        }
        .limitaion {
            padding-top: 10px;
            border-top: 1px solid $gray-lighter;
            font-size: 13px;
            color: $gray-dark;
            margin: auto;
        }
        .size {
            font-size: 16px;
            color: $gray-dark;
        }
        .setRow {
            overflow: auto;
        }
    }
}

.fosterOverlay {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    opacity: 0.96;
    background: $gray-foster;
    cursor: inherit;
    z-index: 1000;
    .innerDiv {
        text-align: center;
        position: fixed;
        top: 50%;
    }
    .drawCircle {
        border-radius: 50%;
        color: $gray-lighter;
        width: 11.25rem;
        height: 11.25rem;
        background: $white;
        position: relative;
        text-align: center;
        left: 47%;
        border: 2px solid $gray-soft;
        left: 41%;
        margin-top: 15%;
    }
}

.fosterUpload {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    opacity: 0.96;
    background: $gray-foster;
    cursor: inherit;
    z-index: 1000;
    .setCircle {
        margin: 0 auto;
        float: none;
    }
    .showPercent {
        color: $aqua;
        top: 4.375rem;
        width: 100%;
        line-height: 5.625rem;
        font-size: 5.625rem;
        font-weight: $proxima-thin;
    }
    .showComplete {
        margin-top: 50%;
        color: $gray-black;
        font-size: 1rem;
        font-weight: $proxima-thin;
        margin-left: 30%;
    }
    .upFile {
        font-size: 1.75rem;
        font-weight: $proxima-thin;
        color: $gray-black;
    }
    .percent {
        font-size: 1.125rem;
        font-weight: $proxima-thin;
        color: $gray-black;
        position: absolute;
        top: 20%;
    }
    .staticHeading {
        margin-top: 15%;
    }
}

.previewContainer {
    height: 18.75rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    .thumbnail-div {
        text-align: center;
        height: 24.06rem;
        line-height: 24.06rem;
        background: $gray-lighter;
        margin-bottom: 1.25rem;
    }
    .prev-non-image {
        padding: 3.438rem 0 !important;
        display: inline-block !important;
        width: 3.5rem !important;
        opacity: 0.8;
        cursor: default;
    }
    .row {
        margin-bottom: 3.125rem;
    }
    #contentDescInput {
        resize: none;
    }
    .previewform >label {
        color: $gray-dark;
    }
    .previewform >input {
        padding: 0.9375rem;
    }
    .previewform >textarea {
        padding: 0.9375rem;
    }
    .previewform >select {
        padding: 0.9375rem;
    }
    .previewImage {
        margin-top: 4.688rem;
        padding: 0.625rem;
        .prevImg {
            width: 100%;
            padding: 10% 10% 2% 10%;
            display: block;
            cursor: default;
        }
        .metaDiv {
            text-align: center;
        }
        .fileNameType {
            margin-left: 1.25rem;
        }
    }
    .fileData {
        padding-top: 4.125rem;
        padding-left: 2.188rem;
        legend {
            display: block;
            width: 100% !important;
            padding: 0;
            margin-bottom: .5rem;
            font-size: 1.5rem;
            line-height: inherit;
            font-size: 1rem;
            text-align: center;
            position: relative;
        }
        legend::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            left: 0;
            top: 50%;
            background: $blue-lighter;
        }
        legend span {
            background: $gray-white;
            padding: 0 1rem;
            display: inline-block;
            position: relative;
            z-index: 10;
            color: $gray-black;
            font-weight: $proxima-semibold;
        }
    }
    .language-select {
        margin-bottom: 1.875rem;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 3.25rem;
        height: 1.875rem;
        margin: 0.625rem 0.625rem 0 0;
        left: 1.7rem;
    }
    .switch input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 0px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: $aqua;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px $aqua;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 2.125rem;
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .ssdiv {
        clear: both;
        height: 5.625rem;
    }
    .checkboxDiv {
        padding: 0;
        float: left;
        .checkbox-disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .allowdiv {
        padding: 0.75rem 0 0 0.9375rem;
        float: left;
        margin-left: 0.625rem;
    }
    .ss {
        display: block !important;
    }
    .cateLabel {
        display: block;
    }
    .tag-label {
        width: 80%;
        display: inline-block;
        margin-bottom: 0;
    }
    .input-group-btn {
        width: 20%;
        float: right;
        height: 2.75rem;
    }
    .tagsDiv {
        clear: both;
        margin: 0.625rem 0;
        .twitter-typeahead{
          width: 80%;
        }
        .typeahead{
          width: 100%;
          display: inline-block;
      }
    }
    .delete-div
    {
        .delete-section
        {
            display: inline-block;
            width: 5.625rem;
            padding: 0.625rem 0;
            .delete-icon{
                background-image: url(../../../../../src/assets/images/css/ic-delete-blue-sm.png);
                height: 1.4em;
                padding-right: 0;
                display: block;
                background-repeat: no-repeat;
            }
            .icon-names{
                font-weight: $proxima-semibold;
                font-size: 0.75em;
                line-height: 0.6875em;
                color: $brand-primary;
                display: flex;
                padding: 8px 0 0 0;
            }
        }
    }
    .tags-list {
        position: relative;
        z-index: 1;
        .tag-item {
            border-radius: 1.25rem;
            background-color: $brand-primary;
            display: inline-block;
            margin-right: 0.9em;
            margin-bottom: 0.9em;
            padding: 0.5em 1em;
            font-size: 0.9rem;
            font-weight: $proxima-light;
            line-height: 1.29;
            text-align: center;
            color: $white;
            .remove-tag {
                width: 0.65em;
                height: 0.65em;
                background: url(../../../../../src/assets/images/css/cancel@1.5x.svg) no-repeat;
                background-size: contain;
                background-position: center;
                display: inline-block;
                margin-left: 0.5em;
            }
        }
    }
    .infoIcon {
        margin-left: 5px;
    }
    .add-button::after {
        background: none !important;
    }
    .cancelButton {
        background: $white;
        color: $gray;
        padding: 0.875rem 0.75rem;
        border: 0;
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        border-radius: 3px;
        border: solid 1px $gray;
        width: 49%;
        margin-right: 1%;
        letter-spacing: 1px;
    }
    .cancelButton:focus {
        outline: 0;
    }
    .finishButton {
        background-color: $brand-primary;
        color: $white;
        padding: 0.875rem 0.75rem;
        border: 0;
        height: 3.05rem;
        font-weight: $proxima-semibold;
        font-size: 0.8125rem;
        border-radius: 3px;
        border: solid 1px $gray;
        width: 49%;
        margin-left: 1%;
        letter-spacing: 1px;
    }
    .finishButton:focus {
        outline: 0;
    }
    .upload-terms-text{
        padding-left: 1.25rem;
    }
    .tooltipwrapper .dropdown-menu {
        width: 80%;
        height: 7.63rem;
    }
    .tt-menu {
        position: relative !important;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .contentBox {
        .uploadBox {
            display: none;
        }
    }
    .staticRow {
        .staticHeading {
            margin: 2.25rem auto 0;
            width: 20.3125rem;
        }
        .setRow {
            margin-top: 3rem !important;
            .fileTypes {
                font-size: 1rem;
            }
        }
        .uploadBtnMediumLower {
            width: 20.3125rem;
            display: block;
        }
        .staticImg {
            margin-bottom: 0.875rem;
        }
        .limitaion {
            width: 70%;
        }
        legend span {
            width: 45%;
            padding: 0;
        }
        .static {
            padding: 1.56rem;
        }
        legend span {
            background: $white !important;
        }
    }
    .upload-content-banner {
        height: 12.5em;
        .text-center {
            padding: 0 20%;
        }
        .banner-title {
            height: 100%;
        }
    }
    .fosterUpload {
        .staticHeading {
            margin-top: 35%;
        }
    }
    .previewContainer {
        .metaDiv.row {
            margin-bottom: 2.125rem;
        }
        .thumbnail-div {
            height: 14.38rem;
            line-height: 14.38rem;
        }
        .previewform {
            margin-top: 2.25rem;
        }
        .fileData {
            padding-left: 0.9375rem;
            padding-top: 0;
        }
        .allowdiv {
            padding: 0.625rem 0 0 0.9375rem !important;
        }
        .ss {
            margin-bottom: 0.625rem;
        }
        .allowdiv {
            margin-left: 0;
        }
        .cancelButton {
            width: 100%;
            margin-bottom: 2%;
            margin-right: 0;
        }
        .finishButton {
            width: 100%;
            margin-left: 0;
        }
        .switch {
            left: 0.8rem;
        }
        .add-button {
            padding: 0.95rem 1rem 0.8rem;
        }
        .previewImage {
            margin-top: 1.188rem;
        }
        .tagsDiv {
            .typeahead{
              width: 80%;
              display: inline-block;
          }
        }
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .contentBox {
        .uploadBox {
            display: none;
        }
    }
    .upload-content-banner {
        height: 18.75em;
        .text-center {
            padding: 0 35%;
        }
        .banner-title {
            height: 100%;
        }
    }
    .staticRow {
        .static {
            padding: 1.5rem 3em;
        }
        .setRow {
            margin-top: 4.25rem;
            .dataDiv {
                padding: 0 2.15em;
            }
        }
        .staticHeading {
            margin: 2.25rem auto 0;
            width: 27.25rem;
        }
        legend span {
            padding: 0 1em;
        }
        .uploadBtnMediumLower {
            width: 20.3125rem;
            display: block;
        }
    }
    .fosterUpload {
        .staticHeading {
            margin-top: 25%;
        }
    }
    .previewContainer {
        .allowdiv {
            margin-left: 0;
        }
        .fileData {
            padding-bottom: 4.125rem;
            padding-left: 0;
            padding-right: 0;
        }
        .row {
            max-width: 29.63rem;
            margin: 0 auto;
        }
        .thumbnail-div {
            height: 14.38rem;
            line-height: 14.38rem;
        }
        .tagsDiv {
            .typeahead{
              width: 80%;
              display: inline-block;
          }
        }
    }
}

@media all and (min-width: 1024px) and (max-width: 1439px) {
    .upload-content-banner {
        height: 26.25em;
        .banner-title {
            height: 70%;
        }
    }
    .uploadBox {
        width: 39.875rem;
    }
    .staticRow {
        .static {
            width: 45rem;
            margin: auto;
        }
        .staticHeading {
            margin: 4em auto;
            width: 70%;
        }
        .dataDiv {
            padding: 0 2.5em;
        }
    }
    .uploadBtnMediumLower {
        display: none;
    }
    .previewContainer {
        .previewform {
            width: 434px;
        }
    }
}

@media screen and (min-width:1440px) {
    .upload-content-banner {
        height: 31.5em;
        .banner-title {
            height: 75%;
        }
    }
    .uploadBox {
        width: 41rem;
    }
    .staticRow {
        .static {
            width: 71rem;
            margin: auto;
        }
        .staticHeading {
            margin: 4em auto;
            width: 45%;
        }
        .dataDiv {
            padding: 0 7em;
        }
    }
    .uploadBtnMediumLower {
        display: none;
    }
    .previewContainer {
        .row {
            padding-left: 3.75rem;
            padding-right: 4.375rem;
        }
        .previewform {
            width: 434px;
        }
    }
}
