.container.contentBox(ng-show="!ctrl.showPreview")
    .content
        .upload-content-banner
            .section
                .banner-title
                    h2.text-center.upload-content
                        |UPLOAD YOUR CONTENT
                    .alert.alert-danger.errorMessage.showIcon

    .contBoxRow
        .uploadBox(ngf-drop ng-model="files")
            img(ng-src="../../../../../src/assets/images/css/ic-drag-drop.svg", alt='img', height='auto', width='auto').ddImg
            p.ddCont DRAG & DROP CONTENT HERE
            div.verticalLine
                .separator-line
                .separator-line
                    .circle
                        .separator-text OR
            button.uploadBtn(type="file" ngf-select="uploadFiles($files)" ngf-multiple="true" ng-model="files" ngf-drop) CHOOSE FILE TO UPLOAD
            span.label#upload-file-info

    .staticRow
        .static
            div
                button.btn.btn-primary.uploadBtnMediumLower(type="file" ngf-select="uploadFiles($files)" ngf-multiple="true" ng-model="files" ngf-drop) CHOOSE FILE TO UPLOAD
                span.label#upload-file-info

            .staticHeading
                legend
                    span FILE TYPES AND SIZE LIMITATIONS

            .setRow
                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-image-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label Images
                    div.fileTypes File Types
                    div.fileOptions PNG, JPG, GIF, TIF
                    div &nbsp;
                    div.limitaion File size limitation
                    div.size 2MB

                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-video-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label Videos
                    div.fileTypes File Types
                    div.fop MP4, MOV, QT
                    div.fileOptions FLV, WMV, MPG, AVI
                    div.limitaion File size limitation
                    div.size 100MB

                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-audio-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label Audio
                    div.fileTypes File Types
                    div.fileOptions AAC, MP3, WAV
                    div &nbsp;
                    div.limitaion File size limitation
                    div.size 20MB


                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-document-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label Documents
                    div.fileTypes File Types
                    div.fop DOC, DOCX, TXT
                    div.fileOptions XLS, XLSX
                    div.limitaion File size limitation
                    div.size 12MB

                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-presentation-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label Presentation
                    div.fileTypes File Types
                    div.fileOptions PPT, PPTX
                    div &nbsp;

                .col-sm-6.col-md-4.col-lg-4.dataDiv.no-gutter
                    img(ng-src="../../../../../src/assets/images/css/ic-pdf-blue.svg", alt='img', height='auto', width='auto').staticImg
                    label PDF
                    div.fileTypes File Types
                    div.fileOptions PDF
                    div &nbsp;


.fosterOverlay(ng-show="ctrl.showDragDrop" ng-model="files" ngf-drop)
    .row
        .col-sm-12.col-md-12.col-lg-12.innerDiv
            img(ng-src="../../../../../src/assets/images/css/ic-upload-copy.svg", alt='img', height='auto', width='auto').ddImg
            p.ddCont DRAG ANYWHERE ON THIS SCREEN

.fosterUpload(ng-show="ctrl.showUploadStatus && !ctrl.showPreview")
    .row.staticHeading
        div
            div(ng-repeat='file in Files')
                div.upFile
                    | Uploading Your File...
                .progress

                .clearfix
                    div.setCircle.c100.big(class="p{{file.Progress | number:0 }}")
                        span.showPercent {{file.Progress | number:0 }}
                            sup.percent %
                        span.showComplete COMPLETED
                        .slice
                            .bar
                            .fill

.container.previewContainer(ng-show="ctrl.showPreview")
    .row
        .col-sm-12.col-md-12.col-lg-6.previewImage
            img(alt='img', height='100%', width='100%' ng-if = "ctrl.fileNameType == 'Image' ").prevImg
            div.thumbnail-div(ng-if = "ctrl.fileNameType != 'Image' ")
                img(alt='img').prevImg.prev-non-image
            div.metaDiv.row
                img(ng-src="../../../../../src/assets/images/css/", alt='img', height='40px', width='40px').showType
                span.fileNameType {{ctrl.fileNameType}}


        .col-sm-12.col-md-12.col-lg-6.fileData
            .row.staticHeading
                legend
                    span Required Information
                form.previewform(name="previewform")
                    div.form-group
                    label.form-label Content Title
                    input#contentTitleInput.form-control(type='text' name='contentTitleInput' placeholder='Image.png'
                    ng-model='ctrl.contentTitleInput' required )
                    span.text-danger(ng-show="(vm.clickedsubmit && form.contentTitleInput.$error.required)|| (form.contentTitleInput.$error.required && form.contentTitleInput.$touched)") Oops, please check this field
                    legend
                        span Optional Information
                    div.form-group
                        label.form-label Content Description
                        textarea#contentDescInput.form-control(type='text' name='contentDescInput' ng-model='ctrl.contentDescInput')
                        label.form-label Language
                        div.select-wrapper.language-select.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
                            select.form-control.fullWidth.m-b-0(name="language", ng-model="ctrl.selectedlanguage", ng-options="tempLang.lang as tempLang.lang for tempLang in ctrl.language")
                        label.form-label.cateLabel Category
                        div.select-wrapper.language-select.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
                            select.form-control.fullWidth.m-b-0(name="language", ng-model="ctrl.selectedlanguage", ng-options="tempLang.lang as tempLang.lang for tempLang in ctrl.language")
                        label.form-label.cateLabel Sub-Category
                        div.select-wrapper.language-select.col-md-12.col-sm-12.col-lg-12.col-xl-12.no-gutter
                            select.form-control.fullWidth.m-b-0(name="language", ng-model="ctrl.selectedlanguage", ng-options="tempLang.lang as tempLang.lang for tempLang in ctrl.language")
                        div.ssdiv
                            label.form-label.ss Social Share
                            div.checkboxDiv.col-sm-2.col-md-1.col-lg-1
                                label.switch
                                    input(type="checkbox" ng-model="ctrl.socialShare")
                                    div.slider.round
                            div.allowdiv.col-sm-10.col-md-11.col-lg-10
                                label.allowText Allow this content to be shared on Social

                        div.tooltipwrapper
                            label.form-label.info-dropdown#dropId Tags
                                button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                    span Info
                                .dropdown-menu(aria-labelledby='dropdownLogin')
                                    p.dropdown-content
                                        | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
                        div.tagsDiv
                            input.form-control.tag-label(type='text', placeholder='ageLOC,elements,blog,friends' ng-model="ctrl.tags" ng-keypress="ctrl.enterPressed($event)")
                            span.input-group-btn
                                button.btn.btn-primary.add-button(type='button', ng-click='ctrl.addTag();') ADD
                        .delete-div
                            span.delete-section
                                .delete-icon.col-sm-4.pointer
                                span.icon-names.col-sm-8.no-gutter.m-t-0_5.text-sm-right.pointer DELETE
                        .tags-list.col-sm-12.no-gutter
                            .tag-item(ng-repeat='tags in ctrl.tagsArray')
                                | {{tags}}
                                .remove-tag(ng-click='ctrl.removeTag(tags);')
                        div.m-t-1
                            div.hidden-sm-down
                                button.cancelButton.col-md-6(type = "button" ng-click="ctrl.gotoMyContent()") CANCEL
                                button.finishButton.col-md-6(type = "button" ng-click="ctrl.sendContentInformation()") FINISH
                            div.hidden-md-up
                                button.finishButton.col-sm-12.m-b-1(type = "button" ng-click="ctrl.sendContentInformation()") FINISH                            
                                button.cancelButton.col-sm-12(type = "button" ng-click="ctrl.gotoMyContent()") CANCEL
