.star-big{
  width: 5.625em;
  height: 1.125em;
  background-position: -90px -26px;
}
.star-small{
  width: 3.8rem;
  height: 1.25rem;
  background-position: -59px -64px;
  display: inline-block;
  margin-right: 0.5px;
}
.star-rating-component-new {
  .star-rating-section {
     margin-right: 0.1875rem;
     display: inline-block;
    .selected-star-section {
      background : url('../../../src/assets/images/css/selected-star.png') no-repeat;
    }
    .unselected-star-section {
      background : url('../../../src/assets/images/css/unselected-star.png') no-repeat;
    }
    .selected-star-section, .unselected-star-section {
      width: 1rem;
      height: 1rem;
    }
  }
}
