div.star-rating-component-new.clearfix
  div.star-rating-section(ng-repeat="item in ctrl.maxStar track by $index")
    div.selected-star-section(ng-if="($index + 1) <= ctrl.ratingValue")
    div.unselected-star-section(ng-if="($index + 1) > ctrl.ratingValue")
