@import "../../../../stylesheets/partials/variables";

.checkout-container.order-review{
  background: $gray-lightest;
}
.checkout-order-wrapper{
  background-color: $white;
  margin-bottom: 0.75rem;
  padding: 0.625rem;
  .checkout-order-body {
    .tooltipwrapper {
      .tooltip-label {
        font-weight: $proxima-regular;
        .dropdown-menu {
          .dropdown-title {
            font-weight: $proxima-semibold;
          }
        }
      }
    }
  }
  .checkout-order-head {
    .checkbox-label-section {
      padding-left: 1.25rem;
    }
  }
  .error-block {
    display: inline-table;
  }
}

.clickable{
  cursor: pointer;
}

.checkout-order-head{
  padding: 0 0.9375rem;
}

.checkout-order-body{
  padding: 0 0.9375rem;
}

.checkout-order-wrapper h3{
  text-transform: none;
  margin-top: 0.5rem;
}

.checkout-order-wrapper #accordionform{
  padding : 0;
  background: none;
  opacity: 1;
  transition: all 0.75s cubic-bezier(0.16, 1.32, 0.91, 1.26);
}

.checkout-order-body.summary div{
  font-weight: $proxima-light;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: $gray-dark;
}

.checkout-order-body.summary div.promo-list-title{
  font-weight: $proxima-semibold;
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  color: $gray-dark;
}
.checkout-order-wrapper .promo-apply{
  width: 29%;
}
.checkout-order-body.summary div.promo-list{
  display: flex;
  padding-top: 0.625rem;
}

.checkout-order-body.summary div.promo-list div{
  padding-left: 0.625rem;
}

.checkout-order-body.summary div > span{
  font-weight: $proxima-semibold;
}


.checkout-order-body.summary .total{
  font-weight: $proxima-thin;
  font-size: 1.375rem;
  line-height: 2rem;
}

.checkout-order-body.summary .promo{
  font-weight: $proxima-thin;
  font-size: 0.8125rem;
}

.checkout-order-wrapper .checkout-order-body.shipping div span{
  display: block;
  font-weight: $proxima-light;
  font-size: 1rem;
  line-height: 1.125rem;
  color: $gray-black;
}

.checkout-order-body.shipping label, .checkout-order-wrapper .checkout-order-body.payment label{
  font-weight: $proxima-semibold;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  color: $gray-dark;
  text-transform: uppercase;
}

.checkout-order-wrapper .checkout-order-body.delivery p{
  font-weight: $proxima-light;
  font-size: 0.8125rem;
  line-height: 1.5rem;
  color:$gray-dark;
}

.checkout-order-wrapper .checkout-order-body.delivery label{
  font-size: 1rem;
  line-height: 1.3125rem;
  color:$gray;
}

.checkout-order-wrapper .checkout-order-body.payment p{
  font-weight: $proxima-light;
  font-size: 0.8125rem;
  color:$gray-dark;
  margin: 0;
}

.checkout-order-wrapper .checkout-order-body.payment{
    input.cvvText[type="tel"]{
      -webkit-text-security: disc;
      -moz-text-security: disc;
    }
}

.checkout-order-wrapper .list-pane{
  margin-top: 2.3125rem;
  padding: 0px;
  img{
    height: 4.625rem;
  }
}

.checkout-order-wrapper .list-pane-btn{
  padding-top: 1rem;
}

.checkout-order-body.payment span{
  font-weight: $proxima-thin;
  line-height: 1.375rem;
  font-size: 1rem;
  color: $gray-dark;
}

.checkout-order-wrapper.order-placing span{
  font-size: 0.875rem;
  color: $gray-faded;
}

.checkout-order-wrapper.order-placing .return-policy{
  font-size: 0.875rem;
}

.checkout-order-wrapper .shop-bag-logo{
  background: url("../../../../../src/assets/images/css/ic-shopping-bag-grey.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}

.checkout-order-wrapper .checkout-edit{
  background: url("../../../../../src/assets/images/content/ic-edit-green.svg") no-repeat center 0;
  border: none;
}

.checkout-order-wrapper .ship-add-logo{
  background: url("../../../../../src/assets/images/css/ic-shipping-light.svg") no-repeat center center;
  width: 2.5rem;
  height: 2.25rem;
  background-color: $gray-lighter;
  border: none;
  padding: 0;
  border-radius: 50%;
}
.checkout-order-wrapper .delivery-logo{
  background: url("../../../../../src/assets/images/css/ic-delivery-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}
.checkout-order-wrapper .payment-logo{
  background: url("../../../../../src/assets/images/css/ic-payment-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}

.checkout-order-wrapper .check-mark{
  background: url("../../../../../src/assets/images/css/checkmark-read-only.png") no-repeat center 0;
  width: 1rem;
  height: 1rem;
  display: block;
  float: left;
  margin-top: 0.3125em;
  margin-right: 0.25rem;
}

.checkout-order-wrapper .order-logo{
  background: url("../../../../../src/assets/images/css/ic-cart-light.svg") no-repeat center 0;
  width: 2.5rem;
  height: 2.25rem;
  border: none;
}

.pane-separator{
  border: solid 0.0125rem $gray-border;
  width: 100%;
  margin-left: 0;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.pane-separator.small{
  border: solid 0.0125rem $gray-border;
  width: 92%;
  margin-left: 1rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.checkout-order-body .promo-list-title{
  font-size: 0.8125rem;
  font-weight: $proxima-semibold;
}

.checkout-order-wrapper .item-quantity{

  margin-top: 0.5rem;
  span{
    display: inline-block;
  }
  p{
    font-size: 0.8125rem;
    margin-left: 7px;
    display: inline-block;
    color :$gray;
  }
}
.checkout-order-wrapper .product-size{
  margin-top: 11px;
  span{
    display: inline-block;
  }
  p{
    font-size: 0.8125rem;
    margin-left: 7px;
    display: inline-block;
    color: $gray;
  }
}

.checkout-order-wrapper .product-cost{
  font-size: 1.5rem;
}

.order-summary-wrapper {
    margin-top: 1.25rem;
}
.top-buffer-15 {
    margin-top: 0.9375rem;
}
.top-bottom-pad-15 {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
}
.border-line {
    border-bottom: 1px solid $gray-border;
}
.item-quantity {
    font-weight: $proxima-semibold;
    font-size: 0.8125rem;
    line-height: 1.5rem;
    color: $gray-light;
}
.stock-status {
    clear: both;
    margin-top: 1.68rem;
    .stock-status-sub {
        p {
            font-size: 0.8125rem;
            font-weight: $proxima-semibold;
            line-height: 1;
            letter-spacing: 0.5px;
            color: $pink;
            display: inline-block;
        }
        .stock-updates {
            vertical-align: top;
            display: inline-block;
            margin-left: 1em;
            font-size: 13px;
            font-weight: $proxima-light;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.46;
            color: $pink;
            vertical-align: middle;
        }
    }
    .stock-description {
        display: table-row;
        font-size: 0.8125rem;
        font-weight: $proxima-light;
        line-height: 1.46;
        color: $pink;
        line-height: 1;
        letter-spacing: 0.5px;
    }
}
.product-discount {
    width: 4.125em;
    height: 1.5em;
    border-radius: 2px;
    border: solid 1px $pink;
    margin-top: 3px;
    center {
        padding-top: 2px;
        font-size: 0.8125rem;
        font-weight: $proxima-semibold;
        font-style: normal;
        font-stretch: normal;
        color: $pink;
    }
}
.product-discount.new-product-block {
    width: 2.625rem;
    height: 1.5rem;
}

@media (min-width: 768px ) and (max-width: 1023px) {
  .checkout-order-wrapper .checkout-order-head, .checkout-order-wrapper .checkout-order-body{
    width: 67%;
    margin-left: 16%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .checkout-order-wrapper {
    border: 0.06125rem solid $gray-border;
    padding: 1.4375em 1.5625em 1.25em 1.5625em;
  }
  .checkout-content-container .large-view-2{
    width: 24.375rem;
  }
}

@media (min-width: 1440px) {
  .checkout-order-wrapper {
    border: 0.06125rem solid $gray-border;
    padding: 1.4375em 1.5625em 1.25em 1.5625em;
  }
  .checkout-content-container .large-view-1{
    width: 33.75rem;
  }
  .checkout-content-container .large-view-2{
    width: 24.375rem;
  }
}

.border-top{
border-top: 0.06125rem solid $gray-border;
}

.checkout-order-wrapper .panel-default {
  margin-bottom: 1rem;
}

.m-t-neg-4{
  margin-top: -0.25em;
}

.m-t-4px{
  margin-top: 0.25em !important;
}

.m-t-10px{
  margin-top: 0.725em !important;
}

.checkout-order-wrapper .checkout-order-body.payment .billing-add span{
  font-weight: $proxima-regular;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: $gray-black;
}

.checkout-order-wrapper .checkout-order-body.payment .billing-add div{
  font-weight: $proxima-light;
  font-size: 1rem;
  line-height: 1.25rem;
  color: $gray-black;

}

.checkout-order-wrapper .checkout-order-body.payment .i-block{
  background: url("../../../../../src/assets/images/css/group-8.svg") no-repeat center;
  width: 1rem;
  height: 1.2rem;
  margin-top: 0.125rem;
  margin-left: 0.325rem;
}

.checkout-order-wrapper .checkout-order-body.payment .i-block-div{
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: $proxima-regular;
  letter-spacing: -0.1px;
  color: $gray-black;
  display: inline-flex;
  margin-bottom: 0.125rem;
}
