div.checkout-guest-and-distributor
    .content.checkout-container.order-review
        .checkout-title-container.no-gutter
            section.header
                .section.invite-banner
                    .container-fluid.p-t-1(align='left')
                        .pointer.p-l-1.navigate-back(ng-click='ctrl.backToBag()')
                            span.text-white.text-uppercase CART
                        .text-white.logo-section(align='center')
                            div
                                //- h5.m-b-0_5.font-weight-normal.text-white.text-uppercase {{ctrl.checkoutData.user}}
                                h1.font-weight-normal.text-white.text-uppercase CHECKOUT


                    div.steps
                        div.container-fluid.clearfix.displayTable.actionMenu(align="center")
                            div.pull-left.relative.pointer.shippingAddress-logo-done(ng-click="ctrl.navigateTo('isShipping')")
                            div.pull-left.deliveryOptions-logo.pointer.relative.deliveryOptions-logo-done(ng-click="ctrl.navigateTo('isDelivery')")
                            div.pull-left.pointer.relative.paymentMethod-logo-done(ng-click="ctrl.navigateTo('isPayment')")
                            div.pull-left.orderReview-logo-active.active.relative
                                 div.active-arrow-up

                    .step-indicator
                        small.text-uppercase.text-white ORDER REVIEW
                        page-level-error-component.hidden-md-down(error-message="ctrl.errorMessage" danger-type="ctrl.error", is-display-error-message="ctrl.isDisplayErrorMessage", is-show-info-icon-on-error="ctrl.isShowInfoIconOnError")

        .checkout-content-container.no-gutter.hidden-lg-up
            page-level-error-component(error-message="ctrl.errorMessage" danger-type="ctrl.error")
            section.checkout-delivery-options
                .row
                    .col-sm-5.psv-headings.text-center.no-gutter
                        div CURRENT
                        .psv-values {{ctrl.checkoutData.psvData.currentPSV}}
                        div LOREM
                    .col-sm-2.arrow-right-thin
                    .col-sm-5.psv-headings.text-center.no-gutter
                        div AFTER THIS ORDER
                        .psv-values {{ctrl.checkoutData.psvData.afterOrderPSV}}
                        div LOREM

        .checkout-content-container.no-gutter.hidden-lg-up
            .checkout-order-wrapper.p-t-0.p-b-0
                #accordionform.row
                    .col-sm-12.col-md-8.col-md-offset-2
                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                            .panel.panel-default.m-b-1.p-l-1.p-r-1
                                #shopping-bag.panel-heading(role='tab')
                                    h4.panel-title
                                        button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping', aria-expanded='false', aria-controls='address')
                                            .col-sm-12
                                                .row.col-sm-2.p-l-0
                                                    .checkout-order-wrapper.shop-bag-logo.m-t-neg-4
                                                .col-sm-9.m-t-4px
                                                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                                #shopping.panel-collapse.collapse(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='false', style='height: 0px;')
                                    .panel-body
                                        .col-sm-12.list-pane
                                            div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                                .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first }")
                                                    .col-sm-3.col-md-2.col-lg-3.no-gutter.p-t-1
                                                        img(ng-src='{{item.itemImage}}')
                                                    .col-sm-9.col-md-10.col-lg-9.no-gutter
                                                        .row
                                                            .col-lg-12.col-md-12.col-sm-12
                                                                .product-title(ng-bind='item.itemName')
                                                                //.product-content(ng-bind='item.itemCode')
                                                                .product-discount(ng-if='item.discount.length')
                                                                  center {{item.discount + " "}} OFF
                                                                .product-discount.new-product-block(ng-if='ctrl.isNew(item.isNew)')
                                                                  center NEW
                                                        .row
                                                            .col-sm-12
                                                                //- .product-size
                                                                //-     span.product-size-label Size
                                                                //-     p.m-b-0 {{item.size}}
                                                            .col-sm-6
                                                              .item-quantity

                                                                  span.product-size-label Qty
                                                                  p.m-b-0{{item.quantity}}
                                                            .col-sm-6.text-sm-right
                                                              .product-cost {{item.itemCost | currency}}

                                                    .col-sm-12
                                                                .stock-status.m-t-0(ng-if='item.stockStatus.length')
                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("LS",item.stockStatus)')
                                                                    p.m-b-0 LOW STOCK
                                                                    .stock-updates
                                                                      {{item.stockUpdate}}
                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("OS",item.stockStatus)')
                                                                    p.m-b-0 OUT OF STOCK
                                                                    .stock-updates
                                                                      {{item.stockUpdate}}
                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("BO",item.stockStatus)')
                                                                    p.m-b-0 ON BACKORDER
                                                                    .stock-updates
                                                                      {{item.stockUpdate}}
                                                                  .stock-description(ng-if='item.stockDescription.length')
                                                                    {{item.stockDescription}}


                                        .col-sm-12.list-pane-btn.no-gutter.p-b-1
                                            button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='ctrl.onEditBag()') EDIT BAG
            .checkout-order-wrapper
                .row.checkout-order-head.m-b-0_5
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.order-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Order Summary
                    .col-sm-2
                .row.checkout-order-body.summary
                    .col-sm-12.no-gutter
                        .col-sm-8.m-b-0_5 Shopping Bag Subtotal
                        .col-sm-4.text-sm-right
                            span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                        .col-sm-8.m-b-0_5 Taxes
                        .col-sm-4.text-sm-right
                            span {{ctrl.checkoutData.orderSummary.taxes  | currency}}
                        .col-sm-8 Shipping
                        .col-sm-4.text-sm-right
                            span(ng-if="ctrl.isNumber(ctrl.checkoutData.orderSummary.shipping)") {{ctrl.checkoutData.orderSummary.shipping | currency}}
                            span(ng-if="!ctrl.isNumber(ctrl.checkoutData.orderSummary.shipping)") {{ctrl.checkoutData.orderSummary.shipping }}

                    .col-sm-12.no-gutter
                        .pane-separator.small
                    .col-sm-12.no-gutter.m-b-1
                        .col-sm-8.m-t-0_5 Total
                        .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
                    .col-sm-12
                        div.section-heading.relative.promocode-section
                            span Promo Codes & Rewards
                        fieldset.form-group(ng-class='')
                            div
                                .text-center.m-b-1
                                    span.promo Enter Promotional or Rewards Code below
                                .col-sm-8.no-gutter
                                    input.form-control(type='text', ng-change='ctrl.toggleError()', ng-class="{'ng-invalid ng-touched':ctrl.promoError || ctrl.promoLengthError}", ng-model='ctrl.checkoutData.orderSummary.promoCode')
                                span.input-group-btn.promo-apply
                                    button.btn.btn-primary.m-l-1(type='button', ng-click='ctrl.applyCode(ctrl.checkoutData.orderSummary.promoCode)') APPLY
                                span
                                    span.error-block(ng-show='ctrl.promoError') Oops, please re-enter the promo code
                                    span.error-block(ng-show='ctrl.promoLengthError') Oops, Only one Promo Code can be applied
                        //- .col-sm-12.no-gutter(ng-if='ctrl.checkoutData.orderSummary.promoCodeList.length')
                        //-     .promo-list-title PROMOTION & REWARDS APPLIED:
                        //-     .promo-list.promotion-wrapper(ng-repeat='item in ctrl.checkoutData.orderSummary.promoCodeList')
                        //-         div.clearfix.p-l-0
                        //-             div.pointer.pull-left.promotion-close-icon(ng-click="ctrl.removeItem(item)")
                        //-             div.font-size-13.promo-code.text-uppercase.promo-list-value.pull-left {{item}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.ship-add-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Shipping Address
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-10px.pointer(ng-click="ctrl.onEditIcon('isShipping')")
                .row.checkout-order-body.shipping
                    .col-sm-12.m-b-0_5
                        div.m-b-0_5
                            span
                                | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                        div
                            span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                            span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                            span
                                | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                    .col-sm-12.p-r-0
                        .col-sm-12.col-md-6.m-b-0_5.p-l-0
                            label.m-b-0 email
                            span {{ctrl.checkoutData.shippingAddress.email}}
                        .col-sm-12.col-md-6.p-l-0
                            .pull-sm-left.pull-md-right
                                label.m-b-0 Phone
                                span {{ctrl.checkoutData.shippingAddress.phone}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.delivery-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Delivery Options
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-10px.pointer(ng-click="ctrl.onEditIcon('isDelivery')")
                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isDelivery')")
                .row.checkout-order-body.delivery
                    .col-sm-12
                        label {{ctrl.checkoutData.deliveryOptions.name}} :
                        span.p-l-1.text-uppercase {{ctrl.checkoutData.deliveryOptions.price}}
                    .col-sm-12
                        p your shipping will arrive on {{ctrl.checkoutData.deliveryOptions.deliveryDate}}
            .checkout-order-wrapper
                .row.checkout-order-head
                    .col-sm-2.p-r-0
                        .checkout-order-wrapper.payment-logo
                    .col-sm-8.p-l-0
                        h3.m-t-4px Payment Method
                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.pointer(ng-click="ctrl.onEditIcon('isPayment')")
                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isPayment')")
                .row.checkout-order-body.payment
                    .col-sm-12.m-b-1
                        span.pull-sm-left
                            img(src='../../.././src/assets/images/content/visa-sm.png')
                        .col-sm-9
                            p {{ctrl.checkoutData.paymentMethod.fullName + ','}}
                            p
                                | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, exp in {{ctrl.checkoutData.paymentMethod.expirationDate}}
                    .col-sm-12.i-block-div.tooltipwrapper
                        label.tooltip-label Enter CVV for this card
                            button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                span Info
                            .dropdown-menu(aria-labelledby='dropdownLogin')
                                p.dropdown-title
                                    | Lorem ipsum dummy text
                                p.dropdown-content
                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy
                    form.col-sm-12.m-t-0(name="reviewForm1")
                        input.cvvText(ng-hide="isMobileDevice",class="form-control m-b-0",name="cvvCard",type="tel", ng-model="ctrl.checkoutData.paymentMethod.cvv", placeholder="Enter 3 or 4 digit code",minlength="3", maxlength="4", required, allow-pattern="number-only")
                        input.cvvText(ng-hide="!isMobileDevice",class="form-control m-b-0",name="cvvCard",type="password", ng-model="ctrl.checkoutData.paymentMethod.cvv", placeholder="Enter 3 or 4 digit code",minlength="3", maxlength="4", required, allow-pattern="number-only")
                        div(ng-messages='reviewForm1.cvvCard1.$error',ng-show="ctrl.showError", role='alert')
                            div.error-block(ng-message='required') Please enter CVV number
                            div.error-block(ng-message='minlength') Too short, minimum length should be 3
                            div.error-block(ng-message='maxlength') Too long, maximum length should be 4
                    .col-sm-12
                        label Billing Address
                        div(ng-show="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                            span.check-mark
                            span  Same as Shipping Address
                        div.billing-add(ng-hide="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                            span {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                            div {{ctrl.checkoutData.shippingAddress.addressLine1}}
                            div {{ctrl.checkoutData.shippingAddress.addressLine2}}
                            div {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}

            .checkout-order-wrapper.order-placing
                .row.checkout-order-head
                    form.col-sm-12.top-buffer-15.checkbox(name="termsForm")
                        div.checkbox.m-b-0
                            input(type='checkbox',name="termsField", ng-model='ctrl.isChecked', ng-change='ctrl.isAccepted(ctrl.isChecked)', required)
                            label.checkbox-label-section
                                span I agree to the
                                span
                                    a.pointer(ng-click="ctrl.showCustomPopUp('termsConditions')") Terms & Conditions
                                span .
                        div(ng-messages='termsForm.termsField.$error', ng-show="ctrl.showError" , role='alert')
                            div.error-block(ng-message='required',ng-show="ctrl.termsConditionsErr") You must agree to the terms and conditions
                .row.checkout-order-body
                    .col-sm-12
                        button.btn.btn-primary(ng-click="ctrl.placeOrder(reviewForm, termsForm)") PLACE ORDER
                    .col-sm-12.text-center.return-policy.m-y-1
                        a.pointer(ng-click="ctrl.showCustomPopUp('returnPolicy')") View Nu Skin's Return Policy
        .checkout-content-container.no-gutter.hidden-md-down.m-t-3
            section.content
                .main-section.no-gutter.m-t-3
                    .left-section
                        .large-view-1
                            .checkout-order-wrapper.col-lg-12.p-t-0.p-b-0
                                #accordionform.row
                                    .col-sm-12
                                        #accordion.panel-group(role='tablist', aria-multiselectable='true')
                                            .panel.panel-default.m-b-1.p-l-1.p-r-1
                                                #shopping-bag.panel-heading(role='tab')
                                                    h4.panel-title
                                                        button.btn.collapsed(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#shopping-lg', aria-expanded='false', aria-controls='address')
                                                            .col-sm-12
                                                                .row.col-sm-2.p-l-0
                                                                    .checkout-order-wrapper.shop-bag-logo.p-l-0.m-t-neg-4
                                                                .col-sm-9
                                                                    h3.m-t-0 Shopping Bag ({{ctrl.checkoutData.bagItems.length}})
                                                #shopping-lg.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='shopping-bag', aria-expanded='true', style='height: 0px;')
                                                    .panel-body
                                                        .col-sm-12.list-pane
                                                            div(ng-repeat='item in ctrl.checkoutData.bagItems')
                                                                .col-sm-12.top-bottom-pad-15.border-line.no-gutter(ng-class="{'border-top': $first}")
                                                                    .col-sm-3.col-md-3.col-lg-3.no-gutter.p-t-1
                                                                        img(ng-src='{{item.itemImage}}')
                                                                    .col-sm-9.col-md-9.col-lg-9.no-gutter
                                                                        .row
                                                                            .col-lg-10.col-md-10.col-sm-10
                                                                                .product-title(ng-bind='item.itemName')
                                                                                .product-content(ng-bind='item.itemCode')
                                                                                .product-discount(ng-if='item.discount.length')
                                                                                  center {{item.discount + " "}} OFF
                                                                                .product-discount.new-product-block(ng-if='ctrl.isNew(item.isNew)')
                                                                                  center NEW
                                                                        .row
                                                                            .col-sm-12
                                                                                //- .product-size
                                                                                //-     span.product-size-label Size
                                                                                //-     p.m-b-0 {{item.size}}
                                                                            .col-sm-6
                                                                                .item-quantity
                                                                                  span.product-size-label Qty
                                                                                  p.m-b-0 {{item.quantity}}
                                                                            .col-sm-6.text-sm-right
                                                                                .product-cost {{item.itemCost | currency}}
                                                                    .col-sm-12
                                                                                .stock-status.m-t-0(ng-if='item.stockStatus.length')
                                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("LS",item.stockStatus)')
                                                                                    p.m-b-0 LOW STOCK
                                                                                    .stock-updates
                                                                                      {{item.stockUpdate}}
                                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("OS",item.stockStatus)')
                                                                                    p.m-b-0 OUT OF STOCK
                                                                                    .stock-updates
                                                                                      {{item.stockUpdate}}
                                                                                  .stock-status-sub(ng-if='ctrl.stockStatus("BO",item.stockStatus)')
                                                                                    p.m-b-0 ON BACKORDER
                                                                                    .stock-updates
                                                                                      {{item.stockUpdate}}
                                                                                  .stock-description(ng-if='item.stockDescription.length')
                                                                                    {{item.stockDescription}}

                                                        .col-sm-12.list-pane-btn.no-gutter.p-b-1
                                                            button.btn.btn-primary-outline.col-sm-12(type='button', ng-click='ctrl.onEditBag()') EDIT BAG
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.ship-add-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Shipping Address
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0.pointer(ng-click="ctrl.onEditIcon('isShipping')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isShipping')")
                                .row.checkout-order-body.shipping
                                    .col-sm-12.m-b-0_5
                                        div.m-b-0_5
                                            span
                                                | {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                        div
                                            span {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                            span {{ctrl.checkoutData.shippingAddress.addressLine2}}
                                            span
                                                | {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                                    .col-sm-12
                                        .col-sm-6.m-b-0_5.p-l-0
                                            label.m-b-0 email
                                            span {{ctrl.checkoutData.shippingAddress.email}}
                                        .col-sm-6.col-md-6.p-r-0
                                            .pull-sm-right
                                                label.m-b-0 Phone
                                                span {{ctrl.checkoutData.shippingAddress.phone}}
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.delivery-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Delivery Options
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0.pointer(ng-click="ctrl.onEditIcon('isDelivery')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isDelivery')")
                                .row.checkout-order-body.delivery
                                    .col-sm-12
                                        label {{ctrl.checkoutData.deliveryOptions.name}} :
                                        span.text-uppercase.p-l-1 {{ctrl.checkoutData.deliveryOptions.price}}
                                    .col-sm-12
                                        p.m-b-0 Your package will take {{ctrl.checkoutData.deliveryOptions.deliveryDays}} days to arrive
                            .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.payment-logo.p-l-0.m-t-neg-4
                                    .col-sm-8.p-l-0
                                        h3.m-t-0 Payment Method
                                    .col-sm-1.pull-sm-right.checkout-order-wrapper.checkout-edit.m-t-0_5.m-b-0.pointer(ng-click="ctrl.onEditIcon('isPayment')")
                                        //img.pointer(src='../../../../src/assets/images/content/stroke-sm.png', ng-click="ctrl.onEditIcon('isPayment')")
                                .row.checkout-order-body.payment
                                    .col-sm-12.m-b-1
                                        span.pull-sm-left
                                            img(src='../../.././src/assets/images/content/visa-sm.png')
                                        .col-sm-9
                                            p {{ctrl.checkoutData.paymentMethod.fullName + ","}}
                                            p
                                                | Ending in {{ctrl.checkoutData.paymentMethod.endingWith}}, Exp {{ctrl.checkoutData.paymentMethod.expirationDate}}
                                    .col-sm-12.i-block-div.tooltipwrapper
                                        label.tooltip-label Enter CVV for this card
                                            button#dropdownInfo.dropdown-trigger(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                                span Info
                                            .dropdown-menu(aria-labelledby='dropdownLogin')
                                                p.dropdown-title
                                                    | Lorem ipsum dummy text
                                                p.dropdown-content
                                                    | Lorem ipsum dummy text Lorem ipsum dummy text Lorem
                                    form.col-sm-12.m-t-0(name="reviewForm")
                                        input.cvvText(ng-hide="!isMobileDevice",class="form-control m-b-0",name="cvvCard",type="tel", ng-model="ctrl.checkoutData.paymentMethod.cvv", placeholder="Enter 3 or 4 digit code",minlength="3", maxlength="4", required, allow-pattern="number-only")
                                        input.cvvText(ng-hide="isMobileDevice",class="form-control m-b-0",name="cvvCard",type="password",ng-model="ctrl.checkoutData.paymentMethod.cvv", placeholder="Enter 3 or 4 digit code",minlength="3", maxlength="4", required, allow-pattern="number-only")
                                        div(ng-messages='reviewForm.cvvCard.$error',ng-show="reviewForm.cvvCard.$touched", role='alert')
                                            div.error-block(ng-message='required') Please enter CVV number
                                            div.error-block(ng-message='minlength') Too short, minimum length should be 3
                                            div.error-block(ng-message='maxlength') Too long, maximum length should be 4
                                    .col-sm-12
                                        label Billing Address
                                        div(ng-show="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                            span.check-mark
                                            span  Same as Shipping Address
                                        div.billing-add(ng-hide="ctrl.checkoutData.paymentMethod.isSameAsShipping")
                                            span {{ctrl.checkoutData.shippingAddress.lastName}} {{ctrl.checkoutData.shippingAddress.firstName}}
                                            div {{ctrl.checkoutData.shippingAddress.addressLine1}}
                                            div {{ctrl.checkoutData.shippingAddress.addressLine2}}
                                            div {{ctrl.checkoutData.shippingAddress.city}} {{ctrl.checkoutData.shippingAddress.state}} {{ctrl.checkoutData.shippingAddress.zipCode}}
                    .right-section
                        .no-gutter.large-view-2
                            .checkout-order-wrapper.col-lg-12
                                section.checkout-delivery-options
                                    .row
                                        .col-sm-5.psv-headings.text-center.no-gutter
                                            div CURRENT
                                            .psv-values {{ctrl.checkoutData.psvData.currentPSV}}
                                            div LOREM
                                        .col-sm-2.arrow-right-thin
                                        .col-sm-5.psv-headings.text-center.no-gutter
                                            div AFTER THIS ORDER
                                            .psv-values {{ctrl.checkoutData.psvData.afterOrderPSV}}
                                            div LOREM

                        .checkout-order-wrapper.col-lg-12
                                .row.checkout-order-head
                                    .col-sm-2.p-r-0
                                        .checkout-order-wrapper.order-logo.p-l-0.m-t-neg-4
                                    .col-sm-8
                                        h3.m-t-0 Order Summary
                                    .col-sm-2
                                .row.checkout-order-body.summary
                                    .col-sm-12.no-gutter
                                        .col-sm-8.m-b-0_5 Shopping Bag Subtotal
                                        .col-sm-4.text-sm-right
                                            span {{ctrl.checkoutData.orderSummary.bagTotal | currency}}
                                        .col-sm-8.m-b-0_5 Taxes
                                        .col-sm-4.text-sm-right
                                            span {{ ctrl.checkoutData.orderSummary.taxes| currency}}
                                        .col-sm-8 Shipping
                                        .col-sm-4.text-sm-right
                                          span(ng-if="ctrl.isNumber(ctrl.checkoutData.orderSummary.shipping)") {{ctrl.checkoutData.orderSummary.shipping | currency}}
                                          span(ng-if="!ctrl.isNumber(ctrl.checkoutData.orderSummary.shipping)") {{ctrl.checkoutData.orderSummary.shipping }}
                                    .col-sm-12
                                        .pane-separator
                                    .col-sm-12.no-gutter.m-b-1
                                        .col-sm-8.m-t-0_5 Total
                                        .col-sm-4.text-sm-right.total {{ctrl.checkoutData.orderSummary.estimatedTotal | currency}}
                                    .col-sm-12
                                        div.section-heading.relative.promocode-section
                                            span Promo Codes & Rewards
                                        fieldset.form-group(ng-class='')
                                            div
                                                .text-center.m-b-1
                                                    span.promo Enter Promotional or Rewards Code below
                                                .col-sm-8.p-l-0
                                                    input.form-control(type='text', ng-change='ctrl.toggleError()', ng-class="{'ng-invalid ng-touched':ctrl.promoError || ctrl.promoLengthError}", ng-model='ctrl.checkoutData.orderSummary.promoCode')
                                                span.input-group-btn.promo-apply
                                                    button.btn.btn-primary(type='button', ng-click='ctrl.applyCode(ctrl.checkoutData.orderSummary.promoCode)') APPLY
                                                span
                                                    span.error-block(ng-show='ctrl.promoError') Oops, please re-enter the promo code
                                                    span.error-block(ng-show='ctrl.promoLengthError') Oops, Only one Promo Code can be applied
                                        //- .col-sm-12.no-gutter(ng-if='ctrl.checkoutData.orderSummary.promoCodeList.length')
                                        //-     .promo-list-title PROMOTION & REWARDS APPLIED:
                                        //-     .promo-list.promotion-wrapper(ng-repeat='item in ctrl.checkoutData.orderSummary.promoCodeList')
                                        //-         div.clearfix.p-l-0
                                        //-             div.pointer.pull-left.promotion-close-icon(ng-click="ctrl.removeItem(item)")
                                        //-             div.font-size-13.promo-code.text-uppercase.promo-list-value.pull-left {{item}}
                            .checkout-order-wrapper.order-placing.col-lg-12
                                .row.checkout-order-head
                                    form.col-sm-12.top-buffer-15.checkbox(name="termsForm")
                                        div.checkbox.m-b-0
                                            input(type='checkbox',name="termsField", ng-model='ctrl.isChecked', ng-change='ctrl.isAccepted(ctrl.isChecked)', required)
                                            label.checkbox-label-section
                                                span I agree to the
                                                span
                                                    a.pointer(ng-click="ctrl.showCustomPopUp('termsConditions')") Terms & Conditions
                                                span .
                                        div(ng-messages='termsForm.termsField.$error', ng-show="ctrl.showError" role='alert')
                                            div.error-block(ng-message='required') You must agree to the terms and conditions
                                .row.checkout-order-body
                                    .col-sm-12
                                        button.btn.btn-primary(ng-click="ctrl.placeOrder(reviewForm, termsForm)") PLACE ORDER
                                    .col-sm-12.text-center.return-policy.m-y-1
                                        a.pointer(ng-click="ctrl.showCustomPopUp('returnPolicy')") View Nu Skin's Return Policy
custommodalcomponent(ng-if="ctrl.showModal",modal-heading='{{ctrl.modalHeading}}',is-modal-call="true", src-url='{{ctrl.modalURL}}', callback-on-success="ctrl.hideCustomModal")
