.modal-body
    .col-sm-12.pointer
        .btn-lg-close.pull-right(ng-click='cancel()')
    .m-b-2 Are you Sure ?
    .m-b-2
        div
            button.btn.btn-primary.m-b-1(ng-click='cancel()') STAY IN CHECKOUT
            button.btn.btn-primary-outline.fullWidth.font-weight-normal(ng-click='ok()') GO BACK TO SHOPPING BAG
