@import "../../../../src/stylesheets/partials/variables.scss";
.pitch-header{
  background-image: url("../../../../src/assets/images/css/pitch-landing-page-banner.png");
  background-repeat: no-repeat;
  height: 11.3125em;
  background-size: cover;
  background-position: 50%;
  padding-top: 2.375em;
  h3{
    color: $white;
    text-transform: uppercase;
    font-weight: $proxima-light;
    text-align: center;
    padding-top: 1.25em;
  }
  .pitch-avatar{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url("../../../../src/assets/images/css/ic-brand-logo.svg");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}
