.storefront-editable-review-container
  .row.review-web-address-container#content-0.m-a-0
    .card-content
      div
        h2 WEB ADDRESS
      p(ng-if="!ctrl.inlineStepList[4].status") {{ctrl.viewData.webAddress}}.nuskin.com
  .row.review-intro-message-container#content-1
    .card-content(ng-show="!ctrl.inlineStepList[0].status")
      span.bullet(ng-if="ctrl.isGuidedExperience") 1
      h2(ng-class="ctrl.isGuidedExperience?'':'p-l-0'") YOUR MESSAGES
      a.pull-right
        span.icn-edit(ng-click="(ctrl.isGuidedExperience)? ctrl.edit({state:'1'}) : ctrl.executeInlineStep(1);")
    div.read-only-step-1(ng-if="!ctrl.inlineStepList[0].status")
      .distributor-image
        div
          img(src='../../../../src/assets/images/css/avatar.png', alt='')
      div
        .distributor-name
          h1
            | Hello! I am {Distributor Name}
            br
            | Welcome to my store.
        .distributor-description
          span {{ctrl.viewData.welcomeMessage}}
    div.read-only-step-1(ng-if="!ctrl.inlineStepList[0].status")
      .distributor-image
        div
          img(src='../../../../src/assets/images/css/avatar.png', alt='')
      div
        .distributor-name
          h1
            | Thank you.
            br
            | Sign up for my store
        .distributor-description
          span {{ctrl.viewData.checkoutMessage}}
    div.execute-inline.execute-inline-step-1(ng-if="ctrl.inlineStepList[0].status")
      storefront-intro(is-inline-edit='ctrl.inlineStepList[0].status', cancel="ctrl.cancelInlineStep(1)", save="ctrl.saveInlineStep(1)", error="ctrl.showErrorSection(data)")
  .row.review-featured-products-container#content-2
    .card-content(ng-class="ctrl.inlineStepList[1].status?'p-b-0':''")
      span.bullet(ng-if="ctrl.isGuidedExperience") 2
      h2(ng-class="ctrl.isGuidedExperience?'':'p-l-0'") FEATURED PRODUCTS
      a.pull-right(ng-show="!ctrl.inlineStepList[1].status")
        span.icn-edit(ng-click="(ctrl.isGuidedExperience)? ctrl.edit({state:'2'}) : ctrl.executeInlineStep(2);")
    .carousel-container(ng-if="!ctrl.inlineStepList[1].status")
      slick.carousel.carousel-secondary(settings='ctrl.slickSecondaryConfig', data='store.productdata', ng-if='ctrl.viewData.productsList.length')
        .carousel-boxes(ng-repeat='data in ctrl.viewData.productsList', id='{{data.id}}')
          .carousel-box
            .review-carousel-image
              img(ng-src='{{data.image}}')
            span.blue-bullet {{$index + 1}}
            div
              p.product-name {{data.name}}
              div
                span.amount {{data.cost | currency}}
                span.psv {{data.psvNumber}}
    div.execute-inline.execute-inline-step-2(ng-if="ctrl.inlineStepList[1].status")
      mystorefrontproductscomponent(is-inline-edit="ctrl.inlineStepList[1].status", cancel="ctrl.cancelInlineStep(2)", save="ctrl.saveInlineStep(2)", error="ctrl.showErrorSection(data)")

  .row.review-bundles-container#content-3.m-b-0
    .card-content(ng-class="ctrl.inlineStepList[2].status?'p-b-0':''")
      span.bullet(ng-if="ctrl.isGuidedExperience") 3
      h2(ng-class="ctrl.isGuidedExperience?'':'p-l-0'") MY BUNDLE (OPTIONAL)
      a.pull-right(ng-show="!ctrl.inlineStepList[2].status")
        span.icn-edit(ng-click="(ctrl.isGuidedExperience)? ctrl.edit({state:'3'}) : ctrl.executeInlineStep(3);")
    div(ng-if="!ctrl.inlineStepList[2].status")
      div.bundles-container(ng-if="!ctrl.viewData.bundlesList")
        p.col-sm-12.reset Text explaining why no bundles are showcased.
    div(ng-if="!ctrl.inlineStepList[2].status")
      .bundles-container(ng-if="ctrl.viewData.bundlesList")
        p.col-sm-12.reset
          | {{ctrl.viewData.bundlesShortDesc}}
        .bundle-items
          .upsell-product.col-sm-12.reset(ng-repeat-start='product in ctrl.viewData.bundlesList track by $index')
            .storefront-plus(ng-if='!$last')
            .product-img.col-sm-3.col-xl-offset-2
              .product-img-container
                img(ng-src='{{product.image}}', alt='product one')
            .product-desc.col-sm-9.col-xl-7
              .short-desc {{product.name}}
          hr.col-sm-12.style15.no-gutter(ng-repeat-end='ng-repeat-end', ng-if='!$last')
      .bundle-price-container.p-b-3(ng-if="ctrl.viewData.bundlesList")
        strong.pull-left TOTAL BUNDLE PRICE
        span.pull-right {{ctrl.bundlesTotalCost | currency}}
    div.execute-inline.execute-inline-step-3(ng-if="ctrl.inlineStepList[2].status")
      mystorefrontbundlescomponent(is-inline-edit="ctrl.inlineStepList[2].status", cancel="ctrl.cancelInlineStep(3)", save="ctrl.saveInlineStep(3)", error="ctrl.showErrorSection(data)")
