@import "../../../../../src/stylesheets/partials/variables.scss";
.storefront-editable-review-container {
    display: block;
    overflow: hidden;
    background-color: $gray-dull;
    .row {
        background-color: $white;
        width: 100%;
        margin: auto;
        &:nth-child(2n) {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        & .card-content {
            width: 41.5625rem;
            float: none;
            margin: 0em auto;
        }
        & .icn-edit {
            width: 0.9375rem;
            height: 0.9375rem;
            display: inline-block;
            background: url(../../../../../src/assets/images/css/stroke-sm.png) no-repeat center 0;
            background-size: 100%;
        }
        & h2 {
            font-size: 1.375rem;
            font-weight: 100;
            line-height: 1.2;
            color: $gray-dark
        }
        & .bullet {
            width: 1.875rem;
            height: 1.875rem;
            background-color: $gray-light;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            color: $white;
            font-family: $proxima-condensed;
            font-size: 1.375rem;
            font-weight: 300;
            line-height: 1.5;
        }
    }
    & .review-web-address-container {
        & .card-content {
            overflow: hidden;
            padding-top: 1.5625rem;
            padding-bottom: 2.0625rem;
            & div,
            p {
                width: 100%;
                float: left;
            }
            & div {
                h2 {
                    float: left;
                }
            }
            & p {
                padding: 0;
                margin: 0;
                opacity: 0.6;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: $gray-dark;
            }
            & .topseller-toggle-container{
                padding-bottom: 1.8rem;
                border-bottom: 0.0625rem solid $gray-border;
            }
            & .topseller-icon-container{
                height: 9.25rem;
                width: 100%;
                position: relative;
                & .topseller-icon{
                    width: 5rem;
                    height: 5rem;
                    background-color: $gray-light;
                    background-image: url(../../../../../src/assets/images/css/my-store.svg);
                    background-repeat: no-repeat;
                    background-size: 40%;
                    background-position: top 1.5rem right 1.4rem;
                    float: none;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 auto;
                    border-radius: 50%;
                }
            }
            & .topseller-footer{
                width: 19.0625rem;
                margin: 0 auto;
                float: none;
            }
        }
    }
    .topseller-font-styles{
        font-size: 0.8125rem;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        color: $gray-dark;
    }
    //Card Header Style
    .review-intro-message-container,
    .review-featured-products-container,
    .review-bundles-container {
        & .card-content {
            overflow: hidden;
            & > span {
                float: left;
            }
            & > h2 {
                float: left;
                padding-left: 1.25rem;
            }
        }
        .execute-inline-step-3 {
            .storefront-custom-wrapper {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .review-web-address-container{
        padding: 1rem 0;
        .storefront-webaddress {
           padding:0 0 2rem;
        }
        form {
            margin: 0 auto;
            overflow: auto;
            width: 29.5rem;

            .form-group {
                margin: 0;
                input {
                    float: left;
                    font-size: 1rem;
                    line-height: 1.5;
                    padding: 0.625em 1em;
                    margin: 0;
                    width: 21.25em;
                }
                .web-url {
                    background: $gray-lightest;
                    margin-bottom: 0;
                    text-align: center;
                    font-size: 1rem;
                    line-height: 1.5;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .availability-msg {
                margin: 1.5rem auto 0;
                font-size: 0.8125rem;
                font-weight: $proxima-light;
                line-height: 1.38;
                text-align: center;
            }
            .availability-msg.success {
                color: $gray-dark;
                background: url('../../../../../src/assets/images/css/ic-checkmark-aqua-bg.svg') no-repeat;
                background-size: contain;
                background-position: left center;
                padding-left: 1.5rem;
                display: table;

            }
            .availability-msg.error {
                width: 15.5rem;
                color: $brand-danger;
                letter-spacing: -0.1px;
            }
            .btn {
                margin: 2rem auto 2px;
            }
        }
    }
    .review-intro-message-container {
        & .card-content {
            padding-top: 1.875rem;
            padding-bottom: 0.625rem;
        }
        & .read-only-step-1 {
            background-color: $brand-primary;
            width: 100%;
            overflow: hidden;
            margin-top: 2px;
            & > .distributor-image {
                width: 18.95833%;
                float: left;
                position: relative;
                display: block;
                padding-right: 0.8125rem;
                padding-top: 2.875rem;
                padding-bottom: 2.625rem;
                & > div {
                    height: 5rem;
                    float: right;
                    clear: both;
                    & img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                & + div {
                    width: 81.04167%;
                    overflow: hidden;
                    float: left;
                    position: relative;
                    display: block;
                }
            }
            & .distributor-name {
                float: left;
                width: 40%;
                display: block;
                position: relative;
                padding-left: 0.75rem;
                padding-top: 2.875rem;
                padding-bottom: 2.625rem;
                & h1 {
                    padding-top: 0.3125rem;
                    text-transform: none;
                    font-size: 1.75rem;
                    font-weight: 100;
                    line-height: 1.2;
                    color: $white;
                }
            }
            & .distributor-description {
                font-size: 1em;
                font-weight: 300;
                line-height: 1.4;
                color: $white;
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
                padding-right: 17.125rem;
                float: left;
                width: 60%;
                display: block;
                position: relative;
            }
        }
        .execute-inline.execute-inline-step-1 {
            background-color: transparent;
        }
    }
    .review-featured-products-container {
        & .card-content {
            padding-top: 1.875rem;
            padding-bottom: 0.625rem;
        }
        & .carousel-container {
            & > .carousel {
                margin: 0 auto 1.7rem;
            }
            & .slick-next {
                right: 0rem;
            }
            & .slick-prev {
                left: 0;
            }
            & .carousel-box {
                float: none;
                margin: 0 auto;
                width: 13.75rem;
                position: relative;
                & > div {
                    padding-right: 0.625rem;
                    padding-left: 0.625rem;
                }
            }
            & .review-carousel-image {
                margin-bottom: 1em;
                position: relative;
                height: 8.875rem;
                width: auto;
                & img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            & .blue-bullet {
                display: inline-block;
                width: 3.125rem;
                height: 3.125rem;
                position: absolute;
                top: 6rem;
                right: 0;
                background-color: $brand-primary;
                border-radius: 50%;
                text-align: center;
                color: $white;
                opacity: 0.5;
                font-family: $proxima-condensed;
                font-size: 2rem;
                font-weight: 300;
                line-height: 1.4;
                padding-top: 0.3125rem;
            }
            & .product-name {
                text-align: center;
                margin-bottom: 0.625rem;
                & + div {
                    text-align: center;
                }
            }
            & .amount {
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1.6;
                color: $gray-dark;
                padding-right: 0.3125rem;
            }
            & .psv {
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1.6;
                color: $gray;
                padding-left: 0.3125rem;
                border-left: 0.0625rem solid $gray;
            }
        }
    }
    .review-bundles-container {
        & .card-content {
            padding-top: 1.875rem;
            padding-bottom: 1.75rem;
        }
        & .card-content + div,
        .card-content + div + div {
            width: 41.5625rem;
            float: none;
            margin: 0rem auto;
            overflow: hidden;
        }
        & .bundles-container > p {
            padding-bottom: 2rem;
            padding-right: 16.25rem;
            font-size: 1rem;
            font-weight: 100;
            line-height: 1.5;
            color: $gray-dark;
        }
        & .bundle-items {
            border-top: solid 0.0625rem $gray-soft;
            border-bottom: solid 0.0625rem $gray-soft;
            display: block;
            position: relative;
            padding: 1.6875rem 2.1875rem 2rem 2.1875rem;
            width: 100%;
            overflow: hidden;
        }
        & .product-img-container {
            height: 4rem;
            width: 100%;
            display: block;
            position: relative;
            text-align: right;
            & img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
            }
        }
        & .product-desc {
            padding: 0.625rem 14.0625rem 0rem 1.125rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.2;
            color: $gray-modest;
        }
        & hr {
            border-top: solid 0.0625rem $gray-soft;
            text-align: center;
            margin-top: 2.375rem;
            & + div {
                margin-top: 0.625rem;
            }
        }
        & .storefront-plus {
            content: ' ';
            position: absolute;
            color: $gray-divider;
            background: $white url(../../../../../src/assets/images/css/ic-plus.svg) center no-repeat;
            background-size: 48%;
            font-family: $proxima-condensed;
            font-size: 2.0625rem;
            font-weight: 300;
            width: 2.25rem;
            height: 2.25rem;
            z-index: 10;
            left: 48%;
            bottom: -3.5rem;
        }
        & .bundle-price-container {
            padding-top: 1.75rem;
            padding-bottom: 1.875rem;
            & strong {
                font-size: 0.8125rem;
                font-weight: 600;
                line-height: 2;
                color: $gray-dark;
            }
            & span {
                font-size: 1.375rem;
                font-weight: 100;
                line-height: 1.2;
                color: $gray-dark;
            }
        }
    }
}

//Large
@media all and (min-width: 1024px) and (max-width: 1439px) {
    .storefront-editable-review-container {
        .row {
            & .card-content {
                width: 29.6875rem;
            }
        }
        .review-web-address-container {

                form {
                    width: 29.5rem;
                    input {
                        width: 21.25em;
                    }
                }

        }
        & .welcome-container {
            & > div.banner-description {
                width: 57.61718%;
                padding: 3.75rem 0 0 6.9375rem;
                & h1 {
                    padding-right: 17.4375rem;
                }
                & p {
                    padding-right: 11.25rem;
                }
            }
            & > div.banner-img-container {
                width: 42.38282%;
                & img {
                    max-width: initial;
                    overflow: hidden;
                }
            }
        }
        .review-intro-message-container {
            & .card-content {
                h2 {
                    width: 18.25rem;
                    margin-bottom: 0.5rem;
                }
            }
            & .read-only-step-1 {
                & > .distributor-image {
                    width: 36.6%;
                    & + div {
                        width: 63.4%;
                    }
                }
                & .distributor-name {
                    width: 100%;
                    clear: both;
                    padding-bottom: 0;
                    padding-top: 0.75rem;
                    & h1 {
                        font-size: 1.5rem;
                        margin-bottom: 0.3125rem;
                    }
                }
                & .distributor-description {
                    width: 100%;
                    clear: both;
                    padding-top: 0;
                    padding-left: 0.75rem;
                    padding-right: 17.5625rem;
                    padding-bottom: 2.1875rem;
                }
            }
        }
        .review-featured-products-container {
            & .carousel-container {
                & .product-name {
                    margin-bottom: 0rem;
                }
            }
        }
        .review-bundles-container {
            & .card-content + div,
            .card-content + div + div {
                width: 29.6875rem;
            }
            & .bundles-container {
                & > p {
                    padding-right: 4.375rem;
                }
            }
            & .bundle-items {
                padding: 1.6875rem 1.1875rem 2rem 1.1875rem;
            }
            & .product-desc {
                padding: 0.625rem 5rem 0rem 1.125rem;
            }
            & .bundle-price-container {
                padding-top: 1.4375rem;
            }
        }
    }
}

//Medium
@media all and (min-width: 768px) and (max-width: 1023px) {
    .storefront-editable-review-container {
        background-color: $gray-dull;
        .row {
            & .card-content {
                width: 29.6875rem;
            }
        }
        .review-web-address-container {
                form {
                    width: 22rem;
                    .form-group {
                        input {
                            width: 15em;
                        }
                    }
                }
        }
        & .welcome-container {
            & > div.banner-description {
                width: 51.5625%;
                padding: 3.75rem 0 0 5.125rem;
                & h1 {
                    padding-right: 7.25rem;
                }
                & p {
                    padding-right: 1.125rem;
                }
            }
            & > div.banner-img-container {
                width: 48.4375%;
                & img {
                    max-width: initial;
                    overflow: hidden;
                }
            }
        }
        .review-intro-message-container {
            & .card-content {
                h2 {
                    width: 18.25rem;
                    margin-bottom: 0.5rem;
                }
            }
            & .read-only-step-1 {
                & > .distributor-image {
                    width: 32%;
                    & + div {
                        width: 68%;
                    }
                }
                & .distributor-name {
                    width: 100%;
                    clear: both;
                    padding-bottom: 0;
                    padding-top: 0.75rem;
                    & h1 {
                        font-size: 1.5rem;
                        margin-bottom: 0.3125rem;
                    }
                }
                & .distributor-description {
                    width: 100%;
                    clear: both;
                    padding-top: 0;
                    padding-left: 0.75rem;
                    padding-right: 9.5625rem;
                    padding-bottom: 2.1875rem;
                }
            }
        }
        .review-featured-products-container {
            & .carousel-container {
                & .product-name {
                    margin-bottom: 0rem;
                }
            }
        }
        .review-bundles-container {
            & .card-content {
                padding-bottom: 1.4375rem;
            }
            & .card-content + div,
            .card-content + div + div {
                width: 29.6875rem;
            }
            & .bundles-container {
                & > p {
                    padding-right: 4.375rem;
                    padding-bottom: 1.8125rem;
                }
            }
            & .bundle-items {
                padding: 1.6875rem 1.1875rem 2rem 1.1875rem;
            }
            & .product-desc {
                padding: 0.625rem 5rem 0rem 1.125rem;
            }
            & .bundle-price-container {
                padding-top: 1.4375rem;
            }
            & .storefront-plus {
                left: 47%;
            }
        }
    }
}

//Small
@media all and (min-width: 360px) and (max-width: 767px) {
    .storefront-editable-review-container {
        background-color: $gray-dull;
        .row {
            & .card-content {
                width: 23.4375rem;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
        .review-web-address-container {

                form {
                    width: 20.3125rem;
                    .form-group {
                        input {
                            width: 13.3125em;
                        }
                    }
                }
        }
        & .welcome-container {
            & > div.banner-description {
                width: 61.6%;
                padding: 1.5rem 0 0 1.5625rem;
                & h1 {
                    padding-right: 0.9375rem;
                }
                & p {
                    padding-right: 0rem;
                }
            }
            & > div.banner-img-container {
                width: 38.4%;
                height: 20rem;
                & img {
                    max-width: initial;
                }
            }
        }
        .review-intro-message-container {
            & .card-content {
                h2 {
                    width: 16.5625rem;
                    margin-bottom: 0.5rem;
                }
            }
            & .read-only-step-1 {
                & > .distributor-image {
                    width: 100%;
                    overflow: hidden;
                    padding-top: 1.75rem;
                    padding-bottom: 0rem;
                    padding-right: 0rem;
                    & > div {
                        height: 5rem;
                        float: none;
                        width: 5rem;
                        margin: 0 auto;
                    }
                    & + div {
                        width: 100%;
                    }
                }
                & .distributor-name {
                    width: 100%;
                    clear: both;
                    padding-bottom: 0;
                    padding-top: 0.75rem;
                    & h1 {
                        font-size: 1.5rem;
                        margin-bottom: 0.3125rem;
                        text-align: center;
                    }
                }
                & .distributor-description {
                    width: 100%;
                    clear: both;
                    text-align: center;
                    padding-top: 0;
                    padding-right: 2.4375rem;
                    padding-left: 1.875rem;
                    padding-bottom: 2.1875rem;
                }
            }
        }
        .review-featured-products-container {
            & .carousel-container {
                & .product-name {
                    margin-bottom: 0rem;
                }
            }
        }
        .review-bundles-container {
            & .card-content {
                padding-bottom: 0.9375rem;
                & h2 {
                    width: 16.5625rem;
                }
            }
            & .card-content + div,
            .card-content + div + div {
                width: 23.4375rem;
            }
            & .bundles-container {
                & hr {
                    padding-left: 0;
                    padding-right: 0;
                    display: inline-block;
                    position: relative;
                }
                & > p {
                    padding-right: 3.5625rem;
                    padding-bottom: 1.8125rem;
                    padding-left: 1.78rem;
                }
            }
            & .bundle-items {
                padding: 1.6875rem 1.1875rem 2rem 1.1875rem;
            }
            & .product-desc {
                padding: 0.625rem 1.9375rem 0rem 1.125rem;
            }
            & .bundle-price-container {
                padding: 1.4375rem 3rem 1.4375rem 1.5625rem;
            }
            & .storefront-plus {
                left: 45%;
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .storefront-editable-review-container {
        .review-bundles-container {
            & .product-desc {
                padding: 0.625rem 7rem 0 1.125rem;
            }
        }
        .slick-slider.carousel .slick-slide {
            padding: 0 1.25em;
        }
    }

}

//Small
@media all and (min-width: 360px) and (max-width: 767px) {
    .storefront-editable-review-container {
        .row {
            & .card-content {
                width: 22.4375rem;
            }
        }
    }
}
